Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

feat(boq-rate-master): RM-4a admin-only parameter editing + data editor
  frontend/src/pages/pricing/rate-master/RateMasterDataViewer.tsx
  frontend/src/pages/pricing/rate-master/RateMasterDerivation.tsx
  frontend/src/pages/pricing/rate-master/RateMasterPage.tsx
  frontend/src/pages/pricing/rate-master/rateMasterEdit.test.ts
  frontend/src/pages/pricing/rate-master/rateMasterEdit.ts
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
Labels: UI, backend

docs(boq-rate-master): record RM-4a admin-only parameter editing + data editor
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-rate-master): per-column-header faceted filters in Data Viewer
  frontend/src/pages/pricing/rate-master/RateMasterDataViewer.tsx
Labels: UI

docs(boq-rate-master): record Data Viewer per-column-header filters
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-rate-master): RM-4b structure editor (pipelines + attribute definitions)
  frontend/src/pages/pricing/rate-master/RateMasterPage.tsx
  frontend/src/pages/pricing/rate-master/RateMasterPipelines.tsx
  frontend/src/pages/pricing/rate-master/rateMasterStructure.test.ts
  frontend/src/pages/pricing/rate-master/rateMasterStructure.ts
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
Labels: UI, backend

docs(boq-rate-master): record RM-4b structure editor + preview gate
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(useUrlParam): react to react-router navigations, not just urlStateManager
  frontend/src/hooks/useUrlParam.ts
Labels: UI

feat(boq-rate-master): EA-1 all-categories Electrical import + 4 interpreter shapes
  frontend/src/pages/pricing/rate-master/rateMasterRegistry.ts
  frontend/src/pages/pricing/rate-master/rateMasterTypes.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v2.json
  nirmaan_stack/services/boq_rate_master/loader.py
Labels: UI, backend

docs(boq-rate-master): record EA-1 all-categories import + interpreter shapes
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-rate-master): EA-1b guiding-sheet authority ruling (ups->popup, self-contained misc, LMS data-only)
  frontend/src/pages/pricing/rate-master/rateMasterRegistry.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v4.json
  nirmaan_stack/services/boq_rate_master/loader.py
Labels: UI, backend

docs(boq-rate-master): record EA-1b guiding-sheet authority + misc self-containment
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(roles): add Billing Executive — view-only mirror of Estimates, minus pricing & BoQ
  frontend/src/components/helpers/renderRightActionButton.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/layout/dashboards/billing-executive-dashboard.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/config/poTabs.constants.ts
  frontend/src/pages/ProcurementOrders/purchase-order/config/purchaseOrdersTable.config.ts
  frontend/src/pages/ServiceRequests/approved-sr/ApprovedSRView.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/pages/WOServicePackage/WOServicePackagesMaster.tsx
  frontend/src/pages/dashboard.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/projects/tendering/tenderingAuth.ts
  frontend/src/pages/users/components/UserProjectsTab.tsx
  frontend/src/pages/users/user-profile.tsx
  frontend/src/utils/roleColors.ts
  nirmaan_stack/api/projects/tendering.py
  nirmaan_stack/api/sidebar_counts.py
Labels: UI, backend

feat(roles): wire up Billing Executive as a view-only Estimates mirror
  docs/adr/0015-billing-executive-role.md
  frontend/.claude/context/role-access.md
  frontend/src/pages/ServiceRequests/ServiceRequestsTabs.tsx
  frontend/src/pages/users/users.tsx
Labels: UI

feat(boq-rate-master): EA-1c Data-Viewer UX (category-scoped, sticky actions, proxy H-bar)
  frontend/src/pages/pricing/rate-master/RateMasterDataViewer.tsx
  frontend/src/pages/pricing/rate-master/rateMasterStructure.test.ts
  frontend/src/pages/pricing/rate-master/rateMasterStructure.ts
  frontend/src/pages/pricing/rate-master/rateMasterTypes.ts
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v5.json
Labels: UI, backend

docs(boq-rate-master): record EA-1c Data-Viewer UX (category scoping, sticky actions, proxy reuse)
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-rate-master): EA-2 N-category extraction + item-identity mode + helper activation + 3 riders
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/pricing/rate-master/RateMasterDataViewer.tsx
  frontend/src/pages/pricing/rate-master/RateMasterDerivation.tsx
  frontend/src/pages/pricing/rate-master/RateMasterPipelines.tsx
  frontend/src/pages/pricing/rate-master/rateMasterStructure.test.ts
  frontend/src/pages/pricing/rate-master/rateMasterStructure.ts
  frontend/src/pages/pricing/rate-master/rateMasterTypes.ts
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/api/boq/test_rate_suggest.py
  nirmaan_stack/services/boq_category/prompts/boq_rate_item_identity_prompt.md
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v6.json
  nirmaan_stack/services/boq_rate_master/extraction.py
Labels: UI, backend

docs(boq-rate-master): record EA-2 N-category extraction + item-identity mode + helper activation + riders
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-rate-master): EA-2b corrected cable-tray config (v7, 4 pipelines, oracle goldens)
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v7.json
Labels: UI, backend

docs(boq-rate-master): record EA-2b corrected cable-tray config (the misread, the oracle, the 4-pipeline shape)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-rate-master): EA-2c the add-a-bus-bar adder via a qualified component_ref step
  frontend/src/pages/pricing/rate-master/RateMasterDerivation.tsx
  frontend/src/pages/pricing/rate-master/rateMasterStructure.ts
  frontend/src/pages/pricing/rate-master/rateMasterTypes.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.ts
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v9.json
Labels: UI, backend

docs(boq-rate-master): record EA-2c the bus-bar adder via a qualified component_ref (supersedes the chamber ruling)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(projects): add Project Action Items section (DC/DN pending) to project page
  .claude/context/domain/action-center.md
  frontend/src/pages/projects/components/ProjectActionItems.tsx
  frontend/src/pages/projects/project.tsx
Labels: UI

feat(action-items): add Project Action Item projection engine + read API
  nirmaan_stack/api/action_items/__init__.py
  nirmaan_stack/api/action_items/read.py
  nirmaan_stack/nirmaan_stack/doctype/project_action_item/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/project_action_item/project_action_item.json
  nirmaan_stack/nirmaan_stack/doctype/project_action_item/project_action_item.py
  nirmaan_stack/nirmaan_stack/doctype/project_action_item/test_doc_hooks.py
  nirmaan_stack/nirmaan_stack/doctype/project_action_item/test_project_action_item.py
  nirmaan_stack/nirmaan_stack/doctype/project_action_item/test_read_endpoints.py
  nirmaan_stack/nirmaan_stack/doctype/project_action_item/test_reconcile.py
  nirmaan_stack/services/action_items/__init__.py
  nirmaan_stack/services/action_items/doc_hooks.py
  nirmaan_stack/services/action_items/predicates.py
  nirmaan_stack/services/action_items/reconcile.py
  nirmaan_stack/tasks/action_item_reconcile.py
Labels: backend

feat(action-items): wire reconcile into PO/DN/DC doc_events + nightly cron
  nirmaan_stack/hooks.py
Labels: backend

docs(ceo-hold): ADR-0004 multi-source CEO Hold + implementation plan + glossary
  docs/CONTEXT.md
  docs/adr/0004-multi-source-ceo-hold.md
  docs/ceo_hold_delivery_pending_plan.md
Labels: none

docs(action-items): ADR-0002 projection architecture + PRD + decision tree
  docs/adr/0002-project-action-items-materialized-projection.md
  docs/prd/project-action-items-decision-tree.html
  docs/prd/project-action-items.md
Labels: none

feat(ceo-hold): add CEO Hold Reason doctype + multi-source projection core
  nirmaan_stack/nirmaan_stack/doctype/ceo_hold_reason/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/ceo_hold_reason/ceo_hold_reason.json
  nirmaan_stack/nirmaan_stack/doctype/ceo_hold_reason/ceo_hold_reason.py
  nirmaan_stack/services/ceo_hold/__init__.py
  nirmaan_stack/services/ceo_hold/core.py
Labels: backend

feat(action-items): add ProjectActionItem TS type for the PM panel
  frontend/src/types/NirmaanStack/ProjectActionItem.ts
Labels: UI

feat: implement ActionCenter dashboard component and optimize action items API with bulk project name resolution
  frontend/src/components/action-center/ActionCenter.tsx
  frontend/src/components/layout/dashboards/dashboard-pm.tsx
  frontend/src/pages/projects/components/ProjectActionItems.tsx
  frontend/src/types/NirmaanStack/ProjectActionItem.ts
  nirmaan_stack/api/action_items/read.py
  nirmaan_stack/services/ceo_hold/core.py
  nirmaan_stack/services/ceo_hold/test_core.py
Labels: UI, backend

docs(ceo-hold): document the multi-source model (ceo-hold.md + auto-management)
  docs/ceo_hold_auto_management.md
  frontend/.claude/context/domain/ceo-hold.md
Labels: none

test(ceo-hold): core engine + doctype + manual-release guard tests
  nirmaan_stack/nirmaan_stack/doctype/ceo_hold_reason/test_ceo_hold_reason.py
  nirmaan_stack/services/ceo_hold/test_core.py
Labels: backend

feat(ceo-hold): surface hold reasons on project detail, PMO, and blocked toast (frontend)
  frontend/src/components/ui/ceo-hold-banner.tsx
  frontend/src/hooks/useCEOHoldGuard.ts
  frontend/src/pages/PMODashboard/pmo-project-detail.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/types/NirmaanStack/CEOHoldReason.ts
Labels: UI

feat(ceo-hold): wire delivery-pending hold + retrofit cashflow engine to reasons
  nirmaan_stack/integrations/controllers/project_cashflow_hold_update.py
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/seed_ceo_hold_reasons.py
  nirmaan_stack/services/action_items/reconcile.py
  nirmaan_stack/services/ceo_hold/core.py
Labels: backend

refactor(boq): give the layers wire shape one coercion, in pricing
  nirmaan_stack/api/boq/wizard/cross_boq_carry.py
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/test_cross_boq_carry.py
Labels: backend

feat(boq): add a version-addressed twin matcher for the within-BoQ carry
  nirmaan_stack/api/boq/wizard/committed_carry.py
  nirmaan_stack/api/boq/wizard/test_committed_carry.py
Labels: backend

test(boq): prove the category gate sees uncommitted layer writes in its own transaction
  nirmaan_stack/api/boq/wizard/test_pricing.py
Labels: backend

test(boq): pin that a contended lock stops the carry before any layer is written
  nirmaan_stack/api/boq/wizard/test_pricing.py
Labels: backend

refactor(boq): extract the carry layer-choice block into a shared CarryLayers module
  frontend/src/pages/boq-wizard/CarryLayers.tsx
  frontend/src/pages/boq-wizard/CrossBoqCarryDialog.test.ts
  frontend/src/pages/boq-wizard/CrossBoqCarryDialog.tsx
Labels: UI

refactor(boq): type the shared carry-layer block by what it reads
  frontend/src/pages/boq-wizard/CarryLayers.tsx
Labels: UI

feat(boq): carry layers on the within-BoQ copy-forward, and judge categories after
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/test_pricing.py
Labels: backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
