Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

feat :Added logic for on target rate PR inprogress edit .based pervious target with warning
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useProcurementProgressLogic.ts
Labels: UI

fix: Link to Data for Approved quotations generation
  nirmaan_stack/nirmaan_stack/doctype/approved_quotations/approved_quotations.json
Labels: backend

fix: added role permissions for nirmaan item units doctype
  nirmaan_stack/nirmaan_stack/doctype/nirmaan_item_units/nirmaan_item_units.json
Labels: backend

fix: update Fire Fighting categories and tax slabs
  nirmaan_stack/fixtures/category.json
Labels: backend

fix: Added Work Report Admin Options for Project Lead
  frontend/src/pages/projects/ProjectWorkReportTab.tsx
Labels: UI

fix:WorkForce tab name to Manpower
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
Labels: UI

fix: pdf manger and last updated name:: Replace email with Full name
  frontend/src/pages/Manpower-and-WorkMilestones/components/MilestoneReportPDF.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReportPDF.tsx
Labels: UI

fix: Work Report Tab Header as "Track Projec Progress"
  frontend/src/pages/projects/ProjectWorkReportTab.tsx
Labels: UI

fix: po summary aggregate fields fix
  frontend/src/hooks/useServerDataTable.ts
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  nirmaan_stack/api/data-table.py
Labels: UI, backend

fix: changed dispatch report to show dispatched for 1+ day
  frontend/src/pages/reports/ReportsContainer.tsx
  frontend/src/pages/reports/components/POReports.tsx
  frontend/src/pages/reports/components/columns/poColumns.tsx
  frontend/src/pages/reports/store/useReportStore.ts
Labels: UI

fix: total due not paid amount fix for projects component
  frontend/src/pages/projects/projects.tsx
Labels: UI

Fix: Workmilestone limit :0-> fetch all workmilestones
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
Labels: UI

fix: po summary label changes
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
Labels: UI

fix:Project Finacial Po against and advance total fix
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/project.tsx
Labels: UI

fix: Payment Type field in PO and patch files Added Old Data
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  nirmaan_stack/api/approve_reject_sb_vendor_quotes.py
  nirmaan_stack/api/approve_vendor_quotes.py
  nirmaan_stack/nirmaan_stack/doctype/procurement_orders/procurement_orders.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_7/update_po_payment_type_from_payment_terms.py
Labels: UI, backend

Fix:Milestone While newly added headers or milestones Now Available in Reports.
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
Labels: UI

Feat: Customer PO creation Within Overview.
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  frontend/src/pages/projects/components/AddCustomerPODialog.tsx
  frontend/src/pages/projects/components/CustomerPODeatilsCard.tsx
  frontend/src/types/NirmaanStack/Projects.ts
  nirmaan_stack/api/projects/add_customer_po.py
  nirmaan_stack/nirmaan_stack/doctype/customer_po_child_table/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/customer_po_child_table/customer_po_child_table.json
  nirmaan_stack/nirmaan_stack/doctype/customer_po_child_table/customer_po_child_table.py
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.json
Labels: UI, backend

fix: PO Summary newly added for Credit Data ,Total ,due and Paud
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
Labels: UI

fix: Frontend Payment Terms Type->Delivery against "p"->"P" ayment fix
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/PaymentTermsDialog.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/types/paymentTerms.ts
Labels: UI

fix:Delivery againt Payment Patch File Fix "corder by reation asc"
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_7/update_po_payment_type_from_payment_terms.py
Labels: backend

Fix:Customer Po creation , But "IS" date is not working
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  frontend/src/pages/projects/components/AddCustomerPODialog.tsx
  frontend/src/pages/projects/components/CustomerPODeatilsCard.tsx
  nirmaan_stack/nirmaan_stack/doctype/customer_po_child_table/customer_po_child_table.json
Labels: UI, backend

Fix: Milestone Report camera Permission and Report
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/MilestoneReportPDF.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/PhotoPermissionChecker.tsx
Labels: UI

Fix: overall Report Progress Circle updated & image portrait same in report summary to pdf
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/MilestoneReportPDF.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReport.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReportPDF.tsx
Labels: UI

feat: create WIP Project progress Print format frappe
  nirmaan_stack/fixtures/print_format.json
Labels: backend

fix:Custom default data
  frontend/src/pages/projects/components/CustomerPODeatilsCard.tsx
Labels: UI

fix: Milestones bugs in Capture and Photos
  frontend/src/components/CameraCapture.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/MilestoneReportPDF.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/PhotoPermissionChecker.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/hooks/usePermissionCheck.ts
Labels: UI

fix: updated git ignore
  .gitignore
Labels: none

feat: added sentry integration
  CLAUDE.md
  frontend/.claude/settings.local.json
  frontend/CLAUDE.md
Labels: none

feat: added sentry integration
  frontend/package.json
  frontend/src/instrument.ts
  frontend/src/main.tsx
  frontend/yarn.lock
Labels: UI

feat: added sentry integration for new-pr and milestone-report
  frontend/docs/SENTRY_INTEGRATION.md
  frontend/src/components/error-boundaries/NewPRErrorBoundary.tsx
  frontend/src/components/error-boundaries/ProgressReportErrorBoundary.tsx
  frontend/src/instrument.ts
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/ProcurementRequests/NewPR/NewProcurementRequestPage.tsx
  frontend/src/pages/ProcurementRequests/NewPR/hooks/useSubmitProcurementRequest.ts
  frontend/src/utils/auth/UserProvider.tsx
  frontend/src/utils/sentry/index.ts
  frontend/src/utils/sentry/sentryHelpers.ts
  frontend/src/utils/sentry/types.ts
Labels: UI

fix: changes for test server
  frontend/src/instrument.ts
Labels: UI

fix: changed location type from data to text
  nirmaan_stack/nirmaan_stack/doctype/project_progress_report_attachments/project_progress_report_attachments.json
Labels: backend

fix: changes sentry tracking to stack
  frontend/src/instrument.ts
Labels: UI

Fix: pdf empty page created fix, using marigin :0 to browser added padding in css
  frontend/src/pages/Manpower-and-WorkMilestones/components/MilestoneReportPDF.tsx
Labels: UI

Fix : In mobile Milestone tab photo list , Remarks will come under images...
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
Labels: UI

feat:Project Payment Apporoval date Added and patches create for old data and summary card for project payment
  frontend/src/pages/ProjectPayments/PaymentSummaryCards.tsx
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  nirmaan_stack/api/payments/get_project_payment_summary.py
  nirmaan_stack/nirmaan_stack/doctype/project_payments/project_payments.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_7/approval_date_for_project_payments.py
Labels: UI, backend

Fix: removed Due Amount And replace Due amount paid to amount paid in Po summary Card
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
Labels: UI

Fix: In milestone report remove summary and Not render "Not Applicatable" milestone status
  frontend/src/pages/Manpower-and-WorkMilestones/components/MilestoneReportPDF.tsx
Labels: UI

fix: Payment summary refetch data while Approve and Pay dynamic
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/PaymentSummaryCards.tsx
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/ProjectPayments/update-payment/AccountantTabs.tsx
  nirmaan_stack/api/payments/get_project_payment_summary.py
  nirmaan_stack/nirmaan_stack/doctype/project_progress_report_work_milestones/project_progress_report_work_milestones.json
Labels: UI, backend

feat: Added Milestone Work Plan field Milestone dialog and Render in Summary Page and PDF report
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/MilestoneReportPDF.tsx
Labels: UI

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
