Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

feat(boq-rate-helper): show derived plate and blank values in the panel
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/boq-wizard/rate-helper/rateHelperTypes.ts
  frontend/src/pages/pricing/rate-master/rateMasterTypes.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.ts
Labels: UI

docs(boq-rate-helper): record the derived display and the too-small warning
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-rate-master): compute an attribute value into the selection
  frontend/src/pages/pricing/rate-master/rateMasterStructure.ts
  frontend/src/pages/pricing/rate-master/rateMasterTypes.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.ts
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
Labels: UI, backend

docs(boq-rate-master): record the circuit-length capability
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-rate-master): compute circuit length from the point count
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v25.json
Labels: UI, backend

docs(boq-rate-master): record the circuit-length formula and R9's rewrite
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-rate-master): close the attribute type trapdoor and show value sources
  frontend/src/pages/pricing/rate-master/RateMasterPipelines.test.ts
  frontend/src/pages/pricing/rate-master/RateMasterPipelines.tsx
Labels: UI

docs(boq-rate-master): record the type-picker trapdoor and the blank values column
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-rate-master): retire the switches_point category
  frontend/src/pages/pricing/rate-master/RateMasterDerivation.tsx
  frontend/src/pages/pricing/rate-master/rateMasterRegistry.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v26.json
Labels: UI, backend

docs(boq-rate-master): record the switches_point retirement
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-rate-master): mint-completeness gate and two carry-forward repairs
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v26.json
  nirmaan_stack/services/boq_rate_master/data/rate_master_wiring_cabling_v3.json
  scripts/mint_completeness_check.py
Labels: backend

docs(boq-rate-master): record the mint gate and the dbu3 finding
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-pricing): run suggest rates on selected rows
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/extraction.py
Labels: UI, backend

docs(boq-pricing): record selected-row runs and the carry-forward write
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): ticked-rows filter and an honest completion message
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/rate-helper/RateSuggestProgressModal.test.ts
  frontend/src/pages/boq-wizard/rate-helper/RateSuggestProgressModal.tsx
Labels: UI

docs(boq-pricing): record the ticked-rows filter and the message fix
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): publish the per-pass count so a halted scoped run reports all three
  frontend/src/pages/boq-wizard/rate-helper/RateSuggestProgressModal.test.ts
  frontend/src/pages/boq-wizard/rate-helper/RateSuggestProgressModal.tsx
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
Labels: UI, backend

docs(boq-pricing): record the per-pass count and the halted-scoped split
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): persist a scoped run's scope so resume honours it
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/nirmaan_stack/doctype/boq_rate_suggestion_run/boq_rate_suggestion_run.json
Labels: backend

docs(boq-pricing): record the unscoped-resume gap
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(outflow): tiered matching, project corroboration, the Link payment table
  .claude/context/domain/outflow-import.md
  frontend/.claude/plans/outflow-import-plan.md
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/components/SettleableRecordTable.tsx
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_expenses.py
  nirmaan_stack/api/outflow_import/test_review.py
  nirmaan_stack/services/outflow_import/amounts.py
  nirmaan_stack/services/outflow_import/candidates.py
  nirmaan_stack/services/outflow_import/matcher.py
  nirmaan_stack/services/outflow_import/project_match.py
  nirmaan_stack/services/outflow_import/status.py
  nirmaan_stack/services/outflow_import/test_amounts.py
  nirmaan_stack/services/outflow_import/test_matcher.py
  nirmaan_stack/services/outflow_import/test_project_match.py
  nirmaan_stack/services/outflow_import/test_status.py
Labels: UI, backend

feat(outflow): settle at the amount the bank actually moved (X1)
  .claude/context/domain/outflow-import.md
  frontend/.claude/plans/outflow-import-plan.md
  nirmaan_stack/api/outflow_import/expenses.py
  nirmaan_stack/api/outflow_import/test_expenses.py
  nirmaan_stack/api/outflow_import/test_settle_payment.py
  nirmaan_stack/integrations/controllers/project_cashflow_hold_update.py
  nirmaan_stack/services/outflow_import/amounts.py
  nirmaan_stack/services/outflow_import/settle.py
  nirmaan_stack/services/outflow_import/test_amounts.py
Labels: backend

feat(outflow): the per-import summary aggregate (X2, backend)
  frontend/.claude/plans/outflow-import-plan.md
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_review.py
  nirmaan_stack/services/outflow_import/status.py
  nirmaan_stack/services/outflow_import/test_status.py
Labels: backend

feat(boq-rate-master): 3M box fallback and stepped install by runs
  frontend/src/pages/pricing/rate-master/rateMasterTypes.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.ts
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v27.json
  nirmaan_stack/services/boq_rate_master/data/rate_master_wiring_cabling_v3.json
Labels: UI, backend

docs(boq-rate-master): record the box fallback and the install step function
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(outflow): one master screen -- table, import dialog, confirm all matched (X3+X4+X5)
  .claude/context/domain/outflow-import.md
  frontend/.claude/plans/outflow-import-plan.md
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/outflow-import/OutflowImportBatchPage.tsx
  frontend/src/pages/outflow-import/OutflowImportListPage.tsx
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  frontend/src/pages/outflow-import/components/ConfirmAllMatchedDialog.tsx
  frontend/src/pages/outflow-import/components/ImportStatementDialog.tsx
  frontend/src/pages/outflow-import/components/ImportSummaryPanel.tsx
  frontend/src/pages/outflow-import/components/OutflowRowsTable.tsx
  frontend/src/pages/outflow-import/config/outflowImportColumns.tsx
  frontend/src/pages/outflow-import/config/outflowImportTable.config.ts
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  frontend/src/types/NirmaanStack/OutflowImportBatch.ts
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_review.py
  nirmaan_stack/nirmaan_stack/doctype/outflow_import_row/outflow_import_row.py
  nirmaan_stack/patches/v3_0/add_outflow_master_index.py
Labels: UI, backend

fix(outflow): the amount audit was a default, not a guarantee -- and two test defects
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  nirmaan_stack/api/outflow_import/test_review.py
  nirmaan_stack/services/outflow_import/settle.py
Labels: UI, backend

fix(outflow): the deriver counted one payment candidate when there were six
  .claude/context/domain/outflow-import.md
  frontend/.claude/plans/outflow-import-plan.md
  frontend/src/pages/outflow-import/components/ConfirmAllMatchedDialog.tsx
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/components/SettleableRecordTable.tsx
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  nirmaan_stack/services/outflow_import/status.py
  nirmaan_stack/services/outflow_import/test_status.py
Labels: UI, backend

refactor(outflow): a control nobody read, a figure that moved the tab, and a change notice showing no change
  .claude/context/domain/outflow-import.md
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  frontend/src/pages/outflow-import/components/CloseBatchDialog.tsx
  frontend/src/pages/outflow-import/components/ConfirmAllMatchedDialog.tsx
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/components/ImportSummaryPanel.tsx
  frontend/src/pages/outflow-import/components/SettleableRecordTable.tsx
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  frontend/src/types/NirmaanStack/OutflowImportBatch.ts
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_close.py
Labels: UI, backend

refactor(outflow): one status for a transfer that did not line up -- Unmatched merged into Mismatched
  .claude/context/domain/outflow-import.md
  frontend/.claude/plans/outflow-import-plan.md
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/outflowImportStatus.test.ts
  frontend/src/pages/outflow-import/outflowImportStatus.ts
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  frontend/src/types/NirmaanStack/OutflowImportBatch.ts
  nirmaan_stack/api/outflow_import/test_review.py
  nirmaan_stack/api/outflow_import/test_upload.py
  nirmaan_stack/nirmaan_stack/doctype/outflow_import_row/outflow_import_row.json
  nirmaan_stack/patches/v3_0/merge_outflow_unmatched_status.py
  nirmaan_stack/services/outflow_import/status.py
  nirmaan_stack/services/outflow_import/test_status.py
Labels: UI, backend

refactor(outflow): three tabs -- All / Not-Matched / Matched & Settled, and Skipped leaves the table
  .claude/context/domain/outflow-import.md
  frontend/.claude/plans/outflow-import-plan.md
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  frontend/src/pages/outflow-import/components/OutflowRowsTable.tsx
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  frontend/src/types/NirmaanStack/OutflowImportBatch.ts
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_review.py
Labels: UI, backend

feat(outflow): six identical transfers, six identical payments -- pair the set, not the row
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_review.py
  nirmaan_stack/nirmaan_stack/doctype/outflow_import_row/outflow_import_row.py
  nirmaan_stack/patches/v3_0/add_outflow_stack_index.py
  nirmaan_stack/services/outflow_import/stacks.py
  nirmaan_stack/services/outflow_import/test_stacks.py
Labels: backend

feat(boq-rate-master): infer the blanker from the effective count
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/boq-wizard/rate-helper/rateHelperTypes.ts
  frontend/src/pages/pricing/rate-master/rateMasterTypes.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.ts
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v28.json
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v29.json
Labels: UI, backend

docs(boq-rate-master): record the blanker item bind and the notes list
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(outflow): the leftovers screen -- seven transfers, six payments, and a person to decide
  .claude/context/domain/outflow-import.md
  frontend/.claude/plans/outflow-import-plan.md
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  frontend/src/pages/outflow-import/components/UnpairedStacksDialog.tsx
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_review.py
Labels: UI, backend

fix(outflow): money that never left the bank, two numbers that could not be reconciled, and a button that failed in silence
  .claude/context/domain/outflow-import.md
  frontend/.claude/plans/outflow-import-plan.md
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  frontend/src/pages/outflow-import/components/ConfirmAllMatchedDialog.tsx
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/components/ImportStatementDialog.tsx
  frontend/src/pages/outflow-import/components/ImportSummaryPanel.tsx
  frontend/src/pages/outflow-import/components/OutflowRowsTable.tsx
  frontend/src/pages/outflow-import/components/UnpairedStacksDialog.tsx
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  frontend/src/types/NirmaanStack/OutflowImportBatch.ts
  nirmaan_stack/api/outflow_import/expenses.py
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_expenses.py
  nirmaan_stack/api/outflow_import/test_review.py
  nirmaan_stack/api/outflow_import/test_settle_payment.py
  nirmaan_stack/services/outflow_import/parser.py
  nirmaan_stack/services/outflow_import/settle.py
  nirmaan_stack/services/outflow_import/status.py
Labels: UI, backend

fix(outflow): one payment cannot settle five transfers, and a blank that meant two things [MIGRATE]
  .claude/context/domain/outflow-import.md
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_review.py
  nirmaan_stack/nirmaan_stack/doctype/outflow_import_row/outflow_import_row.json
  nirmaan_stack/services/outflow_import/claims.py
  nirmaan_stack/services/outflow_import/disambiguate.py
  nirmaan_stack/services/outflow_import/status.py
  nirmaan_stack/services/outflow_import/test_claims.py
  nirmaan_stack/services/outflow_import/test_disambiguate.py
Labels: backend

feat(outflow): the approved inbox -- three ledgers that are not twins, read in one shape
  nirmaan_stack/api/outflow_import/approved.py
  nirmaan_stack/api/outflow_import/test_approved.py
  nirmaan_stack/services/outflow_import/ledger_read.py
Labels: backend

feat(outflow): a vendor rollup for 850 rows, a door onto the skipped ones, and the approved inbox
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  frontend/src/pages/outflow-import/components/ApprovedRecordsPanel.tsx
  frontend/src/pages/outflow-import/components/ConfirmAllMatchedDialog.tsx
  frontend/src/pages/outflow-import/components/ImportSummaryPanel.tsx
  frontend/src/pages/outflow-import/components/OutflowRowsTable.tsx
  frontend/src/pages/outflow-import/components/SkippedRowsDialog.tsx
  frontend/src/pages/outflow-import/components/UnpairedStacksDialog.tsx
  frontend/src/pages/outflow-import/outflowImportStatus.ts
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  frontend/src/pages/outflow-import/useOutflowRows.ts
  frontend/src/types/NirmaanStack/OutflowImportBatch.ts
Labels: UI

fix(users): the role profile dropdown stopped at 20, so the 21st role did not exist
  frontend/src/pages/users/EditUserForm.tsx
  frontend/src/pages/users/user-form.tsx
Labels: UI
