Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

docs(boq): Phase 1.9g completion record (feat 40fb555c)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-parser): Phase 1.9h auto-guess per-area column-role assignment
  nirmaan_stack/services/boq_parser/_auto_guess.py
  nirmaan_stack/services/boq_parser/multi_area_triage_1_9f.py
  nirmaan_stack/services/boq_parser/real_fixture_stress_test.py
  nirmaan_stack/services/boq_parser/test_auto_guess.py
Labels: backend

docs(boq): Phase 1.9h docs — auto-guess per-area column-role assignment
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat: add soft-warning UI for missing GSTIN extraction and update validation logic to allow manual verification
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceDialog.tsx
  nirmaan_stack/api/invoices/_validation.py
Labels: UI, backend

Fix (BUG LIst): fix attachments, scheduler layout, sheet responsiveness and minor polish
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/workHeaderMilestones.tsx
  frontend/src/hooks/useWorkHeaderOrder.ts
  frontend/src/pages/Manpower-and-WorkMilestones/components/ProjectScheduler.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/InvoiceDataDialog.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPdf.tsx
  frontend/src/pages/credits/CreditsPage.tsx
  frontend/src/pages/credits/hooks/useCredits.ts
  frontend/src/pages/projects/TDSRepository/components/TdsHistoryTable.tsx
Labels: UI

chore(boq-parser): Phase 1.9i --- single-area-targeted diagnostic on 11 sheets
  nirmaan_stack/services/boq_parser/single_area_triage_1_9i.py
  nirmaan_stack/services/boq_parser/single_area_triage_1_9i_output.json
  nirmaan_stack/services/boq_parser/single_area_triage_1_9i_output.txt
Labels: backend

fix(actions): Update Frappe branch to version-15-hotfix
  .github/workflows/build_push.yml
Labels: none

docs(boq): Phase 1.9i docs --- single-area-targeted diagnostic on 11 sheets
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(actions): Update Frappe branch to v15.107.1
  .github/workflows/build_push.yml
Labels: none

fix(actions): Update Frappe branch version to v15.107.0
  .github/workflows/build_push.yml
Labels: none

feat(work-orders): role-aware Without-Rate PDFs and Bulk Download polish
  frontend/src/components/common/BulkPdfDownloadButton.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/hooks/useBulkPdfDownload.ts
  frontend/src/pages/BulkDownload/BulkDownloadStep1.tsx
  frontend/src/pages/BulkDownload/useBulkDownloadWizard.ts
  frontend/src/pages/ServiceRequests/service-request/SRPdf.tsx
  frontend/src/pages/ServiceRequests/service-request/components/SRDetailsCard.tsx
  nirmaan_stack/api/pdf_helper/bulk_download.py
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

feat: filter PO by ₹5K threshold across DC/MIR + PO Summary chips
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  frontend/src/pages/reports/hooks/useDNDCQuantityData.ts
  nirmaan_stack/api/delivery_challans_data.py
Labels: UI, backend

chore(boq-parser): Phase 1.9j --- Mode C diagnostic metric fix
  nirmaan_stack/services/boq_parser/single_area_triage_1_9i.py
  nirmaan_stack/services/boq_parser/single_area_triage_1_9j_output.json
  nirmaan_stack/services/boq_parser/single_area_triage_1_9j_output.txt
Labels: backend

docs(boq): Phase 1.9j docs --- Mode C diagnostic metric fix
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(ceo-hold): auto-release cron-set hold when cashflow_gap_limit is cleared to 0
  nirmaan_stack/integrations/controllers/project_cashflow_hold_update.py
Labels: backend

feat: add scroll propagation control to fuzzy search menu and consolidate auto-approval status into Actioned By column
  frontend/src/components/ui/fuzzy-search-select.tsx
  frontend/src/pages/tasks/invoices/components/TaskHistoryTable.tsx
  frontend/src/pages/tasks/invoices/components/columns.tsx
Labels: UI

fix(payments): clarify PO Value column header for service requests
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/ProjectPayments/update-payment/AccountantTabs.tsx
  frontend/src/pages/ProjectPayments/update-payment/UpdatePaymentDialog.tsx
Labels: UI

fix(tds): show BOQ Ref as direct text and add it to the Export dialog.
  frontend/src/pages/projects/TDSRepository/components/TdsCreateForm.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsExportDialog.tsx
  frontend/src/pages/tds/TDSApprovalDetail.tsx
Labels: UI

feat: add with-rate toggle to BulkDownload WOSteps with role-based restriction for Project Managers
  frontend/src/pages/BulkDownload/BulkDownloadPage.tsx
  frontend/src/pages/BulkDownload/steps/WOSteps.tsx
Labels: UI

feat(boq-parser): Phase 1.9k --- Mode B + Mode F + F3c broadened
  nirmaan_stack/services/boq_parser/classifier.py
  nirmaan_stack/services/boq_parser/classifier_audit.py
  nirmaan_stack/services/boq_parser/multi_area_detection.py
  nirmaan_stack/services/boq_parser/test_classifier.py
  nirmaan_stack/services/boq_parser/test_multi_area_detection.py
Labels: backend

docs(boq): Phase 1.9k docs --- Mode B + Mode F + F3c broadened
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-parser): Phase 1.9l --- Mode D substring-match precedence fix
  nirmaan_stack/services/boq_parser/_auto_guess.py
  nirmaan_stack/services/boq_parser/classifier_audit.py
  nirmaan_stack/services/boq_parser/test_auto_guess.py
  nirmaan_stack/services/boq_parser/test_classifier.py
Labels: backend

docs(boq): Phase 1.9l docs --- Mode D substring-match precedence fix
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat: support multiple delivery notes per ITM by rendering per-DN columns and refactoring state management
  frontend/src/pages/InternalTransferMemos/components/ITMDeliverySection.tsx
  frontend/src/pages/ProjectInvoices/components/ProjectInvoiceSummaryCard.tsx
  frontend/src/pages/ProjectInvoices/config/projectInvoices.config.tsx
Labels: UI

feat(boq-parser): Phase 1.9m --- Mode A auto-detect 2-row headers
  nirmaan_stack/services/boq_parser/_auto_guess.py
  nirmaan_stack/services/boq_parser/test_auto_guess.py
Labels: backend

docs(boq): Phase 1.9m docs --- Mode A auto-detect 2-row headers
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

chore(boq-parser): Phase 1.9n --- re-run single-area diagnostic on subset + metric correction
  nirmaan_stack/services/boq_parser/single_area_triage_1_9i.py
  nirmaan_stack/services/boq_parser/single_area_triage_1_9n_output.json
  nirmaan_stack/services/boq_parser/single_area_triage_1_9n_output.txt
Labels: backend

docs(boq): Phase 1.9n docs --- re-run single-area diagnostic on subset + metric correction
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

chore(boq-parser): pre-1.9o --- add 4 multi-area test fixtures
  nirmaan_stack/services/boq_parser/tests/fixtures/multi_area_merged_header_v1.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/multi_area_merged_header_v2.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/multi_area_single_header_v1.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/multi_area_single_header_v2.xlsx
Labels: none

docs(boq): pre-1.9o docs --- multi-area fixture additions
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-parser): Phase 1.9o --- Tier A-merged pattern recognizer (3-change feat)
  nirmaan_stack/services/boq_parser/_auto_guess.py
  nirmaan_stack/services/boq_parser/multi_area_detection.py
  nirmaan_stack/services/boq_parser/test_auto_guess.py
  nirmaan_stack/services/boq_parser/test_multi_area_detection.py
Labels: backend

docs(boq): Phase 1.9o docs --- Tier A-merged pattern recognizer
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-parser): Phase 1.9p --- append_to_notes keyword auto-assignment
  nirmaan_stack/services/boq_parser/classifier.py
  nirmaan_stack/services/boq_parser/classifier_audit.py
  nirmaan_stack/services/boq_parser/test_auto_guess.py
  nirmaan_stack/services/boq_parser/test_classifier.py
Labels: backend

docs(boq): Phase 1.9p docs --- append_to_notes keyword auto-assignment
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

chore(boq-parser): diagnostic source_present_but_unparsed signal + multi-area frozensets
  nirmaan_stack/services/boq_parser/single_area_triage_1_9i.py
Labels: backend

chore(boq-parser): diagnostic two-mode output --- hrc=None auto_detect + hrc=1 debug
  nirmaan_stack/services/boq_parser/single_area_triage_1_9i.py
Labels: backend

docs(boq): diagnostic metric repair chores --- source_present_but_unparsed + two-mode output
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

chore(boq-parser): expanded-subset retest --- 15 targets + Chore #2 snapshot
  nirmaan_stack/services/boq_parser/diagnostic_snapshots/README.md
  nirmaan_stack/services/boq_parser/diagnostic_snapshots/chore_2_smoke_run.json
  nirmaan_stack/services/boq_parser/diagnostic_snapshots/chore_2_smoke_run.txt
  nirmaan_stack/services/boq_parser/single_area_triage_1_9i.py
Labels: backend

docs(boq): expanded-subset retest docs --- 15 targets + diagnostic_snapshots
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(payments): bulk approve flow for Approve Payments + CEO Pending tabs
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/ProjectPayments/approve-payments/components/BulkActionBar.tsx
  frontend/src/pages/ProjectPayments/approve-payments/components/BulkConfirmDialog.tsx
  frontend/src/pages/ProjectPayments/approve-payments/hooks/useBulkPaymentActions.ts
  nirmaan_stack/api/payments/bulk_actions.py
  nirmaan_stack/integrations/controllers/project_payments.py
Labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
