Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

docs(boq): Slice 2-fix -- record "Parsed" frontend gap fix in plan + CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(project-payments): color bulk action buttons + skip CEO Hold trigger on non-Paid status flips
  frontend/src/pages/ProjectPayments/approve-payments/components/BulkActionBar.tsx
  frontend/src/pages/ProjectPayments/approve-payments/components/BulkConfirmDialog.tsx
  nirmaan_stack/integrations/controllers/project_cashflow_hold_update.py
Labels: UI, backend

feat(boq): Slice 2b-backend -- dirty-marker drop Parsed->Reviewed on config change
  nirmaan_stack/api/boq/wizard/test_update_sheet_draft.py
  nirmaan_stack/api/boq/wizard/update_sheet_draft.py
Labels: backend

docs(boq): Slice 2b-backend -- dirty-marker drop recorded in plan + CLAUDE.md
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Slice 2b-backend-2 -- parse-history fields (has_prior_parse + last_parsed_at)
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/parse_run.py
  nirmaan_stack/api/boq/wizard/test_parse_run.py
  nirmaan_stack/api/boq/wizard/test_update_sheet_draft.py
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet_draft/boq_sheet_draft.json
Labels: UI, backend

docs(boq): Slice 2b-backend-2 -- parse-history fields recorded in plan + CLAUDE.md
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(boq): collapse bloated CLAUDE.md BoQ status cell to a pointer; correct wizard total to 157
  CLAUDE.md
Labels: none

feat(commission-report): LT Cable Megger Test Report + landscape print routing
  frontend/src/pages/CommissionReport/commission-template.json
  frontend/src/pages/CommissionReport/components/FillReportButton.tsx
  frontend/src/pages/CommissionReport/ls-commission-printformat.html
  frontend/src/pages/CommissionReport/report-wizard/data/useMasterTaskMap.ts
  frontend/src/pages/CommissionReport/report-wizard/index.tsx
  frontend/src/pages/CommissionReport/report-wizard/renderer/SectionRenderer.tsx
  frontend/src/pages/CommissionReport/report-wizard/renderer/TraineesDataTableSection.tsx
  frontend/src/pages/CommissionReport/report-wizard/schema.ts
  nirmaan_stack/fixtures/commission_report_tasks.json
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

feat(boq): Slice 2b-frontend-i -- wire hub Parse workbook button to run_parse
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/ParseRunDialog.tsx
  frontend/src/pages/boq-wizard/SheetCard.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
Labels: UI

docs(boq): Slice 2b-frontend-i -- parse button wiring recorded in plan + CLAUDE.md
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Slice 2b-backend-3 -- set_general_specs_sheet accepts list (replace-all-to-many)
  nirmaan_stack/api/boq/wizard/test_update_sheet_draft.py
  nirmaan_stack/api/boq/wizard/update_sheet_draft.py
Labels: backend

docs(boq): Slice 2b-backend-3 -- set_general_specs_sheet list API + non-Hidden validation recorded in plan + CLAUDE.md
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Slice 2b-frontend-ii -- replace general-specs dropdown with multi-select checklist
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
Labels: UI

docs(boq): Slice 2b-frontend-ii -- multi-select checklist + caller fix recorded in plan + CLAUDE.md
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(commission-report): Earth Pit per-row photos + header-driven row count
  frontend/src/pages/CommissionReport/commission-printformat.html
  frontend/src/pages/CommissionReport/commission-template.json
  frontend/src/pages/CommissionReport/report-wizard/constants.ts
  frontend/src/pages/CommissionReport/report-wizard/index.tsx
  frontend/src/pages/CommissionReport/report-wizard/prefill/resolve.ts
  frontend/src/pages/CommissionReport/report-wizard/renderer/SectionRenderer.tsx
  frontend/src/pages/CommissionReport/report-wizard/renderer/TraineesDataTableSection.tsx
  frontend/src/pages/CommissionReport/report-wizard/schema.ts
  frontend/src/pages/CommissionReport/report-wizard/types.ts
  nirmaan_stack/fixtures/commission_report_tasks.json
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

feat: add LUX Average column to trainees table and convert area text to uppercase in LUX Level review thwy LUX Average now its showing ->Report
  frontend/src/pages/CommissionReport/commission-printformat.html
  frontend/src/pages/CommissionReport/report-wizard/index.tsx
  frontend/src/pages/CommissionReport/report-wizard/renderer/TraineesDataTableSection.tsx
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

docs(boq): frontend CLAUDE.md -- record Module 2b frontend conventions (parse-run, ParseRunDialog, checklist, dirty marker) + fix stale Parse-button stub note
  frontend/CLAUDE.md
Labels: none

docs(boq): encode all-three-docs update rule (plan-doc + root + frontend CLAUDE.md); correct frontend CLAUDE.md path; plan-doc minimal-touch for Module 2b
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-wizard): hub Parsed count + 2-col general-specs checklist + spoke parsing-vs-details zone grouping
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/SheetConfigPanel.tsx
Labels: UI

docs(boq-wizard): Bucket-1 hub-polish slice -- plan-doc full record + frontend/CLAUDE.md zone-grouping convention + root minimal-touch
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-wizard): box spoke config/details zones + tint secondary zone for clearer visual grouping
  frontend/src/pages/boq-wizard/SheetConfigPanel.tsx
Labels: UI

docs(boq-wizard): record zone-differentiation follow-up (feat 1ec901e7) in all three docs
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-wizard): add transient parse_in_progress marker on BOQs (set on enqueue, clear at publish choke-point)
  nirmaan_stack/api/boq/wizard/parse_run.py
  nirmaan_stack/api/boq/wizard/test_parse_run.py
  nirmaan_stack/nirmaan_stack/doctype/boqs/boqs.json
Labels: backend

docs(boq-wizard): record Bucket-2 Slice 1 parse_in_progress marker in all three docs (feat cb86b92b)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-wizard): parse completion modal + per-case messages + on-mount parse_in_progress recovery
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/ParseRunDialog.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
Labels: UI

docs(boq-wizard): record Bucket-2 Slice 2 (feat 21e56963) in all three docs
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-wizard): emphasize parse-time note (bold amber) + add to re-parse warning step
  frontend/src/pages/boq-wizard/ParseRunDialog.tsx
Labels: UI

docs(boq-wizard): record Bucket-2 follow-up (feat 295e3881) in all three docs
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

docs(boq): fix plan-doc Latest commit pointer (21e56963 -> b2ca0895)
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(boq): fix Slice 3c/3c-fix heading hashes (1ec901e7 -> 16a6a4dc/9f8fb6f7)
  frontend/CLAUDE.md
Labels: none

feat(boq-wizard): self-heal hub on socket reconnect + make parse dialog dismissable mid-parse (#147 option-4)
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/ParseRunDialog.tsx
Labels: UI

docs(boq-wizard): record #147 option-4 hub self-heal + dialog-dismiss (feat 193327b1)
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(commission-report): repeating_groups grammar + CFM/Air Balance per-group flow
  frontend/src/pages/CommissionReport/commission-printformat.html
  frontend/src/pages/CommissionReport/commission-template.json
  frontend/src/pages/CommissionReport/report-wizard/constants.ts
  frontend/src/pages/CommissionReport/report-wizard/index.tsx
  frontend/src/pages/CommissionReport/report-wizard/prefill/resolve.ts
  frontend/src/pages/CommissionReport/report-wizard/renderer/RepeatingGroupsSection.tsx
  frontend/src/pages/CommissionReport/report-wizard/renderer/SectionRenderer.tsx
  frontend/src/pages/CommissionReport/report-wizard/schema.ts
  frontend/src/pages/CommissionReport/report-wizard/template-parser.ts
  frontend/src/pages/CommissionReport/report-wizard/types.ts
  nirmaan_stack/fixtures/commission_report_tasks.json
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

feat(commission-report): split VRF/DX into two separate reports
  frontend/src/pages/CommissionReport/commission-printformat.html
  frontend/src/pages/CommissionReport/commission-template.json
  frontend/src/pages/CommissionReport/report-wizard/index.tsx
  frontend/src/pages/CommissionReport/report-wizard/prefill/resolve.ts
  frontend/src/pages/CommissionReport/report-wizard/renderer/ChecklistSection.tsx
  frontend/src/pages/CommissionReport/report-wizard/renderer/RepeatingGroupsSection.tsx
  frontend/src/pages/CommissionReport/report-wizard/schema.ts
  frontend/src/pages/CommissionReport/report-wizard/template-parser.ts
  frontend/src/pages/CommissionReport/report-wizard/types.ts
Labels: UI

fix: update source format and print format configuration in DX & VRF commission report tasks fixture
  nirmaan_stack/fixtures/commission_report_tasks.json
  nirmaan_stack/fixtures/print_format.json
Labels: backend

feat(boq-review): unify-on-(-1) -- replace has_human_parent Check + None ambiguity with -1 sentinel
  nirmaan_stack/api/boq/wizard/parse_run.py
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_parse_run.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
  nirmaan_stack/nirmaan_stack/doctype/boq_review_row/boq_review_row.json
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet_draft/boq_sheet_draft.json
Labels: backend

docs(boq-review): record Slice A backend + fold frozen review-screen design (feat fff26abd)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(commission-report): Duct Pressure/Smoke/Light Test Report unified flow
  frontend/src/pages/CommissionReport/commission-printformat.html
  frontend/src/pages/CommissionReport/commission-template.json
  frontend/src/pages/CommissionReport/report-wizard/index.tsx
  frontend/src/pages/CommissionReport/report-wizard/renderer/ChecklistSection.tsx
  nirmaan_stack/fixtures/commission_report_tasks.json
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

feat(boq-review): Slice B1 -- review screen spine (navigable tree)
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/SheetCard.tsx
  frontend/src/pages/boq-wizard/SheetReviewPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
Labels: UI, backend

docs(boq-review): record Slice B1 review screen spine (feat 0683f7b9)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none
