Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

feat(boq-wizard): gate per-area roles off single-area sheets + flag stranded mappings
  frontend/src/pages/boq-wizard/SheetConfigPanel.tsx
Labels: UI

docs(boq-wizard): record Slice 3 Strand A single-area config gate
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-wizard): repack review detail-panel edit fields 4-per-row + widen inputs
  frontend/src/pages/boq-wizard/ReviewTree.tsx
Labels: UI

docs(boq-wizard): record detail-panel edit-field 4-per-row repack + w-36
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-review): render append_to_notes as columns + staleness banner
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/SheetReviewPage.tsx
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
Labels: UI, backend

docs(boq-review): record append_to_notes-as-columns + staleness banner
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(action): Update Frappe branch to version-15
  .github/workflows/build_push.yml
Labels: none

fix: for pyOpenSSL dependency update
  pyproject.toml
Labels: none

fix(boq-upload): make Upload BoQ work across multi-container deploys
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
  frontend/src/pages/boq-wizard/BoqPickerPage.tsx
  frontend/src/pages/boq-wizard/BoqUploadScreen.tsx
  nirmaan_stack/api/boq/wizard/upload_file.py
Labels: UI, backend

refactor: remove project_gst_number field from Projects doctype and clean up associated template logic
  nirmaan_stack/fixtures/print_format.json
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.json
Labels: backend

fix(po-revision): List all quantity warnings during PO Revisions (#991)
  frontend/src/pages/PORevision/PORevisionDialog.tsx
Labels: UI

refactor(po-adjustments): rename credit-consumption entry to "Auto Adjustment" + clearer message
  frontend/.claude/context/domain/po-adjustments.md
  frontend/.claude/context/domain/po-revisions.md
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
  frontend/src/pages/ProcurementOrders/purchase-order/components/PORevisionsAndAdjustments.tsx
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: UI, backend

feat(tds): Pending TDS preview dialog like Commission Report preview (#990)
  frontend/src/pages/projects/TDSRepository/TDSRepositoryView.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsPdfReadyDialog.tsx
Labels: UI

feat(po): Show who created the requests within Revisions and Adjustments section in the PO View (#991)
  frontend/src/pages/POAdjustment/data/usePOAdjustmentQueries.ts
  frontend/src/pages/ProcurementOrders/purchase-order/components/PORevisionsAndAdjustments.tsx
  nirmaan_stack/api/po_adjustments/adjustment_logic.py
  nirmaan_stack/api/po_revisions/revision_history.py
Labels: UI, backend

fix(rfq): generate RFQ for Sent Back Category, not just PR
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/GenerateRFQDialog.tsx
Labels: UI

fix(commission): Remove Active/Inactive badge for Vendor report_type in Commission Report Settings (#987)
  frontend/src/pages/CommissionReport/components/CommissionPackagesMaster.tsx
Labels: UI

fix(po-adjustments): reuse overpaid credit on PO revision increase.
  frontend/src/pages/PORevision/PORevisionWarning.tsx
  frontend/src/pages/PORevision/data/usePORevisionQueries.ts
  nirmaan_stack/api/po_revisions/revision_logic.py
  nirmaan_stack/api/po_revisions/revision_po_check.py
  nirmaan_stack/nirmaan_stack/doctype/po_adjustments/po_adjustments.py
Labels: UI, backend

feat(project-schedule): CSV export + selective milestone recompute on date change
  frontend/src/pages/Manpower-and-WorkMilestones/components/ProjectScheduler.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/hooks/useProjectScheduler.ts
  nirmaan_stack/api/milestone/project_schedule.py
  nirmaan_stack/api/milestone/test_project_schedule.py
Labels: UI, backend

fix(action): Enforce pyOpenSSL version in build workflow
  .github/workflows/build_push.yml
Labels: none

fix(boq-parse): recover parse-run hub from missed realtime event via poll fallback
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  nirmaan_stack/api/boq/wizard/parse_run.py
Labels: UI, backend

feat(boq): add committed BoQ Sheet doctype (Phase 4 P4-1 sheet tier)
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet/boq_sheet.json
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet/boq_sheet.py
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet/test_boq_sheet.py
Labels: backend

docs(boq): record P4-1 BoQ Sheet doctype
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): re-point BOQ Nodes to BoQ Sheet tier, keep boq denormalized (Phase 4 P4-2)
  nirmaan_stack/integrations/controllers/boq_nodes.py
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/boq_nodes.json
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/test_boq_nodes.py
Labels: backend

docs(boq): record P4-2 node-to-sheet re-point
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(boq): record P4-3 commit field-mapping + three-parent-fields design (Phase 4 P4-3)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): add human-layer, edit-provenance, remarks, attached_notes fields to BOQ Nodes (Phase 4 P4-4)
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/boq_nodes.json
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/test_boq_nodes.py
Labels: backend

docs(boq): record P4-4 node fields + tendering-era audit-scope decision
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): align BOQ Node Qty By Area rate/amount fields to Currency (Phase 4 P4-5)
  nirmaan_stack/nirmaan_stack/doctype/boq_node_qty_by_area/boq_node_qty_by_area.json
Labels: backend

docs(boq): record P4-5 child Float-to-Currency reconciliation
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(boq): close P4-6 (skip-filter already built), insert structural checkpoint, lock Phase-5 commit-set decisions
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): retire parent_boq (field + controller + tests) (Phase 4 P4-FINAL)
  nirmaan_stack/integrations/controllers/boqs.py
  nirmaan_stack/nirmaan_stack/doctype/boqs/boqs.json
  nirmaan_stack/nirmaan_stack/doctype/boqs/test_boqs.py
Labels: backend

docs(boq): record P4-FINAL + Phase 4 complete
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(boq): finalize Phase-5 input record (checkpoint flags + locked commit sequencing)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix: for pyOpenSSL dependency update
  pyproject.toml
Labels: none

fix(boq-patches): guard work_package/general_specs migrations for fresh-install DBs
  nirmaan_stack/patches/v3_0/migrate_boq_sheet_draft_work_package_to_multi.py
  nirmaan_stack/patches/v3_0/migrate_general_specs_to_child_table.py
Labels: backend

fix(action): Enforce pyOpenSSL version in build workflow
  .github/workflows/build_push.yml
Labels: none

fix(boq-upload): make Upload BoQ work across multi-container deploys
  frontend/src/pages/boq-wizard/BoqPickerPage.tsx
  frontend/src/pages/boq-wizard/BoqUploadScreen.tsx
  nirmaan_stack/api/boq/wizard/upload_file.py
Labels: UI, backend

fix(boq-parse): recover parse-run hub from missed realtime event via poll fallback
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  nirmaan_stack/api/boq/wizard/parse_run.py
Labels: UI, backend

fix(projects): repair Projects list crash from boq-phase-3 merge
  frontend/src/pages/projects/projects.tsx
Labels: UI

fix(reports): share one date filter across report types and stop relative presets freezing
  frontend/src/pages/NonProjectExpenses/NonProjectExpensesPage.tsx
  frontend/src/pages/reports/components/InflowReportTable.tsx
  frontend/src/pages/reports/components/ProjectReports.tsx
  frontend/src/pages/reports/components/outflowReportTable.tsx
  frontend/src/pages/reports/store/useReportDateStore.ts
  frontend/src/utils/datePresents.tsx
Labels: UI
