Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

fix: updated pdfjs version to resolve build issue
  frontend/package.json
  frontend/src/components/procurement/rfq-pdf.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPdf.tsx
  frontend/yarn.lock
Labels: UI

fix:invoice TaskHistory table page
  frontend/src/pages/ProcurementOrders/amend-po/approve-amend-po.tsx
  frontend/src/pages/tasks/invoices/components/TaskHistoryTable.tsx
  frontend/src/pages/tasks/invoices/components/columns.tsx
  nirmaan_stack/api/tasks/attachment_names.py
  nirmaan_stack/integrations/controllers/delete_doc_versions.py
Labels: UI, backend

fix: invoice delta 500 and po report date reaggangement
  frontend/src/pages/reports/components/POReports.tsx
  frontend/src/pages/reports/components/columns/poColumns.tsx
Labels: UI

fix: reverted back pdfjs to v3.4.120
  frontend/package.json
  frontend/src/components/procurement/rfq-pdf.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPdf.tsx
  frontend/yarn.lock
Labels: UI

fix: ui fixes
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/ProjectExpenses/ProjectExpensesList.tsx
  frontend/src/pages/ProjectExpenses/components/NewProjectExpenseDialog.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/tasks/invoices/components/columns.tsx
Labels: UI

fix:reduceAmount
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  nirmaan_stack/api/approve_amend_po.py
  nirmaan_stack/integrations/controllers/nirmaan_versions.py
Labels: UI, backend

feat:credits
  frontend/src/components/dialogs/RequestPaymentDialog.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPaymentTermsCard.tsx
  frontend/src/pages/credits/CreditsPage.tsx
  frontend/src/pages/credits/components/CreditsTableColumns.tsx.tsx
  frontend/src/pages/credits/credits.constant.ts
  frontend/src/pages/credits/hooks/useCredits.ts
Labels: UI

fix:minor issuses
  frontend/src/components/pr-summary.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/ProjectPayments/update-payment/AccountantTabs.tsx
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/reports/components/columns/projectColumns.tsx
  frontend/src/pages/reports/hooks/useProjectReportCalculations.ts
  frontend/src/utils/getAmounts.ts
Labels: UI

fix: pr table filters, po overview changes & po report rearrangement
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/approve-pr.tsx
  frontend/src/pages/ProcurementRequests/procurement-requests.tsx
  frontend/src/pages/reports/components/columns/poColumns.tsx
Labels: UI

fix: ui fix for financials tab, credits table & project po summary
  frontend/src/pages/credits/components/CreditsTableColumns.tsx.tsx
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
Labels: UI

fix: removed projects estimates topbar
  frontend/src/pages/projects/project.tsx
Labels: UI

fix:mergo-po payment-status-update
  nirmaan_stack/api/po_merge_and_unmerge.py
Labels: backend

fix:credit-to-PO-dialog Open & Close
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPaymentTermsCard.tsx
Labels: UI

fix: ui fixes
  frontend/src/components/helpers/renderRightActionButton.tsx
  frontend/src/components/layout/dashboards/procurement-dashboard.tsx
  frontend/src/pages/ProcurementRequests/procurement-requests.tsx
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/project.tsx
Labels: UI

fix: change for project edit for PROJECT LEADS
  frontend/src/pages/projects/project.tsx
Labels: UI

fix: hold excess po payments in backend
  nirmaan_stack/api/payments/project_payments.py
  nirmaan_stack/services/finance.py
Labels: backend

fix: po amend fix for tax rate change
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
Labels: UI

fix: project expense changes
  frontend/src/pages/ProjectExpenses/ProjectExpensesList.tsx
Labels: UI

pt change & AQ ledger
  frontend/src/components/data-table/new-data-table.tsx
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/ApprovedQuotationsFlow/ApprovedQuotationsTable.tsx
  frontend/src/pages/ApprovedQuotationsFlow/approvedQuotations.constants.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/Sent Back Requests/SBQuotesSelectionReview.tsx
  frontend/src/pages/vendors/components/POVendorLedger.tsx
  frontend/src/pages/vendors/vendor.tsx
  nirmaan_stack/api/sidebar_counts.py
  nirmaan_stack/api/vendor/get_vendor_po_invoices.py
  nirmaan_stack/hooks.py
Labels: UI, backend

fix:sidebarcount & AQ revert
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/layout/dashboards/dashboard-default.tsx
  frontend/src/components/layout/dashboards/dashboard-pl.tsx
  frontend/src/components/layout/dashboards/estimates-executive-dashboard.tsx
  frontend/src/components/layout/dashboards/procurement-dashboard.tsx
  frontend/src/hooks/useSidebarCounts.ts
  frontend/src/pages/ApprovedQuotationsFlow/AdminApprovedQuotationsTable.tsx
  frontend/src/pages/ApprovedQuotationsFlow/ApprovedQuotationsTable.tsx
Labels: UI

feat: Ledger Table Change
  frontend/src/pages/ProcurementOrders/amend-po/approve-select-amend-po.tsx
  frontend/src/pages/vendors/components/AdvancedDateFilter.tsx
  frontend/src/pages/vendors/components/LedgerTableRow.tsx
  frontend/src/pages/vendors/components/POVendorLedger.tsx
  frontend/src/pages/vendors/components/VirtualizedLedgerTable.tsx
  frontend/src/pages/vendors/vendor.tsx
  nirmaan_stack/api/sidebar_counts.py
  nirmaan_stack/api/vendor/get_vendor_po_invoices.py
  nirmaan_stack/nirmaan_stack/doctype/vendors/vendors.json
Labels: UI, backend

fix: revoked item addition for hvac package items
  nirmaan_stack/fixtures/category.json
Labels: backend

fix: Leger
  frontend/src/pages/vendors/components/LedgerTableRow.tsx
  frontend/src/pages/vendors/components/POVendorLedger.tsx
  frontend/src/pages/vendors/components/VirtualizedLedgerTable.tsx
  nirmaan_stack/api/vendor/get_vendor_po_invoices.py
  nirmaan_stack/nirmaan_stack/doctype/vendors/vendors.json
Labels: UI, backend

fix: Vendor Ledger bug fixes and unified vendors page with vendor type filter
  frontend/src/pages/vendors/VendorsPage.tsx
  frontend/src/pages/vendors/components/POVendorLedger.tsx
  frontend/src/pages/vendors/components/VirtualizedLedgerTable.tsx
  frontend/src/pages/vendors/vendor.tsx
  nirmaan_stack/nirmaan_stack/doctype/vendors/vendors.json
Labels: UI, backend

feat: added inflow report within Project Report Type
  frontend/src/pages/reports/ReportsContainer.tsx
  frontend/src/pages/reports/components/InflowReportTable.tsx
  frontend/src/pages/reports/components/ProjectReports.tsx
  frontend/src/pages/reports/config/inflowPaymentsTable.config.ts
  frontend/src/pages/reports/store/useReportStore.ts
Labels: UI

feat: redirect project cash sheet to inflow report
  frontend/src/hooks/useServerDataTable.ts
  frontend/src/pages/reports/ReportsContainer.tsx
  frontend/src/pages/reports/components/columns/projectColumns.tsx
Labels: UI

feat: added dynamic summary card to inflow payments & report
  frontend/src/pages/inflow-payments/InFlowPayments.tsx
  frontend/src/pages/reports/components/InflowReportTable.tsx
Labels: UI

fix:outflow Reports Created
  frontend/src/pages/reports/ReportsContainer.tsx
  frontend/src/pages/reports/components/ProjectReports.tsx
  frontend/src/pages/reports/components/columns/outflowColumns.tsx
  frontend/src/pages/reports/components/columns/projectColumns.tsx
  frontend/src/pages/reports/components/outflowReportTable.tsx
  frontend/src/pages/reports/config/outflowReportsTable.config.ts
  frontend/src/pages/reports/hooks/useOutflowReportData.ts
  frontend/src/pages/reports/store/useReportStore.ts
Labels: UI

feat: Legder new vendors field add for Balance
  frontend/src/pages/vendors/components/EditBalancingDialog.tsx
  frontend/src/pages/vendors/components/LedgerTableRow.tsx
  frontend/src/pages/vendors/components/POVendorLedger.tsx
  frontend/src/pages/vendors/components/VirtualizedLedgerTable.tsx
Labels: UI

fix:Delivery notes
  frontend/src/pages/DeliveryNotes/components/deliveryNoteItemsDisplay.tsx
  nirmaan_stack/api/delivery_notes/update_delivery_note.py
  nirmaan_stack/nirmaan_stack/doctype/vendors/vendors.json
Labels: UI, backend

feat: added top 5 expenses in expenses tables
  frontend/src/hooks/useServerDataTable.ts
  frontend/src/pages/NonProjectExpenses/NonProjectExpensesPage.tsx
  frontend/src/pages/ProjectExpenses/ProjectExpensesList.tsx
  nirmaan_stack/api/data-table.py
Labels: UI, backend

feat: daily worker to update item_status
  nirmaan_stack/hooks.py
  nirmaan_stack/tasks/item_status_update.py
Labels: backend

fix:Report-outflow(non-projects)
  frontend/src/pages/NonProjectExpenses/NonProjectExpensesPage.tsx
  frontend/src/pages/reports/ReportsContainer.tsx
  frontend/src/pages/reports/components/ProjectReports.tsx
  frontend/src/pages/reports/store/useReportStore.ts
Labels: UI

fix: outflow table fixes
  frontend/src/pages/reports/ReportsContainer.tsx
  frontend/src/pages/reports/components/columns/outflowColumns.tsx
  frontend/src/pages/reports/components/columns/projectColumns.tsx
  frontend/src/pages/reports/components/outflowReportTable.tsx
Labels: UI

fix:ledger
  frontend/src/pages/vendors/components/POVendorLedger.tsx
  frontend/src/pages/vendors/components/VendorMaterialOrdersTable.tsx
  frontend/src/pages/vendors/components/VirtualizedLedgerTable.tsx
  nirmaan_stack/api/vendor/get_vendor_po_invoices.py
Labels: UI, backend

fix:page error
  frontend/src/pages/reports/components/outflowReportTable.tsx
  frontend/src/pages/reports/hooks/useOutflowReportData.ts
Labels: UI

fix:Dashboard-Pm
  frontend/src/components/ManPowerReport.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/layout/dashboards/dashboard-pm.tsx
  frontend/src/pages/DeliveryNotes/deliverynote.tsx
  frontend/src/pages/DeliveryNotes/deliverynotes.tsx
  frontend/src/pages/ServiceRequests/service-request/list-sr.tsx
Labels: UI

fix:AQ-outflowreports-taskHistory
  frontend/src/hooks/useOrderTotals.ts
  frontend/src/pages/ApprovedQuotationsFlow/ApprovedQuotationsTable.tsx
  frontend/src/pages/ApprovedQuotationsFlow/approvedQuotations.constants.ts
  frontend/src/pages/reports/components/columns/outflowColumns.tsx
  frontend/src/pages/reports/hooks/useOutflowReportData.ts
  frontend/src/pages/tasks/invoices/components/PendingTasksTable.tsx
  frontend/src/pages/tasks/invoices/components/TaskHistoryTable.tsx
  frontend/src/pages/tasks/invoices/components/columns.tsx
Labels: UI

feat:lnvoice ledger for SR
  frontend/src/pages/vendors/components/POVendorLedger.tsx
  nirmaan_stack/api/vendor/get_vendor_po_invoices.py
Labels: UI, backend

fix: ui fixes and expense type fixture
  frontend/src/pages/DeliveryNotes/deliverynotes.tsx
  frontend/src/pages/vendors/components/VirtualizedLedgerTable.tsx
  nirmaan_stack/fixtures/expense_type.json
Labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
