Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

feat: Add Vendor Delivery Notes tab and table to the vendor details page.
  frontend/src/pages/vendors/components/VendorDeliveryNotesTable.tsx
  frontend/src/pages/vendors/vendor.tsx
Labels: UI

feat: add delivery date columns to PO data tables and timeline
  frontend/src/config/queryKeys.ts
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/config/purchaseOrdersTable.config.ts
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  frontend/src/pages/reports/components/POReports.tsx
  frontend/src/pages/reports/components/columns/poColumns.tsx
  frontend/src/pages/reports/config/poReportsTable.config.ts
  frontend/src/pages/vendors/components/VendorMaterialOrdersTable.tsx
Labels: UI

fix(po-revision): resolve duplicate payments and add due_date logic for credit terms
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: backend

feat: add is_dispatched field and expected_delivery_date for item-level dispatch tracking
  frontend/src/types/NirmaanStack/ProcurementOrders.ts
  nirmaan_stack/nirmaan_stack/doctype/procurement_orders/procurement_orders.json
  nirmaan_stack/nirmaan_stack/doctype/purchase_order_item/purchase_order_item.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/add_is_dispatched_field.py
Labels: UI, backend

fix: Project Progress Report , currently we have they Assignees this have they list show delay of don't have depency array ::Fix
  frontend/src/pages/reports/components/ProjectProgressReports.tsx
Labels: UI

feat: Prefix delivery note numbers with 'DN-' or 'RN-' based on return status and refactor user data fetching to use the shared `useUsersList` hook.
  frontend/src/pages/vendors/components/VendorDeliveryNotesTable.tsx
Labels: UI

feat: Add Alert, AlertDescription, and Info icon imports to the component.
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
Labels: UI

fix(frontend): align SWR cache keys to fix project value refresh delay
  frontend/src/pages/projects/components/CustomerPODeatilsCard.tsx
  frontend/src/pages/projects/edit-project-form.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/projects/queries.ts
Labels: UI

feat: enhance DN migration patch with sort order fix and catch-all pass
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/migrate_delivery_data_to_delivery_notes.py
Labels: backend

feat: Implement role-based access control for TDS item actions and simplify 'TDS Repository' tab label to 'TDS'.
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/projects/TDSRepository/NoTDSRepositoryView.tsx
  frontend/src/pages/projects/TDSRepository/TDSRepositoryView.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsHistoryTable.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/tds/TDSRepositoryMaster.tsx
Labels: UI

feat: Implement "Vendor Delivery Challan" generation with a new dialog for item modification and download functionality.
  frontend/src/pages/DeliveryNotes/components/VendorDCDialog.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/DeliveryPivotTable.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/PivotTableHeader.tsx
  frontend/src/pages/DeliveryNotes/hooks/useDownloadDN.ts
Labels: UI

fix: export raw numeric lakhs values in project table CSVs
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/reports/components/ProjectReports.tsx
  frontend/src/pages/reports/components/columns/projectColumns.tsx
  frontend/src/utils/FormatPrice.ts
Labels: UI

fix: default DN>DC Quantity Report to show actionable statuses only
  frontend/src/pages/reports/components/DNDCQuantityReport.tsx
Labels: UI

fix: disable virtualization in Material Usage tables to prevent flickering
  frontend/src/pages/projects/components/POWiseMaterialTable.tsx
  frontend/src/pages/projects/components/ProjectMaterialUsageTab.tsx
  frontend/src/pages/projects/components/VirtualizedMaterialTable.tsx
Labels: UI

fix: remove legacy generateUserPermissions hook causing PMO assignment bug
  nirmaan_stack/hooks.py
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.py
Labels: backend

fix: exempt Delivery Note operations from CEO Hold blocking
  frontend/.claude/context/domain/ceo-hold.md
  frontend/.claude/context/domain/delivery-notes.md
  frontend/src/pages/DeliveryNotes/deliverynote.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
Labels: UI

feat: VIew-existing nlist update DNDownloadButton to accept and pass `noteNo` to the download function.
  frontend/src/pages/DeliveryNotes/deliverynotes.tsx
Labels: UI

feat: Apply conditional styling to delivery note rows and items to highlight return status.
  frontend/src/pages/DeliveryNotes/deliverynotes.tsx
Labels: UI

feat: enhance Inventory Report with delivery filter, estimated cost column, and Procurement Exec access
  frontend/src/pages/projects/components/ProjectMaterialUsageTab.tsx
  frontend/src/pages/projects/hooks/useMaterialUsageData.ts
  frontend/src/pages/reports/ReportsContainer.tsx
  frontend/src/pages/reports/components/InventoryReport.tsx
  frontend/src/pages/reports/store/useReportStore.ts
Labels: UI

fix: fix 3-day cooldown, filter zero-delivery items, add copy previous report
  frontend/src/pages/remaining-items/components/RemainingItemsForm.tsx
  frontend/src/pages/remaining-items/hooks/useEligibleItems.ts
  frontend/src/pages/remaining-items/hooks/useRemainingItemsForm.ts
  frontend/src/pages/remaining-items/index.tsx
  nirmaan_stack/api/remaining_items_report.py
Labels: UI, backend

feat: update doctype permissions for Procurement Orders and Remaining Items Report
  nirmaan_stack/nirmaan_stack/doctype/procurement_orders/procurement_orders.json
  nirmaan_stack/nirmaan_stack/doctype/remaining_items_report/remaining_items_report.js
  nirmaan_stack/nirmaan_stack/doctype/remaining_items_report/remaining_items_report.json
  nirmaan_stack/nirmaan_stack/doctype/remaining_items_report/test_remaining_items_report.py
Labels: backend

feat: add backend API for cross-project item-wise inventory summary
  nirmaan_stack/api/inventory_item_wise.py
Labels: backend

feat: add Inventory Item-Wise page with expandable project drill-down
  frontend/src/pages/inventory/InventoryItemWisePage.tsx
  frontend/src/pages/inventory/hooks/useInventoryItemWise.ts
  frontend/src/pages/inventory/inventory.types.ts
Labels: UI

feat: wire Inventory page into sidebar and route config
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
Labels: UI

fix: reorder sidebar to place TDS items together
  frontend/src/components/layout/NewSidebar.tsx
Labels: UI

feat: rename "WLD & RR" work/procurement package to "Critical Room ELV"
  nirmaan_stack/fixtures/category.json
  nirmaan_stack/fixtures/procurement_packages.json
  nirmaan_stack/fixtures/work_packages.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/rename_wld_rr_to_critical_room_elv.py
Labels: backend

feat: add Amount Due column to vendor WO/Material tables, rename tabs
  frontend/src/pages/ServiceRequests/service-request/approved-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/finalized-sr-list.tsx
  frontend/src/pages/vendors/vendor.tsx
Labels: UI

refactor: migrate InvoiceDataDialog from JSON invoice_data to Vendor Invoices doctype
  frontend/src/pages/ProcurementOrders/purchase-order/components/InvoiceDataDialog.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/vendors/data/useVendorQueries.ts
Labels: UI

feat: add clickable Invoice/Payment dialogs and Amount Due to Material Orders table
  frontend/src/pages/vendors/components/VendorMaterialOrdersTable.tsx
Labels: UI

feat: Add custom hooks for material plan data fetching and refactor critical PO category retrieval.
  frontend/src/pages/projects/CriticalPOTasks/NoCriticalPOTasksView.tsx
  frontend/src/pages/projects/components/planning/AddMaterialPlanForm.tsx
  frontend/src/pages/projects/data/material-plan/useMaterialPlanMutations.ts
Labels: UI

refactor: Redesign the project summary card with a new `StatusCountPill` component, add mobile expand/collapse functionality, and improve its responsive layout.
  frontend/src/pages/projects/projects.tsx
Labels: UI

Add task wise tab in commision report
  frontend/src/pages/CommissionReport/commission-report-list.tsx
  frontend/src/pages/CommissionReport/components/TaskWiseTable.tsx
Labels: UI

refine commission report and fix type error
  frontend/src/pages/CommissionReport/components/CommissionPackagesMaster.tsx
  frontend/src/pages/CommissionReport/hooks/useCommissionMasters.ts
  frontend/src/pages/CommissionReport/types/index.ts
Labels: UI

feat: Introduce WO Service Item and Category DocTypes, implement WO Service Packages UI, and enhance Commission Report functionality.
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/wo-service-packages.tsx
  frontend/src/pages/WOServicePackage/WOServicePackagesMaster.tsx
  nirmaan_stack/nirmaan_stack/doctype/wo_service_category/test_wo_service_category.py
  nirmaan_stack/nirmaan_stack/doctype/wo_service_category/wo_service_category.js
  nirmaan_stack/nirmaan_stack/doctype/wo_service_category/wo_service_category.json
  nirmaan_stack/nirmaan_stack/doctype/wo_service_category/wo_service_category.py
  nirmaan_stack/nirmaan_stack/doctype/wo_service_item/test_wo_service_item.py
  nirmaan_stack/nirmaan_stack/doctype/wo_service_item/wo_service_item.js
  nirmaan_stack/nirmaan_stack/doctype/wo_service_item/wo_service_item.json
  nirmaan_stack/nirmaan_stack/doctype/wo_service_item/wo_service_item.py
Labels: UI, backend

doc: claude file changes
  frontend/.claude/CHANGELOG.md
  frontend/.claude/context/_index.md
  frontend/.claude/context/domain/po-revisions.md
  frontend/CLAUDE.md
Labels: none

feat: add PO Adjustments system for post-revision payment reconciliation
  frontend/src/pages/POAdjustment/POAdjustmentButton.tsx
  frontend/src/pages/POAdjustment/POAdjustmentDialog.tsx
  frontend/src/pages/POAdjustment/POAdjustmentHistory.tsx
  frontend/src/pages/POAdjustment/data/poAdjustment.constants.ts
  frontend/src/pages/POAdjustment/data/usePOAdjustmentMutations.ts
  frontend/src/pages/POAdjustment/data/usePOAdjustmentQueries.ts
  frontend/src/pages/POAdjustment/hooks/usePOAdjustment.ts
  nirmaan_stack/api/po_adjustments/__init__.py
  nirmaan_stack/api/po_adjustments/_payment_utils.py
  nirmaan_stack/api/po_adjustments/adjustment_logic.py
  nirmaan_stack/api/sidebar_counts.py
  nirmaan_stack/integrations/controllers/project_payments.py
  nirmaan_stack/nirmaan_stack/doctype/po_adjustment_items/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/po_adjustment_items/po_adjustment_items.json
  nirmaan_stack/nirmaan_stack/doctype/po_adjustment_items/po_adjustment_items.py
  nirmaan_stack/nirmaan_stack/doctype/po_adjustments/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/po_adjustments/po_adjustments.json
  nirmaan_stack/nirmaan_stack/doctype/po_adjustments/po_adjustments.py
  nirmaan_stack/nirmaan_stack/doctype/project_payments/project_payments.py
Labels: UI, backend

refactor: update socket events and sidebar counts for revision/adjustment system
  frontend/src/services/socketListeners.ts
  frontend/src/zustand/eventListeners.ts
  frontend/src/zustand/useDocCountStore.ts
Labels: UI

refactor: improve PO details UI and combine revision/adjustment sections
  frontend/src/pages/POAdjustment/POAdjustmentButton.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/LinkedCriticalPOTag.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PORevisionsAndAdjustments.tsx
Labels: UI

refactor: Centralize Commission Report data fetching, mutations, types, and constants into dedicated modules.
  frontend/src/pages/CommissionReport/commission-report-list.tsx
  frontend/src/pages/CommissionReport/commission.constants.ts
  frontend/src/pages/CommissionReport/components/CommissionPackagesMaster.tsx
  frontend/src/pages/CommissionReport/components/NewTrackerModal.tsx
  frontend/src/pages/CommissionReport/components/RenameZoneDialog.tsx
  frontend/src/pages/CommissionReport/components/TaskWiseTable.tsx
  frontend/src/pages/CommissionReport/data/useCommissionMutations.ts
  frontend/src/pages/CommissionReport/data/useCommissionQueries.ts
  frontend/src/pages/CommissionReport/hooks/useCommissionMasters.ts
  frontend/src/pages/CommissionReport/hooks/useCommissionTrackerLogic.ts
  frontend/src/pages/CommissionReport/types/index.ts
Labels: UI

docs: claude file changes
  CLAUDE.md
  frontend/.claude/CHANGELOG.md
  frontend/.claude/context/_index.md
  frontend/.claude/context/domain/po-adjustments.md
  frontend/.claude/context/domain/po-merge.md
  frontend/.claude/context/domain/po-revisions.md
  frontend/CLAUDE.md
Labels: none

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
