Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

refactor: derive categories from items in PR summary, remove parseCategoryList helper
  frontend/src/components/pr-summary.tsx
  frontend/src/utils/safeJsonParse.ts
Labels: UI

refactor: remove dead PO Revision query hooks replaced by useItemCatalog
  frontend/src/pages/PORevision/data/poRevision.constants.ts
  frontend/src/pages/PORevision/data/usePORevisionQueries.ts
Labels: UI

fix: resolving merge confilct issues
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  frontend/src/pages/projects/edit-project-form.tsx
  frontend/src/pages/projects/project-form/steps/PackageSelectionStep.tsx
Labels: UI

fix: added fixtures for PMO Dashboard
  nirmaan_stack/fixtures/pmo_task_category.json
  nirmaan_stack/fixtures/pmo_task_master.json
  nirmaan_stack/hooks.py
Labels: backend

add dynamically flexible styling for dashboard list
  frontend/src/pages/PMODashboard/pmo-dashboard-list.tsx
Labels: UI

feat: add Generate RFQ print format and update dialog state handling for printing
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/GenerateRFQDialog.tsx
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

wip:step 1 Identification, listing and phased elimination of react-to-print usage in the frontend.
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReport.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPdf.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/GenerateRFQDialog.tsx
  frontend/src/pages/Retired Components/MilestoneReportPDF.tsx
  frontend/src/pages/Retired Components/OverallMilestonesReportPDF.tsx
  frontend/src/pages/ServiceRequests/approved-sr/components/SRInvoicePreviewSheet.tsx
  frontend/src/pages/ServiceRequests/service-request/SRPdf.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/pages/projects/project.tsx
Labels: UI

chore: move ManPower components to retired directory
  frontend/src/components/ManPowerOverallSummary.tsx
  frontend/src/components/ManPowerReport.tsx
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/pages/Retired Components/ManPowerOverallSummary.tsx
  frontend/src/pages/Retired Components/ManPowerReport.tsx
  frontend/src/pages/pdf.tsx
Labels: UI

feat: Design-Tracker::conditionally render handover UI elements and update PO print format HTML
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

feature: consolidate package settings into a centralized tabbed interface and update navigation routes
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/PackagesSettings/PackagesSettings.tsx
  frontend/src/pages/PackagesSettings/config/packageSettingsTabs.constants.ts
Labels: UI

feat(gst-reporting): standardise GST calculations and expand UI visibility
  frontend/src/pages/ProjectInvoices/AllProjectInvoices.tsx
  frontend/src/pages/ProjectInvoices/config/projectInvoices.config.tsx
  frontend/src/pages/reports/hooks/useProjectGSTData.ts
  frontend/src/pages/tasks/invoices/components/PoInvoices.tsx
  frontend/src/pages/tasks/invoices/components/SrInvoices.tsx
  nirmaan_stack/api/invoices/po_wise_invoice_data.py
  nirmaan_stack/api/invoices/sr_wise_invoice_data.py
Labels: UI, backend

feat: Grant full permissions for Project GST doctype to All Nirmaan roles
  nirmaan_stack/nirmaan_stack/doctype/project_gst/project_gst.json
Labels: backend

feat: Apptove PO :replace work package column with PR tags display and add faceted filtering support
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-select-vendor.tsx
Labels: UI

feat: add CSV export to GST report, include delivered amount in PO table.
  frontend/src/pages/reports/components/ProjectGSTReport.tsx
  frontend/src/pages/vendors/components/VendorMaterialOrdersTable.tsx
Labels: UI

Feat: allow billing category selection for Products creation and edit ....
  frontend/src/pages/Items/components/AddItemDialog.tsx
  frontend/src/pages/Items/item.tsx
  frontend/src/pages/Items/itemsPage.tsx
  nirmaan_stack/nirmaan_stack/doctype/items/items.json
  nirmaan_stack/nirmaan_stack/doctype/items/items.py
Labels: UI, backend

feat: add item status field to item editing and disable cache for items list page
  frontend/src/pages/Items/item.tsx
  frontend/src/pages/Items/itemsPage.tsx
Labels: UI

fix: correct link paths and remove trailing whitespace in routing and string formatting:Inflow customer details links fix, Quotest Target card po link fix :redirection
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/HistoricalQuotesHoverCard.tsx
  frontend/src/pages/inflow-payments/InFlowPayments.tsx
Labels: UI

feat(procurement): enhanced PO adjustment with manual entries and file uploads
  frontend/src/pages/POAdjustment/POAdjustmentDialog.tsx
  frontend/src/pages/POAdjustment/hooks/usePOAdjustment.ts
  frontend/src/pages/PORevision/components/Step1/Step1ReviseItems.tsx
Labels: UI

feat: consolidate Service Request navigation into unified 'All WO' view
  frontend/src/pages/ServiceRequests/ServiceRequestsTabs.tsx
  frontend/src/pages/ServiceRequests/config/srTabs.constants.ts
  frontend/src/pages/ServiceRequests/service-request/all-sr-list.tsx
  nirmaan_stack/api/sidebar_counts.py
Labels: UI, backend

feat: update Vendor profile with unified 'All WO' sub-navigation
  frontend/src/pages/vendors/vendor.tsx
Labels: UI

feat: enhance Project SR Summary status mapping and facet counts
  frontend/src/pages/projects/components/ProjectSRSummaryTable.tsx
Labels: UI

feat: add DC Wise and MIR Wise tabs to Material Usage section
  frontend/src/pages/projects/components/DCMIRWiseMaterialTable.tsx
  frontend/src/pages/projects/components/ProjectMaterialUsageTab.tsx
  frontend/src/pages/projects/hooks/useMaterialUsageData.ts
Labels: UI

docs: claude file additions
  frontend/.claude/context/domain/delivery-notes.md
Labels: none

feat: add DN > DC Report to project DC & MIR tab and support Dispatched PO statuses
  frontend/src/pages/projects/components/ProjectDCMIRTab.tsx
  frontend/src/pages/projects/data/root/useProjectRootApi.ts
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/reports/components/DNDCQuantityReport.tsx
  frontend/src/pages/reports/hooks/useDNDCQuantityData.ts
  nirmaan_stack/api/delivery_challans_data.py
  nirmaan_stack/api/procurement_orders.py
Labels: UI, backend

fix: support Partially Dispatched POs in DN hub workflows
  frontend/src/pages/DeliveryNotes/deliverynote.tsx
  frontend/src/pages/DeliveryNotes/deliverynotes.tsx
Labels: UI

feat: add Billing Category column to PO Wise Material Usage tab
  frontend/src/pages/projects/components/POWiseMaterialTable.tsx
Labels: UI

docs: claude updates
  frontend/.claude/context/domain/delivery-notes.md
Labels: none

fix: patch change for pr tags
  nirmaan_stack/patches.txt
Labels: none

refactor: simplify dashboard metrics by removing unused cards and add packages settings
  frontend/src/components/layout/dashboards/dashboard-default.tsx
Labels: UI

feat: add PR Tracker sidebar item and update Critical PR Tags permissions for Nirmaan roles
  frontend/src/components/layout/NewSidebar.tsx
  nirmaan_stack/nirmaan_stack/doctype/critical_pr_tags/critical_pr_tags.json
Labels: UI, backend

feat: show orphaned DN items in pivot table after PO revision
  frontend/src/pages/DeliveryNotes/components/pivot-table/PivotTableBody.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/types.ts
  frontend/src/pages/DeliveryNotes/hooks/useDeliveryEdit.ts
  frontend/src/pages/DeliveryNotes/hooks/useDeliveryPivotData.ts
Labels: UI

fix: recalculate vendor_status immediately on credit limit change
  frontend/.claude/context/domain/vendor-hold.md
  frontend/src/pages/vendors/components/EditCreditLimitDialog.tsx
  nirmaan_stack/api/vendor_credit.py
Labels: UI, backend

fix: vendor category fix for vendor credit calculation
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/category.py
  nirmaan_stack/nirmaan_stack/doctype/procurement_requests/procurement_requests.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/fix_stale_vendor_category_json.py
Labels: backend

feat: add summary card, remove Package column, fix project filter in Vendor Material Orders
  frontend/src/pages/vendors/components/VendorMaterialOrdersTable.tsx
  frontend/src/pages/vendors/vendor.tsx
Labels: UI

feat: replace Package column with Critical PO Tags in PO Summary table
  frontend/src/components/helpers/CriticalPOCell.tsx
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  frontend/src/pages/projects/data/tab/summary/useProjectPOSummaryApi.ts
  frontend/src/pages/reports/components/DCMIRReports.tsx
  frontend/src/pages/reports/components/columns/dcmirColumns.tsx
Labels: UI

fix: patch version update for pr tags
  nirmaan_stack/patches.txt
Labels: none

feat: Optimized Project GST Detailed Report with human-readable data mapping, advanced tax analytics, and premium compact UI.
  frontend/src/pages/reports/components/GSTReport/ProjectGSTReportDetails.tsx
  frontend/src/pages/reports/components/ProjectGSTReport.tsx
  frontend/src/pages/reports/hooks/useProjectGSTData.ts
  frontend/src/pages/reports/hooks/useProjectGSTDetailsData.ts
Labels: UI

fix: bug fix for new vendor addition and single item pr approval
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRView.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/ConfirmationDialog.tsx
  frontend/src/pages/vendors/new-vendor.tsx
Labels: UI

refactor: remove category_list columns and rename Header Tags to Headers across procurement request tables
  frontend/src/pages/ProcurementRequests/ApproveNewPR/approve-pr.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-select-vendor.tsx
  frontend/src/pages/ProcurementRequests/procurement-requests.tsx
  frontend/src/pages/projects/components/ProjectPRSummaryTable.tsx
Labels: UI

fix: Enable item deletion(Add Missing Products) and rejection using item_id as fallback and implement draft-first support for new item additions..
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useApprovePRLogic.ts
Labels: UI

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
