Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

feat(boq): SheetDataGrid 3d-iii -- color-by-area, role badges, dim unmapped, freeze header rows
  frontend/src/pages/boq-wizard/SheetConfigPanel.tsx
  frontend/src/pages/boq-wizard/SheetDataGrid.tsx
  frontend/src/pages/boq-wizard/SheetSpokePage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
Labels: UI

docs(boq): Slice 3d-iii -- plan-doc + frontend CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): Module 3 batched UI-fixes Part 1 -- S1 top-header conditional subform + data-start restyle + S3 unmapped warning
  frontend/src/pages/boq-wizard/SheetConfigPanel.tsx
Labels: UI

docs(boq): Module 3 batched UI-fixes Part 1 -- plan-doc + frontend CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): hub back-to-project semantic route -- Finding #3 Part 2
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
Labels: UI

docs(boq): Module 3 batched UI-fixes Part 2 -- plan-doc + frontend CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): Section-3 role helper text + unmapped-warning copy fix -- Part 3
  frontend/src/pages/boq-wizard/SheetConfigPanel.tsx
Labels: UI

docs(boq): Module 3 batched UI-fixes Part 3 -- plan-doc + frontend CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): Section-3 role tooltips -- Part 3b replaces inline helper paragraph
  frontend/src/pages/boq-wizard/SheetConfigPanel.tsx
Labels: UI

docs(boq): Module 3 batched UI-fixes Part 3b -- plan-doc + frontend CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): Module 3 3e -- two-layer review gate in spoke + retire hub Mark-reviewed (keep Set-pending)
  frontend/src/pages/boq-wizard/SheetCard.tsx
  frontend/src/pages/boq-wizard/SheetConfigPanel.tsx
  frontend/src/pages/boq-wizard/SheetSpokePage.tsx
Labels: UI

docs(boq): Module 3 3e -- plan-doc + frontend CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

refactor(sr): drop JSON fallbacks and `.list` synthesis; seed total_amount on insert
  frontend/src/hooks/useOrderTotals.ts
  frontend/src/pages/ServiceRequests/approved-sr/ApprovedSRView.tsx
  frontend/src/pages/ServiceRequests/approved-sr/components/SRItemsTable.tsx
  frontend/src/pages/ServiceRequests/approved-sr/hooks/useApprovedSRData.ts
  frontend/src/pages/ServiceRequests/service-request/approve-service-request.tsx
  frontend/src/pages/ServiceRequests/sr-form/amend/transformers.ts
  nirmaan_stack/api/sr_items.py
  nirmaan_stack/fixtures/print_format.json
  nirmaan_stack/nirmaan_stack/doctype/service_requests/service_requests.py
Labels: UI, backend

fix(boq): Module 3 3e-fix -- bulk-accept clears all section sparkles
  frontend/src/pages/boq-wizard/SheetConfigPanel.tsx
Labels: UI

docs(boq): Module 3 3e-fix -- plan-doc + frontend CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

docs(boq): 3e-fix -- record commit hash in plan-doc
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(design-tracker): add "Revision Submitted" status + editable Last Submitted
  frontend/src/pages/ProjectDesignTracker/components/BulkStatusDialog.tsx
  frontend/src/pages/ProjectDesignTracker/components/TaskEditModal.tsx
  frontend/src/pages/ProjectDesignTracker/config/taskTableColumns.tsx
  frontend/src/pages/ProjectDesignTracker/hooks/useDesignMasters.ts
  frontend/src/pages/ProjectDesignTracker/types/index.ts
  nirmaan_stack/nirmaan_stack/doctype/design_tracker_task_child_table/design_tracker_task_child_table.py
  nirmaan_stack/nirmaan_stack/doctype/project_design_tracker/project_design_tracker.py
Labels: UI, backend

feat(boq): Module 3 3f -- Section 4 work-package assignment (in-gate, required) + remove orphaned touch
  frontend/src/pages/boq-wizard/SheetConfigPanel.tsx
  frontend/src/pages/boq-wizard/SheetSpokePage.tsx
Labels: UI

docs(boq): Module 3 3f -- plan-doc + frontend CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(boq): Module 3 3f-fix -- Work Headers picker sort client-side (order is a PG reserved word)
  frontend/src/pages/boq-wizard/SheetConfigPanel.tsx
Labels: UI

feat(boq): Module 3 3f-readback -- get_boq_work_packages endpoint + rewire hub/spoke work-package reads
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/SheetCard.tsx
  frontend/src/pages/boq-wizard/SheetConfigPanel.tsx
  frontend/src/pages/boq-wizard/SheetSpokePage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/test_update_sheet_draft.py
  nirmaan_stack/api/boq/wizard/update_sheet_draft.py
Labels: UI, backend

docs(boq): reformat plan-doc Status blob to multi-line (wedge-hazard fix, content unchanged)
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(boq): Module 3 3f-fix + 3f-readback notes; Module 3 complete; wizard tests 89
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): Phase-1 Slice 1 -- BoQ Review Row doctype + MappingConfig assembly + ResolvedRow flattener; +Parsed wizard_status; 31 tests
  nirmaan_stack/api/boq/wizard/parse_run.py
  nirmaan_stack/api/boq/wizard/test_parse_run.py
  nirmaan_stack/nirmaan_stack/doctype/boq_review_row/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_review_row/boq_review_row.json
  nirmaan_stack/nirmaan_stack/doctype/boq_review_row/boq_review_row.py
  nirmaan_stack/nirmaan_stack/doctype/boq_review_row/test_boq_review_row.py
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet_draft/boq_sheet_draft.json
Labels: backend

docs(boq): Phase-1 Slice 1 -- plan-doc + root CLAUDE.md
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Phase-1 Slice 2 -- run_parse worker + FIX 1 sheet_name injection + FIX 2 list-JSON pre-serialization; +13 tests
  nirmaan_stack/api/boq/wizard/parse_run.py
  nirmaan_stack/api/boq/wizard/test_parse_run.py
Labels: backend

docs(boq): Phase-1 Slice 2 -- run_parse worker shape + FIX 1/2 notes + status lifecycle + event design
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

refactor(sr): migrate legacy SR pages to work_order_items and drop JSON fallbacks
  frontend/src/components/helpers/ItemsHoverCard.tsx
  frontend/src/pages/ServiceRequests/service-request/SRPdf.tsx
  frontend/src/pages/ServiceRequests/service-request/all-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-amend-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-amended-sr.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-service-request-list.tsx
  frontend/src/pages/ServiceRequests/service-request/finalized-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/new-service-request.tsx
  frontend/src/pages/ServiceRequests/service-request/select-service-vendor-list.tsx
  frontend/src/pages/ServiceRequests/service-request/select-service-vendor.tsx
Labels: UI

fix(reports): correct SR GST split for non-GST SRs; sum sr.total_amount directly
  frontend/src/config/queryKeys.ts
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/reports/hooks/useProjectGSTData.ts
  frontend/src/pages/reports/hooks/useProjectGSTDetailsData.ts
  frontend/src/pages/reports/hooks/useProjectReportCalculations.ts
Labels: UI

chore(sr/backend): snapshot work_order_items on SR delete; refresh docstring
  nirmaan_stack/api/vendor/get_vendor_po_invoices.py
  nirmaan_stack/integrations/controllers/delete_doc_versions.py
Labels: backend

fix: disable task name editing for all roles in project design tracker views.
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
Labels: UI

feat(boq): BOQs.master_preamble field + worker write; +1 test (45 test_parse_run)
  nirmaan_stack/api/boq/wizard/parse_run.py
  nirmaan_stack/api/boq/wizard/test_parse_run.py
  nirmaan_stack/nirmaan_stack/doctype/boqs/boqs.json
Labels: backend

docs(boq): BOQs.master_preamble field -- plan + CLAUDE.md updated
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): general-specs pointer outranks Skip/Hidden in assemble_mapping_config; +2 tests (47)
  nirmaan_stack/api/boq/wizard/parse_run.py
  nirmaan_stack/api/boq/wizard/test_parse_run.py
Labels: backend

docs(boq): rule-order fix + deferred multi-general-specs requirement
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

chore: disable unused Nirmaan role profiles and update role fixtures
  nirmaan_stack/fixtures/role.json
  nirmaan_stack/fixtures/role_profile.json
Labels: backend

feat: add new Nirmaan role and role profile fixtures for tendering, sales, billing, accounting, and procurement teams
  nirmaan_stack/fixtures/role.json
  nirmaan_stack/fixtures/role_profile.json
Labels: backend

feat(boq): Slice 2c -- general-specs scalar->child table migration + parser A-narrow reshape + worker fan-out + frontend keep-alive
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/parse_run.py
  nirmaan_stack/api/boq/wizard/test_parse_run.py
  nirmaan_stack/api/boq/wizard/test_update_sheet_draft.py
  nirmaan_stack/api/boq/wizard/update_sheet_draft.py
  nirmaan_stack/nirmaan_stack/doctype/boq_general_specs_sheet/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_general_specs_sheet/boq_general_specs_sheet.json
  nirmaan_stack/nirmaan_stack/doctype/boq_general_specs_sheet/boq_general_specs_sheet.py
  nirmaan_stack/nirmaan_stack/doctype/boqs/boqs.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/migrate_general_specs_to_child_table.py
  nirmaan_stack/services/boq_parser/cycle_3_rerun.py
  nirmaan_stack/services/boq_parser/orchestrator.py
  nirmaan_stack/services/boq_parser/test_orchestrator.py
Labels: UI, backend

docs(boq): Slice 2c -- general-specs child table + A-narrow reshape + worker/frontend
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(boq): Slice 2-fix -- teach frontend about "Parsed" wizard_status
  frontend/src/pages/boq-wizard/SheetCard.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
Labels: UI
