Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

chore(boq-parser): correct TARGETS filenames --- multi_area_ prefix
  nirmaan_stack/services/boq_parser/single_area_triage_1_9i.py
Labels: backend

docs(boq): expanded-retest fixture-name correction docs
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(boq): Bug 6 pre-implementation audit - convenience-field computation
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Bug 6 fix - convenience field summation cascade
  nirmaan_stack/services/boq_parser/classifier.py
  nirmaan_stack/services/boq_parser/test_classifier.py
  nirmaan_stack/services/boq_parser/test_orchestrator.py
Labels: backend

docs(boq): Bug 6 implementation - cascade design + boq-upload-plan log
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(boq): CLAUDE.md last-updated SHA correction
  CLAUDE.md
Labels: none

feat(boq): Bug 7 + Bug 9 keyword expansion + CRLF remediation (sec 9 #85 + #86)
  .gitattributes
  nirmaan_stack/services/boq_parser/classifier.py
  nirmaan_stack/services/boq_parser/classifier_audit.py
  nirmaan_stack/services/boq_parser/test_auto_guess.py
  nirmaan_stack/services/boq_parser/test_classifier.py
  nirmaan_stack/services/boq_parser/test_orchestrator.py
Labels: backend

docs(boq): Bug 7 + Bug 9 combined remediation log (feat 9a5b16cb)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat: add PMO task auto-renewal with submission history
  frontend/src/pages/PMODashboard/components/EditTaskModal.tsx
  frontend/src/pages/PMODashboard/components/PMOPackagesMaster.tsx
  frontend/src/pages/PMODashboard/components/TaskHistoryDrawer.tsx
  frontend/src/pages/PMODashboard/pmo-project-detail.tsx
  nirmaan_stack/api/pmo_dashboard.py
  nirmaan_stack/api/pmo_recurrence.py
  nirmaan_stack/hooks.py
  nirmaan_stack/nirmaan_stack/doctype/pmo_task_master/pmo_task_master.json
  nirmaan_stack/nirmaan_stack/doctype/pmo_task_master/pmo_task_master.py
  nirmaan_stack/nirmaan_stack/doctype/pmo_task_submission_log/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/pmo_task_submission_log/pmo_task_submission_log.json
  nirmaan_stack/nirmaan_stack/doctype/pmo_task_submission_log/pmo_task_submission_log.py
  nirmaan_stack/tasks/pmo_task_renewal.py
Labels: UI, backend

refactor: remove inline delete action and add status faceting to ITM list view
  frontend/src/pages/InternalTransferMemos/InternalTransferMemosList.tsx
  frontend/src/pages/InternalTransferMemos/components/ITMRowDeleteAction.tsx
  frontend/src/pages/InternalTransferMemos/components/ITMStatusBadge.tsx
  frontend/src/pages/InternalTransferMemos/config/itmList.config.tsx
Labels: UI

feat(commission-report): conditional wizard steps via visibleIf
  frontend/src/pages/CommissionReport/commission-printformat.html
  frontend/src/pages/CommissionReport/commission-template.json
  frontend/src/pages/CommissionReport/report-wizard/index.tsx
  frontend/src/pages/CommissionReport/report-wizard/schema.ts
  frontend/src/pages/CommissionReport/report-wizard/types.ts
  nirmaan_stack/fixtures/commission_report_tasks.json
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

docs(boq): v5.21 handover cycle - plan-doc back-refresh + CLAUDE.md MSYS note
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat: unify DN create-picker, add ITM dispatched report and PO-parity polish
  frontend/src/pages/DeliveryNotes/ITMDeliveryNote.tsx
  frontend/src/pages/DeliveryNotes/components/ITMDeliveryMetadataBar.tsx
  frontend/src/pages/DeliveryNotes/deliverynotes.tsx
  frontend/src/pages/InternalTransferMemos/config/itmList.config.tsx
  frontend/src/pages/reports/ReportsContainer.tsx
  frontend/src/pages/reports/components/ITMDispatchedReport.tsx
  frontend/src/pages/reports/components/columns/itmDispatchedColumns.tsx
  frontend/src/pages/reports/store/useReportStore.ts
  nirmaan_stack/api/delivery_notes/get_project_pos.py
  nirmaan_stack/api/internal_transfers/get_itms_list.py
Labels: UI, backend

feat(payments): add Payable Against Delivery column to AllPayments, ApprovePayments, AccountantTabs and payments list
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/ProjectPayments/update-payment/AccountantTabs.tsx
Labels: UI

feat: add filterByProjects prop to ProjectSelect and implement eligibility pre-fetching in DeliveryNotes CREATE view
  frontend/src/components/custom-select/project-select.tsx
  frontend/src/pages/DeliveryNotes/deliverynotes.tsx
Labels: UI

feat(boq): Bug 10 fix - same-row =SUM() SUBTOTAL_MARKER misfire (sec 9 #86)
  nirmaan_stack/services/boq_parser/classifier.py
  nirmaan_stack/services/boq_parser/test_classifier.py
  nirmaan_stack/services/boq_parser/test_orchestrator.py
Labels: backend

docs(boq): Bug 10 implementation record - sec 9 #86 closure (feat 798f4fd2)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Bug 10 coverage extension - Societe Generale HVAC integration test
  nirmaan_stack/services/boq_parser/test_orchestrator.py
Labels: backend

docs(boq): Bug 10 coverage extension implementation record (feat 94706b5c)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Bug 11 - pattern-consistency post-pass for PREAMBLE/LINE_ITEM sig groups (sec 9 #87)
  nirmaan_stack/services/boq_parser/classifier.py
  nirmaan_stack/services/boq_parser/hierarchy.py
  nirmaan_stack/services/boq_parser/orchestrator.py
  nirmaan_stack/services/boq_parser/test_classifier.py
  nirmaan_stack/services/boq_parser/test_orchestrator.py
Labels: backend

docs(boq): Bug 11 implementation record - sec 9 #87 closure (feat fb89bf44)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

Revert "docs(boq): Bug 11 implementation record - sec 9 #87 closure (feat fb89bf44)"
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

Revert "feat(boq): Bug 11 - pattern-consistency post-pass for PREAMBLE/LINE_ITEM sig groups (sec 9 #87)"
  nirmaan_stack/services/boq_parser/classifier.py
  nirmaan_stack/services/boq_parser/hierarchy.py
  nirmaan_stack/services/boq_parser/orchestrator.py
  nirmaan_stack/services/boq_parser/test_classifier.py
  nirmaan_stack/services/boq_parser/test_orchestrator.py
Labels: backend

docs(boq): Bug 11 parking record - rule-review + revert capture (reverts debd5186 + f1839b1e)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(boq): fix [hash pending] -> 1b3e99c1 in boq-upload-plan.md latest-commit line
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): §7.28 orphan-children audit script
  nirmaan_stack/services/boq_parser/unit_demotion_orphan_audit.py
Labels: backend

docs(boq): §7.28 orphan-children audit findings
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(boq): fix [hash pending] -> 5a440fc9 in boq-upload-plan.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Bug 13 - Excel error literals normalization at reader.py (sec 9 #89)
  nirmaan_stack/services/boq_parser/reader.py
  nirmaan_stack/services/boq_parser/test_reader.py
Labels: backend

docs(boq): Bug 13 implementation record - sec 9 #89 closure (feat 5ff93064)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Bill Of Quantities Electrical & ELV rows 4-22 audit script
  nirmaan_stack/services/boq_parser/boq_electrical_elv_rows_4_22_audit.py
Labels: backend

docs(boq): Bill Of Quantities Electrical & ELV rows 4-22 audit findings
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Approach A-reframed audit script (sec 9 #99 gating)
  nirmaan_stack/services/boq_parser/approach_a_reframed_audit.py
  nirmaan_stack/services/boq_parser/diagnostic_snapshots/approach_a_reframed_audit_bill_of_quantities.json
  nirmaan_stack/services/boq_parser/diagnostic_snapshots/approach_a_reframed_audit_bill_of_quantities.txt
  nirmaan_stack/services/boq_parser/diagnostic_snapshots/approach_a_reframed_audit_snitch.json
  nirmaan_stack/services/boq_parser/diagnostic_snapshots/approach_a_reframed_audit_snitch.txt
Labels: backend

docs(boq): Approach A-reframed audit findings (feat 16647958)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Approach A-reframed land (Rule A1 + A2-reframed, sec 9 #99)
  nirmaan_stack/services/boq_parser/hierarchy.py
  nirmaan_stack/services/boq_parser/test_approach_a_rules.py
  nirmaan_stack/services/boq_parser/test_orchestrator.py
  nirmaan_stack/services/boq_parser/tests/fixtures/snitch_electrical_expected.json
Labels: backend

docs(boq): Approach A-reframed land findings (feat 8f960a2b)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): SUB HEAD detection + universal subtotal-reset (sec 9 #100 + #101)
  nirmaan_stack/services/boq_parser/hierarchy.py
  nirmaan_stack/services/boq_parser/test_sub_head_and_subtotal_reset.py
Labels: backend

docs(boq): SUB HEAD + universal subtotal-reset land + Phase 2c bug-fix close
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(boq): Bug 11 closure recognition (sec 9 #87 CLOSED v5.25 via A1+A2 land)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): add 2 priced HVAC BoQ fixtures (Alorica + Safron) for cycle 3 tests
  nirmaan_stack/services/boq_parser/tests/fixtures/alorica_pri_tech_hvac.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/safron_hvac_2026-04-11.xlsx
Labels: none

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
