Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

feat: enable Material Usage and Estimates tabs for Estimates Executive role
  frontend/src/pages/projects/project.tsx
Labels: UI

feat: add Approved WO card to Estimates Executive dashboard
  frontend/src/components/layout/dashboards/estimates-executive-dashboard.tsx
Labels: UI

feat: disable Add New WO button for Estimates Executive role
  frontend/src/components/helpers/renderRightActionButton.tsx
Labels: UI

feat: restrict WO Overview page for PM and Estimates Executive roles
  frontend/src/pages/ServiceRequests/approved-sr/ApprovedSRView.tsx
  frontend/src/pages/ServiceRequests/approved-sr/components/SRActionButtons.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
Labels: UI

feat: upgraded frappe-react-sdk
  frontend/yarn.lock
Labels: none

fix: Update Frappe branch to version-15
  .github/workflows/build_push.yml
Labels: none

fix:Err 1 , for assign Project to Users react select option not clicking and not selectable
  frontend/src/pages/users/components/UserProjectsTab.tsx
Labels: UI

fix:Err 3, Creating First Material plan for project , without having existing PO , throw error allOptions is Not function
  frontend/src/pages/projects/components/planning/AddMaterialPlanForm.tsx
Labels: UI

fix:error 4 ,Material Plan Permission Added
  nirmaan_stack/nirmaan_stack/doctype/material_delivery_plan/material_delivery_plan.json
Labels: backend

feat: In Work Plan Zone Tab UI chnage + Plan Activities count added in Zone Tab ...
  frontend/src/pages/projects/components/planning/SevendaysWorkPlan.tsx
Labels: UI

fix:Assest export csv value fixed fetch correct and extra empty colum removed
  frontend/src/pages/Assets/components/AssignedAssetsList.tsx
  frontend/src/pages/Assets/components/UnassignedAssetsList.tsx
Labels: UI

feat: Asset have now print format Form of Declaration
  frontend/src/pages/Assets/AssetOverview.tsx
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

docs: add changelog entry for CSRF token fix
  frontend/.claude/CHANGELOG.md
Labels: none

fix(dashboard): resolve CSRF token error on HR Executive login
  frontend/src/components/layout/dashboards/dashboard-hr.tsx
Labels: UI

feat(critical-po): warn when linking PO already associated with other tasks
  frontend/src/pages/ProcurementOrders/purchase-order/components/CriticalPOTaskLinkingSection.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/hooks/useCriticalPOTaskLinking.ts
  frontend/src/pages/projects/CriticalPOTasks/components/EditTaskDialog.tsx
  frontend/src/pages/projects/CriticalPOTasks/components/LinkPODialog.tsx
Labels: UI

feat(critical-po): support multiple task tags with redesigned badge
  frontend/src/pages/ProcurementOrders/purchase-order/components/LinkedCriticalPOTag.tsx
Labels: UI

fix(user-profile): use User Permission doctype for permission operations
  frontend/src/pages/users/user-profile.tsx
Labels: UI

feat(data-table): add getRowClassName prop for conditional row styling
  frontend/src/components/data-table/new-data-table.tsx
Labels: UI

fix(critical-po): URL-encode filters to handle special characters
  frontend/src/pages/projects/CriticalPOTasks/hooks/useBulkCreateTasks.ts
Labels: UI

feat(reports): enhance PO2B Reconcile Report with dynamic summary
  frontend/src/pages/reports/components/PO2BReconcileReport.tsx
Labels: UI

feat(reports): add PO Attachment Reconciliation Report
  frontend/src/config/queryKeys.ts
  frontend/src/pages/reports/ReportsContainer.tsx
  frontend/src/pages/reports/components/POAttachmentReconcileReport.tsx
  frontend/src/pages/reports/components/POReports.tsx
  frontend/src/pages/reports/components/columns/poAttachmentReconcileColumns.tsx
  frontend/src/pages/reports/config/poAttachmentReconcileTable.config.ts
  frontend/src/pages/reports/hooks/usePOAttachmentReconcileData.ts
  frontend/src/pages/reports/store/useReportStore.ts
Labels: UI

feat(permissions): add patch to sync missing Nirmaan role permissions
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_8/add_missing_nirmaan_role_permissions.py
Labels: backend

chore(scripts): add doctype permissions analysis script
  scripts/analyze_doctype_permissions.py
Labels: none

docs: add changelog entries for PO Attachment Reconciliation Report
  frontend/.claude/CHANGELOG.md
Labels: none

feat(critical-po-tasks): add mobile-responsive layout
  frontend/src/pages/projects/CriticalPOTasks/CriticalPOTasksList.tsx
  frontend/src/pages/projects/CriticalPOTasks/components/LinkedPOsColumn.tsx
Labels: UI

docs: add changelog entry for project makes refactoring session
  frontend/.claude/CHANGELOG.md
Labels: none

refactor(po-details): reorganize layout into logical sections
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

refactor(edit-project): revamp work package selection UI and remove makes section
  frontend/src/pages/projects/edit-project-form.tsx
Labels: UI

feat(rbac): add TDS Repository access for Estimates Executive role
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/layout/dashboards/estimates-executive-dashboard.tsx
Labels: UI

feat(project-makes): revamp UI with enterprise minimalist design
  frontend/src/pages/projects/ProjectMakesTab.tsx
Labels: UI

docs: add changelog entry for PO details redesign
  .claude/CHANGELOG.md
Labels: none

feat: Add Client/Clearance Issues tab with Drawing and Site Remarks
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
Labels: UI

feat: Display Client/Clearance Issues in daily report summary
  frontend/src/pages/Manpower-and-WorkMilestones/components/DailyReportView.tsx
Labels: UI

feat: Add Client/Clearance Issues section to Milestone Report print format
  nirmaan_stack/fixtures/print_format.json
Labels: backend

feat: Add drawing_remarks and site_remarks fields to Project Progress Reports
  nirmaan_stack/nirmaan_stack/doctype/project_progress_reports/project_progress_reports.json
Labels: backend

chore: Remove `CopyReportButton` component implementation, including its state, hooks, UI, and report copying logic.
  frontend/src/pages/Manpower-and-WorkMilestones/components/CopyReportButton.tsx
Labels: UI

fix: rectified work plan card planned date information
  frontend/src/pages/projects/components/planning/SevendaysWorkPlan.tsx
Labels: UI

fix: resolve CSRF token errors on sidebar_counts and logout APIs
  frontend/src/hooks/useSidebarCounts.ts
  frontend/src/utils/auth/UserProvider.tsx
Labels: UI

feat(reports): modernize WO 2B Reconcile summary card design
  frontend/src/pages/reports/components/SR2BReconcileReport.tsx
Labels: UI

refactor(reports): remove average invoice field from 2B reconcile reports
  frontend/src/pages/reports/components/PO2BReconcileReport.tsx
  frontend/src/pages/reports/components/SR2BReconcileReport.tsx
Labels: UI

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
