Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

fix: removed leads from hgetting payment approval notifications
  nirmaan_stack/integrations/controllers/project_payments.py
Labels: backend

feat: In flow Payments module completed
  frontend/src/App.tsx
  frontend/src/components/custom-select/project-select.tsx
  frontend/src/components/data-table/data-table.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/projects/InFlowPayments.tsx
  frontend/src/pages/projects/NewInflowPayment.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/types/NirmaanStack/ProjectInflows.ts
  frontend/src/zustand/useDialogStore.ts
Labels: UI

fix: changed Items naming to Products and Procurement Packages naming to Product Packages and modified relevant path namings
  frontend/src/App.tsx
  frontend/src/components/dashboard-default.tsx
  frontend/src/components/dashboard-pl.tsx
  frontend/src/components/estimates-executive-dashboard.tsx
  frontend/src/components/helpers/SelectUnit.tsx
  frontend/src/components/helpers/renderRightActionButton.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/procurement-packages.tsx
  frontend/src/components/procurement-request/new-new-pr.tsx
  frontend/src/components/procurement/procurement-dashboard.tsx
  frontend/src/components/ui/PODetails.tsx
  frontend/src/pages/Items/item.tsx
  frontend/src/pages/Items/items.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/approve-order.tsx
  frontend/src/pages/dashboard.tsx
  frontend/src/types/NirmaanStack/CategoryMakelist.ts
  frontend/src/types/NirmaanStack/Makelist.ts
  frontend/src/types/NirmaanStack/ProcurementPackages.ts
Labels: UI

fix
  frontend/src/components/helpers/SelectUnit.tsx
Labels: UI

feat: project financials tab is in progress
  frontend/src/App.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/projects/InFlowPayments.tsx
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/add-project-estimates.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/types/NirmaanStack/ProjectEstimates.ts
  frontend/src/utils/getAmounts.ts
  frontend/src/utils/getLowestQuoteFilled.ts
  frontend/src/utils/getThreeMonthsLowest.ts
Labels: UI

fix: fixed pr-summary categories rendering bug
  frontend/src/components/pr-summary.tsx
Labels: UI

feat: completed project financials tab and project inflow tabs in customers view, revamped project overview tab and separated the logics
  frontend/src/App.tsx
  frontend/src/pages/ProjectPayments/AccountantTabs.tsx
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/ProjectPayments/project-payments-payment-wise.tsx
  frontend/src/pages/customers/customer.tsx
  frontend/src/pages/projects/AllTab.tsx
  frontend/src/pages/projects/CategoryAccordion.tsx
  frontend/src/pages/projects/InFlowPayments.tsx
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  frontend/src/pages/projects/ProjectSpendsTab.tsx
  frontend/src/pages/projects/ServiceRequestsAccordion.tsx
  frontend/src/pages/projects/edit-project-form.tsx
  frontend/src/pages/projects/project-form.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/projects/projects.tsx
  frontend/src/types/NirmaanStack/Customers.ts
  frontend/src/types/NirmaanStack/Projects.ts
  frontend/src/utils/getAmounts.ts
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.json
Labels: UI, backend

fix: used the projects table to represent projects associated to customer in customer view
  frontend/src/pages/customers/customer.tsx
  frontend/src/pages/projects/projects.tsx
Labels: UI

chore: added quantity received column for project spends tab items, fix: corrected total amount due
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
  frontend/src/pages/projects/CategoryAccordion.tsx
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/ProjectMakesTab.tsx
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  frontend/src/pages/projects/ProjectSpendsTab.tsx
  frontend/src/pages/projects/add-project-estimates.tsx
  frontend/src/pages/projects/project.tsx
  nirmaan_stack/api/procurement_orders.py
Labels: UI, backend

fix: fixed minor bugs related to antd radio tabs view and navigations for po and sr in project financial tables, chores: renamed totals to include PO
  frontend/src/components/ui/PODetails.tsx
  frontend/src/pages/ProcurementOrders/release-po-select.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-requests.tsx
  frontend/src/pages/ProjectPayments/AccountantTabs.tsx
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/ServiceRequests/ServiceRequestsTabs.tsx
  frontend/src/pages/customers/customer.tsx
  frontend/src/pages/projects/AllTab.tsx
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/projects.tsx
Labels: UI

fix: used react lazy and suspense to load components asynchronously, chores: used useCallback and useMemo for optimizations
  frontend/src/pages/ProcurementRequests/ApproveNewPR/approve-order.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/approve-pr.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgress.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-requests.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-vendor.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/render-procurement-requests.tsx
  frontend/src/pages/Sent Back Requests/RenderSentBackComponent.tsx
  frontend/src/pages/Sent Back Requests/SBQuotesSelectionReview.tsx
  frontend/src/pages/Sent Back Requests/SentBackVendorQuotes.tsx
  frontend/src/pages/Sent Back Requests/sent-back-summary.tsx
Labels: UI

fix: used react lazy and suspense and updated components to use universal site url from defined in constants, optimized by adding useCallback and useMemo hooks
  frontend/src/components/procurement/sent-back-request.tsx
  frontend/src/components/ui/ApproveVendorQuotesPRorSBAntDTable.tsx
  frontend/src/pages/ProcurementOrders/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/approve-select-amend-po.tsx
  frontend/src/pages/ProcurementOrders/release-po-select.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-r-reject-vendor-quotes.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-select-vendor.tsx
  frontend/src/pages/Sent Back Requests/ApproveSBVendorQuotes.tsx
  frontend/src/pages/Sent Back Requests/approve-select-sent-back.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-amend-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
Labels: UI

fix: minor fixes
  frontend/src/pages/ServiceRequests/ServiceRequestsTabs.tsx
  frontend/src/pages/ServiceRequests/service-request/select-service-vendor-list.tsx
Labels: UI

chores: minor optimizations and ui fixes
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/pr-summary.tsx
  frontend/src/components/procurement/EstimatedPriceOverview.tsx
  frontend/src/components/ui/PODetails.tsx
  frontend/src/constants/siteURL.ts
  frontend/src/pages/ProjectPayments/SharePaymentCell.tsx
  frontend/src/pages/dashboard.tsx
  frontend/src/pages/projects/CategoryAccordion.tsx
  frontend/src/pages/projects/InFlowPayments.tsx
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  frontend/src/pages/projects/edit-project-form.tsx
  frontend/src/pages/projects/project-form.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/vendors/vendor.tsx
Labels: UI

fix: fixed minor bugs
  frontend/src/components/layout/dashboard-accountant.tsx
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/dashboard.tsx
Labels: UI

Revert "fix: removed lowest estimate quote column in pr tables of New PR Requ…"
  frontend/src/App.tsx
  frontend/src/components/procurement-request/new-new-pr.tsx
  frontend/src/components/procurement-request/new-pr.tsx
  frontend/src/components/procurement/sent-back-request.tsx
  frontend/src/hooks/useItemEstimate.ts
  frontend/src/pages/ProcurementRequests/ApproveNewPR/approve-pr.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgress.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-requests.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-vendor.tsx
  frontend/src/utils/getThreeMonthsLowest.ts
Labels: UI

fix: item lowest quote fixes, chores: minor optimizations
  frontend/src/hooks/useItemEstimate.ts
  frontend/src/hooks/useOrderTotals.ts
  frontend/src/pages/ProcurementOrders/release-po-select.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-requests.tsx
  frontend/src/pages/ProjectPayments/AccountantTabs.tsx
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/approve-payments.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/Sent Back Requests/SBQuotesSelectionReview.tsx
Labels: UI

feat: delivery note updates for procurements, partial changes
  frontend/src/components/ui/PODetails.tsx
  frontend/src/components/ui/POPdf.tsx
  frontend/src/pages/DeliveryNotes/deliveryNoteItemsDisplay.tsx
  frontend/src/pages/DeliveryNotes/deliverynote.tsx
  frontend/src/pages/ProcurementOrders/PurchaseOrder.tsx
  nirmaan_stack/api/custom_pr_api.py
  nirmaan_stack/api/delivery_notes/update_delivery_note.py
Labels: UI, backend

feat: added new category option
  nirmaan_stack/fixtures/category.json
  nirmaan_stack/fixtures/role.json
Labels: backend

feat: added delivery note attachments migration patch and po delivery_data field patch, added delivery_data and invoice_data fields
  nirmaan_stack/api/delivery_notes/update_delivery_note.py
  nirmaan_stack/nirmaan_stack/doctype/nirmaan_attachments/nirmaan_attachments.py
  nirmaan_stack/nirmaan_stack/doctype/procurement_orders/procurement_orders.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_3/delivery_note_attachments_migration.py
  nirmaan_stack/patches/v2_3/po_delivery_data_patch.py
Labels: backend

feat: added hover card for amount paid display in Payments Done tab and fixed minor bug in pl dashboard, working account number fix
  frontend/src/components/dashboard-pl.tsx
  frontend/src/components/ui/PODetails.tsx
  frontend/src/pages/ProcurementOrders/release-po-select.tsx
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/AmountPaidHoverCard.tsx
  frontend/src/pages/vendors/new-vendor.tsx
  frontend/src/pages/vendors/vendors.tsx
  frontend/src/utils/ProcurementTree.ts
Labels: UI

feat: added a patch to create new approved quotations docs for the pos that were not created for, fix: bug fix in po
  nirmaan_stack/integrations/controllers/procurement_orders.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_3/approved_quotations_patch.py
Labels: backend

fix: fixed vendor forms
  frontend/src/pages/vendors/edit-vendor.tsx
  frontend/src/pages/vendors/new-vendor.tsx
  frontend/src/pages/vendors/vendor.tsx
Labels: UI

fix: customer view in progress
  frontend/src/App.tsx
  frontend/src/pages/customers/CustomerFinancials.tsx
  frontend/src/pages/customers/CustomerOverview.tsx
  frontend/src/pages/customers/add-new-customer.tsx
  frontend/src/pages/customers/customer.tsx
  frontend/src/pages/projects/InFlowPayments.tsx
  frontend/src/pages/projects/projects.tsx
Labels: UI

feat: customer overview and financials tab completed and minor bug fixes along with ui enhancements
  frontend/src/components/data-table/data-table-faceted-filter.tsx
  frontend/src/components/data-table/data-table.tsx
  frontend/src/pages/ProjectPayments/AccountantTabs.tsx
  frontend/src/pages/ProjectPayments/AmountPaidHoverCard.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/customers/CustomerFinancials.tsx
  frontend/src/pages/customers/CustomerOverview.tsx
  frontend/src/pages/customers/customer.tsx
  frontend/src/pages/projects/InFlowPayments.tsx
  frontend/src/pages/projects/NewInflowPayment.tsx
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/project.tsx
  nirmaan_stack/api/customers/customer_financials.py
Labels: UI, backend

feat: delivery note updation except delivery date input completed and invoice data updation completed
  frontend/src/components/helpers/CustomAttachment.tsx
  frontend/src/components/ui/PODetails.tsx
  frontend/src/pages/DeliveryNotes/DeliveryHistory.tsx
  frontend/src/pages/DeliveryNotes/deliveryNoteItemsDisplay.tsx
  frontend/src/pages/DeliveryNotes/deliverynote.tsx
  frontend/src/pages/ProcurementOrders/InvoiceDialog.tsx
  frontend/src/pages/ProcurementOrders/PurchaseOrder.tsx
  frontend/src/types/NirmaanStack/ProcurementOrders.ts
  frontend/src/utils/FormatDate.ts
  nirmaan_stack/api/delivery_notes/update_delivery_note.py
  nirmaan_stack/api/delivery_notes/update_invoice_data.py
  nirmaan_stack/patches/v2_3/po_delivery_data_patch.py
Labels: UI, backend

fix: spelling fix and bulk import enabled for required doctypes
  nirmaan_stack/fixtures/category.json
  nirmaan_stack/fixtures/role.json
  nirmaan_stack/nirmaan_stack/doctype/project_inflows/project_inflows.json
  nirmaan_stack/nirmaan_stack/doctype/project_payments/project_payments.json
  nirmaan_stack/nirmaan_stack/doctype/vendors/vendors.json
Labels: backend

fix: fixed attachment name overflow, changed functionality of format util function to round the value, enabled edit payment terms button regardless of po status, minor fixes
  frontend/src/components/helpers/CustomAttachment.tsx
  frontend/src/components/ui/POPdf.tsx
  frontend/src/pages/ProcurementOrders/InvoiceDialog.tsx
  frontend/src/pages/ProcurementOrders/POAttachments.tsx
  frontend/src/pages/ProcurementOrders/POPaymentTermsCard.tsx
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/customers/CustomerFinancials.tsx
  frontend/src/pages/projects/CustomHoverCard.tsx
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/ToolandEquipementAccordion.tsx
  frontend/src/pages/projects/add-project-estimates.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/utils/FormatPrice.ts
Labels: UI

fix: updated fire fighting categories
  nirmaan_stack/fixtures/category.json
  nirmaan_stack/fixtures/role.json
Labels: backend

fix: minor ui fix in POAttachments and mutate fix for Procurement Order to view updated delivery history immediately after a successful updation
  frontend/src/pages/DeliveryNotes/deliveryNoteItemsDisplay.tsx
  frontend/src/pages/ProcurementOrders/POAttachments.tsx
Labels: UI

fix: separated router configuration from actual implementation
  frontend/src/App.tsx
  frontend/src/components/helpers/routesConfig.tsx
Labels: UI

fix: fixed date column of every data table to represent exact meaning like Date Created
  frontend/src/components/procurement/sent-back-request.tsx
  frontend/src/hooks/useOrderTotals.ts
  frontend/src/pages/ApprovedQuotationsFlow/ApprovedQuotationsTable.tsx
  frontend/src/pages/Items/items.tsx
  frontend/src/pages/ProcurementOrders/approve-select-amend-po.tsx
  frontend/src/pages/ProcurementOrders/release-po-select.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/approve-pr.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-select-vendor.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-requests.tsx
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/Sent Back Requests/approve-select-sent-back.tsx
  frontend/src/pages/ServiceRequests/ServiceRequestsTabs.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-amend-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-service-request-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/select-service-vendor-list.tsx
  frontend/src/pages/projects/InFlowPayments.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/vendors/vendor.tsx
Labels: UI

fix: added System Manager Role for Nirmaan Project Lead Profile to enable user assignments
  nirmaan_stack/fixtures/role_profile.json
Labels: backend

fix: minor ui fix
  frontend/src/pages/ServiceRequests/service-request/SRAttachments.tsx
Labels: UI

fix: minor bug
  frontend/src/pages/ProjectPayments/request-payment-dialog.tsx
Labels: UI

fix: minor ui changes for payments-pending and approve-amend-sr
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-amend-sr-list.tsx
Labels: UI

fix: all orders tab project filter fix and request payment dialog bug fix
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/ProjectPayments/request-payment-dialog.tsx
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
Labels: UI

feat: added hook to maintain centralized search params, added total invoice amt column and dialog to view the invoice data in release-po table, added paid payments dialog in release-po table as well
  frontend/src/components/data-table/data-table.tsx
  frontend/src/hooks/useSearchParamsManager.ts
  frontend/src/pages/ProcurementOrders/InvoiceDataDialog.tsx
  frontend/src/pages/ProcurementOrders/RenderPurchaseOrdersTab.tsx
  frontend/src/pages/ProcurementOrders/release-po-select.tsx
  frontend/src/pages/ProjectPayments/PaymentsDataDialog.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/types/NirmaanStack/ProcurementOrders.ts
  frontend/src/utils/getAmounts.ts
Labels: UI

fix: fixed empty loading and freight charges in po pdf, minor fix in sidebar ui component, added customer column in inflow payments table and navigations
  frontend/src/components/ui/POPdf.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/pages/projects/InFlowPayments.tsx
Labels: UI

feat: refactored user-profile component functionality and fixed user deletion
  frontend/src/hooks/useUserSubmitHandlers.ts
  frontend/src/pages/users/user-profile.tsx
  nirmaan_stack/integrations/controllers/nirmaan_users.py
Labels: UI, backend
