Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

Feat: order Based on Work headers orderfield and both Summary and Milestones Report
  frontend/src/hooks/useWorkHeaderOrder.ts
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneDailySummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/CopyReportButton.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/MilestoneReportPDF.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReport.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReportPDF.tsx
  nirmaan_stack/api/get_project_reports.py
Labels: UI, backend

Fix:ProjectReport Calculation fix
  frontend/src/pages/reports/components/ProjectReports.tsx
Labels: UI

fix: milestone report from backend changes
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
Labels: UI

fix:milestone print format fixtures
  nirmaan_stack/fixtures/print_format.json
Labels: backend

fix: User Only Design Executive Assigned Designers
  nirmaan_stack/api/design_tracker/tracker_options.py
Labels: backend

Fix: desgin Tracker report name and make handle function for report pdf
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneDailySummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
Labels: UI

Feat: in Project new Tab Added Design Tracker and its Deatils
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
  frontend/src/pages/projects/project.tsx
Labels: UI

fix: Project Cash Sheet Report Summary fix (related to Financial Year date filter)
  frontend/src/pages/reports/components/ProjectReports.tsx
  frontend/src/pages/reports/hooks/useProjectReportCalculations.ts
  frontend/src/pages/reports/hooks/useVendorLedgerCalculations.ts
  frontend/src/utils/datePresents.tsx
Labels: UI

feat: Custom Substatus for Revision Pending status within design tracker
  frontend/src/pages/ProjectDesignTracker/components/TaskEditModal.tsx
  frontend/src/pages/ProjectDesignTracker/hooks/useDesignMasters.ts
Labels: UI

Fix: Outflow ttotal in summary of Casesheet
  frontend/src/pages/reports/hooks/useProjectReportCalculations.ts
Labels: UI

Fix:Payment Summary decimal Point Remove
  frontend/src/pages/ProjectPayments/PaymentSummaryCards.tsx
Labels: UI

feat: Added Milestones rearrange they order based on drag and drop , within specific work header
  frontend/src/components/workHeaderMilestones.tsx
  nirmaan_stack/nirmaan_stack/doctype/work_milestones/work_milestones.json
Labels: UI, backend

Feat:milestones name order by work_milestones_ Order with Work Headers in Summary pages overall report...
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneDailySummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReport.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReportPDF.tsx
Labels: UI

Fix:milestone peint format ninja html edit for milestone order ....
  nirmaan_stack/fixtures/print_format.json
Labels: backend

fix: added Liabilities column within projects view
  frontend/src/pages/projects/projects.tsx
Labels: UI

fix: added date range selector within inflow and expenses reports
  frontend/src/pages/NonProjectExpenses/NonProjectExpensesPage.tsx
  frontend/src/pages/reports/components/InflowReportTable.tsx
  frontend/src/pages/reports/components/outflowReportTable.tsx
  frontend/src/pages/reports/hooks/useOutflowReportData.ts
Labels: UI

fix: Github Action change for stable frappe version
  .github/workflows/build_push.yml
Labels: none

fix:Dilay process intialize error
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneDailySummary.tsx
Labels: UI

fix: action file updated to use frappe version 15.90.1
  .github/workflows/build_push.yml
Labels: none

fix: updated action file to use nirmaan frappe fork for older version use
  .github/workflows/build_push.yml
Labels: none

fix: action file version change to 15.90.0
  .github/workflows/build_push.yml
Labels: none

Fix:While Adding category and Task its not delay in Category to Create Design Tracker
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
  frontend/src/pages/ProjectDesignTracker/hooks/useDesignMasters.ts
Labels: UI

fix: Outflow Report standlone update refetch
  frontend/src/pages/reports/hooks/useOutflowReportData.ts
Labels: UI

fix: While create custom task error for duplicate taskname name fix
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
Labels: UI

feat: Design projectWise right Facetfilter function add For select specific projects Multiple
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
Labels: UI

fix:Cutom PR resolve
  frontend/src/pages/ProcurementRequests/NewPR/CustomPRSummary.tsx
  frontend/src/pages/ProcurementRequests/NewPR/NewCustomPR.tsx
  nirmaan_stack/api/custom_pr_api.py
Labels: UI, backend

fix:remove PAYMENT DATE from Reports
  frontend/src/pages/NonProjectExpenses/NonProjectExpensesPage.tsx
  frontend/src/pages/reports/components/InflowReportTable.tsx
  frontend/src/pages/reports/components/outflowReportTable.tsx
Labels: UI

style: Left-align 'Assigned Designer' column and fallback text, and center link icons in design tracker tables.
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
  frontend/src/pages/ProjectDesignTracker/utils.tsx
Labels: UI

fix:Download milestone report refine file name
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneDailySummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
Labels: UI

fix:Milestones PDF print chnage for manager name, and GST based on Address
  nirmaan_stack/fixtures/print_format.json
Labels: backend

fix:milestones report remarks icon
  nirmaan_stack/fixtures/print_format.json
Labels: backend

fix: Deadline-Offset basek on while creating design tracker deadline auto filled if deadline_offset present in Default task
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
  frontend/src/pages/ProjectDesignTracker/hooks/useDesignMasters.ts
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
  nirmaan_stack/api/design_tracker/tracker_options.py
  nirmaan_stack/nirmaan_stack/doctype/design_tracker_tasks/design_tracker_tasks.json
Labels: UI, backend

fix:Sfit Design Package under they Admin Options
  frontend/src/components/design-packages.tsx
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/ProjectDesignTracker/components/DesignPackagesmaster.tsx
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
Labels: UI

fix: Based on they task Deadline order on Every Category
  frontend/src/pages/ProjectDesignTracker/components/TaskEditModal.tsx
  frontend/src/pages/ProjectDesignTracker/components/TaskWiseTable.tsx
  frontend/src/pages/ProjectDesignTracker/hooks/useDesignTrackerLogic.ts
Labels: UI

Fix:Design Tracker PDF print filter out "Not Applicable"
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

fix:In Project Financials Tab Summary Current Liabilities Add
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
Labels: UI

fix: Inside Project design tracker add category fix with deadline & T+
  frontend/src/pages/ProjectDesignTracker/components/DesignPackagesmaster.tsx
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
Labels: UI

fix: Frontend Custom pr to Po attachment fix and data preview have to Attach field pdf to images per pages :
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPdf.tsx
  frontend/src/pages/projects/projects.tsx
  nirmaan_stack/api/approve_vendor_quotes.py
  nirmaan_stack/nirmaan_stack/doctype/procurement_orders/procurement_orders.json
Labels: UI, backend

Fix:PO PDF print format with Images
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPdf.tsx
  nirmaan_stack/api/pdf_to_image.py
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

fix: Target Rate and Histroical quotes equal to less than target Value
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/components/VendorApprovalTable.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/hooks/useApproveRejectLogic.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/HistoricalQuotesHoverCard.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-vendor.tsx
  frontend/src/pages/Sent Back Requests/hooks/useApproveSBSLogic.ts
Labels: UI
