Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

docs(boq): record version-view read-only history slice (backend + frontend + plan)
  .claude/context/domain/boq-backend.md
  frontend/.claude/context/domain/boq-frontend.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): copy-forward -- carry an old version's rates into current (Phase 5)
  frontend/src/pages/boq-wizard/CopyForwardDialog.test.ts
  frontend/src/pages/boq-wizard/CopyForwardDialog.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/VersionRibbon.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/test_pricing.py
Labels: UI, backend

docs(boq): record copy-forward slice (backend + frontend + plan)
  .claude/context/domain/boq-backend.md
  frontend/.claude/context/domain/boq-frontend.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): frozen-left Slice 1 -- two-pane split + measure-at-freeze row heights (Phase 5)
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
Labels: UI

docs(boq): record frozen-left Slice 1 (two-pane + measure-at-freeze) in plan + frontend ref
  frontend/.claude/context/domain/boq-frontend.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): frozen-left Slice 2 -- manual row-resize + column-resize re-measure + frozen-pane border (Phase 5)
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
Labels: UI

docs(boq): record frozen-left Slice 2 (row-resize + re-measure + border) in plan + frontend ref
  frontend/.claude/context/domain/boq-frontend.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): reconciliation doc-0 default flip -- formula wins silently when document is zero (Phase 5)
  frontend/src/pages/boq-wizard/pricingRollup.test.ts
  frontend/src/pages/boq-wizard/reconcile.test.ts
  frontend/src/pages/boq-wizard/reconcile.ts
Labels: UI

docs(boq): record Cluster B doc-0 default flip in plan + frontend ref
  frontend/.claude/context/domain/boq-frontend.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): pricing-grid clipboard Slice A -- copy/cut/paste/fill-down for rate and remark cells (Phase 5)
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/clipboard.test.ts
  frontend/src/pages/boq-wizard/clipboard.ts
Labels: UI

docs(boq): record clipboard Slice A in plan + frontend ref
  frontend/.claude/context/domain/boq-frontend.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): pricing-grid clipboard context menu -- right-click copy/cut/paste/fill-down (Phase 5)
  frontend/src/pages/boq-wizard/PricingGrid.tsx
Labels: UI

docs(boq): record clipboard context menu in plan + frontend ref
  frontend/.claude/context/domain/boq-frontend.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): pricing-grid undo/redo Slice B -- session history for rate edits with ribbon buttons + Ctrl-Z/Y (Phase 5)
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/undoHistory.test.ts
  frontend/src/pages/boq-wizard/undoHistory.ts
Labels: UI

docs(boq): record undo/redo Slice B in plan + frontend ref
  frontend/.claude/context/domain/boq-frontend.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(boq): record onHistoryChange flip-gate in plan + frontend ref
  frontend/.claude/context/domain/boq-frontend.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): gate pricing-grid onHistoryChange to fire only on undo/redo flip (Phase 5 perf)
  frontend/src/pages/boq-wizard/PricingGrid.tsx
Labels: UI

feat(boq): structural row-identity merge -- only the edited row re-renders on a rate save (Phase 5 perf)
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/rowMerge.test.ts
  frontend/src/pages/boq-wizard/rowMerge.ts
Labels: UI

docs(boq): record autosave row-identity merge in plan + frontend ref
  frontend/.claude/context/domain/boq-frontend.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(boq): record save-status reflow fix in plan + frontend ref
  frontend/.claude/context/domain/boq-frontend.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(boq): pin pricing ribbon buttons -- fixed-width save-status label, no reflow on save (Phase 5)
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
Labels: UI

feat(boq): pre-commit preflight — preview errors/warnings before the write
  .claude/context/domain/boq-backend.md
  docs/adr/0007-preamble-level-relax.md
  frontend/.claude/context/domain/boq-frontend.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/src/pages/boq-wizard/CommitDialog.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/commit_pipeline.py
  nirmaan_stack/api/boq/wizard/commit_validation.py
  nirmaan_stack/api/boq/wizard/test_commit_validation.py
  nirmaan_stack/integrations/controllers/boq_node_qty_by_area.py
  nirmaan_stack/integrations/controllers/boq_nodes.py
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/test_boq_nodes.py
Labels: UI, backend

feat(boq): surface #7/#8 structural errors in review + fully-hard finalize gate
  .claude/context/domain/boq-backend.md
  docs/adr/0008-fully-hard-finalize-gate.md
  frontend/.claude/context/domain/boq-frontend.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/SheetReviewPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/ai_assist.py
  nirmaan_stack/api/boq/wizard/commit_validation.py
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
Labels: UI, backend

feat(po-adjustments): vendor-wide credit pull into any PO
  frontend/src/pages/POAdjustment/ApplyVendorCreditDialog.tsx
  frontend/src/pages/POAdjustment/VendorCreditSummaryCard.tsx
  frontend/src/pages/POAdjustment/data/poAdjustment.constants.ts
  frontend/src/pages/POAdjustment/data/usePOAdjustmentMutations.ts
  frontend/src/pages/POAdjustment/data/usePOAdjustmentQueries.ts
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  nirmaan_stack/api/po_adjustments/_payment_utils.py
  nirmaan_stack/api/po_adjustments/adjustment_logic.py
Labels: UI, backend

fix(po-adjustments): serialize credit transfers with FOR UPDATE row locks
  nirmaan_stack/api/po_adjustments/_payment_utils.py
  nirmaan_stack/api/po_adjustments/adjustment_logic.py
Labels: backend

fix(po-adjustments): hide empty-balance banner + responsive, compact apply dialog
  frontend/src/pages/POAdjustment/ApplyVendorCreditDialog.tsx
  frontend/src/pages/POAdjustment/VendorCreditSummaryCard.tsx
Labels: UI

docs(po-adjustments): vendor credit pull flow + concurrency guards (ADR-0007)
  CONTEXT.md
  docs/adr/0007-vendor-scoped-credit-application.md
  frontend/.claude/context/domain/po-adjustments.md
  frontend/CLAUDE.md
Labels: none

fix(po): mobile/tablet-responsive revisions & adjustments card
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PORevisionsAndAdjustments.tsx
Labels: UI

feat(projects): Estimates full project access + Sales/Estimates Tendering view
  frontend/src/components/helpers/renderRightActionButton.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/projects/tendering/TenderingProjectsTable.tsx
  frontend/src/pages/projects/tendering/tenderingAuth.ts
  nirmaan_stack/api/projects/tendering.py
  nirmaan_stack/fixtures/role_profile.json
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.json
Labels: UI, backend

fix(boq): data starts on the row after the declared header
  CONTEXT.md
  docs/adr/0008-data-starts-next-row.md
  nirmaan_stack/services/boq_parser/orchestrator.py
  nirmaan_stack/services/boq_parser/test_orchestrator.py
Labels: backend

feat(boq): redesign "skip rows after header" into single/range exclusions + summary panel
  frontend/src/pages/boq-wizard/SheetConfigPanel.tsx
  frontend/src/pages/boq-wizard/SheetDataGrid.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  frontend/src/pages/boq-wizard/skipRows.test.ts
  frontend/src/pages/boq-wizard/skipRows.ts
Labels: UI

docs(boq): header/skip analysis, Section-1 UI prototype, and implementation plan
  docs/boq/header-band-implementation-plan.md
  docs/boq/header-skip-analysis.html
  docs/boq/section1-prototype.html
Labels: none

feat(boq-category): electrical category rule set + signal-agreement runner
  nirmaan_stack/services/boq_category/__init__.py
  nirmaan_stack/services/boq_category/categories_electrical.json
  nirmaan_stack/services/boq_category/rules_electrical.json
  nirmaan_stack/services/boq_category/runner.py
  nirmaan_stack/services/boq_category/scoring.json
  nirmaan_stack/services/boq_category/tests/__init__.py
  nirmaan_stack/services/boq_category/tests/test_runner_electrical.py
Labels: backend

docs(boq-category): record electrical rule set + runner in plan
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-category): tune electrical rules - junction box, panels guards, point-wiring, fragment inheritance, direct-over-ancestor
  nirmaan_stack/services/boq_category/rules_electrical.json
  nirmaan_stack/services/boq_category/runner.py
  nirmaan_stack/services/boq_category/scoring.json
  nirmaan_stack/services/boq_category/tests/test_runner_electrical.py
Labels: backend

docs(boq-category): record rule-tuning pass from proving-run findings
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(project-expenses): add approval workflow (Requested/Approved/Paid) with role-based access
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/ProjectExpenses/ProjectExpensesList.tsx
  frontend/src/pages/ProjectExpenses/components/EditProjectExpenseDialog.tsx
  frontend/src/pages/ProjectExpenses/components/NewProjectExpenseDialog.tsx
  frontend/src/pages/ProjectExpenses/config/projectExpensesColumns.tsx
  frontend/src/pages/ProjectExpenses/config/projectExpensesTable.config.ts
  frontend/src/types/NirmaanStack/ProjectExpenses.ts
  nirmaan_stack/api/data_table/constants.py
  nirmaan_stack/nirmaan_stack/doctype/project_expenses/project_expenses.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/backfill_project_expenses_status.py
Labels: UI, backend

fix(boq): derive preamble level from the effective tree (ADR-0009)
  .claude/context/domain/boq-backend.md
  docs/adr/0009-derive-preamble-level-from-tree.md
  frontend/.claude/context/domain/boq-frontend.md
  frontend/.claude/plans/boq-level-derivation-fix.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/src/pages/boq-wizard/ParentChain.test.tsx
  frontend/src/pages/boq-wizard/ParentChain.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/commit_pipeline.py
  nirmaan_stack/api/boq/wizard/commit_validation.py
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_commit_pipeline.py
  nirmaan_stack/api/boq/wizard/test_commit_validation.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
  nirmaan_stack/integrations/controllers/boq_nodes.py
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/test_boq_nodes.py
Labels: UI, backend

fix(action):Update checkout action to use 'performance' ref
  .github/workflows/build_push.yml
Labels: none

feat(boq): review-screen refinements — #22 demote, advisory-on-edit, faster restructure picker
  .claude/context/domain/boq-backend.md
  docs/adr/0009-derive-preamble-level-from-tree.md
  frontend/.claude/context/domain/boq-frontend.md
  frontend/.claude/plans/boq-review-refinements.md
  frontend/src/pages/boq-wizard/RestructureModal.tsx
  frontend/src/pages/boq-wizard/ReviewRowParentPicker.tsx
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/SheetSearchView.tsx
  nirmaan_stack/api/boq/wizard/commit_pipeline.py
  nirmaan_stack/api/boq/wizard/commit_validation.py
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_commit_validation.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
Labels: UI, backend
