Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

fix:esitmates nav
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/layout/dashboards/estimates-executive-dashboard.tsx
Labels: UI

fix:Total
  frontend/src/pages/ProcurementOrders/purchase-order/components/TransactionDetailsCard.tsx
  frontend/src/pages/reports/hooks/useProjectReportCalculations.ts
Labels: UI

feat:Add Sr Ledger but cmt now
  frontend/src/pages/vendors/components/EditBalancingDialog.tsx
  frontend/src/pages/vendors/components/LedgerTableRow.tsx
  frontend/src/pages/vendors/components/POVendorLedger.tsx
  frontend/src/pages/vendors/components/VirtualizedLedgerTable.tsx
  frontend/src/pages/vendors/vendor.tsx
Labels: UI

feat: Vendor Reports
  frontend/src/components/ui/StandaloneDateFilter.tsx
  frontend/src/config/queryKeys.ts
  frontend/src/hooks/useOrderTotals.ts
  frontend/src/pages/reports/ReportsContainer.tsx
  frontend/src/pages/reports/components/VendorReports.tsx
  frontend/src/pages/reports/components/columns/vendorColumns.tsx
  frontend/src/pages/reports/constants.ts
  frontend/src/pages/reports/hooks/useVendorLedgerCalculations.ts
  frontend/src/pages/reports/store/useReportStore.ts
  frontend/src/utils/datePresents.tsx
  nirmaan_stack/api/vendor/get_vendor_po_invoices.py
  nirmaan_stack/nirmaan_stack/doctype/vendors/vendors.json
Labels: UI, backend

fix: delivery notes navigation fix
  frontend/src/pages/DeliveryNotes/deliverynote.tsx
  frontend/src/pages/DeliveryNotes/deliverynotes.tsx
Labels: UI

fix: vendor ledger report balance fix, dashboard fix and other ui fixes
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/layout/dashboards/dashboard-default.tsx
  frontend/src/components/layout/dashboards/dashboard-pl.tsx
  frontend/src/components/layout/dashboards/procurement-dashboard.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/config/purchaseOrdersTable.config.ts
  frontend/src/pages/reports/components/columns/vendorColumns.tsx
  frontend/src/pages/reports/hooks/useVendorLedgerCalculations.ts
  frontend/src/pages/vendors/components/VendorMaterialOrdersTable.tsx
Labels: UI

feat: added total_amount for SR and amount_paid for PO & SR
  nirmaan_stack/nirmaan_stack/doctype/procurement_orders/procurement_orders.json
  nirmaan_stack/nirmaan_stack/doctype/project_payments/project_payments.py
  nirmaan_stack/nirmaan_stack/doctype/service_requests/service_requests.json
  nirmaan_stack/nirmaan_stack/doctype/service_requests/service_requests.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_5/populate_amount_paid_for_sr_and_po.py
  nirmaan_stack/patches/v2_5/populate_sr_total_amount.py
Labels: backend

fix: sortable amount_paid and total_amount for SR
  frontend/src/pages/ServiceRequests/service-request/approved-sr-list.tsx
  frontend/src/pages/projects/components/ProjectSRSummaryTable.tsx
  frontend/src/types/NirmaanStack/ServiceRequests.ts
Labels: UI

fix: amount_paid for PO displayed on Project PO Summary & All PO tables
  frontend/src/pages/ProcurementOrders/purchase-order/config/purchaseOrdersTable.config.ts
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  frontend/src/types/NirmaanStack/ProcurementOrders.ts
Labels: UI

fix:vendor-ledger redirection
  frontend/src/pages/reports/components/columns/vendorColumns.tsx
Labels: UI

fix:report total_amount_paid & delta filter
  frontend/src/pages/reports/components/POReports.tsx
  frontend/src/pages/reports/components/SRReports.tsx
  frontend/src/pages/reports/components/columns/poColumns.tsx
  frontend/src/pages/reports/hooks/usePOReportsData.ts
  frontend/src/pages/reports/hooks/useSRReportsData.ts
Labels: UI

feat:adding direct call to amoun_paid query
  frontend/src/config/queryKeys.ts
Labels: UI

po merge -payment iss
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
Labels: UI

fix:requested items are becoming duplicated
  frontend/src/pages/ProcurementRequests/NewPR/store/useProcurementRequestStore.ts
Labels: UI

fix: changed status to term_status for credit po payment terms
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPaymentTermsCard.tsx
  frontend/src/pages/credits/components/CreditsTableColumns.tsx.tsx
  frontend/src/pages/credits/credits.constant.ts
  frontend/src/pages/credits/hooks/useCredits.ts
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/reports/hooks/useProjectReportCalculations.ts
  nirmaan_stack/api/approve_amend_po.py
  nirmaan_stack/api/approve_reject_sb_vendor_quotes.py
  nirmaan_stack/api/approve_vendor_quotes.py
  nirmaan_stack/api/payments/project_payments.py
  nirmaan_stack/api/po_merge_and_unmerge.py
  nirmaan_stack/integrations/controllers/project_payments.py
  nirmaan_stack/nirmaan_stack/doctype/po_payment_terms/po_payment_terms.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_7/migrate_status_to_term_status.py
Labels: UI, backend

Fix:Accountant Edit enable
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/reports/hooks/useProjectReportCalculations.ts
Labels: UI

feat :New GST Added
  frontend/src/pages/projects/components/multi-select.tsx
  frontend/src/pages/projects/edit-project-form.tsx
  frontend/src/pages/projects/project-form.tsx
Labels: UI

fix: address fix for noida pos
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPdf.tsx
Labels: UI

fix:backend Term_status fix counts
  nirmaan_stack/api/sidebar_counts.py
Labels: backend

fix:decimal point error in SR craete and Amend SR
  frontend/src/pages/ServiceRequests/service-request/select-service-vendor.tsx
Labels: UI

wip:pdf print
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPdf.tsx
Labels: UI

fix: po and sr pdf fixes
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPdf.tsx
  frontend/src/pages/ServiceRequests/service-request/SRPdf.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
Labels: UI

fix: modified HVAC System categories
  nirmaan_stack/fixtures/category.json
Labels: backend

fix: project table fix
  frontend/src/pages/projects/projects.tsx
Labels: UI

fix: project table fix L
  frontend/src/pages/projects/projects.tsx
Labels: UI

fix:PR initial load data in Zustand
  frontend/src/pages/ProcurementRequests/NewPR/store/useProcurementRequestStore.ts
Labels: UI

Wip:Milestone Based Setup
  nirmaan_stack/api/projects/new_project.py
  nirmaan_stack/custom/get_project_progress_state.py
  nirmaan_stack/nirmaan_stack/doctype/project_progress_report_attachments/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/project_progress_report_attachments/project_progress_report_attachments.json
  nirmaan_stack/nirmaan_stack/doctype/project_progress_report_attachments/project_progress_report_attachments.py
  nirmaan_stack/nirmaan_stack/doctype/project_progress_report_manpower_details/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/project_progress_report_manpower_details/project_progress_report_manpower_details.json
  nirmaan_stack/nirmaan_stack/doctype/project_progress_report_manpower_details/project_progress_report_manpower_details.py
  nirmaan_stack/nirmaan_stack/doctype/project_progress_report_work_milestones/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/project_progress_report_work_milestones/project_progress_report_work_milestones.json
  nirmaan_stack/nirmaan_stack/doctype/project_progress_report_work_milestones/project_progress_report_work_milestones.py
  nirmaan_stack/nirmaan_stack/doctype/project_progress_reports/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/project_progress_reports/project_progress_reports.js
  nirmaan_stack/nirmaan_stack/doctype/project_progress_reports/project_progress_reports.json
  nirmaan_stack/nirmaan_stack/doctype/project_progress_reports/project_progress_reports.py
  nirmaan_stack/nirmaan_stack/doctype/project_progress_reports/test_project_progress_reports.py
  nirmaan_stack/nirmaan_stack/doctype/project_work_headers/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/project_work_headers/project_work_headers.json
  nirmaan_stack/nirmaan_stack/doctype/project_work_headers/project_work_headers.py
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.json
  nirmaan_stack/nirmaan_stack/doctype/work_headers/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/work_headers/test_work_headers.py
  nirmaan_stack/nirmaan_stack/doctype/work_headers/work_headers.js
  nirmaan_stack/nirmaan_stack/doctype/work_headers/work_headers.json
  nirmaan_stack/nirmaan_stack/doctype/work_headers/work_headers.py
  nirmaan_stack/nirmaan_stack/doctype/work_milestones/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/work_milestones/test_work_milestones.py
  nirmaan_stack/nirmaan_stack/doctype/work_milestones/work_milestones.js
  nirmaan_stack/nirmaan_stack/doctype/work_milestones/work_milestones.json
  nirmaan_stack/nirmaan_stack/doctype/work_milestones/work_milestones.py
Labels: backend

wip: "Report Creation Success"
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
  nirmaan_stack/nirmaan_stack/doctype/project_progress_reports/project_progress_reports.json
  nirmaan_stack/nirmaan_stack/doctype/project_progress_reports/project_progress_reports.py
Labels: UI, backend

feat :Project Progress Report create & While create Project Work Header Enable
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/dashboards/dashboard-pm.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
  frontend/src/pages/projects/ProjectWorkReportTab.tsx
  frontend/src/pages/projects/edit-project-form.tsx
  frontend/src/pages/projects/project-form.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/types/NirmaanStack/Projects.ts
Labels: UI

yesterday:revert
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/stores/useProgressReportStore.ts
  nirmaan_stack/nirmaan_stack/doctype/project_progress_reports/project_progress_reports.py
Labels: UI, backend

Feat:camera capture & Deatils UI (WIP)&location
  frontend/src/components/CameraCapture.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
  nirmaan_stack/nirmaan_stack/doctype/map_api/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/map_api/map_api.js
  nirmaan_stack/nirmaan_stack/doctype/map_api/map_api.json
  nirmaan_stack/nirmaan_stack/doctype/map_api/map_api.py
  nirmaan_stack/nirmaan_stack/doctype/map_api/test_map_api.py
Labels: UI, backend

wip:before Admin options Tab,milestones
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/MilestoneReportPDF.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReport.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReportPDF.tsx
  frontend/src/pages/projects/ProjectWorkReportTab.tsx
  frontend/src/pages/projects/project-form.tsx
  nirmaan_stack/api/get_project_reports.py
  nirmaan_stack/nirmaan_stack/doctype/project_progress_report_attachments/project_progress_report_attachments.json
  nirmaan_stack/nirmaan_stack/doctype/project_progress_report_work_milestones/project_progress_report_work_milestones.json
  nirmaan_stack/nirmaan_stack/doctype/project_progress_reports/project_progress_reports.json
Labels: UI, backend

Feat:work headers & milestone add and edit
  frontend/src/components/custom-select/project-milestone-select.tsx
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/workHeaderMilestones.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
  frontend/src/pages/projects/ProjectWorkReportTab.tsx
Labels: UI

fix:project Finanicial two value & po summary payable col added & header change & report pending invoice
  frontend/src/pages/credits/components/CreditsTableColumns.tsx.tsx
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/reports/components/POReports.tsx
Labels: UI

fix:Project summary & Tab
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  frontend/src/pages/projects/project.tsx
Labels: UI

Fix:milestone bug
  frontend/src/components/CameraCapture.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/MilestoneReportPDF.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReportPDF.tsx
Labels: UI

feat:milestone-realtime Block
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
  nirmaan_stack/nirmaan_stack/doctype/project_progress_reports/project_progress_reports.json
Labels: UI, backend

fix:inovices recon & i details in Proect tabs
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  frontend/src/pages/tasks/invoices/InvoiceReconciliationContainer.tsx
  frontend/src/pages/tasks/invoices/components/PoInvoices.tsx
  frontend/src/pages/tasks/invoices/components/SrInvoices.tsx
  frontend/src/pages/tasks/invoices/constants.ts
  nirmaan_stack/api/invoices/po_wise_invoice_data.py
  nirmaan_stack/api/invoices/sr_wise_invoice_data.py
Labels: UI, backend

feat:"Inactive for POs"
  frontend/src/config/queryKeys.ts
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPaymentTermsCard.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/config/purchaseOrdersTable.config.ts
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/credits/hooks/useCredits.ts
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/vendors/components/VendorMaterialOrdersTable.tsx
  nirmaan_stack/api/customers/customer_financials.py
  nirmaan_stack/api/procurement_orders.py
  nirmaan_stack/api/projects/project_wise_invoice_data.py
  nirmaan_stack/api/vendor/get_vendor_po_invoices.py
Labels: UI, backend

fix:react-selected searchable input
  frontend/src/pages/Items/components/AddItemDialog.tsx
  frontend/src/pages/Items/item.tsx
  frontend/src/pages/Items/itemsPage.tsx
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  frontend/src/pages/projects/components/ProjectSRSummaryTable.tsx
  frontend/src/pages/users/user-profile.tsx
Labels: UI

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
