Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

feat(access): hide financial columns from Project Manager in WO/PO Summary tabs
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  frontend/src/pages/projects/components/ProjectSRSummaryTable.tsx
  frontend/src/pages/projects/project.tsx
Labels: UI

refactor(projects): clarify GST field naming and hide auto-calculated values
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  frontend/src/pages/projects/edit-project-form.tsx
  frontend/src/pages/projects/project-form/index.tsx
  frontend/src/pages/projects/project-form/steps/ProjectDetailsStep.tsx
  frontend/src/pages/projects/project-form/steps/ReviewStep.tsx
Labels: UI

docs: add changelog entry for 3-state reconciliation feature
  .claude/CHANGELOG.md
Labels: none

feat(reports): add date filter to PO & WO reconciliation reports
  frontend/src/pages/reports/components/PO2BReconcileReport.tsx
  frontend/src/pages/reports/components/SR2BReconcileReport.tsx
  frontend/src/pages/reports/hooks/usePO2BReconcileData.ts
  frontend/src/pages/reports/hooks/useSR2BReconcileData.ts
Labels: UI

feat(reports): align reconciliation reports with invoices tab changes
  frontend/src/pages/reports/components/PO2BReconcileReport.tsx
  frontend/src/pages/reports/components/SR2BReconcileReport.tsx
  frontend/src/pages/reports/components/columns/po2BReconcileColumns.tsx
  frontend/src/pages/reports/components/columns/sr2BReconcileColumns.tsx
  frontend/src/pages/reports/config/po2BReconcileTable.config.ts
  frontend/src/pages/reports/config/sr2BReconcileTable.config.ts
  frontend/src/pages/reports/hooks/usePO2BReconcileData.ts
  frontend/src/pages/reports/hooks/useSR2BReconcileData.ts
Labels: UI

feat(ui): redesign CustomerOverview with enterprise-grade components
  frontend/src/pages/customers/CustomerOverview.tsx
Labels: UI

docs: update changelog with SR consolidation session
  frontend/.claude/CHANGELOG.md
Labels: none

docs: update changelog with Customer page UI revamp session
  frontend/.claude/CHANGELOG.md
Labels: none

refactor(sr): consolidate SR Summary and ApprovedSR into unified view
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/pages/Retired Components/sr-summary.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/pages/ServiceRequests/service-request/components/SRDetailsCard.tsx
  frontend/src/pages/ServiceRequests/service-request/list-sr.tsx
  frontend/src/pages/projects/components/ProjectSRSummaryTable.tsx
  frontend/src/pages/vendors/components/LedgerTableRow.tsx
Labels: UI

feat(reports): add date filtering to reconciliation report APIs
  nirmaan_stack/api/invoices/po_wise_invoice_data.py
  nirmaan_stack/api/invoices/sr_wise_invoice_data.py
Labels: backend

docs: add customers domain documentation
  frontend/.claude/context/_index.md
  frontend/.claude/context/domain/customers.md
Labels: none

feat(invoices): add database patches for reconciliation status migration
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_9/__init__.py
  nirmaan_stack/patches/v2_9/add_reconciled_amount_field.py
  nirmaan_stack/patches/v2_9/migrate_invoice_reconciliation_status.py
Labels: backend

feat(access): hide financial columns from Project Manager in PO Details view
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPdf.tsx
Labels: UI

fix(patches): use PostgreSQL-compatible query for JSON fields
  nirmaan_stack/patches/v2_9/add_reconciled_amount_field.py
  nirmaan_stack/patches/v2_9/migrate_invoice_reconciliation_status.py
Labels: backend

fix(credits): add patch to fix stuck payment term statuses
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_8/fix_credit_payment_term_status.py
Labels: backend

docs: specify PostgreSQL v14.11 and add JSON gotcha
  CLAUDE.md
Labels: none

feat(customers): add customer_nickname field to Customers doctype
  frontend/src/types/NirmaanStack/Customers.ts
  nirmaan_stack/nirmaan_stack/doctype/customers/customers.json
Labels: UI, backend

feat(ui): redesign CustomersSummaryCard with state-based analytics
  frontend/src/pages/customers/components/CustomersSummaryCard.tsx
Labels: UI

fix(ui): allow ReactNode as column header title
  frontend/src/components/data-table/data-table-column-header.tsx
Labels: UI

refactor(ui): redesign PORemarks from tabs to timeline layout
  frontend/src/pages/ProcurementOrders/purchase-order/components/PORemarks.tsx
Labels: UI

feat(invoices): add customer filtering support for Project Invoices
  frontend/src/pages/ProjectInvoices/AllProjectInvoices.tsx
  frontend/src/pages/ProjectInvoices/config/projectInvoices.config.tsx
Labels: UI

feat(invoices): implement 3-state reconciliation in invoices tab
  frontend/src/pages/tasks/invoices/components/PoInvoices.tsx
  frontend/src/pages/tasks/invoices/components/ReconciliationDialog.tsx
  frontend/src/pages/tasks/invoices/components/SrInvoices.tsx
  frontend/src/pages/tasks/invoices/config/poInvoicesTable.config.ts
  frontend/src/pages/tasks/invoices/config/srInvoicesTable.config.ts
  frontend/src/pages/tasks/invoices/constants.ts
  frontend/src/pages/tasks/invoices/hooks/useInvoiceReconciliation.ts
Labels: UI

feat(customers): add nickname field to customer forms and list
  frontend/src/pages/customers/add-new-customer.tsx
  frontend/src/pages/customers/customers.constants.ts
  frontend/src/pages/customers/customers.tsx
  frontend/src/pages/customers/edit-customer.tsx
Labels: UI

feat(sr): make system-generated comments undeletable
  frontend/src/pages/ServiceRequests/service-request/components/SRComments.tsx
  frontend/src/pages/ServiceRequests/service-request/hooks/useSRRemarks.ts
  nirmaan_stack/api/sr_remarks.py
  nirmaan_stack/nirmaan_stack/doctype/nirmaan_comments/nirmaan_comments.json
Labels: UI, backend

docs: update changelog with SR comments extraction session
  frontend/.claude/CHANGELOG.md
Labels: none

docs: add react-select search pattern to CLAUDE.md
  frontend/CLAUDE.md
Labels: none

feat(sr): add finalization workflow for approved work orders
  frontend/src/pages/ServiceRequests/components/SRFinalizeDialog.tsx
  frontend/src/pages/ServiceRequests/hooks/useSRFinalize.ts
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/pages/ServiceRequests/service-request/components/SRDetailsCard.tsx
  frontend/src/types/NirmaanStack/ServiceRequests.ts
  nirmaan_stack/api/sr_finalize.py
  nirmaan_stack/nirmaan_stack/doctype/service_requests/service_requests.json
Labels: UI, backend

fix(po): use po prop for delivery data instead of URL-dependent hook
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

fix(projects): restrict user assignment dialog to project-specific roles
  frontend/src/pages/projects/ProjectOverviewTab.tsx
Labels: UI

docs: update changelog with SR finalization session
  .claude/CHANGELOG.md
  .claude/context/_index.md
  .claude/context/domain/service-requests.md
Labels: none

feat(project-select): upgrade to token-based fuzzy search
  frontend/src/components/custom-select/project-select.tsx
Labels: UI

feat(sr): extract comments to standalone card with add/delete
  frontend/.claude/CHANGELOG.md
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/pages/ServiceRequests/service-request/components/SRComments.tsx
  frontend/src/pages/ServiceRequests/service-request/components/SRDetailsCard.tsx
  frontend/src/pages/ServiceRequests/service-request/hooks/useSRRemarks.ts
Labels: UI

fix: updated frappe-react-sdk to v1.14.0 and changed the format for useFrappeGetCount calls
  frontend/src/components/layout/dashboards/dashboard-accountant.tsx
  frontend/src/components/layout/dashboards/dashboard-default.tsx
  frontend/src/components/layout/dashboards/dashboard-hr.tsx
  frontend/src/pages/Assets/components/AssetsSummaryCard.tsx
  frontend/src/pages/Items/components/ItemsSummaryCard.tsx
  frontend/src/pages/customers/components/CustomersSummaryCard.tsx
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/users/users.tsx
  frontend/src/pages/vendors/components/VendorsOverallSummaryCard.tsx
  frontend/yarn.lock
Labels: UI

fix: Update Frappe branch to version-15
  .github/workflows/build_push.yml
Labels: none

chore: Update invalid photo text in CopyReportButton
  frontend/src/pages/Manpower-and-WorkMilestones/components/CopyReportButton.tsx
Labels: UI

feat: Add Accountant, Design, HR profiles to FULL_ACCESS_ROLES for TDS
  nirmaan_stack/api/tds/get_tds_requests.py
Labels: backend

feat: Restrict Pending Approval tab to authorized roles and add auto-redirect for non-approvers
  frontend/src/pages/tds/TDSApprovalList.tsx
Labels: UI

feat: Restrict Approve/Reject/Edit actions in TDS Detail view to authorized roles
  frontend/src/pages/tds/TDSApprovalDetail.tsx
Labels: UI

fix: Add missing FileText icon import in AddTDSItemDialog
  frontend/src/pages/tds/components/AddTDSItemDialog.tsx
Labels: UI

feat: Add useTDSItemOptions hook for handling TDS dropdown logic
  frontend/src/pages/tds/hooks/useTDSItemOptions.ts
Labels: UI

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
