Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

fix: Hide MilestonesSummary in ProjectWorkReportTab when no setup/zones exist
  frontend/src/pages/projects/ProjectWorkReportTab.tsx
Labels: UI

fix: Reset and auto-fill description in TDS dialogs based on item/make selection
  frontend/src/pages/tds/components/AddTDSItemDialog.tsx
  frontend/src/pages/tds/components/EditTDSItemDialog.tsx
  frontend/src/pages/tds/components/ProjectEditTDSItemModal.tsx
Labels: UI

fix: Ensure Site and Drawing photos are saved in MilestoneTab by collecting them in final payload
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
Labels: UI

feat(credits): add custom Credits API with row-level filtering
  nirmaan_stack/api/approve_amend_po.py
  nirmaan_stack/api/approve_vendor_quotes.py
  nirmaan_stack/api/credits/__init__.py
  nirmaan_stack/api/credits/get_credits_list.py
  nirmaan_stack/api/payments/project_payments.py
  nirmaan_stack/api/sidebar_counts.py
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/project_payments.py
  nirmaan_stack/nirmaan_stack/doctype/po_payment_terms/po_payment_terms.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_9/remove_scheduled_status_and_cleanup.py
  nirmaan_stack/tasks/payment_term_worker.py
Labels: backend

feat(credits): update frontend to use custom Credits API
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPaymentTermsCard.tsx
  frontend/src/pages/credits/CreditsPage.tsx
  frontend/src/pages/credits/components/CreditsTableColumns.tsx
  frontend/src/pages/credits/credits.constant.ts
  frontend/src/pages/credits/hooks/useCredits.ts
  frontend/src/pages/projects/hooks/useProjectAllCredits.ts
  frontend/src/pages/reports/hooks/useProjectReportCalculations.ts
  frontend/src/types/NirmaanStack/POPaymentTerms.ts
  frontend/src/zustand/useDocCountStore.ts
Labels: UI

fix(credits): include Requested and Approved in Due tab count
  nirmaan_stack/api/sidebar_counts.py
Labels: backend

fix(projects): remove deprecated cache param from get_count API call
  frontend/src/pages/projects/projects.tsx
Labels: UI

docs: update context docs with Credits API session insights
  .claude/CHANGELOG.md
  CLAUDE.md
Labels: none

fix(credits): enable column sorting and default to due_date descending
  frontend/src/pages/credits/components/CreditsTableColumns.tsx
  frontend/src/pages/credits/hooks/useCredits.ts
  nirmaan_stack/api/credits/get_credits_list.py
Labels: UI, backend

feat(tds): refactor approval list and detail UI with modern styling and mobile responsiveness
  frontend/src/pages/tds/TDSApprovalDetail.tsx
  frontend/src/pages/tds/TDSApprovalList.tsx
Labels: UI

fix(ui): correct ItemsHoverCard prop usage and update Work Order column header
  frontend/src/pages/ProcurementOrders/amend-po/approve-select-amend-po.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/Sent Back Requests/approve-select-sent-back.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-service-request-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/select-service-vendor-list.tsx
Labels: UI

feat: persist clearance tab selection and improve data retention
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
Labels: UI

refactor(zone-tabs): Redesign zone tabs with status indicators and fix date reset
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/ReportControlBar.tsx
  frontend/src/pages/projects/ProjectWorkReportTab.tsx
Labels: UI

feat(overall-report): Add comparison view for issues and refine report matching
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReport.tsx
  nirmaan_stack/api/get_project_reports.py
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

feat(tds): Display user full name instead of email in TDS approval pages
  frontend/src/pages/tds/TDSApprovalDetail.tsx
  frontend/src/pages/tds/TDSApprovalList.tsx
  nirmaan_stack/api/tds/get_tds_requests.py
Labels: UI, backend

feat(tds-create): Add Work Package and Category filters with auto-fill
  frontend/src/pages/projects/TDSRepository/components/TdsCreateForm.tsx
Labels: UI

feat(invoices): add 'na' (Not Applicable) reconciliation status to backend API
  nirmaan_stack/api/invoices/update_invoice_reconciliation.py
Labels: backend

feat(invoices): add N/A status option to reconciliation dialog
  frontend/src/pages/tasks/invoices/components/ReconciliationDialog.tsx
  frontend/src/pages/tasks/invoices/constants.ts
  frontend/src/pages/tasks/invoices/hooks/useInvoiceReconciliation.ts
Labels: UI

feat(invoices): update invoice views with N/A status support
  frontend/src/pages/tasks/invoices/components/PoInvoices.tsx
  frontend/src/pages/tasks/invoices/components/SrInvoices.tsx
  frontend/src/pages/tasks/invoices/config/poInvoicesTable.config.ts
  frontend/src/pages/tasks/invoices/config/srInvoicesTable.config.ts
Labels: UI

feat(reports): update 2B reconcile reports with N/A status support
  frontend/src/pages/reports/components/PO2BReconcileReport.tsx
  frontend/src/pages/reports/components/SR2BReconcileReport.tsx
  frontend/src/pages/reports/components/columns/po2BReconcileColumns.tsx
  frontend/src/pages/reports/components/columns/sr2BReconcileColumns.tsx
  frontend/src/pages/reports/config/po2BReconcileTable.config.ts
  frontend/src/pages/reports/config/sr2BReconcileTable.config.ts
  frontend/src/pages/reports/hooks/usePO2BReconcileData.ts
  frontend/src/pages/reports/hooks/useSR2BReconcileData.ts
Labels: UI

feat: Implement material plan V2 with critical PO and Task Based review UI, category/task selection, with updates to material planning forms and API.
  frontend/src/pages/projects/components/planning/AddMaterialPlanForm.tsx
  frontend/src/pages/projects/components/planning/AllPOsModal.tsx
  frontend/src/pages/projects/components/planning/CategoryTaskSelector.tsx
  frontend/src/pages/projects/components/planning/EditMaterialPlanForm.tsx
  frontend/src/pages/projects/components/planning/ReviewPlansPage.tsx
  frontend/src/pages/projects/components/planning/SevenDaysMaterialPlan.tsx
  nirmaan_stack/api/seven_days_planning/material_plan_api.py
  nirmaan_stack/nirmaan_stack/doctype/material_delivery_plan/material_delivery_plan.json
Labels: UI, backend

fix(design-tracker): hide edit column from project manager role
  frontend/src/pages/ProjectDesignTracker/config/taskTableColumns.tsx
Labels: UI

refactor: Modern ERP-style Search UI for Material Planning
  frontend/src/pages/projects/components/planning/AddMaterialPlanForm.tsx
  frontend/src/pages/projects/components/planning/CategoryTaskSelector.tsx
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

feat(po): enhance PO overview with upload buttons, compact design, and delivery history accordion
  frontend/src/pages/DeliveryNotes/components/DeliveryHistory.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

feat(po-dispatch): enable multiple Critical PO Task tagging
  frontend/src/pages/ProcurementOrders/purchase-order/components/CriticalPOTaskLinkingSection.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/hooks/useCriticalPOTaskLinking.ts
Labels: UI

feat(critical-po-tasks): refactor list with DataTable and add PR Not Released status
  frontend/src/pages/CriticalPOTracker/types/index.ts
  frontend/src/pages/projects/CriticalPOTasks/CriticalPOTasksList.tsx
  frontend/src/pages/projects/CriticalPOTasks/components/EditTaskDialog.tsx
  frontend/src/pages/projects/CriticalPOTasks/components/TaskStatusBadge.tsx
  frontend/src/pages/projects/CriticalPOTasks/config/taskTableColumns.tsx
  frontend/src/pages/projects/CriticalPOTasks/utils.tsx
  frontend/src/types/NirmaanStack/CriticalPOTasks.ts
Labels: UI

feat(assets): add Procurement Executive permissions for Asset doctypes
  nirmaan_stack/nirmaan_stack/doctype/asset_management/asset_management.json
  nirmaan_stack/nirmaan_stack/doctype/asset_master/asset_master.json
Labels: backend

feat(assets): extend Assets module for Procurement Executive role
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/Assets/AssetCategoryView.tsx
  frontend/src/pages/Assets/AssetOverview.tsx
  frontend/src/pages/Assets/AssetsPage.tsx
  frontend/src/pages/Assets/components/AssetCard.tsx
  frontend/src/pages/Assets/components/AssetCategoriesList.tsx
  frontend/src/pages/Assets/components/AssignAssetDialog.tsx
  frontend/src/pages/Assets/components/UnassignedAssetsList.tsx
  frontend/src/pages/Assets/utils/permissions.ts
Labels: UI

feat(vendors): add vendor_nickname field to Vendors doctype
  frontend/src/types/NirmaanStack/Vendors.ts
  nirmaan_stack/nirmaan_stack/doctype/vendors/vendors.json
Labels: UI, backend

feat(vendors): add vendor_nickname to vendor creation API
  nirmaan_stack/api/create_vendor_and_address.py
Labels: backend

feat(vendors): add nickname column to vendors list
  frontend/src/pages/vendors/VendorsPage.tsx
  frontend/src/pages/vendors/vendors.constants.ts
Labels: UI

feat(vendors): add nickname field to vendor forms
  frontend/src/pages/vendors/edit-vendor.tsx
  frontend/src/pages/vendors/new-vendor.tsx
Labels: UI

feat(vendors): display nickname in vendor detail pages
  frontend/src/pages/vendors/components/VendorOverviewCard.tsx
  frontend/src/pages/vendors/vendor.tsx
Labels: UI

docs: update changelogs with recent session notes
  .claude/CHANGELOG.md
  frontend/.claude/CHANGELOG.md
Labels: none

feat: Add patch to backfill critical_po_category and critical_po_task in Material Delivery Plan
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_9/backfill_material_plan_critical_po.py
Labels: backend

fix:material print format changes in added in category and task from critical po
  nirmaan_stack/fixtures/print_format.json
Labels: backend

feat(MilestoneTab): Add Save As Before button and improve milestone card layout
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
Labels: UI

refactor(MilestonesSummary): Rename Overall tab to 14_days
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
Labels: UI

refactor(ReportControlBar): Separate zone tabs and reorganize layout
  frontend/src/pages/Manpower-and-WorkMilestones/components/ReportControlBar.tsx
Labels: UI

feat: All Zones DPR and 14 days All Downloaded
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneDailySummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/PDFDownloadButtons.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/ReportControlBar.tsx
  nirmaan_stack/api/milestone/__init__.py
  nirmaan_stack/api/milestone/print_milestone_reports.py
  nirmaan_stack/api/pdf_helper/pdf_merger_api.py
Labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
