Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

feat(05-08-task 3): search item names in the TDS export dialog
  frontend/src/pages/projects/TDSRepository/components/TdsExportDialog.tsx
Labels: UI

feat(06-08-task 7): filter TDS Items by linked / not-linked Item SKUs
  frontend/src/pages/tds/TDSRepositoryMaster.tsx
  frontend/src/pages/tds/components/LinkedSKUFilter.tsx
  nirmaan_stack/api/tds/members.py
Labels: UI, backend

feat(05-08-task 2): warn before a member-less TDS Item freezes a blank category
  frontend/src/pages/projects/TDSRepository/components/RequestTdsItemDialog.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsCreateForm.tsx
Labels: UI

feat(06-08-task 1): keep the TDS request cart as a per-project draft
  frontend/src/pages/projects/TDSRepository/TDSRepositoryView.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsCreateForm.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsDraftResumeDialog.tsx
  frontend/src/pages/projects/TDSRepository/hooks/useTdsRequestDraftManager.ts
  frontend/src/zustand/useTdsRequestDraftStore.ts
  nirmaan_stack/api/tds/approve.py
Labels: UI, backend

feat(06-08-task 4): show TDS group members in the print format sample description
  frontend/src/pages/tds/project_tds_report.html
  nirmaan_stack/api/tds/members.py
  nirmaan_stack/api/tds/tds_report.py
  nirmaan_stack/fixtures/print_format.json
  nirmaan_stack/nirmaan_stack/doctype/items/items.py
Labels: backend

feat(06-08-blank-category): surface the blank-category cause, and print it honestly
  frontend/src/pages/projects/TDSRepository/TDSRepositoryView.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsCreateForm.tsx
  frontend/src/pages/tds/project_tds_report.html
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

feat(06-08-task 8): widen Project TDS Item List.tds_category from Data to Small Text
  nirmaan_stack/nirmaan_stack/doctype/project_tds_item_list/project_tds_item_list.json
Labels: backend

docs(tds): record the 05-08/06-08 consumption-surface work; correct the delete rule
  frontend/.claude/context/role-access.md
  nirmaan_stack/.claude/context/domain/tds/CONTEXT.md
  nirmaan_stack/.claude/context/domain/tds/phase-3-plan.md
Labels: none

refactor(06-08-task 7): generalise the derived facet, add a Make filter to Repository Entries
  frontend/src/pages/tds/TDSRepositoryMaster.tsx
  frontend/src/pages/tds/components/DerivedFacetFilter.tsx
Labels: UI

fix(06-08-ui-tab): unify the Existing/New TDS Item toggle across both dialogs
  frontend/src/pages/projects/TDSRepository/components/RequestTdsItemDialog.tsx
  frontend/src/pages/tds/components/EditRequestItemModal.tsx
Labels: UI

feat(boq-rate-master): derived read-only blank_qty and blanker colour pins
  frontend/src/pages/pricing/rate-master/RateMasterDerivation.tsx
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  nirmaan_stack/api/boq/test_rate_master.py
Labels: UI, backend

docs(boq-rate-master): record the blanker slice
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

docs(outflow): record the v3 spec, the signed-off screen and the build plan
  docs/outflow-import/HANDOFF.md
  docs/outflow-import/screen-prototype.html
  docs/outflow-import/workflow.html
  frontend/.claude/plans/outflow-import-plan.md
Labels: none

feat(outflow): v3 status vocabulary and the Approved-only pool [MIGRATE]
  frontend/src/pages/outflow-import/OutflowImportBatchPage.tsx
  frontend/src/pages/outflow-import/components/CloseBatchDialog.tsx
  frontend/src/pages/outflow-import/config/outflowImportColumns.tsx
  frontend/src/pages/outflow-import/config/outflowImportTable.config.ts
  frontend/src/pages/outflow-import/outflowImportStatus.test.ts
  frontend/src/pages/outflow-import/outflowImportStatus.ts
  frontend/src/types/NirmaanStack/OutflowImportBatch.ts
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_close.py
  nirmaan_stack/api/outflow_import/test_expenses.py
  nirmaan_stack/api/outflow_import/test_review.py
  nirmaan_stack/api/outflow_import/test_upload.py
  nirmaan_stack/nirmaan_stack/doctype/outflow_import_batch/outflow_import_batch.json
  nirmaan_stack/nirmaan_stack/doctype/outflow_import_row/outflow_import_row.json
  nirmaan_stack/nirmaan_stack/doctype/outflow_row_match/outflow_row_match.json
  nirmaan_stack/nirmaan_stack/doctype/outflow_row_match/outflow_row_match.py
  nirmaan_stack/services/outflow_import/candidates.py
  nirmaan_stack/services/outflow_import/ledgers.py
  nirmaan_stack/services/outflow_import/settle.py
  nirmaan_stack/services/outflow_import/status.py
  nirmaan_stack/services/outflow_import/test_ledgers.py
  nirmaan_stack/services/outflow_import/test_status.py
Labels: UI, backend

feat(outflow): settle payments -- the write path v2 deleted
  nirmaan_stack/api/outflow_import/expenses.py
  nirmaan_stack/api/outflow_import/test_expenses.py
  nirmaan_stack/api/outflow_import/test_settle_payment.py
  nirmaan_stack/integrations/controllers/project_payments.py
  nirmaan_stack/nirmaan_stack/doctype/project_payments/project_payments.py
  nirmaan_stack/services/outflow_import/settle.py
Labels: backend

feat(outflow): upload preview, period-narrowed duplicates, .xlsx
  frontend/src/pages/outflow-import/NewOutflowImportPage.tsx
  frontend/src/types/NirmaanStack/OutflowImportBatch.ts
  nirmaan_stack/api/outflow_import/test_upload.py
  nirmaan_stack/api/outflow_import/upload.py
  nirmaan_stack/services/outflow_import/candidates.py
  nirmaan_stack/services/outflow_import/duplicates.py
  nirmaan_stack/services/outflow_import/parser.py
  nirmaan_stack/services/outflow_import/test_duplicates.py
  nirmaan_stack/services/outflow_import/test_parser.py
  nirmaan_stack/services/outflow_import/tests/fixtures/cashfree_sample.xlsx
Labels: UI, backend

feat(outflow): the batch screen -- table, three tabs, decision dialog
  frontend/src/pages/outflow-import/OutflowImportBatchPage.tsx
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/components/OutflowRowDetail.tsx
  frontend/src/pages/outflow-import/components/OutflowRowsTable.tsx
  frontend/src/pages/outflow-import/components/SettleExpensePanel.tsx
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
Labels: UI

fix(outflow): the matcher matched nothing on real data, and the dialog could not link
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_expenses.py
  nirmaan_stack/services/outflow_import/amounts.py
  nirmaan_stack/services/outflow_import/candidates.py
  nirmaan_stack/services/outflow_import/matcher.py
  nirmaan_stack/services/outflow_import/settle.py
  nirmaan_stack/services/outflow_import/test_amounts.py
  nirmaan_stack/services/outflow_import/test_matcher.py
Labels: UI, backend

docs(outflow): replace the handoff with the post-build state
  docs/outflow-import/HANDOFF.md
Labels: none

feat(boq-rate-master): price rows whose module count is zero
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.ts
Labels: UI

docs(boq-rate-master): record the module_fit bail fix
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

refactor(boq-rate-master): share coerceForMatch from a common module
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/pricing/rate-master/rateMasterStructure.test.ts
  frontend/src/pages/pricing/rate-master/rateMasterStructure.ts
Labels: UI

feat(boq-rate-master): numeric dropdown type and point_wiring dropdowns
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/pricing/rate-master/RateMasterDerivation.tsx
  frontend/src/pages/pricing/rate-master/rateMasterStructure.test.ts
  frontend/src/pages/pricing/rate-master/rateMasterStructure.ts
  frontend/src/pages/pricing/rate-master/rateMasterTypes.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v24.json
Labels: UI, backend

docs(boq-rate-master): record the coercion move and the numeric type
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(outflow): pre-select the matched record, and one Link payment list
  frontend/src/pages/outflow-import/OutflowImportBatchPage.tsx
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/components/OutflowRowsTable.tsx
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  frontend/src/types/NirmaanStack/OutflowImportBatch.ts
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_review.py
  nirmaan_stack/nirmaan_stack/doctype/outflow_import_row/outflow_import_row.json
  nirmaan_stack/services/outflow_import/status.py
  nirmaan_stack/services/outflow_import/test_status.py
Labels: UI, backend

chore(outflow): retire the reconciliation report, document the feature (V5)
  .claude/context/_index.md
  .claude/context/domain/outflow-import.md
  CLAUDE.md
  frontend/.claude/plans/outflow-import-plan.md
  frontend/src/pages/outflow-import/components/ReconciliationReport.tsx
  frontend/src/types/NirmaanStack/OutflowImportBatch.ts
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_review.py
Labels: UI, backend

fix(outflow): the already-paid guard compared amounts exactly, ignoring the Re 1 window
  .claude/context/domain/outflow-import.md
  docs/outflow-import/matching-explainer.html
  nirmaan_stack/services/outflow_import/amounts.py
  nirmaan_stack/services/outflow_import/status.py
  nirmaan_stack/services/outflow_import/test_status.py
Labels: backend

feat(outflow): link matched and settled rows to the record they point at
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/config/projectPaymentsTable.config.ts
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/components/OutflowRowsTable.tsx
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
Labels: UI

fix(outflow): Skipped and Mismatched rows had no link to the payment they name
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  frontend/src/types/NirmaanStack/OutflowImportBatch.ts
  nirmaan_stack/api/outflow_import/review.py
Labels: UI, backend

feat(boq-rate-master): teach the server coercion the number_choice type
  nirmaan_stack/services/boq_rate_master/extraction.py
  nirmaan_stack/services/boq_rate_master/test_extraction_coercion.py
Labels: backend

docs(boq-rate-master): record the server coercion gap and the type picker
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-rate-master): teach the data viewer the number_choice type
  frontend/src/pages/pricing/rate-master/RateMasterDataViewer.tsx
  frontend/src/pages/pricing/rate-master/rateMasterDataViewer.test.ts
  nirmaan_stack/api/boq/test_rate_suggest.py
Labels: UI, backend

docs(boq-rate-master): record the third coercion site and the stale pins
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): BCS Total and % Margin as editable per-sheet formulas
  frontend/src/pages/boq-wizard/AmountFormulaBuilder.tsx
  frontend/src/pages/boq-wizard/BcsColumnsDialog.tsx
  frontend/src/pages/boq-wizard/MarginFormulaBuilder.tsx
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/SummaryPanel.tsx
  frontend/src/pages/boq-wizard/amountFormula.test.ts
  frontend/src/pages/boq-wizard/amountFormula.ts
  frontend/src/pages/boq-wizard/amountFormulaBuilderPalette.test.ts
  frontend/src/pages/boq-wizard/bcsColumns.test.ts
  frontend/src/pages/boq-wizard/bcsColumns.ts
  frontend/src/pages/boq-wizard/bcsRollup.test.ts
  frontend/src/pages/boq-wizard/bcsRollup.ts
  frontend/src/pages/boq-wizard/boqTypes.ts
  frontend/src/pages/boq-wizard/formulaTokens.test.ts
  frontend/src/pages/boq-wizard/formulaTokens.ts
  frontend/src/pages/boq-wizard/marginView.test.ts
  frontend/src/pages/boq-wizard/marginView.ts
  frontend/src/pages/boq-wizard/pricingLoadState.test.ts
  frontend/src/pages/boq-wizard/pricingLoadState.ts
  frontend/src/pages/boq-wizard/pricingRollup.ts
  nirmaan_stack/api/boq/wizard/export_template_workbook.py
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/test_bcs.py
  nirmaan_stack/api/boq/wizard/test_export_writeback.py
  nirmaan_stack/api/boq/wizard/test_pricing.py
  nirmaan_stack/services/boq_bcs/readiness.py
  nirmaan_stack/services/boq_bcs/test_readiness.py
Labels: UI, backend

docs(boq): record the BCS formula arc and its invariants
  .claude/context/domain/boq-backend.md
  CLAUDE.md
  frontend/.claude/context/domain/boq-frontend.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): ladder binds are derived, not missing input
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
Labels: UI

docs(boq-pricing): record the derived-attribute gate fix
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): filter and sort % Margin from its own column header
  CLAUDE.md
  frontend/.claude/context/domain/boq-frontend.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
  frontend/src/pages/boq-wizard/MarginFormulaBuilder.tsx
  frontend/src/pages/boq-wizard/MarginRangeFilter.tsx
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/bcsColumns.test.ts
  frontend/src/pages/boq-wizard/bcsColumns.ts
  frontend/src/pages/boq-wizard/marginView.test.ts
  frontend/src/pages/boq-wizard/marginView.ts
Labels: UI

feat(boq-rate-helper): scope panel overrides to a row
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
Labels: UI

docs(boq-rate-helper): record the panel leak and the stopped display fix
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
