Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

docs(boq): MC-1b slice record - parts shape + display suffix convention
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): MC-2 thread description_parts_raw to draft rows and BOQ Nodes
  nirmaan_stack/api/boq/wizard/commit_pipeline.py
  nirmaan_stack/api/boq/wizard/parse_run.py
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_commit_pipeline.py
  nirmaan_stack/api/boq/wizard/test_parse_run.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/boq_nodes.json
  nirmaan_stack/nirmaan_stack/doctype/boq_review_row/boq_review_row.json
Labels: backend

docs(boq): MC-2 slice record - threading + doctype fields
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat: implement ActionCenter dashboard component and optimize action items API with bulk project name resolution
  frontend/src/components/action-center/ActionCenter.tsx
  frontend/src/components/layout/dashboards/dashboard-pm.tsx
  frontend/src/pages/projects/components/ProjectActionItems.tsx
  frontend/src/types/NirmaanStack/ProjectActionItem.ts
  nirmaan_stack/api/action_items/read.py
  nirmaan_stack/services/ceo_hold/core.py
  nirmaan_stack/services/ceo_hold/test_core.py
Labels: UI, backend

feat(boq-wizard): MC-3 allow multiple Description column mappings
  frontend/src/pages/boq-wizard/SheetConfigPanel.tsx
Labels: UI

docs(boq): MC-3 slice record - wizard multi-description config
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): MC-3b capture column header labels at parse time
  nirmaan_stack/services/boq_parser/orchestrator.py
  nirmaan_stack/services/boq_parser/test_orchestrator.py
Labels: backend

docs(boq): MC-3b slice record - header-label capture
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-wizard): MC-4 review screen faithful description columns
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  frontend/src/pages/boq-wizard/reviewRender.test.ts
  frontend/src/pages/boq-wizard/reviewRender.tsx
Labels: UI

docs(boq): MC-4 slice record - review screen fan-out
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(boq-wizard): MC-4-fix picker lists description columns first
  frontend/src/pages/boq-wizard/ReviewTree.tsx
Labels: UI

docs(boq): MC-4-fix record - picker ordering
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(boq-wizard): MC-4-fix2 picker description labels letter-first
  frontend/src/pages/boq-wizard/ReviewTree.tsx
Labels: UI

docs(boq): MC-4-fix2 record - picker label format
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-wizard): MC-5 pricing editor faithful description columns
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
Labels: UI

docs(boq): MC-5 slice record - pricing grid fan-out + freeze
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(boq-classification): voter single-row-batch parse + harness isolation/progress
  nirmaan_stack/services/boq_category/ai_voter.py
  nirmaan_stack/services/boq_category/harness/electrical_classification_harness.py
  nirmaan_stack/services/boq_category/tests/test_hv2_voter_harness.py
Labels: backend

docs(boq): HV-2 slice record - voter parse fix + harness hardening
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(boq-classification): harness reuses voter JSON extractor - single source of truth
  nirmaan_stack/services/boq_category/harness/electrical_classification_harness.py
  nirmaan_stack/services/boq_category/tests/test_hv2_voter_harness.py
Labels: backend

docs(boq): HV-2b note - harness extractor dedupe
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): proximity decay mechanism in classification runner - per-discipline multiplier, flat default byte-identical
  nirmaan_stack/services/boq_category/runner.py
  nirmaan_stack/services/boq_category/tests/test_decay.py
Labels: backend

docs(boq): D1 decay slice record - plan doc + root CLAUDE.md
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): tracked decay sweep harness tool - parameterized offline multiplier sweep vs labelled corpus
  nirmaan_stack/services/boq_category/harness/decay_sweep.py
Labels: backend

docs(boq): D2 sweep findings + D2c tool promotion - plan doc
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): ground-truth snapshot doctype + corpus classify-and-label runner
  nirmaan_stack/api/boq/wizard/test_truth_snapshot.py
  nirmaan_stack/nirmaan_stack/doctype/boq_category_truth_snapshot/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_category_truth_snapshot/boq_category_truth_snapshot.json
  nirmaan_stack/nirmaan_stack/doctype/boq_category_truth_snapshot/boq_category_truth_snapshot.py
  nirmaan_stack/services/boq_category/harness/corpus_classify_and_label.py
Labels: backend

docs(boq): D3a slice record - plan doc + root CLAUDE.md
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): batch-wise progress tracker in corpus classify mode
  nirmaan_stack/services/boq_category/harness/corpus_classify_and_label.py
Labels: backend

docs(boq): D3b note - plan doc
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): sheet-subset filter for targeted classify re-runs (only_boq / only_sheet)
  nirmaan_stack/services/boq_category/harness/corpus_classify_and_label.py
Labels: backend

docs(boq): D3c note - subset filter + the 60-plus-1 retry record - plan doc
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): add missing read indexes - committed grid rows parent + row category composite
  nirmaan_stack/nirmaan_stack/doctype/boq_committed_sheet_grid_row/boq_committed_sheet_grid_row.py
  nirmaan_stack/nirmaan_stack/doctype/boq_row_category/boq_row_category.py
Labels: backend

docs(boq): D3d note - index fix + cold-cache diagnosis - plan doc
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): pricing editor click-path perf - drop redundant category refetch + per-row category prop
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
Labels: UI

docs(boq): P1 perf slice record - plan doc + frontend CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): freeze/unfreeze classification - snapshot banking + verdict lock
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/classify.py
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/test_classify.py
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet/boq_sheet.json
  nirmaan_stack/services/boq_category/orchestrator.py
  nirmaan_stack/services/boq_category/persist.py
Labels: UI, backend

docs(boq): freeze/unfreeze slice record
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

docs(boq): correct pricing-lock expiry drift - 2 min not 5
  CLAUDE.md
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet_pricing_lock/boq_sheet_pricing_lock.json
Labels: backend

feat(boq): gate pricing editor socket reconnect refetch - kill idle re-render storm
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/reconnectGate.test.ts
Labels: UI

docs(boq): T1 reconnect-gate slice record
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): memoize PricingGrid + stabilize handler props - T2 shield
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
Labels: UI
