Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

feat: redirect to Create DN table view after successful DN creation
  frontend/src/pages/DeliveryNotes/components/pivot-table/DeliveryPivotTable.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/types.ts
  frontend/src/pages/DeliveryNotes/deliverynote.tsx
  frontend/src/pages/DeliveryNotes/hooks/useDeliverySubmit.ts
Labels: UI

feat: Enforce a fixed quantity of 1 for additional charges in PO revision
  frontend/src/pages/PORevision/components/Step1/AddChargeDialog.tsx
  frontend/src/pages/PORevision/components/Step1/Step1ReviseItems.tsx
Labels: UI

feat: enhance DN migration patch with sort order fix and catch-all pass
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/migrate_delivery_data_to_delivery_notes.py
Labels: backend

fix(po-revision): resolve duplicate payments and add due_date logic for credit terms
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: backend

feat: enhance PO Revision History table to display both quantity and rate changes in a combined "Changes" column.
  frontend/src/pages/PORevision/components/PORevisionHistory.tsx
Labels: UI

fix: cast JSON field to text for PostgreSQL comparison in catch-all query
  nirmaan_stack/patches/v3_0/migrate_delivery_data_to_delivery_notes.py
Labels: backend

fix(po-revision): include Partially Dispatched POs in credit transfer candidates
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: backend

fix(po-revision): dispatch-aware status recalculation after revision sync
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: backend

feat(po-revision): auto-dispatch new items added to post-dispatch POs
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: backend

feat: add is_dispatched field and expected_delivery_date for item-level dispatch tracking
  frontend/src/types/NirmaanStack/ProcurementOrders.ts
  nirmaan_stack/nirmaan_stack/doctype/procurement_orders/procurement_orders.json
  nirmaan_stack/nirmaan_stack/doctype/purchase_order_item/purchase_order_item.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/add_is_dispatched_field.py
Labels: UI, backend

feat: implement Partially Dispatched status in backend controllers
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/delivery_notes.py
  nirmaan_stack/integrations/controllers/procurement_orders.py
Labels: backend

feat: include Partially Dispatched POs in backend API queries
  nirmaan_stack/api/delivery_challans_data.py
  nirmaan_stack/api/delivery_notes/get_project_pos.py
  nirmaan_stack/api/pdf_helper/bulk_download.py
Labels: backend

feat: add item-level dispatch UI and Partially Dispatched PO tab
  frontend/src/config/queryKeys.ts
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/DispatchItemSelector.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/config/poTabs.constants.ts
  frontend/src/pages/ProcurementOrders/purchase-order/config/purchaseOrdersTable.config.ts
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  frontend/src/zustand/useDocCountStore.ts
Labels: UI

feat: propagate Partially Dispatched status across frontend
  frontend/src/components/layout/dashboards/procurement-dashboard.tsx
  frontend/src/components/pr-summary.tsx
  frontend/src/pages/BulkDownload/steps/POSteps.tsx
  frontend/src/pages/DeliveryChallansAndMirs/DeliveryChallansAndMirs.tsx
  frontend/src/pages/DeliveryNotes/constants.ts
  frontend/src/pages/DeliveryNotes/deliverynotes.tsx
  frontend/src/pages/DeliveryNotes/hooks/useDeliveryPivotData.ts
  frontend/src/pages/PORevision/components/Step2/Step2NegativeFlow.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/HistoricalQuotesHoverCard.tsx
  frontend/src/pages/reports/components/POReports.tsx
  frontend/src/pages/vendors/components/VendorMaterialOrdersTable.tsx
Labels: UI

docs: add PO status lifecycle map and update context index
  frontend/.claude/context/_index.md
  frontend/.claude/context/domain/po-status-map.md
Labels: none

fix: resolve DN migration patch ordering, note_no gaps, and item reconciliation
  nirmaan_stack/integrations/controllers/delivery_notes.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/migrate_delivery_data_to_delivery_notes.py
Labels: backend

fix: make expected delivery date mandatory and correct dispatch status logic
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

fix: redesign critical PO task linking to be additive-only during dispatch
  frontend/src/pages/ProcurementOrders/purchase-order/components/CriticalPOTaskLinkingSection.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/hooks/useCriticalPOTaskLinking.ts
Labels: UI

fix: support adding new items in DN edit and guard return notes
  frontend/src/pages/DeliveryNotes/hooks/useDeliveryEdit.ts
  nirmaan_stack/api/delivery_notes/edit_delivery_note.py
Labels: UI, backend

feat: Implement "Vendor Delivery Challan" generation with a new dialog for item modification and download functionality.
  frontend/src/pages/DeliveryNotes/components/VendorDCDialog.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/DeliveryPivotTable.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/PivotTableHeader.tsx
  frontend/src/pages/DeliveryNotes/hooks/useDownloadDN.ts
Labels: UI

feat:"Vendor Delivery Challan" -Print Format and add in DN..
  nirmaan_stack/fixtures/print_format.json
Labels: backend

feat:"Vendor Delivery Challan" -Print Format and add in DN..
  nirmaan_stack/fixtures/print_format.json
Labels: backend

feat: Implement "Vendor Delivery Challan" generation with a new dialog for item modification and download functionality.
  frontend/src/pages/DeliveryNotes/components/VendorDCDialog.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/DeliveryPivotTable.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/PivotTableHeader.tsx
  frontend/src/pages/DeliveryNotes/hooks/useDownloadDN.ts
Labels: UI

feat: Add Alert, AlertDescription, and Info icon imports to the component.
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
Labels: UI

feat(amend-po): Add Charges button in Amend PO + Fix Revert logic
  frontend/src/pages/ProcurementOrders/amend-po/approve-amend-po.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/AmendAddChargeDialog.tsx
Labels: UI

fix: add optional chaining to `po.items` to prevent potential errors
  frontend/src/pages/PORevision/components/Step3/Step3Summary.tsx
Labels: UI

feat: add delivery date columns to PO data tables and timeline
  frontend/src/config/queryKeys.ts
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/config/purchaseOrdersTable.config.ts
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  frontend/src/pages/reports/components/POReports.tsx
  frontend/src/pages/reports/components/columns/poColumns.tsx
  frontend/src/pages/reports/config/poReportsTable.config.ts
  frontend/src/pages/vendors/components/VendorMaterialOrdersTable.tsx
Labels: UI

feat(invoices): add edit functionality and optimize attachment handling
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceDialog.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/PaymentTermsDialog.tsx
  frontend/src/zustand/useDialogStore.ts
  nirmaan_stack/api/delivery_notes/update_invoice_data.py
Labels: UI, backend

refactor: Rename "Invoice Recon" to "Vendor Invoice Recon" in sidebar components.
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/ui/sidebar.tsx
Labels: UI

fix(frontend): align SWR cache keys to fix project value refresh delay
  frontend/src/pages/projects/components/CustomerPODeatilsCard.tsx
  frontend/src/pages/projects/edit-project-form.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/projects/queries.ts
Labels: UI

feat: Make customer PO link/attachment optional in add dialog and improve form reset logic.
  frontend/src/pages/projects/components/AddCustomerPODialog.tsx
  frontend/src/pages/projects/components/CustomerPODeatilsCard.tsx
  frontend/src/pages/projects/components/EditCustomerPODialog.tsx
  nirmaan_stack/api/projects/add_customer_po.py
Labels: UI, backend

fix: Project Progress Report , currently we have they Assignees this have they list show delay of don't have depency array ::Fix
  frontend/src/pages/reports/components/ProjectProgressReports.tsx
Labels: UI

feat: Implement role-based access control for TDS item actions and simplify 'TDS Repository' tab label to 'TDS'.
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/projects/TDSRepository/NoTDSRepositoryView.tsx
  frontend/src/pages/projects/TDSRepository/TDSRepositoryView.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsHistoryTable.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/tds/TDSRepositoryMaster.tsx
Labels: UI

refactor: recalculate delivered amount during PO revision approval
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: backend

feat: Add Vendor Delivery Notes tab and table to the vendor details page.
  frontend/src/pages/vendors/components/VendorDeliveryNotesTable.tsx
  frontend/src/pages/vendors/vendor.tsx
Labels: UI

feat: Prefix delivery note numbers with 'DN-' or 'RN-' based on return status and refactor user data fetching to use the shared `useUsersList` hook.
  frontend/src/pages/vendors/components/VendorDeliveryNotesTable.tsx
Labels: UI

feat: Add `modified_by` field to invoice data APIs and display it as a "Last Modified By" column in the frontend invoice tables.
  frontend/src/pages/tasks/invoices/components/PoInvoices.tsx
  frontend/src/pages/tasks/invoices/components/SrInvoices.tsx
  nirmaan_stack/api/invoices/po_wise_invoice_data.py
  nirmaan_stack/api/invoices/sr_wise_invoice_data.py
Labels: UI, backend

fix: no past dates allowed in PO Estimated Delivery Date field
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

fix: remove legacy generateUserPermissions hook causing PMO assignment bug
  nirmaan_stack/hooks.py
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.py
Labels: backend

fix: disable virtualization in Material Usage tables to prevent flickering
  frontend/src/pages/projects/components/POWiseMaterialTable.tsx
  frontend/src/pages/projects/components/ProjectMaterialUsageTab.tsx
  frontend/src/pages/projects/components/VirtualizedMaterialTable.tsx
Labels: UI
