Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

docs(boq): V0 T2 slice record
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): virtualized pricing grid windowing + A/B render-path toggle
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/pricingVirtual.test.ts
  frontend/src/pages/boq-wizard/pricingVirtual.ts
Labels: UI

docs(boq): V1 windowing slice record + V2 known gaps
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(boq): virtualized frozen-pane alignment + truncation - max-of-both-panes measure
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/pricingVirtual.test.ts
  frontend/src/pages/boq-wizard/pricingVirtual.ts
Labels: UI

docs(boq): V1-FIX record - pane inversion + max-of-both-panes measure
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(perf): bound `WHERE ... IN()` lists to survive sqlparse 10k-token cap (prod outage)
  nirmaan_stack/api/data_table/facets.py
  nirmaan_stack/api/data_table/search.py
  nirmaan_stack/api/data_table/utils.py
  nirmaan_stack/api/invoices/po_wise_invoice_data.py
  nirmaan_stack/api/invoices/sr_wise_invoice_data.py
  nirmaan_stack/api/sidebar_counts.py
Labels: backend

fix(perf): chunk remaining unbounded `IN` lists (sqlparse 10k-token cap follow-up)
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/update_sheet_draft.py
  nirmaan_stack/api/commission_report/tracker_options.py
  nirmaan_stack/api/critical_po_tasks/get_projects_with_stats.py
  nirmaan_stack/api/critical_pr_tasks/get_projects_with_pr_stats.py
  nirmaan_stack/api/customers/customer_financials.py
  nirmaan_stack/api/delivery_notes/get_delivery_notes.py
  nirmaan_stack/api/delivery_notes/get_project_pos.py
  nirmaan_stack/api/milestone/get_header_milestones_preview.py
  nirmaan_stack/api/milestone/project_schedule.py
  nirmaan_stack/api/po_delivery_documentss.py
  nirmaan_stack/api/projects/project_aggregates.py
  nirmaan_stack/api/seven_days_planning/cashflow_plan_api.py
  nirmaan_stack/api/seven_days_planning/get_projects_cashflow_plan_stats.py
  nirmaan_stack/api/seven_days_planning/get_projects_material_plan_stats.py
  nirmaan_stack/api/seven_days_planning/material_plan_api.py
  nirmaan_stack/api/target_rates/get_target_rates_for_item_list.py
  nirmaan_stack/api/tasks/attachment_names.py
  nirmaan_stack/api/vendor/get_vendor_po_invoices.py
  nirmaan_stack/integrations/controllers/procurement_requests.py
Labels: backend

docs: add as-built record for the sqlparse 10k-token IN-list fix
  HANDOFF-sqlparse-in-list-token-limit-fix.md
Labels: none

fix(boq): pricing grid virtualized frozen alignment at any DPR + resize self-heal
  frontend/src/pages/boq-wizard/PricingGrid.tsx
Labels: UI

docs(boq): V1-FIX-2 + V1-FIX-2b as-built - plan doc + frontend CLAUDE.md invariant
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(boq): re-serialize description_parts_raw on review-row edit save
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
Labels: backend

feat(commission-print): affix Nirmaan seal as fixed-height signature box
  frontend/public/nirmaan-seal-sign.png
  frontend/src/pages/CommissionReport/commission-printformat.html
  frontend/src/pages/CommissionReport/ls-commission-printformat.html
  frontend/src/pages/CommissionReport/report-wizard/renderer/SignaturesSection.tsx
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

perf(projects): fix PR-status-count N+1, drop superseded client fetches
  frontend/src/pages/projects/data/root/useProjectRootApi.ts
  nirmaan_stack/api/projects/project_aggregates.py
  nirmaan_stack/api/projects/test_project_aggregates.py
Labels: UI, backend

refactor(estimates): drop recharts, render estimate donuts in CSS/SVG
  frontend/package.json
  frontend/src/components/ui/chart.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/ProjectScheduler.tsx
  frontend/src/pages/projects/add-project-estimates.tsx
  frontend/src/pages/projects/project.tsx
  frontend/yarn.lock
Labels: UI

perf(frontend): cut query cost — batch counts + server-side rollups
  frontend/src/components/layout/dashboards/dashboard-accountant.tsx
  frontend/src/components/layout/dashboards/dashboard-default.tsx
  frontend/src/components/layout/dashboards/dashboard-pl.tsx
  frontend/src/components/layout/dashboards/estimates-executive-dashboard.tsx
  frontend/src/components/layout/dashboards/procurement-dashboard.tsx
  frontend/src/hooks/useCounts.ts
  frontend/src/pages/Assets/components/AssetsSummaryCard.tsx
  frontend/src/pages/Expenses/ExpenseLayout.tsx
  frontend/src/pages/NonProjectExpenses/NonProjectExpensesPage.tsx
  frontend/src/pages/ProjectExpenses/ProjectExpensesList.tsx
  frontend/src/pages/customers/CustomerOverview.tsx
  frontend/src/pages/customers/components/CustomersSummaryCard.tsx
  frontend/src/pages/inflow-payments/components/NewInflowPayment.tsx
  frontend/src/pages/projects/data/root/useProjectRootApi.ts
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/tasks/invoices/hooks/useTotalInvoicedByDocument.ts
  nirmaan_stack/api/counts.py
  nirmaan_stack/api/invoices/get_vendor_invoice_totals.py
  nirmaan_stack/api/projects/project_aggregates.py
  nirmaan_stack/api/test_counts.py
Labels: UI, backend

refactor(ui): remove Ant Design (antd) — migrate all usages to shadcn/Tailwind
  frontend/package.json
  frontend/src/components/nav/nav-bar.tsx
  frontend/src/components/pr-summary.tsx
  frontend/src/components/ui/segmented-control.tsx
  frontend/src/components/ui/simple-table.tsx
  frontend/src/pages/ProcurementRequests/NewPR/NewCustomPR.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/Retired Components/ReleasePONew.tsx
  frontend/src/pages/Retired Components/approve-order.tsx
  frontend/src/pages/Retired Components/approve-sent-back.tsx
  frontend/src/pages/Retired Components/approve-vendor.tsx
  frontend/src/pages/Retired Components/delayed-pr.tsx
  frontend/src/pages/Retired Components/procurement/rfq-pdf.tsx
  frontend/src/pages/Retired Components/procurement/select-vendors.tsx
  frontend/src/pages/Retired Components/procurement/sent-back-select-vendor.tsx
  frontend/src/pages/Retired Components/sr-summary.tsx
  frontend/src/pages/Sent Back Requests/SBQuotesSelectionReview.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-amended-sr.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/pages/ServiceRequests/service-request/select-service-vendor.tsx
  frontend/src/pages/customers/CustomerFinancials.tsx
  frontend/src/pages/projects/AllTab.tsx
  frontend/src/pages/projects/CategoryAccordion.tsx
  frontend/src/pages/projects/CriticalPOTasks/components/EditTaskDialog.tsx
  frontend/src/pages/projects/CustomHoverCard.tsx
  frontend/src/pages/projects/ProjectSpendsTab.tsx
  frontend/src/pages/projects/ServiceRequestsAccordion.tsx
  frontend/src/pages/projects/add-project-estimates.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/tasks/invoices/components/ReconciliationDialog.tsx
  frontend/src/pages/vendors-wp-categories/vendors-aq2.tsx
  frontend/src/pages/vendors/components/POVendorLedger.tsx
  frontend/src/pages/vendors/vendor.tsx
  frontend/yarn.lock
Labels: UI

feat(boq): V2 virtualized-grid unmount safety - jump/nav to unmounted rows, overlay close-on-scroll-out, remark durable re-key
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/pricingVirtual.test.ts
  frontend/src/pages/boq-wizard/pricingVirtual.ts
Labels: UI

docs(boq): V2 unmount-safety as-built - plan-doc Slice V2 record + frontend CLAUDE.md invariants
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(payments): drop oversized project IN-filter overrunning nginx URL limit
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/Retired Components/ApproveSBVendorQuotes.tsx
  frontend/src/pages/Retired Components/approve-r-reject-vendor-quotes.tsx
  nirmaan_stack/api/projects/project_aggregates.py
Labels: UI, backend

fix(boq): V2-FIX in-row popover overscan-zone ghost - close on visibility loss
  frontend/src/pages/boq-wizard/PricingGrid.tsx
Labels: UI

docs(boq): V2-FIX as-built - plan-doc Slice V2-FIX record + frontend CLAUDE.md invariant correction
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

docs(boq): Absorb record - develop 41ed67ba merge as-built (conflicts, patches.txt reconciliation, gates + alignment numbers)
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): migrate patch for D3d read indexes - grid row parent + row category composite
  nirmaan_stack/patches/v3_0/add_boq_read_indexes.py
Labels: backend

docs(boq): record read-index migrate patch slice
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

chore(boq): wire add_boq_read_indexes into patches.txt post_model_sync
  nirmaan_stack/patches.txt
Labels: none

docs(boq): Create-from-Template design of record (ADR-0013 + plan)
  docs/adr/0013-boq-create-from-template.md
  docs/boq/create-from-template-locked-design.html
  docs/boq/create-from-template-understanding.html
  frontend/.claude/plans/boq-create-from-template-plan.md
Labels: none

feat(boq): T1 schema for Create-from-Template (additive, inert for upload)
  nirmaan_stack/nirmaan_stack/doctype/boq_review_row/boq_review_row.json
  nirmaan_stack/nirmaan_stack/doctype/boqs/boqs.json
Labels: backend

fix(boq): allow project-less template BoQs (before_insert + attachment autoname)
  nirmaan_stack/integrations/controllers/boqs.py
  nirmaan_stack/nirmaan_stack/doctype/nirmaan_attachments/nirmaan_attachments.py
Labels: backend

feat: ADR-0010 residence enforcement package (ratchet + ownership manifest)
  .claude/context/domain/procurement.md
  CLAUDE.md
  docs/adr/0010-module-residence-rules.md
  docs/architecture/residence-enforcement.html
  frontend/CLAUDE.md
  scripts/residence_baseline.json
  scripts/residence_check.py
Labels: none

feat(boq): A1 master-template doctype — Create-from-Template store redesign
  docs/adr/0013-boq-create-from-template.md
  frontend/.claude/plans/boq-create-from-template-plan.md
  nirmaan_stack/api/boq/wizard/create_from_template.py
  nirmaan_stack/api/boq/wizard/row_renumber.py
  nirmaan_stack/api/boq/wizard/template_admin.py
  nirmaan_stack/api/boq/wizard/template_edit.py
  nirmaan_stack/api/boq/wizard/template_materialize.py
  nirmaan_stack/api/boq/wizard/template_rows.py
  nirmaan_stack/api/boq/wizard/test_create_from_template.py
  nirmaan_stack/api/boq/wizard/test_template_admin.py
  nirmaan_stack/api/boq/wizard/test_template_edit.py
  nirmaan_stack/api/boq/wizard/test_template_materialize.py
  nirmaan_stack/api/boq/wizard/upload_file.py
  nirmaan_stack/integrations/controllers/boqs.py
  nirmaan_stack/nirmaan_stack/doctype/boq_template/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_template/boq_template.json
  nirmaan_stack/nirmaan_stack/doctype/boq_template/boq_template.py
  nirmaan_stack/nirmaan_stack/doctype/boq_template_row/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_template_row/boq_template_row.json
  nirmaan_stack/nirmaan_stack/doctype/boq_template_row/boq_template_row.py
  nirmaan_stack/nirmaan_stack/doctype/boq_template_sheet/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_template_sheet/boq_template_sheet.json
  nirmaan_stack/nirmaan_stack/doctype/boq_template_sheet/boq_template_sheet.py
  nirmaan_stack/nirmaan_stack/doctype/boqs/boqs.json
Labels: backend

feat(boq): T6 template lifecycle + authoring-via-upload + list filter
  frontend/src/pages/boq-wizard/BoqProjectTab.tsx
  nirmaan_stack/api/boq/wizard/template_admin.py
  nirmaan_stack/api/boq/wizard/test_template_admin.py
  nirmaan_stack/api/boq/wizard/upload_file.py
Labels: UI, backend

feat(boq): A1 frontend Stage 1 — create entry, hub template-origin, templates-admin shell
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/BoqPickerPage.tsx
  frontend/src/pages/boq-wizard/BoqProjectTab.tsx
  frontend/src/pages/boq-wizard/SheetCard.tsx
  frontend/src/pages/boq-wizard/TemplateCreateFlow.tsx
  frontend/src/pages/boq-wizard/TemplateEditorPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  frontend/src/pages/boq-wizard/sheetCardStages.ts
Labels: UI

feat(boq): T5 filter finalize-gate + commit to included subset (is_excluded=0)
  nirmaan_stack/api/boq/wizard/commit_pipeline.py
  nirmaan_stack/api/boq/wizard/commit_validation.py
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_is_excluded_filter.py
Labels: backend

feat(boq): T5b commit grid from review rows for template origin
  docs/adr/0013-boq-create-from-template.md
  frontend/.claude/plans/boq-create-from-template-plan.md
  nirmaan_stack/api/boq/wizard/commit_pipeline.py
  nirmaan_stack/api/boq/wizard/test_template_commit_grid.py
Labels: backend

feat(boq): T4 template row create/delete (renumber-on-insert)
  nirmaan_stack/api/boq/wizard/template_rows.py
  nirmaan_stack/api/boq/wizard/test_template_rows.py
Labels: backend

feat(boq): T2 clone-from-template worker + endpoints
  nirmaan_stack/api/boq/wizard/create_from_template.py
  nirmaan_stack/api/boq/wizard/test_create_from_template.py
Labels: backend

feat(boq): T3 template row selection cascade (set_row_excluded)
  nirmaan_stack/api/boq/wizard/template_select.py
  nirmaan_stack/api/boq/wizard/test_template_select.py
Labels: backend

docs(boq): A1 as-built — FE stages + live E2E result + lock-race fix + residual note
  frontend/.claude/plans/boq-create-from-template-plan.md
Labels: none

feat(boq): A1 frontend Stage 2 — review selection/qty + row create/delete + template editor
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/SheetReviewPage.tsx
  frontend/src/pages/boq-wizard/TemplateEditorPage.tsx
  frontend/src/pages/boq-wizard/TemplateRowsEditor.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  frontend/src/pages/boq-wizard/templateSelection.ts
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/template_edit.py
  nirmaan_stack/api/boq/wizard/test_template_edit.py
Labels: UI, backend

docs(boq): A2 Slices 1+2 — mark committed + live-E2E-verified in plan
  frontend/.claude/plans/boq-create-from-template-plan.md
Labels: none
