Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

feat(hvac-pricing): ADP panel and calculator - item blocks, change, add, remove; ADP live; UL and mixing-box fixes; HVAC v8
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/boq-wizard/rate-helper/rateHelperPlumbing.tsx
  frontend/src/pages/pricing/PricingCalculator.tsx
  frontend/src/pages/pricing/pricingCalculator.test.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/api/boq/test_rate_suggest.py
  nirmaan_stack/services/boq_category/prompts/boq_rate_item_list_prompt.md
  nirmaan_stack/services/boq_rate_master/config_validation.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v8.json
  nirmaan_stack/services/boq_rate_master/extraction.py
  nirmaan_stack/services/boq_rate_master/test_extraction_coercion.py
Labels: UI, backend

docs(hvac-pricing): slice 6 as built
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(hvac-pricing): slice 6b as built
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(hvac-pricing): panel dropdowns from the SKUs; repeated families; per-block quantity in one row unit; HVAC v9
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/pricing/pricingCalculator.test.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/config_validation.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v9.json
  nirmaan_stack/services/boq_rate_master/test_extraction_coercion.py
Labels: UI, backend

docs(hvac-pricing): slice 6c as built
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(hvac-pricing): mark an assumed per-item quantity as a default
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
Labels: UI

feat(hvac-pricing): ask the model for the per-item count; code defaults it to 1
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_category/prompts/boq_rate_item_list_prompt.md
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v10.json
  nirmaan_stack/services/boq_rate_master/test_extraction_coercion.py
Labels: UI, backend

docs(hvac-pricing): slice 6d as built
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(invoices): widen Pending Invoices Upload PO statuses, add Status filter
  frontend/src/config/queryKeys.ts
  frontend/src/pages/reports/components/POReports.tsx
  frontend/src/pages/reports/components/columns/poColumns.tsx
  frontend/src/pages/reports/components/columns/srColumns.tsx
  frontend/src/pages/reports/constants.ts
  frontend/src/pages/reports/hooks/usePOReportsData.ts
Labels: UI

feat(outflow-import): Bank lines dialog on Settled rows; drop Non Proj Exp from Received
  frontend/src/pages/ProjectPayments/components/ExpenseBankLinesPopover.tsx
  frontend/src/pages/ProjectPayments/components/expenseBankLinesView.ts
  frontend/src/pages/outflow-import/components/OutflowRowsTable.tsx
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  nirmaan_stack/api/approvals/expense_bank_lines.py
  nirmaan_stack/api/approvals/test_expense_bank_lines.py
  nirmaan_stack/api/outflow_import/test_inflows.py
  nirmaan_stack/services/outflow_import/expense_links.py
  nirmaan_stack/services/outflow_import/ledgers.py
  nirmaan_stack/services/outflow_import/test_status.py
Labels: UI, backend

feat(outflow-import): Unreconcile, Skip and Unskip for Cashbook lines (#1314)
  .claude/context/domain/outflow-import.md
  docs/adr/0015-cashbook-import-creates-expenses.md
  docs/adr/0022-unreconcile-and-unskip.md
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/components/OutflowRowsTable.tsx
  frontend/src/pages/outflow-import/components/SkippedRowsDialog.tsx
  frontend/src/pages/outflow-import/newExpenseSeed.test.ts
  frontend/src/pages/outflow-import/newExpenseSeed.ts
  frontend/src/pages/outflow-import/outflowImportStatus.ts
  frontend/src/pages/outflow-import/outflowUndoAccessParity.test.ts
  frontend/src/pages/outflow-import/unreconcileView.test.ts
  frontend/src/pages/outflow-import/unreconcileView.ts
  frontend/src/pages/outflow-import/unskipView.test.ts
  frontend/src/pages/outflow-import/unskipView.ts
  frontend/src/types/NirmaanStack/OutflowImportBatch.ts
  nirmaan_stack/api/outflow_import/cashbook.py
  nirmaan_stack/api/outflow_import/expenses.py
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_cashbook_undo.py
  nirmaan_stack/api/outflow_import/test_skip_row.py
  nirmaan_stack/api/outflow_import/test_unreconcile_payments.py
  nirmaan_stack/api/outflow_import/test_unskip_row.py
  nirmaan_stack/api/outflow_import/unreconcile.py
  nirmaan_stack/services/outflow_import/skip_origin.py
  nirmaan_stack/services/outflow_import/sources.py
  nirmaan_stack/services/outflow_import/test_skip_origin.py
  nirmaan_stack/services/outflow_import/test_sources.py
  nirmaan_stack/services/outflow_import/test_unreconcile.py
  nirmaan_stack/services/outflow_import/unreconcile.py
Labels: UI, backend

fix(outflow-import): Create form shows the wallet id as the payment reference (#1314)
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
Labels: UI

feat(outflow-import): let a plain Accountant Skip and Unskip (ADR-0022 Amendment E)
  .claude/context/domain/outflow-import.md
  docs/adr/0022-unreconcile-and-unskip.md
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/components/SkippedRowsDialog.tsx
  frontend/src/pages/outflow-import/outflowImportStatus.ts
  frontend/src/pages/outflow-import/outflowUndoAccessParity.test.ts
  nirmaan_stack/api/outflow_import/expenses.py
  nirmaan_stack/api/outflow_import/permissions.py
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_cashbook_undo.py
  nirmaan_stack/api/outflow_import/test_expenses.py
  nirmaan_stack/api/outflow_import/test_skip_row.py
  nirmaan_stack/api/outflow_import/test_unskip_row.py
Labels: UI, backend

feat(invoices): open Pending Invoices Upload tab to PMO and procurement
  frontend/src/constants/roles.ts
  frontend/src/pages/tasks/invoices/InvoiceReconciliationContainer.tsx
Labels: UI

docs(hvac-pricing): slice 7 ADP review pack
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(hvac-pricing): outer-size matching, UL wins, flexible duct standard length
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/config_validation.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v11.json
Labels: UI, backend

docs(hvac-pricing): slice 8 as built
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(po,wo): PMO requests PO payments; status-aware PO links; SR Invoice items from work_order_items
  frontend/.claude/context/role-access.md
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPaymentTermsCard.tsx
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

fix(payments): date part-reconciled money by its newest bank line
  .claude/context/domain/outflow-import.md
  frontend/src/pages/reports/components/PartiallyReconciledDialog.tsx
  frontend/src/pages/reports/components/PartiallyReconciledLines.tsx
  frontend/src/pages/reports/components/outflowReportTable.tsx
  frontend/src/pages/reports/hooks/usePartiallyReconciled.ts
  nirmaan_stack/api/payments/get_project_payment_summary.py
  nirmaan_stack/api/payments/test_payment_dashboard_stats.py
  nirmaan_stack/api/reports/partially_reconciled.py
  nirmaan_stack/api/reports/test_partially_reconciled.py
  nirmaan_stack/services/outflow_import/expense_links.py
  nirmaan_stack/services/outflow_import/test_expense_links.py
Labels: UI, backend

refactor(outflow-import): reusable one-line undo and shared off-page check (#1318)
  frontend/src/pages/outflow-import/linkLinesView.ts
  frontend/src/pages/outflow-import/offPageTicks.test.ts
  frontend/src/pages/outflow-import/offPageTicks.ts
  nirmaan_stack/api/outflow_import/expenses.py
  nirmaan_stack/api/outflow_import/unreconcile.py
Labels: UI, backend

feat(outflow-import): tick Settled lines and preview a bulk unreconcile (#1319)
  .claude/context/domain/outflow-import.md
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  frontend/src/pages/outflow-import/bulkUnreconcileView.test.ts
  frontend/src/pages/outflow-import/bulkUnreconcileView.ts
  frontend/src/pages/outflow-import/components/BulkUnreconcileDialog.tsx
  frontend/src/pages/outflow-import/components/OutflowRowsTable.tsx
  frontend/src/pages/outflow-import/components/UnreconcileDialog.tsx
  frontend/src/pages/outflow-import/tickMode.test.ts
  frontend/src/pages/outflow-import/tickMode.ts
  frontend/src/pages/outflow-import/unreconcileView.ts
  nirmaan_stack/api/outflow_import/bulk_unreconcile.py
  nirmaan_stack/api/outflow_import/test_bulk_unreconcile_plan.py
  nirmaan_stack/api/outflow_import/unreconcile.py
Labels: UI, backend

feat(hvac-pricing): one size field, stated diameters, no heading bleed, outer-size matching
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_category/prompts/boq_rate_item_list_prompt.md
  nirmaan_stack/services/boq_rate_master/config_validation.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v12.json
  nirmaan_stack/services/boq_rate_master/spec_reader.py
  nirmaan_stack/services/boq_rate_master/test_extraction_coercion.py
Labels: UI, backend

docs(hvac-pricing): slice 9 as built
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(hvac-pricing): slice 10 ADP extraction audit
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(outflow-import): stop the test split-child sweep deleting real payments
  nirmaan_stack/api/outflow_import/test_settle_payment.py
Labels: backend

feat(outflow-import): undo the ticked Settled lines -- reason, run, result (#1320)
  .claude/context/domain/outflow-import.md
  docs/adr/0022-unreconcile-and-unskip.md
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  frontend/src/pages/outflow-import/bulkUnreconcileView.test.ts
  frontend/src/pages/outflow-import/bulkUnreconcileView.ts
  frontend/src/pages/outflow-import/components/BulkUnreconcileDialog.tsx
  nirmaan_stack/api/outflow_import/bulk_unreconcile.py
  nirmaan_stack/api/outflow_import/test_bulk_unreconcile.py
  nirmaan_stack/api/outflow_import/unreconcile.py
Labels: UI, backend

feat(outflow-import): select-all follows the tick mode -- pin it, drop the dead hint (#1321)
  .claude/context/domain/outflow-import.md
  frontend/src/pages/outflow-import/tickMode.test.ts
  frontend/src/pages/outflow-import/tickMode.ts
Labels: UI

fix(outflow-import): bulk unreconcile review fixes -- no `or [""]` sweep, "Not undone" wording (#1317)
  frontend/src/pages/outflow-import/bulkUnreconcileView.test.ts
  frontend/src/pages/outflow-import/bulkUnreconcileView.ts
  frontend/src/pages/outflow-import/components/BulkUnreconcileDialog.tsx
  nirmaan_stack/api/outflow_import/test_bulk_unreconcile.py
Labels: UI, backend

feat(reports): WO Payment Voucher Uploads report
  frontend/src/components/paymentsVoucher/PaymentVoucherActions.tsx
  frontend/src/constants/roles.ts
  frontend/src/hooks/useServerDataTable.ts
  frontend/src/pages/reports/ReportsContainer.tsx
  frontend/src/pages/reports/components/WOPaymentVoucherReport.tsx
  frontend/src/pages/reports/components/columns/woPaymentVoucherColumns.tsx
  frontend/src/pages/reports/config/woPaymentVoucherTable.config.test.ts
  frontend/src/pages/reports/config/woPaymentVoucherTable.config.ts
  frontend/src/pages/reports/store/useReportStore.ts
  nirmaan_stack/api/data_table/test_aggregations.py
  nirmaan_stack/api/data_table/utils.py
Labels: UI, backend

fix(reports): a reload keeps the tab's report named in the URL
  frontend/src/pages/reports/ReportsContainer.tsx
Labels: UI

chore(skills): added matt-pocock workflow files for agents
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
Labels: none

feat(hvac-pricing): absent means not mentioned for damper, insulation and variant; unit synonyms; slash pairs take the higher; a named damper is not a separate item
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.test.ts
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_category/prompts/boq_rate_item_list_prompt.md
  nirmaan_stack/services/boq_rate_master/config_validation.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v13.json
  nirmaan_stack/services/boq_rate_master/test_extraction_coercion.py
Labels: UI, backend

docs(hvac-pricing): slice 11 as built
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(hvac-pricing): slice 11 cert addendum - the four blocked steps certified on screen
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

refactor(wo): drop the old Work Order entry points from the UI
  frontend/src/components/helpers/renderRightActionButton.tsx
  frontend/src/components/layout/dashboards/procurement-dashboard.tsx
Labels: UI

feat(hod): Handover Documents project tab
  frontend/src/pages/HandoverDocuments/AddSystemDialog.tsx
  frontend/src/pages/HandoverDocuments/DocumentDialog.tsx
  frontend/src/pages/HandoverDocuments/HandoverDocumentsTab.tsx
  frontend/src/pages/HandoverDocuments/HodActionCell.tsx
  frontend/src/pages/HandoverDocuments/HodDownloadDialogs.tsx
  frontend/src/pages/HandoverDocuments/HodGuideDialog.tsx
  frontend/src/pages/HandoverDocuments/NoHandoverDocumentsView.tsx
  frontend/src/pages/HandoverDocuments/SystemChecklist.tsx
  frontend/src/pages/HandoverDocuments/forms/PicturesField.tsx
  frontend/src/pages/HandoverDocuments/forms/SourcesView.tsx
  frontend/src/pages/HandoverDocuments/forms/TableForms.tsx
  frontend/src/pages/HandoverDocuments/forms/TemplateForms.tsx
  frontend/src/pages/HandoverDocuments/hodApi.ts
  frontend/src/pages/HandoverDocuments/hodDownloads.ts
  frontend/src/pages/HandoverDocuments/hodRules.test.ts
  frontend/src/pages/HandoverDocuments/hodRules.ts
  frontend/src/pages/HandoverDocuments/print-formats/hod-checklist.html
  frontend/src/pages/HandoverDocuments/print-formats/hod-document.html
  frontend/src/pages/HandoverDocuments/types.ts
  frontend/src/pages/HandoverDocuments/useHodBinder.ts
  frontend/src/pages/projects/project.tsx
Labels: UI

feat(hod): Handover Documents backend — doctypes, rules, API, binder
  nirmaan_stack/api/hod/__init__.py
  nirmaan_stack/api/hod/binder.py
  nirmaan_stack/api/hod/from_app.py
  nirmaan_stack/api/hod/print_context.py
  nirmaan_stack/api/hod/project_hod.py
  nirmaan_stack/api/hod/project_info.py
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/project_hod_document.py
  nirmaan_stack/nirmaan_stack/doctype/hod_library_content/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/hod_library_content/hod_library_content.json
  nirmaan_stack/nirmaan_stack/doctype/hod_library_content/hod_library_content.py
  nirmaan_stack/nirmaan_stack/doctype/hod_system/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/hod_system/hod_system.json
  nirmaan_stack/nirmaan_stack/doctype/hod_system/hod_system.py
  nirmaan_stack/nirmaan_stack/doctype/project_hod_document/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/project_hod_document/project_hod_document.json
  nirmaan_stack/nirmaan_stack/doctype/project_hod_document/project_hod_document.py
  nirmaan_stack/services/hod/__init__.py
  nirmaan_stack/services/hod/blanks.py
  nirmaan_stack/services/hod/checklist.py
  nirmaan_stack/services/hod/dates.py
  nirmaan_stack/services/hod/index.py
  nirmaan_stack/services/hod/sources.py
  nirmaan_stack/services/hod/test_hod_services.py
Labels: backend

feat(hod): tick documents off by hand, and the project's own TDS report
  frontend/.claude/plans/handover-documents-gaps.md
  frontend/src/pages/HandoverDocuments/DocumentDialog.tsx
  frontend/src/pages/HandoverDocuments/HodActionCell.tsx
  frontend/src/pages/HandoverDocuments/MaterialTdsDialog.tsx
  frontend/src/pages/HandoverDocuments/SystemChecklist.tsx
  frontend/src/pages/HandoverDocuments/forms/SourcesView.tsx
  frontend/src/pages/HandoverDocuments/hodApi.ts
  frontend/src/pages/HandoverDocuments/hodRules.test.ts
  frontend/src/pages/HandoverDocuments/types.ts
  frontend/src/pages/HandoverDocuments/useHodTdsExport.ts
  frontend/src/pages/projects/TDSRepository/TDSRepositoryTab.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsExportDialog.tsx
  frontend/src/pages/projects/data/tds/tdsSettings.ts
  nirmaan_stack/api/hod/binder.py
  nirmaan_stack/api/hod/from_app.py
  nirmaan_stack/api/hod/print_context.py
  nirmaan_stack/api/hod/project_hod.py
  nirmaan_stack/api/hod/tds_pack.py
  nirmaan_stack/api/tds/tds_report.py
  nirmaan_stack/integrations/controllers/project_hod_document.py
  nirmaan_stack/nirmaan_stack/doctype/project_hod_document/project_hod_document.json
  nirmaan_stack/services/hod/checklist.py
  nirmaan_stack/services/hod/sources.py
  nirmaan_stack/services/hod/test_hod_services.py
Labels: UI, backend

docs(hod): rewrite the Details guide and bring the plans up to date
  frontend/.claude/plans/handover-documents-execution.md
  frontend/.claude/plans/handover-documents-gaps.md
  frontend/.claude/plans/handover-documents-plan.md
  frontend/src/pages/HandoverDocuments/HodGuideDialog.tsx
Labels: UI

feat(hod): stamp the page box on the PDF, and an HOD Tracker across projects
  frontend/.claude/plans/handover-documents-gaps.md
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/HandoverDocuments/hod-tracker-detail.tsx
  frontend/src/pages/HandoverDocuments/hod-tracker-list.tsx
  frontend/src/pages/HandoverDocuments/hodApi.ts
  frontend/src/pages/HandoverDocuments/hodDownloads.ts
  frontend/src/pages/HandoverDocuments/print-formats/hod-document.html
  nirmaan_stack/api/hod/binder.py
  nirmaan_stack/api/hod/document_pdf.py
  nirmaan_stack/api/hod/page_frame.py
  nirmaan_stack/api/hod/tracker.py
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend
