Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

feat: add DC/MIR reference number capture and display
  frontend/src/pages/DeliveryChallansAndMirs/DeliveryChallansAndMirs.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/DeliveryChallanTable.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POAttachments.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

feat: show attachment ref numbers in PO reconcile report
  frontend/src/pages/reports/components/columns/poAttachmentReconcileColumns.tsx
  frontend/src/pages/reports/hooks/usePOAttachmentReconcileData.ts
Labels: UI

refactor(reports): use PO amount_paid field instead of separate payments fetch
  frontend/src/pages/reports/hooks/usePOReportsData.ts
Labels: UI

feat: add DCs column to project material usage table
  frontend/src/pages/projects/components/DCCountCell.tsx
  frontend/src/pages/projects/components/MaterialTableRow.tsx
  frontend/src/pages/projects/components/ProjectMaterialUsageTab.tsx
  frontend/src/pages/projects/components/VirtualizedMaterialTable.tsx
  frontend/src/pages/projects/hooks/useMaterialUsageData.ts
Labels: UI

feat: enforce future delivery dates and fix item selection checkbox
  frontend/src/pages/projects/components/planning/AddMaterialPlanForm.tsx
  frontend/src/pages/projects/components/planning/EditMaterialPlanForm.tsx
  frontend/src/pages/projects/components/planning/ReviewPlansPage.tsx
Labels: UI

feat: Implement server-side PDF generation and download for delivery notes, replacing client-side printing.
  frontend/src/pages/DeliveryNotes/deliverynote.tsx
Labels: UI

docs: add project status lifecycle context documentation
  .claude/CHANGELOG.md
  .claude/context/_index.md
  .claude/context/domain/projects.md
  .claude/context/workflows.md
  frontend/.claude/CHANGELOG.md
  frontend/.claude/context/_index.md
  frontend/.claude/context/domain/projects.md
Labels: none

docs: sync context documentation for 2026-01-27 session
  .claude/CHANGELOG.md
  .claude/context/doctypes.md
  frontend/.claude/CHANGELOG.md
  frontend/.claude/context/_index.md
Labels: none

refactor: revamp WO Options card with GST toggle and Nirmaan GST display
  frontend/src/pages/ServiceRequests/components/SRFinalizeDialog.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
Labels: UI

refactor: rename "Project GST" to "Nirmaan GST for Billing" in PO payment terms
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPaymentTermsCard.tsx
Labels: UI

fix: add missing refNumber to useEffect dependency arrays
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

chore: allow git log in claude settings
  frontend/.claude/settings.local.json
Labels: none

fix: mising BMS fixtures and new cateories
  nirmaan_stack/fixtures/category.json
  nirmaan_stack/fixtures/items.json
  nirmaan_stack/fixtures/procurement_packages.json
  nirmaan_stack/fixtures/work_packages.json
Labels: backend

docs: sync context documentation for 2026-01-28 session
  frontend/.claude/CHANGELOG.md
Labels: none

changes: In using common form data fetching , for both material and casflow pos , changes to jhave cashflow vendor name
  frontend/src/pages/projects/components/planning/SevenDaysMaterialPlan.tsx
  nirmaan_stack/api/seven_days_planning/material_plan_api.py
Labels: UI, backend

feat: Introduce Cashflow Plan feature with dedicated tabs for PO, WO, Misc, and Inflow cashflows, including PO Cashflow management.
  frontend/src/pages/projects/CashflowPlan/CashflowPlan.tsx
  frontend/src/pages/projects/CashflowPlan/CashflowTabs.tsx
  frontend/src/pages/projects/CashflowPlan/Inflow.tsx
  frontend/src/pages/projects/CashflowPlan/MiscCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/POCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/WOCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/components/AddPOCashflowForm.tsx
  frontend/src/pages/projects/SevenDayPlanningTab.tsx
Labels: UI

feat: add Cashflow Plan tab and doctype structure
  frontend/src/pages/projects/SevenDayPlanningTab.tsx
  frontend/src/pages/projects/components/planning/SevenDayPlanningTabs.tsx
  nirmaan_stack/nirmaan_stack/doctype/cashflow_plan/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/cashflow_plan/cashflow_plan.js
  nirmaan_stack/nirmaan_stack/doctype/cashflow_plan/cashflow_plan.json
  nirmaan_stack/nirmaan_stack/doctype/cashflow_plan/cashflow_plan.py
  nirmaan_stack/nirmaan_stack/doctype/cashflow_plan/test_cashflow_plan.py
Labels: UI, backend

feat: Add PO Cashflow review page, enhance plan details display, and introduce dedicated cashflow API.before Form Material Plan
  frontend/src/pages/projects/CashflowPlan/POCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/components/AddPOCashflowForm.tsx
  frontend/src/pages/projects/CashflowPlan/components/ReviewPOCashflowPage.tsx
  nirmaan_stack/api/seven_days_planning/cashflow_plan_api.py
Labels: UI, backend

feat: Implement Inflow Cashflow functionality and introduce a form for miscellaneous cashflow.
  frontend/src/pages/projects/CashflowPlan/CashflowPlan.tsx
  frontend/src/pages/projects/CashflowPlan/Inflow.tsx
  frontend/src/pages/projects/CashflowPlan/InflowCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/components/AddEditMiscCashflowForm.tsx
Labels: UI

feat: Add manual item entry for "New PO" cashflow plans and conditionally display item selection based on plan type.
  frontend/src/pages/projects/CashflowPlan/components/EditPOCashflowForm.tsx
Labels: UI

feat: add WO cashflow planning with work order selection modal and cashflow form
  frontend/src/pages/projects/CashflowPlan/WOCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/components/AddWOCashflowForm.tsx
  frontend/src/pages/projects/CashflowPlan/components/SelectWOModal.tsx
  nirmaan_stack/api/seven_days_planning/cashflow_plan_api.py
Labels: UI, backend

feat: Add plan count badges to Work Order, Inflow, and Miscellaneous Cashflow plan headers.
  frontend/src/pages/projects/CashflowPlan/InflowCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/MiscCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/WOCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/components/EditWOCashflowForm.tsx
Labels: UI

feat: Introduce a new dialog for creating PO cashflow plans from material plans and enhance the PO cashflow form with improved validation and vendor fetching.
  frontend/src/pages/projects/CashflowPlan/POCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/components/AddPOCashflowForm.tsx
  frontend/src/pages/projects/CashflowPlan/components/FromMaterialPlanDialog.tsx
  frontend/src/pages/projects/CashflowPlan/components/ReviewPOCashflowPage.tsx
Labels: UI

feat: Implement full CRUD functionality for miscellaneous cashflow plans, including dedicated add/edit form components.
  frontend/src/pages/projects/CashflowPlan/MiscCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/components/AddEditInflowCashflowForm.tsx
Labels: UI

feat: Add functionality to edit existing PO Cashflow plans with a new dedicated form component.
  frontend/src/pages/projects/CashflowPlan/POCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/components/EditPOCashflowForm.tsx
Labels: UI

feat: implement WO Cashflow plan editing form and integrate it into the WOCashflow page
  frontend/src/pages/projects/CashflowPlan/WOCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/components/EditWOCashflowForm.tsx
Labels: UI

feat: Persist CashflowPlan active tab state in URL parameters instead of local component state.
  frontend/src/pages/projects/CashflowPlan/CashflowPlan.tsx
Labels: UI

refactor: Introduce and integrate a new `CashflowDatePicker` component across various cashflow forms to standardize date input.
  frontend/src/pages/projects/CashflowPlan/components/AddEditInflowCashflowForm.tsx
  frontend/src/pages/projects/CashflowPlan/components/AddEditMiscCashflowForm.tsx
  frontend/src/pages/projects/CashflowPlan/components/AddPOCashflowForm.tsx
  frontend/src/pages/projects/CashflowPlan/components/AddWOCashflowForm.tsx
  frontend/src/pages/projects/CashflowPlan/components/CashflowDatePicker.tsx
  frontend/src/pages/projects/CashflowPlan/components/EditPOCashflowForm.tsx
  frontend/src/pages/projects/CashflowPlan/components/EditWOCashflowForm.tsx
  frontend/src/pages/projects/CashflowPlan/components/ReviewPOCashflowPage.tsx
Labels: UI

feat: Improve planned amount display robustness by ensuring numeric conversion and add ExternalLink icon to PO cashflow form.
  frontend/src/pages/projects/CashflowPlan/InflowCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/MiscCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/WOCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/components/AddPOCashflowForm.tsx
Labels: UI

refactor: standardize cashflow form labels, reorder amount inputs, and add currency symbols.
  frontend/src/pages/projects/CashflowPlan/components/AddPOCashflowForm.tsx
  frontend/src/pages/projects/CashflowPlan/components/AddWOCashflowForm.tsx
  frontend/src/pages/projects/CashflowPlan/components/EditPOCashflowForm.tsx
  frontend/src/pages/projects/CashflowPlan/components/EditWOCashflowForm.tsx
Labels: UI

feat(frontend): add Download All button and refine cashflow UI
  frontend/src/pages/projects/CashflowPlan/CashflowPlan.tsx
  frontend/src/pages/projects/CashflowPlan/CashflowTabs.tsx
  frontend/src/pages/projects/CashflowPlan/WOCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/components/AddPOCashflowForm.tsx
Labels: UI

feat: Add Project Cashflow Plan print format for the Projects DocType.
  nirmaan_stack/fixtures/print_format.json
Labels: backend

feat: Refactor `SevenDayPlanningHeader` to use a duration dropdown, introduce a minimal standalone date filter, and add export functionality for cashflow reports and include they mobile view.
  frontend/src/components/ui/MinStandaloneDateFilter.tsx
  frontend/src/pages/projects/CashflowPlan/CashflowPlan.tsx
  frontend/src/pages/projects/CashflowPlan/CashflowTabs.tsx
  frontend/src/pages/projects/CashflowPlan/InflowCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/MiscCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/POCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/WOCashflow.tsx
  frontend/src/pages/projects/SevenDayPlanningTab.tsx
  frontend/src/pages/projects/components/planning/SevenDayPlanningHeader.tsx
Labels: UI

feat: Introduce `isOverview` prop to cashflow components for conditional action button rendering and edit and delete plan labels.
  frontend/src/pages/projects/CashflowPlan/CashflowPlan.tsx
  frontend/src/pages/projects/CashflowPlan/InflowCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/MiscCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/POCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/WOCashflow.tsx
  frontend/src/pages/projects/SevenDayPlanningTab.tsx
Labels: UI

feat: implement TDS history export to CSV with a dedicated button and loading state.
  frontend/src/pages/projects/TDSRepository/TDSRepositoryView.tsx
Labels: UI

feat: Add comprehensive permissions for several Nirmaan roles to the Cashflow Plan doctype.
  nirmaan_stack/nirmaan_stack/doctype/cashflow_plan/cashflow_plan.json
Labels: backend

chore: move Nirmaan Procurement Executive Profile from full access to filtered access roles based on projects.
  nirmaan_stack/api/seven_days_planning/get_projects_material_plan_stats.py
Labels: backend

feat: Add Cashflow Plan Tracker routes and sidebar navigation
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
Labels: UI

feat: Add Cashflow Plan Tracker feature pages and backend API
  frontend/src/pages/CashflowPlanTracker/cashflow-plan-tracker-detail.tsx
  frontend/src/pages/CashflowPlanTracker/cashflow-plan-tracker-list.tsx
  frontend/src/pages/CashflowPlanTracker/components/CashflowPlanProjectCard.tsx
  frontend/src/pages/CashflowPlanTracker/types/index.ts
  frontend/src/pages/CashflowPlanTracker/utils.ts
  nirmaan_stack/api/seven_days_planning/get_projects_cashflow_plan_stats.py
Labels: UI, backend

feat: Group cashflow tabs into inflow and outflow categories for improved navigation
  frontend/src/pages/projects/CashflowPlan/CashflowTabs.tsx
Labels: UI

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
