Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

refix: Change Updated from Manager
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/MilestoneReportPDF.tsx
Labels: UI

Feat: Added one more col Pending Invoice Amt
  frontend/src/pages/reports/components/columns/poColumns.tsx
Labels: UI

fix: Added on PM and All view Pending Invoice Amt
  frontend/src/pages/reports/components/columns/poColumns.tsx
Labels: UI

fix: SR to WO ,including sidebar Service request to Work Orders
  frontend/src/components/helpers/renderRightActionButton.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/ServiceRequests/ServiceRequestsTabs.tsx
  frontend/src/pages/ServiceRequests/config/srTable.config.ts
  frontend/src/pages/ServiceRequests/service-request/SRPdf.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-amend-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-service-request-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/pages/ServiceRequests/service-request/select-service-vendor-list.tsx
  frontend/src/pages/ServiceRequests/service-request/sr-summary.tsx
  frontend/src/pages/projects/components/ProjectSRSummaryTable.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/reports/ReportsContainer.tsx
  frontend/src/pages/reports/components/SRReports.tsx
  frontend/src/pages/reports/components/columns/srColumns.tsx
  frontend/src/pages/reports/config/srReportsTable.config.ts
Labels: UI

fix: payments stats card fix
  nirmaan_stack/api/payments/get_project_payment_summary.py
Labels: backend

fix: Empty Points in Second pages
  frontend/src/pages/Manpower-and-WorkMilestones/components/MilestoneReportPDF.tsx
Labels: UI

fix: PO report type + 1days fixed,order by dispatch_date
  frontend/src/pages/reports/components/POReports.tsx
  frontend/src/pages/reports/hooks/usePOReportsData.ts
Labels: UI

feat: allow accountant and edit and deleted Pending WO(service request) & accountanr have Work orders in Dashboard card
  frontend/src/components/layout/dashboards/dashboard-accountant.tsx
  frontend/src/pages/ServiceRequests/ServiceRequestsTabs.tsx
  frontend/src/pages/ServiceRequests/service-request/select-service-vendor-list.tsx
  frontend/src/pages/ServiceRequests/service-request/select-service-vendor.tsx
  nirmaan_stack/api/sidebar_counts.py
Labels: UI, backend

feat:In report Nav new report type added under Project
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneDailySummary.tsx
  frontend/src/pages/reports/ReportsContainer.tsx
  frontend/src/pages/reports/components/ProjectProgressReports.tsx
  frontend/src/pages/reports/components/ProjectReports.tsx
  frontend/src/pages/reports/store/useReportStore.ts
Labels: UI

fix: In payment Done Tab in project payments add allow edit payment_date
  frontend/src/pages/ProjectPayments/update-payment/EditFulfilledPaymentDialog.tsx
Labels: UI

fix:Project Gst Single Selected
  frontend/src/pages/projects/edit-project-form.tsx
  frontend/src/pages/projects/project-form.tsx
Labels: UI

feat: While Po creation allow po.project_gst is update if project gst have one gst list, if more than one than leave asoption to update po project_gst
  nirmaan_stack/api/approve_reject_sb_vendor_quotes.py
  nirmaan_stack/api/approve_vendor_quotes.py
Labels: backend

feat: While WO(service requests) creation allow sr.project_gst is update if project gst have one gst list, if more than one than leave asoption to update WO project_gst
  frontend/src/pages/ServiceRequests/service-request/new-service-request.tsx
Labels: UI

FIX:GROUP THW package by headers in projects ,workreport tab
  frontend/src/pages/projects/ProjectWorkReportTab.tsx
Labels: UI

fix: PDF header
  frontend/src/pages/Manpower-and-WorkMilestones/components/MilestoneReportPDF.tsx
Labels: UI

fix:Dialy report fix remove custome pagination
  frontend/src/pages/Manpower-and-WorkMilestones/components/MilestoneReportPDF.tsx
Labels: UI

feat: Allow admin editr and deleted Custom PO
  frontend/src/pages/projects/components/AddCustomerPODialog.tsx
  frontend/src/pages/projects/components/CustomerPODeatilsCard.tsx
  frontend/src/pages/projects/components/EditCustomerPODialog.tsx
  nirmaan_stack/api/projects/add_customer_po.py
Labels: UI, backend

Feat: Overall summary and pdf fix ...new Formate
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReport.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReportPDF.tsx
Labels: UI

fix: Order work Headers and make pdf changes
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/MilestoneReportPDF.tsx
Labels: UI

fix: inner value change modifield col to approval_date for payment done
  frontend/src/pages/ProjectPayments/update-payment/AccountantTabs.tsx
  frontend/src/types/NirmaanStack/ProjectPayments.ts
Labels: UI

Fix:Milestone Fix:, image single page take full page, dialog fix in Mobile screen
  frontend/src/components/ui/ProgressCircle.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/MilestoneReportPDF.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReportPDF.tsx
Labels: UI

fix: Enabled project only in progress
  frontend/src/pages/reports/components/ProjectProgressReports.tsx
Labels: UI

fix: Hide the Project Payment Summary in financial and PO wise
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/config/projectPaymentsTable.config.ts
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
Labels: UI

fix: Credit Data summary Change to Purchase Over Credit and Credit Paid (both label and value logic)
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/reports/components/columns/projectColumns.tsx
  frontend/src/pages/reports/hooks/useProjectReportCalculations.ts
Labels: UI

Feat: IN Reports Project casesheet have Dateset filter....
  frontend/src/config/queryKeys.ts
  frontend/src/pages/credits/credits.constant.ts
  frontend/src/pages/reports/components/ProjectReports.tsx
  frontend/src/pages/reports/hooks/useProjectReportCalculations.ts
  frontend/src/pages/reports/hooks/useVendorLedgerCalculations.ts
  frontend/src/utils/datePresents.tsx
Labels: UI

fix: image orientation fix for project progress summaries and report pdf files
  frontend/src/components/ui/ImageBentoGrid.tsx
  frontend/src/components/ui/OrientationAwareImage.tsx
  frontend/src/components/ui/PDFImageGrid.tsx
  frontend/src/hooks/useImageOrientation.ts
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneDailySummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/MilestoneReportPDF.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReport.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReportPDF.tsx
Labels: UI

feat: claude relate change
  frontend/.claude/settings.local.json
Labels: none

fix: added label to the date range button
  frontend/src/components/ui/StandaloneDateFilter.tsx
Labels: UI

fix:Inflow Redirection fixed with payment_date filters
  frontend/src/pages/reports/components/ProjectReports.tsx
  frontend/src/pages/reports/components/columns/projectColumns.tsx
Labels: UI

fix:outflow date filter pass to outflow table
  frontend/src/pages/reports/components/ProjectReports.tsx
  frontend/src/pages/reports/components/columns/projectColumns.tsx
Labels: UI

fix: Project Report Summary Card and Allow user to mannual hieght set for dataTable , default value will be 70vh ....
  frontend/src/components/data-table/new-data-table.tsx
  frontend/src/pages/reports/components/ProjectReports.tsx
Labels: UI

fix: Filter have clear options ,that clear date filter, reselt will have default date from apr 1-2024 to now
  frontend/src/components/ui/StandaloneDateFilter.tsx
  frontend/src/pages/reports/hooks/useProjectReportCalculations.ts
  frontend/src/pages/reports/hooks/useVendorLedgerCalculations.ts
Labels: UI

Feat:Zone work project and milestone
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
  frontend/src/pages/projects/ProjectWorkReportTab.tsx
  frontend/src/pages/projects/components/SetupProgressTrackingDialog.tsx
  frontend/src/pages/projects/components/projectZoneEditSection.tsx
  frontend/src/types/NirmaanStack/Projects.ts
  nirmaan_stack/api/projects/rename_project_zones.py
  nirmaan_stack/nirmaan_stack/doctype/project_progress_reports/project_progress_reports.json
  nirmaan_stack/nirmaan_stack/doctype/project_zone_child_table/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/project_zone_child_table/project_zone_child_table.json
  nirmaan_stack/nirmaan_stack/doctype/project_zone_child_table/project_zone_child_table.py
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_7/set_default_project_zones_reports.py
Labels: UI, backend

Fix: Milestone report Fix Zone And PDF Chnage
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneDailySummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/MilestoneReportPDF.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReport.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReportPDF.tsx
  frontend/src/pages/reports/components/ProjectProgressReports.tsx
Labels: UI

Fix: Patch and Get project with zones custom ApI
  nirmaan_stack/api/get_project_reports.py
  nirmaan_stack/api/projects/get_full_project_list.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_7/set_project_zones.py
Labels: backend

Fix: Zone Tab & milestone status change error &rename Project Zones
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneDailySummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
  nirmaan_stack/api/projects/rename_project_zones.py
Labels: UI, backend

fix: added zones to project->work report tab and minor report and pdf bug fixes
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReportPDF.tsx
  frontend/src/pages/projects/ProjectWorkReportTab.tsx
Labels: UI

feat: added make to target rate generation
  nirmaan_stack/nirmaan_stack/doctype/selected_quotations/selected_quotations.json
  nirmaan_stack/nirmaan_stack/doctype/target_rates/target_rates.json
  nirmaan_stack/populate_target_rates.py
Labels: backend

Fix: layout change Summary of PR and SB view in Table Formate
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/Sent Back Requests/SBQuotesSelectionReview.tsx
Labels: UI

fix: Milestone fix Overall Tab validation to Zone tab
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneDailySummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
Labels: UI

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
