Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

feat: Add permissions for multiple Nirmaan roles and Administrator to PO Revisions doctype.
  nirmaan_stack/nirmaan_stack/doctype/po_revisions/po_revisions.json
Labels: backend

feat: add DN backend APIs and lifecycle hooks
  nirmaan_stack/api/delivery_notes/get_delivery_notes.py
  nirmaan_stack/api/delivery_notes/update_delivery_note.py
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/delivery_notes.py
Labels: backend

feat: show approval tabs to all roles as read-only for non-approvers
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
Labels: UI

feat: allow excess quantity delivery for Delivery Notes
  frontend/src/pages/DeliveryNotes/components/pivot-table/PivotTableBody.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/types.ts
  frontend/src/pages/DeliveryNotes/hooks/useDeliveryEdit.ts
  frontend/src/pages/DeliveryNotes/hooks/useDeliveryPivotData.ts
  frontend/src/pages/DeliveryNotes/hooks/useDeliverySubmit.ts
Labels: UI

fix: remove redundant PO save, fix note_no race, exclude Additional Charges from DN
  nirmaan_stack/api/delivery_notes/update_delivery_note.py
  nirmaan_stack/integrations/controllers/delivery_notes.py
Labels: backend

feat: In PO Revision Approval ->Include status filters when fetching distinct project and vendor values.
  frontend/src/pages/PORevision/PORevisionsApprovalList.tsx
Labels: UI

fix: allow DN creation and returns on Delivered POs
  frontend/src/pages/DeliveryNotes/deliverynote.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
Labels: UI

feat: Add custom print format for Procurement Orders with detailed layout, company information, item tables, and terms. this Will Work Normal in Bulk Download also.
  frontend/src/pages/DeliveryNotes/components/pivot-table/PivotTableHeader.tsx
  frontend/src/pages/DeliveryNotes/hooks/useDownloadDN.ts
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

docs: add return notes documentation to context files and CLAUDE.md
  frontend/.claude/context/_index.md
  frontend/.claude/context/domain/delivery-notes.md
  frontend/CLAUDE.md
Labels: none

fix: add migration to remove Additional Charges items from historical DNs
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/remove_additional_charges_from_delivery_notes.py
Labels: backend

feat: in TDS Export index new Column Added "Make"
  nirmaan_stack/fixtures/print_format.json
Labels: backend

feat: Relocate delivery note download button from pivot table header to main action bar with improved visibility....
  frontend/src/pages/DeliveryNotes/components/pivot-table/DeliveryPivotTable.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/PivotTableHeader.tsx
Labels: UI

conflict-DNM:: Implement PO locking to disable delivery note modifications and display a warning message,button one by one for moblie view
  frontend/src/pages/DeliveryNotes/components/pivot-table/DeliveryPivotTable.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/types.ts
  frontend/src/pages/DeliveryNotes/deliverynote.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
Labels: UI

conflict-DNM: Add PO revision history and dialog components to the PODetails page.
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

feat: exclude Additional Charges items from DN pivot table, DC/MIR dialog
  frontend/src/pages/DeliveryChallansAndMirs/components/UploadDCMIRDialog.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/types.ts
  frontend/src/pages/DeliveryNotes/hooks/useDeliveryPivotData.ts
  frontend/src/pages/DeliveryNotes/hooks/useDeliverySubmit.ts
  frontend/src/pages/DeliveryNotes/hooks/useReturnSubmit.ts
Labels: UI

feat: Enforce a fixed quantity of 1 for additional charges in PO revision
  frontend/src/pages/PORevision/components/Step1/AddChargeDialog.tsx
  frontend/src/pages/PORevision/components/Step1/Step1ReviseItems.tsx
Labels: UI

feat: redirect to Create DN table view after successful DN creation
  frontend/src/pages/DeliveryNotes/components/pivot-table/DeliveryPivotTable.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/types.ts
  frontend/src/pages/DeliveryNotes/deliverynote.tsx
  frontend/src/pages/DeliveryNotes/hooks/useDeliverySubmit.ts
Labels: UI

feat: implement Partially Dispatched status in backend controllers
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/delivery_notes.py
  nirmaan_stack/integrations/controllers/procurement_orders.py
Labels: backend

fix: resolve DN migration patch ordering, note_no gaps, and item reconciliation
  nirmaan_stack/integrations/controllers/delivery_notes.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/migrate_delivery_data_to_delivery_notes.py
Labels: backend

feat(amend-po): Add Charges button in Amend PO + Fix Revert logic
  frontend/src/pages/ProcurementOrders/amend-po/approve-amend-po.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/AmendAddChargeDialog.tsx
Labels: UI

feat: enhance PO Revision History table to display both quantity and rate changes in a combined "Changes" column.
  frontend/src/pages/PORevision/components/PORevisionHistory.tsx
Labels: UI

feat: Make customer PO link/attachment optional in add dialog and improve form reset logic.
  frontend/src/pages/projects/components/AddCustomerPODialog.tsx
  frontend/src/pages/projects/components/CustomerPODeatilsCard.tsx
  frontend/src/pages/projects/components/EditCustomerPODialog.tsx
  nirmaan_stack/api/projects/add_customer_po.py
Labels: UI, backend

refactor: Rename "Invoice Recon" to "Vendor Invoice Recon" in sidebar components.
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/ui/sidebar.tsx
Labels: UI

feat(po-revision): auto-dispatch new items added to post-dispatch POs
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: backend

docs: add PO status lifecycle map and update context index
  frontend/.claude/context/_index.md
  frontend/.claude/context/domain/po-status-map.md
Labels: none

fix: make expected delivery date mandatory and correct dispatch status logic
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

refactor: recalculate delivered amount during PO revision approval
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: backend

feat:"Vendor Delivery Challan" -Print Format and add in DN..
  nirmaan_stack/fixtures/print_format.json
Labels: backend

fix: redesign critical PO task linking to be additive-only during dispatch
  frontend/src/pages/ProcurementOrders/purchase-order/components/CriticalPOTaskLinkingSection.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/hooks/useCriticalPOTaskLinking.ts
Labels: UI

fix(po-revision): include Partially Dispatched POs in credit transfer candidates
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: backend

feat: Add `modified_by` field to invoice data APIs and display it as a "Last Modified By" column in the frontend invoice tables.
  frontend/src/pages/tasks/invoices/components/PoInvoices.tsx
  frontend/src/pages/tasks/invoices/components/SrInvoices.tsx
  nirmaan_stack/api/invoices/po_wise_invoice_data.py
  nirmaan_stack/api/invoices/sr_wise_invoice_data.py
Labels: UI, backend

fix: support adding new items in DN edit and guard return notes
  frontend/src/pages/DeliveryNotes/hooks/useDeliveryEdit.ts
  nirmaan_stack/api/delivery_notes/edit_delivery_note.py
Labels: UI, backend

feat: include Partially Dispatched POs in backend API queries
  nirmaan_stack/api/delivery_challans_data.py
  nirmaan_stack/api/delivery_notes/get_project_pos.py
  nirmaan_stack/api/pdf_helper/bulk_download.py
Labels: backend

fix: add optional chaining to `po.items` to prevent potential errors
  frontend/src/pages/PORevision/components/Step3/Step3Summary.tsx
Labels: UI

fix: no past dates allowed in PO Estimated Delivery Date field
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

feat(invoices): add edit functionality and optimize attachment handling
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceDialog.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/PaymentTermsDialog.tsx
  frontend/src/zustand/useDialogStore.ts
  nirmaan_stack/api/delivery_notes/update_invoice_data.py
Labels: UI, backend

feat: propagate Partially Dispatched status across frontend
  frontend/src/components/layout/dashboards/procurement-dashboard.tsx
  frontend/src/components/pr-summary.tsx
  frontend/src/pages/BulkDownload/steps/POSteps.tsx
  frontend/src/pages/DeliveryChallansAndMirs/DeliveryChallansAndMirs.tsx
  frontend/src/pages/DeliveryNotes/constants.ts
  frontend/src/pages/DeliveryNotes/deliverynotes.tsx
  frontend/src/pages/DeliveryNotes/hooks/useDeliveryPivotData.ts
  frontend/src/pages/PORevision/components/Step2/Step2NegativeFlow.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/HistoricalQuotesHoverCard.tsx
  frontend/src/pages/reports/components/POReports.tsx
  frontend/src/pages/vendors/components/VendorMaterialOrdersTable.tsx
Labels: UI

fix: cast JSON field to text for PostgreSQL comparison in catch-all query
  nirmaan_stack/patches/v3_0/migrate_delivery_data_to_delivery_notes.py
Labels: backend

fix(po-revision): dispatch-aware status recalculation after revision sync
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: backend

feat: add item-level dispatch UI and Partially Dispatched PO tab
  frontend/src/config/queryKeys.ts
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/DispatchItemSelector.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/config/poTabs.constants.ts
  frontend/src/pages/ProcurementOrders/purchase-order/config/purchaseOrdersTable.config.ts
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  frontend/src/zustand/useDocCountStore.ts
Labels: UI
