Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

style: Use CashflowDatePicker and update label in FromMaterialPlanDialog
  frontend/src/pages/projects/CashflowPlan/components/FromMaterialPlanDialog.tsx
Labels: UI

feat: enforce minimum amount validation and fix vendor selection in cashflow forms
  frontend/src/pages/projects/CashflowPlan/components/AddEditInflowCashflowForm.tsx
  frontend/src/pages/projects/CashflowPlan/components/AddEditMiscCashflowForm.tsx
  frontend/src/pages/projects/CashflowPlan/components/AddPOCashflowForm.tsx
  frontend/src/pages/projects/CashflowPlan/components/AddWOCashflowForm.tsx
  frontend/src/pages/projects/CashflowPlan/components/EditPOCashflowForm.tsx
  frontend/src/pages/projects/CashflowPlan/components/EditWOCashflowForm.tsx
  frontend/src/pages/projects/CashflowPlan/components/FromMaterialPlanDialog.tsx
  frontend/src/pages/projects/CashflowPlan/components/ReviewPOCashflowPage.tsx
Labels: UI

refactor: reimplement TDS approval list tabs with a scrollable layout and updated styling red tab ,refernce they Work Orders tab but color red .
  frontend/src/pages/tds/TDSApprovalList.tsx
Labels: UI

feat: require DC/MIR number for document uploads and update UI to reflect its mandatory status.
  frontend/src/pages/DeliveryChallansAndMirs/DeliveryChallansAndMirs.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

feat: remove 'Partially Released' status and update task sorting
  frontend/src/pages/CriticalPOTracker/components/CriticalPOProjectCard.tsx
  frontend/src/pages/CriticalPOTracker/types/index.ts
  frontend/src/pages/CriticalPOTracker/utils.ts
  frontend/src/pages/projects/CriticalPOTasks/CriticalPOTasksList.tsx
  frontend/src/pages/projects/CriticalPOTasks/components/EditTaskDialog.tsx
  frontend/src/pages/projects/CriticalPOTasks/components/TaskStatusBadge.tsx
  frontend/src/pages/projects/CriticalPOTasks/utils.tsx
  nirmaan_stack/api/critical_po_tasks/get_projects_with_stats.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/remove_partially_released_status.py
Labels: UI, backend

fix:Copy Yesterdays Report "Work Plan" label to "Activities Planned for today"
  frontend/src/pages/Manpower-and-WorkMilestones/components/CopyReportButton.tsx
Labels: UI

fix: update category_list when resolving Request items in ApproveNewPR
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useApprovePRLogic.ts
Labels: UI

fix: resolve infinite re-render loops in date filter and report components
  frontend/src/components/ui/StandaloneDateFilter.tsx
  frontend/src/pages/reports/components/PO2BReconcileReport.tsx
  frontend/src/pages/reports/components/POAttachmentReconcileReport.tsx
  frontend/src/pages/reports/components/POReports.tsx
  frontend/src/pages/reports/components/ProjectProgressReports.tsx
  frontend/src/pages/reports/components/SR2BReconcileReport.tsx
  frontend/src/pages/reports/components/SRReports.tsx
Labels: UI

fix: removed repeated references
  frontend/src/pages/projects/CashflowPlan/components/AddPOCashflowForm.tsx
  frontend/src/pages/projects/CashflowPlan/components/EditPOCashflowForm.tsx
Labels: UI

docs: add React Effect Anti-Patterns section to frontend CLAUDE.md
  frontend/CLAUDE.md
Labels: none

docs: sync context documentation for 2026-02-02 session
  .claude/CHANGELOG.md
  .claude/context/apis.md
  .claude/context/integrations.md
  frontend/.claude/CHANGELOG.md
  frontend/.claude/context/_index.md
  frontend/CLAUDE.md
Labels: none

docs: sync context documentation for 2026-02-04 session
  .claude/CHANGELOG.md
  .claude/context/_index.md
  frontend/.claude/CHANGELOG.md
  frontend/.claude/context/_index.md
  frontend/.claude/context/domain/ceo-hold.md
  frontend/.claude/context/domain/projects.md
  frontend/CLAUDE.md
Labels: none

fix: resolve category_list reset bug when approving PR without changes
  frontend/src/components/pr-summary.tsx
  frontend/src/pages/DeliveryNotes/constants.ts
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRContainer.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useApprovePRLogic.ts
  frontend/src/utils/safeJsonParse.ts
Labels: UI

fix: add patch to repair PRs with empty category_list from bug
  nirmaan_stack/patches/v3_0/fix_empty_category_list.py
Labels: backend

feat(frontend): restrict Material and Cashflow Plan access to Admin, Leads, and PMO
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/projects/components/planning/SevenDayPlanningTabs.tsx
Labels: UI

fix: restrict Planning tab visibility by role for Procurement and Project Manager
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/projects/SevenDayPlanningTab.tsx
  frontend/src/pages/projects/components/planning/SevenDayPlanningTabs.tsx
  frontend/src/pages/projects/project.tsx
Labels: UI

fix: Milestonetab(DPR CREATION ) shows remarks inthe Manpower View tab and enforce photo indicator
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
Labels: UI

fix: change Material Plan list view order to creation DESC
  frontend/src/pages/projects/components/planning/SevenDaysMaterialPlan.tsx
Labels: UI

feat: role-based zone filtering and ui improvements
  frontend/src/pages/projects/components/planning/SevendaysWorkPlan.tsx
Labels: UI

feat: Implement support for custom TDS items by updating the item schema, modifying item option hooks, and changing `tds_item_id` to a Data field.
  frontend/src/pages/tds/components/AddTDSItemDialog.tsx
  frontend/src/pages/tds/components/EditTDSItemDialog.tsx
  frontend/src/pages/tds/components/types.ts
  frontend/src/pages/tds/hooks/useTDSItemOptions.ts
  nirmaan_stack/nirmaan_stack/doctype/tds_repository/tds_repository.json
  nirmaan_stack/nirmaan_stack/doctype/tds_repository/tds_repository.py
Labels: UI, backend

fix :UI add plus icon for custom item craetion
  frontend/src/pages/tds/components/AddTDSItemDialog.tsx
Labels: UI

fix: fix for approve amend sr
  frontend/src/pages/ServiceRequests/service-request/approve-amended-sr.tsx
Labels: UI

feat: design team summary changes
  frontend/src/pages/ProjectDesignTracker/components/TaskListDialog.tsx
  frontend/src/pages/ProjectDesignTracker/components/TeamPerformanceSummary.tsx
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
  frontend/src/pages/ProjectDesignTracker/hooks/useTeamSummary.ts
  frontend/src/pages/ProjectDesignTracker/types/index.ts
  nirmaan_stack/api/design_tracker/get_team_summary.py
Labels: UI, backend

feat: add Help Repository page with manage and view tabs
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/nav/user-nav.tsx
  frontend/src/pages/help-repository/HelpRepositoryPage.tsx
  frontend/src/pages/help-repository/components/AddHelpDialog.tsx
  frontend/src/pages/help-repository/components/EditHelpDialog.tsx
  frontend/src/pages/help-repository/components/HelpManageTab.tsx
  frontend/src/pages/help-repository/components/HelpViewTab.tsx
  frontend/src/pages/help-repository/types.ts
  frontend/src/pages/help-repository/utils/loom-embed.ts
  frontend/src/types/NirmaanStack/HelpRepository.ts
Labels: UI

feat: add design file link column to inline task list
  frontend/src/pages/ProjectDesignTracker/components/InlineTaskList.tsx
  frontend/src/pages/ProjectDesignTracker/types/index.ts
Labels: UI

style: change Approved status to dark green with white text
  frontend/src/pages/ProjectDesignTracker/components/InlineTaskList.tsx
  frontend/src/pages/ProjectDesignTracker/utils.tsx
Labels: UI

refactor: extract parseDesignersFromField shared utility
  frontend/src/pages/ProjectDesignTracker/components/TaskEditModal.tsx
  frontend/src/pages/ProjectDesignTracker/utils.tsx
Labels: UI

feat: enhance Team Performance Summary with inline expansion and Lead badge
  frontend/src/pages/ProjectDesignTracker/components/InlineTaskList.tsx
  frontend/src/pages/ProjectDesignTracker/components/TaskListDialog.tsx
  frontend/src/pages/ProjectDesignTracker/components/TeamPerformanceSummary.tsx
  frontend/src/pages/ProjectDesignTracker/types/index.ts
Labels: UI

feat: add bulk assign and assigned designer filter to Design Tracker
  frontend/src/pages/ProjectDesignTracker/components/BulkAssignDialog.tsx
  frontend/src/pages/ProjectDesignTracker/config/taskTableColumns.tsx
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
Labels: UI

feat: add Help Repository doctype
  nirmaan_stack/nirmaan_stack/doctype/help_repository/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/help_repository/help_repository.json
  nirmaan_stack/nirmaan_stack/doctype/help_repository/help_repository.py
Labels: backend

feat: add filter bar to Team Performance Summary with project and deadline filtering
  frontend/src/pages/ProjectDesignTracker/components/TeamPerformanceSummary.tsx
  frontend/src/pages/ProjectDesignTracker/components/TeamSummaryFilterBar.tsx
  frontend/src/pages/ProjectDesignTracker/hooks/useTeamSummary.ts
  frontend/src/pages/ProjectDesignTracker/types/index.ts
  nirmaan_stack/api/design_tracker/get_team_summary.py
Labels: UI, backend

refactor: Replace `ApprovedSRList` with `FinalizedSRList` for displaying service orders in Vendors Details Page.
  frontend/src/pages/vendors/vendor.tsx
Labels: UI

feat 2: Conditionally hide the rate column in item hover cards [Book] for project managers.
  frontend/src/components/helpers/ItemsHoverCard.tsx
Labels: UI

fix 1: Add tabbed navigation for Approved and Finalized Work Orders with counts on the vendor page Service Orders tab
  frontend/src/pages/vendors/vendor.tsx
Labels: UI

feat: Add a Material Plan dashboard card in Project Manager View Dashboard
  frontend/src/components/layout/dashboards/dashboard-pm.tsx
Labels: UI

Refactor: Merge EditableImageBentoGrid logic into ImageBentoGrid
  frontend/src/components/ui/ImageBentoGrid.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/CopyReportButton.tsx
Labels: UI

feat : Add remarks field to work plan doctype and display it in the UI when the status is 'On Hold'. Only allow this Project Manager will Only Add remarks ....
  frontend/src/pages/projects/components/planning/ProjectManagerEditWorkPlanDialog.tsx
  frontend/src/pages/projects/components/planning/SevendaysWorkPlan.tsx
  nirmaan_stack/nirmaan_stack/doctype/work_plan/work_plan.json
Labels: UI, backend

feat: Add critical_po_sub_category support to Material Delivery Plan
  frontend/src/pages/projects/components/planning/AddMaterialPlanForm.tsx
  frontend/src/pages/projects/components/planning/CategoryTaskSelector.tsx
  frontend/src/pages/projects/components/planning/ReviewPlansPage.tsx
  frontend/src/pages/projects/components/planning/SevenDaysMaterialPlan.tsx
  nirmaan_stack/api/seven_days_planning/material_plan_api.py
  nirmaan_stack/nirmaan_stack/doctype/material_delivery_plan/material_delivery_plan.json
Labels: UI, backend

feat(cashflow-plan): integrate sub-category support into PO cashflow flow
  frontend/src/pages/projects/CashflowPlan/POCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/components/AddPOCashflowForm.tsx
  frontend/src/pages/projects/CashflowPlan/components/EditPOCashflowForm.tsx
  frontend/src/pages/projects/CashflowPlan/components/FromMaterialPlanDialog.tsx
  frontend/src/pages/projects/CashflowPlan/components/ReviewPOCashflowPage.tsx
  nirmaan_stack/nirmaan_stack/doctype/cashflow_plan/cashflow_plan.json
Labels: UI, backend

feat(migration): add patch to backfill critical_po_sub_category
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/populate_critical_po_sub_category.py
Labels: backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
