Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

feat(po-adjustments): two pure decisions -- can this PO absorb the cut, and how much credit is real
  nirmaan_stack/services/po_credit.py
  nirmaan_stack/services/po_revision_capacity.py
  nirmaan_stack/services/test_po_credit.py
  nirmaan_stack/services/test_po_revision_capacity.py
Labels: backend

feat(po-adjustments): the ledger edit nobody could trace [MIGRATE]
  nirmaan_stack/nirmaan_stack/doctype/po_adjustments/po_adjustments.json
  nirmaan_stack/repair_po_adjustments.py
Labels: backend

fix(po-revision): a PO that had paid nothing claimed 4,130 of overpaid credit
  nirmaan_stack/api/delete_custom_po_and_pr.py
  nirmaan_stack/api/po_adjustments/_payment_utils.py
  nirmaan_stack/api/po_adjustments/adjustment_logic.py
  nirmaan_stack/api/po_adjustments/test_write_off.py
  nirmaan_stack/api/po_revisions/revision_logic.py
  nirmaan_stack/api/test_delete_custom_po_and_pr.py
  nirmaan_stack/integrations/controllers/procurement_orders.py
Labels: backend

feat(po-adjustments): surface the untraceable edit, and give admins an honest way out
  frontend/src/pages/POAdjustment/WriteOffDialog.tsx
  frontend/src/pages/POAdjustment/data/poAdjustment.constants.ts
  frontend/src/pages/POAdjustment/data/usePOAdjustmentMutations.ts
  frontend/src/pages/POAdjustment/data/usePOAdjustmentQueries.ts
  frontend/src/pages/POAdjustment/writeOffControl.test.ts
  frontend/src/pages/ProcurementOrders/purchase-order/components/PORevisionsAndAdjustments.tsx
Labels: UI

feat(projects): add step-2 override choice when adding a Customer PO to a manual project
  frontend/.claude/plans/project-value-manual-vs-auto-plan.md
  frontend/src/pages/projects/components/AddCustomerPODialog.tsx
  frontend/src/pages/projects/components/CustomerPODeatilsCard.tsx
  frontend/src/pages/projects/data/tab/financials/useCustomerPOApi.ts
  nirmaan_stack/api/projects/add_customer_po.py
Labels: UI, backend

feat(projects): add manual vs PO-driven project value mode
  frontend/src/pages/projects/edit-project-form.tsx
  frontend/src/pages/projects/project-form/index.tsx
  frontend/src/pages/projects/project-form/schema.ts
  frontend/src/pages/projects/project-form/steps/ProjectDetailsStep.tsx
  frontend/src/pages/projects/project-form/steps/ReviewStep.tsx
  frontend/src/types/NirmaanStack/Projects.ts
  nirmaan_stack/api/projects/_project_population.py
  nirmaan_stack/api/projects/add_customer_po.py
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.json
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.py
Labels: UI, backend

fix(projects): gate the add-Customer-PO endpoint and require a manual project value
  frontend/src/pages/projects/edit-project-form.tsx
  frontend/src/pages/projects/project-form/schema.ts
  frontend/src/pages/projects/project-form/steps/ProjectDetailsStep.tsx
  nirmaan_stack/api/projects/add_customer_po.py
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.py
Labels: UI, backend

feat(commission-report): admin-only manual creation from the project tab
  frontend/src/pages/CommissionReport/components/NewTrackerModal.tsx
  frontend/src/pages/CommissionReport/components/NoCommissionReportView.tsx
  frontend/src/pages/projects/project.tsx
Labels: UI

feat(commission-report): bulk deadline, status and approval actions
  frontend/src/pages/CommissionReport/commissionBulk.test.ts
  frontend/src/pages/CommissionReport/commissionBulk.ts
  frontend/src/pages/CommissionReport/components/BulkApprovalDialog.tsx
  frontend/src/pages/CommissionReport/components/BulkUpdateDialog.tsx
  frontend/src/pages/CommissionReport/components/GlobalApprovalsTable.tsx
  frontend/src/pages/CommissionReport/project-commission-report-details.tsx
  nirmaan_stack/api/commission_report/bulk_update_tasks.py
  nirmaan_stack/api/commission_report/test_bulk_update_tasks.py
Labels: UI, backend

fix(sidebar): scroll the sidebar content when collapsed to icons
  frontend/src/components/layout/NewSidebar.tsx
Labels: UI

feat(boq-rate-helper): remove the dev gate so the helper ships in production
  frontend/src/pages/boq-wizard/rate-helper/rateHelperFlag.ts
Labels: UI

docs(boq-rate-helper): record the gate removal and the no-dev-gates rule
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

docs(boq-rate-helper): correct the stale page-width comment at the embeddedPanel site
  frontend/.claude/plans/boq-upload-plan.md
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
Labels: UI

fix(gh-actions): Update labeler action version from v4 to v7
  .github/workflows/labeler.yml
Labels: none

fix(boq): the uploaded workbook belonged to no document
  nirmaan_stack/api/boq/wizard/upload_file.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/backfill_boq_source_file_links.py
Labels: backend

fix(dpr): a photo uploaded before its report existed had no owner
  frontend/src/components/CameraCapture.tsx
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/project_progress_reports.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/backfill_progress_report_attachment_links.py
Labels: UI, backend

feat(boq-rate-master): capture prompt, response and per-attribute mapping
  nirmaan_stack/api/boq/test_rate_suggest.py
  nirmaan_stack/services/boq_rate_master/extraction.py
Labels: backend

docs(boq-rate-master): record the capture mechanism, retire EA-7, close the boq_ai.log carry
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(outflow): filter and sort the Resolve dialog's record table
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/components/RecordColumnHeader.tsx
  frontend/src/pages/outflow-import/components/SettleableRecordTable.tsx
  frontend/src/pages/outflow-import/outflowTableModel.ts
  frontend/src/pages/outflow-import/recordPickerView.test.ts
  frontend/src/pages/outflow-import/recordPickerView.ts
Labels: UI

feat(outflow): rank browse records by how much they look like the transfer
  nirmaan_stack/services/outflow_import/amounts.py
  nirmaan_stack/services/outflow_import/project_match.py
  nirmaan_stack/services/outflow_import/similarity.py
  nirmaan_stack/services/outflow_import/test_similarity.py
Labels: backend

docs(outflow): the reference doc catches up on the ranked browse list
  .claude/context/domain/outflow-import.md
Labels: none

feat(outflow): pair by decision date, and leftovers that read as Not-Matched
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  frontend/src/pages/outflow-import/components/UnpairedStacksDialog.tsx
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_review.py
  nirmaan_stack/services/outflow_import/candidates.py
  nirmaan_stack/services/outflow_import/disambiguate.py
  nirmaan_stack/services/outflow_import/ledgers.py
  nirmaan_stack/services/outflow_import/matcher.py
  nirmaan_stack/services/outflow_import/stacks.py
  nirmaan_stack/services/outflow_import/status.py
  nirmaan_stack/services/outflow_import/test_disambiguate.py
  nirmaan_stack/services/outflow_import/test_stacks.py
  nirmaan_stack/services/outflow_import/test_status.py
Labels: UI, backend

docs(outflow): the reference doc catches up on four modules and one deletion
  .claude/context/domain/outflow-import.md
Labels: none

feat(outflow): the browse list serves the whole approved pool, ranked
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_review.py
Labels: backend

feat(payments): the CEO can approve part of a payment, and the balance survives
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/ProjectPayments/approve-payments/components/PaymentActionDialog.tsx
  frontend/src/pages/ProjectPayments/approve-payments/constants.ts
  frontend/src/pages/ProjectPayments/approve-payments/paymentSplit.test.ts
  frontend/src/pages/ProjectPayments/approve-payments/paymentSplit.ts
  frontend/src/pages/ProjectPayments/config/projectPaymentsTable.config.ts
  frontend/src/types/NirmaanStack/ProjectPayments.ts
  nirmaan_stack/api/payments/project_payments.py
  nirmaan_stack/api/payments/test_payment_split.py
  nirmaan_stack/integrations/controllers/project_payments.py
  nirmaan_stack/nirmaan_stack/doctype/project_payments/project_payments.json
  nirmaan_stack/services/payment_split.py
Labels: UI, backend

refactor(data-table): make the date filter usable outside a TanStack table
  frontend/src/components/data-table/data-table-date-filter.tsx
  frontend/src/components/data-table/date-filter-popover.tsx
  frontend/src/components/data-table/dateFilterModel.ts
  frontend/src/utils/dateFilterRange.test.ts
  frontend/src/utils/dateFilterRange.ts
Labels: UI

feat(outflow): scope the screen by period, with an optional import selector
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  frontend/src/pages/outflow-import/components/ConfirmAllMatchedDialog.tsx
  frontend/src/pages/outflow-import/components/ImportStatementDialog.tsx
  frontend/src/pages/outflow-import/components/ImportSummaryPanel.tsx
  frontend/src/pages/outflow-import/components/OutflowPeriodFilter.tsx
  frontend/src/pages/outflow-import/components/OutflowRowsTable.tsx
  frontend/src/pages/outflow-import/components/SkippedRowsDialog.tsx
  frontend/src/pages/outflow-import/outflowPeriod.test.ts
  frontend/src/pages/outflow-import/outflowPeriod.ts
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  frontend/src/pages/outflow-import/useOutflowPeriodStore.ts
  frontend/src/pages/outflow-import/useOutflowRows.ts
  frontend/src/types/NirmaanStack/OutflowImportBatch.ts
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_review.py
Labels: UI, backend

docs(outflow): record the period scope, the selector, and the walk's findings
  .claude/context/domain/outflow-import.md
  frontend/.claude/plans/outflow-import-plan.md
Labels: none

fix(reports): DN/DC pending counts share one definition across every surface
  .claude/plans/monthly-wip-plan.md
  frontend/src/pages/monthly-wip/MonthlyWIPPage.tsx
  frontend/src/pages/monthly-wip/WipFormulaDialog.tsx
  frontend/src/pages/monthly-wip/useMonthlyWIPData.ts
  frontend/src/pages/monthly-wip/wipColumns.ts
  frontend/src/pages/reports/ReportsContainer.tsx
  frontend/src/pages/reports/components/DNDCQuantityReport.tsx
  frontend/src/pages/reports/hooks/useDNDCQuantityData.ts
  nirmaan_stack/api/reports/metrics.py
  nirmaan_stack/api/reports/wip_monthly_report.py
Labels: UI, backend

feat(boq-rate-master): merge the wiring asset into one electrical asset
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v30.json
  nirmaan_stack/services/boq_rate_master/loader.py
Labels: backend

docs(boq-rate-master): record the merge and the supersede hazard it removes
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(boq-rate-master): update stale test pins to the post-ruling shapes
  nirmaan_stack/api/boq/test_rate_master.py
Labels: backend

docs(boq-rate-master): record the pin updates and the v30 import
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(vendor-dc): per-challan vendor overrides + dialog rework
  frontend/src/pages/DeliveryNotes/components/VendorDCDialog.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/DeliveryPivotTable.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/PivotTableHeader.tsx
  frontend/src/pages/DeliveryNotes/hooks/useDownloadDN.ts
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

feat(boq-rate-master): add a stable item uid carried through the asset
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/nirmaan_stack/doctype/boq_rate_master_item/boq_rate_master_item.json
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v30.json
  nirmaan_stack/services/boq_rate_master/loader.py
  scripts/backfill_rate_master_item_uid.py
Labels: backend

docs(boq-rate-master): record the uid scheme and the active-only backfill
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(reminders): rename "Compliance History" to "Reminders History"
  frontend/src/components/layout/action-center/CompletedRemindersDialog.tsx
  frontend/src/pages/Reminders/RemindersPage.tsx
Labels: UI

fix(permissions): gate on role PROFILE, not frappe.get_roles()
  nirmaan_stack/api/delivery_notes/update_invoice_data.py
  nirmaan_stack/api/invoices/temp_resolve.py
  nirmaan_stack/api/projects/module_controls.py
  nirmaan_stack/api/reminders/read.py
  nirmaan_stack/api/tds/approve.py
  nirmaan_stack/services/role_profiles.py
Labels: backend

feat(project-modules): give the Not-Setup dialog a way out
  frontend/src/pages/projects/components/ProjectModuleDeactivationStatus.tsx
Labels: UI

refactor(payments): one payment split, two callers
  nirmaan_stack/api/payments/test_payment_split.py
  nirmaan_stack/services/payment_split.py
Labels: backend
