Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

docs(boq): Module 2b-ii landed -- plan-doc + frontend CLAUDE.md update
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): Module 2b-iii -- hub visual polish (2-col grid, stronger pills, clearer non-data cue, detailed footer)
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/SheetCard.tsx
Labels: UI

docs(boq): Module 2b-iii landed -- plan-doc + frontend CLAUDE.md update
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): Module 3 Slice 3a -- per-sheet sheet_config field + work_package single-Link to multi-link child table + save endpoints
  nirmaan_stack/api/boq/wizard/test_update_sheet_draft.py
  nirmaan_stack/api/boq/wizard/update_sheet_draft.py
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet_draft/boq_sheet_draft.json
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet_work_package/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet_work_package/boq_sheet_work_package.json
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet_work_package/boq_sheet_work_package.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/migrate_boq_sheet_draft_work_package_to_multi.py
Labels: backend

docs(boq): Module 3 Slice 3a landed -- plan-doc + root CLAUDE.md update
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Module 3 Slice 3a-fix -- hub reads work_packages array (post single-Link to multi-link conversion)
  frontend/src/pages/boq-wizard/SheetCard.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
Labels: UI

docs(boq): Module 3 Slice 3a-fix landed -- frontend CLAUDE.md update
  frontend/CLAUDE.md
Labels: none

feat(boq): Module 3 Slice 3b-i -- sheet-data preview endpoint (values-only read_only open + S3-safe fetch)
  nirmaan_stack/api/boq/wizard/sheet_preview.py
  nirmaan_stack/api/boq/wizard/test_sheet_preview.py
Labels: backend

docs(boq): Module 3 Slice 3b-i landed -- plan-doc + root CLAUDE.md update
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Module 3 Slice 3b-ii -- spoke shell + spreadsheet-style SheetDataGrid + load-more paginator
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/SheetCard.tsx
  frontend/src/pages/boq-wizard/SheetDataGrid.tsx
  frontend/src/pages/boq-wizard/SheetSpokePage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
Labels: UI

docs(boq): Module 3 Slice 3b-ii landed -- frontend CLAUDE.md update
  frontend/CLAUDE.md
Labels: none

feat(boq): Module 3 Slice 3b-iii -- sticky grid header + cell gridlines + spoke header decode fix
  frontend/src/pages/boq-wizard/SheetDataGrid.tsx
  frontend/src/pages/boq-wizard/SheetSpokePage.tsx
Labels: UI

docs(boq): Module 3 Slice 3b-iii landed -- plan-doc + frontend CLAUDE.md update
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): BoQ-list tab + B2 tendering section (Phase 6 pull-forward)
  frontend/src/pages/boq-wizard/BoqProjectTab.tsx
  frontend/src/pages/projects/tendering/TenderingProjectView.tsx
Labels: UI

docs(boq): BoQ-list tab + B2 tendering section -- plan-doc + frontend CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): Module 3 Slice 3c -- spoke config Sections 1 (rows) + 2 (areas)
  frontend/src/pages/boq-wizard/SheetConfigPanel.tsx
  frontend/src/pages/boq-wizard/SheetSpokePage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
Labels: UI

docs(boq): Module 3 Slice 3c landed -- plan-doc + frontend CLAUDE.md update
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

docs(boq): backfill real commit hash 16a6a4dc in plan-doc + frontend CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): Prefill -- wire auto_guess into upload worker (Step 10.5)
  nirmaan_stack/api/boq/wizard/test_upload_file.py
  nirmaan_stack/api/boq/wizard/upload_file.py
Labels: backend

docs(boq): Prefill -- plan-doc + root CLAUDE.md update
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(boq): backfill commit hash 5356b471 in plan-doc
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat: surface bulk reject action on Project Payments and highlight Req. Amt in green
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/ProjectPayments/approve-payments/components/BulkActionBar.tsx
  frontend/src/pages/ProjectPayments/update-payment/AccountantTabs.tsx
Labels: UI

feat(boq): SheetConfigPanel -- persistence fix + sparkle-on-confirm + Section-2 toggle/boxes
  frontend/src/pages/boq-wizard/SheetConfigPanel.tsx
Labels: UI

docs(boq): SheetConfigPanel slice 3c-fix -- plan-doc + frontend CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(sr): introduce Work Order Items child table + backfill + backend readers
  nirmaan_stack/api/customers/customer_financials.py
  nirmaan_stack/api/data_table/constants.py
  nirmaan_stack/api/projects/project_aggregates.py
  nirmaan_stack/api/seven_days_planning/cashflow_plan_api.py
  nirmaan_stack/api/sr_items.py
  nirmaan_stack/api/vendor/get_vendor_po_invoices.py
  nirmaan_stack/nirmaan_stack/doctype/service_requests/service_requests.json
  nirmaan_stack/nirmaan_stack/doctype/service_requests/service_requests.py
  nirmaan_stack/nirmaan_stack/doctype/work_order_items/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/work_order_items/work_order_items.json
  nirmaan_stack/nirmaan_stack/doctype/work_order_items/work_order_items.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/backfill_work_order_items.py
  nirmaan_stack/services/finance.py
Labels: backend

feat(sr/frontend): switch SR writers/readers to work_order_items child table
  frontend/src/components/helpers/ItemsHoverCard.tsx
  frontend/src/config/queryKeys.ts
  frontend/src/hooks/useOrderTotals.ts
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/ServiceRequests/approved-sr/hooks/useApprovedSRData.ts
  frontend/src/pages/ServiceRequests/config/srTable.config.ts
  frontend/src/pages/ServiceRequests/service-request/approve-amended-sr.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/pages/ServiceRequests/sr-form/amend/transformers.ts
  frontend/src/pages/ServiceRequests/sr-form/index.tsx
  frontend/src/pages/projects/ProjectSpendsTab.tsx
  frontend/src/pages/projects/components/ProjectSRSummaryTable.tsx
  frontend/src/pages/projects/data/root/useProjectRootApi.ts
  frontend/src/pages/projects/data/tab/spends/useProjectSpendsTabApi.ts
  frontend/src/pages/reports/hooks/useSRReportsData.ts
  frontend/src/pages/reports/hooks/useVendorLedgerCalculations.ts
  frontend/src/types/NirmaanStack/ServiceRequests.ts
  frontend/src/utils/getAmounts.ts
Labels: UI

refactor(boq): lift preview fetch + column_role_map state to SheetSpokePage
  frontend/src/pages/boq-wizard/SheetConfigPanel.tsx
  frontend/src/pages/boq-wizard/SheetDataGrid.tsx
  frontend/src/pages/boq-wizard/SheetSpokePage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
Labels: UI

docs(boq): 3d-i lift-up -- plan-doc + frontend CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): SheetConfigPanel Section 3 -- column-role list + {role,area} save shape
  frontend/src/pages/boq-wizard/SheetConfigPanel.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
Labels: UI

docs(boq): 3d-ii Section 3 -- plan-doc + frontend CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat: replace Document AI with Gemini for invoice/receipt autofill
  .claude/context/domain/invoice-autofill.md
  CLAUDE.md
  frontend/src/components/helpers/routesConfig.tsx
  nirmaan_stack/api/delivery_notes/update_invoice_data.py
  nirmaan_stack/api/invoice_autofill.py
  nirmaan_stack/api/invoices/_auto_approve.py
  nirmaan_stack/api/payment_autofill.py
  nirmaan_stack/nirmaan_stack/doctype/document_ai_settings/document_ai_settings.json
  nirmaan_stack/nirmaan_stack/doctype/document_ai_settings/document_ai_settings.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/purge_document_ai_credentials.py
  nirmaan_stack/services/document_ai.py
  nirmaan_stack/services/extraction/__init__.py
  nirmaan_stack/services/extraction/base.py
  nirmaan_stack/services/extraction/files.py
  nirmaan_stack/services/extraction/gemini.py
  nirmaan_stack/services/extraction/helpers.py
  nirmaan_stack/services/extraction/test_validation.py
  nirmaan_stack/services/extraction/validation.py
  pyproject.toml
Labels: UI, backend

feat(fuzzy-PR/PO/SR-items search ): rank PR/PO/SR item-search results by token-score relevance
  nirmaan_stack/api/data_table/constants.py
  nirmaan_stack/api/data_table/facets.py
  nirmaan_stack/api/data_table/search.py
  nirmaan_stack/api/data_table/token_search.py
Labels: backend

perf: bound token-score ranking to top-N candidates instead of all-or-nothing
  nirmaan_stack/api/data_table/search.py
Labels: backend

perf(fuzzy-PR/PO/SR-items search): collapse per-token token-OR queries into single round-trip
  nirmaan_stack/api/data_table/facets.py
  nirmaan_stack/api/data_table/search.py
Labels: backend

perf: prune ranker row-fetch to scoring-relevant rows; bump search/facet cache versions
  nirmaan_stack/api/data_table/facets.py
  nirmaan_stack/api/data_table/search.py
Labels: backend

refactor(item-search): unify Fuse.js usages on shared rankByTokenScore helper
  frontend/src/components/ui/fuzzy-search-select.tsx
  frontend/src/pages/ApprovedQuotationsFlow/AdminApprovedQuotationsTable.tsx
  frontend/src/pages/ApprovedQuotationsFlow/ApprovedQuotationsTable.tsx
  frontend/src/pages/Items/itemsPage.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/NewItemDialog.tsx
  frontend/src/pages/ProcurementRequests/NewPR/hooks/useProcurementRequestForm.ts
  frontend/src/pages/projects/components/ProjectMaterialUsageTab.tsx
  frontend/src/pages/tds/components/AddTDSItemDialog.tsx
Labels: UI

fix(boq): Section 3 read-back -- seed parses {role,area} objects + no-lock-on-empty
  frontend/src/pages/boq-wizard/SheetSpokePage.tsx
Labels: UI

docs(boq): Section 3 read-back fix -- plan-doc + frontend CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(boq): Section 3 -- enforce per-area uniqueness (disable used role+area pairs)
  frontend/src/pages/boq-wizard/SheetConfigPanel.tsx
Labels: UI

docs(boq): Section 3 per-area uniqueness -- plan-doc + frontend CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
