Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

feat(boq): per-SKU module width, four socket slots, popup composite (v45)
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/pricing/rate-master/rateMasterStructure.ts
  frontend/src/pages/pricing/rate-master/rateMasterTypes.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.ts
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v45.json
  nirmaan_stack/services/boq_rate_master/extraction.py
  nirmaan_stack/services/boq_rate_master/test_extraction_coercion.py
Labels: UI, backend

docs(boq): record slice 5 -- per-SKU width, the container split, the popup composite
  .claude/context/domain/boq-rate-master.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(snag-list): add the cross-project page, the module switch and PDF download
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/SnagList/SnagListTab.tsx
  frontend/src/pages/SnagList/components/ProjectSnagCard.tsx
  frontend/src/pages/SnagList/config/snagTable.config.ts
  frontend/src/pages/SnagList/download/index.ts
  frontend/src/pages/SnagList/download/snagDownloadConstants.ts
  frontend/src/pages/SnagList/download/snagDownloadParams.ts
  frontend/src/pages/SnagList/download/useSnagDownload.ts
  frontend/src/pages/SnagList/hooks/useProjectSnagSummaries.ts
  frontend/src/pages/SnagList/snag-list-details.tsx
  frontend/src/pages/SnagList/snag-list.tsx
  frontend/src/pages/SnagList/snag-printformat.html
  frontend/src/pages/SnagList/types.ts
  frontend/src/pages/projects/components/ProjectModuleDeactivationStatus.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/types/NirmaanStack/Projects.ts
  nirmaan_stack/api/projects/module_controls.py
  nirmaan_stack/api/snags/project_list.py
  nirmaan_stack/fixtures/print_format.json
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.json
Labels: UI, backend

fix(boq): slot-paired default wording, the blanker item display, and the slice 5 record
  .claude/context/domain/boq-rate-master.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  nirmaan_stack/services/boq_rate_master/extraction.py
Labels: UI, backend

fix(boq): stop the popup P1 rule blanking Colour, and guard the class at authoring time
  frontend/.claude/plans/boq-upload-plan.md
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v45.json
Labels: backend

fix(snag-list): drop the Batch-filter block the merge resurrected
  frontend/src/pages/SnagList/SnagListTab.tsx
Labels: UI

fix(snag-list): grant the snag doctypes real ROLES, not Role Profile names
  nirmaan_stack/nirmaan_stack/doctype/project_snag/project_snag.json
  nirmaan_stack/nirmaan_stack/doctype/project_snag_batch/project_snag_batch.json
Labels: backend

fix(snag-list): scope the cross-project grid to a user's own projects
  nirmaan_stack/api/snags/project_list.py
Labels: backend

feat(snag-list): add Snag List and Commission Report Tracker to the PM dashboard
  frontend/src/components/layout/dashboards/dashboard-pm.tsx
Labels: UI

fix(boq): TPN, TP+N, TP+NL, TP+2N and TP+2NL all mean four pole
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_category/prompts/boq_composite_decomposition_prompt.md
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v46.json
Labels: UI, backend

docs(boq): record the TPN pole-vocabulary slice and the open TPN follow-on
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): always price both wiring blocks, and show two stacked headlines
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/boq-wizard/rate-helper/rateHelperTypes.ts
Labels: UI

docs(boq): record the wiring both-blocks + two-headlines slice
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): price the conduit into the cable rate when the row says it is included
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v47.json
Labels: UI, backend

docs(boq): record the conduit-in-the-cable-rate slice
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): correct a three-pole MCB pick to four-pole when the row says TPN
  nirmaan_stack/services/boq_rate_master/extraction.py
  nirmaan_stack/services/boq_rate_master/test_extraction_coercion.py
Labels: backend

docs(boq): record the TPN post-match pole slice and two open items
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

test(boq): update four stale pins in test_rate_suggest
  nirmaan_stack/api/boq/test_rate_suggest.py
Labels: backend

docs(boq): record Phase A, the retraction, and two method lessons
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(boq): record Phase B, the residue cleanup and its proof
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(quick-calc): floating calculator with mouse, touch and keyboard input
  frontend/src/components/layout/main-layout.tsx
  frontend/src/components/quick-calc/QuickCalc.tsx
  frontend/src/components/quick-calc/QuickCalcKeypad.tsx
  frontend/src/components/quick-calc/calc-engine.test.ts
  frontend/src/components/quick-calc/calc-engine.ts
  frontend/src/components/quick-calc/useCalcKeyboard.ts
  frontend/src/components/quick-calc/usePlatformModifier.ts
  frontend/src/zustand/useQuickCalcStore.ts
Labels: UI

feat(quick-calc): compact layout, expandable history, platform-correct keys, user guide
  docs/user-guides/quick-calc.md
  frontend/src/components/quick-calc/QuickCalc.tsx
  frontend/src/components/quick-calc/QuickCalcKeypad.tsx
  frontend/src/components/quick-calc/useCalcKeyboard.ts
  frontend/src/components/quick-calc/usePlatformModifier.ts
  frontend/src/zustand/useQuickCalcStore.ts
Labels: UI

feat(expenses): Expense Request, Category and format-snapshot doctypes
  nirmaan_stack/fixtures/expense_category.json
  nirmaan_stack/fixtures/expense_type.json
  nirmaan_stack/nirmaan_stack/doctype/expense_category/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/expense_category/expense_category.json
  nirmaan_stack/nirmaan_stack/doctype/expense_category/expense_category.py
  nirmaan_stack/nirmaan_stack/doctype/expense_category/test_expense_category.py
  nirmaan_stack/nirmaan_stack/doctype/expense_request/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/expense_request/expense_request.json
  nirmaan_stack/nirmaan_stack/doctype/expense_request/expense_request.py
  nirmaan_stack/nirmaan_stack/doctype/expense_request/test_expense_request.py
  nirmaan_stack/nirmaan_stack/doctype/expense_request_template_snapshot/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/expense_request_template_snapshot/expense_request_template_snapshot.json
  nirmaan_stack/nirmaan_stack/doctype/expense_request_template_snapshot/expense_request_template_snapshot.py
  nirmaan_stack/nirmaan_stack/doctype/expense_request_template_snapshot/test_expense_request_template_snapshot.py
  nirmaan_stack/nirmaan_stack/doctype/expense_type/expense_type.json
  nirmaan_stack/nirmaan_stack/doctype/non_project_expenses/non_project_expenses.json
  nirmaan_stack/nirmaan_stack/doctype/project_expenses/project_expenses.json
Labels: backend

feat(expenses): raise, review and convert an expense request
  nirmaan_stack/api/expense_requests/__init__.py
  nirmaan_stack/api/expense_requests/access.py
  nirmaan_stack/api/expense_requests/convert.py
  nirmaan_stack/api/expense_requests/create.py
  nirmaan_stack/api/expense_requests/flatten.py
  nirmaan_stack/api/expense_requests/masters.py
  nirmaan_stack/api/expense_requests/read.py
  nirmaan_stack/api/expense_requests/review.py
  nirmaan_stack/services/expense_request_routing.py
Labels: backend

feat(expenses): the ledger drives Paid, deletion and the bell
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/expense_request_notify.py
  nirmaan_stack/integrations/controllers/expense_request_status.py
Labels: backend

feat(expenses-ui): Expense Request tab, request and review dialogs
  frontend/src/components/expense-packages.tsx
  frontend/src/components/helpers/renderRightActionButton.tsx
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/ExpenseRequests/ExpenseRequestsPage.tsx
  frontend/src/pages/ExpenseRequests/components/ExpenseFormatDialog.tsx
  frontend/src/pages/ExpenseRequests/components/ExpensePackagesMaster.tsx
  frontend/src/pages/ExpenseRequests/components/FormatFieldsRenderer.tsx
  frontend/src/pages/ExpenseRequests/components/NewExpenseRequestDialog.tsx
  frontend/src/pages/ExpenseRequests/components/ReviewActionDialog.tsx
  frontend/src/pages/ExpenseRequests/config/expenseRequestsColumns.tsx
  frontend/src/pages/ExpenseRequests/config/expenseRequestsTable.config.ts
  frontend/src/pages/Expenses/ExpenseIndexRedirect.tsx
  frontend/src/pages/Expenses/ExpenseLayout.tsx
  frontend/src/pages/PackagesSettings/config/packageSettingsTabs.constants.ts
  frontend/src/types/NirmaanStack/ExpenseRequest.ts
  frontend/src/types/NirmaanStack/ExpenseType.ts
  frontend/src/utils/expenseFormat.test.ts
  frontend/src/utils/expenseFormat.ts
  frontend/src/zustand/useDialogStore.ts
Labels: UI

test(expenses): 47 tests over the review gate and the ledger-driven lifecycle
  nirmaan_stack/api/expense_requests/test_expense_requests.py
  nirmaan_stack/api/expense_requests/test_fixture_completeness.py
  nirmaan_stack/api/expense_requests/test_flatten.py
Labels: backend

fix(notifications): expense cards show expense facts, not blank lines
  frontend/src/components/nav/expenseNotificationDetails.test.ts
  frontend/src/components/nav/expenseNotificationDetails.ts
  frontend/src/components/nav/notifications.tsx
Labels: UI

feat(expenses): the ledger's own threshold decides the expense status
  .claude/context/domain/expenses.md
  frontend/src/types/NirmaanStack/ExpenseRequest.ts
  nirmaan_stack/api/expense_requests/convert.py
  nirmaan_stack/api/expense_requests/read.py
Labels: UI, backend

docs(expenses): domain doc, ADR-0016 and the as-built plan
  .claude/context/domain/expenses.md
  .claude/plans/expense-request-plan.md
  CONTEXT.md
  docs/adr/0016-expense-request-vs-expense.md
Labels: none

feat(expenses): warn when the same expense has already been asked for
  frontend/src/pages/ExpenseRequests/components/NewExpenseRequestDialog.tsx
  frontend/src/pages/ExpenseRequests/components/ReviewActionDialog.tsx
  nirmaan_stack/api/expense_requests/create.py
  nirmaan_stack/api/expense_requests/duplicates.py
  nirmaan_stack/api/expense_requests/similar.py
  nirmaan_stack/api/expense_requests/test_expense_requests.py
Labels: UI, backend

feat(expenses): a request can name the vendor it will be paid to
  frontend/src/components/custom-select/vendor-select.tsx
  frontend/src/pages/ExpenseRequests/components/ExpensePackagesMaster.tsx
  frontend/src/pages/ExpenseRequests/components/NewExpenseRequestDialog.tsx
  nirmaan_stack/api/expense_requests/convert.py
  nirmaan_stack/api/expense_requests/create.py
  nirmaan_stack/api/expense_requests/flatten.py
  nirmaan_stack/api/expense_requests/masters.py
  nirmaan_stack/api/expense_requests/test_expense_requests.py
  nirmaan_stack/fixtures/expense_category.json
  nirmaan_stack/fixtures/expense_type.json
  nirmaan_stack/nirmaan_stack/doctype/expense_request/expense_request.json
Labels: UI, backend

fix(po): clear Project Action Item rows so PO delete is not blocked forever
  nirmaan_stack/integrations/controllers/procurement_orders.py
Labels: backend

feat(payments): Cashfree payout export, gated on complete vendor bank details
  frontend/src/pages/ProjectPayments/update-payment/AccountantTabs.tsx
  frontend/src/pages/vendors/edit-vendor.tsx
Labels: UI

feat(expenses): a requester may edit their own pending request
  nirmaan_stack/api/expense_requests/create.py
  nirmaan_stack/api/expense_requests/read.py
  nirmaan_stack/api/expense_requests/update.py
Labels: backend

test(expenses): cover editing, and stop the suite leaking rows into the live site
  nirmaan_stack/api/expense_requests/test_expense_requests.py
Labels: backend

feat(expenses): read a request's stored format answers back for editing
  frontend/src/utils/expenseFormat.test.ts
  frontend/src/utils/expenseFormat.ts
Labels: UI

feat(expenses): edit action on a pending expense request
  frontend/src/pages/ExpenseRequests/ExpenseRequestsPage.tsx
  frontend/src/pages/ExpenseRequests/components/NewExpenseRequestDialog.tsx
  frontend/src/pages/ExpenseRequests/config/expenseRequestsColumns.tsx
  frontend/src/types/NirmaanStack/ExpenseRequest.ts
Labels: UI

chore(expenses): carry the expense-type source formats in the fixture
  nirmaan_stack/fixtures/expense_type.json
Labels: backend

feat(boq): make the point-wiring conduit optional and set circuit length by point type
  frontend/src/pages/pricing/rate-master/rateMasterTypes.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/api/boq/test_rate_suggest.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v50.json
  nirmaan_stack/services/boq_rate_master/extraction.py
Labels: UI, backend
