Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

feat(rate-master): F-25 slice 1 - switches_sockets shows the back box it prices on (v57, config only)
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v57.json
Labels: UI, backend

feat(rate-master): paired-quantity fill - a blank quantity beside a present item gets its declared default, general across configs
  nirmaan_stack/services/boq_rate_master/extraction.py
  nirmaan_stack/services/boq_rate_master/test_extraction_coercion.py
Labels: backend

docs(rate-master): paired-quantity fill as-built - the rule with both cases, why (b) is code, the 55-row population and the 72->54 correction, siting, the cert with three named AI calls
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat: scope PMO visibility, open Target Progress, rework download dialog
  frontend/src/components/common/BulkPdfDownloadButton.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/constants/roles.ts
  frontend/src/pages/BulkDownload/BulkDownloadStep1.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneDailySummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/DailyReportView.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReport.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/PDFDownloadButtons.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/TargetProgressDownloadDialog.tsx
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  frontend/src/pages/reports/ReportsContainer.tsx
  frontend/src/pages/reports/constants.ts
  frontend/src/pages/reports/store/useReportStore.ts
Labels: UI

feat: hide five financial columns from PMO, guard the hidden routes
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/constants/roles.ts
  frontend/src/pages/projects/projects.tsx
  frontend/src/utils/auth/ProtectedRoute.tsx
Labels: UI

feat: admit PMO Executive to the BoQ wizard, widening the route guard with it
  frontend/src/constants/roles.ts
  frontend/src/pages/boq-wizard/boqAccess.test.ts
  frontend/src/pages/boq-wizard/boqAccess.ts
Labels: UI

feat(boq): admit PMO and Billing to the wizard, and explain a preview that cannot open
  frontend/src/components/ui/toast.tsx
  frontend/src/constants/roles.ts
  frontend/src/pages/boq-wizard/BoqProjectTab.tsx
  frontend/src/pages/boq-wizard/boqAccess.test.ts
  frontend/src/pages/boq-wizard/boqAccess.ts
  frontend/src/pages/projects/project.tsx
Labels: UI

feat(rate-master): F-25 slice 2 - a bare box prices as its back box (v58): the stated size, the 3M default, the assumed and next-size-up notes
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/boq-wizard/rate-helper/rateHelperTypes.ts
  frontend/src/pages/pricing/rate-master/rateMasterTypes.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v58.json
  nirmaan_stack/services/boq_rate_master/extraction.py
  nirmaan_stack/services/boq_rate_master/test_extraction_coercion.py
Labels: UI, backend

feat(rate-master): F-25 slice 3 - the box field becomes effective (v59): a pick prices, the plate is a minimum, the assumed note goes
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/boq-wizard/rate-helper/rateHelperTypes.ts
  frontend/src/pages/pricing/rate-master/rateMasterTypes.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.ts
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v59.json
Labels: UI, backend

feat(ceo-hold): release a hold against a recheck date, not only by resolving it
  nirmaan_stack/integrations/controllers/project_cashflow_hold_update.py
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.json
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.py
  nirmaan_stack/services/ceo_hold/core.py
Labels: backend

feat(ceo-hold): end scheduled-recheck mode from the cron, reusing the existing evaluation
  docs/ceo_hold_auto_management.md
  nirmaan_stack/hooks.py
  nirmaan_stack/services/ceo_hold/test_recheck.py
  nirmaan_stack/tasks/ceo_hold_recheck.py
Labels: backend

feat(ceo-hold): ask for the recheck date in the project status dialog
  frontend/src/pages/projects/components/ProjectStatusDialog.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/types/NirmaanStack/Projects.ts
  frontend/src/utils/ceoHoldRecheck.test.ts
  frontend/src/utils/ceoHoldRecheck.ts
Labels: UI

fix(projects): stop logging a phantom project-value change on every save
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.py
  nirmaan_stack/nirmaan_stack/doctype/projects/test_projects.py
Labels: backend

feat(rate-master): never-asked defaults - an attribute absent from a stored run row takes its config default; present-null still refuses
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
Labels: UI

feat(payments): download a payment voucher from the PO details page
  frontend/src/components/paymentsVoucher/PaymentVoucherActions.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/TransactionDetailsCard.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/types/NirmaanStack/ProjectPayments.ts
Labels: UI

feat(boq): admit PMO and Billing to the wizard, and route the BoQ row click by won-ness
  frontend/.claude/context/domain/boq-frontend.md
  frontend/src/components/ui/toast.tsx
  frontend/src/constants/roles.ts
  frontend/src/pages/boq-wizard/BoqProjectTab.tsx
  frontend/src/pages/boq-wizard/boqAccess.test.ts
  frontend/src/pages/boq-wizard/boqAccess.ts
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/projects/tendering/TenderingProjectView.tsx
Labels: UI

feat(boq): give the read-only sheet viewer its view controls and an .xlsx download
  frontend/src/pages/boq-wizard/SheetViewPage.tsx
  frontend/src/pages/boq-wizard/exportViewerXlsx.test.ts
  frontend/src/pages/boq-wizard/exportViewerXlsx.ts
Labels: UI

feat(delivery-notes): let PMO delete delivery notes
  frontend/src/pages/DeliveryNotes/ITMDeliveryNote.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/DeliveryPivotTable.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/PivotTableHeader.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/index.ts
  frontend/src/pages/DeliveryNotes/components/pivot-table/types.ts
Labels: UI

fix(rate-master): the shared AI-reply parser skips a bracketed list of scalars and keeps scanning - a prefaced reply no longer halts a run
  nirmaan_stack/services/boq_category/ai_voter.py
  nirmaan_stack/services/boq_category/tests/test_hv2_voter_harness.py
  nirmaan_stack/services/boq_rate_master/test_extraction_coercion.py
Labels: backend

docs(rate-master): F-31 verified cured with the residue counts, the parser defect as-built with its three callers and the replay, the owed suites, the sequence reaching the native price calculator
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat: now PO voucher don't have they vendor signature block , based on PO
  nirmaan_stack/fixtures/print_format.json
Labels: backend

feat(vendors): add a TDS deduction percentage, defaulting to 2
  frontend/src/pages/vendors/VendorsPage.tsx
  frontend/src/pages/vendors/components/VendorOverviewCard.tsx
  frontend/src/pages/vendors/edit-vendor.tsx
  frontend/src/pages/vendors/new-vendor.tsx
  frontend/src/pages/vendors/vendors.constants.ts
  frontend/src/types/NirmaanStack/Vendors.ts
  nirmaan_stack/api/create_vendor_and_address.py
  nirmaan_stack/nirmaan_stack/doctype/vendors/vendors.json
Labels: UI, backend

feat(tds): let PMO delete any TDS history row, and hide the Item ID column
  frontend/src/pages/projects/TDSRepository/components/TdsHistoryTable.tsx
Labels: UI

docs(outflow-import): ADR-0016, the domain record, and the slice-by-slice plan
  .claude/context/domain/outflow-import.md
  docs/adr/0016-bank-statement-import-creates-inflows.md
  frontend/.claude/plans/bank-statement-ingestion-plan.md
Labels: none

docs(outflow-import): ADR-0020 + the design spec for one transfer settling many payments
  docs/adr/0020-one-transfer-many-payments.md
  frontend/.claude/plans/outflow-fanout-allocation-plan.md
Labels: none

docs(outflow-import): the fan-out allocation implementation plan
  docs/superpowers/plans/2026-09-09-outflow-fanout-allocation.md
  frontend/.claude/plans/outflow-fanout-allocation-plan.md
Labels: none

fix(boq): raise the suggest-run job timeout so a real sheet can finish
  .claude/context/domain/boq-rate-master.md
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_suggest.py
Labels: backend

docs(outflow-import): fix stale "three tabs" claims after the fourth tab
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  frontend/src/pages/outflow-import/outflowTableModel.ts
  frontend/src/types/NirmaanStack/OutflowImportBatch.ts
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_review.py
  nirmaan_stack/nirmaan_stack/doctype/outflow_import_row/outflow_import_row.py
  nirmaan_stack/services/outflow_import/status.py
Labels: UI, backend

feat(outflow-import): the Partially Allocated row status, open AND frozen
  frontend/src/pages/outflow-import/components/OutflowRowsTable.tsx
  frontend/src/pages/outflow-import/outflowImportStatus.test.ts
  frontend/src/pages/outflow-import/outflowImportStatus.ts
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  frontend/src/types/NirmaanStack/OutflowImportBatch.ts
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_review.py
  nirmaan_stack/nirmaan_stack/doctype/outflow_import_row/outflow_import_row.json
  nirmaan_stack/services/outflow_import/status.py
  nirmaan_stack/services/outflow_import/test_status.py
Labels: UI, backend

feat(outflow-import): derive a row's status from its allocation, not from one write
  nirmaan_stack/api/outflow_import/expenses.py
  nirmaan_stack/api/outflow_import/test_settle_payment.py
  nirmaan_stack/services/outflow_import/allocation.py
  nirmaan_stack/services/outflow_import/test_allocation.py
Labels: backend

fix(outflow-import): lift the duplicated _allocated fixture helper to AllocationFixture
  nirmaan_stack/api/outflow_import/test_allocate_row.py
  nirmaan_stack/api/outflow_import/test_reverse_allocation.py
Labels: backend

feat(outflow-import): reverse_allocation -- undo one leg, keep the record
  nirmaan_stack/api/outflow_import/expenses.py
  nirmaan_stack/api/outflow_import/test_reverse_allocation.py
Labels: backend

fix(outflow-import): six review fixes -- unknown-legs balance, one tick source, fan-out doctype guard
  frontend/src/pages/outflow-import/allocationView.test.ts
  frontend/src/pages/outflow-import/allocationView.ts
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/components/SettleableRecordTable.tsx
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
Labels: UI

fix(outflow-import): the three LIMIT 1 settled reads become aggregates
  frontend/src/pages/outflow-import/outflowExport.test.ts
  frontend/src/pages/outflow-import/outflowExport.ts
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  frontend/src/types/NirmaanStack/OutflowImportBatch.ts
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_review.py
  nirmaan_stack/services/outflow_import/ledgers.py
Labels: UI, backend

fix(outflow-import): the whole-branch review wave -- a row lock, a restored disclosure, and a reversal that refuses what it cannot undo
  docs/adr/0020-one-transfer-many-payments.md
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  frontend/src/pages/outflow-import/allocationView.test.ts
  frontend/src/pages/outflow-import/allocationView.ts
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  nirmaan_stack/api/outflow_import/expenses.py
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_allocate_row.py
  nirmaan_stack/api/outflow_import/test_reverse_allocation.py
  nirmaan_stack/api/outflow_import/test_settle_payment.py
  nirmaan_stack/services/outflow_import/allocation.py
  nirmaan_stack/services/outflow_import/amounts.py
  nirmaan_stack/services/outflow_import/test_allocation.py
Labels: UI, backend

fix(outflow-import): review fixes for allocate_row -- attachment fan-out, guard row-order, message tail
  nirmaan_stack/api/outflow_import/expenses.py
  nirmaan_stack/api/outflow_import/test_allocate_row.py
  nirmaan_stack/api/outflow_import/test_settle_payment.py
  nirmaan_stack/api/payments/project_payments.py
  nirmaan_stack/services/outflow_import/reference_guard.py
  nirmaan_stack/services/outflow_import/settle.py
  nirmaan_stack/services/outflow_import/test_reference_guard.py
Labels: backend

feat(outflow-import): allocate_row -- one transfer settles N payments atomically
  nirmaan_stack/api/outflow_import/expenses.py
  nirmaan_stack/api/outflow_import/test_allocate_row.py
  nirmaan_stack/api/outflow_import/test_settle_payment.py
  nirmaan_stack/api/payments/project_payments.py
  nirmaan_stack/services/outflow_import/reference_guard.py
  nirmaan_stack/services/outflow_import/settle.py
  nirmaan_stack/services/outflow_import/test_reference_guard.py
Labels: backend

feat(outflow-import): the allocation screen -- checkbox picker and a balance bar
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  frontend/src/pages/outflow-import/allocationView.test.ts
  frontend/src/pages/outflow-import/allocationView.ts
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/components/SettleableRecordTable.tsx
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
Labels: UI

fix(outflow-import): derive Outflow Row Match's frozen-field set instead of hand-typing it
  nirmaan_stack/api/outflow_import/test_match_record.py
  nirmaan_stack/nirmaan_stack/doctype/outflow_row_match/outflow_row_match.py
Labels: backend

feat(outflow-import): Outflow Row Match gains a Reversed kind and a PARTIAL unique index
  nirmaan_stack/api/outflow_import/test_match_record.py
  nirmaan_stack/nirmaan_stack/doctype/outflow_row_match/outflow_row_match.json
  nirmaan_stack/nirmaan_stack/doctype/outflow_row_match/outflow_row_match.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/outflow_match_partial_unique.py
Labels: backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
