Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

docs(boq-review): record Slice C-v2d-fix (feat 7fee7481)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(commission-report): Rejected status with resolve-and-resubmit loop
  frontend/src/pages/CommissionReport/commission-report-list.tsx
  frontend/src/pages/CommissionReport/components/ApprovalActionDialog.tsx
  frontend/src/pages/CommissionReport/components/GlobalApprovalsTable.tsx
  frontend/src/pages/CommissionReport/components/ProjectWiseCard.tsx
  frontend/src/pages/CommissionReport/components/ReportActionCell.tsx
  frontend/src/pages/CommissionReport/components/TaskWiseTable.tsx
  frontend/src/pages/CommissionReport/hooks/useCommissionMasters.ts
  frontend/src/pages/CommissionReport/project-commission-report-details.tsx
  frontend/src/pages/CommissionReport/report-wizard/index.tsx
  frontend/src/pages/CommissionReport/report-wizard/renderer/TraineesDataTableSection.tsx
  frontend/src/pages/CommissionReport/types/index.ts
  frontend/src/pages/CommissionReport/utils.tsx
  nirmaan_stack/api/commission_report/get_team_summary.py
  nirmaan_stack/api/commission_report/update_task_response.py
Labels: UI, backend

docs(boq-review): record Slice C-classification read-only recon ran
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

refactor(commission-report): update commission report task columns with export metadata, restrict sidebar access by role, and document the new approval workflow
  frontend/.claude/context/domain/commissioning-report-templates.md
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/CommissionReport/components/TaskWiseTable.tsx
  frontend/src/pages/CommissionReport/config/commissionTableColumns.tsx
  frontend/src/pages/CommissionReport/project-commission-report-details.tsx
Labels: UI

feat(commission-report): sync trackers with master (rename cascade, N/A backfill) + trim guards
  frontend/src/pages/CommissionReport/components/CommissionPackagesMaster.tsx
  frontend/src/pages/CommissionReport/project-commission-report-details.tsx
  nirmaan_stack/fixtures/commission_report_tasks.json
  nirmaan_stack/nirmaan_stack/doctype/commission_report_category/commission_report_category.py
  nirmaan_stack/nirmaan_stack/doctype/commission_report_tasks/commission_report_tasks.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/sync_commission_master_changes.py
Labels: UI, backend

feat: update CommissionReport types to include response_filled_by field and clarify response_filled_at description
  frontend/src/pages/CommissionReport/types/index.ts
Labels: UI

feat(payments): auto-approve sub-₹5,000 payments + 30-day cash-flow summary
  frontend/src/pages/ProjectPayments/PaymentSummaryCards.tsx
  frontend/src/pages/reports/components/ProjectReports.tsx
  nirmaan_stack/api/payments/get_project_payment_summary.py
  nirmaan_stack/api/payments/project_payments.py
  nirmaan_stack/integrations/controllers/project_payments.py
Labels: UI, backend

fix(commission-report): remove "(Signature & Stamp)" caption from signature blocks
  frontend/src/pages/CommissionReport/commission-printformat.html
  frontend/src/pages/CommissionReport/ls-commission-printformat.html
  nirmaan_stack/fixtures/print_format.json
Labels: backend

fix(PR-error -fix): add missing comma in daily tasks configuration to prevent syntax error
  nirmaan_stack/hooks.py
Labels: backend

feat(ceo-hold): surface CEO Hold across PMO & tracker dashboards
  frontend/src/components/common/ProjectStatusBadge.tsx
  frontend/src/components/common/projectStatus.ts
  frontend/src/pages/CashflowPlanTracker/components/CashflowPlanProjectCard.tsx
  frontend/src/pages/CommissionReport/components/ProjectWiseCard.tsx
  frontend/src/pages/CriticalPOTracker/components/CriticalPOProjectCard.tsx
  frontend/src/pages/CriticalPOTracker/critical-po-tracker-detail.tsx
  frontend/src/pages/MaterialPlanTracker/components/MaterialPlanProjectCard.tsx
  frontend/src/pages/PMODashboard/pmo-dashboard-list.tsx
  frontend/src/pages/PMODashboard/pmo-project-detail.tsx
  frontend/src/pages/PRTracker/components/PRProjectCard.tsx
  frontend/src/pages/PRTracker/pr-tracker-detail.tsx
  frontend/src/pages/ProjectDesignTracker/components/ProjectWiseCard.tsx
  frontend/src/pages/WorkPlanTracker/components/WorkPlanProjectCard.tsx
Labels: UI

feat(boq-review): add searchable sheet-view component (Slice 1a)
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/pages/boq-wizard/SheetSearchView.tsx
  frontend/src/pages/boq-wizard/_DevSheetSearchHarness.tsx
Labels: UI

docs(boq-review): record Slice 1a searchable sheet-view
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(commission-report): snapshot report_type from master across task-creation paths
  frontend/src/pages/CommissionReport/hooks/useCommissionTrackerLogic.ts
  frontend/src/pages/CommissionReport/project-commission-report-details.tsx
  frontend/src/pages/projects/project.tsx
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/backfill_commission_report_type.py
Labels: UI, backend

docs(boq-review): compact + line-split plan/CLAUDE docs; record Slice 1a live-cert
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(procurement): add Billing Status across PR, SB and PO
  frontend/src/pages/ProcurementRequests/NewPR/hooks/useSubmitProcurementRequest.ts
  frontend/src/pages/ProcurementRequests/NewPR/types/index.ts
  frontend/src/types/NirmaanStack/ProcurementOrders.ts
  frontend/src/types/NirmaanStack/ProcurementRequests.ts
  nirmaan_stack/api/approve_reject_sb_vendor_quotes.py
  nirmaan_stack/api/approve_vendor_quotes.py
  nirmaan_stack/api/custom_pr_api.py
  nirmaan_stack/api/po_revisions/revision_logic.py
  nirmaan_stack/api/reject_vendor_quotes.py
  nirmaan_stack/api/send_vendor_quotes.py
  nirmaan_stack/integrations/controllers/procurement_orders.py
  nirmaan_stack/integrations/controllers/procurement_requests.py
  nirmaan_stack/nirmaan_stack/doctype/procurement_orders/procurement_orders.json
  nirmaan_stack/nirmaan_stack/doctype/procurement_request_item_detail/procurement_request_item_detail.json
  nirmaan_stack/nirmaan_stack/doctype/purchase_order_item/purchase_order_item.json
Labels: UI, backend

chore(procurement): add billing_status backfill patch
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/backfill_billing_status.py
Labels: backend

fix: preserve billing status during procurement updates SB fixing send back approve
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useProcurementActions.ts
Labels: UI

feat(boq-review): Slice 1b-alpha transactional restructure + human_is_root
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
  nirmaan_stack/nirmaan_stack/doctype/boq_review_row/boq_review_row.json
Labels: UI, backend

docs(boq-review): record Slice 1b-alpha (restructure endpoint + human_is_root)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-review): Slice 1b-beta restructure modal + dev-route removal
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/pages/boq-wizard/RestructureModal.tsx
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/SheetReviewPage.tsx
  frontend/src/pages/boq-wizard/_DevSheetSearchHarness.tsx
Labels: UI

docs(boq-review): record Slice 1b-beta restructure modal + dev-route removal
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(billing): use billing_status in DC/MIR and Material Usage
  frontend/src/pages/DeliveryChallansAndMirs/DeliveryChallansAndMirs.tsx
  frontend/src/pages/DeliveryChallansAndMirs/components/UploadDCMIRDialog.tsx
  frontend/src/pages/projects/data/root/useProjectRootApi.ts
  frontend/src/pages/projects/hooks/useMaterialUsageData.ts
  nirmaan_stack/api/delivery_challans_data.py
  nirmaan_stack/api/po_delivery_documentss.py
  nirmaan_stack/api/procurement_orders.py
Labels: UI, backend

feat(boq-review): Layout Part A -- widen RestructureModal + wrap children-list text
  frontend/src/pages/boq-wizard/RestructureModal.tsx
Labels: UI

docs(boq-review): record Layout Part A -- RestructureModal sizing + child-list wrap
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat: surface manual vs system CEO Hold and notify holder when releasable
  frontend/src/components/ui/ceo-hold-banner.tsx
  frontend/src/constants/ceoHold.ts
  frontend/src/hooks/useCEOHoldGuard.ts
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  nirmaan_stack/integrations/controllers/project_cashflow_hold_update.py
Labels: UI, backend

fix(frontend): remove explicit @rollup/rollup-darwin-arm64 devDependency
  frontend/package.json
  frontend/yarn.lock
Labels: none

feat(boq-review): get_sheet_preview_full -- single-pass full-sheet read
  nirmaan_stack/api/boq/wizard/sheet_preview.py
  nirmaan_stack/api/boq/wizard/test_sheet_preview.py
Labels: backend

feat(tds): restructure flat TDS Repository into 3-level TDS Item grouping model
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/constants/tds.ts
  frontend/src/pages/projects/TDSRepository/components/RequestTdsItemDialog.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsCreateForm.tsx
  frontend/src/pages/tds/TDSApprovalDetail.tsx
  frontend/src/pages/tds/TDSApprovalList.tsx
  frontend/src/pages/tds/TDSItemDetail.tsx
  frontend/src/pages/tds/TDSRepositoryMaster.tsx
  frontend/src/pages/tds/components/AddTDSEntryDialog.tsx
  frontend/src/pages/tds/components/AddTDSItemWizard.tsx
  frontend/src/pages/tds/components/EditRequestItemModal.tsx
  frontend/src/pages/tds/components/EditTDSEntryDialog.tsx
  frontend/src/pages/tds/components/EditTDSItemDialog.tsx
  frontend/src/pages/tds/components/MultiAddMembersDialog.tsx
  frontend/src/pages/tds/components/ProjectEditTDSItemModal.tsx
  frontend/src/pages/tds/components/TDSItemPeekDialogs.tsx
  frontend/src/pages/tds/components/cells.tsx
  frontend/src/pages/tds/hooks/useTDSItemOptions.ts
  frontend/src/types/NirmaanStack/TDSItem.ts
  frontend/src/types/NirmaanStack/TDSRepository.ts
  frontend/yarn.lock
  nirmaan_stack/api/tds/approve.py
  nirmaan_stack/api/tds/members.py
  nirmaan_stack/api/tds/picker.py
  nirmaan_stack/api/tds/tds_report.py
  nirmaan_stack/fixtures/print_format.json
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/items.py
  nirmaan_stack/nirmaan_stack/doctype/items/items.py
  nirmaan_stack/nirmaan_stack/doctype/tds_items/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/tds_items/tds_items.json
  nirmaan_stack/nirmaan_stack/doctype/tds_items/tds_items.py
  nirmaan_stack/nirmaan_stack/doctype/tds_items/test_tds_items.py
  nirmaan_stack/nirmaan_stack/doctype/tds_items_child_table/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/tds_items_child_table/tds_items_child_table.json
  nirmaan_stack/nirmaan_stack/doctype/tds_items_child_table/tds_items_child_table.py
  nirmaan_stack/nirmaan_stack/doctype/tds_items_child_table/test_tds_items_child_table.py
  nirmaan_stack/nirmaan_stack/doctype/tds_repository/tds_repository.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/restructure_tds_repository_to_tds_items.py
Labels: UI, backend

fix(tds): snapshot Project TDS category + preserve custom name on tab switch
  frontend/src/pages/projects/TDSRepository/components/RequestTdsItemDialog.tsx
  frontend/src/pages/tds/components/EditRequestItemModal.tsx
  nirmaan_stack/api/tds/members.py
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/project_tds_item_list.py
Labels: UI, backend

fix: enforce non-billable status for all additional charges across procurement APIs and frontend hooks...
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useProcurementActions.ts
  nirmaan_stack/api/approve_reject_sb_vendor_quotes.py
  nirmaan_stack/api/reject_vendor_quotes.py
  nirmaan_stack/api/send_vendor_quotes.py
  nirmaan_stack/integrations/controllers/procurement_requests.py
Labels: UI, backend

docs(boq-review): record get_sheet_preview_full single-pass full-sheet read
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-review): SheetSearchView v2 -- full-read fetch swap + column restyle + click-to-select
  frontend/src/pages/boq-wizard/RestructureModal.tsx
  frontend/src/pages/boq-wizard/SheetSearchView.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
Labels: UI

docs(boq-review): record SheetSearchView v2 -- fetch swap + columns + click-to-select
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-review): 1b-beta2 -- restructure row-self-reparent + cycle-guard start-point extension
  frontend/src/pages/boq-wizard/RestructureModal.tsx
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
Labels: UI, backend

docs(boq-review): record 1b-beta2 -- row-self-reparent + cycle-guard start-point extension
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-review): 1b-beta2b -- childless row-position + real error messages (frontend)
  frontend/src/pages/boq-wizard/RestructureModal.tsx
  frontend/src/pages/boq-wizard/ReviewTree.tsx
Labels: UI

docs(boq-review): record 1b-beta2b -- childless row-position + getFrappeError swaps
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(payments): raise auto-approval threshold from ₹5,000 to ₹10,000
  nirmaan_stack/api/payments/project_payments.py
Labels: backend

feat(boq-reparse): flag-gated force_reparse eligibility for Parsed Check Done
  nirmaan_stack/api/boq/wizard/parse_run.py
  nirmaan_stack/api/boq/wizard/test_parse_run.py
Labels: backend

docs(boq-reparse): record Force Re-parse backend slice (flag-gated eligibility)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none
