Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

feat(boq-classify): stamp the multi-engine resolved read on freeze (ST-1)
  nirmaan_stack/api/boq/wizard/classify.py
  nirmaan_stack/api/boq/wizard/test_classify.py
  nirmaan_stack/services/boq_category/persist.py
Labels: backend

docs(boq-classify): record ST-1 resolved-read freeze stamping + V1-V10 cert
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-rate-helper): U1 rate-helper chassis (stub-driven, dev-only)
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
  frontend/src/pages/boq-wizard/rate-helper/rateHelperFlag.ts
  frontend/src/pages/boq-wizard/rate-helper/rateHelperRegistry.test.ts
  frontend/src/pages/boq-wizard/rate-helper/rateHelperRegistry.ts
  frontend/src/pages/boq-wizard/rate-helper/rateHelperTypes.ts
  frontend/src/pages/boq-wizard/rate-helper/rateSuggestionModel.test.ts
  frontend/src/pages/boq-wizard/rate-helper/rateSuggestionModel.ts
  frontend/src/pages/boq-wizard/rate-helper/stubRateHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/stubRateHelper.ts
Labels: UI

docs(boq-rate-helper): record U1 chassis + the applyRate-mirrors-typing rule
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(pricing): cap data-validation dropdown height for scrollable long lists
  frontend/src/pages/pricing/PricingWorkbookPage.tsx
  frontend/src/pages/pricing/pricing.css
Labels: UI

feat(pricing): full screen mode for workbook pages
  frontend/src/pages/pricing/PricingWorkbookPage.tsx
  frontend/src/pages/pricing/pricingHelpers.test.ts
  frontend/src/pages/pricing/pricingHelpers.ts
Labels: UI

docs(pricing): dropdown and full screen fold + maintenance riders
  frontend/.claude/plans/pricing-module-plan.md
  frontend/CLAUDE.md
Labels: none

feat(pricing): type-to-search in data-validation dropdowns
  frontend/src/pages/pricing/PricingWorkbookPage.tsx
  frontend/src/pages/pricing/pricing.css
  frontend/src/pages/pricing/pricingDropdownSearch.test.ts
  frontend/src/pages/pricing/pricingDropdownSearch.ts
Labels: UI

docs(pricing): plan doc PW-DS fold
  frontend/.claude/plans/pricing-module-plan.md
  frontend/CLAUDE.md
Labels: none

fix(app-shell): stop the error boundary remounting every page on navigation
  frontend/CLAUDE.md
  frontend/src/components/common/ErrorBoundaryWrapper.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
Labels: UI

feat(invoice-recon): summary card, auto-approve reasons, date hard-block
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceDialog.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/InvoiceDataDialog.tsx
  frontend/src/pages/tasks/invoices/InvoiceReconciliationContainer.tsx
  frontend/src/pages/tasks/invoices/components/InvoiceApprovalComparison.tsx
  frontend/src/pages/tasks/invoices/components/InvoiceSummaryCards.tsx
  frontend/src/pages/tasks/invoices/components/PendingTasksTable.tsx
  frontend/src/pages/tasks/invoices/components/PoInvoices.tsx
  frontend/src/pages/tasks/invoices/components/TaskHistoryTable.tsx
  frontend/src/pages/tasks/invoices/components/columns.tsx
  frontend/src/pages/tasks/invoices/hooks/useTotalInvoicedByDocument.ts
  frontend/src/pages/tasks/invoices/utils/autoApproveReasons.test.ts
  frontend/src/pages/tasks/invoices/utils/autoApproveReasons.ts
  frontend/src/pages/tasks/invoices/utils/invoiceRowStyle.test.ts
  frontend/src/pages/tasks/invoices/utils/invoiceRowStyle.ts
  frontend/src/utils/invoiceDate.test.ts
  frontend/src/utils/invoiceDate.ts
  nirmaan_stack/api/delivery_notes/update_invoice_data.py
  nirmaan_stack/api/invoices/get_vendor_invoice_totals.py
Labels: UI, backend

feat(boq): lossless committed sheet_config snapshot [MIGRATE]
  nirmaan_stack/api/boq/wizard/commit_pipeline.py
  nirmaan_stack/api/boq/wizard/revision_carry.py
  nirmaan_stack/api/boq/wizard/test_column_carry.py
  nirmaan_stack/api/boq/wizard/test_commit_pipeline.py
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet/boq_sheet.json
Labels: backend

feat(expenses): widen description, approval-aware submit labels, HR mark-as-paid
  .claude/context/domain/expenses.md
  CLAUDE.md
  frontend/src/pages/NonProjectExpenses/NonProjectExpensesPage.tsx
  frontend/src/pages/NonProjectExpenses/components/NewNonProjectExpense.tsx
  frontend/src/pages/NonProjectExpenses/config/nonProjectExpensesColumns.tsx
  frontend/src/pages/NonProjectExpenses/config/nonProjectExpensesTable.config.ts
  frontend/src/pages/ProjectExpenses/ProjectExpensesList.tsx
  frontend/src/pages/ProjectExpenses/components/NewProjectExpenseDialog.tsx
  frontend/src/pages/ProjectExpenses/config/projectExpensesColumns.tsx
  frontend/src/pages/ProjectExpenses/config/projectExpensesTable.config.ts
  frontend/src/utils/expenseApproval.test.ts
  frontend/src/utils/expenseApproval.ts
  nirmaan_stack/nirmaan_stack/doctype/non_project_expenses/non_project_expenses.json
  nirmaan_stack/nirmaan_stack/doctype/project_expenses/project_expenses.json
Labels: UI, backend

refactor(invoice-recon): rename the Auto-approval column
  frontend/src/pages/tasks/invoices/components/columns.tsx
Labels: UI

feat(invoice-recon): pending-approval backlog in the summary, tighter rows
  frontend/src/pages/tasks/invoices/components/InvoiceSummaryCards.tsx
  nirmaan_stack/api/invoices/get_vendor_invoice_totals.py
Labels: UI, backend

feat(invoice-recon): add an Invoice Added By column
  frontend/src/pages/tasks/invoices/components/PendingTasksTable.tsx
  frontend/src/pages/tasks/invoices/components/columns.tsx
Labels: UI

feat(invoice-recon): collapsible recon summaries, Recon tab labels, no CEO tint
  frontend/src/pages/tasks/invoices/InvoiceReconciliationContainer.tsx
  frontend/src/pages/tasks/invoices/components/PoInvoices.tsx
  frontend/src/pages/tasks/invoices/components/SrInvoices.tsx
  frontend/src/pages/tasks/invoices/constants.ts
Labels: UI

fix(boq): carry work packages and carry counts for whitespace-bearing sheet names
  nirmaan_stack/api/boq/wizard/revision.py
  nirmaan_stack/api/boq/wizard/revision_carry.py
  nirmaan_stack/api/boq/wizard/test_revision_mapping.py
Labels: backend

feat(boq): carry engine for categories and annotations, with required provenance [MIGRATE]
  nirmaan_stack/api/boq/wizard/committed_carry.py
  nirmaan_stack/api/boq/wizard/test_committed_carry.py
  nirmaan_stack/nirmaan_stack/doctype/boq_cell_color/boq_cell_color.json
  nirmaan_stack/nirmaan_stack/doctype/boq_cell_dismissal/boq_cell_dismissal.json
  nirmaan_stack/nirmaan_stack/doctype/boq_cell_remark/boq_cell_remark.json
  nirmaan_stack/nirmaan_stack/doctype/boq_row_category/boq_row_category.json
  nirmaan_stack/services/boq_category/persist.py
Labels: backend

feat(boq): surface carried verdicts and the opt-in layer block
  frontend/src/pages/boq-wizard/CategoryVerdictPicker.test.ts
  frontend/src/pages/boq-wizard/CategoryVerdictPicker.tsx
  frontend/src/pages/boq-wizard/CrossBoqCarryDialog.test.ts
  frontend/src/pages/boq-wizard/CrossBoqCarryDialog.tsx
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  frontend/src/pages/boq-wizard/sheetCategoryResolve.test.ts
  frontend/src/pages/boq-wizard/sheetCategoryResolve.ts
  nirmaan_stack/api/boq/wizard/classify.py
Labels: UI, backend

docs(boq): ADR-0014 Amendment E as-built
  .claude/context/domain/boq-backend.md
  CLAUDE.md
  docs/adr/0014-boq-revised-upload-and-carry.md
  frontend/.claude/context/domain/boq-frontend.md
  frontend/.claude/plans/boq-revised-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): carry rates and layers in one ungated action
  nirmaan_stack/api/boq/wizard/cross_boq_carry.py
  nirmaan_stack/api/boq/wizard/test_cross_boq_carry.py
Labels: backend

fix(boq): bound the carry-from-original dialog to the viewport
  frontend/src/pages/boq-wizard/CrossBoqCarryDialog.tsx
Labels: UI

fix(boq): the carry dialog's "Will carry" line must count writes, not selection
  frontend/src/pages/boq-wizard/CrossBoqCarryDialog.test.ts
  frontend/src/pages/boq-wizard/CrossBoqCarryDialog.tsx
Labels: UI

feat(boq-rate-master): rate-master schema + initial load (RM-1)
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/nirmaan_stack/doctype/boq_rate_category_config/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_rate_category_config/boq_rate_category_config.json
  nirmaan_stack/nirmaan_stack/doctype/boq_rate_category_config/boq_rate_category_config.py
  nirmaan_stack/nirmaan_stack/doctype/boq_rate_master_item/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_rate_master_item/boq_rate_master_item.json
  nirmaan_stack/nirmaan_stack/doctype/boq_rate_master_item/boq_rate_master_item.py
  nirmaan_stack/services/boq_rate_master/__init__.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_wiring_cabling_v2.json
  nirmaan_stack/services/boq_rate_master/loader.py
Labels: backend

docs(boq-rate-master): record RM-1 schema + initial load
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(reports): add a multi-select project filter to the Monthly WIP report
  frontend/src/pages/monthly-wip/MonthlyWIPPage.tsx
  frontend/src/pages/projects/components/SimpleFacetedFilter.tsx
Labels: UI

feat(boq-rate-master): rate-master read surface -- viewer + derivation (RM-2)
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/pricing/rate-master/RateMasterDataViewer.tsx
  frontend/src/pages/pricing/rate-master/RateMasterDerivation.tsx
  frontend/src/pages/pricing/rate-master/RateMasterPage.tsx
  frontend/src/pages/pricing/rate-master/rateMasterRegistry.ts
  frontend/src/pages/pricing/rate-master/rateMasterTypes.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.ts
Labels: UI

docs(boq-rate-master): record RM-2 read surface (viewer + derivation)
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(reports): count inventory documents and drop non-billable DNs from Missing DC
  .claude/plans/monthly-wip-plan.md
  frontend/src/pages/monthly-wip/useMonthlyWIPData.ts
  nirmaan_stack/api/reports/test_wip_monthly_report.py
  nirmaan_stack/api/reports/wip_monthly_report.py
Labels: UI, backend

feat(boq-rate-master): re-import 28-Jul benchmark data (RM-2b)
  nirmaan_stack/services/boq_rate_master/data/rate_master_wiring_cabling_v3.json
  nirmaan_stack/services/boq_rate_master/loader.py
Labels: backend

docs(boq-rate-master): record RM-2b 28-Jul benchmark re-import
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-rate-master): extraction engine + real pricing-sheet helper + run persistence (RM-3)
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
  frontend/src/pages/boq-wizard/rate-helper/RateSuggestProgressModal.tsx
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/boq-wizard/rate-helper/rateHelperRegistry.test.ts
  frontend/src/pages/boq-wizard/rate-helper/rateHelperRegistry.ts
  frontend/src/pages/boq-wizard/rate-helper/rateHelperTypes.ts
  frontend/src/pages/boq-wizard/rate-helper/rateSuggestionModel.test.ts
  frontend/src/pages/boq-wizard/rate-helper/rateSuggestionModel.ts
  frontend/src/pages/boq-wizard/rate-helper/stubRateHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/stubRateHelper.ts
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_suggest.py
  nirmaan_stack/nirmaan_stack/doctype/boq_rate_suggestion_event/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_rate_suggestion_event/boq_rate_suggestion_event.json
  nirmaan_stack/nirmaan_stack/doctype/boq_rate_suggestion_event/boq_rate_suggestion_event.py
  nirmaan_stack/nirmaan_stack/doctype/boq_rate_suggestion_run/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_rate_suggestion_run/boq_rate_suggestion_run.json
  nirmaan_stack/nirmaan_stack/doctype/boq_rate_suggestion_run/boq_rate_suggestion_run.py
  nirmaan_stack/services/boq_category/prompts/boq_rate_attr_extraction_prompt.md
  nirmaan_stack/services/boq_rate_master/extraction.py
Labels: UI, backend

docs(boq-rate-master): record RM-3 extraction engine + real helper + run persistence
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-rate-helper): RM-3a panel overlay/sticky mount + hover-only colour icon + grouped workings
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/boq-wizard/rate-helper/rateHelperTypes.ts
Labels: UI

docs(boq-rate-helper): record RM-3a panel two-mode mount + hover-only colour + grouped workings
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-rate-helper): RM-3b embedded panel-as-default + sticky full-screen header + always-visible H-scrollbars
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
Labels: UI

docs(boq-rate-helper): record RM-3b embedded panel-as-default + full-screen sticky header + H-scrollbars
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-rate-helper): RM-3c single embedded H-scrollbar + full-screen push panel with resize + collapsible top block
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
Labels: UI

docs(boq-rate-helper): record RM-3c single embedded scrollbar + push panel resize + collapsible top block
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
