Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

wip:Before UI and date filters happen done
  frontend/src/pages/projects/components/CreateWorkplantask.tsx
  frontend/src/pages/projects/components/SevendaysWorkPlan.tsx
  nirmaan_stack/api/seven_days_planning/work_plan_api.py
  nirmaan_stack/nirmaan_stack/doctype/work_plan/work_plan.json
Labels: UI, backend

fix: date range selection and Diabled end date before start date field fill , end should more than equal to start dtae
  frontend/src/pages/projects/components/CreateWorkplantask.tsx
  frontend/src/pages/projects/components/SevendaysWorkPlan.tsx
  nirmaan_stack/api/seven_days_planning/work_plan_api.py
Labels: UI, backend

fix: ui changes for work plan table
  frontend/src/pages/projects/SevenDayPlanningTab.tsx
  frontend/src/pages/projects/components/SevendaysWorkPlan.tsx
Labels: UI

fix:Properly for Tbale alignment
  frontend/src/pages/projects/components/SevendaysWorkPlan.tsx
Labels: UI

fix: UI Change of format table and badge , Mobile Overview remove to scrollable
  frontend/src/components/ui/StandaloneDateFilter.tsx
  frontend/src/pages/projects/SevenDayPlanningTab.tsx
  frontend/src/pages/projects/components/SevendaysWorkPlan.tsx
Labels: UI

final:Final Work Plan Commit Overall Progress Used by Milestone Weightage :
  frontend/src/pages/projects/components/SevendaysWorkPlan.tsx
  nirmaan_stack/api/seven_days_planning/work_plan_api.py
Labels: UI, backend

feat: Start Created New Doc Materila Delivery Plan
  nirmaan_stack/nirmaan_stack/doctype/material_delivery_plan/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/material_delivery_plan/material_delivery_plan.js
  nirmaan_stack/nirmaan_stack/doctype/material_delivery_plan/material_delivery_plan.json
  nirmaan_stack/nirmaan_stack/doctype/material_delivery_plan/material_delivery_plan.py
  nirmaan_stack/nirmaan_stack/doctype/material_delivery_plan/test_material_delivery_plan.py
Labels: backend

Feat: Material Plan using Existing Plan with Po Ids Done
  frontend/src/pages/projects/SevenDayPlanningTab.tsx
  frontend/src/pages/projects/components/AddMaterialPlanForm.tsx
  frontend/src/pages/projects/components/EditMaterialPlanForm.tsx
  frontend/src/pages/projects/components/SevenDaysMaterialPlan.tsx
  nirmaan_stack/api/seven_days_planning/material_plan_api.py
Labels: UI, backend

feat: Added Second Logic Creation Of Material Plan using "Items In PO" with Delete Matertial Plan
  frontend/src/pages/projects/components/AddMaterialPlanForm.tsx
  frontend/src/pages/projects/components/SevenDaysMaterialPlan.tsx
  nirmaan_stack/api/seven_days_planning/material_plan_api.py
Labels: UI, backend

feat:Added Third Logic Material Plan ,new PO Material Plan
  frontend/src/pages/projects/components/AddMaterialPlanForm.tsx
  frontend/src/pages/projects/components/EditMaterialPlanForm.tsx
  nirmaan_stack/nirmaan_stack/doctype/material_delivery_plan/material_delivery_plan.json
Labels: UI, backend

fix:Date Filter Update in Material Plan Tab
  frontend/src/pages/projects/SevenDayPlanningTab.tsx
  frontend/src/pages/projects/components/SevenDaysMaterialPlan.tsx
Labels: UI

fix: Milestones Plan To Work Plan , Total Count Should Plan activities, ,"Not Started" added, "7-days planning" to Planning , Make Tab as urlstateManger
  frontend/src/pages/projects/SevenDayPlanningTab.tsx
  frontend/src/pages/projects/components/CreateWorkplantask.tsx
  frontend/src/pages/projects/components/SevendaysWorkPlan.tsx
  frontend/src/pages/projects/project.tsx
Labels: UI

feat: Added Planning in Overview tab with Filters only show they , Which have Planned Activities
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  frontend/src/pages/projects/SevenDayPlanningTab.tsx
  frontend/src/pages/projects/components/SevendaysWorkPlan.tsx
Labels: UI

fix: Make Overview Separte for single card Formate
  frontend/src/pages/projects/SevenDayPlanningTab.tsx
  frontend/src/pages/projects/components/SevenDayPlanningHeader.tsx
  frontend/src/pages/projects/components/SevenDayPlanningTabs.tsx
  frontend/src/pages/projects/components/SevendaysWorkPlan.tsx
Labels: UI

feat: Export Project Work Plan Activities PDF
  frontend/src/pages/projects/components/SevendaysWorkPlan.tsx
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

fix: dynamic height for table
  frontend/src/pages/ApprovedQuotationsFlow/ApprovedQuotationsTable.tsx
  frontend/src/pages/Items/itemsPage.tsx
  frontend/src/pages/NonProjectExpenses/NonProjectExpensesPage.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/approve-pr.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-select-vendor.tsx
  frontend/src/pages/ProjectExpenses/ProjectExpensesList.tsx
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-amend-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-service-request-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/select-service-vendor-list.tsx
  frontend/src/pages/credits/CreditsPage.tsx
  frontend/src/pages/customers/customers.tsx
  frontend/src/pages/inflow-payments/InFlowPayments.tsx
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/reports/components/POReports.tsx
  frontend/src/pages/reports/components/ProjectReports.tsx
  frontend/src/pages/reports/components/SRReports.tsx
  frontend/src/pages/reports/components/VendorReports.tsx
  frontend/src/pages/tasks/invoices/InvoiceReconciliationContainer.tsx
  frontend/src/pages/tasks/invoices/components/PendingTasksTable.tsx
  frontend/src/pages/tasks/invoices/components/TaskHistoryTable.tsx
  frontend/src/pages/users/users.tsx
  frontend/src/pages/vendors/VendorsPage.tsx
Labels: UI

chore: upgraded tanstack-virtiual table package
  frontend/package.json
  frontend/yarn.lock
Labels: none

fix table layout
  frontend/src/components/data-table/new-data-table.tsx
Labels: UI

fix: Multiple api calls for roles count in user page
  frontend/src/pages/users/users.tsx
  nirmaan_stack/api/users.py
Labels: UI, backend

fix:pdf For Work plan Layout Done
  nirmaan_stack/fixtures/print_format.json
Labels: backend

fix: Work Plan OverviewTab Design Chnage
  frontend/src/pages/projects/components/SevendaysWorkPlan.tsx
  frontend/src/pages/projects/components/WorkPlanOverview.tsx
Labels: UI

fix:In Material Plan We added Cutom PO and package to Selected Cutom Packages
  frontend/src/pages/projects/components/EditMaterialPlanForm.tsx
  frontend/src/pages/projects/components/SevenDaysMaterialPlan.tsx
  nirmaan_stack/api/seven_days_planning/material_plan_api.py
  nirmaan_stack/nirmaan_stack/doctype/material_delivery_plan/material_delivery_plan.json
Labels: UI, backend

fix: Work Plan Date Filters Lofic Change on or before to End Date
  nirmaan_stack/api/seven_days_planning/work_plan_api.py
Labels: backend

fix:Item in Pos search Same Algo used in Item Price search
  frontend/src/pages/projects/components/AddMaterialPlanForm.tsx
Labels: UI

fix: Work Plan remove Progress circle Bar and Work Headers Break between pages fix .
  nirmaan_stack/fixtures/print_format.json
Labels: backend

feat: Introduce jumble search across child doctype, JSON array, and standard targeted search filters.
  nirmaan_stack/api/data-table.py
Labels: backend

fix: added vendor name field for PM's delivery note flow
  frontend/src/pages/DeliveryNotes/deliverynotes.tsx
Labels: UI

feat: added DCs and MIR attachment flow
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/dashboards/dashboard-pm.tsx
  frontend/src/pages/DeliveryChallansAndMirs/DeliveryChallansAndMirs.tsx
  frontend/src/pages/DeliveryChallansAndMirs/index.ts
Labels: UI

fix: backend call for DC and MIR Flow
  frontend/src/pages/DeliveryChallansAndMirs/DeliveryChallansAndMirs.tsx
  nirmaan_stack/api/delivery_challans_data.py
Labels: UI, backend

fix: Work Material Plan they Print for ecport ANd UI cchnage in Both Planning and Overview Tab :::
  frontend/src/pages/projects/SevenDayPlanningTab.tsx
  frontend/src/pages/projects/components/SevenDaysMaterialPlan.tsx
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

fix: min Chnage in Report Report Date added and
  frontend/src/pages/projects/components/AddMaterialPlanForm.tsx
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

fix: in Planning Material Plan Added total Count
  frontend/src/pages/projects/components/SevenDaysMaterialPlan.tsx
Labels: UI

fix: PO view rectifications
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/DeliveryChallanTable.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPaymentTermsCard.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/TransactionDetailsCard.tsx
Labels: UI

fix: dc type renamed to 'po delivery challan'
  frontend/src/pages/DeliveryChallansAndMirs/DeliveryChallansAndMirs.tsx
  frontend/src/pages/DeliveryNotes/components/deliveryNoteItemsDisplay.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/DeliveryChallanTable.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceTable.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
Labels: UI

fix: amount_paid rectification for Vendor Material Order table
  frontend/src/pages/vendors/components/VendorMaterialOrdersTable.tsx
Labels: UI

fix: Po Amount label fix
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

fix: commented out download button for DC and MIR flow
  frontend/src/pages/DeliveryChallansAndMirs/DeliveryChallansAndMirs.tsx
Labels: UI

fix: bug fix for deleted credit payment
  nirmaan_stack/integrations/controllers/project_payments.py
Labels: backend

fix: in Material Plan Po Validations
  nirmaan_stack/api/seven_days_planning/material_plan_api.py
Labels: backend

dix: Check Edge Cases like json ,and try catch and Moving Planing related file with Components/Planning
  frontend/src/lib/utils.ts
  frontend/src/pages/projects/SevenDayPlanningTab.tsx
  frontend/src/pages/projects/components/planning/AddMaterialPlanForm.tsx
  frontend/src/pages/projects/components/planning/CreateWorkplantask.tsx
  frontend/src/pages/projects/components/planning/EditMaterialPlanForm.tsx
  frontend/src/pages/projects/components/planning/SevenDayPlanningHeader.tsx
  frontend/src/pages/projects/components/planning/SevenDayPlanningTabs.tsx
  frontend/src/pages/projects/components/planning/SevenDaysMaterialPlan.tsx
  frontend/src/pages/projects/components/planning/SevendaysWorkPlan.tsx
  frontend/src/pages/projects/components/planning/WorkPlanOverview.tsx
Labels: UI
