Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

Update build_push.yml to use layered containerfile (#312)
  .github/workflows/build_push.yml
Labels: none

feat: added revert po functionality, fix: updated backend implementation for creating approved quotations upon po status change to delete any approved quotes if available for that po
  frontend/src/pages/ProcurementOrders/PurchaseOrder.tsx
  nirmaan_stack/integrations/controllers/procurement_orders.py
Labels: UI, backend

fix: minor ui changes
  frontend/src/components/common/ErrorBoundaryWrapper.tsx
  frontend/src/components/data-table/data-table.tsx
  frontend/src/components/layout/main-layout.tsx
  frontend/src/components/procurement/sent-back-request.tsx
  frontend/src/pages/Items/items.tsx
  frontend/src/pages/customers/customers.tsx
  frontend/src/pages/projects/projects.tsx
Labels: UI

fix: for layered deployemnt
  nirmaan_stack/integrations/firebase/fcm.env
  nirmaan_stack/integrations/firebase/firebase_admin_setup.py
  package-lock.json
Labels: backend

fix: added required fcm temporarily
  nirmaan_stack/integrations/firebase/fcm.env
Labels: none

fix: fixed vendor and customer forms and minor ui changes
  frontend/src/pages/customers/add-new-customer.tsx
  frontend/src/pages/customers/edit-customer.tsx
  frontend/src/pages/vendors/edit-vendor.tsx
  frontend/src/pages/vendors/new-vendor.tsx
  frontend/src/pages/vendors/vendor.tsx
Labels: UI

fix: added functionality to delete previous Approved Quotation docs if any while reverting back the po, added an additional step for make setting to new Approved Quotation doc to avoid key error
  nirmaan_stack/integrations/controllers/procurement_orders.py
Labels: backend

fix: ui fixes in quotation form, new-new-pr, hover card, fixed minor bugs in approve select sent back and approve order
  frontend/src/components/procurement-request/new-new-pr.tsx
  frontend/src/components/procurement/quotation-form.tsx
  frontend/src/components/ui/hover-card.tsx
  frontend/src/pages/approve-order.tsx
  frontend/src/pages/approve-select-sent-back.tsx
Labels: UI

fix: minor ui fixes
  frontend/src/components/pr-summary.tsx
  frontend/src/pages/DeliveryNotes/deliverynote.tsx
Labels: UI

feat: changed new items creation/requesting functionality to allow user to choose items directly leaving the category selection logic to system for both approve order and new-new-pr components
  frontend/src/components/procurement-request/new-new-pr.tsx
  frontend/src/pages/approve-order.tsx
Labels: UI

fix: minor bug fix in order-payment-summary page and a ui change in sr-summary
  frontend/src/components/service-request/sr-summary.tsx
  frontend/src/pages/ProjectPayments/order-payment-summary.tsx
Labels: UI

fix: totals column fix in projects.tsx and added work packge wise total amount paid column to project spends tab and fixed sr summary totals
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/projects/projects.tsx
Labels: UI

fix: fixed item search in release po select and added approved quotes tab in procurement dashboard, fixed project select in deliverynotes, added an extra function to the notifications store
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/procurement/procurement-dashboard.tsx
  frontend/src/pages/DeliveryNotes/deliverynotes.tsx
  frontend/src/pages/ProcurementOrders/release-po-select.tsx
  frontend/src/zustand/useNotificationStore.ts
Labels: UI

feat: added and updated files in accordance to the changes made for creation and updation of new vendor type Material & Service
  frontend/src/components/forms/addvendorcategories.tsx
  frontend/src/components/procurement/procurement-vendor.tsx
  frontend/src/components/procurement/quotation-form.tsx
  frontend/src/components/procurement/rfq-pdf.tsx
  frontend/src/components/procurement/select-vendors.tsx
  frontend/src/components/procurement/sent-back-quotation-form.tsx
  frontend/src/components/procurement/sent-back-select-vendor.tsx
  frontend/src/components/procurement/sent-back-update-quote.tsx
  frontend/src/components/procurement/update-quote.tsx
  frontend/src/components/service-request/select-service-vendor.tsx
  frontend/src/pages/ProcurementOrders/release-po-select.tsx
  frontend/src/pages/approve-select-amend-po.tsx
  frontend/src/pages/approve-sent-back.tsx
  frontend/src/pages/approve-vendor.tsx
  frontend/src/pages/delayed-pr.tsx
  frontend/src/pages/projects/edit-project-form.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/vendors/edit-vendor.tsx
  frontend/src/pages/vendors/new-vendor.tsx
  frontend/src/pages/vendors/vendor.tsx
  frontend/src/pages/vendors/vendors.tsx
  nirmaan_stack/nirmaan_stack/doctype/vendor_category/vendor_category.py
  nirmaan_stack/nirmaan_stack/doctype/vendors/vendors.json
Labels: UI, backend

chore: added vendor filters for service requests tables
  frontend/src/components/service-request/approve-service-request-list.tsx
  frontend/src/components/service-request/approved-sr-list.tsx
Labels: UI

feat: added service request amendment flow which includes routes, new components real time event listener and count badges
  frontend/src/App.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/service-request/approve-amend-sr-list.tsx
  frontend/src/components/service-request/approve-amended-sr.tsx
  frontend/src/components/service-request/approved-sr.tsx
  frontend/src/components/service-request/select-service-vendor-list.tsx
  frontend/src/components/service-request/select-service-vendor.tsx
  frontend/src/zustand/eventListeners.ts
  frontend/src/zustand/useDocCountStore.ts
Labels: UI

feat: back end configuration for service request amend flow which includes creating Nirmaan Version doc for the amended sr, push notifications and real time events
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/nirmaan_versions.py
  nirmaan_stack/integrations/controllers/procurement_orders.py
  nirmaan_stack/integrations/controllers/service_requests.py
Labels: backend

fix: added payment date field in Project Payments table and accordingly modified relevant components
  frontend/src/pages/ProjectPayments/order-payment-summary.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/ProjectPayments/project-payments-payment-wise.tsx
  nirmaan_stack/nirmaan_stack/doctype/project_payments/project_payments.json
Labels: UI, backend

fix: fixed categories updation while updating a service request, ui changes in approve amendment pages
  frontend/src/components/procurement-packages.tsx
  frontend/src/components/service-request/approve-amended-sr.tsx
  frontend/src/components/service-request/approve-service-request.tsx
  frontend/src/components/service-request/approved-sr-list.tsx
  frontend/src/components/service-request/select-service-vendor.tsx
  frontend/src/components/service-request/sr-summary.tsx
  frontend/src/pages/approve-amend-po.tsx
Labels: UI

chore: added approved quotes card to estimates exec dashboard, and fixed a minor bug in doc count store
  frontend/src/components/estimates-executive-dashboard.tsx
  frontend/src/zustand/useDocCountStore.ts
Labels: UI

fix: fixed total gst field calculation in po pdf
  frontend/src/pages/ProjectPayments/order-payment-summary.tsx
Labels: UI

fix: fixed po amount fields incl gst and excl gst to include the loading charges and freight charges as well
  frontend/src/pages/ProcurementOrders/release-po-select.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/projects/project.tsx
Labels: UI

feat: revamped SR and PO screens, clubbed PO Summary and POs order payment summary with Purchase Order view, SRs order payment summary with Approved SR
  frontend/src/components/POSummary.tsx
  frontend/src/components/layout/main-layout.tsx
  frontend/src/components/service-request/approved-sr.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/pages/ProcurementOrders/PurchaseOrder.tsx
  frontend/src/pages/ProjectPayments/order-payment-summary.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/ProjectPayments/project-payments-payment-wise.tsx
Labels: UI

fix: minor ui fixes and few optimizations in docs fetching
  frontend/src/components/address-view.tsx
  frontend/src/components/forms/addvendorcategories.tsx
  frontend/src/components/procurement/procurement-vendor.tsx
  frontend/src/components/procurement/sent-back-summary.tsx
  frontend/src/components/procurement/sent-back-update-quote.tsx
  frontend/src/components/procurement/update-quote.tsx
  frontend/src/components/service-request/approve-amended-sr.tsx
  frontend/src/components/service-request/approve-service-request.tsx
  frontend/src/components/service-request/select-service-vendor.tsx
  frontend/src/pages/approve-amend-po.tsx
  frontend/src/pages/approve-order.tsx
  frontend/src/pages/approve-sent-back.tsx
  frontend/src/pages/approve-vendor.tsx
Labels: UI

fix: optimized notifications fetching and notification store updating functionality
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/zustand/useNotificationStore.ts
Labels: UI

chore: minor ui fixes and fixed main content height issue
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/layout/main-layout.tsx
  frontend/src/components/procurement/procurement-dashboard.tsx
  frontend/src/components/ui/ProcurementHeaderCard.tsx
  frontend/src/pages/DeliveryNotes/deliverynotes.tsx
Labels: UI

fix: moved project gst selection to edit payment terms dialog and corrected functionality
  frontend/src/pages/ProcurementOrders/PurchaseOrder.tsx
Labels: UI

fix: changes made for ReactSelect functionalities and shadcn select component
  frontend/src/components/ManPowerReport.tsx
  frontend/src/components/custom-select/project-select.tsx
  frontend/src/components/procurement-request/list-pr.tsx
  frontend/src/components/procurement-request/new-new-pr.tsx
  frontend/src/components/procurement/quotation-form.tsx
  frontend/src/components/service-request/list-sr.tsx
  frontend/src/components/service-request/select-service-vendor.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/pages/DeliveryNotes/deliverynotes.tsx
  frontend/src/pages/approve-order.tsx
Labels: UI

feat: added request payment functionality to the POs and added approve payments table in new path approve-payments in Procurement Actions
  frontend/src/App.tsx
  frontend/src/components/common/ErrorBoundaryWrapper.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/ProcurementOrders/PurchaseOrder.tsx
  frontend/src/pages/ProjectPayments/approve-payments.tsx
  frontend/src/pages/ProjectPayments/request-payment-dialog.tsx
  nirmaan_stack/nirmaan_stack/doctype/project_payments/project_payments.json
Labels: UI, backend

feat: added bank account details fields in Venodors doctype
  frontend/src/pages/vendors/new-vendor.tsx
  nirmaan_stack/nirmaan_stack/doctype/vendors/vendors.json
Labels: UI, backend

feat: added payment status patch to avail "Paid" for previously added payment entries, added functionalities regarding payment request and revamped project payments tab
  frontend/src/App.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/service-request/approved-sr.tsx
  frontend/src/pages/ProcurementOrders/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/release-po-select.tsx
  frontend/src/pages/ProjectPayments/approve-payments.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/ProjectPayments/project-payments-payment-wise.tsx
  frontend/src/pages/ProjectPayments/request-payment-dialog.tsx
  frontend/src/utils/getAmounts.ts
  frontend/src/zustand/useDialogStore.ts
  frontend/src/zustand/useDocCountStore.ts
  nirmaan_stack/patches/v2_1/project_payments_status.py
Labels: UI, backend

fix: updated Gurugram gst and address
  frontend/src/pages/ProcurementOrders/PurchaseOrder.tsx
  frontend/src/pages/projects/edit-project-form.tsx
  frontend/src/pages/projects/project-form.tsx
Labels: UI

feat: implemented notifications for project payment events
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/ProjectPayments/approve-payments.tsx
  frontend/src/pages/ProjectPayments/project-payments-payment-wise.tsx
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/delete_doc_versions.py
  nirmaan_stack/integrations/controllers/project_payments.py
Labels: UI, backend

chore: added vendor bank details in vendor hover card, fix: resolved a bug in Purchase Order
  frontend/src/components/ui/vendor-hover-card.tsx
  frontend/src/pages/ProcurementOrders/PurchaseOrder.tsx
Labels: UI

feat: added bank info fetching api call in backend and added the relevant functionality in vendor forms, added a dialog for account details modification
  frontend/src/pages/vendors/edit-vendor.tsx
  frontend/src/pages/vendors/new-vendor.tsx
  frontend/src/pages/vendors/vendor.tsx
  nirmaan_stack/api/bank_details.py
Labels: UI, backend

added payment status patch to the patches.txt file
  nirmaan_stack/patches.txt
Labels: none

fix: fixed a bug for ifsc code input in new vendor form
  frontend/src/pages/vendors/edit-vendor.tsx
  frontend/src/pages/vendors/new-vendor.tsx
Labels: UI

fix: updated amount paid and total paid functions to get the value from functions defined in getAmounts.ts
  frontend/src/components/service-request/approved-sr-list.tsx
  frontend/src/pages/ProcurementOrders/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/release-po-select.tsx
Labels: UI

fix: fixed tds reference error in project payments tab and minor ui fix for notification blinking dot
  frontend/src/pages/ProjectPayments/approve-payments.tsx
  frontend/src/pages/ProjectPayments/project-payments-payment-wise.tsx
Labels: UI

fix: Gurgoan to Gurugram for GST selection
  frontend/src/pages/projects/edit-project-form.tsx
  frontend/src/pages/projects/project-form.tsx
Labels: UI

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
