Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

feat:tool & eqiupments
  frontend/src/config/queryKeys.ts
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRContainer.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/AddItemForm.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useApprovePRLogic.ts
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useCategoryList.ts
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useRelatedPRData.ts
  frontend/src/pages/ProcurementRequests/NewPR/NewProcurementRequestPage.tsx
  frontend/src/pages/ProcurementRequests/NewPR/hooks/useProcurementRequestData.ts
Labels: UI

fix:fuzzy-search and approve PR
  frontend/src/components/ui/fuzzy-search-select.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useApprovePRLogic.ts
Labels: UI

feat:improve fizz search
  frontend/src/components/ui/fuzzy-search-select.tsx
Labels: UI

fix:limit-extend partially item search
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/NewItemDialog.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useApprovePRLogic.ts
  frontend/src/pages/ProcurementRequests/NewPR/components/NewItemDialog.tsx
Labels: UI

fix:permission backend setup
  nirmaan_stack/nirmaan_stack/doctype/map_api/map_api.json
  nirmaan_stack/nirmaan_stack/doctype/project_progress_reports/project_progress_reports.json
  nirmaan_stack/nirmaan_stack/doctype/work_headers/work_headers.json
  nirmaan_stack/nirmaan_stack/doctype/work_milestones/work_milestones.json
Labels: backend

fix:milestone change
  frontend/src/components/CameraCapture.tsx
  frontend/src/components/custom-select/project-milestone-select.tsx
  frontend/src/components/layout/dashboards/dashboard-pm.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReport.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReportPDF.tsx
Labels: UI

added: "PO amend"
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/credits/hooks/useCredits.ts
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/vendors/components/VendorMaterialOrdersTable.tsx
  nirmaan_stack/api/invoices/po_wise_invoice_data.py
  nirmaan_stack/api/procurement_orders.py
  nirmaan_stack/api/projects/project_aggregates.py
  nirmaan_stack/api/projects/project_wise_invoice_data.py
  nirmaan_stack/api/vendor/get_vendor_po_invoices.py
Labels: UI, backend

Update MilestoneReportPDF.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/MilestoneReportPDF.tsx
Labels: UI

Update MilestoneTab.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
Labels: UI

fix: added new and update product categories
  nirmaan_stack/fixtures/category.json
Labels: backend

fix:po project-payment attachment upload Fix & vendors side upload
  frontend/src/pages/ProjectPayments/update-payment/AccountantTabs.tsx
  frontend/src/pages/ProjectPayments/update-payment/UpdatePaymentDialog.tsx
  nirmaan_stack/nirmaan_stack/doctype/project_payments/project_payments.py
Labels: UI, backend

fix:Credit payments -> Due status Actions enabled
  frontend/src/pages/credits/components/CreditsTableColumns.tsx.tsx
Labels: UI

feat:Item-price-search-token based search
  frontend/src/pages/ApprovedQuotationsFlow/ApprovedQuotationsTable.tsx
Labels: UI

fix:UI-dialog UTR number overflow paymentDailog and DeliveryHistory date Formate
  frontend/src/pages/DeliveryNotes/components/DeliveryHistory.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/TransactionDetailsCard.tsx
  frontend/src/pages/ProjectPayments/PaymentsDataDialog.tsx
Labels: UI

fix: PO and SR report pending invoice amounpaid-invoiceamt>=delta
  frontend/src/pages/reports/components/POReports.tsx
  frontend/src/pages/reports/components/SRReports.tsx
Labels: UI

fix:MilestoneTab is updated validation & UI Change in Summary view and PDF with Progress Circle
  frontend/src/components/ui/ProgressCircle.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/MilestoneReportPDF.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReport.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReportPDF.tsx
Labels: UI

fix:Mark-inactive button new condition to show "Payment_terms not Request and approved state"
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

fix: Remove Math.abs for PO and SR invoice reports filters & Add filters Data Export Work and Filter Custom PDF export
  frontend/src/pages/reports/components/POReports.tsx
  frontend/src/pages/reports/components/SRReports.tsx
Labels: UI

fix: Export FilterPDF for Po Invoices and Sr Invoices & Added inbuild Export filter from dataTable & Export Col Vendor Name added in expoet pdf
  frontend/src/components/data-table/data-table.tsx
  frontend/src/pages/tasks/invoices/components/PoInvoices.tsx
  frontend/src/pages/tasks/invoices/components/SrInvoices.tsx
  frontend/src/pages/tasks/invoices/components/columns.tsx
Labels: UI

fix:sata-table.py file we added new condition check data field hold they Date value then allow DateFilterFn :Fix Error From Pending Tasks and Task History while ->date Filter from data Field
  nirmaan_stack/api/data-table.py
Labels: backend

Feat : Default-dsshboard Add New Card for Milestones Package
  frontend/src/components/layout/dashboards/dashboard-default.tsx
Labels: UI

feat: Added new GST in Print Fromate Doc in SRInvoices HTML :
  nirmaan_stack/fixtures/print_format.json
Labels: backend

fix: added missing categories
  nirmaan_stack/fixtures/category.json
Labels: backend

Fix: Po Summary I hover details .
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
Labels: UI

feat: SR Payment Vocuher features Add Download PDF ,Preview
  frontend/src/components/paymentsVoucher/PaymentVoucherActions.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/pages/tasks/invoices/components/SrInvoices.tsx
  nirmaan_stack/nirmaan_stack/doctype/project_payments/project_payments.json
Labels: UI, backend

fix: Change in SR Payment print format and Invoice print Format
  nirmaan_stack/fixtures/print_format.json
Labels: backend

Fix: project Po Summary- col-payable amount filter asc desc data to curreny change
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  nirmaan_stack/nirmaan_stack/doctype/procurement_orders/procurement_orders.json
Labels: UI, backend

fix:Pm users direction server request list page to to summary page SR , and for PM users disabled irrelevant buttons and disable delivery challans.enable payment Voucher
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/pages/ServiceRequests/service-request/list-sr.tsx
Labels: UI

feat: targetRate based On item_id and Unit and remove 12 and 28 % option
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/hooks/useApproveRejectLogic.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useTargetRatesForItems.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-vendor.tsx
  frontend/src/pages/Retired Components/SentBackVendorQuotes.tsx
  frontend/src/pages/Sent Back Requests/hooks/useApproveSBSLogic.ts
  nirmaan_stack/populate_target_rates.py
Labels: UI, backend

feat: SR Payment Voucher PDF Company Seal Added
  nirmaan_stack/fixtures/print_format.json
Labels: backend

feat: Allow While Vendor Selected , enable unit value Change , based on that Target value Will Show. if no Traget value then N/A
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgressView.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useProcurementProgressLogic.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/types/index.ts
Labels: UI

Feat : Add unit Options From Backend Doc data "Nirmaan Item Units" & custom item Link remove from AQ list.
  frontend/src/components/helpers/SelectUnit.tsx
  frontend/src/pages/ApprovedQuotationsFlow/AdminApprovedQuotationsTable.tsx
  frontend/src/pages/ApprovedQuotationsFlow/ApprovedQuotationsTable.tsx
  frontend/src/pages/Items/itemsPage.tsx
  frontend/src/pages/vendors/components/VendorApprovedQuotesTable.tsx
Labels: UI

fox: Product Item Detials View && Item Target Rate by unit & approved quotations category and pr pakage added to AQ creation
  frontend/src/pages/Items/item.tsx
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/procurement_orders.py
Labels: UI, backend

fix:Again with Porject POsummary i hover details
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
Labels: UI

feat :In Meaterial Usage col added for Billling Category
  frontend/src/pages/projects/components/MaterialTableRow.tsx
  frontend/src/pages/projects/components/VirtualizedMaterialTable.tsx
  frontend/src/pages/projects/hooks/useMaterialUsageData.ts
Labels: UI

feat: new Doc for Items Unit getting from Backend Document Name "Nirmaan Unit Items" ..field name unit_abb
  nirmaan_stack/fixtures/nirmaan_item_units.json
  nirmaan_stack/hooks.py
Labels: backend

fix: added missing categories
  nirmaan_stack/fixtures/category.json
Labels: backend

fix: adde Nirmaan Item Unit Doctype
  nirmaan_stack/nirmaan_stack/doctype/nirmaan_item_units/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/nirmaan_item_units/nirmaan_item_units.js
  nirmaan_stack/nirmaan_stack/doctype/nirmaan_item_units/nirmaan_item_units.json
  nirmaan_stack/nirmaan_stack/doctype/nirmaan_item_units/nirmaan_item_units.py
  nirmaan_stack/nirmaan_stack/doctype/nirmaan_item_units/test_nirmaan_item_units.py
Labels: backend

fix:removed Tool &epuipment from edit project and project from
  frontend/src/pages/projects/edit-project-form.tsx
  frontend/src/pages/projects/project-form.tsx
Labels: UI

fix: payment request button from SR Payments
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
Labels: UI

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
