Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

fix: modified search params syncing
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/ProjectMakesTab.tsx
  frontend/src/pages/projects/ProjectSpendsTab.tsx
  frontend/src/pages/projects/ProjectWiseInvoices.tsx
  frontend/src/pages/projects/project.tsx
Labels: UI

feat: added All Invoices tab in Project financials tab, minor fix in unmerge api call
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/ProjectWiseInvoices.tsx
  frontend/src/pages/projects/project.tsx
  nirmaan_stack/api/po_merge_and_unmerge.py
  nirmaan_stack/api/projects/project_wise_invoice_data.py
Labels: UI, backend

fix: disabled po functionality buttons if vendor contact details are not present and modularized the flow
  frontend/src/components/ui/PODetails.tsx
  frontend/src/components/ui/vendor-hover-card.tsx
  frontend/src/components/validations/ValidationIndicator.tsx
  frontend/src/components/validations/ValidationMessages.tsx
  frontend/src/components/validations/ValidationTypes.ts
  frontend/src/hooks/usePOValidation.ts
  frontend/src/pages/ProcurementOrders/InvoiceDialog.tsx
  frontend/src/pages/ProcurementOrders/POPaymentTermsCard.tsx
  frontend/src/pages/ProcurementOrders/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/TransactionDetailsCard.tsx
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
Labels: UI

fix: made vendor contact details mandatory fields
  frontend/src/constants/vendorFormRegex.ts
  frontend/src/pages/vendors/edit-vendor.tsx
  frontend/src/pages/vendors/new-vendor.tsx
Labels: UI

fix: removed navigation in the warning tool tip, chore: ui fix
  frontend/src/components/ui/PODetails.tsx
  frontend/src/components/ui/vendor-hover-card.tsx
  frontend/src/components/validations/ValidationIndicator.tsx
  frontend/src/components/validations/ValidationMessages.tsx
  frontend/src/pages/ProcurementOrders/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/TransactionDetailsCard.tsx
Labels: UI

fix: minor bug fix in projectwiseinvoices component and project payments component
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
  frontend/src/pages/projects/ProjectWiseInvoices.tsx
Labels: UI

fix: bug fix in project financials and added vendor column for all_invoices table and other few minor fixes
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/ProjectWiseInvoices.tsx
  frontend/src/pages/projects/project.tsx
  nirmaan_stack/api/projects/project_wise_invoice_data.py
Labels: UI, backend

feat: added types for lodash
  frontend/package.json
  frontend/yarn.lock
Labels: none

fix: grouped role based dashboard components under a separate folder named dashboards
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/dashboards/dashboard-accountant.tsx
  frontend/src/components/layout/dashboards/dashboard-default.tsx
  frontend/src/components/layout/dashboards/dashboard-pl.tsx
  frontend/src/components/layout/dashboards/dashboard-pm.tsx
  frontend/src/components/layout/dashboards/estimates-executive-dashboard.tsx
  frontend/src/components/layout/dashboards/procurement-dashboard.tsx
  frontend/src/pages/dashboard.tsx
Labels: UI

feat: created a dedicated loading fallback component, minor fixes in project
  frontend/src/components/common/callouts/error-callouts.tsx
  frontend/src/components/layout/loaders/LoadingFallback.tsx
  frontend/src/pages/ProcurementOrders/release-po-select.tsx
  frontend/src/pages/auth/old-login.tsx
  frontend/src/pages/projects/add-project-estimates.tsx
  frontend/src/pages/projects/project.tsx
Labels: UI

fix: fixed Merge PO button bug
  frontend/src/components/helpers/ActionSummary.tsx
  frontend/src/components/helpers/ApproveVendorQuotesPRorSBAntDTable.tsx
  frontend/src/components/helpers/ProcurementActionsHeaderCard.tsx
  frontend/src/components/helpers/ProcurementHeaderCard.tsx
  frontend/src/components/helpers/RenderPRorSBComments.tsx
  frontend/src/components/helpers/vendor-hover-card.tsx
  frontend/src/components/procurement/select-vendors.tsx
  frontend/src/components/procurement/sent-back-select-vendor.tsx
  frontend/src/components/procurement/sent-back-update-quote.tsx
  frontend/src/components/procurement/update-quote.tsx
  frontend/src/components/ui/accessible-dialog.tsx
  frontend/src/pages/ProcurementOrders/PODetails.tsx
  frontend/src/pages/ProcurementOrders/POPdf.tsx
  frontend/src/pages/ProcurementOrders/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/approve-amend-po.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/approve-order.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-r-reject-vendor-quotes.tsx
  frontend/src/pages/ProcurementRequests/NewPR/NewCustomPR.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgress.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-vendor.tsx
  frontend/src/pages/Retired Components/approve-sent-back.tsx
  frontend/src/pages/Retired Components/approve-vendor.tsx
  frontend/src/pages/Sent Back Requests/ApproveSBVendorQuotes.tsx
  frontend/src/pages/Sent Back Requests/SBQuotesSelectionReview.tsx
  frontend/src/pages/Sent Back Requests/SentBackVendorQuotes.tsx
  frontend/src/pages/Sent Back Requests/sent-back-summary.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-amended-sr.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-service-request.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/pages/ServiceRequests/service-request/select-service-vendor.tsx
Labels: UI

fix: removed pr column and renamed Date Created to PO Date Created, added tax column in order details table
  frontend/src/index.css
  frontend/src/pages/ProcurementOrders/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/release-po-select.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/users/user-profile.tsx
Labels: UI

fix: modified approve order screen
  frontend/src/components/helpers/ProcurementActionsHeaderCard.tsx
  frontend/src/components/helpers/ProcurementHeaderCard.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRContainer.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRView.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/ActionButtons.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/AddItemForm.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/ApprovePRHeader.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/ConfirmationDialog.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/EditItemDialog.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/ItemListSection.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/ItemListTable.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/NewItemDialog.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/PRCommentsSection.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/RequestItemDialog.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/RequestedItemTable.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/RequestedItemsSection.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/SummaryView.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useApprovePRLogic.ts
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useRelatedPRData.ts
  frontend/src/pages/ProcurementRequests/ApproveNewPR/types/index.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/render-procurement-requests.tsx
  frontend/src/pages/Retired Components/approve-order.tsx
Labels: UI

fix: updated make selection functionality in In Progress PR, made ui changes to vendor quotes selection summary page
  frontend/src/components/procurement-packages.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/components/VendorApprovalTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ItemVendorMakeSelection.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/Sent Back Requests/SBQuotesSelectionReview.tsx
Labels: UI

fix: fixed rates respective to individual items to have decimal values and other amount fields to be rounded
  frontend/src/components/procurement/sent-back-request.tsx
  frontend/src/pages/ProcurementOrders/InvoiceDataDialog.tsx
  frontend/src/pages/ProcurementOrders/POAttachments.tsx
  frontend/src/pages/ProcurementOrders/PODetails.tsx
  frontend/src/pages/ProcurementOrders/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/TransactionDetailsCard.tsx
  frontend/src/pages/ProcurementOrders/approve-select-amend-po.tsx
  frontend/src/pages/ProcurementOrders/release-po-select.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-select-vendor.tsx
  frontend/src/pages/ProjectPayments/AccountantTabs.tsx
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/AmountPaidHoverCard.tsx
  frontend/src/pages/ProjectPayments/PaymentsDataDialog.tsx
  frontend/src/pages/ProjectPayments/approve-payments.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/ProjectPayments/request-payment-dialog.tsx
  frontend/src/pages/Sent Back Requests/approve-select-sent-back.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-amend-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-service-request-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/pages/customers/CustomerFinancials.tsx
  frontend/src/pages/projects/AllTab.tsx
  frontend/src/pages/projects/CategoryAccordion.tsx
  frontend/src/pages/projects/CustomHoverCard.tsx
  frontend/src/pages/projects/InFlowPayments.tsx
  frontend/src/pages/projects/NewInflowPayment.tsx
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  frontend/src/pages/projects/ProjectWiseInvoices.tsx
  frontend/src/pages/projects/ServiceRequestsAccordion.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/vendors/vendor.tsx
  frontend/src/utils/FormatPrice.ts
Labels: UI

fix: refactored devliery note view, fixed delivery notes item table to contain ordered column and delivery history table to contain change type column
  frontend/src/pages/DeliveryNotes/components/DeliveryHistory.tsx
  frontend/src/pages/DeliveryNotes/components/DeliveryNotePrintLayout.tsx
  frontend/src/pages/DeliveryNotes/components/deliveryNoteItemsDisplay.tsx
  frontend/src/pages/DeliveryNotes/constants.ts
  frontend/src/pages/DeliveryNotes/deliverynote.tsx
  frontend/src/pages/DeliveryNotes/hooks/useDeliveryNoteData.ts
Labels: UI

fix: removed redundent Electrical Work Package categories
  nirmaan_stack/fixtures/category.json
  nirmaan_stack/fixtures/role.json
Labels: backend

fix: fixed lowest quote card css styling and updated lowest quote comparison logic in item-vendor quotes selection table and summary page
  frontend/src/hooks/useItemEstimate.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/Sent Back Requests/SBQuotesSelectionReview.tsx
Labels: UI

fix: fixed project user permission deletion bug, added target rate column in approval screens, fixed admin project creation logic
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/components/VendorApprovalTable.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/hooks/useApproveRejectLogic.ts
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/types/index.ts
  frontend/src/pages/Sent Back Requests/hooks/useApproveSBSLogic.ts
  frontend/src/pages/users/user-profile.tsx
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.py
Labels: UI, backend

fix: Altered Approved Quotations item_name field type to Text to accommodate larger texts in regarding custom po's item names
  nirmaan_stack/nirmaan_stack/doctype/approved_quotations/approved_quotations.json
Labels: backend

fix: reverted the frappe boot configuration back to its previous implementation
  frontend/index.html
  frontend/src/main.tsx
Labels: UI

fix: ascending order for PO patch
  nirmaan_stack/patches/v2_4/po_and_sr_invoices_reconciliation.py
Labels: backend

fix: added nirmaan role permissions for type doctype
  nirmaan_stack/nirmaan_stack/doctype/task/task.json
Labels: backend

fix: package changes (DO yarn install within frontend)
  frontend/yarn.lock
  package-lock.json
Labels: none

feat: new pr page refactoring and updation in progress
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/pages/ProcurementRequests/NewPR/NewCustomPR.tsx
  frontend/src/pages/ProcurementRequests/NewPR/NewProcurementRequestPage.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/ActionButtons.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/EditItemDialog.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/ItemSelectorControls.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/NewItemDialog.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/OrderListDisplay.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/PreviousComments.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/WorkPackageSelector.tsx
  frontend/src/pages/ProcurementRequests/NewPR/constants.ts
  frontend/src/pages/ProcurementRequests/NewPR/hooks/useProcurementRequestData.ts
  frontend/src/pages/ProcurementRequests/NewPR/hooks/useProcurementRequestForm.ts
  frontend/src/pages/ProcurementRequests/NewPR/hooks/useSubmitProcurementRequest.ts
  frontend/src/pages/ProcurementRequests/NewPR/store/useProcurementRequestStore.ts
  frontend/src/pages/ProcurementRequests/NewPR/types/index.ts
Labels: UI

fix: ui changes for New PR
  frontend/src/pages/ProcurementRequests/NewPR/NewProcurementRequestPage.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/EditItemDialog.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/ItemSelectorControls.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/ManageCategoryMakesDialog.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/OrderListDisplay.tsx
  nirmaan_stack/integrations/controllers/procurement_requests.py
Labels: UI, backend

fix: ui changes for ApproveNewPR
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/ItemListTable.tsx
Labels: UI

fix: selected make forwarding issue fix for PR and SB
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/components/VendorApprovalTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/ItemVendorMakeSelection.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useProcurementProgressLogic.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-vendor.tsx
  frontend/src/pages/Sent Back Requests/SentBackVendorQuotes.tsx
Labels: UI

fix: inflow payments enabled for all projects
  frontend/src/components/custom-select/project-select.tsx
  frontend/src/pages/projects/NewInflowPayment.tsx
Labels: UI

fix: segregated custom items from project spends (UI CHANGES PENDING)
  frontend/src/pages/projects/projects.tsx
  nirmaan_stack/api/procurement_orders.py
Labels: UI, backend

fix: added Custom PO analytics to project spends tab within project overview
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-vendor.tsx
  frontend/src/pages/projects/ProjectSpendsTab.tsx
  frontend/src/pages/projects/project.tsx
Labels: UI

fix: optimizations for project spends tab
  frontend/src/pages/projects/AllTab.tsx
  frontend/src/pages/projects/CategoryAccordion.tsx
  frontend/src/pages/projects/ProjectSpendsTab.tsx
Labels: UI

fix: enabled makelist for new pr summary for procurements
  frontend/src/components/helpers/ProcurementHeaderCard.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-vendor.tsx
Labels: UI

fix: removed make from requested item view
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/RequestedItemTable.tsx
Labels: UI

fix: added makes support to Add Missing Items section for approvePR
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRView.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/AddItemForm.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useApprovePRLogic.ts
Labels: UI

feat: initial commit for dynamic make selection within new pr Item Selector
  frontend/src/pages/ProcurementRequests/NewPR/components/ItemSelectorControls.tsx
Labels: UI

fix: added dynamic list for make selection within new pr
  frontend/src/pages/ProcurementRequests/NewPR/components/ManageCategoryMakesDialog.tsx
Labels: UI

fix: rectified add missing items behaviour for approve pr as well as category make selection provided
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRView.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/AddItemForm.tsx
Labels: UI

fix: close AddMissingItems dialog when CreateNewProduct dialog opens
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useApprovePRLogic.ts
Labels: UI

fix: now ApprocePR Loads all makes for that category with a marker for TDS makes
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRContainer.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRView.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/AddItemForm.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/EditItemDialog.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useApprovePRLogic.ts
Labels: UI

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
