Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

docs(adr-0010): batch 4 progress (34 migrated, 3 remain) + project_gst label island
  docs/adr/0010-module-residence-rules.md
Labels: none

perf(procurement): migrate the final facet pages — tasks pair + sent-back-request (ADR-0010 Option 2)
  frontend/src/pages/Sent Back Requests/sent-back-request.tsx
  frontend/src/pages/tasks/invoices/components/PendingTasksTable.tsx
  frontend/src/pages/tasks/invoices/components/TaskHistoryTable.tsx
  frontend/src/pages/tasks/invoices/components/columns.tsx
Labels: UI

docs(adr-0010): facet migration COMPLETE — all pages migrated; only label islands block legacy-branch deletion
  docs/adr/0010-module-residence-rules.md
Labels: none

perf(procurement): dialogs self-fetch on open — drop whole-table Project Payments pull (ADR-0010 #4 WS-B)
  frontend/src/pages/ProcurementOrders/purchase-order/components/InvoiceDataDialog.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  frontend/src/pages/ProjectPayments/PaymentsDataDialog.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/vendors/components/VendorMaterialOrdersTable.tsx
Labels: UI

feat(procurement): restrict PMO — no PR approval, request-only new items
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRView.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/ItemSelectorControls.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/NewItemDialog.tsx
  frontend/src/pages/ProcurementRequests/config/prTabs.constants.ts
  frontend/src/pages/ProcurementRequests/procurement-requests.tsx
  frontend/src/pages/ProcurementRequests/render-procurement-requests.tsx
Labels: UI

docs(role-access): record PMO no longer mirrors Admin for PR approval / item creation
  frontend/.claude/context/role-access.md
  frontend/CLAUDE.md
Labels: none

feat(dc-mir): add Upload Date column + rename Date to DC/MIR Date
  frontend/src/pages/projects/components/DCMIRWiseMaterialTable.tsx
  frontend/src/pages/projects/components/ProjectMaterialUsageTab.tsx
  frontend/src/pages/projects/hooks/useMaterialUsageData.ts
  frontend/src/pages/reports/components/DCMIRReports.tsx
  frontend/src/pages/reports/components/columns/dcmirColumns.tsx
  frontend/src/pages/reports/config/dcmirReportsTable.config.ts
Labels: UI

feat(invoices): invoice_qty derivation + credit-note handling
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceDialog.tsx
  frontend/src/types/NirmaanStack/VendorInvoice.ts
  nirmaan_stack/api/delivery_notes/update_invoice_data.py
  nirmaan_stack/api/invoice_autofill.py
  nirmaan_stack/api/invoices/_item_billing_sync.py
  nirmaan_stack/dry_run_invoice_qty.py
  nirmaan_stack/nirmaan_stack/doctype/vendor_invoice_line/vendor_invoice_line.json
  nirmaan_stack/nirmaan_stack/doctype/vendor_invoices/vendor_invoices.json
  nirmaan_stack/patches/v3_0/backfill_invoice_qty.py
  nirmaan_stack/services/extraction/gemini.py
Labels: UI, backend

feat(invoices): backfill extraction + test→prod cache + runbook
  nirmaan_stack/patches/v3_0/RUNBOOK_invoice_qty_backfill.md
  nirmaan_stack/patches/v3_0/backfill_invoice_qty.py
Labels: backend

feat(project-expenses): add approval workflow (Requested/Approved/Paid) with role-based access
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/ProjectExpenses/ProjectExpensesList.tsx
  frontend/src/pages/ProjectExpenses/components/EditProjectExpenseDialog.tsx
  frontend/src/pages/ProjectExpenses/components/NewProjectExpenseDialog.tsx
  frontend/src/pages/ProjectExpenses/config/projectExpensesColumns.tsx
  frontend/src/pages/ProjectExpenses/config/projectExpensesTable.config.ts
  frontend/src/types/NirmaanStack/ProjectExpenses.ts
  nirmaan_stack/api/data_table/constants.py
  nirmaan_stack/nirmaan_stack/doctype/project_expenses/project_expenses.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/backfill_project_expenses_status.py
Labels: UI, backend

feat(non-project-expenses): add approval workflow (Requested/Approved/Paid) with invoice/payment split
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/NonProjectExpenses/NonProjectExpensesPage.tsx
  frontend/src/pages/NonProjectExpenses/components/EditNonProjectExpense.tsx
  frontend/src/pages/NonProjectExpenses/components/NewNonProjectExpense.tsx
  frontend/src/pages/NonProjectExpenses/components/UpdateInvoiceDetailsDialog.tsx
  frontend/src/pages/NonProjectExpenses/components/UpdatePaymentDetailsDialog.tsx
  frontend/src/pages/NonProjectExpenses/config/nonProjectExpensesColumns.tsx
  frontend/src/pages/NonProjectExpenses/config/nonProjectExpensesTable.config.ts
  frontend/src/types/NirmaanStack/NonProjectExpenses.ts
  nirmaan_stack/nirmaan_stack/doctype/non_project_expenses/non_project_expenses.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/backfill_non_project_expenses_status.py
Labels: UI, backend

feat(expense): unify Project + Non-Project expenses into one tabbed module + auto-approve small expenses
  frontend/src/components/helpers/renderRightActionButton.tsx
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/layout/dashboards/dashboard-accountant.tsx
  frontend/src/pages/Expenses/ExpenseLayout.tsx
  frontend/src/pages/NonProjectExpenses/NonProjectExpensesPage.tsx
  frontend/src/pages/ProjectExpenses/ProjectExpensesList.tsx
  nirmaan_stack/nirmaan_stack/doctype/non_project_expenses/non_project_expenses.py
  nirmaan_stack/nirmaan_stack/doctype/project_expenses/project_expenses.py
Labels: UI, backend

feat(expense): count only Paid expenses in all calculations/reports + normalize types
  frontend/src/pages/NonProjectExpenses/NonProjectExpensesPage.tsx
  frontend/src/pages/NonProjectExpenses/config/nonProjectExpensesColumns.tsx
  frontend/src/pages/ProjectExpenses/ProjectExpensesList.tsx
  frontend/src/pages/ProjectExpenses/config/projectExpensesColumns.tsx
  frontend/src/pages/projects/data/root/useProjectRootApi.ts
  frontend/src/pages/reports/hooks/useOutflowReportData.ts
  frontend/src/pages/reports/hooks/useProjectReportCalculations.ts
  nirmaan_stack/api/payments/get_project_payment_summary.py
  nirmaan_stack/api/po_adjustments/adjustment_logic.py
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/project_cashflow_hold_update.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/normalize_project_expense_types.py
Labels: UI, backend

docs(expense): expense-workflow domain docs + hide Approved-tab actions for Procurement/HR
  .claude/context/domain/expenses.md
  CLAUDE.md
  CONTEXT.md
  docs/adr/0009-project-expense-type-normalization.md
  frontend/src/pages/NonProjectExpenses/config/nonProjectExpensesColumns.tsx
  frontend/src/pages/ProjectExpenses/config/projectExpensesColumns.tsx
Labels: UI

feat(expense): add filters to expense lists, fix filter crash, minor UX
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/NonProjectExpenses/NonProjectExpensesPage.tsx
  frontend/src/pages/NonProjectExpenses/components/NewNonProjectExpense.tsx
  frontend/src/pages/NonProjectExpenses/config/nonProjectExpensesColumns.tsx
  frontend/src/pages/ProjectExpenses/ProjectExpensesList.tsx
  frontend/src/pages/ProjectExpenses/components/NewProjectExpenseDialog.tsx
  frontend/src/pages/ProjectExpenses/config/projectExpensesColumns.tsx
  nirmaan_stack/fixtures/expense_type.json
Labels: UI, backend

feat(boq-category): tuning round 2 - EARTH-ANC guard, geometry signals, category rule fixes (rules+runner+harness+tests)
  nirmaan_stack/services/boq_category/harness/electrical_classification_harness.py
  nirmaan_stack/services/boq_category/rules_electrical.json
  nirmaan_stack/services/boq_category/runner.py
  nirmaan_stack/services/boq_category/tests/test_runner_electrical.py
Labels: backend

feat(boq-category): AI prompt v1.2 - panel-assembly boundary
  nirmaan_stack/services/boq_category/prompts/electrical_ai_category_prompt.md
Labels: none

docs(boq-category): record tuning round 2 + prompt v1.2 (JB-ANC drop, cert 86.9%, Set-1/2 now in-sample)
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-category): AI prompt v1.3 - DB-schedule boundary fix + starter convention
  nirmaan_stack/services/boq_category/prompts/electrical_ai_category_prompt.md
Labels: none

docs(boq-category): record prompt v1.3 (DB-schedule boundary fix + starter convention, UNMEASURED)
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(boq): ADR-0011 Amendment A1 — Phase C presence-escalated warn-only
  CONTEXT.md
  docs/adr/0011-boq-concurrency-locking.md
  docs/boq/concurrency-locking-as-built.html
  frontend/.claude/plans/boq-concurrency-locking-plan.md
Labels: none

feat(boq): directional guard names the Live pricer (Amendment A1 slice 1)
  nirmaan_stack/api/boq/wizard/commit_pipeline.py
  nirmaan_stack/api/boq/wizard/directional_guard.py
  nirmaan_stack/api/boq/wizard/update_boq_draft.py
Labels: backend

feat(boq): downstream-state read endpoints for the directional banner (Amendment A1 slice 2)
  nirmaan_stack/api/boq/wizard/directional_guard.py
Labels: backend

feat(boq): force-reparse directional guard (Amendment A1 slice 4 backend)
  nirmaan_stack/api/boq/wizard/parse_run.py
Labels: backend

feat(boq): on-entry directional banner on Review + Config (Amendment A1 slice 3a)
  frontend/src/pages/boq-wizard/DownstreamBanner.tsx
  frontend/src/pages/boq-wizard/SheetReviewPage.tsx
  frontend/src/pages/boq-wizard/SheetSpokePage.tsx
Labels: UI

feat(boq): Hub orphan chip + force-reparse orphan confirm (Amendment A1 slices 3b + 4-fe)
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/SheetCard.tsx
Labels: UI

docs(boq): as-built doc — Amendment A1 build (slices 1-4 + E2E) + slice-5 decision
  docs/boq/concurrency-locking-as-built.html
Labels: none

revert(boq): force-reparse orphan guard -> soft inline warning; drop slice 5
  docs/adr/0011-boq-concurrency-locking.md
  docs/boq/concurrency-locking-as-built.html
  frontend/.claude/plans/boq-concurrency-locking-plan.md
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/ParseRunDialog.tsx
  nirmaan_stack/api/boq/wizard/parse_run.py
Labels: UI, backend

docs(boq): mark ADR-0011 accepted -- signed off by owner
  docs/adr/0011-boq-concurrency-locking.md
  docs/boq/concurrency-locking-as-built.html
Labels: none

feat(boq): config-screen redesign -- lift Column coverage above Section 4, widen, label Sections 2/3
  frontend/.claude/context/domain/boq-frontend.md
  frontend/src/pages/boq-wizard/SheetConfigPanel.tsx
  frontend/src/pages/boq-wizard/SheetSpokePage.tsx
Labels: UI

feat(boq): surface per-sheet Work Packages badge on the Review screen
  frontend/src/pages/boq-wizard/SheetReviewPage.tsx
Labels: UI

feat(boq): propagate Work Packages to committed sheet + Pricing (frozen snapshot) + backfill
  .claude/context/domain/boq-backend.md
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/commit_pipeline.py
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_commit_pipeline.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/backfill_committed_sheet_work_packages.py
Labels: UI, backend

feat(invoices): trust-ladder invoice_qty, backfill+extraction cache, credit notes
  .claude/context/domain/invoice-qty.md
  CLAUDE.md
  frontend/CLAUDE.md
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceDialog.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/LineItemMappingReview.tsx
  frontend/src/zustand/useDialogStore.ts
  nirmaan_stack/api/delivery_notes/update_invoice_data.py
  nirmaan_stack/api/invoices/_item_billing_sync.py
  nirmaan_stack/patches/v3_0/backfill_invoice_qty.py
Labels: UI, backend

feat(invoices): Resolve Invoices admin tool + dry-run preview updates
  frontend/src/pages/temp/ResolveInvoices.tsx
  nirmaan_stack/TEMP_resolve_invoices_README.md
  nirmaan_stack/api/invoices/temp_resolve.py
  nirmaan_stack/dry_run_invoice_qty.py
  nirmaan_stack/extraction_cache.json
Labels: UI, backend

docs(invoices): correct backfill run instructions — not wired into patches.txt
  .claude/context/domain/invoice-qty.md
  nirmaan_stack/patches/v3_0/backfill_invoice_qty.py
Labels: backend

feat(boq): CL-1a classification service core - BoQ Row Category doctype, context builder, R3d router, AI voter service
  nirmaan_stack/api/boq/wizard/test_row_category.py
  nirmaan_stack/nirmaan_stack/doctype/boq_row_category/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_row_category/boq_row_category.json
  nirmaan_stack/nirmaan_stack/doctype/boq_row_category/boq_row_category.py
  nirmaan_stack/services/boq_category/ai_voter.py
  nirmaan_stack/services/boq_category/context_builder.py
  nirmaan_stack/services/boq_category/persist.py
  nirmaan_stack/services/boq_category/routing.py
  nirmaan_stack/services/boq_category/routing_config.json
Labels: backend

docs(boq): CL-1a plan-doc + CLAUDE.md updates (incl. frozen-left correction)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): CL-1b classifier endpoints + long worker - list/start/status/get-categories/set-verdict, R3d orchestration on the wizard job pattern
  nirmaan_stack/api/boq/wizard/classify.py
  nirmaan_stack/api/boq/wizard/test_classify.py
  nirmaan_stack/services/boq_category/engines.py
  nirmaan_stack/services/boq_category/orchestrator.py
Labels: backend

docs(boq): CL-1b plan-doc + CLAUDE.md updates
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): CL-2 classify-sheet UI - button, engine/scope dialog, live progress, Category column, needs-review filter, worker progress emit
  frontend/src/pages/boq-wizard/ClassifySheetDialog.test.ts
  frontend/src/pages/boq-wizard/ClassifySheetDialog.tsx
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/classify.py
  nirmaan_stack/api/boq/wizard/test_classify.py
  nirmaan_stack/services/boq_category/orchestrator.py
Labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
