Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

fix(boq-classification): rules_version provenance + AI settings change tracking + ai_status surfaced (HV-11)
  frontend/src/pages/boq-wizard/ClassifyProgressModal.test.ts
  frontend/src/pages/boq-wizard/ClassifyProgressModal.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  nirmaan_stack/api/boq/wizard/test_classify.py
  nirmaan_stack/nirmaan_stack/doctype/boq_upload_review_ai_settings/boq_upload_review_ai_settings.json
  nirmaan_stack/services/boq_category/runner.py
  nirmaan_stack/services/boq_category/tests/test_runner_hvac.py
Labels: UI, backend

docs(boq): HV-11 record - provenance whole, toggle attributable, fallback visible
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat: implement admin-only server-side guard for deleting approved vendor invoices and document policy in ADR-0014
  CONTEXT.md
  docs/adr/0014-invoice-mutation-permissions.md
  nirmaan_stack/api/delivery_notes/update_invoice_data.py
Labels: backend

feat(pricing): backend doctypes, API, lock and access log for pricing module
  nirmaan_stack/api/pricing/__init__.py
  nirmaan_stack/api/pricing/test_pricing_workbook.py
  nirmaan_stack/api/pricing/workbook.py
  nirmaan_stack/nirmaan_stack/doctype/pricing_access_log/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/pricing_access_log/pricing_access_log.json
  nirmaan_stack/nirmaan_stack/doctype/pricing_access_log/pricing_access_log.py
  nirmaan_stack/nirmaan_stack/doctype/pricing_workbook/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/pricing_workbook/pricing_workbook.json
  nirmaan_stack/nirmaan_stack/doctype/pricing_workbook/pricing_workbook.py
  nirmaan_stack/nirmaan_stack/doctype/pricing_workbook_version/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/pricing_workbook_version/pricing_workbook_version.json
  nirmaan_stack/nirmaan_stack/doctype/pricing_workbook_version/pricing_workbook_version.py
Labels: backend

docs(pricing): CLAUDE.md pricing section and pricing-module plan doc
  CLAUDE.md
  frontend/.claude/plans/pricing-module-plan.md
Labels: none

docs(pricing): plan doc PM-2 fold and frontend CLAUDE.md pricing notes
  frontend/.claude/plans/pricing-module-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): revision needs-review reason taxonomy (pure layer)
  nirmaan_stack/services/boq_revision/carry.py
  nirmaan_stack/services/boq_revision/diagnose.py
  nirmaan_stack/services/boq_revision/reasons.py
  nirmaan_stack/services/boq_revision/test_carry.py
  nirmaan_stack/services/boq_revision/test_diagnose.py
Labels: backend

feat(expenses): Project Expense invoice/payment split with AI autofill + receipt amount checks
  .claude/context/domain/expenses.md
  .claude/context/domain/invoice-autofill.md
  frontend/src/pages/ProjectExpenses/ProjectExpensesList.tsx
  frontend/src/pages/ProjectExpenses/components/EditProjectExpenseDialog.tsx
  frontend/src/pages/ProjectExpenses/components/NewProjectExpenseDialog.tsx
  frontend/src/pages/ProjectExpenses/components/UpdatePaymentDetailsDialog.tsx
  frontend/src/pages/ProjectExpenses/config/projectExpensesColumns.tsx
  frontend/src/pages/ProjectExpenses/config/projectExpensesTable.config.ts
  frontend/src/types/NirmaanStack/ProjectExpenses.ts
  nirmaan_stack/fixtures/expense_type.json
  nirmaan_stack/nirmaan_stack/doctype/project_expenses/project_expenses.json
Labels: UI, backend

feat(boq): stamp Needs Review + its reason at the revision parse seam
  nirmaan_stack/api/boq/wizard/parse_run.py
  nirmaan_stack/api/boq/wizard/review_carry.py
  nirmaan_stack/api/boq/wizard/test_parse_run.py
  nirmaan_stack/api/boq/wizard/test_review_carry.py
  nirmaan_stack/api/boq/wizard/test_revision_schema.py
  nirmaan_stack/nirmaan_stack/doctype/boq_review_row/boq_review_row.json
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet_draft/boq_sheet_draft.json
Labels: backend

fix(pricing): checkout error surfacing, post-mount sheet init, always-on toolbar, honest lock banner, brand watermark
  frontend/src/pages/pricing/HvacPricingPage.tsx
  frontend/src/pages/pricing/pricingLibs.ts
Labels: UI

docs(pricing): plan doc PM-3 v2 fold
  frontend/.claude/plans/pricing-module-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): Looks OK affirmation + the revision finalize gate
  nirmaan_stack/api/boq/wizard/review_carry.py
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_revision_review.py
Labels: backend

refactor: remove role-based access control for CSV export in POVendorLedger...
  frontend/src/pages/vendors/components/POVendorLedger.tsx
Labels: UI

fix(pricing): checkout/release avoid list-valued-JSON save wall via db.set_value; scope test purge to created rows
  nirmaan_stack/api/pricing/test_pricing_workbook.py
  nirmaan_stack/api/pricing/workbook.py
Labels: backend

docs(pricing): PM-4 live verification, checkout list-JSON root cause, data-loss incident and recovery
  frontend/.claude/plans/pricing-module-plan.md
Labels: none

feat(boq): revision needs-review UI -- red rows, Looks OK, grouped warnings
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/SheetReviewPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  frontend/src/pages/boq-wizard/revisionChangeBlocks.test.ts
  frontend/src/pages/boq-wizard/revisionChangeBlocks.ts
  frontend/src/pages/boq-wizard/revisionReviewDelta.test.ts
  frontend/src/pages/boq-wizard/revisionReviewDelta.ts
Labels: UI

fix(boq): spacers split shift blocks, producing a phantom "0 rows deleted"
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/SheetReviewPage.tsx
  frontend/src/pages/boq-wizard/revisionChangeBlocks.test.ts
  frontend/src/pages/boq-wizard/revisionChangeBlocks.ts
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_revision_review.py
  nirmaan_stack/services/boq_revision/diagnose.py
  nirmaan_stack/services/boq_revision/test_diagnose.py
Labels: UI, backend

fix(pricing): compact save payload via serializeSheets strip of rebuilt grid keys
  frontend/src/pages/pricing/HvacPricingPage.tsx
  frontend/src/pages/pricing/pricingLibs.ts
Labels: UI

docs(pricing): plan doc PM-5 fold and serializeSheets save-shape note
  frontend/.claude/plans/pricing-module-plan.md
  frontend/CLAUDE.md
Labels: none

fix(pricing): save via fetch transport for large payload reliability; darker brand watermark
  frontend/src/pages/pricing/HvacPricingPage.tsx
  frontend/src/pages/pricing/pricingLibs.ts
Labels: UI

docs(pricing): plan doc PM-6 fold and fetch-save transport note
  frontend/.claude/plans/pricing-module-plan.md
  frontend/CLAUDE.md
Labels: none

feat(pricing): generic workbook page with registry, title-keyed selection, electrical and elv links
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/pricing/PricingWorkbookPage.tsx
  frontend/src/pages/pricing/pricingWorkbooks.ts
  frontend/src/utils/auth/ProtectedRoute.tsx
Labels: UI

docs(pricing): plan doc PW-1 fold
  frontend/.claude/plans/pricing-module-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): Amendment C C1 -- presence-aware, overwrite-capable layer engine
  frontend/.claude/plans/boq-revised-upload-plan.md
  nirmaan_stack/api/boq/wizard/commit_pipeline.py
  nirmaan_stack/api/boq/wizard/committed_carry.py
  nirmaan_stack/api/boq/wizard/cross_boq_carry.py
  nirmaan_stack/api/boq/wizard/test_commit_pipeline.py
  nirmaan_stack/api/boq/wizard/test_committed_carry.py
  nirmaan_stack/api/boq/wizard/test_cross_boq_carry.py
  nirmaan_stack/services/boq_category/persist.py
  nirmaan_stack/services/boq_revision/diagnose.py
Labels: backend

feat(boq): Amendment C C2 -- synchronous per-sheet carry endpoint
  nirmaan_stack/api/boq/wizard/cross_boq_carry.py
  nirmaan_stack/api/boq/wizard/test_cross_boq_carry.py
Labels: backend

feat(boq): Amendment C C3 -- the green per-sheet carry button in the pricing editor
  frontend/src/pages/boq-wizard/CrossBoqCarryDialog.test.ts
  frontend/src/pages/boq-wizard/CrossBoqCarryDialog.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
Labels: UI

fix(boq): Amendment C C2b -- pin the source rate read to the original's current version
  frontend/.claude/plans/boq-revised-upload-plan.md
  nirmaan_stack/api/boq/wizard/cross_boq_carry.py
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/revision.py
  nirmaan_stack/api/boq/wizard/test_committed_carry.py
  nirmaan_stack/api/boq/wizard/test_cross_boq_carry.py
  nirmaan_stack/api/boq/wizard/test_revision_mapping.py
Labels: backend

feat(boq): Amendment C C4 -- the multi-layer single-sheet carry dialog
  frontend/src/pages/boq-wizard/CrossBoqCarryDialog.test.ts
  frontend/src/pages/boq-wizard/CrossBoqCarryDialog.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
Labels: UI

refactor(boq): Amendment C C6 -- remove the hub's whole-BoQ carry surface
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/cross_boq_carry.py
  nirmaan_stack/api/boq/wizard/test_cross_boq_carry.py
Labels: UI, backend

feat(boq): Amendment C C5 -- a revision commit carries nothing but provenance
  frontend/src/pages/boq-wizard/CommitResultsModal.tsx
  frontend/src/pages/boq-wizard/revisionCarryReport.test.ts
  frontend/src/pages/boq-wizard/revisionCarryReport.ts
  nirmaan_stack/api/boq/wizard/commit_pipeline.py
  nirmaan_stack/api/boq/wizard/committed_carry.py
  nirmaan_stack/api/boq/wizard/test_committed_carry.py
Labels: UI, backend

feat(project-payments): warn on receipt beneficiary vs vendor mismatch
  .claude/context/domain/invoice-autofill.md
  frontend/src/pages/ProjectPayments/update-payment/UpdatePaymentDialog.tsx
  nirmaan_stack/api/payment_autofill.py
  nirmaan_stack/services/extraction/gemini.py
Labels: UI, backend

docs(boq): Amendment C C7 -- ADR-0014 amendment + as-built for C1-C6
  .claude/context/domain/boq-backend.md
  CLAUDE.md
  docs/adr/0014-boq-revised-upload-and-carry.md
  frontend/.claude/context/domain/boq-frontend.md
  frontend/.claude/plans/boq-revised-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(boq): singular noun in the carry dialog's overwrite warning
  frontend/src/pages/boq-wizard/CrossBoqCarryDialog.test.ts
  frontend/src/pages/boq-wizard/CrossBoqCarryDialog.tsx
Labels: UI

refactor(boq): Amendment D D1 -- the per-sheet carry moves rates only
  nirmaan_stack/api/boq/wizard/committed_carry.py
  nirmaan_stack/api/boq/wizard/cross_boq_carry.py
  nirmaan_stack/services/boq_category/persist.py
Labels: backend

refactor(boq): Amendment D D2 -- the carry dialog is rates-only
  frontend/src/pages/boq-wizard/CrossBoqCarryDialog.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
Labels: UI

test(boq): Amendment D D3 -- invert the carry fixtures into a regression guard
  frontend/src/pages/boq-wizard/CrossBoqCarryDialog.test.ts
  nirmaan_stack/api/boq/wizard/test_committed_carry.py
  nirmaan_stack/api/boq/wizard/test_cross_boq_carry.py
Labels: UI, backend

docs(boq): Amendment D D4 -- ADR-0014 amendment + as-built
  .claude/context/domain/boq-backend.md
  CLAUDE.md
  docs/adr/0014-boq-revised-upload-and-carry.md
  frontend/.claude/context/domain/boq-frontend.md
  frontend/CLAUDE.md
Labels: none

feat(pricing): gzip multipart transport for workbook create and save, quote-aware formula normalizer
  frontend/src/pages/pricing/PricingWorkbookPage.tsx
  frontend/src/pages/pricing/pricingLibs.ts
  nirmaan_stack/api/pricing/test_pricing_workbook.py
  nirmaan_stack/api/pricing/workbook.py
Labels: UI, backend

docs(pricing): plan doc FR-5 fold and arc close
  CLAUDE.md
  frontend/.claude/plans/pricing-module-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): compact blank rows in the template priced export
  nirmaan_stack/api/boq/wizard/export_template_workbook.py
  nirmaan_stack/api/boq/wizard/test_export_writeback.py
Labels: backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
