Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

feat(payments-dashboard): Non-Project Inflow (30 days) figure (#1267)
  .claude/context/domain/non-project-inflows.md
  frontend/.claude/plans/non-project-inflows-plan.md
  frontend/src/pages/ProjectPayments/PaymentSummaryCards.tsx
  nirmaan_stack/api/payments/get_project_payment_summary.py
  nirmaan_stack/api/payments/test_payment_dashboard_stats.py
Labels: UI, backend

feat(outflow-import): settled lines link the record they settled or created (#1266)
  .claude/context/domain/outflow-import.md
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_inflows.py
Labels: backend

feat(outflow-import): settle a bank credit as a Non-Project Inflow (#1266)
  .claude/context/domain/outflow-import.md
  frontend/src/pages/non-project-inflows/config/nonProjectInflowsTable.config.ts
  frontend/src/pages/non-project-inflows/nonProjectInflowModel.ts
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  frontend/src/pages/outflow-import/settledDirectionBlocks.ts
  nirmaan_stack/api/outflow_import/expenses.py
  nirmaan_stack/api/outflow_import/inflows.py
  nirmaan_stack/api/outflow_import/test_expenses.py
  nirmaan_stack/api/outflow_import/test_inflows.py
  nirmaan_stack/api/outflow_import/test_review.py
  nirmaan_stack/nirmaan_stack/doctype/non_project_inflows/non_project_inflows.py
  nirmaan_stack/services/non_project_inflows.py
  nirmaan_stack/services/outflow_import/allocation.py
  nirmaan_stack/services/outflow_import/ledgers.py
  nirmaan_stack/services/outflow_import/settle.py
  nirmaan_stack/services/outflow_import/test_allocation.py
  nirmaan_stack/services/outflow_import/test_status.py
  scripts/residence_check.py
Labels: UI, backend

refactor(outflow-import): one decision module and an all-or-nothing reversal path (#1271)
  .claude/context/domain/outflow-import.md
  docs/adr/0020-one-transfer-many-payments.md
  frontend/src/pages/outflow-import/allocationView.test.ts
  frontend/src/pages/outflow-import/allocationView.ts
  nirmaan_stack/api/outflow_import/expenses.py
  nirmaan_stack/api/outflow_import/test_unreconcile_row.py
  nirmaan_stack/api/outflow_import/unreconcile.py
  nirmaan_stack/services/outflow_import/test_unreconcile.py
  nirmaan_stack/services/outflow_import/unreconcile.py
Labels: UI, backend

feat(outflow-import): the matcher can re-check one import line (#1272)
  .claude/context/domain/outflow-import.md
  nirmaan_stack/api/outflow_import/duplicate_preview.py
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_match_line.py
  nirmaan_stack/services/outflow_import/sources.py
Labels: backend

feat(outflow-import): Skip returns for Admin and Accountant Lead, with a skipped-by-hand marker (#1273) [MIGRATE]
  .claude/context/domain/outflow-import.md
  CONTEXT.md
  docs/adr/0016-bank-statement-import-creates-inflows.md
  docs/adr/0022-unreconcile-and-unskip.md
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/components/OutflowRowsTable.tsx
  frontend/src/pages/outflow-import/components/SkippedRowsDialog.tsx
  frontend/src/pages/outflow-import/outflowExport.ts
  frontend/src/pages/outflow-import/outflowImportStatus.ts
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  frontend/src/pages/outflow-import/outflowUndoAccessParity.test.ts
  frontend/src/types/NirmaanStack/OutflowImportBatch.ts
  nirmaan_stack/api/outflow_import/cashbook.py
  nirmaan_stack/api/outflow_import/expenses.py
  nirmaan_stack/api/outflow_import/permissions.py
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_cashbook_import.py
  nirmaan_stack/api/outflow_import/test_review.py
  nirmaan_stack/api/outflow_import/test_skip_origin_backfill.py
  nirmaan_stack/api/outflow_import/test_skip_row.py
  nirmaan_stack/api/outflow_import/test_upload.py
  nirmaan_stack/api/outflow_import/unreconcile.py
  nirmaan_stack/api/outflow_import/upload.py
  nirmaan_stack/nirmaan_stack/doctype/outflow_import_row/outflow_import_row.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/backfill_outflow_skip_origin.py
  nirmaan_stack/services/outflow_import/skip_origin.py
  nirmaan_stack/services/outflow_import/status.py
  nirmaan_stack/services/outflow_import/test_skip_origin.py
Labels: UI, backend

feat(outflow-import): Unskip a hand-skipped line from the Skipped popup (#1274)
  .claude/context/domain/outflow-import.md
  CONTEXT.md
  docs/adr/0022-unreconcile-and-unskip.md
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/components/OutflowRowsTable.tsx
  frontend/src/pages/outflow-import/components/SkippedRowsDialog.tsx
  frontend/src/pages/outflow-import/unskipView.test.ts
  frontend/src/pages/outflow-import/unskipView.ts
  nirmaan_stack/api/outflow_import/expenses.py
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_expenses.py
  nirmaan_stack/api/outflow_import/test_unskip_row.py
  nirmaan_stack/services/outflow_import/candidates.py
  nirmaan_stack/services/outflow_import/skip_origin.py
  nirmaan_stack/services/outflow_import/test_skip_origin.py
Labels: UI, backend

fix(outflow-import): Skipped popup clears its Unskip notice on close (#1274)
  .claude/context/domain/outflow-import.md
  frontend/src/pages/outflow-import/components/SkippedRowsDialog.tsx
Labels: UI

feat(outflow-import): Unreconcile puts right vendor credit, CEO Hold, latest payment date and the statement file (#1276)
  .claude/context/domain/outflow-import.md
  docs/adr/0022-unreconcile-and-unskip.md
  nirmaan_stack/api/outflow_import/test_unreconcile_cleanup.py
  nirmaan_stack/api/outflow_import/unreconcile.py
  nirmaan_stack/api/outflow_import/unreconcile_cleanup.py
  nirmaan_stack/services/outflow_import/settle.py
Labels: backend

feat(outflow-import): Unreconcile a line settled against Project Payments (#1275) [MIGRATE]
  .claude/context/domain/outflow-import.md
  CLAUDE.md
  CONTEXT.md
  docs/adr/0022-unreconcile-and-unskip.md
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  frontend/src/pages/outflow-import/allocationView.test.ts
  frontend/src/pages/outflow-import/allocationView.ts
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/components/OutflowRowsTable.tsx
  frontend/src/pages/outflow-import/components/UnreconcileDialog.tsx
  frontend/src/pages/outflow-import/unreconcileView.test.ts
  frontend/src/pages/outflow-import/unreconcileView.ts
  nirmaan_stack/api/outflow_import/test_settle_payment.py
  nirmaan_stack/api/outflow_import/test_unreconcile_payments.py
  nirmaan_stack/api/outflow_import/unreconcile.py
  nirmaan_stack/nirmaan_stack/doctype/outflow_row_match/outflow_row_match.json
  nirmaan_stack/services/outflow_import/test_unreconcile.py
  nirmaan_stack/services/outflow_import/unreconcile.py
Labels: UI, backend

docs(outflow-import): record the #1279 browser walk
  .claude/context/domain/outflow-import.md
Labels: none

feat(outflow-import): Unreconcile a line settled against an existing expense (#1277)
  .claude/context/domain/outflow-import.md
  CONTEXT.md
  docs/adr/0020-one-transfer-many-payments.md
  docs/adr/0022-unreconcile-and-unskip.md
  frontend/src/pages/outflow-import/unreconcileView.test.ts
  frontend/src/pages/outflow-import/unreconcileView.ts
  nirmaan_stack/api/outflow_import/test_unreconcile_expenses.py
  nirmaan_stack/api/outflow_import/test_unreconcile_row.py
  nirmaan_stack/api/outflow_import/unreconcile.py
  nirmaan_stack/api/outflow_import/unreconcile_cleanup.py
  nirmaan_stack/services/outflow_import/test_unreconcile.py
  nirmaan_stack/services/outflow_import/unreconcile.py
Labels: UI, backend

fix(outflow-import): Unreconcile dialog never paints a stale cached plan (#1279)
  .claude/context/domain/outflow-import.md
  frontend/src/pages/outflow-import/components/UnreconcileDialog.tsx
Labels: UI

feat(outflow-import): Confirm by hand keeps an unreconciled line out of Confirm all matched (#1280) [MIGRATE]
  .claude/context/domain/outflow-import.md
  CONTEXT.md
  docs/adr/0022-unreconcile-and-unskip.md
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  frontend/src/pages/outflow-import/components/ConfirmMatchedPanel.tsx
  frontend/src/pages/outflow-import/components/OutflowRowsTable.tsx
  frontend/src/pages/outflow-import/outflowTableModel.ts
  frontend/src/pages/outflow-import/unreconcileView.test.ts
  frontend/src/pages/outflow-import/unreconcileView.ts
  frontend/src/types/NirmaanStack/OutflowImportBatch.ts
  nirmaan_stack/api/outflow_import/expenses.py
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_confirm_by_hand.py
  nirmaan_stack/api/outflow_import/unreconcile.py
  nirmaan_stack/nirmaan_stack/doctype/outflow_import_row/outflow_import_row.json
Labels: UI, backend

feat(outflow-import): Unreconcile a Part payment by undoing its split (#1279)
  .claude/context/domain/outflow-import.md
  CONTEXT.md
  docs/adr/0020-one-transfer-many-payments.md
  docs/adr/0022-unreconcile-and-unskip.md
  frontend/src/pages/outflow-import/components/UnreconcileDialog.tsx
  frontend/src/pages/outflow-import/unreconcileView.test.ts
  frontend/src/pages/outflow-import/unreconcileView.ts
  nirmaan_stack/api/outflow_import/test_reverse_allocation.py
  nirmaan_stack/api/outflow_import/test_unreconcile_part_payment.py
  nirmaan_stack/api/outflow_import/test_unreconcile_row.py
  nirmaan_stack/api/outflow_import/unreconcile.py
  nirmaan_stack/api/outflow_import/unreconcile_created.py
  nirmaan_stack/api/outflow_import/unreconcile_split.py
  nirmaan_stack/api/payments/test_payment_split.py
  nirmaan_stack/services/outflow_import/test_unreconcile.py
  nirmaan_stack/services/outflow_import/unreconcile.py
  nirmaan_stack/services/outflow_import/unsplit.py
  nirmaan_stack/services/payment_split.py
Labels: UI, backend

feat(outflow-import): Unreconcile a line whose record the import created (#1278) [MIGRATE]
  .claude/context/domain/outflow-import.md
  CONTEXT.md
  docs/adr/0016-bank-statement-import-creates-inflows.md
  docs/adr/0022-unreconcile-and-unskip.md
  frontend/src/pages/outflow-import/components/UnreconcileDialog.tsx
  frontend/src/pages/outflow-import/unreconcileView.test.ts
  frontend/src/pages/outflow-import/unreconcileView.ts
  nirmaan_stack/api/outflow_import/cashbook.py
  nirmaan_stack/api/outflow_import/expenses.py
  nirmaan_stack/api/outflow_import/inflows.py
  nirmaan_stack/api/outflow_import/test_cashbook_import.py
  nirmaan_stack/api/outflow_import/test_created_flag_backfill.py
  nirmaan_stack/api/outflow_import/test_unreconcile_created.py
  nirmaan_stack/api/outflow_import/test_unreconcile_expenses.py
  nirmaan_stack/api/outflow_import/test_unreconcile_row.py
  nirmaan_stack/api/outflow_import/unreconcile.py
  nirmaan_stack/api/outflow_import/unreconcile_cleanup.py
  nirmaan_stack/api/outflow_import/unreconcile_created.py
  nirmaan_stack/nirmaan_stack/doctype/outflow_row_match/outflow_row_match.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/backfill_outflow_match_created_flag.py
  nirmaan_stack/services/outflow_import/ledgers.py
  nirmaan_stack/services/outflow_import/test_unreconcile.py
  nirmaan_stack/services/outflow_import/unreconcile.py
Labels: UI, backend

docs(outflow-import): restore the ADR-0021 docstrings the rebase dropped
  nirmaan_stack/api/outflow_import/test_reverse_allocation.py
  nirmaan_stack/services/outflow_import/allocation.py
Labels: backend

refactor(payments): split takes the kept half's status; shared taxed Work Order payment fixture (#1284)
  .claude/context/domain/payment-tds.md
  nirmaan_stack/api/outflow_import/test_settle_payment.py
  nirmaan_stack/api/payments/taxed_work_order_fixture.py
  nirmaan_stack/api/payments/test_payment_split.py
  nirmaan_stack/api/payments/test_taxed_work_order_fixture.py
  nirmaan_stack/services/payment_split.py
Labels: backend

feat(payments): Total Unreconciled Outflow on the Payments summary card (#1286)
  .claude/context/domain/outflow-import.md
  CONTEXT.md
  frontend/src/pages/ProjectPayments/PaymentSummaryCards.tsx
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/payments/get_project_payment_summary.py
  nirmaan_stack/api/payments/test_payment_dashboard_stats.py
Labels: UI, backend

feat(outflow-import): Gross Outflow counts money out only; Gross Inflow is new (#1287) [MIGRATE]
  .claude/context/domain/outflow-import.md
  frontend/src/pages/outflow-import/components/ImportHistoryDialog.tsx
  frontend/src/pages/outflow-import/components/ImportStatementDialog.tsx
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  frontend/src/types/NirmaanStack/OutflowImportBatch.ts
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_icici_gross_outflow_patch.py
  nirmaan_stack/api/outflow_import/test_review.py
  nirmaan_stack/api/outflow_import/test_upload.py
  nirmaan_stack/api/outflow_import/upload.py
  nirmaan_stack/nirmaan_stack/doctype/outflow_import_batch/outflow_import_batch.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/recompute_icici_gross_outflow.py
  nirmaan_stack/services/outflow_import/parser.py
  nirmaan_stack/services/outflow_import/test_parser.py
Labels: UI, backend

fix(payments): withhold Work Order TDS only on approval from an earlier step (#1288)
  .claude/context/domain/outflow-import.md
  .claude/context/domain/payment-tds.md
  CONTEXT.md
  docs/adr/0021-the-statement-import-records-no-tax.md
  docs/adr/0022-unreconcile-and-unskip.md
  frontend/src/pages/outflow-import/unreconcileView.test.ts
  frontend/src/pages/outflow-import/unreconcileView.ts
  nirmaan_stack/api/outflow_import/test_unreconcile_payments.py
  nirmaan_stack/api/outflow_import/test_unreconcile_tds.py
  nirmaan_stack/integrations/controllers/project_payments.py
  nirmaan_stack/services/payment_tds.py
  nirmaan_stack/services/test_payment_tds.py
Labels: UI, backend

feat(payments): split the TDS ledger into Pending/Paid tabs, cap bulk approvals
  frontend/src/components/helpers/renderRightActionButton.tsx
  frontend/src/hooks/useServerDataTable.ts
  frontend/src/pages/PaymentTDSDeductions/PaymentTDSDeductions.tsx
  frontend/src/pages/PaymentTDSDeductions/components/PaymentTDSSummaryCard.tsx
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/ProjectPayments/approve-payments/constants.ts
Labels: UI

fix(outflow-import): code-review follow-ups on the Reconciliation Pending move (#1289)
  .claude/context/domain/outflow-import.md
  frontend/src/pages/ProjectPayments/config/projectPaymentsTable.config.ts
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  nirmaan_stack/api/outflow_import/test_settle_payment.py
  nirmaan_stack/api/outflow_import/unreconcile_split.py
  nirmaan_stack/services/outflow_import/test_unreconcile.py
  nirmaan_stack/services/outflow_import/unsplit.py
  nirmaan_stack/services/payment_split.py
  nirmaan_stack/services/po_revision_capacity.py
Labels: UI, backend

fix(approvals): move the expense CEO line to 50,000, matching payments
  .claude/context/domain/expenses.md
  frontend/src/pages/NonProjectExpenses/NonProjectExpensesPage.tsx
  frontend/src/pages/ProjectExpenses/ProjectExpensesList.tsx
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/utils/approvalTiers.test.ts
  frontend/src/utils/approvalTiers.ts
  nirmaan_stack/api/approvals/expense_actions.py
  nirmaan_stack/api/approvals/get_approval_queue.py
  nirmaan_stack/nirmaan_stack/doctype/non_project_expenses/non_project_expenses.py
  nirmaan_stack/nirmaan_stack/doctype/project_expenses/project_expenses.py
  nirmaan_stack/services/approval_tiers.py
  nirmaan_stack/services/test_approval_tiers.py
Labels: UI, backend

test(outflow-import): prove a settle recomputes vendor credit (#1289 AC)
  nirmaan_stack/api/outflow_import/test_unreconcile_cleanup.py
Labels: backend

docs(outflow-import): record the Reconciliation Pending revert target (#1291)
  .claude/context/domain/outflow-import.md
  CONTEXT.md
  docs/adr/0022-unreconcile-and-unskip.md
Labels: none

refactor(expenses): Project Expenses.amount becomes Currency, the last Data-amount ledger [MIGRATE]
  nirmaan_stack/api/approvals/get_approval_queue.py
  nirmaan_stack/api/outflow_import/cashbook.py
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_expenses.py
  nirmaan_stack/api/outflow_import/test_inflows.py
  nirmaan_stack/api/outflow_import/test_review.py
  nirmaan_stack/nirmaan_stack/doctype/project_expenses/project_expenses.json
  nirmaan_stack/services/outflow_import/candidates.py
  nirmaan_stack/services/outflow_import/ledger_read.py
  nirmaan_stack/services/outflow_import/settle.py
Labels: backend

feat(payments-expenses): click-to-open detail cards on Against / Vendor / Project, and rename Amount to Req. Amount
  frontend/src/pages/NonProjectExpenses/config/nonProjectExpensesColumns.tsx
  frontend/src/pages/ProjectExpenses/config/projectExpensesColumns.tsx
  frontend/src/pages/ProjectPayments/components/DetailPopovers.tsx
  frontend/src/pages/ProjectPayments/config/approvalColumns.tsx
  frontend/src/pages/ProjectPayments/config/approvalExportColumns.ts
Labels: UI

fix(payments): every payments tab opens newest-first
  frontend/src/pages/ProjectPayments/config/approvalColumns.tsx
  frontend/src/pages/ProjectPayments/config/approvalsTable.config.ts
Labels: UI

fix(work-orders): cap GST Work Order payment requests at the base amount
  frontend/src/pages/ProjectPayments/request-payment/RequestPaymentDialog.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
Labels: UI

fix(payments): "Open PO" opens the PO, and drop Tier from the approvals tab
  frontend/src/pages/ProjectPayments/components/DetailPopovers.tsx
  frontend/src/pages/ProjectPayments/config/approvalColumns.tsx
  frontend/src/pages/ProjectPayments/config/approvalsTable.config.ts
Labels: UI

fix(payments): show the Payment Summary card to Admin and Accountants only
  frontend/src/constants/roles.ts
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/ProjectPayments/update-payment/AccountantTabs.tsx
Labels: UI

feat(payments): bulk "Mark as Paid" on New Payments, and rename "Mark as Done" back to "Mark as Paid"
  frontend/src/pages/ProjectPayments/config/approvalColumns.tsx
  frontend/src/pages/ProjectPayments/update-payment/AccountantTabs.tsx
Labels: UI

feat(payments): live tab badges, and split the Type column into PO / SR payments
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/ProjectPayments/approve-payments/components/BulkActionBar.tsx
  frontend/src/pages/ProjectPayments/config/approvalColumns.tsx
  frontend/src/pages/ProjectPayments/config/approvalExportColumns.ts
  frontend/src/pages/ProjectPayments/config/approvalsTable.config.ts
  frontend/src/pages/ProjectPayments/config/useApprovalFacets.ts
  frontend/src/pages/ProjectPayments/hooks/useRefreshApprovalCounts.ts
  frontend/src/pages/ProjectPayments/update-payment/AccountantTabs.tsx
  nirmaan_stack/api/approvals/get_approval_queue.py
Labels: UI, backend

feat(payments): explain blocked selections, and let unbanked vendor payments be ticked
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/ProjectPayments/approve-payments/components/SelectionBlockedNotice.tsx
  frontend/src/pages/ProjectPayments/update-payment/AccountantTabs.tsx
Labels: UI

feat(work-orders): cap a vendor's GST-off Work Orders at Rs 15 lakh per financial year
  frontend/src/pages/ServiceRequests/sr-form/hooks/useVendorFYLimit.ts
  frontend/src/pages/ServiceRequests/sr-form/index.tsx
  frontend/src/pages/ServiceRequests/sr-form/steps/VendorRatesStep.tsx
  nirmaan_stack/api/service_requests/vendor_fy_limit.py
  nirmaan_stack/integrations/controllers/service_requests.py
  nirmaan_stack/services/test_wo_vendor_limit.py
  nirmaan_stack/services/wo_vendor_limit.py
Labels: UI, backend

feat(work-orders): block creating a Work Order on a CEO Hold project
  frontend/src/pages/ServiceRequests/components/NewWODialog.tsx
Labels: UI

feat(inflows): drop the Linked Invoice picker from the Record and Edit Inflow dialogs
  frontend/src/pages/inflow-payments/components/EditInflowPayment.tsx
  frontend/src/pages/inflow-payments/components/NewInflowPayment.tsx
Labels: UI

feat(outflow-import): drop the Invoice picker from the bulk-import Project Inflow form
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
Labels: UI

feat(reports): sort the Vendor Ledger report by its total columns
  frontend/src/pages/reports/components/VendorReports.tsx
  frontend/src/pages/reports/components/columns/vendorColumns.tsx
  frontend/src/pages/reports/hooks/useVendorLedgerCalculations.ts
Labels: UI
