Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

feat: Enhance work package migration to support multiple PR headers per tag package.
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/migrate_work_package_to_pr_tags.py
Labels: backend

feat: Implement PR Tag Headers with data import and add a custom print format for Project Commission Reports.
  nirmaan_stack/fixtures/pr_tag_headers.json
  nirmaan_stack/hooks.py
Labels: backend

refactor: Add type assertion for 'role' variable in sidebar menu role checks.
  frontend/src/components/layout/NewSidebar.tsx
Labels: UI

fix ui:Remove work package columns and facet filters from procurement request tables, disable project package display, and refine header tag UI in item selector controls..
  frontend/src/pages/ProcurementRequests/ApproveNewPR/approve-pr.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/ItemSelectorControls.tsx
  frontend/src/pages/ProcurementRequests/procurement-requests.tsx
Labels: UI

feat: Add new dashboard cards for Commission Packages and Work Order Rate Card, and update corresponding sidebar icons.
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/layout/dashboards/dashboard-default.tsx
Labels: UI

feat: Improve PR header selection UI with a new card design and display custom headers as styled tags in the procurement card.
  frontend/src/components/helpers/ProcurementHeaderCard.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/WorkPackageSelector.tsx
Labels: UI

Refactor: Redesign the PRTagMobileCard component's UI and styling, and pass project data to PRCriticalTagsList.
  frontend/src/pages/PRTracker/components/PRCriticalTagsList.tsx
  frontend/src/pages/PRTracker/components/PRProjectCard.tsx
  frontend/src/pages/PRTracker/pr-tracker-detail.tsx
Labels: UI

Fix: Remove fallback assignment for procurement_package in SB vendor quotes API.
  nirmaan_stack/api/approve_reject_sb_vendor_quotes.py
Labels: backend

feat: Implement derived status filtering on the backend and display status counts in the frontend PR summary table.
  frontend/src/pages/projects/components/ProjectPRSummaryTable.tsx
  nirmaan_stack/api/projects/pr_summary.py
Labels: UI, backend

feat: Extract PR critical tags summary into a dedicated component and update PR links to include project ID.
  frontend/src/pages/PRTracker/components/PRCriticalTagsList.tsx
  frontend/src/pages/PRTracker/components/PRCriticalTagsSummary.tsx
  frontend/src/pages/PRTracker/components/PRCriticalTagsTable.tsx
  frontend/src/pages/PRTracker/components/PRTagTableColumns.tsx
  frontend/src/pages/PRTracker/pr-tracker-detail.tsx
Labels: UI

feat: PR Headers Columns Added Pr Tables with Facelt options ...
  frontend/src/pages/ProcurementRequests/ApproveNewPR/approve-pr.tsx
  frontend/src/pages/ProcurementRequests/config/prTable.config.ts
  frontend/src/pages/ProcurementRequests/procurement-requests.tsx
  nirmaan_stack/api/data_table/facets.py
Labels: UI, backend

feat(gst): centralize project GST management with dynamic lookup and premium UI
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/project-gst-form.tsx
  frontend/src/hooks/useGstOptions.ts
  frontend/src/pages/ProjectGst/ProjectGstPage.tsx
  frontend/src/types/NirmaanStack/ProjectGST.ts
  nirmaan_stack/nirmaan_stack/doctype/project_gst/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/project_gst/project_gst.js
  nirmaan_stack/nirmaan_stack/doctype/project_gst/project_gst.json
  nirmaan_stack/nirmaan_stack/doctype/project_gst/project_gst.py
  nirmaan_stack/nirmaan_stack/doctype/project_gst/test_project_gst.py
Labels: UI, backend

refactor(print): migrate Jinja templates to dynamic GST system Header and Address (default Bengaluru)
  nirmaan_stack/fixtures/print_format.json
Labels: backend

feat: Dynamically resolve company GST addresses in SR and PO PDFs sheet and RFQ dialog using a new `useGstOptions` hook.
  frontend/src/hooks/useGstOptions.ts
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPdf.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/GenerateRFQDialog.tsx
  frontend/src/pages/ServiceRequests/service-request/SRPdf.tsx
Labels: UI

fix: allowed bulk imports for WO Rate Card Doctypes
  nirmaan_stack/nirmaan_stack/doctype/wo_service_category/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/wo_service_category/wo_service_category.json
  nirmaan_stack/nirmaan_stack/doctype/wo_service_item/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/wo_service_item/wo_service_item.json
Labels: backend

merge changes and vendor hold initialization
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPaymentTermsCard.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/ApproveRejectVendorQuotesContainer.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/ApproveRejectVendorQuotesView.tsx
  frontend/src/pages/vendors/VendorsPage.tsx
  frontend/src/pages/vendors/new-vendor.tsx
  frontend/src/pages/vendors/vendor.tsx
  frontend/src/pages/vendors/vendors.constants.ts
  frontend/src/types/NirmaanStack/Vendors.ts
  nirmaan_stack/api/create_vendor_and_address.py
  nirmaan_stack/api/handle_cancel_po.py
  nirmaan_stack/api/po_adjustments/adjustment_logic.py
  nirmaan_stack/api/po_merge_and_unmerge.py
  nirmaan_stack/api/po_revisions/revision_logic.py
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/delivery_notes.py
  nirmaan_stack/integrations/controllers/procurement_orders.py
  nirmaan_stack/integrations/controllers/project_payments.py
  nirmaan_stack/nirmaan_stack/doctype/project_payments/project_payments.py
  nirmaan_stack/nirmaan_stack/doctype/vendors/vendors.json
  nirmaan_stack/patches.txt
Labels: UI, backend

feat: Vendor Credit Calculation and On-Hold Status changes
  frontend/src/components/ui/vendor-hold-banner.tsx
  frontend/src/hooks/useVendorHoldGuard.ts
  frontend/src/hooks/useVendorHoldVendors.ts
  frontend/src/pages/vendors/components/EditCreditLimitDialog.tsx
  frontend/src/pages/vendors/components/VendorCreditLedgerTable.tsx
  frontend/src/pages/vendors/components/VendorCreditManagementCard.tsx
  frontend/src/utils/vendorHoldRowStyles.ts
  nirmaan_stack/api/vendor_credit.py
  nirmaan_stack/nirmaan_stack/doctype/vendor_credit_ledger/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/vendor_credit_ledger/vendor_credit_ledger.json
  nirmaan_stack/nirmaan_stack/doctype/vendor_credit_ledger/vendor_credit_ledger.py
  nirmaan_stack/patches/v3_0/add_vendor_credit_fields.py
  nirmaan_stack/tasks/vendor_credit_update.py
Labels: UI, backend

feat:Start-convert Project Json to data Field and include they Patch files
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/migrate_project_gst.py
Labels: backend

refactor: Simplify Project GST field handling from JSON object to direct string value across backend and frontend.
  frontend/src/hooks/useGstOptions.ts
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPaymentTermsCard.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/GenerateRFQDialog.tsx
  frontend/src/pages/ServiceRequests/service-request/new-service-request.tsx
  frontend/src/pages/ServiceRequests/sr-form/hooks/useSRFormData.ts
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  frontend/src/pages/projects/edit-project-form.tsx
  frontend/src/pages/projects/project-form/index.tsx
  frontend/src/pages/projects/project-form/schema.ts
  frontend/src/pages/projects/project-form/steps/ProjectDetailsStep.tsx
  frontend/src/pages/projects/project-form/steps/ReviewStep.tsx
  frontend/src/pages/projects/validation/projectSchemas.ts
  frontend/src/types/NirmaanStack/Projects.ts
  frontend/src/zustand/useProjectDraftStore.ts
  nirmaan_stack/api/approve_reject_sb_vendor_quotes.py
  nirmaan_stack/api/approve_vendor_quotes.py
  nirmaan_stack/api/projects/new_project.py
Labels: UI, backend

refactor: Modularized print format header using macro with Project GST-based address resolution.
  nirmaan_stack/fixtures/print_format.json
Labels: backend

doc: claude file additions
  CLAUDE.md
  frontend/.claude/context/domain/vendor-hold.md
  frontend/CLAUDE.md
Labels: none

feat(reports): initialize project gst report and monthly aggregation hooks
  frontend/src/pages/reports/ReportsContainer.tsx
  frontend/src/pages/reports/components/ProjectGSTReport.tsx
  frontend/src/pages/reports/components/ProjectReports.tsx
  frontend/src/pages/reports/hooks/useProjectGSTData.ts
  frontend/src/pages/reports/store/useReportStore.ts
  nirmaan_stack/api/reports/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/project_invoices/project_invoices.json
Labels: UI, backend

Implement PMO Dashboard with task management, project tracking.
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/pmo-packages.tsx
  frontend/src/pages/PMODashboard/components/EditTaskModal.tsx
  frontend/src/pages/PMODashboard/components/PMOPackagesMaster.tsx
  frontend/src/pages/PMODashboard/pmo-dashboard-list.tsx
  frontend/src/pages/PMODashboard/pmo-project-detail.tsx
  nirmaan_stack/api/pmo_dashboard.py
  nirmaan_stack/nirmaan_stack/doctype/pmo_project_task/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/pmo_project_task/pmo_project_task.json
  nirmaan_stack/nirmaan_stack/doctype/pmo_project_task/pmo_project_task.py
  nirmaan_stack/nirmaan_stack/doctype/pmo_task_category/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/pmo_task_category/pmo_task_category.json
  nirmaan_stack/nirmaan_stack/doctype/pmo_task_category/pmo_task_category.py
  nirmaan_stack/nirmaan_stack/doctype/pmo_task_master/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/pmo_task_master/pmo_task_master.json
  nirmaan_stack/nirmaan_stack/doctype/pmo_task_master/pmo_task_master.py
Labels: UI, backend

feat: implement GST-based filtering for project invoices and add migration patch for project_gst field
  frontend/src/pages/reports/components/ProjectGSTReport.tsx
  frontend/src/pages/reports/hooks/useProjectGSTData.ts
  frontend/src/types/NirmaanStack/ProjectInvoice.ts
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/migrate_project_invoices_gst.py
Labels: UI, backend

fix: invert GST calculation and label to reflect GST PAY(Client Invoices GST - Vendor Invoices GST)...
  frontend/src/pages/reports/components/ProjectGSTReport.tsx
  frontend/src/pages/reports/hooks/useProjectGSTData.ts
Labels: UI

feat: Added Project Gst Doc json ..add Project GST fixture and register it in hooks
  nirmaan_stack/fixtures/project_gst.json
  nirmaan_stack/hooks.py
Labels: backend

fix PMO Task Master on edit created new category and task and add alpabatic arrange for category and task
  frontend/src/pages/PMODashboard/components/PMOPackagesMaster.tsx
  nirmaan_stack/api/pmo_dashboard.py
  nirmaan_stack/api/pmo_sync.py
  nirmaan_stack/hooks.py
  nirmaan_stack/nirmaan_stack/doctype/pmo_project_task/pmo_project_task.json
  verify_pmo_fix.py
Labels: UI, backend

change postion for pmo dashboard and add pmo packages card in dashboard
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/layout/dashboards/dashboard-default.tsx
Labels: UI

Fix update commission report logic to use project handover date and reorganize sidebar access for work order rate card
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/CommissionReport/components/NewTrackerModal.tsx
  frontend/src/pages/projects/project.tsx
  nirmaan_stack/api/commission_report/tracker_options.py
Labels: UI, backend

feat: implement automatic A4 page resizing for merged PDFs and add conversion progress UI to TDSRepositoryView....
  frontend/src/pages/projects/TDSRepository/TDSRepositoryView.tsx
  nirmaan_stack/api/pdf_helper/pdf_merger_api.py
Labels: UI, backend

refactor: remove category_list reads/writes from backend APIs and hide doctype fields
  nirmaan_stack/api/approve_reject_sb_vendor_quotes.py
  nirmaan_stack/api/custom_pr_api.py
  nirmaan_stack/api/handle_cancel_po.py
  nirmaan_stack/api/reject_vendor_quotes.py
  nirmaan_stack/api/send_vendor_quotes.py
  nirmaan_stack/integrations/controllers/delete_doc_versions.py
  nirmaan_stack/nirmaan_stack/doctype/procurement_orders/procurement_orders.json
  nirmaan_stack/nirmaan_stack/doctype/procurement_requests/procurement_requests.json
  nirmaan_stack/nirmaan_stack/doctype/sent_back_category/sent_back_category.json
Labels: backend

feat: add CRUD permissions for all Nirmaan roles to PR Tag Headers doctype
  nirmaan_stack/nirmaan_stack/doctype/pr_tag_headers/pr_tag_headers.json
Labels: backend

fix: recalculate po_amount_delivered to include Additional Charges
  CLAUDE.md
  frontend/src/pages/projects/components/ProjectPRSummaryTable.tsx
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/recalculate_po_amount_delivered_with_ac.py
Labels: UI, backend

refactor: remove category_list from ApproveNewPR approval flow
  frontend/src/hooks/useApproveNewPRDraftManager.ts
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRContainer.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRView.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/AddItemForm.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/EditItemDialog.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useApprovePRLogic.ts
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useCategoryList.ts
  frontend/src/pages/ProcurementRequests/ApproveNewPR/types/index.ts
  frontend/src/zustand/useApproveNewPRDraftStore.ts
Labels: UI

refactor: remove category_list from NewPR creation flow
  frontend/src/pages/ProcurementRequests/NewPR/NewCustomPR.tsx
  frontend/src/pages/ProcurementRequests/NewPR/NewProcurementRequestPage.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/EditItemDialog.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/ItemSelectorControls.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/NewItemDialog.tsx
  frontend/src/pages/ProcurementRequests/NewPR/hooks/useSubmitProcurementRequest.ts
  frontend/src/pages/ProcurementRequests/NewPR/types/index.ts
Labels: UI

refactor: migrate NewPR to useItemCatalog with tokenSearchConfig
  frontend/src/pages/ProcurementRequests/NewPR/NewProcurementRequestPage.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/EditItemDialog.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/ItemSelectorControls.tsx
  frontend/src/pages/ProcurementRequests/NewPR/hooks/useProcurementRequestData.ts
  frontend/src/pages/ProcurementRequests/NewPR/hooks/useProcurementRequestForm.ts
Labels: UI

refactor: migrate PO Revision to useItemCatalog with FuzzySearchSelect
  frontend/src/pages/PORevision/PORevisionDialog.tsx
  frontend/src/pages/PORevision/components/Step1/AddChargeDialog.tsx
  frontend/src/pages/PORevision/components/Step1/AddNewItemDialog.tsx
  frontend/src/pages/PORevision/components/Step1/Step1ReviseItems.tsx
  frontend/src/pages/PORevision/hooks/usePORevision.ts
Labels: UI

feat: create useMakeOptions hook, refactor vendor selection with project-qualified makes
  frontend/src/hooks/useMakeOptions.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgressContainer.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgressView.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/GenerateRFQDialog.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/ItemVendorMakeSelection.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useProcurementProgressLogic.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useRFQManager.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/types/index.ts
Labels: UI

feat: create useItemCatalog shared hook for standardized item fetching
  frontend/src/hooks/useItemCatalog.ts
Labels: UI

refactor: migrate ApproveNewPR to useItemCatalog with tokenSearchConfig
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRContainer.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRView.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/AddItemForm.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useApprovePRLogic.ts
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useRelatedPRData.ts
Labels: UI

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
