Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

docs: claude docs updated
  frontend/.claude/CHANGELOG.md
  frontend/.claude/context/_index.md
  frontend/.claude/context/domain/milestones.md
Labels: none

fix: work package link to design categories
  nirmaan_stack/nirmaan_stack/doctype/design_tracker_category/design_tracker_category.json
Labels: backend

WIp: Scrollable in mobile and Followed they Inflow Image Replacement Method
  frontend/src/pages/tds/components/AddTDSItemDialog.tsx
  frontend/src/pages/tds/components/EditTDSItemDialog.tsx
Labels: UI

feat: Removing Images from "File" Doctype also , In Dialog Give Option to Replace and Download , remove
  frontend/src/pages/tds/components/AddTDSItemDialog.tsx
  frontend/src/pages/tds/components/EditTDSItemDialog.tsx
Labels: UI

fix: removing fetch and using useFrappeGetDocList , for Pattern use this Project
  frontend/src/pages/tds/components/AddTDSItemDialog.tsx
  frontend/src/pages/tds/components/EditTDSItemDialog.tsx
Labels: UI

feat: Export For TDS Fix Item_name and remove Actions Columns
  frontend/src/pages/tds/TDSRepositoryMaster.tsx
Labels: UI

fix:After merge Error fix:
  frontend/src/components/layout/NewSidebar.tsx
Labels: UI

fix: Zone Tab Enable in Both Overview and Planning tab
  frontend/src/pages/projects/components/planning/SevendaysWorkPlan.tsx
  frontend/src/pages/projects/components/planning/WorkPlanOverview.tsx
  frontend/src/pages/tds/TDSRepositoryMaster.tsx
Labels: UI

fix(design-tracker): update DesignTrackerTask type definitions
  frontend/src/pages/ProjectDesignTracker/types/index.ts
Labels: UI

feat(design-tracker): add smart zone handling to Create Design Tracker dialog
  frontend/src/pages/ProjectDesignTracker/components/NewTrackerModal.tsx
Labels: UI

feat(project-form): add Design Packages setup to project creation wizard
  frontend/src/components/ui/project-creation-dialog.tsx
  frontend/src/pages/projects/project-form/hooks/useProjectFormData.ts
  frontend/src/pages/projects/project-form/index.tsx
  frontend/src/pages/projects/project-form/schema.ts
  frontend/src/pages/projects/project-form/steps/PackageSelectionStep.tsx
  frontend/src/pages/projects/project-form/steps/ReviewStep.tsx
Labels: UI

Fix: PM Removed ,Item Price search in dashboards and sidebar
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/layout/dashboards/dashboard-pm.tsx
Labels: UI

feat: Work Planning PM View Implementedion and Zone Based Work Planning
  frontend/src/pages/projects/components/planning/SevendaysWorkPlan.tsx
  frontend/src/pages/projects/components/planning/WorkPlanOverview.tsx
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

feat(design-tracker): add Work Package linking to Design Packages master
  frontend/src/pages/ProjectDesignTracker/components/DesignPackagesmaster.tsx
Labels: UI

feat(project-form): add Critical PO Categories setup to project creation wizard
  frontend/src/components/ui/project-creation-dialog.tsx
  frontend/src/pages/projects/project-form/hooks/useProjectFormData.ts
  frontend/src/pages/projects/project-form/index.tsx
  frontend/src/pages/projects/project-form/schema.ts
  frontend/src/pages/projects/project-form/steps/PackageSelectionStep.tsx
  frontend/src/pages/projects/project-form/steps/ReviewStep.tsx
  nirmaan_stack/nirmaan_stack/doctype/critical_po_category/critical_po_category.json
Labels: UI, backend

feat:For PM Edit and Admin Edit enable
  frontend/src/pages/projects/components/planning/CreateWorkplantask.tsx
  frontend/src/pages/projects/components/planning/ProjectManagerEditWorkPlanDialog.tsx
  frontend/src/pages/projects/components/planning/SevendaysWorkPlan.tsx
  nirmaan_stack/nirmaan_stack/doctype/work_plan/work_plan.json
Labels: UI, backend

fix: Overview Work plan UI fix
  frontend/src/pages/projects/components/planning/SevendaysWorkPlan.tsx
  frontend/src/pages/projects/components/planning/WorkPlanOverview.tsx
Labels: UI

refactor(critical-po): update category selection dialogs with button grid UI
  frontend/src/pages/projects/CriticalPOTasks/NoCriticalPOTasksView.tsx
  frontend/src/pages/projects/CriticalPOTasks/components/ManageSetupDialog.tsx
Labels: UI

feat(critical-po): add Work Package linking to Critical PO Categories master
  frontend/src/pages/CriticalPOCategories/components/CriticalPOCategoriesMaster.tsx
Labels: UI

fix: UI
  frontend/src/pages/projects/components/planning/ProjectManagerEditWorkPlanDialog.tsx
  frontend/src/pages/projects/components/planning/SevendaysWorkPlan.tsx
Labels: UI

fix: Work plan and Work Plan buffer and WO orders with based gst
  nirmaan_stack/fixtures/print_format.json
Labels: backend

feat(dispatch-po): add Critical PO Task linking to PO dispatch workflow
  frontend/src/pages/ProcurementOrders/purchase-order/components/CriticalPOTaskLinkingSection.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/LinkedCriticalPOTag.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POItemsHoverCard.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/hooks/useCriticalPOTaskLinking.ts
Labels: UI

feat(sidebar): add Projects, Products, Vendors access for Procurement Executive role
  frontend/src/components/layout/NewSidebar.tsx
Labels: UI

refactor(dashboard): redesign procurement dashboard with modern card layout
  frontend/src/components/layout/dashboards/procurement-dashboard.tsx
Labels: UI

docs: update context documentation for Critical PO features
  frontend/.claude/CHANGELOG.md
  frontend/.claude/context/_index.md
  frontend/.claude/context/role-access.md
Labels: none

feat(projects): add tab restrictions for Procurement Executive role
  frontend/src/pages/projects/project.tsx
Labels: UI

feat(po-summary): add Total Liabilities computed column
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
Labels: UI

feat(po-tracker): add PO Tracker module for critical PO task tracking
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/CriticalPOTracker/components/CriticalPOProjectCard.tsx
  frontend/src/pages/CriticalPOTracker/critical-po-tracker-detail.tsx
  frontend/src/pages/CriticalPOTracker/critical-po-tracker-list.tsx
  frontend/src/pages/CriticalPOTracker/index.tsx
  frontend/src/pages/CriticalPOTracker/types/index.ts
  frontend/src/pages/CriticalPOTracker/utils.ts
  nirmaan_stack/api/critical_po_tasks/get_projects_with_stats.py
Labels: UI, backend

feat(project-form): add Customer PO button and fix dialog layout
  frontend/src/components/ui/project-creation-dialog.tsx
  frontend/src/pages/projects/project-form/index.tsx
Labels: UI

feat(reports): add 2B Reconcile Report for PO and WO tabs
  frontend/src/pages/reports/ReportsContainer.tsx
  frontend/src/pages/reports/components/PO2BReconcileReport.tsx
  frontend/src/pages/reports/components/POReports.tsx
  frontend/src/pages/reports/components/SR2BReconcileReport.tsx
  frontend/src/pages/reports/components/SRReports.tsx
  frontend/src/pages/reports/components/columns/po2BReconcileColumns.tsx
  frontend/src/pages/reports/components/columns/sr2BReconcileColumns.tsx
  frontend/src/pages/reports/config/po2BReconcileTable.config.ts
  frontend/src/pages/reports/config/sr2BReconcileTable.config.ts
  frontend/src/pages/reports/hooks/usePO2BReconcileData.ts
  frontend/src/pages/reports/hooks/useSR2BReconcileData.ts
  frontend/src/pages/reports/store/useReportStore.ts
Labels: UI

fix: claude files and ui rectifications
  frontend/.claude/plans/critical-po-setup-plan.md
  frontend/.claude/plans/critical-po-tracker-project-view.md
  frontend/src/components/helpers/renderRightActionButton.tsx
Labels: UI

fix: work plan field name changes
  frontend/src/pages/projects/components/planning/CreateWorkplantask.tsx
  frontend/src/pages/projects/components/planning/SevendaysWorkPlan.tsx
  frontend/src/pages/projects/components/planning/WorkPlanOverview.tsx
Labels: UI

feat(work-plan-tracker): add Work Plan Tracker module for tracking work plans across projects
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/layout/dashboards/dashboard-pl.tsx
  frontend/src/components/layout/dashboards/dashboard-pm.tsx
  frontend/src/pages/WorkPlanTracker/components/WorkPlanProjectCard.tsx
  frontend/src/pages/WorkPlanTracker/types/index.ts
  frontend/src/pages/WorkPlanTracker/utils.ts
  frontend/src/pages/WorkPlanTracker/work-plan-tracker-detail.tsx
  frontend/src/pages/WorkPlanTracker/work-plan-tracker-list.tsx
  nirmaan_stack/api/seven_days_planning/get_projects_with_stats.py
Labels: UI, backend

docs: update changelog with Work Plan Tracker module
  .claude/CHANGELOG.md
Labels: none

feat(projects): add role-based column visibility for financial data
  frontend/src/pages/projects/projects.tsx
Labels: UI

fix: access restriction to critical po actions and po remarks actions
  frontend/src/pages/ProcurementOrders/purchase-order/components/LinkedCriticalPOTag.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PORemarks.tsx
  frontend/src/pages/projects/CriticalPOTasks/CriticalPOTasksList.tsx
  frontend/src/pages/projects/CriticalPOTasks/CriticalPOTasksTab.tsx
  frontend/src/pages/projects/CriticalPOTasks/components/LinkedPOsColumn.tsx
  frontend/src/pages/projects/project.tsx
Labels: UI

feat(delivery-notes): show delivery date in print format for individual DNs
  frontend/src/pages/DeliveryNotes/components/DeliveryHistory.tsx
  frontend/src/pages/DeliveryNotes/components/DeliveryNotePrintLayout.tsx
  frontend/src/pages/DeliveryNotes/deliverynote.tsx
  frontend/src/pages/DeliveryNotes/hooks/usePrintHistroy.tsx
Labels: UI

feat(delivery-notes): hide ordered quantity column from item list
  frontend/src/pages/DeliveryNotes/components/deliveryNoteItemsDisplay.tsx
Labels: UI

feat(purchase-orders): restrict Print/Download buttons for Project Manager role
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPdf.tsx
Labels: UI

chore claude file changes
  frontend/.claude/CHANGELOG.md
  frontend/.claude/plans/work-plan-tracker.md
Labels: none

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
