Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

feat: Add estimated PO amount field to cashflow forms, update related labels and validation, and enhance button styling with icons.
  frontend/src/pages/projects/CashflowPlan/POCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/components/AddPOCashflowForm.tsx
  frontend/src/pages/projects/CashflowPlan/components/EditPOCashflowForm.tsx
  frontend/src/pages/projects/CashflowPlan/components/ReviewPOCashflowPage.tsx
Labels: UI

feat: Enhance Cashflow Plan forms with improved WO description fallback logic, UI refinements, and updated button text.
  frontend/src/pages/projects/CashflowPlan/WOCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/components/AddWOCashflowForm.tsx
  frontend/src/pages/projects/CashflowPlan/components/EditWOCashflowForm.tsx
Labels: UI

feat: Enhance cashflow plan forms (INLFOW and MISC) and buttons with new icons, clearer text, and required field indicators.
  frontend/src/pages/projects/CashflowPlan/InflowCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/MiscCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/components/AddEditInflowCashflowForm.tsx
  frontend/src/pages/projects/CashflowPlan/components/AddEditMiscCashflowForm.tsx
Labels: UI

feat: Replace native browser confirm dialog with a custom AlertDialog component for cashflow plan deletions across various modules.
  frontend/src/pages/projects/CashflowPlan/InflowCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/MiscCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/POCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/WOCashflow.tsx
Labels: UI

feat: Enhanced Vendor Handling and Cashflow Validation
  frontend/src/pages/projects/CashflowPlan/POCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/WOCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/components/AddEditInflowCashflowForm.tsx
  frontend/src/pages/projects/CashflowPlan/components/AddEditMiscCashflowForm.tsx
  frontend/src/pages/projects/CashflowPlan/components/AddPOCashflowForm.tsx
  frontend/src/pages/projects/CashflowPlan/components/AddWOCashflowForm.tsx
  frontend/src/pages/projects/CashflowPlan/components/EditPOCashflowForm.tsx
  frontend/src/pages/projects/CashflowPlan/components/EditWOCashflowForm.tsx
  frontend/src/pages/projects/CashflowPlan/components/ReviewPOCashflowPage.tsx
  nirmaan_stack/api/seven_days_planning/material_plan_api.py
  nirmaan_stack/nirmaan_stack/doctype/cashflow_plan/cashflow_plan.json
Labels: UI, backend

feat: Updated Project Progress Reports UI for Assignees column
  frontend/src/pages/reports/components/ProjectProgressReports.tsx
Labels: UI

feat: Added Assignees column with improved tooltip UI to PO and Project Progress reports
  frontend/src/pages/reports/components/ProjectProgressReports.tsx
  frontend/src/pages/reports/components/columns/poColumns.tsx
  frontend/src/pages/reports/hooks/usePOReportsData.ts
Labels: UI

feat: implement reusable Project Assignees architecture
  frontend/src/components/common/ProjectTeamHoverCard.tsx
  frontend/src/components/common/assigneesTableColumns.tsx
  frontend/src/hooks/useProjectAssignees.ts
Labels: UI

feat: integrate reusable Assignees column into reports
  frontend/src/pages/reports/components/POAttachmentReconcileReport.tsx
  frontend/src/pages/reports/components/POReports.tsx
  frontend/src/pages/reports/components/ProjectProgressReports.tsx
  frontend/src/pages/reports/components/columns/poColumns.tsx
  frontend/src/pages/reports/hooks/usePOReportsData.ts
Labels: UI

chore: update Project TDS Item List doctype for BOQ Line Item
  nirmaan_stack/nirmaan_stack/doctype/project_tds_item_list/project_tds_item_list.json
Labels: backend

feat: implement BOQ Line Item validation (300 chars), display icons, export updates, and mobile scroll fix
  frontend/src/pages/projects/TDSRepository/TDSRepositoryView.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsCreateForm.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsHistoryTable.tsx
  frontend/src/pages/tds/TDSApprovalDetail.tsx
  frontend/src/pages/tds/components/ProjectEditTDSItemModal.tsx
Labels: UI

feat:in TDS export pdf print add new row for BOQ Line Items display
  nirmaan_stack/fixtures/print_format.json
Labels: backend

feat: Item in PO
  frontend/src/pages/ProcurementOrders/purchase-order/config/purchaseOrdersTable.config.ts
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
Labels: UI

feat: Item in WO
  frontend/src/pages/ServiceRequests/config/srTable.config.ts
  frontend/src/pages/projects/components/ProjectSRSummaryTable.tsx
Labels: UI

feat: Item in SB
  frontend/src/pages/Sent Back Requests/config/sentBackCategoryTables.config.ts
Labels: UI

feat: Item in PR and newbar include tab
  frontend/src/pages/ProcurementRequests/config/prTable.config.ts
  frontend/src/pages/projects/components/ProjectPRSummaryTable.tsx
Labels: UI

fix(payments): set 'Payment (UTR)' as default search for Project and Inflow payments
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/inflow-payments/config/inflowPaymentsTable.config.ts
  frontend/src/pages/reports/config/inflowPaymentsTable.config.ts
Labels: UI

feat: Update default search fields for PO and SR reports to vendor name .
  frontend/src/pages/reports/config/poAttachmentReconcileTable.config.ts
  frontend/src/pages/reports/config/poReportsTable.config.ts
  frontend/src/pages/reports/config/srReportsTable.config.ts
Labels: UI

fix: Add master reference for search options and update TDS approval search implementation.
  frontend/src/pages/tds/TDSApprovalList.tsx
  nirmaan_stack/api/tds/get_tds_requests.py
Labels: UI, backend

fix: Pass `projectId` to CashflowPlan deatils (because export need project id ), add loading states to its export button.
  frontend/src/pages/CashflowPlanTracker/cashflow-plan-tracker-detail.tsx
  frontend/src/pages/projects/CashflowPlan/CashflowPlan.tsx
Labels: UI

fix: use vendor_name in Cashflow export,Replaced vendor ID with vendor_name to support manual vendor entries. Reordered vendor_name field to the top of the show doclist view.
  nirmaan_stack/fixtures/print_format.json
  nirmaan_stack/nirmaan_stack/doctype/cashflow_plan/cashflow_plan.json
Labels: backend

fix: EditWoCashform reactselect drop hide behind they footer of dialog fixed . And PO Cashflow Mobile view fixed card overflow right side ....
  frontend/src/pages/projects/CashflowPlan/POCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/components/EditWOCashflowForm.tsx
Labels: UI

fix: optional vendor nickname & swap display name
  frontend/src/pages/vendors/edit-vendor.tsx
  frontend/src/pages/vendors/new-vendor.tsx
  frontend/src/pages/vendors/vendor.tsx
Labels: UI

refactor: Remove redundant `getPOTotal` and `getPOSTotals` utility functions, directly using PO `total_amount` fields for calculations and updating related UI text.
  frontend/src/hooks/useOrderTotals.ts
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPdf.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/reports/hooks/useProjectReportCalculations.ts
  frontend/src/pages/reports/hooks/useVendorLedgerCalculations.ts
  frontend/src/utils/getAmounts.ts
Labels: UI

feat: Replace Ant Design Radio.Group with custom Tailwind tabs and add "Inflow" and "Client PO" sections to Project Financials.
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
Labels: UI

fix: WO flow improvements - GST validation, creation auto-fill cleanup, amendment terminology
  frontend/src/pages/ServiceRequests/service-request/approve-amended-sr.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/pages/ServiceRequests/service-request/components/SRDetailsCard.tsx
  frontend/src/pages/ServiceRequests/service-request/new-service-request.tsx
  nirmaan_stack/api/sr_finalize.py
Labels: UI, backend

docs: add react-select in Radix UI dialogs pattern to CLAUDE.md
  frontend/CLAUDE.md
Labels: none

feat: add enterprise theming and portal support for react-select
  frontend/src/components/custom-select/project-select.tsx
  frontend/src/components/ui/fuzzy-search-select.tsx
  frontend/src/config/selectTheme.ts
  frontend/src/pages/ProjectExpenses/components/NewProjectExpenseDialog.tsx
  frontend/src/pages/ProjectInvoices/components/NewProjectInvoiceDialog.tsx
  frontend/src/pages/ServiceRequests/components/NewWODialog.tsx
  frontend/src/pages/inflow-payments/components/NewInflowPayment.tsx
Labels: UI

feat: add new Work Order creation wizard with step-based flow
  frontend/src/pages/ServiceRequests/sr-form/amend/SRAmendPage.tsx
  frontend/src/pages/ServiceRequests/sr-form/amend/SRAmendSheet.tsx
  frontend/src/pages/ServiceRequests/sr-form/amend/index.ts
  frontend/src/pages/ServiceRequests/sr-form/amend/transformers.ts
  frontend/src/pages/ServiceRequests/sr-form/amend/useSRAmendForm.ts
  frontend/src/pages/ServiceRequests/sr-form/components/ServiceItemsAccordion.tsx
  frontend/src/pages/ServiceRequests/sr-form/components/index.ts
  frontend/src/pages/ServiceRequests/sr-form/constants.ts
  frontend/src/pages/ServiceRequests/sr-form/hooks/useSRAmendData.ts
  frontend/src/pages/ServiceRequests/sr-form/hooks/useSRFormData.ts
  frontend/src/pages/ServiceRequests/sr-form/index.tsx
  frontend/src/pages/ServiceRequests/sr-form/schema.ts
  frontend/src/pages/ServiceRequests/sr-form/steps/ReviewStep.tsx
  frontend/src/pages/ServiceRequests/sr-form/steps/ServiceItemsStep.tsx
  frontend/src/pages/ServiceRequests/sr-form/steps/VendorRatesStep.tsx
  frontend/src/pages/ServiceRequests/sr-form/steps/index.ts
Labels: UI

fix: handle service_order_list parsing defensively in ServiceRequests doctype
  nirmaan_stack/nirmaan_stack/doctype/service_requests/service_requests.py
Labels: backend

feat: add FormResetWarningDialog for unsaved changes warning
  frontend/src/components/ui/form-reset-warning-dialog.tsx
Labels: UI

feat: add step-based Service Request form wizard
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/pages/ServiceRequests/approved-sr/ApprovedSRView.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-service-request.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/pages/ServiceRequests/service-request/select-service-vendor-list.tsx
Labels: UI

feat: add New WO dialog trigger from service requests page
  frontend/src/components/helpers/renderRightActionButton.tsx
  frontend/src/zustand/useDialogStore.ts
Labels: UI

feat: add draft persistence and editing lock for Approve PR
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRView.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/EditingLockIndicator.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useApprovePRLogic.ts
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useEditingLock.ts
  frontend/src/zustand/useApproveNewPRDraftStore.ts
Labels: UI

refactor: integrate new WO wizard route and clean up dialogs
  frontend/src/pages/ServiceRequests/ServiceRequestsTabs.tsx
  frontend/src/pages/ServiceRequests/components/NewWODialog.tsx
Labels: UI

feat: improve Approve PR flow UI/UX and fix undo bug
  frontend/src/components/ui/draft-resume-dialog.tsx
  frontend/src/hooks/useApproveNewPRDraftManager.ts
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRContainer.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/ActionButtons.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/ApprovePRHeader.tsx
Labels: UI

feat: add backend API for PR editing lock
  nirmaan_stack/api/pr_editing_lock.py
Labels: backend

feat: add customizable title prop to DraftCancelDialog
  frontend/src/components/ui/draft-cancel-dialog.tsx
Labels: UI

fix: Separate Invoice Preview and Download actions in DocumentAttachments
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
Labels: UI

fix: Auto-close Date Picker in ReviewPlansPage
  frontend/src/pages/projects/components/planning/ReviewPlansPage.tsx
Labels: UI

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
