Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

feat: enhance PDF download validation and confirmation
  frontend/src/pages/Manpower-and-WorkMilestones/components/PDFDownloadButtons.tsx
Labels: UI

feat(material-plan): Enhanced Critical PO workflow with item selection
  frontend/src/pages/projects/components/planning/AddMaterialPlanForm.tsx
  frontend/src/pages/projects/components/planning/AllPOsModal.tsx
  frontend/src/pages/projects/components/planning/CategoryTaskSelector.tsx
  frontend/src/pages/projects/components/planning/ReviewPlansPage.tsx
Labels: UI

feat: Add Material Plan Tracker with delivery status tracking
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/MaterialPlanTracker/components/MaterialPlanProjectCard.tsx
  frontend/src/pages/MaterialPlanTracker/material-plan-tracker-detail.tsx
  frontend/src/pages/MaterialPlanTracker/material-plan-tracker-list.tsx
  frontend/src/pages/MaterialPlanTracker/types/index.ts
  frontend/src/pages/MaterialPlanTracker/utils.ts
  nirmaan_stack/api/seven_days_planning/get_projects_material_plan_stats.py
Labels: UI, backend

feat: Update report title and PDF filename to reflect a 14-day (overall)scope.
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReport.tsx
Labels: UI

fic:In DPR Report Work Progress ,Table unbreakable to breakable
  nirmaan_stack/fixtures/print_format.json
Labels: backend

docs: update context documentation for Vendor Invoices feature
  .claude/CHANGELOG.md
  frontend/.claude/CHANGELOG.md
  frontend/.claude/context/domain/invoices.md
Labels: none

fix(reports): update Pending Invoices filter to use totalAmount vs invoiceAmount
  frontend/src/pages/reports/components/POReports.tsx
  frontend/src/pages/reports/components/SRReports.tsx
Labels: UI

fix: sent back delete button in tables fix
  frontend/src/pages/Sent Back Requests/sent-back-request.tsx
Labels: UI

feat(invoices): update invoice views with N/A status support
  frontend/src/pages/tasks/invoices/components/PoInvoices.tsx
  frontend/src/pages/tasks/invoices/components/SrInvoices.tsx
  frontend/src/pages/tasks/invoices/config/poInvoicesTable.config.ts
  frontend/src/pages/tasks/invoices/config/srInvoicesTable.config.ts
Labels: UI

feat(invoices): add N/A status option to reconciliation dialog
  frontend/src/pages/tasks/invoices/components/ReconciliationDialog.tsx
  frontend/src/pages/tasks/invoices/constants.ts
  frontend/src/pages/tasks/invoices/hooks/useInvoiceReconciliation.ts
Labels: UI

feat(po-dispatch): enable multiple Critical PO Task tagging
  frontend/src/pages/ProcurementOrders/purchase-order/components/CriticalPOTaskLinkingSection.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/hooks/useCriticalPOTaskLinking.ts
Labels: UI

fix(design-tracker): hide edit column from project manager role
  frontend/src/pages/ProjectDesignTracker/config/taskTableColumns.tsx
Labels: UI

feat(po): enhance PO overview with upload buttons, compact design, and delivery history accordion
  frontend/src/pages/DeliveryNotes/components/DeliveryHistory.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

feat(critical-po-tasks): refactor list with DataTable and add PR Not Released status
  frontend/src/pages/CriticalPOTracker/types/index.ts
  frontend/src/pages/projects/CriticalPOTasks/CriticalPOTasksList.tsx
  frontend/src/pages/projects/CriticalPOTasks/components/EditTaskDialog.tsx
  frontend/src/pages/projects/CriticalPOTasks/components/TaskStatusBadge.tsx
  frontend/src/pages/projects/CriticalPOTasks/config/taskTableColumns.tsx
  frontend/src/pages/projects/CriticalPOTasks/utils.tsx
  frontend/src/types/NirmaanStack/CriticalPOTasks.ts
Labels: UI

feat(invoices): add 'na' (Not Applicable) reconciliation status to backend API
  nirmaan_stack/api/invoices/update_invoice_reconciliation.py
Labels: backend

feat(assets): add Procurement Executive permissions for Asset doctypes
  nirmaan_stack/nirmaan_stack/doctype/asset_management/asset_management.json
  nirmaan_stack/nirmaan_stack/doctype/asset_master/asset_master.json
Labels: backend

feat(reports): update 2B reconcile reports with N/A status support
  frontend/src/pages/reports/components/PO2BReconcileReport.tsx
  frontend/src/pages/reports/components/SR2BReconcileReport.tsx
  frontend/src/pages/reports/components/columns/po2BReconcileColumns.tsx
  frontend/src/pages/reports/components/columns/sr2BReconcileColumns.tsx
  frontend/src/pages/reports/config/po2BReconcileTable.config.ts
  frontend/src/pages/reports/config/sr2BReconcileTable.config.ts
  frontend/src/pages/reports/hooks/usePO2BReconcileData.ts
  frontend/src/pages/reports/hooks/useSR2BReconcileData.ts
Labels: UI

feat(vendors): add vendor_nickname field to Vendors doctype
  frontend/src/types/NirmaanStack/Vendors.ts
  nirmaan_stack/nirmaan_stack/doctype/vendors/vendors.json
Labels: UI, backend

feat(vendors): add nickname column to vendors list
  frontend/src/pages/vendors/VendorsPage.tsx
  frontend/src/pages/vendors/vendors.constants.ts
Labels: UI

feat(vendors): add nickname field to vendor forms
  frontend/src/pages/vendors/edit-vendor.tsx
  frontend/src/pages/vendors/new-vendor.tsx
Labels: UI

feat(vendors): add vendor_nickname to vendor creation API
  nirmaan_stack/api/create_vendor_and_address.py
Labels: backend

feat(assets): extend Assets module for Procurement Executive role
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/Assets/AssetCategoryView.tsx
  frontend/src/pages/Assets/AssetOverview.tsx
  frontend/src/pages/Assets/AssetsPage.tsx
  frontend/src/pages/Assets/components/AssetCard.tsx
  frontend/src/pages/Assets/components/AssetCategoriesList.tsx
  frontend/src/pages/Assets/components/AssignAssetDialog.tsx
  frontend/src/pages/Assets/components/UnassignedAssetsList.tsx
  frontend/src/pages/Assets/utils/permissions.ts
Labels: UI

docs: update changelogs with recent session notes
  .claude/CHANGELOG.md
  frontend/.claude/CHANGELOG.md
Labels: none

feat(vendors): display nickname in vendor detail pages
  frontend/src/pages/vendors/components/VendorOverviewCard.tsx
  frontend/src/pages/vendors/vendor.tsx
Labels: UI

fix(vendor-invoices): handle deleted users in migration and add analytics
  nirmaan_stack/nirmaan_stack/doctype/vendor_invoices/vendor_invoices.json
  nirmaan_stack/patches/v3_0/migrate_invoices_to_vendor_invoices.py
Labels: backend

fix: copy report text fix
  frontend/src/pages/Manpower-and-WorkMilestones/components/CopyReportButton.tsx
Labels: UI

fix(ui): improve date picker UX - click anywhere to open calendar
  frontend/src/pages/projects/TDSRepository/components/TdsCreateForm.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsHistoryTable.tsx
  frontend/src/pages/projects/components/planning/AddMaterialPlanForm.tsx
  frontend/src/pages/projects/components/planning/CreateWorkplantask.tsx
  frontend/src/pages/projects/components/planning/EditMaterialPlanForm.tsx
Labels: UI

feat(TDS): Enhance TDS dialogs with simplified attachments, Others make option & role-based permissions
  frontend/src/pages/tds/TDSRepositoryMaster.tsx
  frontend/src/pages/tds/components/AddTDSItemDialog.tsx
  frontend/src/pages/tds/components/EditTDSItemDialog.tsx
  frontend/src/pages/tds/hooks/useTDSItemOptions.ts
Labels: UI

fix: make link field to data field type change
  nirmaan_stack/nirmaan_stack/doctype/tds_repository/tds_repository.json
Labels: backend

fix: overall Report 7 days 14 days data of milestones correcttly showing now
  nirmaan_stack/fixtures/print_format.json
Labels: backend

feat: delivery note print format added both single and overall also
  frontend/src/pages/DeliveryNotes/components/DeliveryHistory.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

feat(SR): Refactor tabs to Tailwind buttons & add Finalized WO tab
  frontend/src/pages/ServiceRequests/ServiceRequestsTabs.tsx
  frontend/src/pages/ServiceRequests/config/srTabs.constants.ts
  frontend/src/pages/ServiceRequests/service-request/finalized-sr-list.tsx
  frontend/src/zustand/useDocCountStore.ts
  nirmaan_stack/api/sidebar_counts.py
Labels: UI, backend

fix: hide all-zone PDF buttons for project managers role.
  frontend/src/pages/Manpower-and-WorkMilestones/components/PDFDownloadButtons.tsx
Labels: UI

fix: resolve project tab reset on zone change, improve zone persistence, and restrict date selection to future dates
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/CopyReportButton.tsx
Labels: UI

Remove 'Nirmaan Accountant Profile' from the list of roles that grant access to specific sidebar items.
  frontend/src/components/layout/NewSidebar.tsx
Labels: UI

feat(milestones): Improve date validation UX, add auto-scroll and highlights.
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/CopyReportButton.tsx
Labels: UI

fix: Prevent page breaks inside group header boxes and make every work progress new page with nirmaan headerin the print format.
  nirmaan_stack/fixtures/print_format.json
Labels: backend

fix(reports): update Pending Invoices filter logic and enable column sorting
  frontend/src/pages/reports/components/POReports.tsx
  frontend/src/pages/reports/components/columns/poColumns.tsx
Labels: UI

fix(reports): fix WO Pending Invoices filter, add info banner and Pending Invoice Amt column
  frontend/src/pages/reports/components/SRReports.tsx
  frontend/src/pages/reports/components/columns/srColumns.tsx
Labels: UI

feat: add attachment_ref field to Nirmaan Attachments doctype
  frontend/src/types/NirmaanStack/NirmaanAttachment.ts
  nirmaan_stack/nirmaan_stack/doctype/nirmaan_attachments/nirmaan_attachments.json
Labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
