Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

feat: the Derivation tab lists an item-list category's rules, from the config
  frontend/src/pages/pricing/rate-master/RateMasterDerivation.tsx
  frontend/src/pages/pricing/rate-master/itemListRuleOrder.test.ts
  frontend/src/pages/pricing/rate-master/itemListRuleOrder.ts
Labels: UI

feat: HVAC v33 - the Cladding Only and glass-cloth sentences; the second opinion off for Insulation
  frontend/src/pages/pricing/insulation12d4a.e2e.test.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v33.json
  nirmaan_stack/services/boq_rate_master/test_extraction_coercion.py
Labels: UI, backend

fix(tds): offer only Billable SKUs outside HVAC Junk and Additional Charges as TDS Item members
  frontend/src/pages/tds/components/AddTDSItemWizard.tsx
  frontend/src/pages/tds/components/MultiAddMembersDialog.tsx
  frontend/src/pages/tds/hooks/useTDSItemOptions.ts
  frontend/src/utils/tdsMemberEligibility.test.ts
  frontend/src/utils/tdsMemberEligibility.ts
  nirmaan_stack/api/tds/linking.py
  nirmaan_stack/api/tds/test_linking.py
Labels: UI, backend

docs(tds): retro fixes — TDS domain doc, review rules, storage gotcha, stale lines
  .claude/context/_index.md
  .claude/context/domain/tds.md
  CLAUDE.md
  CODING_STANDARDS.md
  frontend/.claude/context/role-access.md
  frontend/.claude/context/testing.md
  frontend/src/pages/tds/explain.md
Labels: none

test(tds): reusable browser walk for the Project TDS request flow
  scripts/tds_walk/README.md
  scripts/tds_walk/walk.py
Labels: none

feat(tds): tell the user Non-Billable items are excluded from TDS member linking
  frontend/src/pages/tds/components/AddTDSItemWizard.tsx
  frontend/src/pages/tds/components/MultiAddMembersDialog.tsx
Labels: UI

docs: slice 12d-4c as built
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

chore: the rule-order test clones with structuredClone, not a JSON round-trip
  frontend/src/pages/pricing/rate-master/itemListRuleOrder.test.ts
Labels: UI

fix: plain English on the panel and the calculator for item-list categories (one shared helper)
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/pricing/insulation12d1a.e2e.test.ts
  frontend/src/pages/pricing/insulation12d1b.e2e.test.ts
  frontend/src/pages/pricing/insulation12d4a.e2e.test.ts
  frontend/src/pages/pricing/rate-master/itemListRuleOrder.ts
  frontend/src/pages/pricing/rate-master/plainEnglish.test.ts
  frontend/src/pages/pricing/rate-master/plainEnglish.ts
Labels: UI

fix: the empty extraction-rules card hidden on item-list Derivation tabs
  frontend/src/pages/pricing/rate-master/RateMasterDerivation.tsx
  frontend/src/pages/pricing/rate-master/itemListRuleOrder.test.ts
  frontend/src/pages/pricing/rate-master/itemListRuleOrder.ts
Labels: UI

feat(snags): one photo per snag, required to mark it Completed
  CODING_STANDARDS.md
  frontend/.claude/plans/snag-attachments-plan.md
  frontend/src/components/CameraCapture.tsx
  frontend/src/pages/SnagList/SnagListTab.tsx
  frontend/src/pages/SnagList/components/BulkStatusDialog.tsx
  frontend/src/pages/SnagList/components/SnagEditDialog.tsx
  frontend/src/pages/SnagList/components/SnagPhotoCell.tsx
  frontend/src/pages/SnagList/components/SnagPhotoField.tsx
  frontend/src/pages/SnagList/components/SnagStatusCell.tsx
  frontend/src/pages/SnagList/components/SnagStatusChangeDialog.tsx
  frontend/src/pages/SnagList/config/snagColumns.tsx
  frontend/src/pages/SnagList/config/snagTable.config.ts
  frontend/src/pages/SnagList/hooks/useSnagMutations.ts
  frontend/src/pages/SnagList/photo/snagPhotoCapture.ts
  frontend/src/pages/SnagList/types.ts
  frontend/src/utils/snagPhoto.test.ts
  frontend/src/utils/snagPhoto.ts
  nirmaan_stack/api/snags/test_snag_api.py
  nirmaan_stack/api/snags/tracking.py
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/project_snag.py
  nirmaan_stack/nirmaan_stack/doctype/project_snag/project_snag.json
  nirmaan_stack/services/snag_photo.py
  nirmaan_stack/services/test_snag_photo.py
Labels: UI, backend

fix: the plain-English pass keeps a working line's indentation and a family's leading space
  frontend/src/pages/pricing/rate-master/plainEnglish.test.ts
  frontend/src/pages/pricing/rate-master/plainEnglish.ts
Labels: UI

feat(snags): snag photos in the Snag List PDF, with jump links
  frontend/.claude/plans/snag-photo-appendix-plan.md
  frontend/.claude/plans/snag-photo-signed-link-design.md
  frontend/src/pages/SnagList/download/snagDownloadConstants.ts
  frontend/src/pages/SnagList/download/snagDownloadParams.ts
  frontend/src/pages/SnagList/snag-printformat.html
  nirmaan_stack/api/pdf_helper/keep_links.py
  nirmaan_stack/api/pdf_helper/test_keep_links.py
  nirmaan_stack/api/snags/bulk_download.py
  nirmaan_stack/api/snags/print_photos.py
  nirmaan_stack/api/snags/test_snag_api.py
  nirmaan_stack/api/snags/test_snag_print.py
  nirmaan_stack/fixtures/print_format.json
  nirmaan_stack/hooks.py
Labels: UI, backend

fix(snags): limit snag writes to the user's projects
  frontend/.claude/plans/snag-list-plan.md
  nirmaan_stack/api/snags/__init__.py
  nirmaan_stack/api/snags/import_wizard.py
  nirmaan_stack/api/snags/test_snag_api.py
  nirmaan_stack/api/snags/tracking.py
Labels: backend

docs: slice 12d-5 as built
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(snags): build Snag PDFs in a background job, plus review fixes
  frontend/src/components/CameraCapture.tsx
  frontend/src/pages/SnagList/components/SnagPhotoCell.tsx
  frontend/src/pages/SnagList/download/index.ts
  frontend/src/pages/SnagList/download/snagDownloadConstants.ts
  frontend/src/pages/SnagList/download/snagDownloadParams.ts
  frontend/src/pages/SnagList/download/useSnagDownload.ts
  frontend/src/pages/SnagList/hooks/useSnagMutations.ts
  frontend/src/pages/SnagList/photo/snagPhotoCapture.ts
  frontend/src/utils/snagPhoto.test.ts
  frontend/src/utils/snagPhoto.ts
  nirmaan_stack/api/snags/bulk_download.py
  nirmaan_stack/api/snags/print_photos.py
  nirmaan_stack/api/snags/test_snag_api.py
  nirmaan_stack/services/snag_photo.py
  nirmaan_stack/services/test_snag_photo.py
Labels: UI, backend

chore(residence): tighten the F2 baseline 219 -> 217 after the snag download hook
  scripts/residence_baseline.json
Labels: none

feat(itm): PMO can dispatch ITMs, and ITM delivery notes get a Vendor Delivery Challan
  .claude/context/domain/internal-transfer-memos.md
  frontend/src/constants/itm.ts
  frontend/src/pages/DeliveryNotes/ITMDeliveryNote.tsx
  frontend/src/pages/DeliveryNotes/components/VendorDCDialog.tsx
  frontend/src/pages/InternalTransferMemos/ITMDetail.tsx
  frontend/src/pages/InternalTransferMemos/components/ITMDeliverySection.tsx
  nirmaan_stack/api/internal_transfers/lifecycle.py
  nirmaan_stack/fixtures/print_format.json
  nirmaan_stack/integrations/controllers/internal_transfer_memo.py
Labels: UI, backend

docs(tds): Client Status vocabulary and ADR-0025 Amendment B (#1381)
  GLOSSARY.md
  docs/adr/0025-tds-phase2-group-driven-consumption.md
Labels: none

fix(tds): keep the TDS Repository table view when leaving an item page (#1384)
  frontend/src/pages/tds/TDSItemDetail.tsx
  frontend/src/utils/tdsRepositoryNavigation.test.ts
  frontend/src/utils/tdsRepositoryNavigation.ts
  scripts/tds_walk/README.md
  scripts/tds_walk/walk.py
Labels: UI

fix(tds): save the Admin's Edit TDS Item through the server's duplicate and replace checks (#1383)
  .claude/context/domain/tds.md
  frontend/src/pages/tds/TDSApprovalDetail.tsx
  frontend/src/pages/tds/components/ProjectEditTDSItemModal.tsx
  frontend/src/utils/tdsRequestRules.test.ts
  frontend/src/utils/tdsRequestRules.ts
  nirmaan_stack/api/tds/edit_request.py
  nirmaan_stack/api/tds/test_edit_request.py
Labels: UI, backend

feat(tds): Create New Request becomes a button; Approved reads Approved by Admin (#1382)
  .claude/context/domain/tds.md
  frontend/src/pages/HandoverDocuments/forms/SourcesView.tsx
  frontend/src/pages/projects/TDSRepository/TDSRepositoryView.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsExportDialog.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsHistoryTable.tsx
  frontend/src/utils/tdsRequestRules.test.ts
  frontend/src/utils/tdsRequestRules.ts
  nirmaan_stack/api/hod/print_context.py
  nirmaan_stack/api/tds/status_label.py
  nirmaan_stack/api/tds/test_status_label.py
  scripts/tds_walk/README.md
  scripts/tds_walk/walk.py
Labels: UI, backend

feat(tds): mark Project TDS rows Approved / Rejected by Client in bulk (#1385)
  .claude/context/domain/tds.md
  frontend/src/hooks/useServerDataTable.ts
  frontend/src/pages/projects/TDSRepository/TDSRepositoryView.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsClientRejectDialog.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsHistoryTable.tsx
  frontend/src/pages/projects/data/tds/useTdsMutations.ts
  frontend/src/utils/tdsRequestRules.test.ts
  frontend/src/utils/tdsRequestRules.ts
  nirmaan_stack/api/tds/client_status.py
  nirmaan_stack/api/tds/submit.py
  nirmaan_stack/api/tds/test_client_status.py
  nirmaan_stack/nirmaan_stack/doctype/project_tds_item_list/project_tds_item_list.json
  scripts/tds_walk/README.md
  scripts/tds_walk/walk.py
Labels: UI, backend

feat(tds): explain a Make the client rejected in the request form (#1389)
  .claude/context/domain/tds.md
  frontend/src/pages/projects/TDSRepository/TDSRepositoryView.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsClientRejectedMakeDialog.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsCreateForm.tsx
  frontend/src/pages/projects/data/tds/useTdsQueries.ts
  frontend/src/utils/tdsRequestRules.test.ts
  frontend/src/utils/tdsRequestRules.ts
  nirmaan_stack/api/tds/submit.py
  nirmaan_stack/api/tds/test_submit.py
  scripts/tds_walk/README.md
  scripts/tds_walk/walk.py
Labels: UI, backend

feat(tds): switch Client Status between answers, and an Admin Clear (#1386)
  .claude/context/domain/tds.md
  frontend/src/pages/projects/TDSRepository/components/TdsHistoryTable.tsx
  frontend/src/utils/tdsRequestRules.test.ts
  frontend/src/utils/tdsRequestRules.ts
  nirmaan_stack/api/tds/test_client_status.py
  scripts/tds_walk/README.md
  scripts/tds_walk/walk.py
Labels: UI, backend

feat(tds): lock client-answered Project TDS rows against delete; reject only waiting rows (#1387)
  .claude/context/domain/tds.md
  frontend/src/pages/projects/TDSRepository/components/TdsHistoryTable.tsx
  frontend/src/utils/tdsRequestRules.test.ts
  frontend/src/utils/tdsRequestRules.ts
  nirmaan_stack/api/tds/approve.py
  nirmaan_stack/api/tds/test_approve.py
  nirmaan_stack/api/tds/test_client_status_lock.py
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/project_tds_item_list.py
  scripts/tds_walk/README.md
  scripts/tds_walk/walk.py
Labels: UI, backend

feat(tds): ordered Status and Package checklists in the Download TDS PDF dialog (#1388)
  .claude/context/domain/tds.md
  frontend/src/pages/HandoverDocuments/MaterialTdsDialog.tsx
  frontend/src/pages/HandoverDocuments/useHodTdsExport.ts
  frontend/src/pages/projects/TDSRepository/TDSRepositoryView.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsExportDialog.tsx
  frontend/src/utils/tdsRequestRules.test.ts
  frontend/src/utils/tdsRequestRules.ts
  nirmaan_stack/api/hod/tds_pack.py
  nirmaan_stack/api/hod/test_tds_pack.py
  scripts/tds_walk/README.md
  scripts/tds_walk/walk.py
Labels: UI, backend

fix(tds): code-review fixes for spec #1381
  .claude/context/domain/tds.md
  frontend/src/hooks/useServerDataTable.ts
  frontend/src/pages/HandoverDocuments/MaterialTdsDialog.tsx
  frontend/src/pages/projects/TDSRepository/TDSRepositoryView.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsClientRejectedMakeDialog.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsExportDialog.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsHistoryTable.tsx
  frontend/src/pages/projects/data/tds/useTdsQueries.ts
  frontend/src/utils/tdsRequestRules.test.ts
  frontend/src/utils/tdsRequestRules.ts
  nirmaan_stack/api/tds/approve.py
  nirmaan_stack/api/tds/client_status.py
  nirmaan_stack/api/tds/edit_request.py
  nirmaan_stack/api/tds/status_label.py
  nirmaan_stack/api/tds/submit.py
  nirmaan_stack/api/tds/test_approve.py
  nirmaan_stack/api/tds/test_client_status.py
Labels: UI, backend

fix: insulation panel path -- the double layer composes, a mixed inch reads whole, the note keeps one unit, a typed thickness is one number
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/boq-wizard/rate-helper/slice12d6.test.ts
  frontend/src/pages/pricing/__fixtures__/insulation12d2Expected.json
  frontend/src/pages/pricing/__fixtures__/insulation12d4aExpected.json
  frontend/src/pages/pricing/calculatorPanelParity.test.ts
  frontend/src/pages/pricing/insulation12d1b.e2e.test.ts
  frontend/src/pages/pricing/insulation12d2Sample.e2e.test.ts
  frontend/src/pages/pricing/insulation12d4a.e2e.test.ts
Labels: UI

docs: slice 12d-6 as built
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(tables): keep the URL's page when a table mounts with a search term (#1384)
  frontend/src/hooks/useServerDataTable.ts
Labels: UI

fix(tds): browser-walk fixes for spec #1381
  scripts/tds_walk/README.md
  scripts/tds_walk/walk.py
Labels: none

feat(mtc): "Upload Test Certificate" button, also in the PO summary
  .claude/context/domain/material-test-certificates.md
  frontend/src/pages/MaterialTestCertificates/components/MTCCard.tsx
  frontend/src/pages/MaterialTestCertificates/components/UploadMTCButton.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

fix(data-table): keep the search box mounted while a list refetches
  frontend/src/hooks/useHasLoadedOnce.dom.test.tsx
  frontend/src/hooks/useHasLoadedOnce.ts
  frontend/src/pages/CommissionReport/components/GlobalApprovalsTable.tsx
  frontend/src/pages/CommissionReport/components/TaskWiseTable.tsx
  frontend/src/pages/PMODashboard/components/TaskWiseTable.tsx
  frontend/src/pages/PORevision/PORevisionsApprovalList.tsx
  frontend/src/pages/PaymentTDSDeductions/PaymentTDSDeductions.tsx
  frontend/src/pages/ProjectDesignTracker/components/TaskWiseTable.tsx
  frontend/src/pages/ProjectInvoices/AllProjectInvoices.tsx
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/ProjectPayments/update-payment/AccountantTabs.tsx
  frontend/src/pages/ServiceRequests/service-request/all-sr-list.tsx
  frontend/src/pages/non-project-inflows/NonProjectInflows.tsx
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  frontend/src/pages/projects/components/CustomerPODeatilsCard.tsx
  frontend/src/pages/projects/components/ProjectDriveLink.tsx
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  frontend/src/pages/projects/components/ProjectPRSummaryTable.tsx
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/projects/tendering/TenderingProjectsTable.tsx
  frontend/src/pages/reports/components/CustomerReports.tsx
  frontend/src/pages/reports/components/InflowReportTable.tsx
  frontend/src/pages/reports/components/ProjectProgressReports.tsx
  frontend/src/pages/reports/components/ProjectReports.tsx
  frontend/src/pages/reports/components/VendorReports.tsx
  frontend/src/pages/reports/components/outflowReportTable.tsx
  frontend/src/pages/tasks/invoices/components/PendingTasksTable.tsx
  frontend/src/pages/tasks/invoices/components/TaskHistoryTable.tsx
Labels: UI

refactor(bulk-download): project/vendor scope and a safer download job
  .claude/context/apis.md
  frontend/src/components/common/BulkPdfDownloadButton.tsx
  frontend/src/hooks/useBulkPdfDownload.ts
  frontend/src/pages/BulkDownload/BulkDownloadPage.tsx
  frontend/src/pages/BulkDownload/BulkDownloadStep1.tsx
  frontend/src/pages/BulkDownload/steps/CriticalTasksTab.tsx
  frontend/src/pages/BulkDownload/steps/DNSteps.tsx
  frontend/src/pages/BulkDownload/steps/DeliveryDocSteps.tsx
  frontend/src/pages/BulkDownload/steps/InvoiceSteps.tsx
  frontend/src/pages/BulkDownload/steps/POSteps.tsx
  frontend/src/pages/BulkDownload/steps/WOSteps.tsx
  frontend/src/pages/BulkDownload/steps/bulkTableColumns.test.ts
  frontend/src/pages/BulkDownload/steps/bulkTableColumns.tsx
  frontend/src/pages/BulkDownload/useBulkDownloadWizard.ts
  frontend/src/pages/projects/project.tsx
  frontend/src/utils/bulkDownload/bulkDownloadEvents.test.ts
  frontend/src/utils/bulkDownload/bulkDownloadEvents.ts
  frontend/src/utils/bulkDownload/bulkDownloadTypes.test.ts
  frontend/src/utils/bulkDownload/bulkDownloadTypes.ts
  nirmaan_stack/api/pdf_helper/bulk_download.py
  nirmaan_stack/api/pdf_helper/test_bulk_download_job.py
  nirmaan_stack/api/pdf_helper/test_bulk_download_scope.py
Labels: UI, backend

feat(vendors): Bulk Download tab, with Payment Vouchers on both tabs
  .claude/context/apis.md
  frontend/.claude/context/_index.md
  frontend/.claude/context/domain/bulk-download.md
  frontend/.claude/context/role-access.md
  frontend/src/components/common/BulkPdfDownloadButton.tsx
  frontend/src/constants/roles.ts
  frontend/src/hooks/useBulkPdfDownload.ts
  frontend/src/pages/BulkDownload/BulkDownloadPage.tsx
  frontend/src/pages/BulkDownload/BulkDownloadStep1.tsx
  frontend/src/pages/BulkDownload/steps/BulkSelectTable.tsx
  frontend/src/pages/BulkDownload/steps/PaymentVoucherSteps.tsx
  frontend/src/pages/BulkDownload/steps/bulkTableColumns.test.ts
  frontend/src/pages/BulkDownload/steps/bulkTableColumns.tsx
  frontend/src/pages/BulkDownload/steps/index.ts
  frontend/src/pages/BulkDownload/useBulkDownloadWizard.ts
  frontend/src/pages/reports/components/columns/woPaymentVoucherColumns.tsx
  frontend/src/pages/vendors/vendor.tsx
  frontend/src/utils/bulkDownload/bulkDownloadTypes.test.ts
  frontend/src/utils/bulkDownload/bulkDownloadTypes.ts
  frontend/src/utils/paymentVoucher.ts
  nirmaan_stack/api/pdf_helper/bulk_download.py
  nirmaan_stack/api/pdf_helper/test_bulk_download_scope.py
Labels: UI, backend

feat(bulk-download): Material Test Certificates on both tabs
  .claude/context/apis.md
  .claude/context/domain/material-test-certificates.md
  frontend/.claude/context/_index.md
  frontend/.claude/context/domain/bulk-download.md
  frontend/src/components/common/BulkPdfDownloadButton.tsx
  frontend/src/hooks/useBulkPdfDownload.ts
  frontend/src/pages/BulkDownload/BulkDownloadPage.tsx
  frontend/src/pages/BulkDownload/BulkDownloadStep1.tsx
  frontend/src/pages/BulkDownload/steps/MTCSteps.tsx
  frontend/src/pages/BulkDownload/steps/bulkTableColumns.test.ts
  frontend/src/pages/BulkDownload/steps/bulkTableColumns.tsx
  frontend/src/pages/BulkDownload/steps/index.ts
  frontend/src/pages/BulkDownload/useBulkDownloadWizard.ts
  frontend/src/types/NirmaanStack/MaterialTestCertificate.ts
  frontend/src/utils/bulkDownload/bulkDownloadTypes.test.ts
  frontend/src/utils/bulkDownload/bulkDownloadTypes.ts
  nirmaan_stack/api/material_test_certificates/mtc_api.py
  nirmaan_stack/api/pdf_helper/bulk_download.py
  nirmaan_stack/api/pdf_helper/test_bulk_download_mtc.py
Labels: UI, backend

fix(bulk-download): Done step, error reasons, DN critical tasks, MTC ids
  frontend/.claude/context/domain/bulk-download.md
  frontend/src/hooks/useBulkPdfDownload.ts
  frontend/src/pages/BulkDownload/BulkDownloadPage.tsx
  frontend/src/pages/BulkDownload/steps/BulkSelectTable.tsx
  frontend/src/pages/BulkDownload/steps/MTCSteps.dom.test.tsx
  frontend/src/pages/BulkDownload/steps/MTCSteps.tsx
  frontend/src/pages/BulkDownload/steps/bulkTableColumns.tsx
  frontend/src/pages/BulkDownload/useBulkDownloadWizard.dom.test.tsx
  frontend/src/pages/BulkDownload/useBulkDownloadWizard.ts
  frontend/src/utils/frappeErrors.test.ts
  frontend/src/utils/frappeErrors.ts
  nirmaan_stack/api/pdf_helper/test_bulk_download_job.py
Labels: UI, backend

feat(bulk-download): PO payment vouchers, and a progress window that says what it downloads
  .claude/context/apis.md
  frontend/.claude/context/_index.md
  frontend/.claude/context/domain/bulk-download.md
  frontend/src/components/common/BulkDownloadProgressDialog.dom.test.tsx
  frontend/src/components/common/BulkDownloadProgressDialog.tsx
  frontend/src/components/common/BulkPdfDownloadButton.tsx
  frontend/src/hooks/useBulkPdfDownload.ts
  frontend/src/pages/BulkDownload/BulkDownloadPage.tsx
  frontend/src/pages/BulkDownload/BulkDownloadStep1.tsx
  frontend/src/pages/BulkDownload/steps/BulkSelectTable.tsx
  frontend/src/pages/BulkDownload/steps/PaymentVoucherSteps.dom.test.tsx
  frontend/src/pages/BulkDownload/steps/PaymentVoucherSteps.tsx
  frontend/src/pages/BulkDownload/steps/bulkTableColumns.test.ts
  frontend/src/pages/BulkDownload/steps/bulkTableColumns.tsx
  frontend/src/pages/BulkDownload/useBulkDownloadWizard.dom.test.tsx
  frontend/src/pages/BulkDownload/useBulkDownloadWizard.ts
  frontend/src/utils/bulkDownload/bulkDownloadEvents.test.ts
  frontend/src/utils/bulkDownload/bulkDownloadEvents.ts
  frontend/src/utils/bulkDownload/bulkDownloadRun.test.ts
  frontend/src/utils/bulkDownload/bulkDownloadRun.ts
  frontend/src/utils/bulkDownload/bulkDownloadStyle.ts
  frontend/src/utils/bulkDownload/bulkDownloadTypes.test.ts
  frontend/src/utils/bulkDownload/bulkDownloadTypes.ts
  nirmaan_stack/api/pdf_helper/bulk_download.py
  nirmaan_stack/api/pdf_helper/test_bulk_download_job.py
  nirmaan_stack/api/pdf_helper/test_bulk_download_po_vouchers.py
  nirmaan_stack/api/pdf_helper/test_bulk_download_scope.py
Labels: UI, backend

feat(bulk-download): grouped Quick Download menu, tied to its button
  frontend/.claude/context/domain/bulk-download.md
  frontend/src/components/common/BulkPdfDownloadButton.tsx
  frontend/src/utils/bulkDownload/bulkDownloadTypes.test.ts
  frontend/src/utils/bulkDownload/bulkDownloadTypes.ts
Labels: UI

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
