Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

fix: default DN>DC Quantity Report to show actionable statuses only
  frontend/src/pages/reports/components/DNDCQuantityReport.tsx
Labels: UI

fix: export raw numeric lakhs values in project table CSVs
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/reports/components/ProjectReports.tsx
  frontend/src/pages/reports/components/columns/projectColumns.tsx
  frontend/src/utils/FormatPrice.ts
Labels: UI

fix: exempt Delivery Note operations from CEO Hold blocking
  frontend/.claude/context/domain/ceo-hold.md
  frontend/.claude/context/domain/delivery-notes.md
  frontend/src/pages/DeliveryNotes/deliverynote.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
Labels: UI

feat: Add payment term validation and refine PO Revision footer button logic.
  frontend/src/pages/PORevision/PORevisionDialog.tsx
  frontend/src/pages/PORevision/components/RevisionFooter.tsx
Labels: UI

refactor: update URL path encoding for revised PO link
  frontend/src/pages/PORevision/PORevisionsApprovalDetail.tsx
Labels: UI

feat(po-revision): add visibility logic and backend docs
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: UI, backend

edgecase4: feat(po-revision): implement intelligent term merging and credit due dates
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: backend

feat: Introduce multi-step PO revision functionality with dedicated UI components and backend logic for adjustments.....
  frontend/src/components/helpers/SelectUnit.tsx
  frontend/src/pages/PORevision/PORevisionDialog.tsx
  frontend/src/pages/PORevision/components/RevisionFooter.tsx
  frontend/src/pages/PORevision/components/RevisionHeader.tsx
  frontend/src/pages/PORevision/components/Step1/ImpactSummaryTable.tsx
  frontend/src/pages/PORevision/components/Step1/InvoicesSection.tsx
  frontend/src/pages/PORevision/components/Step1/Step1ReviseItems.tsx
  frontend/src/pages/PORevision/components/Step2/Step2NegativeFlow.tsx
  frontend/src/pages/PORevision/components/Step2/Step2PositiveFlow.tsx
  frontend/src/pages/PORevision/components/Step3/Step3Summary.tsx
  frontend/src/pages/PORevision/hooks/usePORevision.ts
  frontend/src/pages/PORevision/types.ts
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: UI, backend

feat: Implement item & Make selection dropdown with dynamic data fetching for PO revision items.
  frontend/src/pages/PORevision/PORevisionDialog.tsx
  frontend/src/pages/PORevision/components/Step1/Step1ReviseItems.tsx
  frontend/src/pages/PORevision/hooks/usePORevision.ts
Labels: UI

feat(revise-po): Integrate PO revision blocking and negative flow adjustments
  frontend/src/pages/PORevision/PORevisionWarning.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  nirmaan_stack/api/po_revisions/revision_logic.py
  nirmaan_stack/api/po_revisions/revision_po_check.py
Labels: UI, backend

local .md foe development
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
Labels: none

feat: Implement PO Revision approval list and detail pages with associated components and hooks.
  frontend/src/pages/PORevision/PORevisionsApprovalDetail.tsx
  frontend/src/pages/PORevision/PORevisionsApprovalList.tsx
  frontend/src/pages/PORevision/components/detail/PORevisionImpactAndJustification.tsx
  frontend/src/pages/PORevision/components/detail/PORevisionInfoCard.tsx
  frontend/src/pages/PORevision/components/detail/PORevisionInvoices.tsx
  frontend/src/pages/PORevision/components/detail/PORevisionLineItems.tsx
  frontend/src/pages/PORevision/components/detail/PORevisionPaymentRectification.tsx
  frontend/src/pages/PORevision/config/poRevisions.config.tsx
  frontend/src/pages/PORevision/hooks/usePORevisionsApprovalDetail.ts
Labels: UI

feat: Refine PO revision total calculations, implement approval/rejection loading states, and use backend API for approval logic.
  frontend/src/pages/PORevision/PORevisionsApprovalDetail.tsx
  frontend/src/pages/PORevision/components/detail/PORevisionInvoices.tsx
  frontend/src/pages/PORevision/hooks/usePORevisionsApprovalDetail.ts
  frontend/src/pages/PORevision/types.ts
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: UI, backend

feat: create PO Revisions and PO Revisions Items doctypes
  nirmaan_stack/nirmaan_stack/doctype/po_revisions/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/po_revisions/po_revisions.js
  nirmaan_stack/nirmaan_stack/doctype/po_revisions/po_revisions.json
  nirmaan_stack/nirmaan_stack/doctype/po_revisions/po_revisions.py
  nirmaan_stack/nirmaan_stack/doctype/po_revisions/test_po_revisions.py
  nirmaan_stack/nirmaan_stack/doctype/po_revisions_items/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/po_revisions_items/po_revisions_items.json
  nirmaan_stack/nirmaan_stack/doctype/po_revisions_items/po_revisions_items.py
Labels: backend

feat:Revision PO Button In PO Page
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

feat(po-revision): implement received_quantity locks
  frontend/src/pages/PORevision/components/Step1/Step1ReviseItems.tsx
  frontend/src/pages/PORevision/hooks/usePORevision.ts
Labels: UI

feat Sidebar for PO Revisions and route ingration for PO Revisions
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
Labels: UI

Refactor : md file of Revision PO
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
Labels: none

fix: Add `!PoPaymentTermsValidationSafe` is control anything in in Payment approved or request mean , we block they Revision PO
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

feat: Update PO revision UI with GST impact and project-specific links.
  frontend/src/pages/PORevision/components/PORevisionHistory.tsx
  frontend/src/pages/PORevision/config/poRevisions.config.tsx
Labels: UI

fix(po-revision): Ensure full transaction rollback on approval failure
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
  nirmaan_stack/api/po_revisions/revision_logic.py
  nirmaan_stack/integrations/controllers/project_payments.py
  nirmaan_stack/nirmaan_stack/doctype/project_payments/project_payments.py
Labels: backend

tem:cmt code for future update...
  frontend/src/pages/PORevision/PORevisionsApprovalDetail.tsx
  frontend/src/pages/PORevision/components/detail/PORevisionLineItems.tsx
Labels: UI

fix(po-revision): set approval_date when creating project payments programmatically
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: backend

fix: Ensure two-decimal precision for payment allocation calculations, add input validation for payment terms, and enhance the remaining balance UI with detailed breakdown.
  frontend/src/pages/PORevision/components/Step2/Step2PositiveFlow.tsx
Labels: UI

Edgecase4: Ad-hoc payment added project expenses step 2 payment layout tab , expense type from project expensive type
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
  frontend/src/pages/PORevision/components/Step2/Step2NegativeFlow.tsx
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: UI, backend

feat: Automatically re-evaluate PO delivery status after revisions using external logic, document related external functions, and remove the `get_adjustment_candidate_pos` utility.
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
  nirmaan_stack/api/po_revisions/revision_logic.py
  nirmaan_stack/api/po_revisions/revision_po_check.py
Labels: backend

feat: Implement structured naming for PO Revisions with `PRT` prefix and ensure correct URL encoding/decoding and breadcrumb display for these IDs.
  frontend/src/components/layout/main-layout.tsx
  frontend/src/pages/PORevision/PORevisionWarning.tsx
  frontend/src/pages/PORevision/config/poRevisions.config.tsx
  frontend/src/pages/PORevision/hooks/usePORevisionsApprovalDetail.ts
  nirmaan_stack/nirmaan_stack/doctype/po_revisions/po_revisions.py
Labels: UI, backend

feat/fix(po_revision): Auto-absorb negative differences from 'Created' payment terms
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
  frontend/src/pages/PORevision/components/Step2/Step2NegativeFlow.tsx
  frontend/src/pages/PORevision/components/Step3/Step3Summary.tsx
  frontend/src/pages/PORevision/components/detail/PORevisionPaymentRectification.tsx
  frontend/src/pages/PORevision/hooks/usePORevision.ts
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: UI, backend

feat: Add Alert and Info icon imports for UI components.
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
Labels: UI

feat: Implement PO revision history with a new frontend component, backend API, and updated documentation.
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
  frontend/src/pages/PORevision/components/PORevisionHistory.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  nirmaan_stack/api/po_revisions/revision_history.py
Labels: UI, backend

feat: Introduce item info hovercard with an eye icon and quantity validation toast in PO revision.
  frontend/src/pages/PORevision/components/Step1/Step1ReviseItems.tsx
Labels: UI

feat: Implement PO revision access control for Nirmaan Accountant ProfilePMO,admin, integrate PO lock status into Delivery Notes, and refine PO revision UI.than mager view setup..
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/DeliveryNotes/components/deliveryNoteItemsDisplay.tsx
  frontend/src/pages/PORevision/PORevisionWarning.tsx
Labels: UI

feat: Disable various PO UI actions, such as updating delivery, marking inactive, editing payment terms, and requesting payments, when a Purchase Order is locked due to a pending revision.
  frontend/src/components/dialogs/RequestPaymentDialog.tsx
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPaymentTermsCard.tsx
Labels: UI

refactor: Use `usePOLockCheck` hook in `PODetails` for PO lock status and update architecture documentation.
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

fix: Correct ad-hoc payment detail typos, improve PO revision UI data consistency, and refactor backend transaction management for approvals rollbacks with savepoints...
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
  frontend/src/pages/PORevision/components/detail/PORevisionPaymentRectification.tsx
  frontend/src/pages/PORevision/data/usePORevisionMutations.ts
  frontend/src/pages/PORevision/hooks/usePORevision.ts
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: UI, backend

feat(po_revision): Sync PO Revision Approval List tabs with URL params
  frontend/src/pages/PORevision/PORevisionsApprovalList.tsx
Labels: UI

docs: Expand PO revision architecture documentation to detail negative flow handling for refunds, ad-hoc offsets, and against pos credit transfers.
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
Labels: none

docs: Document PO Revision backend logic for creation and approval, including detailed payload structures.
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
Labels: none

feat: Implement role-based access control for the PORevisionHistory component.
  frontend/src/pages/PORevision/components/PORevisionHistory.tsx
Labels: UI

fix:2,3 in prevision dialog summary inoivecs amount total , Pending and Approved ....
  frontend/src/pages/PORevision/components/Step1/InvoicesSection.tsx
  frontend/src/pages/PORevision/components/Step1/Step1ReviseItems.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI
