Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

fix: new Target with make filters
  frontend/src/config/queryKeys.ts
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/types/index.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/HistoricalQuotesHoverCard.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useTargetRatesForItems.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-vendor.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/types/index.ts
  frontend/src/pages/Sent Back Requests/SBQuotesSelectionReview.tsx
  nirmaan_stack/api/target_rates/get_target_rates_for_item_list.py
Labels: UI, backend

fix: work report display in projects tab fix
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
  frontend/src/pages/projects/ProjectWorkReportTab.tsx
Labels: UI

fix: Add Make validation vendor Slection table , make will added in (item search )item -> navigation item details page
  frontend/src/pages/ApprovedQuotationsFlow/ApprovedQuotationsTable.tsx
  frontend/src/pages/Items/item.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
Labels: UI

Fix:validation for Project Rrogress Report Zone
  frontend/src/pages/projects/components/SetupProgressTrackingDialog.tsx
  frontend/src/pages/projects/components/projectZoneEditSection.tsx
Labels: UI

fix: While merge Payment_type Missing one fixed ,BUG:its failed to update PO
  frontend/src/types/NirmaanStack/ProcurementOrders.ts
  nirmaan_stack/api/po_merge_and_unmerge.py
Labels: UI, backend

fix: Draft report , but while session Storage data clear , we need to update agian to save as it
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
Labels: UI

fix: Only show exact match of item,unit ,make target in approval page in PO,sendback
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/hooks/useApproveRejectLogic.ts
  frontend/src/pages/Sent Back Requests/hooks/useApproveSBSLogic.ts
Labels: UI

fix: remove Not Applicable
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReport.tsx
Labels: UI

fix: Completed Workplan not to Show NO Activity
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
Labels: UI

Fix: Header inconsistency fix
  frontend/src/pages/Manpower-and-WorkMilestones/components/MilestoneReportPDF.tsx
Labels: UI

fix: Overall Progress total and report should only show current not in "Not applicable"
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReportPDF.tsx
Labels: UI

Fix : Sentry Login, logout issuses but i want test In test Server
  frontend/src/pages/dashboard.tsx
  frontend/src/utils/auth/UserProvider.tsx
Labels: UI

fix:Summary Page Overall Progress %
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneDailySummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReport.tsx
Labels: UI

feat:Copy report And create new report With Only adding additional photos .
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/CopyReportButton.tsx
Labels: UI

Fix: zone Rename
  frontend/src/pages/projects/components/SetupProgressTrackingDialog.tsx
  frontend/src/pages/projects/components/projectZoneEditSection.tsx
Labels: UI

check:Sentry in Local than revert to original
  frontend/src/instrument.ts
Labels: UI

fix: LocalStortage Clear zone_
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
Labels: UI

fix:migrate merged po Payment_type empty to value
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_7/update_merge_po_payment_type.py
Labels: backend

Feat:create and Update project and task .
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/pages/ProjectDesignTracker/components/TaskWiseTable.tsx
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
  frontend/src/pages/ProjectDesignTracker/hooks/useDesignMasters.ts
  frontend/src/pages/ProjectDesignTracker/hooks/useDesignTrackerLogic.ts
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
  frontend/src/pages/ProjectDesignTracker/types/index.ts
  frontend/src/pages/tasks/invoices/components/columns.tsx
  nirmaan_stack/nirmaan_stack/doctype/design_tracker_task_child_table/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/design_tracker_task_child_table/design_tracker_task_child_table.json
  nirmaan_stack/nirmaan_stack/doctype/design_tracker_task_child_table/design_tracker_task_child_table.py
  nirmaan_stack/nirmaan_stack/doctype/project_design_tracker/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/project_design_tracker/project_design_tracker.js
  nirmaan_stack/nirmaan_stack/doctype/project_design_tracker/project_design_tracker.json
  nirmaan_stack/nirmaan_stack/doctype/project_design_tracker/project_design_tracker.py
  nirmaan_stack/nirmaan_stack/doctype/project_design_tracker/test_project_design_tracker.py
Labels: UI, backend

fix: master Catergory and Task doc and make edit add new Catergory
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
  frontend/src/pages/ProjectDesignTracker/hooks/useDesignMasters.ts
  frontend/src/pages/ProjectDesignTracker/hooks/useDesignTrackerLogic.ts
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
  frontend/src/pages/ProjectDesignTracker/types/index.ts
  nirmaan_stack/api/design_tracker/tracker_options.py
  nirmaan_stack/nirmaan_stack/doctype/design_tracker_category/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/design_tracker_category/design_tracker_category.js
  nirmaan_stack/nirmaan_stack/doctype/design_tracker_category/design_tracker_category.json
  nirmaan_stack/nirmaan_stack/doctype/design_tracker_category/design_tracker_category.py
  nirmaan_stack/nirmaan_stack/doctype/design_tracker_category/test_design_tracker_category.py
  nirmaan_stack/nirmaan_stack/doctype/design_tracker_tasks/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/design_tracker_tasks/design_tracker_tasks.js
  nirmaan_stack/nirmaan_stack/doctype/design_tracker_tasks/design_tracker_tasks.json
  nirmaan_stack/nirmaan_stack/doctype/design_tracker_tasks/design_tracker_tasks.py
  nirmaan_stack/nirmaan_stack/doctype/design_tracker_tasks/test_design_tracker_tasks.py
Labels: UI, backend

Fix:Custom PR Resolve and Creat Cutom PR reFixed
  frontend/src/pages/ProcurementRequests/NewPR/CustomPRSummary.tsx
  frontend/src/pages/ProcurementRequests/NewPR/NewCustomPR.tsx
  nirmaan_stack/api/custom_pr_api.py
Labels: UI, backend

Fix: make Options Dynamical
  frontend/src/pages/ProjectDesignTracker/components/TaskWiseTable.tsx
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
  frontend/src/pages/ProjectDesignTracker/hooks/useDesignMasters.ts
  frontend/src/pages/ProjectDesignTracker/hooks/useDesignTrackerLogic.ts
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
  nirmaan_stack/api/design_tracker/tracker_options.py
Labels: UI, backend

Fix:overall
  frontend/src/pages/ProjectDesignTracker/components/TaskWiseTable.tsx
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
  frontend/src/pages/ProjectDesignTracker/hooks/useDesignTrackerLogic.ts
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
Labels: UI

feat:pending RBAC and Assigned user filters table
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/ProjectDesignTracker/components/TaskWiseTable.tsx
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
  frontend/src/pages/ProjectDesignTracker/hooks/useDesignMasters.ts
  frontend/src/pages/ProjectDesignTracker/hooks/useDesignTrackerLogic.ts
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
Labels: UI

fix:Refactor Add utils for common function
  frontend/src/pages/ProjectDesignTracker/components/TaskEditModal.tsx
  frontend/src/pages/ProjectDesignTracker/components/TaskWiseTable.tsx
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
  frontend/src/pages/ProjectDesignTracker/utils.tsx
Labels: UI

fix: Child Table Date Filters Backend Change
  nirmaan_stack/api/data-table.py
Labels: backend

Fix: Add utils for common function and make enable user Permission newbar than , Pending inner User based fucntion and button
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/ProjectDesignTracker/components/DesignPackagesmaster.tsx
  frontend/src/pages/ProjectDesignTracker/components/TaskEditModal.tsx
  frontend/src/pages/ProjectDesignTracker/components/TaskWiseTable.tsx
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
  frontend/src/pages/ProjectDesignTracker/utils.tsx
  frontend/src/pages/ProjectPayments/update-payment/AccountantTabs.tsx
  nirmaan_stack/api/design_tracker/tracker_options.py
Labels: UI, backend

feat: Implement restricted task editing for Design Executive role based on user assignment and role-specific field limitations.
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/ProjectDesignTracker/components/TaskEditModal.tsx
  frontend/src/pages/ProjectDesignTracker/components/TaskWiseTable.tsx
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
Labels: UI

fix: added Nirmaan Design Lead Role fixture
  nirmaan_stack/fixtures/role.json
  nirmaan_stack/fixtures/role_profile.json
Labels: backend

feat: Implement server-side PDF report and add a new API for direct S3 attachment URLs.
  nirmaan_stack/api/frappe_s3_attachment.py
Labels: backend

fix: milestone report from print format progress saved
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneDailySummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

feat: Introduce Design Dashboard and enhance Design Tracker with role-based filtering for design executives.
  frontend/src/components/layout/dashboards/design-dashboard.tsx
  frontend/src/pages/ProjectDesignTracker/components/TaskWiseTable.tsx
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
  frontend/src/pages/dashboard.tsx
Labels: UI

Feat :Project Design Tracker Deatils Generate :
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

fix:before pdf pagination category and table break
  frontend/src/pages/ProjectDesignTracker/components/TaskWiseTable.tsx
  frontend/src/pages/ProjectDesignTracker/utils.tsx
Labels: UI

feat:Project Design Tracker pdf print formate updated
  nirmaan_stack/fixtures/print_format.json
Labels: backend

Fix :Merged Po payment_type patch file
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_7/update_merge_po_payment_type.py
Labels: backend

feat: Update Project Payments amount field to Currency and add Order field to Work Headers.
  nirmaan_stack/nirmaan_stack/doctype/project_payments/project_payments.json
  nirmaan_stack/nirmaan_stack/doctype/work_headers/work_headers.json
Labels: backend

feat:Design Tracker history enabled
  nirmaan_stack/nirmaan_stack/doctype/design_tracker_tasks/design_tracker_tasks.json
Labels: backend

Feat:Drag and Drop Features for order Changes Work Headers .....
  frontend/src/components/workHeaderMilestones.tsx
Labels: UI

Fix:Milestones Order Tab based New WorkHeaders orders
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
Labels: UI

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
