Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

feat: Standardize date display to DD-MMM-YYYY format across cashflow and planning pages, and update the print formats.
  frontend/src/lib/utils.ts
  frontend/src/pages/projects/CashflowPlan/InflowCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/MiscCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/POCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/WOCashflow.tsx
  frontend/src/pages/projects/components/planning/SevenDaysMaterialPlan.tsx
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

feat(MaterialPlan): enhance card layout and mobile responsiveness
  frontend/src/pages/projects/components/planning/EditMaterialPlanForm.tsx
  frontend/src/pages/projects/components/planning/SevenDaysMaterialPlan.tsx
Labels: UI

fix:Po View for Estimate users
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/DeliveryChallanTable.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceTable.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

fix :SR details Estimated view and hide buttons
  frontend/src/components/paymentsVoucher/PaymentVoucherActions.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/pages/ServiceRequests/service-request/components/SRDetailsCard.tsx
Labels: UI

feat: refine CEO Hold feature — unblock ops, update styling, expand row highlighting
  frontend/src/components/ui/ceo-hold-banner.tsx
  frontend/src/pages/DeliveryNotes/components/deliveryNoteItemsDisplay.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
  frontend/src/pages/ProjectPayments/update-payment/UpdatePaymentDialog.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/reports/components/InflowReportTable.tsx
  frontend/src/pages/reports/components/PO2BReconcileReport.tsx
  frontend/src/pages/reports/components/ProjectProgressReports.tsx
  frontend/src/pages/reports/components/ProjectReports.tsx
  frontend/src/pages/reports/components/SR2BReconcileReport.tsx
  frontend/src/pages/reports/components/outflowReportTable.tsx
  frontend/src/pages/tasks/invoices/components/PendingTasksTable.tsx
  frontend/src/pages/tasks/invoices/components/TaskHistoryTable.tsx
  frontend/src/pages/tds/TDSApprovalDetail.tsx
  frontend/src/utils/ceoHoldRowStyles.ts
Labels: UI

docs: claude context update
  .claude/CHANGELOG.md
  .claude/context/doctypes.md
  frontend/.claude/context/_index.md
  frontend/.claude/context/role-access.md
Labels: none

feat: add PO Delivery Documents API, migration, and clean up legacy API
  nirmaan_stack/api/delivery_challans_data.py
  nirmaan_stack/api/po_delivery_documentss.py
  nirmaan_stack/patches/v3_0/migrate_dc_mir_to_po_delivery_documents.py
Labels: backend

feat: restrict CEO Hold status to authorized user only
  frontend/src/components/ui/ceo-hold-banner.tsx
  frontend/src/constants/ceoHold.ts
  frontend/src/hooks/useCEOHoldGuard.ts
  frontend/src/pages/projects/project.tsx
  frontend/src/types/NirmaanStack/Projects.ts
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.json
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/backfill_ceo_hold_by.py
Labels: UI, backend

feat: add frontend types, schema, and hooks for PO Delivery Documents
  frontend/src/pages/DeliveryChallansAndMirs/hooks/usePODeliveryDocuments.ts
  frontend/src/pages/DeliveryChallansAndMirs/schema.ts
  frontend/src/types/NirmaanStack/PODeliveryDocuments.ts
Labels: UI

feat: add DC Item and PO Delivery Documents doctypes
  nirmaan_stack/nirmaan_stack/doctype/dc_item/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/dc_item/dc_item.json
  nirmaan_stack/nirmaan_stack/doctype/dc_item/dc_item.py
  nirmaan_stack/nirmaan_stack/doctype/po_delivery_documents/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/po_delivery_documents/po_delivery_documents.json
  nirmaan_stack/nirmaan_stack/doctype/po_delivery_documents/po_delivery_documents.py
Labels: backend

feat: add DC/MIR upload, view, and list components
  frontend/src/pages/DeliveryChallansAndMirs/components/CategoryFilter.tsx
  frontend/src/pages/DeliveryChallansAndMirs/components/DCMIRItemSelector.tsx
  frontend/src/pages/DeliveryChallansAndMirs/components/POListCards.tsx
  frontend/src/pages/DeliveryChallansAndMirs/components/POListTable.tsx
  frontend/src/pages/DeliveryChallansAndMirs/components/UploadDCMIRDialog.tsx
  frontend/src/pages/DeliveryChallansAndMirs/components/ViewAttachmentsDialog.tsx
Labels: UI

refactor: migrate DC/MIR pages to use unified PO Delivery Documents
  frontend/src/pages/DeliveryChallansAndMirs/DeliveryChallansAndMirs.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/DeliveryChallanTable.tsx
Labels: UI

docs: claude context update
  .claude/CHANGELOG.md
  CLAUDE.md
  frontend/.claude/CHANGELOG.md
  frontend/.claude/context/domain/ceo-hold.md
  frontend/CLAUDE.md
Labels: none

feat: add DCs & MIRs report tab to Reports page
  frontend/src/pages/reports/components/DCMIRReports.tsx
  frontend/src/pages/reports/components/columns/dcmirColumns.tsx
  frontend/src/pages/reports/config/dcmirReportsTable.config.ts
  frontend/src/pages/reports/constants.ts
  frontend/src/pages/reports/hooks/useDCMIRReportsData.ts
  frontend/src/pages/reports/store/useReportStore.ts
  nirmaan_stack/api/po_delivery_documentss.py
Labels: UI, backend

fix: restrict DC/MIR filename display to 25 characters in dialogs
  frontend/src/pages/DeliveryChallansAndMirs/components/UploadDCMIRDialog.tsx
  frontend/src/pages/DeliveryChallansAndMirs/components/ViewAttachmentsDialog.tsx
Labels: UI

refactor: replace antd Radio.Group with Tailwind button tabs in Reports
  frontend/src/pages/reports/ReportsContainer.tsx
Labels: UI

feat: add project-level PO delivery documents API endpoint
  nirmaan_stack/api/po_delivery_documentss.py
Labels: backend

docs: claude changes
  frontend/.claude/settings.local.json
Labels: none

feat: integrate DC/MIR data into material usage with PO-wise table
  frontend/src/pages/projects/components/DCCountCell.tsx
  frontend/src/pages/projects/components/DeliveryDocumentCountCell.tsx
  frontend/src/pages/projects/components/MaterialTableRow.tsx
  frontend/src/pages/projects/components/POWiseMaterialTable.tsx
  frontend/src/pages/projects/components/ProjectMaterialUsageTab.tsx
  frontend/src/pages/projects/components/VirtualizedMaterialTable.tsx
  frontend/src/pages/projects/hooks/useMaterialUsageData.ts
Labels: UI

feat: include stub documents in PO-level DC/MIR counts
  frontend/src/pages/projects/components/DeliveryDocumentCountCell.tsx
  frontend/src/pages/projects/components/POWiseMaterialTable.tsx
  frontend/src/pages/projects/components/ProjectMaterialUsageTab.tsx
  frontend/src/pages/projects/hooks/useMaterialUsageData.ts
Labels: UI

fix: vite build fixes
  frontend/src/components/POSummary.tsx
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/pages/ProjectPayments/order-payment-summary.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/vite-env.d.ts
Labels: UI

feat: add Attachment link column to DC/MIR report tables
  frontend/src/pages/reports/components/DCMIRReports.tsx
  frontend/src/pages/reports/components/columns/dcmirColumns.tsx
Labels: UI

feat: Fix Material Plan sub-category persistence
  frontend/src/pages/projects/components/planning/AddMaterialPlanForm.tsx
  frontend/src/pages/projects/components/planning/ReviewPlansPage.tsx
Labels: UI

docs: sync context docs with recent PO Delivery Documents and report features
  .claude/CHANGELOG.md
  .claude/context/apis.md
  .claude/context/doctypes.md
  frontend/.claude/CHANGELOG.md
  frontend/.claude/context/_index.md
Labels: none

feat: Enhanced Bulk PDF Download with Progress and Rate Selection
  frontend/src/components/common/BulkPdfDownloadButton.tsx
  frontend/src/hooks/useBulkPdfDownload.ts
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPdf.tsx
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  nirmaan_stack/api/pdf_helper/bulk_download.py
  nirmaan_stack/api/pdf_helper/pdf_merger_api.py
  nirmaan_stack/api/pdf_helper/po_print.py
  nirmaan_stack/api/pdf_helper/print_integration.py
Labels: UI, backend

fix: Change print format name to "PO Inovice to PO Orders"
  nirmaan_stack/fixtures/print_format.json
Labels: backend

feat: Bulk Invoice Download and Human-Readable Filenames
  frontend/src/components/common/BulkPdfDownloadButton.tsx
  frontend/src/hooks/useBulkPdfDownload.ts
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  nirmaan_stack/api/pdf_helper/bulk_download.py
Labels: UI, backend

feat: implement unified bulk download suite for project documents
  frontend/src/components/common/BulkPdfDownloadButton.tsx
  frontend/src/hooks/useBulkPdfDownload.ts
  nirmaan_stack/api/pdf_helper/bulk_download.py
Labels: UI, backend

feat: TDS Progressive PDF Generator completed Percentage
  frontend/src/pages/projects/TDSRepository/TDSRepositoryView.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsExportDialog.tsx
  nirmaan_stack/api/pdf_helper/pdf_merger_api.py
  nirmaan_stack/api/tds/tds_report.py
Labels: UI, backend

feat : Download All DNS Added:
  frontend/src/components/common/BulkPdfDownloadButton.tsx
  frontend/src/hooks/useBulkPdfDownload.ts
  nirmaan_stack/api/pdf_helper/bulk_download.py
Labels: UI, backend

feat: Add status filters to Procurement Order and Service Request queries in bulk download.
  nirmaan_stack/api/pdf_helper/bulk_download.py
Labels: backend

feat(aq-table): Change item filter to Doc ID and enhanced UI
  frontend/src/pages/ApprovedQuotationsFlow/ApprovedQuotationsTable.tsx
  frontend/src/pages/ApprovedQuotationsFlow/approvedQuotations.constants.ts
Labels: UI

refactor: Rename Procurement Order facet variables, remove client-side mapping for PO facets, and update item link text size.
  frontend/src/pages/ApprovedQuotationsFlow/ApprovedQuotationsTable.tsx
Labels: UI

feat: implement reusable VendorAttachmentForPR and integrate into Procurement Request flows
  frontend/src/components/common/VendorAttachmentForPR.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/ApproveRejectVendorQuotesView.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/components/VendorApprovalTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
Labels: UI

feat: integrate VendorAttachmentForPR into Sent Back (SB) Request flows
  frontend/src/pages/Sent Back Requests/ApproveSBSQuotesView.tsx
  frontend/src/pages/Sent Back Requests/SBQuotesSelectionReview.tsx
Labels: UI

feat: add Vendor Quotes tab to Vendor detail page with centralized history
  frontend/src/pages/vendors/components/VendorQuotesTable.tsx
  frontend/src/pages/vendors/vendor.tsx
Labels: UI

feat: Add vendor quotes attachment summary component and integrate attachment refresh callbacks for real-time updates.
  frontend/src/components/common/VendorAttachmentForPR.tsx
  frontend/src/components/common/VendorQuotesAttachmentSummaryPR.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/ApproveRejectVendorQuotesView.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/components/VendorApprovalTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/Sent Back Requests/ApproveSBSQuotesView.tsx
  frontend/src/pages/Sent Back Requests/SBQuotesSelectionReview.tsx
  frontend/src/types/NirmaanStack/ProcurementRequests.ts
  frontend/src/types/NirmaanStack/SentBackCategory.ts
Labels: UI

feat: Introduce a `readOnly` prop to `VendorAttachmentForPR` to conditionally hide the quote replacement section.
  frontend/src/components/common/VendorAttachmentForPR.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/ApproveRejectVendorQuotesView.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/components/VendorApprovalTable.tsx
Labels: UI

feat: Make FileAttachment component read-only in ApproveSBSQuotesView.
  frontend/src/pages/Sent Back Requests/ApproveSBSQuotesView.tsx
Labels: UI

feat(backend): add payment terms migration patch
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/custom_po_migrate_payment_terms_text_to_json.py
Labels: backend
