Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

fix: only PD and Delivered POs Report
  frontend/src/config/queryKeys.ts
Labels: UI

fix: merged po fix for pr-summary for porjects
  frontend/src/components/pr-summary.tsx
  frontend/src/pages/projects/project.tsx
Labels: UI

fix: added updated total amounts for projects table
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/projects/projects.tsx
Labels: UI

fix: updated the new data table related changes and adapted the purchase order tabs to adapt these
  frontend/src/components/data-table/new-data-table.tsx
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/hooks/useServerDataTable.ts
  frontend/src/pages/ProcurementOrders/RenderPurchaseOrdersTab.tsx
  frontend/src/pages/ProcurementOrders/amend-po/approve-amend-po.tsx
  frontend/src/pages/ProcurementOrders/amend-po/approve-select-amend-po.tsx
  frontend/src/pages/ProcurementOrders/approve-select-amend-po.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/InvoiceDataDialog.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POAttachments.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPaymentTermsCard.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPdf.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/TransactionDetailsCard.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/config/purchaseOrdersTable.config.ts
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-select-vendor.tsx
  frontend/src/pages/ProjectPayments/AccountantTabs.tsx
  frontend/src/pages/ProjectPayments/order-payment-summary.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/Retired Components/ReleasePONew.tsx
  frontend/src/pages/Sent Back Requests/approve-select-sent-back.tsx
  frontend/src/pages/Sent Back Requests/config/sentBackCategoryTables.config.ts
  nirmaan_stack/api/data-table.py
Labels: UI, backend

fix: pr to po and sb creation api fix
  frontend/src/pages/Sent Back Requests/sent-back-summary.tsx
  frontend/src/pages/reports/ReportsContainer.tsx
  nirmaan_stack/api/approve_vendor_quotes.py
  nirmaan_stack/api/send_vendor_quotes.py
  nirmaan_stack/integrations/controllers/procurement_requests.py
Labels: UI, backend

fix: added workflow state for PR automation
  nirmaan_stack/fixtures/workflow.json
Labels: backend

fix: sebt back ui fix
  frontend/src/pages/Sent Back Requests/SBQuotesSelectionReview.tsx
Labels: UI

fix: added delta amount to PO reports
  frontend/src/pages/reports/components/POReports.tsx
Labels: UI

fix: removed json.dump from scripts for creating po
  nirmaan_stack/api/approve_vendor_quotes.py
Labels: backend

chore: updated default dashboard, fix: fixed projects status counts in the projects view
  frontend/src/components/data-table/data-table.tsx
  frontend/src/components/layout/dashboards/dashboard-default.tsx
  frontend/src/hooks/useServerDataTable.ts
  frontend/src/pages/ApprovedQuotationsFlow/ApprovedQuotationsTable.tsx
  frontend/src/pages/dashboard.tsx
  frontend/src/pages/projects/projects.tsx
  nirmaan_stack/api/customers/customer_financials.py
  nirmaan_stack/api/procurement_orders.py
  nirmaan_stack/api/projects/project_aggregates.py
Labels: UI, backend

feat: added project material usage tab
  frontend/src/pages/projects/components/CategoryAccordionItem.tsx
  frontend/src/pages/projects/components/ProjectMaterialUsage.tsx
  frontend/src/pages/projects/components/ProjectMaterialUsageTab.tsx
  frontend/src/pages/projects/project.tsx
Labels: UI

fix: added Hotel & Accomodation Category
  nirmaan_stack/fixtures/category.json
Labels: backend

fix: for accuracte pr status generation
  nirmaan_stack/api/projects/project_aggregates.py
Labels: backend

feat: modified components of pr, po, sb to include work_package field, fixed new pr logic and minor changes
  frontend/src/components/data-table/new-data-table.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRContainer.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRView.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/EditItemDialog.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useApprovePRLogic.ts
  frontend/src/pages/ProcurementRequests/ApproveNewPR/types/index.ts
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/types/index.ts
  frontend/src/pages/ProcurementRequests/NewPR/NewProcurementRequestPage.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/ActionButtons.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/EditItemDialog.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/ItemSelectorControls.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/NewItemDialog.tsx
  frontend/src/pages/ProcurementRequests/NewPR/hooks/useProcurementRequestForm.ts
  frontend/src/pages/ProcurementRequests/NewPR/hooks/useSubmitProcurementRequest.ts
  frontend/src/pages/ProcurementRequests/NewPR/store/useProcurementRequestStore.ts
  frontend/src/pages/ProcurementRequests/NewPR/types/index.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgress.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/Retired Components/approve-r-reject-vendor-quotes.tsx
  frontend/src/pages/Retired Components/new-new-pr.tsx
  frontend/src/pages/projects/projects.tsx
  frontend/src/types/NirmaanStack/ProcurementOrders.ts
  frontend/src/types/NirmaanStack/ProcurementRequests.ts
  frontend/src/types/NirmaanStack/SentBackCategory.ts
  nirmaan_stack/api/approve_reject_sb_vendor_quotes.py
  nirmaan_stack/api/reject_vendor_quotes.py
  nirmaan_stack/api/send_vendor_quotes.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_6/backfill_pr_item_work_package.py
Labels: UI, backend

fix: added proper headers and values to derived columns for all table views for export
  frontend/src/components/data-table/data-table-pagination.tsx
  frontend/src/pages/ApprovedQuotationsFlow/ApprovedQuotationsTable.tsx
  frontend/src/pages/Items/itemsPage.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/approve-pr.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-select-vendor.tsx
  frontend/src/pages/ProcurementRequests/procurement-requests.tsx
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/Sent Back Requests/approve-select-sent-back.tsx
  frontend/src/pages/Sent Back Requests/sent-back-request.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-amend-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-service-request-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/select-service-vendor-list.tsx
  frontend/src/pages/customers/customers.tsx
  frontend/src/pages/inflow-payments/InFlowPayments.tsx
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  frontend/src/pages/projects/components/ProjectPRSummaryTable.tsx
  frontend/src/pages/projects/components/ProjectSRSummaryTable.tsx
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/tasks/invoices/components/columns.tsx
  frontend/src/pages/users/users.tsx
  frontend/src/pages/vendors/VendorsPage.tsx
  frontend/src/utils/exportToCsv.ts
Labels: UI

fix: vendorquoteselection table headers changes
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
Labels: UI

fix: fixed new data table initial fetching, added project and vendor faceted filters for po reports table, added 5k, 10k, page length options for pagination
  frontend/src/components/data-table/data-table-pagination.tsx
  frontend/src/hooks/useServerDataTable.ts
  frontend/src/pages/reports/components/POReports.tsx
  frontend/src/pages/reports/components/columns/poColumns.tsx
  nirmaan_stack/api/data-table.py
Labels: UI, backend

feat: added delivery note preview in po update delivery notes sheet, fix; minor fixes
  frontend/src/pages/DeliveryNotes/components/DeliveryHistory.tsx
  frontend/src/pages/DeliveryNotes/constants.ts
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPaymentTermsCard.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPdf.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-vendor.tsx
Labels: UI

fix: removed approved makelist from new-pr-request summary
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-vendor.tsx
Labels: UI

fix: enable DN for Delivered POs in PO view
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

fix: popdf file fix
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPdf.tsx
Labels: UI

fix: removed target="_blank" rel="noopener noreferrer"
  frontend/src/pages/ProjectPayments/AccountantTabs.tsx
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/inflow-payments/InFlowPayments.tsx
Labels: UI

feat: Added SR Tax Invoice view download functionality with custom field inputs to render and corrected PO Purchase Order styling
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
Labels: UI

fix: fixed Project Materials Usage tab component, blocked payment deletion for Approved Payments, minor fixes
  frontend/src/hooks/useOrderTotals.ts
  frontend/src/pages/ProcurementOrders/purchase-order/components/TransactionDetailsCard.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  frontend/src/pages/ProjectPayments/AccountantTabs.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/pages/projects/components/ProjectMaterialUsage.tsx
  frontend/src/pages/projects/components/ProjectMaterialUsageTab.tsx
  frontend/src/pages/projects/project.tsx
  nirmaan_stack/integrations/controllers/delete_doc_versions.py
Labels: UI, backend

fix: reverted sorting changes
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
Labels: UI

feat: added print format fixture and commented PO new pdf button
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  nirmaan_stack/fixtures/print_format.json
  nirmaan_stack/hooks.py
Labels: UI, backend

fix: navigation fix for sr from vendor view
  frontend/src/pages/ServiceRequests/service-request/approved-sr-list.tsx
Labels: UI

fix: optimized data-table rendering using tanstack/react-virtual and added vendor name filter in projectposummary
  frontend/package.json
  frontend/src/components/data-table/new-data-table.tsx
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  frontend/yarn.lock
Labels: UI

feat: added all prs, all sbs, all pos, all payments tabs in their respective pages
  frontend/src/pages/ProcurementOrders/purchase-order/config/purchaseOrdersTable.config.ts
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  frontend/src/pages/ProcurementRequests/config/prTable.config.ts
  frontend/src/pages/ProcurementRequests/procurement-requests.tsx
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
  frontend/src/pages/ProjectPayments/config/projectPaymentsTable.config.ts
  frontend/src/pages/Sent Back Requests/config/sentBackCategoryTables.config.ts
  frontend/src/pages/Sent Back Requests/sent-back-request.tsx
  frontend/src/types/NirmaanStack/SentBackCategory.ts
Labels: UI

feat: shifted doc counts logic to single backend api call and updated respective frontend components
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/layout/dashboards/dashboard-pl.tsx
  frontend/src/components/layout/dashboards/procurement-dashboard.tsx
  frontend/src/components/nav/nav-bar.tsx
  frontend/src/hooks/useSidebarCounts.ts
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
  frontend/src/pages/Sent Back Requests/sent-back-request.tsx
  frontend/src/pages/ServiceRequests/ServiceRequestsTabs.tsx
  frontend/src/zustand/useDocCountStore.ts
  nirmaan_stack/api/sidebar_counts.py
Labels: UI, backend

feat: added amt paid and po amt columns to invoice recon tables
  frontend/src/hooks/useOrderPayments.ts
  frontend/src/hooks/useOrderTotals.ts
  frontend/src/pages/ProcurementRequests/procurement-requests.tsx
  frontend/src/pages/tasks/invoices/components/PendingTasksTable.tsx
  frontend/src/pages/tasks/invoices/components/TaskHistoryTable.tsx
  frontend/src/pages/tasks/invoices/components/columns.tsx
Labels: UI

feat: shifted project payments actions to backend and added utr dup validation
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/TransactionDetailsCard.tsx
  frontend/src/pages/ProjectPayments/hooks/useRequestPayment.ts
  frontend/src/pages/ProjectPayments/hooks/useUpdatePaymentRequests.ts
  frontend/src/pages/ProjectPayments/request-payment-dialog.tsx
  frontend/src/pages/ProjectPayments/request-payment/RequestPaymentDialog.tsx
  frontend/src/pages/ProjectPayments/update-payment/AccountantTabs.tsx
  frontend/src/pages/ProjectPayments/update-payment/UpdatePaymentDialog.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/zustand/useDialogStore.ts
  nirmaan_stack/api/payments/project_payments.py
  nirmaan_stack/services/finance.py
Labels: UI, backend

feat: added Merged POs table and modified All POs table
  frontend/src/pages/ProcurementOrders/purchase-order/config/purchaseOrdersTable.config.ts
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
Labels: UI

fix: ui fixes in data table component, updated item work package backfill patch, fixed sr invoice print format, minor fixes
  frontend/src/components/data-table/new-data-table.tsx
  frontend/src/components/helpers/ItemsHoverCard.tsx
  frontend/src/pages/Items/itemsPage.tsx
  frontend/src/pages/ProcurementRequests/procurement-requests.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/pages/customers/customers.tsx
  frontend/src/types/NirmaanStack/Address.ts
  frontend/src/types/NirmaanStack/ServiceRequests.ts
  nirmaan_stack/fixtures/print_format.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_6/backfill_pr_item_work_package.py
Labels: UI, backend

feat: refactored vendors view and ported material and payments tables to adapt new data table config
  frontend/src/pages/ProcurementOrders/purchase-order/config/purchaseOrdersTable.config.ts
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/vendors/VendorsPage.tsx
  frontend/src/pages/vendors/components/EditBankDetailsDialog.tsx
  frontend/src/pages/vendors/components/PaymentScreenshotDialog.tsx
  frontend/src/pages/vendors/components/VendorBankDetailsCard.tsx
  frontend/src/pages/vendors/components/VendorMaterialOrdersTable.tsx
  frontend/src/pages/vendors/components/VendorOverviewCard.tsx
  frontend/src/pages/vendors/components/VendorPaymentsTable.tsx
  frontend/src/pages/vendors/components/VendorsOverallSummaryCard.tsx
  frontend/src/pages/vendors/hooks/usePaymentScreenshotHandler.ts
  frontend/src/pages/vendors/hooks/useVendorBankDetailsForm.ts
  frontend/src/pages/vendors/hooks/useVendorData.ts
  frontend/src/pages/vendors/types/index.ts
  frontend/src/pages/vendors/vendor.tsx
Labels: UI

feat: implemented virtualization in material usage table and fixed po link
  frontend/src/pages/projects/components/MaterialTableRow.tsx
  frontend/src/pages/projects/components/ProjectMaterialUsageTab.tsx
  frontend/src/pages/projects/components/VirtualizedMaterialTable.tsx
  frontend/src/pages/projects/config/materialUsageHelpers.ts
  frontend/src/pages/projects/hooks/useMaterialUsageData.ts
Labels: UI

fix: category changes from export-fixtures
  nirmaan_stack/fixtures/category.json
Labels: backend

fix: url fix for sr invoice render
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
Labels: UI

fix: commented out merged po tab
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
Labels: UI

fix: fixed is_admin checking expression in sidebar_counts.py
  nirmaan_stack/api/sidebar_counts.py
Labels: backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
