Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

fix: added account number column in excel output for project payments
  frontend/src/components/data-table/data-table.tsx
  frontend/src/pages/ProjectPayments/project-payments-payment-wise.tsx
Labels: UI

chore: added po navigation to the tables that has po column, added vendors card to the accountants dashboard, floored request amount to avoid decimals, added project gst info to the project overview
  frontend/src/components/layout/dashboard-accountant.tsx
  frontend/src/pages/ProjectPayments/approve-payments.tsx
  frontend/src/pages/ProjectPayments/project-payments-payment-wise.tsx
  frontend/src/pages/ProjectPayments/request-payment-dialog.tsx
  frontend/src/pages/projects/project.tsx
Labels: UI

fix: added filters to include only Paid payments for total amount paid calculation, minor fix in vendor forms
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/vendors/edit-vendor.tsx
  frontend/src/pages/vendors/new-vendor.tsx
  frontend/src/pages/vendors/vendor.tsx
Labels: UI

fix: added project gst selection functionality to service requests and updated address and gst formatting in pdfs
  frontend/src/components/service-request/approved-sr.tsx
  frontend/src/pages/DeliveryNotes/deliverynote.tsx
  frontend/src/pages/ProcurementOrders/PurchaseOrder.tsx
  nirmaan_stack/nirmaan_stack/doctype/service_requests/service_requests.json
Labels: UI, backend

feat: a patch to fill project_gst field in existing Service Requests, a patch to recalculate amount to include tds whose tds is not empty
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_1/project_gst_patch_sr.py
  nirmaan_stack/patches/v2_1/project_payments_amount.py
Labels: backend

fix: minor ui fixes
  frontend/src/components/service-request/approved-sr.tsx
  frontend/src/pages/ProcurementOrders/PurchaseOrder.tsx
Labels: UI

fix: corrected requested amount render for fulfilled payments tab
  frontend/src/pages/ProjectPayments/project-payments-payment-wise.tsx
Labels: UI

chore: added counts to the payment tabs
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/ProjectPayments/project-payments-payment-wise.tsx
  frontend/src/pages/vendors/vendor.tsx
Labels: UI

fix: transferred amend functionality directly in approved sr screen in a sheet, chore: minor ui fixes
  frontend/src/components/service-request/approved-sr.tsx
  frontend/src/components/service-request/new-service-request.tsx
  frontend/src/components/service-request/select-service-vendor.tsx
  frontend/src/components/service-request/sr-summary.tsx
  nirmaan_stack/integrations/controllers/nirmaan_versions.py
Labels: UI, backend

chore: removed Approve Payments side-bar option for Nirmaan Project Lead Profie, minor ui fixes in PurchaseOrder and MainLayout
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/layout/main-layout.tsx
  frontend/src/pages/ProcurementOrders/PurchaseOrder.tsx
Labels: UI

fix: added In Progress state and their transition for PR
  nirmaan_stack/fixtures/role.json
  nirmaan_stack/fixtures/workflow.json
  nirmaan_stack/fixtures/workflow_state.json
Labels: backend

feat: added new pr flow placeholders
  frontend/src/components/procurement/ProcurementProgress.tsx
  frontend/src/components/procurement/procurement-requests.tsx
  frontend/src/components/procurement/procurement-vendor.tsx
  frontend/src/components/procurement/render-procurement-requests.tsx
  nirmaan_stack/nirmaan_stack/doctype/procurement_requests/procurement_requests.json
Labels: UI, backend

fix: fixed minor bug in project, updated orderby parameter to render Requested Payments in creation field desc wise, optimized prCounts state in useDocCountStore, chore: minor ui changes
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/service-request/approve-amended-sr.tsx
  frontend/src/components/ui/ProcurementHeaderCard.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/pages/ProjectPayments/approve-payments.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/zustand/useDocCountStore.ts
Labels: UI

feat: added functionality of new item vendor quotes selection
  frontend/src/components/procurement/ProcurementProgress.tsx
  frontend/src/components/procurement/procurement-requests.tsx
  frontend/src/components/procurement/procurement-vendor.tsx
  frontend/src/components/procurement/render-procurement-requests.tsx
Labels: UI

feat: completed sending for approval functionality, chore: fixed minor bugs
  frontend/src/components/helpers/VendorsReactSelect.tsx
  frontend/src/components/procurement/ProcurementProgress.tsx
  frontend/src/components/procurement/VendorsSelectionSummary.tsx
  frontend/src/components/procurement/procurement-vendor.tsx
  frontend/src/components/procurement/render-procurement-requests.tsx
  frontend/src/components/procurement/select-vendors.tsx
  frontend/src/components/service-request/select-service-vendor.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/vendors/vendor.tsx
Labels: UI

feat: completed approving and rejecting functionality of vendor quotes
  frontend/src/App.tsx
  frontend/src/components/procurement/ProcurementProgress.tsx
  frontend/src/components/procurement/VendorsSelectionSummary.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-r-reject-vendor-quotes.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-select-vendor.tsx
  frontend/src/types/NirmaanStack/ProcurementRequests.ts
  frontend/src/types/NirmaanStack/Vendors.ts
  frontend/src/utils/FormatDate.ts
  nirmaan_stack/api/approve_vendor_quotes.py
  nirmaan_stack/api/reject_vendor_quotes.py
Labels: UI, backend

feat: completed approve and reject vendor quotes for pr vendor quote selections and completed the vendor quotes selection and approval for sent backs as well
  frontend/src/App.tsx
  frontend/src/components/procurement/render-procurement-request.tsx
  frontend/src/components/ui/ProcurementActionsHeaderCard.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgress.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-requests.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-vendor.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/render-procurement-requests.tsx
  frontend/src/pages/Sent Back Requests/ApproveVendorQuotes.tsx
  frontend/src/pages/Sent Back Requests/RenderSentBackComponent.tsx
  frontend/src/pages/Sent Back Requests/SBQuotesSelectionReview.tsx
  frontend/src/pages/Sent Back Requests/SentBackVendorQuotes.tsx
  frontend/src/pages/Sent Back Requests/sent-back-summary.tsx
  frontend/src/pages/approve-vendor.tsx
  frontend/src/types/NirmaanStack/NirmaanComments.ts
  frontend/src/types/NirmaanStack/ProcurementRequests.ts
  frontend/src/types/NirmaanStack/SentBackCategory.ts
  nirmaan_stack/api/approve_reject_sb_vendor_quotes.py
  nirmaan_stack/api/approve_vendor_quotes.py
  nirmaan_stack/api/reject_vendor_quotes.py
  nirmaan_stack/api/send_vendor_quotes.py
  nirmaan_stack/integrations/controllers/delete_doc_versions.py
  nirmaan_stack/nirmaan_stack/doctype/sent_back_category/sent_back_category.json
Labels: UI, backend

feat: migrated submit functions to backend api calls for po cancelling, merging, unmerging and created new sub components for PO to achieve modularity and readability
  frontend/src/components/ui/ActionSummary.tsx
  frontend/src/components/ui/ApproveVendorQuotesPRorSBAntDTable.tsx
  frontend/src/components/ui/PODetails.tsx
  frontend/src/components/ui/POPdf.tsx
  frontend/src/components/ui/RenderPRorSBComments.tsx
  frontend/src/pages/ProcurementOrders/PurchaseOrder.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-r-reject-vendor-quotes.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/Sent Back Requests/ApproveSBVendorQuotes.tsx
  frontend/src/types/NirmaanStack/ProcurementOrders.ts
  frontend/src/types/NirmaanStack/ProjectPayments.ts
  frontend/src/utils/getAmounts.ts
  nirmaan_stack/api/approve_reject_sb_vendor_quotes.py
  nirmaan_stack/api/approve_vendor_quotes.py
  nirmaan_stack/api/handle_cancel_po.py
  nirmaan_stack/api/po_merge_and_unmerge.py
  nirmaan_stack/api/reject_vendor_quotes.py
  nirmaan_stack/api/send_vendor_quotes.py
Labels: UI, backend

feat: started working on custom pr
  frontend/src/App.tsx
  frontend/src/components/helpers/renderRightActionButton.tsx
  frontend/src/components/pr-summary.tsx
  frontend/src/components/ui/ProcurementHeaderCard.tsx
  frontend/src/pages/ProcurementRequests/NewPR/NewCustomPR.tsx
  frontend/src/pages/Sent Back Requests/SBQuotesSelectionReview.tsx
Labels: UI

feat: added new workflow_state transition rules
  nirmaan_stack/fixtures/role.json
  nirmaan_stack/fixtures/workflow.json
  nirmaan_stack/fixtures/workflow_state.json
Labels: backend

feat: workflow actions addition
  nirmaan_stack/fixtures/workflow.json
Labels: backend

feat: added new field for Procurement Orders doc called custom to track whether PO is custom, added custom pr approve and reject functionalities and api calls
  nirmaan_stack/api/approve_vendor_quotes.py
  nirmaan_stack/api/delete_custom_po_and_pr.py
  nirmaan_stack/integrations/controllers/procurement_orders.py
  nirmaan_stack/nirmaan_stack/doctype/procurement_orders/procurement_orders.json
Labels: backend

feat: changes made relevant to custom pr flow which includes resolving and changes related to pr workflow_state changes
  frontend/src/App.tsx
  frontend/src/components/data-table/data-table-toolbar.tsx
  frontend/src/components/data-table/data-table.tsx
  frontend/src/components/pr-summary.tsx
  frontend/src/components/procurement-request/list-pr.tsx
  frontend/src/components/ui/ApproveVendorQuotesPRorSBAntDTable.tsx
  frontend/src/components/ui/PODetails.tsx
  frontend/src/components/ui/ProcurementActionsHeaderCard.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/hover-card.tsx
  frontend/src/pages/ProcurementOrders/PurchaseOrder.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-r-reject-vendor-quotes.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-select-vendor.tsx
  frontend/src/pages/ProcurementRequests/NewPR/NewCustomPR.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgress.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-vendor.tsx
  frontend/src/pages/ProjectPayments/request-payment-dialog.tsx
  frontend/src/pages/Sent Back Requests/SBQuotesSelectionReview.tsx
  frontend/src/types/NirmaanStack/NirmaanNotifications.ts
  frontend/src/types/NirmaanStack/ProcurementOrders.ts
  frontend/src/types/NirmaanStack/ServiceRequests.ts
  frontend/src/utils/getAmounts.ts
  frontend/src/zustand/useNotificationStore.ts
Labels: UI

feat: added new table called Nirmaan Attachments and added functionality to custom PR
  frontend/src/pages/ProcurementOrders/PurchaseOrder.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-r-reject-vendor-quotes.tsx
  frontend/src/pages/ProcurementRequests/NewPR/NewCustomPR.tsx
  nirmaan_stack/nirmaan_stack/doctype/nirmaan_attachments/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/nirmaan_attachments/nirmaan_attachments.js
  nirmaan_stack/nirmaan_stack/doctype/nirmaan_attachments/nirmaan_attachments.json
  nirmaan_stack/nirmaan_stack/doctype/nirmaan_attachments/nirmaan_attachments.py
  nirmaan_stack/nirmaan_stack/doctype/nirmaan_attachments/test_nirmaan_attachments.py
Labels: UI, backend

feat: added patches for pr and sb rfq_data field and pr status changes
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_2/pr_status_update_patch.py
  nirmaan_stack/patches/v2_2/rfq_data_field_fill.py
Labels: backend

feat: revamped sidebar tabs and accordingly role wise dashboards and push and in app notifications functionality
  frontend/src/App.tsx
  frontend/src/components/dashboard-pl.tsx
  frontend/src/components/dashboard-pm.tsx
  frontend/src/components/helpers/renderRightActionButton.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/procurement-packages.tsx
  frontend/src/components/procurement/procurement-dashboard.tsx
  frontend/src/components/procurement/rfq-pdf.tsx
  frontend/src/components/ui/POPdf.tsx
  frontend/src/components/ui/hover-card.tsx
  frontend/src/pages/ProcurementOrders/RenderPurchaseOrdersTab.tsx
  frontend/src/pages/ProcurementOrders/release-po-select.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/approve-order.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/approve-pr.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgress.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-requests.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/render-procurement-requests.tsx
  frontend/src/pages/ProjectPayments/approve-payments.tsx
  frontend/src/pages/ProjectPayments/project-payments-payment-wise.tsx
  frontend/src/pages/Retired Components/approve-sent-back.tsx
  frontend/src/pages/Retired Components/approve-vendor.tsx
  frontend/src/pages/Retired Components/delayed-pr-select.tsx
  frontend/src/pages/Retired Components/delayed-pr.tsx
  frontend/src/pages/Sent Back Requests/ApproveSBVendorQuotes.tsx
  frontend/src/pages/Sent Back Requests/approve-select-sent-back.tsx
  frontend/src/pages/ServiceRequests/ServiceRequestsTabs.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/pages/ServiceRequests/service-request/sr-summary.tsx
  frontend/src/pages/approve-amend-po.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/projects/projects.tsx
  nirmaan_stack/api/custom_pr_api.py
  nirmaan_stack/integrations/controllers/procurement_orders.py
  nirmaan_stack/integrations/controllers/procurement_requests.py
  nirmaan_stack/integrations/controllers/project_payments.py
  nirmaan_stack/integrations/controllers/sent_back_category.py
  nirmaan_stack/integrations/controllers/service_requests.py
  nirmaan_stack/nirmaan_stack/doctype/nirmaan_notifications/nirmaan_notifications.json
Labels: UI, backend

feat: added generate rfq functionality for both pr and sb
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/GenerateRFQDialog.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ItemVendorMakeSelection.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgress.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/Sent Back Requests/SBQuotesSelectionReview.tsx
  frontend/src/pages/Sent Back Requests/SentBackVendorQuotes.tsx
Labels: UI

feat: added delete sb functionality and modified pr delete functionality
  frontend/src/components/procurement/sent-back-request.tsx
  frontend/src/hooks/usePRorSBDelete.ts
  frontend/src/pages/ProcurementRequests/ApproveNewPR/approve-order.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-r-reject-vendor-quotes.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-requests.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-vendor.tsx
  frontend/src/pages/Sent Back Requests/sent-back-summary.tsx
  frontend/src/pages/projects/SectionContext.tsx
  frontend/src/types/NirmaanStack/Category.ts
  frontend/src/types/NirmaanStack/Items.ts
  frontend/src/types/NirmaanStack/NirmaanAttachment.ts
  frontend/src/types/NirmaanStack/ProcurementRequests.ts
  frontend/src/utils/auth/UserProvider.tsx
  nirmaan_stack/integrations/controllers/sent_back_category.py
Labels: UI, backend

fix: fixed minor bugs
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/GenerateRFQDialog.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ItemVendorMakeSelection.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgress.tsx
  frontend/src/pages/ProjectPayments/approve-payments.tsx
  frontend/src/pages/Sent Back Requests/SentBackVendorQuotes.tsx
Labels: UI

fix: added new package and update attachment user permissions
  nirmaan_stack/fixtures/category.json
  nirmaan_stack/fixtures/procurement_packages.json
  nirmaan_stack/fixtures/role.json
  nirmaan_stack/fixtures/work_packages.json
  nirmaan_stack/nirmaan_stack/doctype/nirmaan_attachments/nirmaan_attachments.json
Labels: backend

fix: rfq_data fill ptach fix
  nirmaan_stack/patches/v2_2/rfq_data_field_fill.py
Labels: backend

feat: added in-app and push notificatons functionality for fulfilled payment events, modified other notification functionalities to avoid redundant notifications
  nirmaan_stack/api/custom_pr_api.py
  nirmaan_stack/integrations/Notifications/pr_notifications.py
  nirmaan_stack/integrations/controllers/procurement_orders.py
  nirmaan_stack/integrations/controllers/procurement_requests.py
  nirmaan_stack/integrations/controllers/project_payments.py
  nirmaan_stack/integrations/controllers/sent_back_category.py
  nirmaan_stack/integrations/controllers/service_requests.py
Labels: backend

feat: added new payments tab with sharing functionality, added revert pr changes functionality in in progress pr view, chores: basic optimizations and functionality improvements
  frontend/src/components/add-project-estimates.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/hooks/useUserData.ts
  frontend/src/pages/ProcurementOrders/PurchaseOrder.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgress.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/SharePaymentCell.tsx
  frontend/src/pages/ProjectPayments/approve-payments.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/ProjectPayments/project-payments-payment-wise.tsx
  frontend/src/pages/ProjectPayments/request-payment-dialog.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-service-request.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/pages/ServiceRequests/service-request/new-service-request.tsx
  frontend/src/pages/ServiceRequests/service-request/select-service-vendor.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/types/NirmaanStack/NirmaanUsers.ts
  frontend/src/types/NirmaanStack/ProcurementOrders.ts
  frontend/src/types/NirmaanStack/ProjectPayments.ts
  frontend/src/types/NirmaanStack/ServiceRequests.ts
  frontend/src/utils/getAmounts.ts
  frontend/src/utils/parseNumber.ts
  frontend/src/zustand/useDialogStore.ts
Labels: UI

feat: added items quantity tracking for po amendment, fix: fixed minor bugs
  nirmaan_stack/api/po_merge_and_unmerge.py
  nirmaan_stack/integrations/controllers/nirmaan_versions.py
  nirmaan_stack/integrations/controllers/procurement_orders.py
  nirmaan_stack/integrations/controllers/procurement_requests.py
  nirmaan_stack/integrations/controllers/project_payments.py
  nirmaan_stack/integrations/controllers/sent_back_category.py
  nirmaan_stack/integrations/controllers/service_requests.py
Labels: backend

fix: fixed service requests total and tabs flickering, added items hover card to po, pr, sr tables in vendors view and projects view
  frontend/src/components/helpers/ItemsHoverCard.tsx
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/ProjectPayments/project-payments-payment-wise.tsx
  frontend/src/pages/projects/AllTab.tsx
  frontend/src/pages/projects/ProjectMakesTab.tsx
  frontend/src/pages/projects/ServiceRequestsAccordion.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/vendors/vendor.tsx
Labels: UI

feat: refactored new vendor submit function and shifted functionality to backend, added vendor gst validation functionality directly in frontend, added order by for delivery notes table
  frontend/src/lib/ServiceCategories.ts
  frontend/src/pages/DeliveryNotes/deliverynote.tsx
  frontend/src/pages/DeliveryNotes/deliverynotes.tsx
  frontend/src/pages/vendors/edit-vendor.tsx
  frontend/src/pages/vendors/new-vendor.tsx
  nirmaan_stack/api/create_vendor_and_address.py
  nirmaan_stack/nirmaan_stack/doctype/vendors/vendors.py
Labels: UI, backend

fix: added WLD && RR image link
  nirmaan_stack/fixtures/procurement_packages.json
  nirmaan_stack/fixtures/role.json
Labels: backend

fix: fixed project screen flickering issue
  frontend/src/pages/projects/edit-project-form.tsx
  frontend/src/pages/projects/project.tsx
Labels: UI

feat: added Project Inflows table for inflow recording
  nirmaan_stack/nirmaan_stack/doctype/project_inflows/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/project_inflows/project_inflows.js
  nirmaan_stack/nirmaan_stack/doctype/project_inflows/project_inflows.json
  nirmaan_stack/nirmaan_stack/doctype/project_inflows/project_inflows.py
  nirmaan_stack/nirmaan_stack/doctype/project_inflows/test_project_inflows.py
Labels: backend

fix: added workflow action fixture and update PR workflow state
  nirmaan_stack/fixtures/role.json
  nirmaan_stack/fixtures/workflow.json
  nirmaan_stack/fixtures/workflow_action_master.json
  nirmaan_stack/hooks.py
Labels: backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
