Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

fix(outflow-import): net TDS allocation, honest over-allocation docstring, pure note+field-map
  nirmaan_stack/api/outflow_import/expenses.py
  nirmaan_stack/services/outflow_import/allocation.py
  nirmaan_stack/services/outflow_import/ledgers.py
  nirmaan_stack/services/outflow_import/test_allocation.py
Labels: backend

fix(outflow-import): close the over-allocation hole review found, plus D-F-G
  nirmaan_stack/api/outflow_import/expenses.py
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_review.py
  nirmaan_stack/services/outflow_import/ledgers.py
  nirmaan_stack/services/outflow_import/status.py
Labels: backend

fix(outflow-import): round 2 -- the confirm label must not claim completion on an unknown balance
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
Labels: UI

feat(rate-helper): calculator slice 1 - the shared panel: three figures per line with a copy icon, combined on every line, the rewording
  frontend/src/lib/clipboard.ts
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/boq-wizard/rate-helper/rateHelperTypes.ts
Labels: UI

feat(snags): a batch is the FILE, not the worksheet
  frontend/src/pages/SnagList/import/IngestResultScreen.tsx
  frontend/src/pages/SnagList/import/SheetTabPanel.tsx
  frontend/src/pages/SnagList/import/SnagImportDialog.tsx
  frontend/src/pages/SnagList/import/importState.ts
  frontend/src/pages/SnagList/types.ts
  nirmaan_stack/api/snags/import_wizard.py
  nirmaan_stack/api/snags/test_snag_api.py
Labels: UI, backend

feat(snags): per-batch tabs, and manual snags that join a batch
  frontend/src/pages/SnagList/components/AddSnagDialog.tsx
  frontend/src/pages/SnagList/components/SnagBatchTabs.tsx
  frontend/src/pages/SnagList/components/SnagBatchesPanel.tsx
  frontend/src/pages/SnagList/components/SnagStatsStrip.tsx
  frontend/src/pages/SnagList/config/snagBatchTabs.ts
  frontend/src/pages/SnagList/hooks/useSnagMutations.ts
  frontend/src/pages/SnagList/hooks/useSnagStats.ts
  nirmaan_stack/api/snags/tracking.py
Labels: UI, backend

feat(snags): Download All -- every batch's report merged into one PDF
  frontend/src/pages/SnagList/download/index.ts
  frontend/src/pages/SnagList/download/snagDownloadConstants.ts
  frontend/src/pages/SnagList/download/snagDownloadParams.ts
  frontend/src/pages/SnagList/download/useSnagDownload.ts
  frontend/src/pages/SnagList/import/templateDownload.ts
  nirmaan_stack/api/snags/bulk_download.py
Labels: UI, backend

feat(snags): title block on the import template, file + Not Applicable in the PDF
  frontend/src/pages/SnagList/snag-printformat.html
  nirmaan_stack/api/snags/import_template.py
  nirmaan_stack/fixtures/print_format.json
Labels: backend

feat(snags): wire the snag list tab to batches, and settle its two action rows
  frontend/src/pages/SnagList/SnagListTab.tsx
  frontend/src/pages/SnagList/snag-list-details.tsx
Labels: UI

feat(pricing): calculator slice 2 - the rate-helper plumbing exported once, a Calculator tab beside the Electrical spreadsheet, the calculator screen on the shared panel, the parity test
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
  frontend/src/pages/boq-wizard/rate-helper/rateHelperPlumbing.tsx
  frontend/src/pages/pricing/PricingCalculator.tsx
  frontend/src/pages/pricing/PricingWorkbookPage.tsx
  frontend/src/pages/pricing/pricingCalculator.test.ts
Labels: UI

docs(pricing): calculator slice 2 cert addendum - M2 with the lock held (released on the switch, None after switching back) and M5 (clipboard holds exactly "80")
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(critical-po): resolve PO packages via PR tags, refresh dialog, add task linking
  .claude/context/domain/procurement.md
  CLAUDE.md
  frontend/.claude/CHANGELOG.md
  frontend/.claude/context/_index.md
  frontend/CLAUDE.md
  frontend/src/pages/ProcurementOrders/purchase-order/components/LinkedCriticalPOTag.tsx
  frontend/src/pages/projects/CriticalPOTasks/CriticalPOTasksList.tsx
  frontend/src/pages/projects/CriticalPOTasks/components/EditTaskDialog.tsx
  frontend/src/pages/projects/CriticalPOTasks/components/LinkPODialog.tsx
  frontend/src/pages/projects/CriticalPOTasks/utils.tsx
  frontend/src/pages/projects/data/critical-po/useCriticalPOQueries.ts
Labels: UI

fix(action-items): make DC Pending a per-line test, not per-document
  nirmaan_stack/api/reports/metrics.py
  nirmaan_stack/nirmaan_stack/doctype/project_action_item/test_reconcile.py
  nirmaan_stack/services/action_items/predicates.py
  nirmaan_stack/services/action_items/reconcile.py
Labels: backend

feat(dn-dc): add Partially Delivered status to the DN > DC report
  frontend/src/pages/reports/components/DNDCQuantityReport.tsx
  frontend/src/pages/reports/hooks/useDNDCQuantityData.ts
Labels: UI

fix: exclude Pending Delivery items from high-value calculation in ProjectMaterialUsageTab
  frontend/src/pages/projects/components/ProjectMaterialUsageTab.tsx
Labels: UI

fix(rate-master): honour a hand-picked "None" on a map_attribute step that prefers its own attribute and whose default is not None - point_wiring's conduit type no longer prices a declined conduit
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.ts
Labels: UI

feat(pricing): calculator layout - price blocks two per row at the top from the first render, fields in 1/2/3 adaptive columns with the label above the box; the BoQ panel byte-unchanged
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
  frontend/src/pages/pricing/PricingCalculator.tsx
  frontend/src/pages/pricing/pricingCalculator.test.ts
Labels: UI

feat(rate-master): the validation gaps - reject what cannot run, guard what is read, validate at import
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/config_validation.py
  nirmaan_stack/services/boq_rate_master/loader.py
Labels: backend

feat(SR-tds): withhold TDS from an SR payment when it is approved
  nirmaan_stack/api/invoices/_item_billing_sync.py
  nirmaan_stack/integrations/controllers/project_payments.py
  nirmaan_stack/nirmaan_stack/doctype/project_payments/project_payments.py
  nirmaan_stack/services/payment_tds.py
Labels: backend

feat(SR-tds): Payment TDS Deduction doctype and Service Requests.total_tds
  nirmaan_stack/nirmaan_stack/doctype/payment_tds_deduction/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/payment_tds_deduction/payment_tds_deduction.json
  nirmaan_stack/nirmaan_stack/doctype/payment_tds_deduction/payment_tds_deduction.py
  nirmaan_stack/nirmaan_stack/doctype/service_requests/service_requests.json
Labels: backend

test(SR-tds): pin the deduction rules, the parent totals and the hook wiring
  nirmaan_stack/services/test_payment_tds.py
Labels: backend

feat(SR-tds): backfill historical and open SR deductions
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/backfill_sr_payment_tds_deductions.py
Labels: backend

feat(SR-tds): show TDS on the work order detail screen
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/pages/ServiceRequests/service-request/components/SRDetailsCard.tsx
  frontend/src/types/NirmaanStack/PaymentTDSDeduction.ts
  frontend/src/types/NirmaanStack/ServiceRequests.ts
Labels: UI

feat(SR-tds): Total TDS column on the work order tables
  frontend/src/pages/ServiceRequests/service-request/all-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/finalized-sr-list.tsx
Labels: UI

fix(SR-tds): hide manual TDS entry when fulfilling an SR payment
  frontend/src/pages/ProjectPayments/update-payment/UpdatePaymentDialog.tsx
Labels: UI

feat(payments): forecast TDS withholding in the approve dialogs
  frontend/src/pages/ProjectPayments/AmountPaidHoverCard.tsx
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/ProjectPayments/approve-payments/components/BulkConfirmDialog.tsx
  frontend/src/pages/ProjectPayments/approve-payments/components/PaymentActionDialog.tsx
  frontend/src/pages/ProjectPayments/hooks/useVendorTdsRates.ts
  frontend/src/pages/ProjectPayments/tdsForecast.test.ts
  frontend/src/pages/ProjectPayments/tdsForecast.ts
Labels: UI

feat(payments): add Payment TDS Deduction ledger page
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/constants/roles.ts
  frontend/src/pages/PaymentTDSDeductions/PaymentTDSDeductions.tsx
  frontend/src/pages/PaymentTDSDeductions/components/PaymentTDSSummaryCard.tsx
  frontend/src/pages/PaymentTDSDeductions/config/paymentTdsDeductions.config.tsx
Labels: UI

refactor(outflow-import): the Cashfree statement import records no tax
  .claude/context/domain/outflow-import.md
  docs/adr/0021-the-statement-import-records-no-tax.md
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  nirmaan_stack/api/outflow_import/expenses.py
  nirmaan_stack/api/outflow_import/test_settle_payment.py
  nirmaan_stack/services/outflow_import/partial_settle.py
  nirmaan_stack/services/outflow_import/settle.py
  nirmaan_stack/services/outflow_import/test_partial_settle.py
Labels: UI, backend

fix: isolate TDS deduction logic from bulk approval transaction to prevent partial state loss on failure
  nirmaan_stack/api/payments/bulk_actions.py
  nirmaan_stack/api/payments/test_bulk_tds.py
  nirmaan_stack/integrations/controllers/project_payments.py
Labels: backend

fix(outflow-import): slice 0 -- a recorded credit settles its row again, and the baseline is measured
  .claude/context/domain/outflow-import.md
  docs/adr/0020-one-transfer-many-payments.md
  nirmaan_stack/api/outflow_import/inflows.py
  nirmaan_stack/api/outflow_import/test_inflows.py
  nirmaan_stack/services/outflow_import/allocation.py
  nirmaan_stack/services/outflow_import/test_allocation.py
Labels: backend

fix(outflow-import): the fix-wave review -- the lock's premise was wrong, and two dead gates come back
  docs/adr/0020-one-transfer-many-payments.md
  nirmaan_stack/api/outflow_import/expenses.py
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_expenses.py
  nirmaan_stack/api/outflow_import/test_reverse_allocation.py
Labels: backend

fix(outflow-import): the prefactor review -- close the three contract gaps it left the mode slice
  .claude/context/domain/outflow-import.md
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
Labels: UI

refactor(outflow-import): restore the single-select picker, move the fan-out out, and keep both pick fields
  .claude/context/domain/outflow-import.md
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/components/FanOutRecordTable.tsx
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
Labels: UI

docs(outflow-import): record the #1240 browser walk, and how to walk a worktree at all
  .claude/context/domain/outflow-import.md
Labels: none

refactor(outflow-import): the Confirm gate becomes a pure predicate that returns a reason
  .claude/context/domain/outflow-import.md
  frontend/src/pages/outflow-import/allocationView.test.ts
  frontend/src/pages/outflow-import/allocationView.ts
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
Labels: UI

feat(outflow-import): resolve the settlement reference once at ingest, write-only
  .claude/context/domain/outflow-import.md
  docs/adr/0020-one-transfer-many-payments.md
  nirmaan_stack/api/outflow_import/cashbook.py
  nirmaan_stack/api/outflow_import/expenses.py
  nirmaan_stack/api/outflow_import/inflows.py
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_cashbook_import.py
  nirmaan_stack/api/outflow_import/test_reverse_allocation.py
  nirmaan_stack/api/outflow_import/test_settle_payment.py
  nirmaan_stack/api/outflow_import/test_upload.py
  nirmaan_stack/api/outflow_import/upload.py
  nirmaan_stack/nirmaan_stack/doctype/outflow_import_row/outflow_import_row.json
  nirmaan_stack/patches/v3_0/backfill_outflow_settlement_reference.py
  nirmaan_stack/services/outflow_import/settle.py
  nirmaan_stack/services/outflow_import/settlement_reference.py
  nirmaan_stack/services/outflow_import/sources.py
  nirmaan_stack/services/outflow_import/test_matcher.py
  nirmaan_stack/services/outflow_import/test_settlement_reference.py
Labels: backend

chore(outflow-import): wire the settlement-reference backfill into patches.txt
  .claude/context/domain/outflow-import.md
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/backfill_outflow_settlement_reference.py
Labels: backend

feat(outflow-import): the mode radio -- routing reads intent, not tick count
  .claude/context/domain/outflow-import.md
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  frontend/src/pages/outflow-import/allocationView.test.ts
  frontend/src/pages/outflow-import/allocationView.ts
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/recordPickerView.test.ts
  frontend/src/pages/outflow-import/recordPickerView.ts
Labels: UI

fix(outflow-import): the mode-radio review wave -- AC10 answered, and a pick that outlived its mode
  .claude/context/domain/outflow-import.md
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  frontend/src/pages/outflow-import/allocationView.test.ts
  frontend/src/pages/outflow-import/allocationView.ts
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
Labels: UI

fix(outflow-import): narrow the Confirm gate -- the part-payment and TDS detour come back
  .claude/context/domain/outflow-import.md
  frontend/src/pages/outflow-import/allocationView.test.ts
  frontend/src/pages/outflow-import/allocationView.ts
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  nirmaan_stack/services/outflow_import/settle.py
Labels: UI, backend
