Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

docs(boq): CL-2 plan-doc + CLAUDE.md updates
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): CL-3 classify verdict picker - click-to-edit human verdict, engine-scoped category catalog, needs-review resolve
  frontend/src/pages/boq-wizard/CategoryVerdictPicker.test.ts
  frontend/src/pages/boq-wizard/CategoryVerdictPicker.tsx
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/classify.py
  nirmaan_stack/api/boq/wizard/test_classify.py
Labels: UI, backend

docs(boq): CL-3 plan-doc + CLAUDE.md updates
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): classify completion shows when the AI voter did not run (disabled / no key) or the run failed
  frontend/src/pages/boq-wizard/ClassifySheetDialog.test.ts
  frontend/src/pages/boq-wizard/ClassifySheetDialog.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/test_classify.py
  nirmaan_stack/services/boq_category/ai_voter.py
  nirmaan_stack/services/boq_category/orchestrator.py
Labels: UI, backend

fix(boq): CL-3.1 get_sheet_categories param key boq_name -> boq (blank Category column)
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
Labels: UI

docs(boq): CL-3.1 plan-doc note
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat: classify progress as blocking modal driven by status poll
  frontend/src/pages/boq-wizard/ClassifyProgressModal.test.ts
  frontend/src/pages/boq-wizard/ClassifyProgressModal.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  nirmaan_stack/api/boq/wizard/classify.py
  nirmaan_stack/api/boq/wizard/test_classify.py
Labels: UI, backend

docs: record poll-driven classify progress modal in plan + domain doc
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): hub sheet-card stage redesign + footer simplifications + UI refinements
  frontend/.claude/context/domain/boq-frontend.md
  frontend/CLAUDE.md
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/CommitDialog.tsx
  frontend/src/pages/boq-wizard/PricedTenderDialog.tsx
  frontend/src/pages/boq-wizard/SheetCard.tsx
  frontend/src/pages/boq-wizard/TenderingDialog.tsx
  frontend/src/pages/boq-wizard/sheetCardStages.test.ts
  frontend/src/pages/boq-wizard/sheetCardStages.ts
Labels: UI

feat(boq): review header two-row layout + full-screen + Edit Row accordion
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/SheetReviewPage.tsx
Labels: UI

feat(boq): migrate two-row header to the pricing screen + docs
  frontend/.claude/context/domain/boq-frontend.md
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
Labels: UI

feat: AI-off fail-safe writes rule category and flags all rows for review
  nirmaan_stack/api/boq/wizard/test_classify.py
  nirmaan_stack/services/boq_category/orchestrator.py
Labels: backend

docs: record AI-off rule-fallback fail-safe in plan + domain doc
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(expenses): inline Non-Project actions + settle legacy expenses to Paid
  .claude/context/domain/expenses.md
  frontend/src/pages/NonProjectExpenses/config/nonProjectExpensesColumns.tsx
  frontend/src/pages/ProjectExpenses/config/projectExpensesColumns.tsx
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/backfill_non_project_expenses_status.py
Labels: UI, backend

feat: classify review-lane -- upsert verdict, blank-eligible clickability, amber fill, filter rename
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  nirmaan_stack/api/boq/wizard/test_row_category.py
  nirmaan_stack/services/boq_category/persist.py
Labels: UI, backend

docs: record CL-6 review-lane (upsert + blank-eligible clickability + amber fill + rename)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat: add dimension-aware invoice line matching and update mapping flow to validate invoice metadata before review
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceDialog.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/LineItemMappingReview.tsx
Labels: UI

feat(invoices): clearer line-item mapping review UI
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/LineItemMappingReview.tsx
Labels: UI

feat(invoices): clickable invoice amount → items dialog on PO reconciliation
  frontend/src/pages/ProcurementOrders/purchase-order/components/InvoiceDataDialog.tsx
  frontend/src/pages/tasks/invoices/components/PoInvoices.tsx
Labels: UI

fix: adjust PO amount overage logic for edit mode and enable GSTIN mismatch warnings for all invoice updates
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceDialog.tsx
Labels: UI

fix(boq): preserve NOTE + SUBTOTAL cell data in parser (Option B, now universal)
  nirmaan_stack/services/boq_parser/classifier.py
  nirmaan_stack/services/boq_parser/hierarchy.py
  nirmaan_stack/services/boq_parser/orchestrator.py
  nirmaan_stack/services/boq_parser/test_classifier.py
  nirmaan_stack/services/boq_parser/test_hierarchy.py
  nirmaan_stack/services/boq_parser/test_orchestrator.py
  nirmaan_stack/services/boq_parser/tests/fixtures/snitch_electrical_expected.json
Labels: backend

fix(boq): priced-tender export filename mirrors original uploaded BoQ name
  .claude/context/domain/boq-backend.md
  nirmaan_stack/api/boq/wizard/export_writeback.py
  nirmaan_stack/api/boq/wizard/test_pricing.py
Labels: backend

fix(boq): priced-export remark column scans past occupied trailing columns instead of refusing
  nirmaan_stack/api/boq/wizard/export_writeback.py
  nirmaan_stack/api/boq/wizard/test_pricing.py
Labels: backend

feat(commission-report): per-unit single-page print layouts + CFM area field
  .claude/context/domain/expenses.md
  frontend/src/pages/CommissionReport/commission-printformat.html
  frontend/src/pages/CommissionReport/ls-commission-printformat.html
  frontend/src/pages/CommissionReport/project_commission_zone_wise.md
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  nirmaan_stack/fixtures/commission_report_tasks.json
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

feat(boq-classification): HVAC engine assets + discipline unlock (HV-1)
  nirmaan_stack/services/boq_category/ai_voter.py
  nirmaan_stack/services/boq_category/categories_hvac.json
  nirmaan_stack/services/boq_category/harness/electrical_classification_harness.py
  nirmaan_stack/services/boq_category/prompts/hvac_ai_category_prompt.md
  nirmaan_stack/services/boq_category/rules_hvac.json
  nirmaan_stack/services/boq_category/runner.py
  nirmaan_stack/services/boq_category/tests/test_runner_hvac.py
Labels: backend

docs(boq): HV-1 slice record - HVAC assets, registry flip deferred
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(action-items): add Project Action Item projection engine + read API
  nirmaan_stack/api/action_items/__init__.py
  nirmaan_stack/api/action_items/read.py
  nirmaan_stack/nirmaan_stack/doctype/project_action_item/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/project_action_item/project_action_item.json
  nirmaan_stack/nirmaan_stack/doctype/project_action_item/project_action_item.py
  nirmaan_stack/nirmaan_stack/doctype/project_action_item/test_doc_hooks.py
  nirmaan_stack/nirmaan_stack/doctype/project_action_item/test_project_action_item.py
  nirmaan_stack/nirmaan_stack/doctype/project_action_item/test_read_endpoints.py
  nirmaan_stack/nirmaan_stack/doctype/project_action_item/test_reconcile.py
  nirmaan_stack/services/action_items/__init__.py
  nirmaan_stack/services/action_items/doc_hooks.py
  nirmaan_stack/services/action_items/predicates.py
  nirmaan_stack/services/action_items/reconcile.py
  nirmaan_stack/tasks/action_item_reconcile.py
Labels: backend

feat(projects): add Project Action Items section (DC/DN pending) to project page
  .claude/context/domain/action-center.md
  frontend/src/pages/projects/components/ProjectActionItems.tsx
  frontend/src/pages/projects/project.tsx
Labels: UI

feat(action-items): add ProjectActionItem TS type for the PM panel
  frontend/src/types/NirmaanStack/ProjectActionItem.ts
Labels: UI

docs(action-items): ADR-0002 projection architecture + PRD + decision tree
  docs/adr/0002-project-action-items-materialized-projection.md
  docs/prd/project-action-items-decision-tree.html
  docs/prd/project-action-items.md
Labels: none

docs(ceo-hold): ADR-0004 multi-source CEO Hold + implementation plan + glossary
  docs/CONTEXT.md
  docs/adr/0004-multi-source-ceo-hold.md
  docs/ceo_hold_delivery_pending_plan.md
Labels: none

feat(action-items): wire reconcile into PO/DN/DC doc_events + nightly cron
  nirmaan_stack/hooks.py
Labels: backend

feat(ceo-hold): add CEO Hold Reason doctype + multi-source projection core
  nirmaan_stack/nirmaan_stack/doctype/ceo_hold_reason/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/ceo_hold_reason/ceo_hold_reason.json
  nirmaan_stack/nirmaan_stack/doctype/ceo_hold_reason/ceo_hold_reason.py
  nirmaan_stack/services/ceo_hold/__init__.py
  nirmaan_stack/services/ceo_hold/core.py
Labels: backend

docs(ceo-hold): document the multi-source model (ceo-hold.md + auto-management)
  docs/ceo_hold_auto_management.md
  frontend/.claude/context/domain/ceo-hold.md
Labels: none

feat(ceo-hold): wire delivery-pending hold + retrofit cashflow engine to reasons
  nirmaan_stack/integrations/controllers/project_cashflow_hold_update.py
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/seed_ceo_hold_reasons.py
  nirmaan_stack/services/action_items/reconcile.py
  nirmaan_stack/services/ceo_hold/core.py
Labels: backend

test(ceo-hold): core engine + doctype + manual-release guard tests
  nirmaan_stack/nirmaan_stack/doctype/ceo_hold_reason/test_ceo_hold_reason.py
  nirmaan_stack/services/ceo_hold/test_core.py
Labels: backend

feat(ceo-hold): surface hold reasons on project detail, PMO, and blocked toast (frontend)
  frontend/src/components/ui/ceo-hold-banner.tsx
  frontend/src/hooks/useCEOHoldGuard.ts
  frontend/src/pages/PMODashboard/pmo-project-detail.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/types/NirmaanStack/CEOHoldReason.ts
Labels: UI

feat(boq-parser): multi-column description - join at parse + parts map
  nirmaan_stack/services/boq_parser/classifier.py
  nirmaan_stack/services/boq_parser/config.py
  nirmaan_stack/services/boq_parser/test_classifier.py
  nirmaan_stack/services/boq_parser/test_config.py
Labels: backend

docs(boq): MC-1 slice record - plan doc + CLAUDE.md
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-parser): MC-1b parts shape - collision-proof triples
  nirmaan_stack/services/boq_parser/classifier.py
  nirmaan_stack/services/boq_parser/test_classifier.py
Labels: backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
