Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

feat(hvac-rate-master): spec reader; item name and detail drive HVAC attributes; HVAC v2
  frontend/src/pages/pricing/rate-master/RateMasterDataViewer.tsx
  frontend/src/pages/pricing/rate-master/RateMasterUploadDialog.tsx
  frontend/src/pages/pricing/rate-master/rateMasterSpec.test.ts
  frontend/src/pages/pricing/rate-master/rateMasterSpec.ts
  frontend/src/pages/pricing/rate-master/rateMasterTypes.ts
  frontend/src/pages/pricing/rate-master/rateMasterUpload.ts
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/api/boq/test_spec_reader.py
  nirmaan_stack/services/boq_rate_master/config_validation.py
  nirmaan_stack/services/boq_rate_master/csv_exporter.py
  nirmaan_stack/services/boq_rate_master/csv_importer.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v2.json
  nirmaan_stack/services/boq_rate_master/spec_reader.py
Labels: UI, backend

feat(payments): expense edit pencil, Revert to Approved, and a lock on Paid payments
  frontend/src/pages/NonProjectExpenses/components/EditNonProjectExpense.tsx
  frontend/src/pages/ProjectExpenses/components/EditProjectExpenseDialog.tsx
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/ProjectPayments/components/QueueRowEditDialog.tsx
  frontend/src/pages/ProjectPayments/config/approvalColumns.tsx
  frontend/src/pages/ProjectPayments/config/approvalsTable.config.ts
  frontend/src/pages/ProjectPayments/config/queueRowActions.test.ts
  frontend/src/pages/ProjectPayments/config/queueRowActions.ts
  frontend/src/pages/ProjectPayments/update-payment/AccountantTabs.tsx
  nirmaan_stack/api/invoices/test_document_amount_fields.py
  nirmaan_stack/api/payments/revert_to_approved.py
  nirmaan_stack/api/payments/test_revert_to_approved.py
  nirmaan_stack/nirmaan_stack/doctype/project_payments/project_payments.py
  nirmaan_stack/services/paid_record_lock.py
  nirmaan_stack/services/role_profiles.py
  nirmaan_stack/services/test_paid_record_lock.py
Labels: UI, backend

feat(payments): show where the PO / WO money stands in approve and request dialogs
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPaymentTermsCard.tsx
  frontend/src/pages/ProjectPayments/approve-payments/components/PaymentActionDialog.tsx
  frontend/src/pages/ProjectPayments/components/PaymentSummaryBlock.tsx
  frontend/src/pages/ProjectPayments/components/paymentSummaryView.test.ts
  frontend/src/pages/ProjectPayments/components/paymentSummaryView.ts
  frontend/src/pages/ProjectPayments/request-payment/RequestPaymentDialog.tsx
  nirmaan_stack/api/payments/payment_summary.py
  nirmaan_stack/api/payments/test_payment_summary.py
  nirmaan_stack/services/payment_summary.py
Labels: UI, backend

feat(approvals): a step the raiser already holds is not asked again
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPaymentTermsCard.tsx
  frontend/src/pages/ProjectPayments/request-payment/RequestPaymentDialog.tsx
  frontend/src/utils/approvalTiers.test.ts
  frontend/src/utils/approvalTiers.ts
  nirmaan_stack/api/expense_requests/convert.py
  nirmaan_stack/api/payments/project_payments.py
  nirmaan_stack/integrations/controllers/project_payments.py
  nirmaan_stack/nirmaan_stack/doctype/non_project_expenses/non_project_expenses.py
  nirmaan_stack/nirmaan_stack/doctype/project_expenses/project_expenses.py
  nirmaan_stack/services/approval_raiser.py
  nirmaan_stack/services/approval_tiers.py
  nirmaan_stack/services/test_approval_raiser.py
  nirmaan_stack/services/test_approval_tiers.py
Labels: UI, backend

feat(payments): delete a Rejected payment in place from Payment Raised By Me
  frontend/src/pages/ProcurementOrders/purchase-order/components/TransactionDetailsCard.tsx
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/config/approvalColumns.tsx
  frontend/src/pages/ProjectPayments/config/approvalsTable.config.ts
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
Labels: UI

feat(approvals): show what is being approved in the expense Approve / Reject dialog
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/ProjectPayments/approve-payments/components/ExpenseApprovalDetails.tsx
  frontend/src/pages/ProjectPayments/approve-payments/components/PaymentActionDialog.tsx
  frontend/src/pages/ProjectPayments/approve-payments/expenseApprovalDetail.test.ts
  frontend/src/pages/ProjectPayments/approve-payments/expenseApprovalDetail.ts
  nirmaan_stack/api/approvals/expense_detail.py
  nirmaan_stack/api/approvals/test_expense_detail.py
Labels: UI, backend

feat(payments): drop the Reconciled on column from the Payment Done table
  frontend/src/pages/ProjectPayments/config/approvalsTable.config.ts
Labels: UI

feat(payments): Open PO goes to the list tab of the PO's status
  frontend/src/pages/ProjectPayments/components/DetailPopovers.tsx
  frontend/src/pages/ProjectPayments/components/poRoute.test.ts
  frontend/src/pages/ProjectPayments/components/poRoute.ts
Labels: UI

revert(payments): drop the server-side lock on Paid payments
  frontend/src/pages/ProjectPayments/config/queueRowActions.ts
  nirmaan_stack/api/invoices/test_document_amount_fields.py
  nirmaan_stack/nirmaan_stack/doctype/project_payments/project_payments.py
  nirmaan_stack/services/paid_record_lock.py
  nirmaan_stack/services/test_paid_record_lock.py
Labels: UI, backend

docs(payments): record the 2026-09-21 Payments queue changes and the Paid-lock removal
  .claude/CHANGELOG.md
  .claude/context/apis.md
  .claude/context/domain/expenses.md
  CONTEXT.md
  frontend/.claude/CHANGELOG.md
  frontend/.claude/context/role-access.md
  frontend/CLAUDE.md
Labels: none

feat(hvac-rate-master): spec reader suggests the best match; user confirms
  frontend/src/pages/pricing/rate-master/RateMasterDataViewer.tsx
  frontend/src/pages/pricing/rate-master/RateMasterPage.tsx
  frontend/src/pages/pricing/rate-master/RateMasterUploadDialog.tsx
  frontend/src/pages/pricing/rate-master/rateMasterSpec.test.ts
  frontend/src/pages/pricing/rate-master/rateMasterSpec.ts
  frontend/src/pages/pricing/rate-master/rateMasterUpload.ts
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_spec_reader.py
  nirmaan_stack/services/boq_rate_master/csv_importer.py
  nirmaan_stack/services/boq_rate_master/spec_reader.py
Labels: UI, backend

docs(hvac-rate-master): slice 1d as built
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(rate-master): slice 1e as built
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(rate-master): Excel by default for rate files; system columns removed; upload accepts xlsx or csv
  frontend/src/pages/pricing/rate-master/RateMasterDataViewer.tsx
  frontend/src/pages/pricing/rate-master/RateMasterPage.tsx
  frontend/src/pages/pricing/rate-master/RateMasterUploadDialog.tsx
  frontend/src/pages/pricing/rate-master/rateMasterUpload.test.ts
  frontend/src/pages/pricing/rate-master/rateMasterUpload.ts
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/api/boq/test_spec_reader.py
  nirmaan_stack/services/boq_rate_master/csv_exporter.py
  nirmaan_stack/services/boq_rate_master/csv_importer.py
  nirmaan_stack/services/boq_rate_master/xlsx_io.py
Labels: UI, backend

feat(rate-master): same-meaning duplicates warn and update the existing item on confirm
  frontend/src/pages/pricing/rate-master/RateMasterDataViewer.tsx
  frontend/src/pages/pricing/rate-master/RateMasterPage.tsx
  frontend/src/pages/pricing/rate-master/RateMasterUploadDialog.tsx
  frontend/src/pages/pricing/rate-master/rateMasterSpec.test.ts
  frontend/src/pages/pricing/rate-master/rateMasterSpec.ts
  frontend/src/pages/pricing/rate-master/rateMasterUpload.test.ts
  frontend/src/pages/pricing/rate-master/rateMasterUpload.ts
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/api/boq/test_spec_reader.py
  nirmaan_stack/services/boq_rate_master/csv_importer.py
Labels: UI, backend

docs(rate-master): slice 1f as built
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(pmo): show the latest Completed DPR in the project Status Overview
  nirmaan_stack/api/pmo_dashboard.py
Labels: backend

fix(assets): Back from an asset's page returns to the same tab
  frontend/src/pages/Assets/AssetsPage.tsx
Labels: UI

feat(design-tracker): group former designers under "Previous Users" in Team Summary
  frontend/src/pages/ProjectDesignTracker/components/TeamPerformanceSummary.tsx
  frontend/src/pages/ProjectDesignTracker/hooks/useTeamSummary.ts
  frontend/src/pages/ProjectDesignTracker/types/index.ts
  nirmaan_stack/api/design_tracker/get_team_summary.py
Labels: UI, backend

feat(invoices): re-check pending PO invoices daily at 05:00
  frontend/src/pages/tasks/invoices/components/AutoApproveReasonKey.tsx
  frontend/src/pages/tasks/invoices/components/PendingTasksTable.tsx
  frontend/src/pages/tasks/invoices/components/ReasonBreakdown.tsx
  frontend/src/pages/tasks/invoices/components/columns.tsx
  frontend/src/pages/tasks/invoices/utils/autoApproveReasons.ts
  nirmaan_stack/api/invoices/recheck_auto_approve.py
  nirmaan_stack/api/invoices/test_recheck_auto_approve.py
  nirmaan_stack/hooks.py
  nirmaan_stack/tasks/invoice_recheck.py
Labels: UI, backend

fix(payment-terms): accept a total within ±₹1 of the PO amount
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPaymentTermsCard.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/PaymentTermsDialog.tsx
Labels: UI

feat(payments): hold an Approved PO/WO payment on "Payment need to paid"
  CLAUDE.md
  frontend/src/pages/ProjectPayments/components/PaymentHoldNotice.tsx
  frontend/src/pages/ProjectPayments/config/approvalColumns.tsx
  frontend/src/pages/ProjectPayments/config/approvalsTable.config.ts
  frontend/src/pages/ProjectPayments/config/queueRowActions.test.ts
  frontend/src/pages/ProjectPayments/config/queueRowActions.ts
  frontend/src/pages/ProjectPayments/update-payment/AccountantTabs.tsx
  nirmaan_stack/api/approvals/get_approval_queue.py
  nirmaan_stack/api/payments/payment_hold.py
  nirmaan_stack/api/payments/test_payment_hold.py
  nirmaan_stack/integrations/controllers/project_payments.py
  nirmaan_stack/nirmaan_stack/doctype/project_payments/project_payments.json
  nirmaan_stack/services/cheque_payments.py
  nirmaan_stack/services/payment_hold.py
  nirmaan_stack/services/role_profiles.py
Labels: UI, backend

fix: Dc Table fix row flapping , add enableVirtualization to false
  frontend/src/pages/reports/components/DCMIRReports.tsx
Labels: UI

feat(rate-master): discipline and category in rate files; IDs for hand-added items; closed-dialog click fix
  frontend/src/pages/pricing/rate-master/RateMasterDataViewer.tsx
  frontend/src/pages/pricing/rate-master/RateMasterUploadDialog.tsx
  frontend/src/pages/pricing/rate-master/rateMasterUpload.test.ts
  frontend/src/pages/pricing/rate-master/rateMasterUpload.ts
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/api/boq/test_spec_reader.py
  nirmaan_stack/services/boq_rate_master/csv_exporter.py
  nirmaan_stack/services/boq_rate_master/csv_importer.py
Labels: UI, backend

docs(rate-master): slice 1g as built
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(payments): show part-reconciled payments and expenses, and rebase Total Unreconciled on Bulk Import
  frontend/src/pages/ProjectPayments/PaymentSummaryCards.tsx
  frontend/src/pages/ProjectPayments/components/ExpenseBankLinesPopover.tsx
  frontend/src/pages/ProjectPayments/components/expenseBankLinesView.test.ts
  frontend/src/pages/ProjectPayments/components/expenseBankLinesView.ts
  frontend/src/pages/ProjectPayments/config/approvalColumns.tsx
  frontend/src/pages/ProjectPayments/config/approvalsTable.config.ts
  frontend/src/pages/outflow-import/allocationView.test.ts
  frontend/src/pages/outflow-import/allocationView.ts
  frontend/src/pages/outflow-import/components/OutflowRowsTable.tsx
  nirmaan_stack/api/approvals/expense_bank_lines.py
  nirmaan_stack/api/approvals/get_approval_queue.py
  nirmaan_stack/api/approvals/test_expense_bank_lines.py
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/payments/get_project_payment_summary.py
  nirmaan_stack/api/payments/test_payment_dashboard_stats.py
  nirmaan_stack/services/outflow_import/expense_links.py
  nirmaan_stack/services/payment_split.py
Labels: UI, backend

feat(outflow-import): say why Confirm is disabled, and fit the decision dialog without side-scroll
  frontend/src/pages/ProjectPayments/PaymentSummaryCards.tsx
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/components/FanOutRecordTable.tsx
  frontend/src/pages/outflow-import/components/RecordColumnHeader.tsx
  frontend/src/pages/outflow-import/components/SettleableRecordTable.tsx
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
Labels: UI

perf(payments): read split-payment families for the page only; tidy comments and long lines
  frontend/src/pages/outflow-import/components/OutflowRowsTable.tsx
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  nirmaan_stack/api/approvals/expense_bank_lines.py
  nirmaan_stack/api/approvals/get_approval_queue.py
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/payments/test_payment_dashboard_stats.py
  nirmaan_stack/services/payment_split.py
Labels: UI, backend

feat(hvac-pricing): calculator tab; vendor-quote message and pending mark; coming soon without a run; HVAC v3
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/pricing/PricingCalculator.tsx
  frontend/src/pages/pricing/pricingCalculator.test.ts
  frontend/src/pages/pricing/rate-master/RateMasterPage.tsx
  frontend/src/pages/pricing/rate-master/rateMasterRegistry.ts
  frontend/src/pages/pricing/rate-master/rateMasterTypes.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/config_validation.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v3.json
  nirmaan_stack/services/boq_rate_master/loader.py
Labels: UI, backend

docs(hvac-pricing): slice 2 as built
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(hvac-pricing): HVAC cables and raceway resolve to the Electrical categories; pending mark only on rate-editable rows; HVAC v4
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/pricing/PricingCalculator.tsx
  frontend/src/pages/pricing/pricingCalculator.test.ts
  frontend/src/pages/pricing/rate-master/rateMasterRegistry.ts
  frontend/src/pages/pricing/rate-master/rateMasterTypes.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/config_validation.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v4.json
  nirmaan_stack/services/boq_rate_master/extraction.py
  nirmaan_stack/services/boq_rate_master/test_extraction_coercion.py
Labels: UI, backend

docs(hvac-pricing): slice 3 as built
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(hvac-pricing): restore the escape written as a literal NUL in PricingCalculator
  frontend/src/pages/pricing/PricingCalculator.tsx
Labels: UI

feat(hvac-pricing): ADP item-list extraction - questions, items spec and reply parse; HVAC v5 + v6
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_category/prompts/boq_rate_item_list_prompt.md
  nirmaan_stack/services/boq_category/prompts/boq_rate_item_list_review_prompt.md
  nirmaan_stack/services/boq_rate_master/config_validation.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v5.json
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v6.json
  nirmaan_stack/services/boq_rate_master/extraction.py
  nirmaan_stack/services/boq_rate_master/test_extraction_coercion.py
Labels: backend

docs(hvac-pricing): slice 4 as built
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(expense): show each role only the expense rows it should see
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/constants/roles.ts
  frontend/src/pages/ExpenseRequests/ExpenseRequestsPage.tsx
  frontend/src/pages/ExpenseRequests/config/expenseRequestsColumns.tsx
  frontend/src/pages/ExpenseRequests/config/expenseRequestsTable.config.ts
  frontend/src/pages/ExpenseRequests/config/expenseRequestsTabs.test.ts
  frontend/src/pages/Expenses/ExpenseLayout.tsx
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/config/ppTabs.constants.ts
  nirmaan_stack/api/approvals/get_approval_queue.py
Labels: UI, backend

docs(hvac-pricing): slice 5 as built
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(hvac-pricing): ADP pricing - items, defaults, ladders, conversions and refusals; HVAC v7
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/config_validation.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v7.json
Labels: UI, backend

feat(payments): report the bank-confirmed part of Reconciliation Pending money
  frontend/src/pages/NonProjectExpenses/NonProjectExpensesPage.tsx
  frontend/src/pages/NonProjectExpenses/components/NonProjectExpenseSummaryCard.tsx
  frontend/src/pages/ProjectPayments/PaymentSummaryCards.tsx
  frontend/src/pages/reports/components/PartiallyReconciledLines.tsx
  frontend/src/pages/reports/components/outflowReportTable.tsx
  frontend/src/pages/reports/hooks/usePartiallyReconciled.ts
  nirmaan_stack/api/payments/get_project_payment_summary.py
  nirmaan_stack/api/payments/test_payment_dashboard_stats.py
  nirmaan_stack/api/reports/partially_reconciled.py
  nirmaan_stack/api/reports/test_partially_reconciled.py
  nirmaan_stack/services/outflow_import/expense_links.py
Labels: UI, backend

feat(invoices): add Pending Invoices Upload tab, fix 2B recon vendor export
  frontend/src/pages/reports/components/POReports.tsx
  frontend/src/pages/reports/components/SRReports.tsx
  frontend/src/pages/reports/components/columns/poColumns.tsx
  frontend/src/pages/reports/constants.ts
  frontend/src/pages/reports/utils/pendingUploadCutoff.ts
  frontend/src/pages/tasks/invoices/InvoiceReconciliationContainer.tsx
  frontend/src/pages/tasks/invoices/components/PendingInvoiceUploads.tsx
  frontend/src/pages/tasks/invoices/components/PoInvoices.tsx
  frontend/src/pages/tasks/invoices/components/SrInvoices.tsx
  frontend/src/pages/tasks/invoices/constants.ts
Labels: UI

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
