Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

feat(outflow): settle part of a payment, or record the shortfall as TDS
  nirmaan_stack/api/outflow_import/expenses.py
  nirmaan_stack/api/outflow_import/test_settle_payment.py
  nirmaan_stack/services/outflow_import/partial_settle.py
  nirmaan_stack/services/outflow_import/settle.py
  nirmaan_stack/services/outflow_import/test_partial_settle.py
Labels: backend

feat(outflow): say WHICH candidates the match run could not separate
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_review.py
Labels: backend

feat(outflow): a duplicate transfer is id, amount AND date
  nirmaan_stack/api/outflow_import/test_upload.py
  nirmaan_stack/api/outflow_import/upload.py
  nirmaan_stack/services/outflow_import/candidates.py
  nirmaan_stack/services/outflow_import/duplicates.py
  nirmaan_stack/services/outflow_import/parser.py
  nirmaan_stack/services/outflow_import/test_duplicates.py
Labels: backend

feat(outflow): render the reason a record is where it is in the list
  frontend/src/pages/outflow-import/recordPickerView.test.ts
  frontend/src/pages/outflow-import/recordPickerView.ts
Labels: UI

feat(outflow): the Resolve dialog asks the question instead of ending
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/components/SettleableRecordTable.tsx
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
Labels: UI

docs(outflow): record the split, the deduction, and the widened duplicate key
  .claude/context/domain/outflow-import.md
  frontend/.claude/plans/outflow-partial-settle-plan.md
Labels: none

feat(outflow): the screen opens on all time, not a 30-day window
  frontend/src/pages/outflow-import/outflowPeriod.test.ts
  frontend/src/pages/outflow-import/outflowPeriod.ts
Labels: UI

fix(outflow): links that work in production, and a date that says which date
  frontend/src/pages/outflow-import/components/ApprovedRecordsPanel.tsx
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/components/SettleableRecordTable.tsx
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  frontend/src/pages/outflow-import/recordPickerView.ts
  frontend/src/types/NirmaanStack/OutflowImportBatch.ts
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_review.py
Labels: UI, backend

docs(outflow): record the all-time default, the badge, and the link defect
  .claude/context/domain/outflow-import.md
Labels: none

feat(boq-rate-master): record retirement state in the database
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/nirmaan_stack/doctype/boq_rate_master_retirement/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_rate_master_retirement/boq_rate_master_retirement.json
  nirmaan_stack/nirmaan_stack/doctype/boq_rate_master_retirement/boq_rate_master_retirement.py
  nirmaan_stack/services/boq_rate_master/loader.py
  nirmaan_stack/services/boq_rate_master/retirement.py
  scripts/backfill_rate_master_retirement.py
Labels: backend

docs(boq-rate-master): record the retirement doctype and why derivation fails
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-rate-master): export the live catalog to a loader-ready asset with snapshots
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/nirmaan_stack/doctype/boq_rate_master_snapshot/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_rate_master_snapshot/boq_rate_master_snapshot.json
  nirmaan_stack/nirmaan_stack/doctype/boq_rate_master_snapshot/boq_rate_master_snapshot.py
  nirmaan_stack/services/boq_rate_master/exporter.py
Labels: backend

docs(boq-rate-master): record the export, the blob-verbatim invariant and keep-10
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-rate-master): add CSV download and wire the asset export button
  frontend/src/pages/pricing/rate-master/RateMasterDataViewer.tsx
  frontend/src/pages/pricing/rate-master/RateMasterPage.tsx
  frontend/src/pages/pricing/rate-master/rateMasterDownload.test.ts
  frontend/src/pages/pricing/rate-master/rateMasterDownload.ts
  frontend/src/pages/pricing/rate-master/rateMasterTypes.ts
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/csv_exporter.py
Labels: UI, backend

docs(boq-rate-master): record the CSV shapes and the two download surfaces
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-rate-master): add CSV upload with a preview-then-confirm step
  frontend/src/pages/pricing/rate-master/RateMasterDataViewer.tsx
  frontend/src/pages/pricing/rate-master/RateMasterPage.tsx
  frontend/src/pages/pricing/rate-master/RateMasterUploadDialog.tsx
  frontend/src/pages/pricing/rate-master/rateMasterUpload.test.ts
  frontend/src/pages/pricing/rate-master/rateMasterUpload.ts
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/csv_importer.py
Labels: UI, backend

docs(boq-rate-master): record the upsert semantics and the preview rules
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(outflow): record which settlements the machine actually found
  .claude/context/domain/outflow-import.md
  frontend/src/pages/outflow-import/components/ImportSummaryPanel.tsx
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  frontend/src/types/NirmaanStack/OutflowImportBatch.ts
  nirmaan_stack/api/outflow_import/expenses.py
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_expenses.py
  nirmaan_stack/nirmaan_stack/doctype/outflow_import_row/outflow_import_row.json
  nirmaan_stack/nirmaan_stack/doctype/outflow_row_match/outflow_row_match.json
  nirmaan_stack/patches/v3_0/backfill_outflow_settlement_origin.py
  nirmaan_stack/services/outflow_import/status.py
  nirmaan_stack/services/outflow_import/test_status.py
Labels: UI, backend

fix(outflow): actually SHIP settlement_origin to the screen
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_review.py
Labels: backend

fix(outflow): a facet that filters, and one sentence about the amount gap
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/components/SettleableRecordTable.tsx
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
Labels: UI

docs(outflow): record what the browser walk found, and a wrong call
  .claude/context/domain/outflow-import.md
Labels: none

fix(gh-actions): Enable sync-labels option in labeler workflow
  .github/workflows/labeler.yml
Labels: none

fix(gh-actions): Change sync-labels value to uppercase TRUE
  .github/workflows/labeler.yml
Labels: none

fix(gh-actions): Fix sync-labels value format in labeler.yml
  .github/workflows/labeler.yml
Labels: none

feat(design-tracker): filter downloads by phase, zone and category
  frontend/src/pages/ProjectDesignTracker/design-tracker-printformat.html
  frontend/src/pages/ProjectDesignTracker/download/DownloadReportDialog.tsx
  frontend/src/pages/ProjectDesignTracker/download/README.md
  frontend/src/pages/ProjectDesignTracker/download/downloadConstants.ts
  frontend/src/pages/ProjectDesignTracker/download/downloadSelection.test.ts
  frontend/src/pages/ProjectDesignTracker/download/downloadSelection.ts
  frontend/src/pages/ProjectDesignTracker/download/downloadTypes.ts
  frontend/src/pages/ProjectDesignTracker/download/index.ts
  frontend/src/pages/ProjectDesignTracker/download/useDownloadReport.ts
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

feat(outflow-import): read Cashbook wallet statements (slice 1)
  nirmaan_stack/services/outflow_import/parser.py
  nirmaan_stack/services/outflow_import/test_parser.py
  nirmaan_stack/services/outflow_import/tests/fixtures/cashbook_no_remark.csv
  nirmaan_stack/services/outflow_import/tests/fixtures/cashbook_sample.csv
  nirmaan_stack/services/outflow_import/tests/fixtures/cashbook_sample.xlsx
Labels: backend

feat(outflow-import): sharpen project matching for free-typed remarks (slice 2)
  nirmaan_stack/services/outflow_import/project_match.py
  nirmaan_stack/services/outflow_import/test_project_match.py
Labels: backend

feat(outflow-import): lookup tables for Cashbook project and expense rules (slice 3)
  docs/outflow-import/cashbook-expense-rules.md
  nirmaan_stack/api/outflow_import/test_cashbook_rules.py
  nirmaan_stack/fixtures/expense_type.json
  nirmaan_stack/nirmaan_stack/doctype/outflow_import_expense_rule/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/outflow_import_expense_rule/outflow_import_expense_rule.json
  nirmaan_stack/nirmaan_stack/doctype/outflow_import_expense_rule/outflow_import_expense_rule.py
  nirmaan_stack/nirmaan_stack/doctype/outflow_import_project_alias/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/outflow_import_project_alias/outflow_import_project_alias.json
  nirmaan_stack/nirmaan_stack/doctype/outflow_import_project_alias/outflow_import_project_alias.py
  nirmaan_stack/patches/v3_0/seed_cashbook_import_rules.py
  nirmaan_stack/services/outflow_import/candidates.py
  nirmaan_stack/services/outflow_import/project_match.py
  scripts/generate_cashbook_rules_doc.py
Labels: backend

feat(outflow-import): the Cashbook plan -- what a statement will create (slice 4)
  nirmaan_stack/services/outflow_import/cashbook.py
  nirmaan_stack/services/outflow_import/test_cashbook.py
Labels: backend

feat(outflow-import): Cashbook endpoints and the job that writes (slice 5)
  nirmaan_stack/api/outflow_import/cashbook.py
  nirmaan_stack/api/outflow_import/test_cashbook_import.py
  nirmaan_stack/nirmaan_stack/doctype/outflow_import_row/outflow_import_row.json
  nirmaan_stack/nirmaan_stack/doctype/outflow_row_match/outflow_row_match.json
  nirmaan_stack/services/outflow_import/settle.py
Labels: backend

feat(outflow-import): the Cashbook review dialog (slice 6)
  frontend/src/pages/outflow-import/cashbookPreview.test.ts
  frontend/src/pages/outflow-import/cashbookPreview.ts
  frontend/src/pages/outflow-import/components/CashbookReviewTree.tsx
  frontend/src/pages/outflow-import/components/ImportStatementDialog.tsx
Labels: UI

feat(outflow-import): Source filter and the post-import tab (slice 7)
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  frontend/src/types/NirmaanStack/OutflowImportBatch.ts
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/upload.py
  nirmaan_stack/patches/v3_0/backfill_outflow_row_source.py
Labels: UI, backend

docs(outflow-import): ADR-0015, the Cashbook as-built, and one correction (slice 8)
  .claude/context/domain/outflow-import.md
  docs/adr/0015-cashbook-import-creates-expenses.md
  frontend/.claude/plans/outflow-import-plan.md
Labels: none

fix(outflow-import): Cashbook expenses were created with no payment date
  nirmaan_stack/api/outflow_import/cashbook.py
  nirmaan_stack/api/outflow_import/test_cashbook_import.py
  nirmaan_stack/patches/v3_0/fix_cashbook_expense_payment_date.py
Labels: backend

feat(outflow-import): the Cashfree wizard, the Source scope and derived auto-close (slices CF/S1-S7)
  .claude/context/domain/outflow-import.md
  frontend/.claude/plans/outflow-import-plan.md
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  frontend/src/pages/outflow-import/components/CashbookReviewTree.tsx
  frontend/src/pages/outflow-import/components/ConfirmAllMatchedDialog.tsx
  frontend/src/pages/outflow-import/components/ConfirmMatchedPanel.tsx
  frontend/src/pages/outflow-import/components/ImportHistoryDialog.tsx
  frontend/src/pages/outflow-import/components/ImportStatementDialog.tsx
  frontend/src/pages/outflow-import/components/ImportSummaryPanel.tsx
  frontend/src/pages/outflow-import/components/OutflowRowsTable.tsx
  frontend/src/pages/outflow-import/importWizard.test.ts
  frontend/src/pages/outflow-import/importWizard.ts
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  frontend/src/pages/outflow-import/useOutflowRows.ts
  frontend/src/pages/outflow-import/useOutflowSourceStore.ts
  frontend/src/types/NirmaanStack/OutflowImportBatch.ts
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_review.py
  nirmaan_stack/services/outflow_import/status.py
  nirmaan_stack/services/outflow_import/test_status.py
Labels: UI, backend

feat(boq-rate-master): carry the cable tray install rate on the tray row
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v31.json
Labels: backend

docs(boq-rate-master): record F-16 on-row tray install and the parallel-row sweep
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(projects): exclude Cancelled POs from the projects financial rollup
  nirmaan_stack/api/projects/project_aggregates.py
  nirmaan_stack/api/projects/test_project_aggregates.py
Labels: backend

feat(boq-rate-master): remove the loader's default asset and refuse by name
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/loader.py
  scripts/backfill_rate_master_item_uid.py
Labels: backend

docs(boq-rate-master): close F-20 and bank the bootstrap ground
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
