Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

feat(frontend): refine customer PO payment terms and attachment UX
  frontend/src/components/helpers/CustomAttachment.tsx
  frontend/src/pages/projects/components/AddCustomerPODialog.tsx
  frontend/src/pages/projects/components/CustomerPODeatilsCard.tsx
  frontend/src/pages/projects/components/EditCustomerPODialog.tsx
Labels: UI

feat: Update customer PO details card cell label with ListCheck icon and new badge styling.
  frontend/src/pages/projects/components/CustomerPODeatilsCard.tsx
Labels: UI

feat: Add 'Created By' column with user lookup and faceting to the Vendor Quotes table.
  frontend/src/pages/vendors/components/VendorQuotesTable.tsx
Labels: UI

feat: comprehensive refinement of procurement and financial modules
  frontend/src/components/data-table/new-data-table.tsx
  frontend/src/components/helpers/CustomAttachment.tsx
  frontend/src/pages/ProjectExpenses/ProjectExpensesList.tsx
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/finalized-sr-list.tsx
  frontend/src/pages/projects/CriticalPOTasks/config/taskTableColumns.tsx
  frontend/src/pages/projects/components/CustomerPODeatilsCard.tsx
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  frontend/src/pages/projects/components/ProjectPRSummaryTable.tsx
  frontend/src/pages/projects/components/ProjectSRSummaryTable.tsx
  frontend/src/pages/tasks/invoices/components/PoInvoices.tsx
  frontend/src/pages/tasks/invoices/components/SrInvoices.tsx
  frontend/src/pages/tasks/invoices/components/columns.tsx
  frontend/src/pages/vendors/components/LedgerTableRow.tsx
  frontend/src/pages/vendors/components/VendorApprovedQuotesTable.tsx
  frontend/src/pages/vendors/components/VendorMaterialOrdersTable.tsx
  frontend/src/pages/vendors/components/VendorQuotesTable.tsx
  frontend/src/pages/vendors/vendor.tsx
Labels: UI

feat: Improve table export functionality by including categories as a comma-separated string and setting dynamic filenames.
  frontend/src/pages/ProcurementRequests/ApproveNewPR/approve-pr.tsx
  frontend/src/pages/ProcurementRequests/procurement-requests.tsx
  frontend/src/pages/Sent Back Requests/sent-back-request.tsx
Labels: UI

feat: PO Tabs Enhance data export across multiple tables by adding export file names and improving column export metadata.
  frontend/src/pages/ProcurementOrders/amend-po/approve-select-amend-po.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-select-vendor.tsx
  frontend/src/pages/Sent Back Requests/approve-select-sent-back.tsx
Labels: UI

feat:WO Improve service request list exports by including service categories and adding dates to filenames.
  frontend/src/pages/ServiceRequests/service-request/approve-amend-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-service-request-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/finalized-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/select-service-vendor-list.tsx
Labels: UI

feat: Payments Implement CSV export functionality for payment tables and standardize export filenames.
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/ProjectPayments/update-payment/AccountantTabs.tsx
Labels: UI

refactor: Project Report : Cash Sheet Remove custom export handler and configure column-specific export values for default DataTable export.
  frontend/src/pages/reports/components/ProjectReports.tsx
  frontend/src/pages/reports/components/columns/projectColumns.tsx
Labels: UI

feat: Enhance PO report export with assignees, pending invoice amount, filtered table data, and an updated filename format.
  frontend/src/pages/reports/components/POReports.tsx
Labels: UI

feat: Add assignee details to the PO attachment reconciliation report export and update all report exports to respect table sorting and column order.
  frontend/src/pages/reports/components/POAttachmentReconcileReport.tsx
  frontend/src/pages/reports/components/POReports.tsx
Labels: UI

feat: Project Reprts ..Implement custom CSV export logic for project reports with tailored data formatting and column configuration.
  frontend/src/pages/reports/components/ProjectReports.tsx
Labels: UI

feat: Enhance project progress report export to include assignee details and zone progress status, and use sorted table data.
  frontend/src/pages/reports/components/ProjectProgressReports.tsx
Labels: UI

feat: Assign `uploaded_by` directly for Administrator and validate other users against 'Nirmaan Users'.
  nirmaan_stack/api/delivery_notes/update_invoice_data.py
Labels: backend

refactor: simplify PO Attachment export value in Customer PO Details Card by directly providing the attachment URL.
  frontend/src/pages/projects/components/CustomerPODeatilsCard.tsx
Labels: UI

feat: Add "Material Usage" tab label to the project page For Procurement Users View.
  frontend/src/pages/projects/project.tsx
Labels: UI

feat: Add project-specific DC & MIR reports tab to the project page with type switching.
  frontend/src/pages/projects/components/ProjectDCMIRTab.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/reports/components/DCMIRReports.tsx
Labels: UI

fix: Add TDS Repository tab(link not getting they tab represented data) to Procuremnted users and Estimates Executive roles.
  frontend/src/pages/projects/project.tsx
Labels: UI

feat: track unassigned tasks in Team Performance Summary backend
  nirmaan_stack/api/design_tracker/get_team_summary.py
Labels: backend

feat: add Files column with approval proof visibility across all table views
  frontend/src/pages/ProjectDesignTracker/components/FilesCell.tsx
  frontend/src/pages/ProjectDesignTracker/components/InlineTaskList.tsx
  frontend/src/pages/ProjectDesignTracker/components/TaskWiseTable.tsx
  frontend/src/pages/ProjectDesignTracker/config/taskTableColumns.tsx
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
Labels: UI

feat: default "Signed by client" switch to ON in DC/MIR upload dialog
  frontend/src/pages/DeliveryChallansAndMirs/components/UploadDCMIRDialog.tsx
  frontend/src/pages/DeliveryChallansAndMirs/schema.ts
Labels: UI

feat: add phase filtering to task-wise and team-summary APIs + TS types
  frontend/src/pages/ProjectDesignTracker/types/index.ts
  nirmaan_stack/api/design_tracker/get_task_wise_list.py
  nirmaan_stack/api/design_tracker/get_team_summary.py
Labels: UI, backend

docs: sync project context docs with recent 2-week commits
  .claude/CHANGELOG.md
  .claude/context/apis.md
  .claude/context/workflows.md
  frontend/.claude/CHANGELOG.md
  frontend/.claude/context/_index.md
  frontend/.claude/context/role-access.md
Labels: none

feat: add approval_proof field and backend validations for design tracker tasks
  frontend/src/pages/ProjectDesignTracker/types/index.ts
  nirmaan_stack/nirmaan_stack/doctype/design_tracker_task_child_table/design_tracker_task_child_table.json
  nirmaan_stack/nirmaan_stack/doctype/design_tracker_task_child_table/design_tracker_task_child_table.py
  nirmaan_stack/nirmaan_stack/doctype/project_design_tracker/project_design_tracker.py
Labels: UI, backend

fix: Team Performance Summary inline edit bug + add enhancements
  frontend/src/pages/ProjectDesignTracker/components/InlineTaskList.tsx
  frontend/src/pages/ProjectDesignTracker/components/TeamPerformanceSummary.tsx
  frontend/src/pages/ProjectDesignTracker/hooks/useTeamSummary.ts
  frontend/src/pages/ProjectDesignTracker/types/index.ts
Labels: UI

feat: redesign ProjectWiseCard with phase-aware status breakdown
  frontend/src/pages/ProjectDesignTracker/components/ProjectWiseCard.tsx
Labels: UI

feat: billing category filter, Rate column, and layout revamp in Material Usage
  frontend/src/pages/projects/components/POWiseMaterialTable.tsx
  frontend/src/pages/projects/components/ProjectMaterialUsageTab.tsx
  frontend/src/pages/projects/components/VirtualizedMaterialTable.tsx
  frontend/src/pages/projects/hooks/useMaterialUsageData.ts
Labels: UI

feat: replace deadline filter with DataTable-style date filter + simplify status filter to 4 buttons
  frontend/src/components/ui/standalone-date-filter.tsx
  frontend/src/pages/ProjectDesignTracker/components/TaskWiseTable.tsx
  frontend/src/pages/ProjectDesignTracker/components/TeamSummaryFilterBar.tsx
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
  frontend/src/pages/ProjectDesignTracker/types/index.ts
  nirmaan_stack/api/design_tracker/get_task_wise_list.py
Labels: UI, backend

feat: add approval proof upload to TaskEditModal + React best practices cleanup
  frontend/src/pages/ProjectDesignTracker/components/TaskEditModal.tsx
Labels: UI

feat: phase-aware header analytics, card summary, and Create Task dialog
  frontend/src/pages/ProjectDesignTracker/components/ProjectWiseCard.tsx
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
Labels: UI

feat: add Handover phase support to design tracker backend
  nirmaan_stack/api/design_tracker/generate_handover_tasks.py
  nirmaan_stack/nirmaan_stack/doctype/design_tracker_task_child_table/design_tracker_task_child_table.json
  nirmaan_stack/nirmaan_stack/doctype/project_design_tracker/project_design_tracker.json
  nirmaan_stack/nirmaan_stack/doctype/project_design_tracker/project_design_tracker.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/backfill_design_tracker_onboarding_phase.py
Labels: backend

fix: vendor material order export fix
  frontend/src/pages/vendors/components/VendorMaterialOrdersTable.tsx
Labels: UI

feat: wire Handover phase into Task Wise tab, Team Summary, and Project page
  frontend/src/pages/ProjectDesignTracker/components/TaskWiseTable.tsx
  frontend/src/pages/ProjectDesignTracker/components/TeamPerformanceSummary.tsx
  frontend/src/pages/ProjectDesignTracker/hooks/useTeamSummary.ts
  frontend/src/pages/projects/project.tsx
Labels: UI

fix : overloop from in Materialuage in Project Tab remove useCallback from the `handleExport` function.
  frontend/src/pages/projects/components/ProjectMaterialUsageTab.tsx
Labels: UI

feat: Comment out debug log for CreditData in projects page.
  frontend/src/pages/projects/projects.tsx
Labels: UI

feat: Vendors Export ...Add export header name and value formatting for the vendor categories column.
  frontend/src/pages/vendors/VendorsPage.tsx
Labels: UI

feat:Design tracker export excel asiigened in bullet points Add export configuration for the assigned designers column, including a custom export header and value formatter.
  frontend/src/pages/ProjectDesignTracker/config/taskTableColumns.tsx
Labels: UI

feat: item price search Add export metadata for Project Name and Amount columns in the Approved Quotations table.
  frontend/src/pages/ApprovedQuotationsFlow/ApprovedQuotationsTable.tsx
Labels: UI

feat: Add export metadata to table columns in TDS approval list.items count
  frontend/src/pages/tds/TDSApprovalList.tsx
Labels: UI

feat: Enhance PDF Export Reliability & UX
  frontend/src/components/common/BulkPdfDownloadButton.tsx
  frontend/src/hooks/useBulkPdfDownload.ts
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  frontend/src/pages/projects/TDSRepository/TDSRepositoryView.tsx
  nirmaan_stack/api/pdf_helper/bulk_download.py
  nirmaan_stack/api/pdf_helper/pdf_merger_api.py
  nirmaan_stack/api/tds/tds_report.py
Labels: UI, backend
