Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

feat: removed all project permissions for accountant users
  frontend/.claude/settings.local.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_8/remove_accountant_project_assignments.py
Labels: backend

fix: accountants can now create work orders
  frontend/.claude/CHANGELOG.md
  frontend/.claude/context/_index.md
  frontend/src/pages/ServiceRequests/service-request/new-service-request.tsx
Labels: UI

fix: inflow summary user restrictions and edit enable for accountants
  frontend/.claude/CHANGELOG.md
  frontend/.claude/context/_index.md
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/pages/inflow-payments/InFlowPayments.tsx
  frontend/src/pages/inflow-payments/components/InflowSummaryCard.tsx
  frontend/src/utils/auth/ProtectedRoute.tsx
Labels: UI

feat: add invoice reconciliation with 2B activation tracking
  frontend/src/pages/tasks/invoices/components/PoInvoices.tsx
  frontend/src/pages/tasks/invoices/components/ReconciliationDialog.tsx
  frontend/src/pages/tasks/invoices/components/SrInvoices.tsx
  frontend/src/pages/tasks/invoices/config/poInvoicesTable.config.ts
  frontend/src/pages/tasks/invoices/config/srInvoicesTable.config.ts
  frontend/src/pages/tasks/invoices/constants.ts
  frontend/src/pages/tasks/invoices/hooks/useInvoiceReconciliation.ts
  frontend/src/pages/vendors/vendor.tsx
  nirmaan_stack/api/invoices/po_wise_invoice_data.py
  nirmaan_stack/api/invoices/sr_wise_invoice_data.py
  nirmaan_stack/api/invoices/update_invoice_reconciliation.py
Labels: UI, backend

feat: add remarks functionality for PO and Work Orders (SR)
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PORemarks.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PORemarksPopover.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/hooks/usePORemarks.ts
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  frontend/src/pages/ServiceRequests/approved-sr/ApprovedSRView.tsx
  frontend/src/pages/ServiceRequests/approved-sr/components/SRRemarks.tsx
  frontend/src/pages/ServiceRequests/approved-sr/components/SRRemarksPopover.tsx
  frontend/src/pages/ServiceRequests/approved-sr/hooks/useSRRemarks.ts
  frontend/src/pages/ServiceRequests/service-request/approved-sr-list.tsx
  frontend/src/pages/reports/components/columns/PORemarksHoverCard.tsx
  frontend/src/pages/reports/components/columns/SRRemarksHoverCard.tsx
  frontend/src/pages/reports/components/columns/poColumns.tsx
  frontend/src/pages/reports/components/columns/srColumns.tsx
  nirmaan_stack/api/po_remarks.py
  nirmaan_stack/api/sr_remarks.py
Labels: UI, backend

refactor: cleanup inflow payments and update project hooks
  frontend/src/components/ui/progress.tsx
  frontend/src/pages/inflow-payments/InFlowPayments.tsx
  frontend/src/pages/projects/projects.tsx
Labels: UI

fix: auto adjust table height based on number of rows
  frontend/src/components/helpers/ItemsHoverCard.tsx
  frontend/src/pages/ApprovedQuotationsFlow/ApprovedQuotationsTable.tsx
  frontend/src/pages/Items/itemsPage.tsx
  frontend/src/pages/NonProjectExpenses/NonProjectExpensesPage.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/approve-pr.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-select-vendor.tsx
  frontend/src/pages/ProjectExpenses/ProjectExpensesList.tsx
  frontend/src/pages/ProjectInvoices/AllProjectInvoices.tsx
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-amend-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-service-request-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/select-service-vendor-list.tsx
  frontend/src/pages/credits/CreditsPage.tsx
  frontend/src/pages/customers/customers.tsx
  frontend/src/pages/inflow-payments/InFlowPayments.tsx
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  frontend/src/pages/projects/components/ProjectPRSummaryTable.tsx
  frontend/src/pages/projects/components/ProjectSRSummaryTable.tsx
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/reports/components/POReports.tsx
  frontend/src/pages/reports/components/ProjectReports.tsx
  frontend/src/pages/reports/components/SRReports.tsx
  frontend/src/pages/reports/components/VendorReports.tsx
  frontend/src/pages/tasks/invoices/components/PendingTasksTable.tsx
  frontend/src/pages/tasks/invoices/components/TaskHistoryTable.tsx
  frontend/src/pages/users/users.tsx
  frontend/src/pages/vendors/VendorsPage.tsx
  frontend/src/pages/vendors/components/VendorApprovedQuotesTable.tsx
  frontend/src/pages/vendors/components/VendorMaterialOrdersTable.tsx
  frontend/src/pages/vendors/components/VendorPaymentsTable.tsx
Labels: UI

feat: facet filter added to new tabs
  frontend/src/pages/ProcurementOrders/amend-po/approve-select-amend-po.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-select-vendor.tsx
  frontend/src/pages/Sent Back Requests/approve-select-sent-back.tsx
Labels: UI

feat: add GST-excluded amount metric and redesign outflow summary card
  frontend/src/pages/reports/components/outflowReportTable.tsx
Labels: UI

feat: add backend-connected summary card to Project Invoices
  frontend/src/pages/ProjectInvoices/AllProjectInvoices.tsx
  frontend/src/pages/ProjectInvoices/components/ProjectInvoiceSummaryCard.tsx
  frontend/src/pages/ProjectInvoices/config/projectInvoices.config.tsx
Labels: UI

feat: move Add Project Expense button to nav and redesign summary card
  frontend/src/components/helpers/renderRightActionButton.tsx
  frontend/src/pages/ProjectExpenses/ProjectExpensesList.tsx
  frontend/src/pages/ProjectExpenses/components/ProjectExpenseSummaryCard.tsx
Labels: UI

feat: redesign Inflow Summary card with elevated design
  frontend/src/pages/inflow-payments/components/InflowSummaryCard.tsx
Labels: UI

feat: redesign Non-Project Expenses summary card with elevated design
  frontend/src/pages/NonProjectExpenses/NonProjectExpensesPage.tsx
  frontend/src/pages/NonProjectExpenses/components/NonProjectExpenseSummaryCard.tsx
Labels: UI

feat: add compact mobile view to InflowSummaryCard
  frontend/src/pages/inflow-payments/components/InflowSummaryCard.tsx
Labels: UI

feat: add compact mobile view to NonProjectExpenseSummaryCard
  frontend/src/pages/NonProjectExpenses/components/NonProjectExpenseSummaryCard.tsx
Labels: UI

feat: add compact mobile view to ProjectExpenseSummaryCard
  frontend/src/pages/ProjectExpenses/components/ProjectExpenseSummaryCard.tsx
Labels: UI

feat: add compact mobile view to Cash Sheet summary (ProjectReports)
  frontend/src/pages/reports/components/ProjectReports.tsx
Labels: UI

feat: revamp PaymentSummaryCards with compact mobile view
  frontend/src/pages/ProjectPayments/PaymentSummaryCards.tsx
Labels: UI

feat: add compact mobile view to ProjectInvoiceSummaryCard
  frontend/src/pages/ProjectInvoices/components/ProjectInvoiceSummaryCard.tsx
Labels: UI

docs: update CHANGELOG with remarks feature and UI refactoring
  .claude/CHANGELOG.md
Labels: none

feat: revamp SR Invoices summary card with compact mobile view
  frontend/src/pages/tasks/invoices/components/SrInvoices.tsx
Labels: UI

feat: add compact mobile view to OutflowReportTable summary
  frontend/src/pages/reports/components/outflowReportTable.tsx
Labels: UI

docs: add invoice domain context and update index
  frontend/.claude/CHANGELOG.md
  frontend/.claude/context/_index.md
  frontend/.claude/context/domain/invoices.md
Labels: none

feat: revamp PO Invoices summary card with compact mobile view
  frontend/src/pages/tasks/invoices/components/PoInvoices.tsx
Labels: UI

feat: add compact mobile view to InflowReportTable summary
  frontend/src/pages/reports/components/InflowReportTable.tsx
Labels: UI

fix: merge conflict resolutions
  frontend/src/pages/NonProjectExpenses/NonProjectExpensesPage.tsx
  frontend/src/pages/ProjectExpenses/ProjectExpensesList.tsx
  frontend/src/pages/ProjectInvoices/AllProjectInvoices.tsx
  frontend/src/pages/reports/components/ProjectReports.tsx
Labels: UI

feat: new design for project forms
  frontend/src/components/ui/form-field-row.tsx
  frontend/src/components/ui/package-review-card.tsx
  frontend/src/components/ui/review-section.tsx
  frontend/src/components/ui/wizard-steps.tsx
  frontend/src/hooks/useMediaQuery.ts
  frontend/src/pages/projects/edit-project-form.tsx
  frontend/src/pages/projects/project-form.tsx
Labels: UI

feat: add draft system for project creation wizard
  frontend/src/components/ui/draft-cancel-dialog.tsx
  frontend/src/components/ui/draft-indicator.tsx
  frontend/src/components/ui/draft-resume-dialog.tsx
  frontend/src/hooks/useProjectDraftManager.ts
  frontend/src/pages/projects/project-form.tsx
  frontend/src/zustand/useProjectDraftStore.ts
Labels: UI

docs: add changelog entry for project draft system
  frontend/.claude/CHANGELOG.md
Labels: none

refactor: modularize project-form into step-based architecture
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/hooks/useProjectDraftManager.ts
  frontend/src/pages/Retired Components/project-form.tsx
  frontend/src/pages/projects/project-form.tsx
  frontend/src/pages/projects/project-form/constants.ts
  frontend/src/pages/projects/project-form/hooks/useProjectFormData.ts
  frontend/src/pages/projects/project-form/index.tsx
  frontend/src/pages/projects/project-form/schema.ts
  frontend/src/pages/projects/project-form/steps/PackageSelectionStep.tsx
  frontend/src/pages/projects/project-form/steps/ProjectAddressStep.tsx
  frontend/src/pages/projects/project-form/steps/ProjectAssigneesStep.tsx
  frontend/src/pages/projects/project-form/steps/ProjectDetailsStep.tsx
  frontend/src/pages/projects/project-form/steps/ProjectTimelineStep.tsx
  frontend/src/pages/projects/project-form/steps/ReviewStep.tsx
  frontend/src/pages/projects/project-form/steps/index.ts
Labels: UI

docs: updated claude files
  frontend/.claude/context/_index.md
  frontend/.claude/context/testing.md
  frontend/.claude/settings.local.json
Labels: none

feat: add customer validation and redesign inflow/invoice dialogs
  frontend/src/pages/ProjectInvoices/components/EditProjectInvoiceDialog.tsx
  frontend/src/pages/ProjectInvoices/components/NewProjectInvoiceDialog.tsx
  frontend/src/pages/inflow-payments/components/EditInflowPayment.tsx
  frontend/src/pages/inflow-payments/components/NewInflowPayment.tsx
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  frontend/src/pages/projects/edit-project-form.tsx
  frontend/src/pages/projects/project-form/steps/ProjectDetailsStep.tsx
Labels: UI

docs: add changelog entries and wizard architecture pattern
  .claude/CHANGELOG.md
  frontend/CLAUDE.md
Labels: none

feat: multi-select project assignees with user permission creation
  frontend/src/components/ui/project-creation-dialog.tsx
  frontend/src/pages/projects/project-form/index.tsx
  frontend/src/pages/projects/project-form/schema.ts
  frontend/src/pages/projects/project-form/steps/PackageSelectionStep.tsx
  frontend/src/pages/projects/project-form/steps/ProjectAddressStep.tsx
  frontend/src/pages/projects/project-form/steps/ProjectAssigneesStep.tsx
  frontend/src/pages/projects/project-form/steps/ProjectDetailsStep.tsx
  frontend/src/pages/projects/project-form/steps/ProjectTimelineStep.tsx
  frontend/src/pages/projects/project-form/steps/ReviewStep.tsx
  frontend/src/zustand/useProjectDraftStore.ts
Labels: UI

docs: add multi-select assignees pattern and customer validation gotcha
  .claude/CHANGELOG.md
  frontend/CLAUDE.md
Labels: none

feat: add daily progress report setup to project creation wizard
  frontend/src/components/ui/package-review-card.tsx
  frontend/src/components/ui/project-creation-dialog.tsx
  frontend/src/pages/projects/project-form/hooks/useProjectFormData.ts
  frontend/src/pages/projects/project-form/index.tsx
  frontend/src/pages/projects/project-form/schema.ts
  frontend/src/pages/projects/project-form/steps/PackageSelectionStep.tsx
  frontend/src/pages/projects/project-form/steps/ReviewStep.tsx
  frontend/src/zustand/useProjectDraftStore.ts
  nirmaan_stack/api/projects/new_project.py
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.py
Labels: UI, backend

docs: add changelog entry for daily progress report setup feature
  frontend/.claude/CHANGELOG.md
Labels: none

feat(milestones): add delete report button to MilestonesSummary
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
Labels: UI

refactor(milestones): extract shared components and hooks for report views
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneDailySummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/DailyReportView.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/MilestoneProgress.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/ReportControlBar.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/hooks/useMilestoneReportData.ts
  frontend/src/pages/Manpower-and-WorkMilestones/utils/milestoneHelpers.ts
  frontend/src/pages/projects/ProjectWorkReportTab.tsx
  frontend/src/pages/projects/components/SetupProgressTrackingDialog.tsx
  frontend/src/pages/projects/components/projectZoneEditSection.tsx
Labels: UI

feat(config): revamp Work Headers with enterprise minimalist design
  frontend/src/components/workHeaderMilestones.tsx
Labels: UI

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
