Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

docs(boq): record AI-3b-1 accept/reject (non-modal) surface
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): AI-3b-2 accept AI parent on with-children rows via cancel-safe modal
  frontend/src/pages/boq-wizard/RestructureModal.tsx
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
Labels: UI, backend

docs(boq): record AI-3b-2 (with-children parent accept) - AI accept/reject surface complete
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(boq): AI-3c-1 capture edit_log from-values before the AI-accept status flip
  nirmaan_stack/api/boq/wizard/ai_assist.py
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_ai_assist.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
Labels: backend

docs(boq): record AI-3c-1 edit_log from-value fix
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(boq): AI-3c-3 route classification accept on with-children rows to the child-disposition modal
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  nirmaan_stack/api/boq/wizard/ai_assist.py
  nirmaan_stack/api/boq/wizard/test_ai_assist.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
Labels: UI, backend

docs(boq): record AI-3c-3 classification-accept modal parity
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): AI-3c-2a backend row-level revert of an AI acceptance (snapshot + restore + invalidation)
  nirmaan_stack/api/boq/wizard/ai_assist.py
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_ai_assist.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
  nirmaan_stack/nirmaan_stack/doctype/boq_review_row/boq_review_row.json
Labels: backend

docs(boq): record AI-3c-2a backend revert
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): AI-3c-2b Revert AI change button + override clears AI-Accepted status
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
Labels: UI, backend

docs(boq): record AI-3c-2b revert button + override status fix
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(boq): AI-3c-2d gate run_ai_pass on a finalized sheet (freeze gap)
  frontend/src/pages/boq-wizard/SheetReviewPage.tsx
  nirmaan_stack/api/boq/wizard/ai_assist.py
  nirmaan_stack/api/boq/wizard/test_ai_assist.py
Labels: UI, backend

docs(boq): record AI-3c-2d run_ai_pass freeze gate
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(commission): roll zone-wise out to all eligible tasks + zone-wise print format
  frontend/.claude/plans/commission-zone-wise-plan.md
  frontend/src/pages/CommissionReport/commission-printformat.html
  frontend/src/pages/CommissionReport/project_commission_zone_wise.md
  frontend/src/pages/CommissionReport/report-wizard/renderer/SectionRenderer.tsx
  frontend/src/pages/CommissionReport/report-wizard/renderer/SignaturesSection.tsx
  frontend/src/pages/CommissionReport/report-wizard/renderer/TraineesDataTableSection.tsx
  nirmaan_stack/fixtures/commission_report_tasks.json
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

feat: implement live editing locks for commission reports to prevent concurrent modification errors
  frontend/src/pages/CommissionReport/commission-printformat.html
  frontend/src/pages/CommissionReport/components/ApprovalActionDialog.tsx
  frontend/src/pages/CommissionReport/components/ReportActionCell.tsx
  frontend/src/pages/CommissionReport/data/useCommissionLock.ts
  frontend/src/pages/CommissionReport/report-wizard/index.tsx
  nirmaan_stack/api/commission_report/editing_lock.py
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

feat(boq): Phase 5 Slice 1a committed-read endpoint get_committed_rows (pure-read adapter)
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
Labels: backend

docs(boq): record Phase 5 Slice 1a committed-read endpoint
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Phase 5 Slice 1b pricing-layer doctype + persist (BoQ Cell Pricing) + Slice-1a fixture fixup
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/test_pricing.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
  nirmaan_stack/nirmaan_stack/doctype/boq_cell_pricing/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_cell_pricing/boq_cell_pricing.json
  nirmaan_stack/nirmaan_stack/doctype/boq_cell_pricing/boq_cell_pricing.py
  nirmaan_stack/nirmaan_stack/doctype/boq_cell_pricing/test_boq_cell_pricing.py
Labels: backend

docs(boq): record Phase 5 Slice 1b pricing-layer doctype + persist
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-pricing): add get_priced_rows overlay read (committed rows + current prices merged)
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_pricing.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
Labels: backend

docs(boq-pricing): record pricing-overlay read slice (get_priced_rows)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): extract shared review-render helpers to reviewRender + add vitest harness (slice 2)
  frontend/package.json
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/exportReviewCsv.ts
  frontend/src/pages/boq-wizard/reviewRender.test.ts
  frontend/src/pages/boq-wizard/reviewRender.tsx
  frontend/vitest.config.ts
  frontend/yarn.lock
Labels: UI

docs(boq-pricing): record slice 2 shared-render extraction + first frontend unit tests
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): read-only pricing page + grid + hub entry (slice 3a)
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetCard.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
Labels: UI

docs(boq-pricing): record slice 3a read-only pricing page + grid
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): replace per-card Price with global Tendering button + sheet picker (slice 3a fix)
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/SheetCard.tsx
  frontend/src/pages/boq-wizard/TenderingDialog.tsx
Labels: UI

docs(boq-pricing): correct slice 3a entry point to global Tendering picker
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): inline rate editing + live amount compute (slice 3b)
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
Labels: UI

docs(boq-pricing): record slice 3b inline rate editing + live compute
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): spreadsheet keyboard navigation in the pricing grid (slice 3b.2)
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
Labels: UI

docs(boq-pricing): record slice 3b.2 spreadsheet keyboard navigation
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): auto-save + force-save + save-status (slice 3c)
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
Labels: UI

docs(boq-pricing): record slice 3c auto-save + force-save + status
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): summary panel - top-down grid-aligned amount rollups
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/SummaryPanel.tsx
  frontend/src/pages/boq-wizard/pricingRollup.test.ts
  frontend/src/pages/boq-wizard/pricingRollup.ts
Labels: UI

docs(boq-pricing): record summary panel slice
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): summary panel - description+amount cols, preamble/line-item rows, expand-all, wrap
  frontend/src/pages/boq-wizard/SummaryPanel.tsx
  frontend/src/pages/boq-wizard/pricingRollup.test.ts
  frontend/src/pages/boq-wizard/pricingRollup.ts
Labels: UI

docs(boq-pricing): record summary panel display revisions
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): phase-2 prefill - cross-area proposed rates (proposed-until-touched)
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
Labels: UI

docs(boq-pricing): record phase-2 prefill slice
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): single-editor lock slice A - atomic acquire-on-first-edit + lock doctype
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/pricing_lock.py
  nirmaan_stack/api/boq/wizard/test_pricing.py
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet_pricing_lock/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet_pricing_lock/boq_sheet_pricing_lock.json
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet_pricing_lock/boq_sheet_pricing_lock.py
Labels: UI, backend
