Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

docs(boq): record the point-wiring conduit and length slice, and the delivery-path finding
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(boq): teach the missing-gate about a second filler, and show the effective value
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.ts
Labels: UI

docs(boq): record D1-D4, the cert gap, and rewrite the map_attribute convention as a check
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): price the circuit stretch as a component of the point rate
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/api/boq/test_rate_suggest.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v51.json
  nirmaan_stack/services/boq_rate_master/extraction.py
Labels: UI, backend

docs(boq): record the circuit stretch, its two reversals, and the cert
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(boq): stop R12 dropping conduits the line supplies, and drop the inert None
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v52.json
Labels: backend

docs(boq): record Slice A, and raise rule-independence to a standing convention
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): move the conductor floor out of the prompt into code, and drop the duplicate circuit block
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/boq-wizard/rate-helper/rateHelperTypes.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/api/boq/test_rate_suggest.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v53.json
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v54.json
  nirmaan_stack/services/boq_rate_master/extraction.py
  nirmaan_stack/services/boq_rate_master/test_extraction_coercion.py
Labels: UI, backend

docs(boq): record Slice B, and gate extraction wording on fact-versus-calculation
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(rate-master): project item columns into attributes at read time
  frontend/src/pages/pricing/rate-master/brandProjectionMatching.test.ts
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/extraction.py
Labels: UI, backend

docs(rate-master): record the read-time column projection, its cert, and the relay misdiagnosis
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat: add error handling and toast notifications for invalid file attachments in EditTaskModal
  frontend/src/pages/PMODashboard/components/EditTaskModal.tsx
Labels: UI

feat(expenses): raise auto-approve limit to ₹10,000 (inclusive) + announce the path on create
  .claude/context/domain/expenses.md
  CONTEXT.md
  frontend/src/pages/NonProjectExpenses/components/NewNonProjectExpense.tsx
  frontend/src/pages/ProjectExpenses/components/NewProjectExpenseDialog.tsx
  frontend/src/utils/expenseApproval.test.ts
  frontend/src/utils/expenseApproval.ts
  nirmaan_stack/nirmaan_stack/doctype/non_project_expenses/non_project_expenses.py
  nirmaan_stack/nirmaan_stack/doctype/project_expenses/project_expenses.py
Labels: UI, backend

feat(payments): restrict Approve Payments tab to admins only
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
Labels: UI

feat(rate-master): price lighting_mgmt_system by picking one catalogue item
  frontend/src/pages/pricing/rate-master/RateMasterDerivation.tsx
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/api/boq/test_rate_suggest.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v55.json
Labels: UI, backend

docs(rate-master): record the LMS inversion, the silent-wrong-pick limit, and three standing lessons
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(rate-helper): show a long selected option in full beneath its select
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.test.ts
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
Labels: UI

docs(rate-helper): record the long-option read-out and the vite cache trap
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(snags): show Not Applicable, and let the Edit dialog write the remark
  frontend/src/pages/SnagList/components/SnagEditDialog.tsx
  frontend/src/pages/SnagList/components/SnagStatsStrip.tsx
  frontend/src/pages/SnagList/hooks/useSnagMutations.ts
  frontend/src/pages/SnagList/types.ts
  nirmaan_stack/api/snags/tracking.py
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

fix: hide Financial tab from Customer sidebar details page
  frontend/src/pages/customers/customer.tsx
Labels: UI

feat(boq-pricing): fix the amount-formula palette, read an empty quantity as 0
  frontend/.claude/context/domain/boq-frontend.md
  frontend/CLAUDE.md
  frontend/src/pages/boq-wizard/AmountFormulaBuilder.tsx
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/amountFormula.test.ts
  frontend/src/pages/boq-wizard/amountFormula.ts
  frontend/src/pages/boq-wizard/boqTypes.ts
  frontend/src/pages/boq-wizard/formulaTokens.ts
  frontend/src/pages/boq-wizard/operandPalette.test.ts
  frontend/src/pages/boq-wizard/rateFieldParity.test.ts
Labels: UI

feat(boq): add a read-only sheet viewer, and gate the BoQ surfaces by role
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/pages/boq-wizard/BoqProjectTab.tsx
  frontend/src/pages/boq-wizard/SheetViewPage.tsx
  frontend/src/pages/boq-wizard/boqAccess.test.ts
  frontend/src/pages/boq-wizard/boqAccess.ts
Labels: UI

fix(rate-helper): point-set circuit length - the count outranks the token, and the crash that lied
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/api/boq/test_rate_suggest.py
  nirmaan_stack/services/boq_rate_master/extraction.py
Labels: backend

docs(rate-helper): record the point-set arc, the crash that lied, and two inverted expectations
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(rate-helper): the stale halt banner - a partial is active=0 by design, and nothing replaced that filter
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_suggest.py
Labels: backend

docs(rate-helper): the stale halt banner - the missing filter, the count that was wrong, and the class
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(warehouse): manual stock entry with a derived, make-scoped rate
  frontend/src/constants/warehouse.ts
  frontend/src/pages/Warehouse/AddWarehouseStockDialog.tsx
  frontend/src/pages/Warehouse/RequestFromWarehouse.tsx
  frontend/src/pages/Warehouse/WarehouseStockPage.tsx
  frontend/src/pages/Warehouse/config/warehouseLedgerTable.config.tsx
  nirmaan_stack/api/warehouse/add_warehouse_stock.py
  nirmaan_stack/api/warehouse/get_item_estimated_rate.py
Labels: UI, backend

feat(customers): add receivable Ledger tab to customer details page
  frontend/src/pages/customers/components/CustomerLedger.tsx
  frontend/src/pages/customers/components/CustomerLedgerRow.tsx
  frontend/src/pages/customers/components/CustomerLedgerTable.tsx
  frontend/src/pages/customers/customer.tsx
  frontend/src/pages/customers/data/useCustomerLedger.ts
  nirmaan_stack/api/customers/customer_ledger.py
Labels: UI, backend

feat(reports): add Customer Receivable report
  frontend/src/pages/reports/ReportsContainer.tsx
  frontend/src/pages/reports/components/CustomerReports.tsx
  frontend/src/pages/reports/constants.ts
  frontend/src/pages/reports/store/useReportStore.ts
  nirmaan_stack/api/reports/customer_receivable_report.py
Labels: UI, backend

feat(rate-helper): F-30 slice A - the poles-plus-neutral ladder on db_switchgear, and the rating-up note on the panel
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/boq-wizard/rate-helper/rateHelperTypes.ts
  nirmaan_stack/services/boq_rate_master/extraction.py
  nirmaan_stack/services/boq_rate_master/test_extraction_coercion.py
Labels: UI, backend

docs(rate-helper): F-30 slice A as-built - the ladder, the cert, the borrow-and-return C3, and the row_map-versus-row_out finding
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(snags): hand out a blank import template
  frontend/src/pages/SnagList/components/SnagEmptyState.tsx
  frontend/src/pages/SnagList/import/SnagImportDialog.tsx
  frontend/src/pages/SnagList/import/templateDownload.ts
  nirmaan_stack/api/snags/import_template.py
Labels: UI, backend

feat(snags): carry the sheet's S.No onto every imported snag
  frontend/src/pages/SnagList/config/snagColumns.tsx
  frontend/src/pages/SnagList/config/snagTable.config.ts
  frontend/src/pages/SnagList/import/ColumnMappingFields.tsx
  frontend/src/pages/SnagList/import/PreviewPanel.tsx
  frontend/src/pages/SnagList/import/importState.ts
  frontend/src/pages/SnagList/types.ts
  nirmaan_stack/api/snags/import_wizard.py
  nirmaan_stack/api/snags/test_snag_api.py
  nirmaan_stack/nirmaan_stack/doctype/project_snag/project_snag.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/backfill_snag_source_serial.py
  nirmaan_stack/services/snag_parser/guess.py
  nirmaan_stack/services/snag_parser/parser.py
  nirmaan_stack/services/snag_parser/test_snag_parser.py
Labels: UI, backend

fix(snags): print the sheet's S.No, and the N/A column that had no cells
  frontend/src/pages/SnagList/snag-printformat.html
  nirmaan_stack/fixtures/print_format.json
Labels: backend

feat(snags): make the import history read-only
  frontend/src/pages/SnagList/SnagListTab.tsx
  frontend/src/pages/SnagList/components/SnagBatchesPanel.tsx
  frontend/src/pages/SnagList/hooks/useSnagMutations.ts
Labels: UI

feat(snags): let the S.No be edited from the snag edit dialog
  frontend/src/pages/SnagList/components/SnagEditDialog.tsx
  frontend/src/pages/SnagList/hooks/useSnagMutations.ts
  frontend/src/pages/SnagList/types.ts
  nirmaan_stack/api/snags/test_snag_api.py
  nirmaan_stack/api/snags/tracking.py
Labels: UI, backend

feat(quick-calc): clear the draft, then the history, then close
  docs/user-guides/quick-calc.md
  frontend/src/components/quick-calc/QuickCalc.tsx
  frontend/src/components/quick-calc/QuickCalcKeypad.tsx
  frontend/src/components/quick-calc/useCalcKeyboard.ts
Labels: UI

docs(rate-master): F-30 slice B as-built - the three changes, the delivery path with real figures, the briefing list, the cert, F-30 closed on both engines
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(rate-master): F-30 slice B - industrial_sockets counts the neutral, refuses above the catalogue, and says so on the panel
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v56.json
Labels: UI, backend

docs(rate-master): F-25 slice 1 as-built - the box field, the replay proof, the cert, the two plate investigations, what slices 2 and 3 owe
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
