Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

fix: merge po and dispatch po changes for supporting po revisions
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/config/poTabs.constants.ts
  frontend/src/pages/ProcurementOrders/purchase-order/config/purchaseOrdersTable.config.ts
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  nirmaan_stack/api/handle_cancel_po.py
  nirmaan_stack/api/po_merge_and_unmerge.py
  nirmaan_stack/integrations/controllers/procurement_orders.py
Labels: UI, backend

feat: Add 'Handover' and conditional 'CEO Hold' project statuses with corresponding UI styles, and rename 'WO Service Packages' to 'Work Order Rate Card' in routes and the sidebar.
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/projects/projects.tsx
Labels: UI

feat: add conflict resolution for PO merge with duplicate items and charges
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/merge/MergeConflictResolution.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/merge/MergePOTable.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/merge/constants.ts
  frontend/src/pages/ProcurementOrders/purchase-order/merge/detectConflicts.ts
  frontend/src/pages/ProcurementOrders/purchase-order/merge/index.ts
  frontend/src/pages/ProcurementOrders/purchase-order/merge/types.ts
  frontend/src/pages/ProcurementOrders/purchase-order/merge/useMergeResolution.ts
Labels: UI

refactor: revamp PO merge alert banner and sheet header with eligibility conditions
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/merge/MergeEligibilityBanner.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/merge/index.ts
Labels: UI

feat: add Cancel PO button to PODetails header
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

feat: block PO merge when items have incompatible variants
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/merge/MergePOTable.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/merge/detectConflicts.ts
  frontend/src/pages/ProcurementOrders/purchase-order/merge/index.ts
  frontend/src/pages/ProcurementOrders/purchase-order/merge/types.ts
  frontend/src/pages/ProcurementOrders/purchase-order/merge/useMergeResolution.ts
  nirmaan_stack/api/po_merge_and_unmerge.py
Labels: UI, backend

feat: hide total received for PMs in DN create mode and show item make in pivot table
  frontend/src/pages/DeliveryNotes/components/pivot-table/DeliveryPivotTable.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/PivotTableBody.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/PivotTableHeader.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/types.ts
  frontend/src/pages/DeliveryNotes/hooks/useDeliveryPivotData.ts
Labels: UI

feat: relocate PO Revisions Approval from standalone page to Purchase Orders tab
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/PORevision/PORevisionsApprovalDetail.tsx
  frontend/src/pages/PORevision/PORevisionsApprovalList.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/config/poTabs.constants.ts
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
Labels: UI

feat: revamp Inventory Item-Wise page with PO links, filters, and layout improvements
  frontend/src/pages/inventory/InventoryItemWisePage.tsx
  frontend/src/pages/inventory/hooks/useInventoryItemWise.ts
  frontend/src/pages/inventory/inventory.types.ts
  nirmaan_stack/api/inventory_item_wise.py
Labels: UI, backend

feat: Implement work package filtering for commission report categories.
  frontend/src/pages/CommissionReport/hooks/useCommissionMasters.ts
  frontend/src/pages/CommissionReport/types/index.ts
  frontend/src/pages/projects/project.tsx
  nirmaan_stack/api/commission_report/tracker_options.py
Labels: UI, backend

fix: enable sorting on Estimated Cost column in Inventory Report
  frontend/src/pages/reports/components/InventoryReport.tsx
Labels: UI

fix: fixtures for Commissioning reports
  nirmaan_stack/fixtures/commission_report_category.json
  nirmaan_stack/fixtures/commission_report_tasks.json
  nirmaan_stack/hooks.py
Labels: backend

refactor: revamp PO Revision approval detail page
  frontend/src/components/layout/main-layout.tsx
  frontend/src/pages/PORevision/PORevisionsApprovalDetail.tsx
  frontend/src/pages/PORevision/components/detail/PORevisionImpactAndJustification.tsx
  frontend/src/pages/PORevision/components/detail/PORevisionInfoCard.tsx
  frontend/src/pages/PORevision/components/detail/PORevisionInvoices.tsx
  frontend/src/pages/PORevision/data/poRevision.constants.ts
  frontend/src/pages/PORevision/data/usePORevisionQueries.ts
  frontend/src/pages/PORevision/hooks/usePORevisionsApprovalDetail.ts
Labels: UI

feat: add Billing Category column with filtering across all item tables
  frontend/src/pages/Items/items.constants.ts
  frontend/src/pages/Items/itemsPage.tsx
  frontend/src/pages/inventory/InventoryItemWisePage.tsx
  frontend/src/pages/inventory/hooks/useInventoryItemWise.ts
  frontend/src/pages/inventory/inventory.types.ts
  frontend/src/pages/projects/components/ProjectMaterialUsageTab.tsx
  frontend/src/pages/projects/hooks/useMaterialUsageData.ts
  frontend/src/pages/reports/components/InventoryReport.tsx
  frontend/src/types/NirmaanStack/Items.ts
Labels: UI

fix: NewWODialog stretching to full width
  frontend/src/pages/ServiceRequests/components/NewWODialog.tsx
Labels: UI

feat: add PO Revision auto-approval for low-impact changes
  frontend/src/pages/PORevision/PORevisionsApprovalDetail.tsx
  frontend/src/pages/PORevision/PORevisionsApprovalList.tsx
  frontend/src/pages/PORevision/config/poRevisions.config.tsx
  frontend/src/pages/PORevision/data/usePORevisionMutations.ts
  frontend/src/pages/PORevision/hooks/usePORevision.ts
  frontend/src/pages/ProcurementOrders/purchase-order/components/PORevisionsAndAdjustments.tsx
  nirmaan_stack/api/po_revisions/revision_history.py
  nirmaan_stack/api/po_revisions/revision_logic.py
  nirmaan_stack/fixtures/auto_approval_rule.json
  nirmaan_stack/hooks.py
  nirmaan_stack/nirmaan_stack/doctype/auto_approval_rule/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/auto_approval_rule/auto_approval_rule.json
  nirmaan_stack/nirmaan_stack/doctype/auto_approval_rule/auto_approval_rule.py
  nirmaan_stack/nirmaan_stack/doctype/auto_approval_rule/test_auto_approval_rule.py
  nirmaan_stack/nirmaan_stack/doctype/po_revisions/po_revisions.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/backfill_po_revision_approved_by.py
Labels: UI, backend

fix: for Commissioning Report Tracker rename, PO Details restrictions modifications, TDS item name fuzzy search enabled
  frontend/CLAUDE.md
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsCreateForm.tsx
Labels: UI

feat: allow negative amounts (refunds) in Non Project Expenses
  frontend/src/pages/NonProjectExpenses/NonProjectExpensesPage.tsx
  frontend/src/pages/NonProjectExpenses/components/EditNonProjectExpense.tsx
  frontend/src/pages/NonProjectExpenses/components/NewNonProjectExpense.tsx
  nirmaan_stack/nirmaan_stack/doctype/non_project_expenses/non_project_expenses.json
Labels: UI, backend

feat: add BOQ and BOQ Item doctypes
  nirmaan_stack/nirmaan_stack/doctype/boq/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq/boq.json
  nirmaan_stack/nirmaan_stack/doctype/boq/boq.py
  nirmaan_stack/nirmaan_stack/doctype/boq_item/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_item/boq_item.json
  nirmaan_stack/nirmaan_stack/doctype/boq_item/boq_item.py
Labels: backend

feat: add backend API for BOQ Excel import
  nirmaan_stack/api/boq_import.py
Labels: backend

feat: add frontend BOQ import wizard with Excel parsing
  frontend/package.json
  frontend/src/pages/BOQImport/boq-detail.tsx
  frontend/src/pages/BOQImport/boq-import-dialog.tsx
  frontend/src/pages/BOQImport/boq-list.tsx
  frontend/src/pages/BOQImport/components/RawDataTable.tsx
  frontend/src/pages/BOQImport/constants.ts
  frontend/src/pages/BOQImport/hooks/useBOQImportData.ts
  frontend/src/pages/BOQImport/hooks/useBOQImportWizard.ts
  frontend/src/pages/BOQImport/hooks/useExcelParser.ts
  frontend/src/pages/BOQImport/index.tsx
  frontend/src/pages/BOQImport/project-boq-tab.tsx
  frontend/src/pages/BOQImport/schema.ts
  frontend/src/pages/BOQImport/steps/HeaderMappingStep.tsx
  frontend/src/pages/BOQImport/steps/PreviewStep.tsx
  frontend/src/pages/BOQImport/steps/UploadStep.tsx
  frontend/src/pages/BOQImport/steps/index.ts
  frontend/yarn.lock
Labels: UI

feat: wire BOQ into navigation, routing, and project page
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/projects/project.tsx
Labels: UI

fix: pass selected sheet index to backend for multi-sheet Excel import
  frontend/src/pages/BOQImport/boq-import-dialog.tsx
  frontend/src/pages/BOQImport/index.tsx
  frontend/src/pages/BOQImport/steps/PreviewStep.tsx
  nirmaan_stack/api/boq_import.py
Labels: UI, backend

feat: Implement BOQ item classification and preamble association during import
  frontend/src/pages/BOQImport/boq-detail.tsx
  frontend/src/pages/BOQImport/schema.ts
  frontend/src/pages/BOQImport/steps/PreviewStep.tsx
  nirmaan_stack/api/boq_import.py
  nirmaan_stack/fix_preambles.py
  nirmaan_stack/nirmaan_stack/doctype/boq/boq.json
  nirmaan_stack/nirmaan_stack/doctype/boq_item/boq_item.json
Labels: UI, backend

fix import
  frontend/src/pages/projects/hooks/useProjectAllCredits.ts
Labels: UI

Fix import issue
  frontend/src/pages/projects/hooks/useMaterialUsageData.ts
Labels: UI

feat: Implement PR header Tag Child Table DocType for procurement requests.
  nirmaan_stack/nirmaan_stack/doctype/pr_tag_child_table/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/pr_tag_child_table/pr_tag_child_table.json
  nirmaan_stack/nirmaan_stack/doctype/pr_tag_child_table/pr_tag_child_table.py
  nirmaan_stack/nirmaan_stack/doctype/procurement_requests/procurement_requests.json
Labels: backend

feat: Introduce PR Header Packages management with a new PR Tag Headers doctype, dedicated UI, and updated sidebar navigation.
  frontend/src/components/PRHeaderTagMaster.tsx
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  nirmaan_stack/nirmaan_stack/doctype/pr_tag_headers/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/pr_tag_headers/pr_tag_headers.js
  nirmaan_stack/nirmaan_stack/doctype/pr_tag_headers/pr_tag_headers.json
  nirmaan_stack/nirmaan_stack/doctype/pr_tag_headers/pr_tag_headers.py
  nirmaan_stack/nirmaan_stack/doctype/pr_tag_headers/test_pr_tag_headers.py
Labels: UI, backend

feat: Introduce critical PR Tags Doctype for Make Project Wise Header tag PRs list Overview section Doctype Setup ....
  nirmaan_stack/api/custom_pr_api.py
  nirmaan_stack/nirmaan_stack/doctype/critical_pr_tags/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/critical_pr_tags/critical_pr_tags.js
  nirmaan_stack/nirmaan_stack/doctype/critical_pr_tags/critical_pr_tags.json
  nirmaan_stack/nirmaan_stack/doctype/critical_pr_tags/critical_pr_tags.py
  nirmaan_stack/nirmaan_stack/doctype/critical_pr_tags/test_critical_pr_tags.py
Labels: backend

feat(pr-tracker): implement Procurement Request (PR) Tracker feature
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/PRTracker/components/PRCriticalTagsList.tsx
  frontend/src/pages/PRTracker/components/PRCriticalTagsTable.tsx
  frontend/src/pages/PRTracker/components/PRProjectCard.tsx
  frontend/src/pages/PRTracker/components/PRTagTableColumns.tsx
  frontend/src/pages/PRTracker/index.tsx
  frontend/src/pages/PRTracker/pr-tracker-detail.tsx
  frontend/src/pages/PRTracker/pr-tracker-list.tsx
  frontend/src/pages/PRTracker/types/index.ts
  frontend/src/pages/PRTracker/utils.ts
  nirmaan_stack/api/critical_pr_tasks/get_projects_with_pr_stats.py
  nirmaan_stack/nirmaan_stack/doctype/critical_pr_tags/critical_pr_tags.json
  nirmaan_stack/nirmaan_stack/doctype/critical_pr_tags/critical_pr_tags.py
  nirmaan_stack/nirmaan_stack/doctype/procurement_requests/procurement_requests.json
  nirmaan_stack/nirmaan_stack/doctype/procurement_requests/procurement_requests.py
Labels: UI, backend

feat: PR tracker
  frontend/src/components/PRHeaderTagMaster.tsx
  frontend/src/components/helpers/HeaderHoverCard.tsx
  frontend/src/components/helpers/ProjectPackageBadge.tsx
  frontend/src/pages/PRTracker/components/PRCriticalTagsTable.tsx
  frontend/src/pages/PRTracker/components/PRProjectCard.tsx
  frontend/src/pages/PRTracker/components/PRTagTableColumns.tsx
  frontend/src/pages/PRTracker/pr-tracker-detail.tsx
  frontend/src/pages/ProcurementRequests/NewPR/types/index.ts
  nirmaan_stack/api/critical_pr_tasks/get_projects_with_pr_stats.py
Labels: UI, backend

feat: Refactor procurement request work package display to use PRTagsCell and update related logic.
  frontend/src/components/helpers/ProcurementHeaderCard.tsx
  frontend/src/config/queryKeys.ts
  frontend/src/pages/PRTracker/types/index.ts
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRContainer.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRView.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/approve-pr.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/AddItemForm.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/ApprovePRHeader.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/ConfirmationDialog.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useApprovePRLogic.ts
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useCategoryList.ts
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useRelatedPRData.ts
  frontend/src/pages/ProcurementRequests/ApproveNewPR/types/index.ts
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-select-vendor.tsx
  frontend/src/pages/ProcurementRequests/NewPR/NewCustomPR.tsx
  frontend/src/pages/ProcurementRequests/NewPR/NewProcurementRequestPage.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/EditItemDialog.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/ItemSelectorControls.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/NewItemDialog.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/WorkPackageSelector.tsx
  frontend/src/pages/ProcurementRequests/NewPR/hooks/useProcurementRequestData.ts
  frontend/src/pages/ProcurementRequests/NewPR/hooks/useProcurementRequestForm.ts
  frontend/src/pages/ProcurementRequests/NewPR/hooks/useSubmitProcurementRequest.ts
  frontend/src/pages/ProcurementRequests/NewPR/store/useProcurementRequestStore.ts
  frontend/src/pages/ProcurementRequests/config/prTable.config.ts
  frontend/src/pages/ProcurementRequests/procurement-requests.tsx
  frontend/src/types/NirmaanStack/ProcurementRequests.ts
Labels: UI

feat:patches
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/migrate_work_package_to_pr_tags.py
Labels: backend

fix: backend Changes Custom and Normal
  nirmaan_stack/api/approve_reject_sb_vendor_quotes.py
  nirmaan_stack/api/approve_vendor_quotes.py
  nirmaan_stack/api/custom_pr_api.py
  nirmaan_stack/api/reject_vendor_quotes.py
  nirmaan_stack/api/send_vendor_quotes.py
  nirmaan_stack/integrations/controllers/procurement_requests.py
  nirmaan_stack/nirmaan_stack/doctype/pr_tag_child_table/pr_tag_child_table.json
  nirmaan_stack/nirmaan_stack/doctype/pr_tag_headers/pr_tag_headers.json
  nirmaan_stack/nirmaan_stack/doctype/procurement_requests/procurement_requests.py
Labels: backend

feat: Enhance assignee selection UI with role display and project manager option and and consolidate table column restrictions using a single user role flag.
  frontend/src/pages/CommissionReport/commission-report-list.tsx
  frontend/src/pages/CommissionReport/components/BulkAssignDialog.tsx
  frontend/src/pages/CommissionReport/components/ReportEditModal.tsx
  frontend/src/pages/CommissionReport/config/commissionTableColumns.tsx
  frontend/src/pages/CommissionReport/project-commission-report-details.tsx
  nirmaan_stack/api/commission_report/tracker_options.py
Labels: UI, backend

patch update: Enhance PR tag migration with robust item and category-based fallback logic, introduce specific category overrides
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/migrate_work_package_to_pr_tags.py
Labels: backend

feat: enhance PO Revision to support multiple project work packages for category and item filtering.
  frontend/src/pages/PORevision/data/poRevision.constants.ts
  frontend/src/pages/PORevision/data/usePORevisionQueries.ts
  frontend/src/pages/PORevision/hooks/usePORevision.ts
Labels: UI

feat: Implement PR tag import, enhance PR summary API to include tags, and update frontend for tag display and filtering.
  frontend/src/lib/frappeTypeUtils.ts
  frontend/src/pages/projects/components/ProjectPRSummaryTable.tsx
  nirmaan_stack/api/data_table/constants.py
  nirmaan_stack/api/projects/pr_summary.py
Labels: UI, backend

feat: Add role-based 'Work Order Rate Card' navigation, implement view-only mode for WO Service Packages, and refine commission report user filtering by project assignees.
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/CommissionReport/commission.constants.ts
  frontend/src/pages/CommissionReport/data/useCommissionQueries.ts
  frontend/src/pages/CommissionReport/hooks/useCommissionTrackerLogic.ts
  frontend/src/pages/WOServicePackage/WOServicePackagesMaster.tsx
Labels: UI

feat:while senback approve , if date today or past also now Created status (no need of Scheduled) =>only and fix payment term status.
  nirmaan_stack/api/approve_reject_sb_vendor_quotes.py
Labels: backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
