Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

Fix: UI for Customer PO Deatils and Proejct drive link
  frontend/src/pages/projects/components/CustomerPODeatilsCard.tsx
  frontend/src/pages/projects/components/ProjectDriveLink.tsx
Labels: UI

feat: update project_value and project_value_gst from customer Po deatils , before_save validation
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.py
Labels: backend

feat: Add document event listener to refetch critical PO tasks when the associated project is updated.
  frontend/src/pages/projects/CriticalPOTasks/CriticalPOTasksTab.tsx
Labels: UI

feat: Add patch to recalculate critical PO task release dates for all project to sync any changes done to the project_start_date initially
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_8/__init__.py
  nirmaan_stack/patches/v2_8/recalculate_critical_po_deadlines.py
Labels: backend

feat: Add hook for Critical PO Items to propagate item name, sub-category, and release timeline offset changes to associated project's Critical PO tasks.
  nirmaan_stack/hooks.py
  nirmaan_stack/nirmaan_stack/doctype/critical_po_items/critical_po_items.py
Labels: backend

feat: Propagate Critical PO Item creation and updates to project tasks with calculated release dates, enforcing a minimum 1-day offset.
  frontend/src/pages/CriticalPOCategories/components/CriticalPOCategoriesMaster.tsx
  nirmaan_stack/hooks.py
  nirmaan_stack/nirmaan_stack/doctype/critical_po_items/critical_po_items.py
Labels: UI, backend

feat: Disabled project value fields inputs within add new project and edit project forms with warnings and next steps
  frontend/src/pages/projects/edit-project-form.tsx
  frontend/src/pages/projects/project-form.tsx
Labels: UI

fix: standalone date filter fix & FY 25-26 and FY 26-27 presets added
  frontend/src/components/ui/StandaloneDateFilter.tsx
  frontend/src/pages/NonProjectExpenses/NonProjectExpensesPage.tsx
  frontend/src/pages/reports/components/InflowReportTable.tsx
  frontend/src/pages/reports/components/ProjectReports.tsx
  frontend/src/pages/reports/components/VendorReports.tsx
  frontend/src/pages/reports/components/outflowReportTable.tsx
  frontend/src/utils/datePresents.tsx
Labels: UI

feat: Enable Critical PO Item deletion with cascading task removal and add UI warnings for item modifications.
  frontend/src/pages/CriticalPOCategories/components/CriticalPOCategoriesMaster.tsx
  nirmaan_stack/hooks.py
  nirmaan_stack/nirmaan_stack/doctype/critical_po_items/critical_po_items.py
Labels: UI, backend

fix: Update Frappe branch to version-15
  .github/workflows/build_push.yml
Labels: none

fix: reverted back to stable frappe version
  .github/workflows/build_push.yml
Labels: none

Fix:Export File name include they Project_name
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  frontend/src/pages/projects/SevenDayPlanningTab.tsx
  frontend/src/pages/projects/components/planning/SevenDaysMaterialPlan.tsx
  frontend/src/pages/projects/components/planning/SevendaysWorkPlan.tsx
  frontend/src/pages/projects/project.tsx
Labels: UI

wip:Buffer Export
  frontend/src/pages/projects/components/planning/SevendaysWorkPlan.tsx
Labels: UI

WIP: Buffer days Added in the Work Plan Buffer Export , UI Fixed
  frontend/src/pages/projects/components/planning/SevenDaysMaterialPlan.tsx
  frontend/src/pages/projects/components/planning/SevendaysWorkPlan.tsx
  frontend/src/pages/projects/components/planning/WorkPlanOverview.tsx
  frontend/src/pages/projects/project.tsx
Labels: UI

feat: Completed version Buffer Export print format and progress Ciircle removed from print format
  frontend/src/pages/projects/components/planning/SevendaysWorkPlan.tsx
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

feat: Milestones edit function in Work Plan....current allow to edit progress and Status
  frontend/src/pages/projects/components/planning/EditMilestoneDialog.tsx
  frontend/src/pages/projects/components/planning/SevendaysWorkPlan.tsx
  nirmaan_stack/api/seven_days_planning/work_plan_api.py
Labels: UI, backend

fix: Change Project excl GST to Project incl GST in Project Tables and Projects Report Tables And Summary Card
  frontend/src/pages/projects/config/projectTable.config.ts
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/reports/components/ProjectReports.tsx
  frontend/src/pages/reports/components/columns/projectColumns.tsx
Labels: UI

feat:TDS Repository Master Creation
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/tds/TDSRepositoryMaster.tsx
  frontend/src/pages/tds/components/types.ts
  nirmaan_stack/nirmaan_stack/doctype/tds_repository/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/tds_repository/tds_repository.js
  nirmaan_stack/nirmaan_stack/doctype/tds_repository/tds_repository.py
  nirmaan_stack/nirmaan_stack/doctype/tds_repository/test_tds_repository.py
Labels: UI, backend

feat:Add Edit and Delete Function
  frontend/src/pages/tds/components/AddTDSItemDialog.tsx
  frontend/src/pages/tds/components/EditTDSItemDialog.tsx
  nirmaan_stack/nirmaan_stack/doctype/tds_repository/tds_repository.json
Labels: UI, backend

fix: Facet filter
  frontend/src/pages/ApprovedQuotationsFlow/ApprovedQuotationsTable.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  frontend/src/pages/ProjectInvoices/AllProjectInvoices.tsx
  frontend/src/pages/credits/components/CreditsTableColumns.tsx
  frontend/src/pages/credits/hooks/useCredits.ts
  frontend/src/pages/inflow-payments/InFlowPayments.tsx
  frontend/src/pages/vendors/VendorsPage.tsx
  frontend/yarn.lock
  nirmaan_stack/api/data_table/constants.py
  nirmaan_stack/api/data_table/facets.py
  nirmaan_stack/api/data_table/utils.py
Labels: UI, backend

fix: validation Done
  frontend/src/pages/tds/components/AddTDSItemDialog.tsx
  frontend/src/pages/tds/components/EditTDSItemDialog.tsx
Labels: UI

fix: removed description validation ....
  frontend/src/pages/tds/components/AddTDSItemDialog.tsx
  frontend/src/pages/tds/components/EditTDSItemDialog.tsx
Labels: UI

chore: claude changes
  .lsp.json
  BACKEND_ARCHITECTURE.md
  CLAUDE.md
  IMPROVEMENT_CHECKLIST.md
  pyrightconfig.json
Labels: none

feat: added feature to rename user email for admin users.
  frontend/.claude/settings.local.json
  frontend/src/hooks/useUserSubmitHandlers.ts
  frontend/src/pages/users/user-profile.tsx
  nirmaan_stack/api/users.py
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/nirmaan_users.py
Labels: UI, backend

fix: ui enhancements for users admin option
  frontend/src/pages/users/components/ProjectCard.tsx
  frontend/src/pages/users/components/RoleBadge.tsx
  frontend/src/pages/users/components/UserAvatar.tsx
  frontend/src/pages/users/components/UserOverviewTab.tsx
  frontend/src/pages/users/components/UserProfileActions.tsx
  frontend/src/pages/users/components/UserProjectsTab.tsx
  frontend/src/pages/users/components/UserRowActions.tsx
  frontend/src/pages/users/components/index.ts
  frontend/src/pages/users/user-profile.tsx
  frontend/src/pages/users/users.tsx
  frontend/src/utils/roleColors.ts
Labels: UI

fix: layout changes to support responsiveness for users view
  frontend/src/pages/users/users.tsx
Labels: UI

fix: better error handling for new user creation, reset user password and delete user
  .claude/CHANGELOG.md
  .claude/context/domain/users.md
  CLAUDE.md
  frontend/src/hooks/useUserSubmitHandlers.ts
  frontend/src/pages/users/components/UserRowActions.tsx
  frontend/src/pages/users/user-form.tsx
  nirmaan_stack/api/users.py
  nirmaan_stack/integrations/controllers/nirmaan_users.py
  nirmaan_stack/nirmaan_stack/doctype/nirmaan_users/nirmaan_users.py
Labels: UI, backend

chore: claude changes
  .claude/CHANGELOG.md
  .claude/context/_index.md
  .claude/context/apis.md
  .claude/context/doctypes.md
  .claude/context/domain/procurement.md
  .claude/context/domain/users.md
  .claude/context/integrations.md
  .claude/context/patterns.md
  .claude/context/workflows.md
  .gitignore
  CLAUDE.md
  frontend/.claude/settings.local.json
Labels: none

feat: changes for HR Executive dashboard
  frontend/.claude/CHANGELOG.md
  frontend/.claude/context/role-access.md
  frontend/.claude/settings.local.json
  frontend/CLAUDE.md
  frontend/src/components/helpers/renderRightActionButton.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/layout/dashboards/dashboard-hr.tsx
  frontend/src/pages/dashboard.tsx
  frontend/src/pages/users/EditUserForm.tsx
  frontend/src/pages/users/components/UserProjectsTab.tsx
  frontend/src/pages/users/components/UserRowActions.tsx
  frontend/src/pages/users/user-form.tsx
  frontend/src/pages/users/user-profile.tsx
  frontend/src/utils/roleColors.ts
  nirmaan_stack/api/users.py
Labels: UI, backend

feat: added restrictive user access to other user profiles
  frontend/.claude/CHANGELOG.md
  frontend/.claude/context/role-access.md
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/pages/users/EditUserForm.tsx
  frontend/src/pages/users/components/UserRowActions.tsx
  frontend/src/pages/users/user-form.tsx
  frontend/src/pages/users/user-profile.tsx
  frontend/src/utils/auth/ProtectedRoute.tsx
Labels: UI

fix: rectified to enable users to view and edit their own profile
  frontend/.claude/CHANGELOG.md
  frontend/src/components/helpers/routesConfig.tsx
Labels: UI

fix: projects access within user overview rectified
  frontend/src/pages/users/user-profile.tsx
Labels: UI

fix: bug fix for New Custom PR workflow
  frontend/src/pages/ProcurementRequests/NewPR/NewCustomPR.tsx
Labels: UI

feat: frontend changes for asset management tab
  .claude/CHANGELOG.md
  .claude/context/doctypes.md
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/index.css
  frontend/src/pages/Assets/AssetOverview.tsx
  frontend/src/pages/Assets/AssetsPage.tsx
  frontend/src/pages/Assets/assets.constants.ts
  frontend/src/pages/Assets/components/AddAssetCategoryDialog.tsx
  frontend/src/pages/Assets/components/AddAssetDialog.tsx
  frontend/src/pages/Assets/components/AssetCategoriesList.tsx
  frontend/src/pages/Assets/components/AssetMasterList.tsx
  frontend/src/pages/Assets/components/AssetsSummaryCard.tsx
  frontend/src/pages/Assets/components/AssignAssetDialog.tsx
  frontend/src/pages/Assets/components/AssignedAssetsList.tsx
  frontend/src/pages/Assets/components/PendingActionsList.tsx
  frontend/src/pages/Assets/components/UnassignAssetDialog.tsx
  frontend/src/pages/Assets/components/UnassignedAssetsList.tsx
  nirmaan_stack/nirmaan_stack/doctype/asset_master/asset_master.json
Labels: UI, backend

fix: removed porjects from ineligible users
  frontend/src/pages/users/components/UserOverviewTab.tsx
  frontend/src/pages/users/user-profile.tsx
Labels: UI

feat: frontend changs for assign asset to user via user overview
  frontend/src/pages/Assets/AssetOverview.tsx
  frontend/src/pages/users/components/AssignAssetToUserDialog.tsx
  frontend/src/pages/users/components/UserAssetsTab.tsx
  frontend/src/pages/users/components/UserOverviewTab.tsx
  frontend/src/pages/users/components/index.ts
  frontend/src/pages/users/user-profile.tsx
Labels: UI

fix: bug fix for Customer PO upload
  frontend/src/pages/projects/components/AddCustomerPODialog.tsx
  frontend/src/pages/projects/components/EditCustomerPODialog.tsx
Labels: UI

feat: added new doctypes for asset management
  .claude/CHANGELOG.md
  .claude/context/doctypes.md
  CLAUDE.md
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/asset_management.py
  nirmaan_stack/nirmaan_stack/doctype/asset_category/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/asset_category/asset_category.js
  nirmaan_stack/nirmaan_stack/doctype/asset_category/asset_category.json
  nirmaan_stack/nirmaan_stack/doctype/asset_category/asset_category.py
  nirmaan_stack/nirmaan_stack/doctype/asset_category/test_asset_category.py
  nirmaan_stack/nirmaan_stack/doctype/asset_management/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/asset_management/asset_management.js
  nirmaan_stack/nirmaan_stack/doctype/asset_management/asset_management.json
  nirmaan_stack/nirmaan_stack/doctype/asset_management/asset_management.py
  nirmaan_stack/nirmaan_stack/doctype/asset_management/test_asset_management.py
  nirmaan_stack/nirmaan_stack/doctype/asset_master/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/asset_master/asset_master.js
  nirmaan_stack/nirmaan_stack/doctype/asset_master/asset_master.json
  nirmaan_stack/nirmaan_stack/doctype/asset_master/asset_master.py
  nirmaan_stack/nirmaan_stack/doctype/asset_master/test_asset_master.py
Labels: backend

fix: top bar ui fixes
  frontend/.claude/CHANGELOG.md
  frontend/src/components/helpers/renderRightActionButton.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/layout/main-layout.tsx
Labels: UI

fix: ui bug fixes for accountant role
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/layout/dashboards/dashboard-accountant.tsx
  frontend/src/components/layout/dashboards/dashboard-default.tsx
  frontend/src/components/updates/RoleDashboard.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/TransactionDetailsCard.tsx
  frontend/src/pages/dashboard.tsx
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  frontend/src/pages/projects/components/ProjectDriveLink.tsx
  frontend/src/pages/projects/project.tsx
  nirmaan_stack/api/sidebar_counts.py
  nirmaan_stack/patches/v2_8/remove_accountant_project_assignments.py
Labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
