Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

feat: working on migrating json fields to child tables
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-vendor.tsx
  nirmaan_stack/nirmaan_stack/doctype/procurement_request_item_detail/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/procurement_request_item_detail/procurement_request_item_detail.json
  nirmaan_stack/nirmaan_stack/doctype/procurement_request_item_detail/procurement_request_item_detail.py
  nirmaan_stack/nirmaan_stack/doctype/procurement_requests/procurement_requests.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_7/migrate_pr_procurement_list_to_child_table.py
Labels: UI, backend

feat: child table configurations
  frontend/src/hooks/useProcurementRequest.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-vendor.tsx
  frontend/src/types/NirmaanStack/ProcurementRequests.ts
Labels: UI

feat: adapted the new procurement request flow to use new order_list child table field and also get the initial work packages from the projects new child table field
  frontend/src/pages/ProcurementRequests/NewPR/NewProcurementRequestPage.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/NewItemDialog.tsx
  frontend/src/pages/ProcurementRequests/NewPR/hooks/useSubmitProcurementRequest.ts
  frontend/src/pages/ProcurementRequests/NewPR/types/index.ts
  frontend/src/types/NirmaanStack/ProcurementRequests.ts
  nirmaan_stack/integrations/controllers/procurement_requests.py
Labels: UI, backend

feat: projects "project_work_packages" json field migration to child table in progress
  frontend/src/pages/projects/edit-project-form.tsx
  frontend/src/pages/projects/project-form.tsx
  frontend/src/types/NirmaanStack/Projects.ts
  nirmaan_stack/api/projects/new_project.py
  nirmaan_stack/nirmaan_stack/doctype/project_work_package_category_make/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/project_work_package_category_make/project_work_package_category_make.json
  nirmaan_stack/nirmaan_stack/doctype/project_work_package_category_make/project_work_package_category_make.py
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.json
  nirmaan_stack/patches/v2_7/migrate_project_wp_to_child_tables.py
Labels: UI, backend

feat: updated approve new pr flow to adapt to the order_list child tables
  frontend/src/components/pr-summary.tsx
  frontend/src/components/procurement-request/list-pr.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRContainer.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRView.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/ApprovePRHeader.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/EditItemDialog.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/ItemListSection.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/ItemListTable.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/NewItemDialog.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/RequestedItemTable.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/RequestedItemsSection.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useApprovePRLogic.ts
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useRelatedPRData.ts
  frontend/src/pages/ProcurementRequests/ApproveNewPR/types/index.ts
  frontend/src/pages/ProcurementRequests/NewPR/NewProcurementRequestPage.tsx
Labels: UI

feat: updated Sent Back Category schema to accommodate new child table type field order_list and updated flows to adapt this change
  frontend/src/hooks/useSentBackCategory.ts
  frontend/src/pages/Sent Back Requests/ApproveSBSQuotesContainer.tsx
  frontend/src/pages/Sent Back Requests/SBQuotesSelectionReview.tsx
  frontend/src/pages/Sent Back Requests/hooks/useSentBackCategoryDoc.ts
  frontend/src/pages/Sent Back Requests/sent-back-summary.tsx
  frontend/src/types/NirmaanStack/SentBackCategory.ts
  nirmaan_stack/nirmaan_stack/doctype/procurement_request_item_detail/procurement_request_item_detail.json
  nirmaan_stack/nirmaan_stack/doctype/sent_back_category/sent_back_category.json
  nirmaan_stack/patches/v2_7/migrate_sbc_item_list_to_child_table.py
Labels: UI, backend

feat: updated projects components to adapt to the project_wp_category_makes child table configurations
  frontend/src/pages/projects/CategoryAccordion.tsx
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/ProjectMakesTab.tsx
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  frontend/src/pages/projects/ProjectSpendsTab.tsx
  frontend/src/pages/projects/edit-project-form.tsx
  frontend/src/pages/projects/project-form.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/types/NirmaanStack/Projects.ts
Labels: UI

feat: updated procurment requests flows to adapt to the child table changes
  frontend/src/components/helpers/ApproveVendorQuotesPRorSBAntDTable.tsx
  frontend/src/hooks/useProcurementRequest.ts
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRContainer.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/ApproveRejectVendorQuotesContainer.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/ApproveRejectVendorQuotesView.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/components/DelayedItemsTable.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/components/VendorApprovalTable.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/hooks/useApproveRejectLogic.ts
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/hooks/useApproveRejectPRDoc.ts
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/hooks/useApprovedQuotationsList.ts
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/hooks/useQuoteApprovalApi.ts
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/types/index.ts
  frontend/src/pages/ProcurementRequests/NewPR/NewProcurementRequestPage.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgressContainer.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgressView.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/ItemVendorMakeSelection.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useProcurementActions.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useProcurementProgressLogic.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useRFQManager.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-vendor.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/types/index.ts
  frontend/src/pages/Retired Components/ProcurementProgress.tsx
  nirmaan_stack/api/send_vendor_quotes.py
Labels: UI, backend

feat: updated sent back flows to adapt to the updated schema and added new items table field in procurment orders to migrate order_list field data
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-select-vendor.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/components/VendorApprovalTable.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/hooks/useApproveRejectLogic.ts
  frontend/src/pages/ProcurementRequests/config/prTable.config.ts
  frontend/src/pages/Retired Components/SentBackVendorQuotes.tsx
  frontend/src/pages/Sent Back Requests/ApproveSBSQuotesContainer.tsx
  frontend/src/pages/Sent Back Requests/ApproveSBSQuotesView.tsx
  frontend/src/pages/Sent Back Requests/approve-select-sent-back.tsx
  frontend/src/pages/Sent Back Requests/config/sentBackCategoryTables.config.ts
  frontend/src/pages/Sent Back Requests/hooks/useApproveSBSLogic.ts
  frontend/src/pages/Sent Back Requests/hooks/useSBQuoteApprovalApi.ts
  frontend/src/pages/Sent Back Requests/sent-back-request.tsx
  frontend/src/types/NirmaanStack/ProcurementOrders.ts
  nirmaan_stack/api/approve_reject_sb_vendor_quotes.py
  nirmaan_stack/api/data-table.py
  nirmaan_stack/api/reject_vendor_quotes.py
  nirmaan_stack/api/send_vendor_quotes.py
  nirmaan_stack/integrations/controllers/procurement_requests.py
  nirmaan_stack/nirmaan_stack/doctype/procurement_orders/procurement_orders.json
  nirmaan_stack/nirmaan_stack/doctype/procurement_orders/procurement_orders.py
  nirmaan_stack/nirmaan_stack/doctype/purchase_order_item/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/purchase_order_item/purchase_order_item.json
  nirmaan_stack/nirmaan_stack/doctype/purchase_order_item/purchase_order_item.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_7/migrate_po_order_list_to_child_table.py
Labels: UI, backend

feat: added fixtures for additional charges
  nirmaan_stack/fixtures/category.json
  nirmaan_stack/fixtures/items.json
  nirmaan_stack/fixtures/procurement_packages.json
  nirmaan_stack/hooks.py
Labels: backend

feat:Project Invoice ( Nav & Tab)
  frontend/src/pages/ProjectInvoices/components/ProjectInvoiceDialog.tsx
Labels: UI

fix: new project creation script fix related to date
  nirmaan_stack/api/projects/new_project.py
Labels: backend

fix: update_modified = False added for child table patches
  nirmaan_stack/patches/v2_7/migrate_po_order_list_to_child_table.py
  nirmaan_stack/patches/v2_7/migrate_pr_procurement_list_to_child_table.py
  nirmaan_stack/patches/v2_7/migrate_project_wp_to_child_tables.py
  nirmaan_stack/patches/v2_7/migrate_sbc_item_list_to_child_table.py
Labels: backend

fix: hover now uses child table for showing item entries for pr and sentback
  frontend/src/components/helpers/ItemsHoverCard.tsx
Labels: UI

fix: removed wp from project hover
  frontend/src/components/helpers/ProcurementActionsHeaderCard.tsx
Labels: UI

fix: changes for proccurement progress
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-select-vendor.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/GenerateRFQDialog.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-vendor.tsx
  frontend/src/pages/ProcurementRequests/procurement-requests.tsx
  frontend/src/pages/Sent Back Requests/sent-back-request.tsx
Labels: UI

fix: approve new pr fixes
  frontend/src/pages/ProcurementRequests/ApproveNewPR/approve-pr.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useApprovePRLogic.ts
Labels: UI

fix: Requested -> Request for item status
  nirmaan_stack/nirmaan_stack/doctype/procurement_request_item_detail/procurement_request_item_detail.json
Labels: backend

fix: added tagret amount view when approving a new pr
  frontend/src/pages/ProcurementRequests/ApproveNewPR/approve-pr.tsx
  nirmaan_stack/integrations/controllers/procurement_requests.py
  nirmaan_stack/nirmaan_stack/doctype/procurement_requests/procurement_requests.json
Labels: UI, backend

fix: new pr creation fixes
  frontend/src/pages/ProcurementRequests/NewPR/NewProcurementRequestPage.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/EditItemDialog.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/ItemSelectorControls.tsx
  frontend/src/pages/ProcurementRequests/NewPR/hooks/useProcurementRequestForm.ts
  frontend/src/pages/ProcurementRequests/NewPR/hooks/useSubmitProcurementRequest.ts
  frontend/src/pages/ProcurementRequests/NewPR/store/useProcurementRequestStore.ts
  frontend/src/pages/ProcurementRequests/NewPR/types/index.ts
Labels: UI

feat: prs and sent backs now creates POs, items filter work for Prs nd Sbs, pending item is rendered correctly for PRs and SBs
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/ApproveRejectVendorQuotesContainer.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/ApproveRejectVendorQuotesView.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/components/VendorApprovalTable.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/hooks/useApproveRejectLogic.ts
  frontend/src/pages/ProcurementRequests/config/prTable.config.ts
  frontend/src/pages/Sent Back Requests/config/sentBackCategoryTables.config.ts
  frontend/src/pages/Sent Back Requests/hooks/useApproveSBSLogic.ts
  frontend/src/pages/Sent Back Requests/hooks/useSBQuoteApprovalApi.ts
  nirmaan_stack/api/approve_reject_sb_vendor_quotes.py
  nirmaan_stack/api/approve_vendor_quotes.py
  nirmaan_stack/api/custom_pr_api.py
  nirmaan_stack/api/data-table.py
  nirmaan_stack/api/reject_vendor_quotes.py
  nirmaan_stack/nirmaan_stack/doctype/procurement_request_item_detail/procurement_request_item_detail.json
  nirmaan_stack/nirmaan_stack/doctype/purchase_order_item/purchase_order_item.json
Labels: UI, backend

fix: vendor slection with tax with total amount incl gst + sent-back requests also vendor selection
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/components/VendorApprovalTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgressView.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useProcurementProgressLogic.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/types/index.ts
  frontend/src/pages/Sent Back Requests/SBQuotesSelectionReview.tsx
Labels: UI

fix:Approve PR action backend Updates for every change + backend Sent back py
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRView.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/ConfirmationDialog.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/ItemListSection.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/NewItemDialog.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useApprovePRLogic.ts
  frontend/src/pages/ProcurementRequests/ApproveNewPR/types/index.ts
  frontend/src/pages/ProcurementRequests/NewPR/NewProcurementRequestPage.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/ItemSelectorControls.tsx
  nirmaan_stack/api/reject_vendor_quotes.py
Labels: UI, backend

fix:"Approve Po and Send Back PR include Additional Charge"
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/components/VendorApprovalTable.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/hooks/useApproveRejectLogic.ts
  frontend/src/types/NirmaanStack/ProcurementRequests.ts
  nirmaan_stack/api/approve_vendor_quotes.py
  nirmaan_stack/api/reject_vendor_quotes.py
Labels: UI, backend

feat: AddItional Charges make in VendorSelectable Inprogess(tab) || Delayed item remove addtional charge or alert you to remove vendors or Charge || Fixed Ui
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgressView.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/AddVendorChargesDialog.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/VendorChargesTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useProcurementActions.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useProcurementProgressLogic.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useRFQManager.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/types/index.ts
  frontend/src/pages/Sent Back Requests/SBQuotesSelectionReview.tsx
  nirmaan_stack/nirmaan_stack/doctype/procurement_requests/procurement_requests.json
Labels: UI, backend

wip:Payment Terms
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/ApproveRejectVendorQuotesView.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/components/VendorApprovalTable.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/types/index.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/PaymentTermsDetailsDisplay.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/PaymentTermsDialog.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/types/paymentTerms.ts
  nirmaan_stack/nirmaan_stack/doctype/po_payment_terms/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/po_payment_terms/po_payment_terms.json
  nirmaan_stack/nirmaan_stack/doctype/po_payment_terms/po_payment_terms.py
  nirmaan_stack/nirmaan_stack/doctype/procurement_orders/procurement_orders.json
  nirmaan_stack/nirmaan_stack/doctype/sent_back_category/sent_back_category.json
Labels: UI, backend

feat:Payment_Terms in Approve & Send Back with UI Change & PO pyments_terms child table
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPaymentTermsCard.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/ApproveRejectVendorQuotesView.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/components/VendorApprovalTable.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/hooks/useApproveRejectLogic.ts
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/hooks/useQuoteApprovalApi.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgressView.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/PaymentTermsDetailsDisplay.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/PaymentTermsDialog.tsx
  frontend/src/pages/Sent Back Requests/ApproveSBSQuotesView.tsx
  frontend/src/pages/Sent Back Requests/SBQuotesSelectionReview.tsx
  frontend/src/pages/Sent Back Requests/hooks/useApproveSBSLogic.ts
  nirmaan_stack/api/approve_reject_sb_vendor_quotes.py
  nirmaan_stack/api/approve_vendor_quotes.py
Labels: UI, backend

feat:Amend PO and Cancel PO & potential Loss feat & notes Points +fix Pervious Bug
  frontend/src/pages/ProcurementOrders/amend-po/approve-amend-po.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPaymentTermsCard.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/components/VendorApprovalTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/PaymentTermsDialog.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useHistroricalLowestQuote.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useProcurementProgressLogic.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useTargetRatesForItems.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/types/index.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/types/paymentTerms.ts
  frontend/src/pages/Sent Back Requests/SBQuotesSelectionReview.tsx
  frontend/src/types/NirmaanStack/ProcurementOrders.ts
  nirmaan_stack/api/approve_reject_sb_vendor_quotes.py
  nirmaan_stack/api/approve_vendor_quotes.py
  nirmaan_stack/api/handle_cancel_po.py
  nirmaan_stack/nirmaan_stack/doctype/procurement_orders/procurement_orders.json
Labels: UI, backend

wip: "Amend & Payment terms to Project payments=>recalculate"
  frontend/src/pages/ProcurementOrders/amend-po/approve-amend-po.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPaymentTermsCard.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/ApproveRejectVendorQuotesView.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/components/VendorApprovalTable.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/hooks/useApproveRejectLogic.ts
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/hooks/useQuoteApprovalApi.ts
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/types/index.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/Sent Back Requests/ApproveSBSQuotesView.tsx
  frontend/src/pages/Sent Back Requests/hooks/useApproveSBSLogic.ts
  frontend/src/pages/Sent Back Requests/hooks/useSBQuoteApprovalApi.ts
  frontend/src/types/NirmaanStack/ApiResponse.ts
  frontend/src/types/NirmaanStack/ProcurementOrders.ts
  nirmaan_stack/api/approve_amend_po.py
  nirmaan_stack/api/approve_reject_sb_vendor_quotes.py
  nirmaan_stack/api/approve_vendor_quotes.py
  nirmaan_stack/api/payments/project_payments.py
  nirmaan_stack/api/send_vendor_quotes.py
  nirmaan_stack/nirmaan_stack/doctype/po_payment_terms/po_payment_terms.json
Labels: UI, backend

feat:Payment terms woker(credit) and Block amend for reduction & allow add new terms"
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPaymentTermsCard.tsx
  nirmaan_stack/api/approve_amend_po.py
  nirmaan_stack/hooks.py
  nirmaan_stack/tasks/payment_term_worker.py
Labels: UI, backend

feat:New Credit nav And table
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/credits/CreditsPage.tsx
  frontend/src/pages/credits/components/CreditsTableColumns.tsx.tsx
  frontend/src/pages/credits/credits.constant.ts
  frontend/src/pages/credits/hooks/useCredits.ts
  frontend/src/zustand/useDocCountStore.ts
  nirmaan_stack/api/sidebar_counts.py
Labels: UI, backend

feat:auto-approve
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/PaymentTermsDialog.tsx
  nirmaan_stack/api/approve_vendor_quotes.py
  nirmaan_stack/api/send_vendor_quotes.py
  nirmaan_stack/integrations/controllers/procurement_requests.py
Labels: UI, backend

fix:PO
  frontend/src/pages/ProcurementOrders/amend-po/approve-amend-po.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPaymentTermsCard.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPdf.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/TransactionDetailsCard.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/dialog/DeliveryNoteSheet.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/ItemSelectorControls.tsx
  frontend/src/types/NirmaanStack/POPaymentTerms.ts
  nirmaan_stack/api/approve_amend_po.py
Labels: UI, backend

feat:payment terms & status updates
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/types/paymentTerms.ts
  frontend/src/pages/Sent Back Requests/SBQuotesSelectionReview.tsx
  frontend/src/types/NirmaanStack/ProcurementRequests.ts
  nirmaan_stack/api/approve_reject_sb_vendor_quotes.py
  nirmaan_stack/api/payments/project_payments.py
  nirmaan_stack/integrations/controllers/project_payments.py
  nirmaan_stack/nirmaan_stack/doctype/po_payment_terms/po_payment_terms.json
  nirmaan_stack/tasks/payment_term_worker.py
Labels: UI, backend

feat:custom PR Payment Terms
  frontend/src/pages/ProcurementRequests/NewPR/CustomPRSummary.tsx
  frontend/src/pages/ProcurementRequests/NewPR/NewCustomPR.tsx
  nirmaan_stack/api/custom_pr_api.py
Labels: UI, backend

fix: merge patches
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/types/NirmaanStack/ProcurementOrders.ts
Labels: UI

fix: merge/unmerge, update delivery notes, & fixing for prints in DN
  frontend/src/pages/DeliveryNotes/components/DeliveryHistory.tsx
  frontend/src/pages/DeliveryNotes/components/DeliveryNotePrintLayout.tsx
  frontend/src/pages/DeliveryNotes/components/deliveryNoteItemsDisplay.tsx
  frontend/src/pages/DeliveryNotes/deliverynote.tsx
  frontend/src/pages/DeliveryNotes/hooks/useDeliveryNoteData.ts
  frontend/src/pages/DeliveryNotes/hooks/usePrintHistroy.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPdf.tsx
  frontend/src/types/NirmaanStack/ProcurementOrders.ts
  frontend/src/utils/getAmounts.ts
  nirmaan_stack/api/delivery_notes/update_delivery_note.py
  nirmaan_stack/api/po_merge_and_unmerge.py
  nirmaan_stack/integrations/controllers/procurement_orders.py
Labels: UI, backend

chore: Update browserslist database
  frontend/yarn.lock
Labels: none

wip:project
  frontend/src/components/helpers/ItemsHoverCard.tsx
  frontend/src/pages/projects/CustomHoverCard.tsx
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  frontend/src/pages/projects/components/ProjectPRSummaryTable.tsx
  frontend/src/pages/projects/components/ProjectSRSummaryTable.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/projects/projects.tsx
  frontend/src/utils/getAmounts.ts
  nirmaan_stack/api/procurement_orders.py
  nirmaan_stack/api/projects/project_aggregates.py
Labels: UI, backend

fix: Reports & PO OverAll
  frontend/src/components/helpers/ItemsHoverCard.tsx
  frontend/src/config/queryKeys.ts
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/add-project-estimates.tsx
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  frontend/src/pages/projects/hooks/useMaterialUsageData.ts
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/reports/components/POReports.tsx
  frontend/src/pages/reports/hooks/usePOReportsData.ts
  nirmaan_stack/api/procurement_orders.py
  nirmaan_stack/api/projects/project_aggregates.py
Labels: UI, backend
