Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

docs(boq): create the pricing/rate-master frontend context doc - fe trim step 1
  frontend/.claude/context/_index.md
  frontend/.claude/context/domain/pricing-rate-master-frontend.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

docs(boq): delete the proven bands from frontend/CLAUDE.md - fe trim step 2
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

docs(boq): repoint four broken references and correct twelve stale claims
  .claude/context/domain/boq-backend.md
  .claude/context/domain/boq-rate-master.md
  frontend/.claude/context/domain/pricing-rate-master-frontend.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/src/pages/pricing/rate-master/RateMasterDerivation.tsx
  nirmaan_stack/api/boq/test_rate_master.py
Labels: UI, backend

feat(orders): store amount_due on Procurement Orders and Service Requests
  frontend/src/types/NirmaanStack/ProcurementOrders.ts
  frontend/src/types/NirmaanStack/ServiceRequests.ts
  nirmaan_stack/api/invoices/_item_billing_sync.py
  nirmaan_stack/api/po_adjustments/_payment_utils.py
  nirmaan_stack/nirmaan_stack/doctype/procurement_orders/procurement_orders.json
  nirmaan_stack/nirmaan_stack/doctype/project_payments/project_payments.py
  nirmaan_stack/nirmaan_stack/doctype/service_requests/service_requests.json
  nirmaan_stack/nirmaan_stack/doctype/service_requests/service_requests.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/backfill_document_amount_due.py
Labels: UI, backend

feat(orders): read amount_invoiced / amount_due from the stored fields
  CLAUDE.md
  CONTEXT.md
  frontend/src/config/queryKeys.ts
  frontend/src/hooks/useServerDataTable.ts
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/ServiceRequests/service-request/all-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/components/SRDetailsCard.tsx
  frontend/src/pages/ServiceRequests/service-request/finalized-sr-list.tsx
  frontend/src/pages/projects/components/ProjectSRSummaryTable.tsx
  frontend/src/pages/reports/hooks/usePOReportsData.ts
  frontend/src/pages/reports/hooks/useSRReportsData.ts
  frontend/src/pages/vendors/components/VendorMaterialOrdersTable.tsx
  frontend/src/pages/vendors/data/useVendorQueries.ts
  nirmaan_stack/api/invoices/test_document_amount_fields.py
Labels: UI, backend

feat(invoices): explain why an invoice was not auto-approved
  frontend/src/pages/tasks/invoices/components/AutoApproveReasonKey.tsx
  frontend/src/pages/tasks/invoices/components/PendingTasksTable.tsx
  frontend/src/pages/tasks/invoices/components/ReasonBreakdown.tsx
  frontend/src/pages/tasks/invoices/components/columns.tsx
  frontend/src/pages/tasks/invoices/constants.ts
  frontend/src/pages/tasks/invoices/utils/autoApproveReasons.test.ts
  frontend/src/pages/tasks/invoices/utils/autoApproveReasons.ts
  nirmaan_stack/api/invoices/_auto_approve.py
Labels: UI, backend

fix(projects): stop project pickers offering Tendering projects
  frontend/src/pages/ProjectInvoices/components/NewProjectInvoiceDialog.tsx
  frontend/src/pages/Warehouse/RequestFromWarehouse.tsx
  frontend/src/pages/inflow-payments/components/NewInflowPayment.tsx
  nirmaan_stack/api/design_tracker/tracker_options.py
  nirmaan_stack/api/pmo_dashboard.py
Labels: UI, backend

fix(invoices): stop double-firing the invoice recompute, and stop hiding its trace
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  nirmaan_stack/api/invoices/_item_billing_sync.py
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/vendor_invoices.py
Labels: UI, backend

feat: add server-side validation to enforce a single commission report per project
  nirmaan_stack/nirmaan_stack/doctype/project_commission_report/project_commission_report.py
Labels: backend

feat(boq): conduit size + wiring core/thickness become catalogue-fed pick-lists (F-1, F-8)
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/api/boq/test_rate_suggest.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v44.json
Labels: UI, backend

docs(boq): record slice 4, the R9 placeholder supersession, and the corrected #57 list
  .claude/context/domain/boq-rate-master.md
  frontend/.claude/context/domain/boq-frontend.md
  frontend/.claude/context/domain/pricing-rate-master-frontend.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): % Margin on the internal export, and remarks before the block
  .claude/context/domain/boq-backend.md
  CLAUDE.md
  frontend/.claude/context/domain/boq-frontend.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/src/pages/boq-wizard/PricedTenderBcsDialog.test.ts
  frontend/src/pages/boq-wizard/PricedTenderBcsDialog.tsx
  frontend/src/pages/boq-wizard/bcsColumns.test.ts
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/export_bcs_writeback.py
  nirmaan_stack/api/boq/wizard/test_export_bcs_writeback.py
  nirmaan_stack/services/boq_bcs/parity_cases.json
  nirmaan_stack/services/boq_bcs/sources.py
  nirmaan_stack/services/boq_bcs/test_sources.py
Labels: UI, backend

feat(boq): an item may parent another item — narrow structural error #8
  .claude/context/domain/boq-backend.md
  CLAUDE.md
  docs/adr/0008-fully-hard-finalize-gate.md
  frontend/.claude/context/domain/boq-frontend.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/ai_assist.py
  nirmaan_stack/api/boq/wizard/commit_validation.py
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_commit_validation.py
  nirmaan_stack/api/boq/wizard/test_is_excluded_filter.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
  nirmaan_stack/integrations/controllers/boq_nodes.py
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/test_boq_nodes.py
Labels: UI, backend

feat(boq): tell both AI engines an item may parent an item
  .claude/context/domain/boq-backend.md
  CLAUDE.md
  docs/adr/0008-fully-hard-finalize-gate.md
  frontend/.claude/plans/boq-upload-plan.md
  nirmaan_stack/services/boq_ai_assist.py
  nirmaan_stack/services/boq_gemini_assist.py
  nirmaan_stack/services/test_boq_ai_assist.py
  nirmaan_stack/services/test_boq_gemini_assist.py
Labels: backend

docs(boq): record the live AI-pass + gate verification on real sheets
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(assets): capture project/city/state on asset assignment
  frontend/src/pages/Assets/AssetOverview.tsx
  frontend/src/pages/Assets/assets.constants.ts
  frontend/src/pages/Assets/components/AddAssetDialog.tsx
  frontend/src/pages/Assets/components/AssetLookupFacetFilter.tsx
  frontend/src/pages/Assets/components/AssetMasterList.tsx
  frontend/src/pages/Assets/components/AssignAssetDialog.tsx
  frontend/src/pages/Assets/components/AssignedAssetsList.tsx
  frontend/src/pages/Assets/components/UnassignAssetDialog.tsx
  frontend/src/pages/Assets/hooks/useAssetProjectOptions.ts
  nirmaan_stack/nirmaan_stack/doctype/asset_master/asset_master.json
  nirmaan_stack/nirmaan_stack/doctype/asset_master/asset_master.py
Labels: UI, backend

docs(boq): record the v44 dev restore and its browser cert
  .claude/context/domain/boq-rate-master.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(vendors): opt-in bank/contact columns, and bank details required at creation
  frontend/src/components/data-table/data-table-view-options.tsx
  frontend/src/constants/vendorFormRegex.ts
  frontend/src/pages/vendors/VendorsPage.tsx
  frontend/src/pages/vendors/data/useVendorQueries.ts
  frontend/src/pages/vendors/edit-vendor.tsx
  frontend/src/pages/vendors/new-vendor.tsx
  frontend/src/pages/vendors/utils/vendorDuplicates.test.ts
  frontend/src/pages/vendors/utils/vendorDuplicates.ts
  frontend/src/pages/vendors/vendors.constants.ts
Labels: UI

feat(po): role-gated delete for DC/MIR on the PO detail page
  frontend/src/constants/roles.ts
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/DeliveryChallanTable.tsx
  nirmaan_stack/api/po_delivery_documentss.py
  nirmaan_stack/services/role_profiles.py
Labels: UI, backend

feat(reports): add Project Invoices report with date range
  frontend/src/pages/ProjectInvoices/AllProjectInvoices.tsx
  frontend/src/pages/reports/ReportsContainer.tsx
  frontend/src/pages/reports/components/ProjectInvoicesReport.tsx
  frontend/src/pages/reports/components/ProjectReports.tsx
  frontend/src/pages/reports/store/useReportStore.ts
Labels: UI

fix(boq): repair openpyxl-hostile workbooks at the fetch chokepoint
  nirmaan_stack/api/boq/wizard/parse_run.py
  nirmaan_stack/api/boq/wizard/sheet_preview.py
  nirmaan_stack/services/boq_parser/test_workbook_repair.py
  nirmaan_stack/services/boq_parser/workbook_repair.py
Labels: backend

docs(boq): record the workbook-repair as-built in boq-backend
  .claude/context/domain/boq-backend.md
Labels: none

fix(outflow-import): read .xlsx statements that misdeclare their dimension
  frontend/src/pages/outflow-import/components/ImportStatementDialog.tsx
  nirmaan_stack/services/outflow_import/parser.py
  nirmaan_stack/services/outflow_import/test_parser.py
  nirmaan_stack/services/outflow_import/tests/fixtures/cashfree_bad_dimension.xlsx
Labels: UI, backend

fix(boq): log why an upload workbook could not be opened, and stop calling it corrupted
  frontend/src/pages/boq-wizard/BoqDropZone.tsx
  nirmaan_stack/api/boq/wizard/upload_file.py
Labels: UI, backend

feat(outflow-import): drop Skipped from the totals, split Settled by ledger, add CSV export
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  frontend/src/pages/outflow-import/components/ApprovedRecordsPanel.tsx
  frontend/src/pages/outflow-import/components/ExportButton.tsx
  frontend/src/pages/outflow-import/components/ImportHistoryDialog.tsx
  frontend/src/pages/outflow-import/components/ImportSelect.tsx
  frontend/src/pages/outflow-import/components/ImportSummaryPanel.tsx
  frontend/src/pages/outflow-import/components/SkippedRowsDialog.tsx
  frontend/src/pages/outflow-import/outflowExport.test.ts
  frontend/src/pages/outflow-import/outflowExport.ts
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  frontend/src/pages/outflow-import/useOutflowRows.ts
  frontend/src/types/NirmaanStack/OutflowImportBatch.ts
  nirmaan_stack/api/outflow_import/approved.py
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_approved.py
  nirmaan_stack/api/outflow_import/test_review.py
  nirmaan_stack/nirmaan_stack/doctype/outflow_row_match/outflow_row_match.py
  nirmaan_stack/patches/v3_0/add_outflow_match_import_row_index.py
  nirmaan_stack/services/outflow_import/ledgers.py
  nirmaan_stack/services/outflow_import/status.py
  nirmaan_stack/services/outflow_import/test_status.py
Labels: UI, backend

fix(outflow-import): stop a Cashbook import creating a duplicate expense
  nirmaan_stack/api/outflow_import/cashbook.py
  nirmaan_stack/api/outflow_import/test_cashbook_import.py
  nirmaan_stack/services/outflow_import/candidates.py
  nirmaan_stack/services/outflow_import/cashbook.py
  nirmaan_stack/services/outflow_import/duplicates.py
  nirmaan_stack/services/outflow_import/test_cashbook.py
  nirmaan_stack/services/outflow_import/test_duplicates.py
Labels: backend

docs(outflow-import): record the totals, duplicate-guard and xlsx slices
  .claude/context/domain/outflow-import.md
  .claude/plans/outflow-cashbook-duplicate-gaps.md
Labels: none

feat(invoices): remove the PO-number auto-approve gate and settle its backlog
  frontend/src/pages/tasks/invoices/components/AutoApproveReasonKey.tsx
  frontend/src/pages/tasks/invoices/utils/autoApproveReasons.test.ts
  frontend/src/pages/tasks/invoices/utils/autoApproveReasons.ts
  nirmaan_stack/api/invoices/_auto_approve.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/retire_po_number_gate.py
Labels: UI, backend

docs(snag-list): record the design, the three decisions and the glossary
  CONTEXT.md
  docs/adr/0016-snag-category-is-free-text.md
  docs/adr/0017-snag-rows-are-standalone-documents.md
  docs/adr/0018-snag-remark-is-one-overwritable-field.md
  frontend/.claude/plans/snag-list-plan.md
Labels: none

feat(snag-list): add the Project Snag and Project Snag Batch doctypes
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/project_snag.py
  nirmaan_stack/nirmaan_stack/doctype/project_snag/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/project_snag/project_snag.js
  nirmaan_stack/nirmaan_stack/doctype/project_snag/project_snag.json
  nirmaan_stack/nirmaan_stack/doctype/project_snag/project_snag.py
  nirmaan_stack/nirmaan_stack/doctype/project_snag/test_project_snag.py
  nirmaan_stack/nirmaan_stack/doctype/project_snag_batch/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/project_snag_batch/project_snag_batch.js
  nirmaan_stack/nirmaan_stack/doctype/project_snag_batch/project_snag_batch.json
  nirmaan_stack/nirmaan_stack/doctype/project_snag_batch/project_snag_batch.py
  nirmaan_stack/nirmaan_stack/doctype/project_snag_batch/test_project_snag_batch.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/snag_remark_rename_and_drop_comments.py
Labels: backend

feat(snag-list): add the pure Excel snag parser
  nirmaan_stack/services/snag_parser/__init__.py
  nirmaan_stack/services/snag_parser/fixtures/food_box_mep_snags.xlsx
  nirmaan_stack/services/snag_parser/guess.py
  nirmaan_stack/services/snag_parser/parser.py
  nirmaan_stack/services/snag_parser/reader.py
  nirmaan_stack/services/snag_parser/test_snag_parser.py
Labels: backend

feat(snag-list): add the snag import and tracking API
  nirmaan_stack/api/snags/__init__.py
  nirmaan_stack/api/snags/file_io.py
  nirmaan_stack/api/snags/import_wizard.py
  nirmaan_stack/api/snags/test_snag_api.py
  nirmaan_stack/api/snags/tracking.py
Labels: backend

refactor(data-table): export the URL filter codec from useServerDataTable
  frontend/src/hooks/useServerDataTable.ts
Labels: UI

feat(snag-list): add the Snag List tab and the import wizard
  frontend/src/pages/SnagList/SnagListTab.tsx
  frontend/src/pages/SnagList/components/AddSnagDialog.tsx
  frontend/src/pages/SnagList/components/BulkStatusDialog.tsx
  frontend/src/pages/SnagList/components/SnagBatchesPanel.tsx
  frontend/src/pages/SnagList/components/SnagEmptyState.tsx
  frontend/src/pages/SnagList/components/SnagStatsStrip.tsx
  frontend/src/pages/SnagList/components/SnagStatusCell.tsx
  frontend/src/pages/SnagList/components/SnagStatusChangeDialog.tsx
  frontend/src/pages/SnagList/config/snagColumns.tsx
  frontend/src/pages/SnagList/config/snagPermissions.ts
  frontend/src/pages/SnagList/config/snagTable.config.ts
  frontend/src/pages/SnagList/hooks/useSnagBatches.ts
  frontend/src/pages/SnagList/hooks/useSnagMutations.ts
  frontend/src/pages/SnagList/hooks/useSnagStats.ts
  frontend/src/pages/SnagList/import/ColumnMappingFields.tsx
  frontend/src/pages/SnagList/import/IngestResultScreen.tsx
  frontend/src/pages/SnagList/import/PreviewPanel.tsx
  frontend/src/pages/SnagList/import/SheetPickStep.tsx
  frontend/src/pages/SnagList/import/SheetTabPanel.tsx
  frontend/src/pages/SnagList/import/SnagImportDialog.tsx
  frontend/src/pages/SnagList/import/UploadStep.tsx
  frontend/src/pages/SnagList/import/importState.ts
  frontend/src/pages/SnagList/types.ts
  frontend/src/pages/projects/project.tsx
Labels: UI

docs(frontend): correct the CSV export API name -- `exportMeta` never existed
  frontend/CLAUDE.md
Labels: none

feat(invoices): re-check the PO-value gates and auto-approve what clears
  frontend/src/constants/roles.ts
  frontend/src/pages/tasks/invoices/components/AutoApproveReasonKey.tsx
  frontend/src/pages/tasks/invoices/components/PendingTasksTable.tsx
  frontend/src/pages/tasks/invoices/components/ReasonBreakdown.tsx
  frontend/src/pages/tasks/invoices/components/RecheckResultDialog.tsx
  frontend/src/pages/tasks/invoices/components/columns.tsx
  frontend/src/pages/tasks/invoices/constants.ts
  frontend/src/pages/tasks/invoices/hooks/useRecheckAutoApprove.ts
  frontend/src/pages/tasks/invoices/utils/autoApproveReasons.ts
  nirmaan_stack/api/invoices/_auto_approve.py
  nirmaan_stack/api/invoices/recheck_auto_approve.py
  nirmaan_stack/services/role_profiles.py
Labels: UI, backend

docs(snag-list): record Revision 3, incl. the header-row deadlock I shipped
  CONTEXT.md
  docs/adr/0016-snag-category-is-free-text.md
  docs/adr/0019-a-ticked-row-is-always-imported.md
  frontend/.claude/plans/snag-list-plan.md
Labels: none

feat(snag-list): break the header-row deadlock; a ticked row always imports
  nirmaan_stack/api/snags/__init__.py
  nirmaan_stack/api/snags/import_wizard.py
  nirmaan_stack/api/snags/test_snag_api.py
  nirmaan_stack/api/snags/tracking.py
  nirmaan_stack/nirmaan_stack/doctype/project_snag/project_snag.json
Labels: backend

fix(snag-list): the import dialog's header-row override actually works now
  frontend/src/pages/SnagList/import/ColumnMappingFields.tsx
  frontend/src/pages/SnagList/import/IngestResultScreen.tsx
  frontend/src/pages/SnagList/import/PreviewPanel.tsx
  frontend/src/pages/SnagList/import/SheetTabPanel.tsx
  frontend/src/pages/SnagList/import/SnagImportDialog.tsx
  frontend/src/pages/SnagList/import/importState.ts
  frontend/src/pages/SnagList/types.ts
Labels: UI

feat(snag-list): add row actions, a snag editor, and drop the Batch filter
  frontend/src/pages/SnagList/SnagListTab.tsx
  frontend/src/pages/SnagList/components/AddSnagDialog.tsx
  frontend/src/pages/SnagList/components/SnagEditDialog.tsx
  frontend/src/pages/SnagList/components/SnagStatusCell.tsx
  frontend/src/pages/SnagList/components/SnagStatusChangeDialog.tsx
  frontend/src/pages/SnagList/config/snagColumns.tsx
  frontend/src/pages/SnagList/config/snagPermissions.ts
  frontend/src/pages/SnagList/config/snagTable.config.ts
  frontend/src/pages/SnagList/hooks/useSnagFieldValues.ts
  frontend/src/pages/SnagList/hooks/useSnagMutations.ts
Labels: UI
