Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

docs(boq-pricing): record formula builder F3 builder UI
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): formula builder F4 - wire evaluator into the grid amount compute
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
Labels: UI

docs(boq-pricing): record formula builder F4 - arc complete
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(boq-pricing): formula-aware summary rollup + grand-total row + reconciliation guard
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/SummaryPanel.tsx
  frontend/src/pages/boq-wizard/pricingRollup.test.ts
  frontend/src/pages/boq-wizard/pricingRollup.ts
Labels: UI

docs(boq-pricing): record summary rollup formula-fix + grand total
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(boq-pricing): formula reads prepopulated committed rates by non-zero value, not just the priced marker
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/pricingRollup.test.ts
Labels: UI

docs(boq-pricing): record prepopulated-rate formula fix
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix: removed stale commission report fixture
  nirmaan_stack/fixtures/commission_report_tasks.json
Labels: backend

feat(boq-pricing): Slice 4b-A computed review-flag layer (Cluster A)
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  frontend/src/pages/boq-wizard/priceability.test.ts
  frontend/src/pages/boq-wizard/priceability.ts
  frontend/src/pages/boq-wizard/pricingRollup.test.ts
  frontend/src/pages/boq-wizard/pricingRollup.ts
Labels: UI

docs(boq-pricing): record Slice 4b-A computed-flag layer (all three docs)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): remove the dead wont_compute flag from 4b-A
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  frontend/src/pages/boq-wizard/priceability.test.ts
  frontend/src/pages/boq-wizard/priceability.ts
Labels: UI

docs(boq-pricing): record wont_compute removal from 4b-A (all three docs)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(boq-pricing): gate not_yet/broken behind the priceability spine + move the incomplete signal from the strip to a Summary message
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/SummaryPanel.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  frontend/src/pages/boq-wizard/priceability.test.ts
  frontend/src/pages/boq-wizard/priceability.ts
  frontend/src/pages/boq-wizard/pricingRollup.test.ts
  frontend/src/pages/boq-wizard/pricingRollup.ts
Labels: UI

docs(boq-pricing): record the 4b-A not_yet/broken gate + incomplete-strip-to-Summary fixes (all three docs)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(boq-pricing): de-dupe not_yet against needs_rate (per-area) in 4b-A
  frontend/src/pages/boq-wizard/priceability.test.ts
  frontend/src/pages/boq-wizard/priceability.ts
Labels: UI

docs(boq-pricing): record the 4b-A not_yet de-dupe vs needs_rate (all three docs)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-review-export): add Parent Level column to review CSV/XLSX export
  frontend/src/pages/boq-wizard/exportReviewCsv.ts
Labels: UI

feat(commission-report): show Area column + CFM Variation on CFM report
  frontend/src/pages/CommissionReport/commission-printformat.html
  frontend/src/pages/CommissionReport/report-wizard/index.tsx
  nirmaan_stack/fixtures/commission_report_tasks.json
Labels: UI, backend

feat: require Loss Justification for items with >10% loss (PR & SB)
  CLAUDE.md
  CONTEXT.md
  docs/adr/0002-loss-justification-scope.md
  frontend/.claude/plans/loss-justification-plan.md
  frontend/CLAUDE.md
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/components/VendorApprovalTable.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/hooks/useApproveRejectLogic.ts
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/types/index.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/Sent Back Requests/SBQuotesSelectionReview.tsx
  frontend/src/pages/Sent Back Requests/hooks/useApproveSBSLogic.ts
  frontend/src/types/NirmaanStack/ProcurementRequests.ts
  frontend/src/utils/lossPercent.ts
  nirmaan_stack/api/send_vendor_quotes.py
  nirmaan_stack/nirmaan_stack/doctype/procurement_request_item_detail/procurement_request_item_detail.json
Labels: UI, backend

feat(customer-po): AI autofill for Customer PO attachments (Gemini)
  .claude/context/domain/customer-po-autofill.md
  frontend/src/pages/projects/components/AddCustomerPODialog.tsx
  nirmaan_stack/api/customer_po_autofill.py
  nirmaan_stack/nirmaan_stack/doctype/customer_po_child_table/customer_po_child_table.json
  nirmaan_stack/services/extraction/base.py
  nirmaan_stack/services/extraction/gemini.py
Labels: UI, backend

feat(boq-pricing): add the acknowledge ("reviewed / looks OK") dismiss layer (Slice 4b-ACKNOWLEDGE)
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  frontend/src/pages/boq-wizard/priceability.test.ts
  frontend/src/pages/boq-wizard/priceability.ts
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/test_pricing.py
  nirmaan_stack/nirmaan_stack/doctype/boq_cell_dismissal/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_cell_dismissal/boq_cell_dismissal.json
  nirmaan_stack/nirmaan_stack/doctype/boq_cell_dismissal/boq_cell_dismissal.py
Labels: UI, backend

docs(boq-pricing): record Slice 4b-ACKNOWLEDGE (dismiss layer) in all three docs
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

docs(boq): ADR-0005/0006 + boq-ai-validations implementation plan
  docs/adr/0003-dual-provider-boq-ai-assist.md
  docs/adr/0005-claude-classifier-chunking.md
  docs/adr/0006-ai-apply-block-then-revert.md
  frontend/.claude/plans/boq-ai-validations-plan.md
Labels: none

feat(boq): R1 Gemini diffs-only highlight + R4 review warnings panel
  frontend/src/pages/boq-wizard/GeminiSuggestionColumn.tsx
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/SheetReviewPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
Labels: UI

feat(boq): R2 Claude classifier chunking with carried hierarchy spine
  nirmaan_stack/api/boq/wizard/test_ai_assist.py
  nirmaan_stack/services/boq_ai_assist.py
Labels: backend

feat(boq): R3a frontend — disable Apply on override + unified Revert to parser
  frontend/src/pages/boq-wizard/GeminiAcceptBlock.tsx
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
Labels: UI

feat(boq): R3a apply exclusivity — block-then-revert + unified revert-to-parser
  nirmaan_stack/api/boq/wizard/ai_assist.py
  nirmaan_stack/api/boq/wizard/gemini_assist.py
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_gemini_assist.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
Labels: backend

feat(boq): R3b restructure lock polish — disabled control + AI-lock title
  frontend/src/pages/boq-wizard/RestructureModal.tsx
Labels: UI

fix(boq): clear stale AI/Gemini pass status cache on re-enqueue
  nirmaan_stack/api/boq/wizard/ai_assist.py
  nirmaan_stack/api/boq/wizard/gemini_assist.py
  nirmaan_stack/api/boq/wizard/test_ai_assist.py
  nirmaan_stack/api/boq/wizard/test_gemini_assist.py
Labels: backend

perf(boq-pricing): PricingGrid row-level memoization (kill editor nav/click lag)
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
Labels: UI

docs(boq-pricing): record the PricingGrid row-memoization perf fix
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(boq-pricing): asymmetric Preamble-only qty-bearing rate-edit gate
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/test_pricing.py
Labels: UI, backend

docs(boq-pricing): record the asymmetric Preamble qty-bearing rate-edit gate
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): mandatory amount-formula gate before rate editing
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/priceability.test.ts
  frontend/src/pages/boq-wizard/priceability.ts
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/test_pricing.py
Labels: UI, backend

docs(boq-pricing): record the mandatory amount-formula gate
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): amount-column formula-status badge (leading amber/green trigger + pending tint)
  frontend/src/pages/boq-wizard/AmountFormulaBuilder.tsx
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/priceability.test.ts
  frontend/src/pages/boq-wizard/priceability.ts
Labels: UI

docs(boq-pricing): record the amount-column formula-status badge
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): full-screen / maximize pricing editor (Slice 4c)
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetDataGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
Labels: UI

docs(boq-pricing): record the full-screen / maximize editor (Slice 4c)
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): formula-vs-document reconciliation (Cluster B) - per-cell choice, document-default, surgical re-arm, rollup single-source
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/SummaryPanel.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  frontend/src/pages/boq-wizard/priceability.test.ts
  frontend/src/pages/boq-wizard/priceability.ts
  frontend/src/pages/boq-wizard/pricingRollup.test.ts
  frontend/src/pages/boq-wizard/pricingRollup.ts
  frontend/src/pages/boq-wizard/reconcile.test.ts
  frontend/src/pages/boq-wizard/reconcile.ts
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/test_pricing.py
  nirmaan_stack/nirmaan_stack/doctype/boq_cell_reconciliation_choice/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_cell_reconciliation_choice/boq_cell_reconciliation_choice.json
  nirmaan_stack/nirmaan_stack/doctype/boq_cell_reconciliation_choice/boq_cell_reconciliation_choice.py
Labels: UI, backend
