Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

feat(bcs): mirror the widened amount rules in the browser
  frontend/src/pages/boq-wizard/BcsColumnsDialog.tsx
  frontend/src/pages/boq-wizard/bcsColumns.test.ts
  frontend/src/pages/boq-wizard/bcsColumns.ts
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/bcs.py
Labels: UI, backend

docs(boq): record slice BCS-S2c
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-rate-suggest): SR-1 checkpointing, resume, halt classification, tolerant parse
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/rate-helper/RateSuggestProgressModal.tsx
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_suggest.py
  nirmaan_stack/nirmaan_stack/doctype/boq_rate_suggestion_run/boq_rate_suggestion_run.json
  nirmaan_stack/services/boq_category/ai_voter.py
  nirmaan_stack/services/boq_category/tests/test_hv2_voter_harness.py
  nirmaan_stack/services/boq_rate_master/extraction.py
Labels: UI, backend

docs(boq-rate-suggest): record SR-1 resilience, the cert dispositions and the counter finding
  .claude/context/domain/boq-backend.md
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(boq): BCS disclosure states the formula and the exclusion, never the reason
  frontend/src/pages/boq-wizard/bcsColumns.test.ts
  frontend/src/pages/boq-wizard/bcsColumns.ts
Labels: UI

docs(boq): correct six stale BCS claims left behind by the S2b widening
  nirmaan_stack/api/boq/wizard/test_bcs.py
  nirmaan_stack/nirmaan_stack/doctype/boq_row_bcs_rate/boq_row_bcs_rate.json
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet/boq_sheet.json
  nirmaan_stack/services/boq_bcs/sources.py
Labels: backend

docs(boq): record slice BCS-S2d and correct the ratified sentence table
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): BCS cost-entry rules -- the whole-row gather, the live boxes, the arithmetic
  frontend/src/pages/boq-wizard/bcsColumns.test.ts
  frontend/src/pages/boq-wizard/bcsColumns.ts
  frontend/src/pages/boq-wizard/boqTypes.ts
  frontend/src/pages/boq-wizard/clipboard.test.ts
  frontend/src/pages/boq-wizard/clipboard.ts
  frontend/src/pages/boq-wizard/undoHistory.test.ts
  frontend/src/pages/boq-wizard/undoHistory.ts
Labels: UI

feat(boq): render the BCS cost columns -- type, paste and undo a cost, see Total Amount
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
Labels: UI

test(boq): close the export leak guard's blind spot on combined_rate
  CLAUDE.md
  nirmaan_stack/api/boq/wizard/test_export_writeback.py
Labels: backend

docs(boq): record slice BCS-S3a
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(boq): BCS cost drafts -- one key-space translator, guarded by the type system
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/bcsColumns.test.ts
  frontend/src/pages/boq-wizard/bcsColumns.ts
Labels: UI

docs(boq): record slice BCS-S3a-fix and file six errata against BCS-S3a
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): BCS Tendered Total Amount + % Profit -- the cost section answers its question
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/bcsColumns.test.ts
  frontend/src/pages/boq-wizard/bcsColumns.ts
Labels: UI

feat(boq-rate-master): EA-4 ext-a estimator rules + the RM-4b validator fix
  frontend/src/pages/pricing/rate-master/RateMasterDerivation.tsx
  frontend/src/pages/pricing/rate-master/rateMasterTypes.ts
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_suggest.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v17.json
  nirmaan_stack/services/boq_rate_master/extraction.py
Labels: UI, backend

docs(boq): record slice BCS-S3b and file three errata against BCS-S3a-fix
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(boq-rate-master): record EA-4 ext-a rules, the validator defect and the payload finding
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

test(boq): pin the BCS rules across both languages, and stop a loss reading as profit
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/bcsColumns.test.ts
  frontend/src/pages/boq-wizard/bcsColumns.ts
  nirmaan_stack/services/boq_bcs/parity_cases.json
  nirmaan_stack/services/boq_bcs/sources.py
  nirmaan_stack/services/boq_bcs/test_sources.py
Labels: UI, backend

docs(boq): record slice BCS-S2e
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-rate-suggest): SR-2 stop_reason diagnosis + ceiling 32000 + split-on-truncation
  nirmaan_stack/api/boq/test_rate_suggest.py
  nirmaan_stack/services/boq_rate_master/extraction.py
Labels: backend

docs(boq-rate-suggest): record SR-2 the ceiling, the corrected trigger and the cert
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

test(boq): the parity net's precedence floor is per-adjacency, not a count
  frontend/src/pages/boq-wizard/bcsColumns.test.ts
  nirmaan_stack/services/boq_bcs/parity_cases.json
  nirmaan_stack/services/boq_bcs/test_sources.py
Labels: UI, backend

docs(boq): record slice BCS-S2e-fix and file four errata against BCS-S2e
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(boq): the pricing editor tells the truth about a failed load
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/pricingLoadState.test.ts
  frontend/src/pages/boq-wizard/pricingLoadState.ts
Labels: UI

docs(boq): record slice PE-SPIN-1 and correct the brief's reachability claim
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(boq): the pricing editor's other two fetches tell the truth too
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/pricingLoadState.test.ts
  frontend/src/pages/boq-wizard/pricingLoadState.ts
Labels: UI

docs(boq): record slice PE-SPIN-1-fix and file three errata against PE-SPIN-1
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(boq): a failed BCS costs read says so; the carry plan's stale state reaches a screen
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/pricingLoadState.test.ts
  frontend/src/pages/boq-wizard/pricingLoadState.ts
Labels: UI

feat(boq): the margin view -- every line item, flat, ordered by % Profit
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/marginView.test.ts
  frontend/src/pages/boq-wizard/marginView.ts
Labels: UI

docs(boq): record slice BCS-S4
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(boq): an open margin view must not outlive the version or the costs
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
Labels: UI

feat(boq): BCS cost, tendered and % Profit per BoQ section in the summary
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/SummaryPanel.tsx
  frontend/src/pages/boq-wizard/bcsRollup.test.ts
  frontend/src/pages/boq-wizard/bcsRollup.ts
  frontend/src/pages/boq-wizard/pricingRollup.test.ts
  frontend/src/pages/boq-wizard/pricingRollup.ts
Labels: UI

docs(boq): record slice BCS-S5 and file two errata against BCS-S4
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): carry BCS costs as a fifth opt-in layer, guarded by destination readiness
  frontend/src/pages/boq-wizard/CarryLayers.tsx
  frontend/src/pages/boq-wizard/CrossBoqCarryDialog.test.ts
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/bcs.py
  nirmaan_stack/api/boq/wizard/committed_carry.py
  nirmaan_stack/api/boq/wizard/test_bcs.py
  nirmaan_stack/api/boq/wizard/test_cross_boq_carry.py
  nirmaan_stack/api/boq/wizard/test_pricing.py
  nirmaan_stack/services/boq_bcs/readiness.py
  nirmaan_stack/services/boq_bcs/test_readiness.py
Labels: UI, backend

docs(boq): record slice BCS-S6-carry-layer
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): rename the sheet-view BCS column labels (owner ruling)
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/bcsColumns.test.ts
  frontend/src/pages/boq-wizard/bcsColumns.ts
Labels: UI

docs(boq): make the BCS arc merge-ready -- docs, record errata, three fixes
  .claude/context/domain/boq-backend.md
  CLAUDE.md
  frontend/.claude/context/domain/boq-frontend.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  nirmaan_stack/services/boq_bcs/__init__.py
  nirmaan_stack/services/boq_bcs/test_readiness.py
Labels: UI, backend

Revert "Feature/boq pricing helper #patch v2.11.19"
  .claude/context/domain/boq-backend.md
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
  frontend/scripts/ea3_banked_composites.json
  frontend/scripts/ea3_harness_runner.ts
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
  frontend/src/pages/boq-wizard/rate-helper/RateSuggestProgressModal.tsx
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/boq-wizard/rate-helper/rateHelperTypes.ts
  frontend/src/pages/pricing/rate-master/RateMasterDataViewer.tsx
  frontend/src/pages/pricing/rate-master/RateMasterDerivation.tsx
  frontend/src/pages/pricing/rate-master/RateMasterPipelines.tsx
  frontend/src/pages/pricing/rate-master/rateMasterRegistry.ts
  frontend/src/pages/pricing/rate-master/rateMasterStructure.test.ts
  frontend/src/pages/pricing/rate-master/rateMasterStructure.ts
  frontend/src/pages/pricing/rate-master/rateMasterTypes.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.ts
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/api/boq/test_rate_suggest.py
  nirmaan_stack/api/boq/wizard/test_classify.py
  nirmaan_stack/api/boq/wizard/test_row_category.py
  nirmaan_stack/nirmaan_stack/doctype/boq_rate_suggestion_run/boq_rate_suggestion_run.json
  nirmaan_stack/services/boq_category/ai_voter.py
  nirmaan_stack/services/boq_category/prompts/boq_composite_decomposition_prompt.md
  nirmaan_stack/services/boq_category/prompts/boq_rate_item_identity_prompt.md
  nirmaan_stack/services/boq_category/tests/test_hv2_voter_harness.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v12.json
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v13.json
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v14.json
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v16c.json
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v17.json
  nirmaan_stack/services/boq_rate_master/extraction.py
  nirmaan_stack/services/boq_rate_master/loader.py
Labels: UI, backend

docs(tds): record N:1 item-owned membership (ADR-0004)
  nirmaan_stack/.claude/context/domain/tds/CONTEXT.md
  nirmaan_stack/.claude/context/domain/tds/docs/adr/0001-tds-item-grouping-model.md
  nirmaan_stack/.claude/context/domain/tds/docs/adr/0004-membership-n1-owned-by-item.md
  nirmaan_stack/.claude/context/domain/tds/phase-3-plan.md
Labels: none

feat(tds): item-owned TDS membership -- backend (ADR-0004)
  nirmaan_stack/api/data-table.py
  nirmaan_stack/api/data_table/constants.py
  nirmaan_stack/api/data_table/facets.py
  nirmaan_stack/api/data_table/utils.py
  nirmaan_stack/api/tds/linking.py
  nirmaan_stack/api/tds/members.py
  nirmaan_stack/api/tds/picker.py
  nirmaan_stack/api/tds/tds_report.py
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/items.py
  nirmaan_stack/nirmaan_stack/doctype/items/items.json
  nirmaan_stack/nirmaan_stack/doctype/items/items.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/backfill_item_linked_tds_item.py
Labels: backend
