Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

docs(boq-pricing): record single-editor lock slice A
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-pricing): single-editor lock slice B - frontend read-only gating + takeover banner
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
Labels: UI

docs(boq-pricing): record single-editor lock slice B
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): slice 3d - in-editor sheet tabs + keyed-remount switch safety
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/commit_gate.py
  nirmaan_stack/api/boq/wizard/test_commit_gate.py
Labels: UI, backend

docs(boq-pricing): record slice 3d in-editor sheet tabs
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): single-editor lock - per-sheet isolation concurrency test
  nirmaan_stack/api/boq/wizard/test_pricing.py
Labels: backend

docs(boq-pricing): record per-sheet lock isolation certification
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(boq): Phase 0 — dual-provider AI assist foundation (ADR-0003 + glossary)
  CONTEXT.md
  docs/adr/0002-boq-review-ai-classifier.md
  docs/adr/0003-dual-provider-boq-ai-assist.md
  docs/boq/ai-comparison-view.html
Labels: none

feat(boq): Phase 1 — gemini_* schema mirror + chosen_source (dual-AI)
  nirmaan_stack/nirmaan_stack/doctype/boq_review_row/boq_review_row.json
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet_draft/boq_sheet_draft.json
Labels: backend

feat(boq-pricing): general-specs faithful-grid read-only view in the pricing editor
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/commit_gate.py
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/test_commit_gate.py
  nirmaan_stack/api/boq/wizard/test_pricing.py
Labels: UI, backend

docs(boq-pricing): record general-specs faithful-grid view
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): slice 3e - priceability gate + per-sheet override toggle
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_pricing.py
Labels: UI, backend

docs(boq-pricing): record slice 3e priceability gate + override
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): rename override toggle to "Price any row"
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
Labels: UI

docs(boq-pricing): correct 2026-03-12 date typo to 2026-06-21
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): slice 4a-BE - annotation backend (remarks + color)
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/test_pricing.py
  nirmaan_stack/nirmaan_stack/doctype/boq_cell_color/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_cell_color/boq_cell_color.json
  nirmaan_stack/nirmaan_stack/doctype/boq_cell_color/boq_cell_color.py
  nirmaan_stack/nirmaan_stack/doctype/boq_cell_remark/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_cell_remark/boq_cell_remark.json
  nirmaan_stack/nirmaan_stack/doctype/boq_cell_remark/boq_cell_remark.py
Labels: backend

docs(boq-pricing): record slice 4a-BE annotation backend
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-pricing): slice 4a-FE - annotation frontend (remarks + color)
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
Labels: UI

docs(boq-pricing): record slice 4a-FE annotation frontend
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(boq-pricing): slice 4a.2 - remarks keyboard-nav + color row-apply
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
Labels: UI

docs(boq-pricing): record slice 4a.2 nav + color-apply fix
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): Phase 2 — Gemini backend (service + endpoint + shared engine), dual-AI
  nirmaan_stack/api/boq/wizard/gemini_assist.py
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_gemini_assist.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
  nirmaan_stack/services/boq_gemini_assist.py
  nirmaan_stack/services/extraction/files.py
Labels: backend

feat(boq): Phase 3 — Gemini review-tree frontend (dual-AI, additive)
  frontend/src/pages/boq-wizard/GeminiAcceptBlock.tsx
  frontend/src/pages/boq-wizard/GeminiSuggestionColumn.tsx
  frontend/src/pages/boq-wizard/RestructureModal.tsx
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/SheetReviewPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
Labels: UI

commission report: print formatting overhaul + wizard/tracker fixes
  frontend/src/pages/CommissionReport/commission-printformat.html
  frontend/src/pages/CommissionReport/components/FillReportButton.tsx
  frontend/src/pages/CommissionReport/components/ReportActionCell.tsx
  frontend/src/pages/CommissionReport/components/TaskWiseTable.tsx
  frontend/src/pages/CommissionReport/config/commissionTableColumns.tsx
  frontend/src/pages/CommissionReport/project-commission-report-details.tsx
  frontend/src/pages/CommissionReport/report-wizard/data/useMasterTaskMap.ts
  frontend/src/pages/CommissionReport/report-wizard/schema.ts
  nirmaan_stack/api/commission_report/get_task_wise_list.py
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

fix(boq): Phase 1 gap — add Gemini classifier config fields to Document AI Settings
  nirmaan_stack/nirmaan_stack/doctype/document_ai_settings/document_ai_settings.json
Labels: backend

feat(commission): collapse the standalone Zone layer into per-task zones
  frontend/src/pages/CommissionReport/components/BulkAssignDialog.tsx
  frontend/src/pages/CommissionReport/components/GlobalApprovalsTable.tsx
  frontend/src/pages/CommissionReport/components/NewTrackerModal.tsx
  frontend/src/pages/CommissionReport/components/RenameZoneDialog.tsx
  frontend/src/pages/CommissionReport/components/ReportEditModal.tsx
  frontend/src/pages/CommissionReport/components/TaskWiseTable.tsx
  frontend/src/pages/CommissionReport/config/commissionTableColumns.tsx
  frontend/src/pages/CommissionReport/data/useCommissionMutations.ts
  frontend/src/pages/CommissionReport/project-commission-report-details.tsx
  frontend/src/pages/CommissionReport/types/index.ts
  frontend/src/pages/CommissionReport/utils.tsx
  nirmaan_stack/api/commission_report/get_task_wise_list.py
  nirmaan_stack/api/commission_report/rename_zone.py
  nirmaan_stack/api/commission_report/update_task_response.py
  nirmaan_stack/nirmaan_stack/doctype/commission_report_task_child_table/commission_report_task_child_table.json
  nirmaan_stack/nirmaan_stack/doctype/commission_report_tasks/commission_report_tasks.py
  nirmaan_stack/nirmaan_stack/doctype/commission_report_zone/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/commission_report_zone/commission_report_zone.json
  nirmaan_stack/nirmaan_stack/doctype/commission_report_zone/commission_report_zone.py
  nirmaan_stack/nirmaan_stack/doctype/project_commission_report/project_commission_report.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/remove_commission_report_zones.py
Labels: UI, backend

docs(boq-pricing): rehome Phase-5 pricing-arc detail into plan (stage 1 of docs hygiene)
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(boq-pricing): relocate buried conventions + arch facts to correct homes (stage 2 of docs hygiene)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(commission-report): tracker UI polish, admin-only approvals, print signature margins
  frontend/src/pages/CommissionReport/commission-printformat.html
  frontend/src/pages/CommissionReport/components/GlobalApprovalsTable.tsx
  frontend/src/pages/CommissionReport/ls-commission-printformat.html
  frontend/src/pages/CommissionReport/project-commission-report-details.tsx
  frontend/src/pages/CommissionReport/report-wizard/index.tsx
  frontend/src/pages/CommissionReport/report-wizard/renderer/FieldControl.tsx
  frontend/src/pages/CommissionReport/report-wizard/schema.ts
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

fix(reports): exclude Non-Billable items from DN/DC PO-level rollup
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/ProjectPayments/approve-payments/components/BulkActionBar.tsx
  frontend/src/pages/reports/hooks/useDNDCQuantityData.ts
Labels: UI

docs(boq-pricing): delete status-block history + relocate entangled blocks (stage 3 of docs hygiene)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(tendering): allow PMO Executive to manage tendering projects
  nirmaan_stack/api/projects/tendering.py
Labels: backend

feat(payments): flag auto-approved Project Payments and surface in summary
  frontend/src/pages/ProjectPayments/PaymentSummaryCards.tsx
  nirmaan_stack/api/payments/get_project_payment_summary.py
  nirmaan_stack/api/payments/project_payments.py
  nirmaan_stack/nirmaan_stack/doctype/project_payments/project_payments.json
Labels: UI, backend

feat(boq-pricing): formula builder F1 - amount-formula storage + endpoints
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/test_pricing.py
  nirmaan_stack/nirmaan_stack/doctype/boq_cell_amount_formula/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_cell_amount_formula/boq_cell_amount_formula.json
  nirmaan_stack/nirmaan_stack/doctype/boq_cell_amount_formula/boq_cell_amount_formula.py
Labels: backend

docs(boq-pricing): record formula builder F1 storage
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(commission-report): DX/VRF print layout + draft report preview
  frontend/src/pages/CommissionReport/commission-printformat.html
  frontend/src/pages/CommissionReport/components/ReportActionCell.tsx
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

fix(commission): per-report print layout & signature fixes + details status filter
  frontend/src/pages/CommissionReport/commission-printformat.html
  frontend/src/pages/CommissionReport/project-commission-report-details.tsx
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

feat(boq-pricing): formula builder F2 - pure amount-formula evaluator
  frontend/src/pages/boq-wizard/amountFormula.test.ts
  frontend/src/pages/boq-wizard/amountFormula.ts
  frontend/src/pages/boq-wizard/boqTypes.ts
Labels: UI

docs(boq-pricing): record formula builder F2 evaluator
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): formula builder F3 - click-to-insert builder UI
  frontend/src/pages/boq-wizard/AmountFormulaBuilder.tsx
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  frontend/src/pages/boq-wizard/formulaTokens.test.ts
  frontend/src/pages/boq-wizard/formulaTokens.ts
Labels: UI

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
