Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

fix(boq): make_model Data->Text on BOQ Nodes + BoQ Review Row (schema alignment)
  .claude/context/domain/boq-backend.md
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/boq_nodes.json
  nirmaan_stack/nirmaan_stack/doctype/boq_review_row/boq_review_row.json
Labels: backend

feat(boq): feed AI passes edit-aware level; stop sending stale parser level
  nirmaan_stack/api/boq/wizard/ai_assist.py
  nirmaan_stack/api/boq/wizard/gemini_assist.py
  nirmaan_stack/api/boq/wizard/test_ai_assist.py
  nirmaan_stack/api/boq/wizard/test_gemini_assist.py
  nirmaan_stack/services/boq_ai_assist.py
  nirmaan_stack/services/boq_gemini_assist.py
  nirmaan_stack/services/test_boq_ai_assist.py
Labels: backend

feat(non-project-expenses): add approval workflow (Requested/Approved/Paid) with invoice/payment split
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/NonProjectExpenses/NonProjectExpensesPage.tsx
  frontend/src/pages/NonProjectExpenses/components/EditNonProjectExpense.tsx
  frontend/src/pages/NonProjectExpenses/components/NewNonProjectExpense.tsx
  frontend/src/pages/NonProjectExpenses/components/UpdateInvoiceDetailsDialog.tsx
  frontend/src/pages/NonProjectExpenses/components/UpdatePaymentDetailsDialog.tsx
  frontend/src/pages/NonProjectExpenses/config/nonProjectExpensesColumns.tsx
  frontend/src/pages/NonProjectExpenses/config/nonProjectExpensesTable.config.ts
  frontend/src/types/NirmaanStack/NonProjectExpenses.ts
  nirmaan_stack/nirmaan_stack/doctype/non_project_expenses/non_project_expenses.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/backfill_non_project_expenses_status.py
Labels: UI, backend

feat(expense): unify Project + Non-Project expenses into one tabbed module + auto-approve small expenses
  frontend/src/components/helpers/renderRightActionButton.tsx
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/layout/dashboards/dashboard-accountant.tsx
  frontend/src/pages/Expenses/ExpenseLayout.tsx
  frontend/src/pages/NonProjectExpenses/NonProjectExpensesPage.tsx
  frontend/src/pages/ProjectExpenses/ProjectExpensesList.tsx
  nirmaan_stack/nirmaan_stack/doctype/non_project_expenses/non_project_expenses.py
  nirmaan_stack/nirmaan_stack/doctype/project_expenses/project_expenses.py
Labels: UI, backend

feat(boq-category): re-base categories to frozen 15; novel -> blank ABSTAIN
  nirmaan_stack/services/boq_category/categories_electrical.json
  nirmaan_stack/services/boq_category/runner.py
  nirmaan_stack/services/boq_category/scoring.json
  nirmaan_stack/services/boq_category/tests/test_runner_electrical.py
Labels: backend

docs(boq-category): record Build 1 category re-base + blank-abstain contract
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-category): add rules for 5 new categories; reverse FIX-1 junction box
  nirmaan_stack/services/boq_category/rules_electrical.json
  nirmaan_stack/services/boq_category/tests/test_runner_electrical.py
Labels: backend

docs(boq-category): record Build 2a new-category rules + FIX-1 reversal
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-category): Point Wiring full precedence; merge termination; drop networking
  nirmaan_stack/services/boq_category/categories_electrical.json
  nirmaan_stack/services/boq_category/rules_electrical.json
  nirmaan_stack/services/boq_category/runner.py
  nirmaan_stack/services/boq_category/tests/test_runner_electrical.py
Labels: backend

docs(boq-category): record Build 2b precedence + merge + removal
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-category): plural-aware matcher + misc/light keywords for electrical classification
  nirmaan_stack/services/boq_category/rules_electrical.json
  nirmaan_stack/services/boq_category/runner.py
  nirmaan_stack/services/boq_category/tests/test_runner_electrical.py
Labels: backend

docs(boq-category): record plural-aware matcher + misc routing tuning
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-category): track electrical AI category prompt + v1.1 tree-reading and socket-boundary edits
  nirmaan_stack/services/boq_category/prompts/electrical_ai_category_prompt.md
Labels: none

docs(boq-category): record AI prompt v1.1 (tracked location, tree-reading instruction, socket boundary)
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-category): track the electrical classification harness (behavior-preserving move to services/boq_category/harness)
  nirmaan_stack/services/boq_category/harness/classification_analysis.py
  nirmaan_stack/services/boq_category/harness/electrical_classification_harness.py
Labels: backend

docs(boq-category): record classification harness now version-controlled
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(expense): count only Paid expenses in all calculations/reports + normalize types
  frontend/src/pages/NonProjectExpenses/NonProjectExpensesPage.tsx
  frontend/src/pages/NonProjectExpenses/config/nonProjectExpensesColumns.tsx
  frontend/src/pages/ProjectExpenses/ProjectExpensesList.tsx
  frontend/src/pages/ProjectExpenses/config/projectExpensesColumns.tsx
  frontend/src/pages/projects/data/root/useProjectRootApi.ts
  frontend/src/pages/reports/hooks/useOutflowReportData.ts
  frontend/src/pages/reports/hooks/useProjectReportCalculations.ts
  nirmaan_stack/api/payments/get_project_payment_summary.py
  nirmaan_stack/api/po_adjustments/adjustment_logic.py
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/project_cashflow_hold_update.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/normalize_project_expense_types.py
Labels: UI, backend

refactor(boq): stop computing/storing ai_suggested_level & gemini_suggested_level
  .claude/context/domain/boq-backend.md
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/ai_assist.py
  nirmaan_stack/api/boq/wizard/gemini_assist.py
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_ai_assist.py
  nirmaan_stack/api/boq/wizard/test_gemini_assist.py
  nirmaan_stack/services/boq_ai_assist.py
  nirmaan_stack/services/boq_gemini_assist.py
Labels: UI, backend

fix(node-modules): updated frappe-react-sdk to 1.16.0
  frontend/CLAUDE.md
  frontend/package.json
  frontend/yarn.lock
Labels: none

docs(expense): expense-workflow domain docs + hide Approved-tab actions for Procurement/HR
  .claude/context/domain/expenses.md
  CLAUDE.md
  CONTEXT.md
  docs/adr/0009-project-expense-type-normalization.md
  frontend/src/pages/NonProjectExpenses/config/nonProjectExpensesColumns.tsx
  frontend/src/pages/ProjectExpenses/config/projectExpensesColumns.tsx
Labels: UI

feat: invoice line-item extraction, PO mapping, and item-level billing
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceDialog.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/LineItemMappingReview.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/MappingTableView.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/InvoiceDataDialog.tsx
  frontend/src/pages/tasks/invoices/components/InvoiceApprovalComparison.tsx
  frontend/src/pages/tasks/invoices/components/columns.tsx
  frontend/src/pages/tasks/invoices/utils/autofillEntityDisplay.ts
  frontend/src/types/NirmaanStack/VendorInvoice.ts
  nirmaan_stack/api/delivery_notes/test_update_invoice_data.py
  nirmaan_stack/api/delivery_notes/update_invoice_data.py
  nirmaan_stack/api/invoice_autofill.py
  nirmaan_stack/api/invoices/_line_match.py
  nirmaan_stack/api/invoices/get_po_item_billing.py
  nirmaan_stack/api/invoices/test_get_po_item_billing.py
  nirmaan_stack/api/invoices/test_line_match.py
  nirmaan_stack/api/payment_autofill.py
  nirmaan_stack/nirmaan_stack/doctype/vendor_invoice_line/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/vendor_invoice_line/vendor_invoice_line.json
  nirmaan_stack/nirmaan_stack/doctype/vendor_invoice_line/vendor_invoice_line.py
  nirmaan_stack/nirmaan_stack/doctype/vendor_invoices/vendor_invoices.json
  nirmaan_stack/services/extraction/base.py
  nirmaan_stack/services/extraction/gemini.py
  nirmaan_stack/services/extraction/mapping.py
  nirmaan_stack/services/extraction/test_validation.py
  nirmaan_stack/services/extraction/validation.py
Labels: UI, backend

docs(boq): concurrency & locking design — ADR-0011 + plan + explainer
  docs/adr/0011-boq-concurrency-locking.md
  docs/boq/concurrency-locking.html
  frontend/.claude/plans/boq-concurrency-locking-plan.md
Labels: none

feat(boq): realtime single-editor pricing lock (Phase A2 / ADR-0011)
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/pricing_lock.py
Labels: UI, backend

fix(boq): close commit duplicate-is_current race (Phase A1 / ADR-0011)
  nirmaan_stack/api/boq/wizard/commit_pipeline.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/boq_commit_current_unique_guard.py
Labels: backend

feat(boq): draft-lock realtime on Config + Review screens (Phase B1 frontend / ADR-0011)
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/SheetConfigPanel.tsx
  frontend/src/pages/boq-wizard/SheetReviewPage.tsx
  frontend/src/pages/boq-wizard/SheetSpokePage.tsx
Labels: UI

feat(boq): draft-tier single-editor lock — Config + Review (Phase B1 backend / ADR-0011)
  nirmaan_stack/api/boq/wizard/ai_assist.py
  nirmaan_stack/api/boq/wizard/draft_lock.py
  nirmaan_stack/api/boq/wizard/gemini_assist.py
  nirmaan_stack/api/boq/wizard/pricing_lock.py
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/update_sheet_draft.py
Labels: backend

feat(invoices): derive per-PO-item invoice_qty from verified line mappings
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceDialog.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceLineMappingView.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceTable.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/InvoiceDataDialog.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  frontend/src/pages/tasks/invoices/components/PendingTasksTable.tsx
  frontend/src/pages/tasks/invoices/components/TaskHistoryTable.tsx
  frontend/src/pages/tasks/invoices/components/columns.tsx
  frontend/src/pages/tasks/invoices/hooks/useTotalInvoicedByDocument.ts
  frontend/src/types/NirmaanStack/ProcurementOrders.ts
  nirmaan_stack/api/delivery_notes/update_invoice_data.py
  nirmaan_stack/api/invoices/_item_billing_sync.py
  nirmaan_stack/api/invoices/approve_vendor_invoice.py
  nirmaan_stack/nirmaan_stack/doctype/purchase_order_item/purchase_order_item.json
  nirmaan_stack/services/extraction/gemini.py
Labels: UI, backend

feat(boq): BoQ-level "who else is here" presence overlay (Phase B2 / ADR-0011 D7)
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/BoqPresence.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/SheetReviewPage.tsx
  frontend/src/pages/boq-wizard/SheetSpokePage.tsx
Labels: UI

feat(boq): general-specs compare-and-set — no silent clobber (Phase B3 / ADR-0011 D11)
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  nirmaan_stack/api/boq/wizard/update_sheet_draft.py
Labels: UI, backend

feat(boq): directional guard — re-commit orphan confirm (Phase C0 keystone / ADR-0011)
  frontend/src/pages/boq-wizard/CommitDialog.tsx
  nirmaan_stack/api/boq/wizard/commit_pipeline.py
  nirmaan_stack/api/boq/wizard/directional_guard.py
Labels: UI, backend

perf(procurement): aggregate sidebar_counts; add residence rules (ADR-0010)
  CLAUDE.md
  CONTEXT.md
  docs/adr/0010-module-residence-rules.md
  frontend/src/hooks/useSidebarCounts.ts
  nirmaan_stack/api/sidebar_counts.py
  nirmaan_stack/services/procurement_approval.py
  nirmaan_stack/services/test_procurement_approval.py
Labels: UI, backend

feat(boq): directional orphan guards — unmark + root-metadata (Phase C0 slice 2 / ADR-0011)
  frontend/src/pages/boq-wizard/SheetReviewPage.tsx
  nirmaan_stack/api/boq/wizard/directional_guard.py
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/update_boq_draft.py
Labels: UI, backend

perf(procurement): facet label resolution N+1 -> single IN query
  nirmaan_stack/api/data_table/facets.py
Labels: backend

perf(procurement): lazy-fetch PO facets on popover open (ADR-0010 F4)
  frontend/src/components/data-table/data-table-faceted-filter.tsx
  frontend/src/components/data-table/new-data-table.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
Labels: UI

perf(procurement): self-fetching facet component + migrate 8 pages (ADR-0010 Option 2)
  docs/adr/0010-module-residence-rules.md
  frontend/CLAUDE.md
  frontend/src/components/data-table/SelfFetchingFacetFilter.tsx
  frontend/src/components/data-table/facetConfig.ts
  frontend/src/components/data-table/new-data-table.tsx
  frontend/src/pages/ApprovedQuotationsFlow/ApprovedQuotationsTable.tsx
  frontend/src/pages/PORevision/PORevisionsApprovalList.tsx
  frontend/src/pages/PORevision/config/poRevisions.config.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-select-vendor.tsx
  frontend/src/pages/ProcurementRequests/procurement-requests.tsx
  frontend/src/pages/Sent Back Requests/approve-select-sent-back.tsx
  frontend/src/pages/vendors/VendorsPage.tsx
  frontend/src/pages/vendors/components/VendorPaymentsTable.tsx
Labels: UI

perf(procurement): migrate 10 more pages to self-fetching facets (ADR-0010 Option 2, batch 2)
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/ProjectPayments/update-payment/AccountantTabs.tsx
  frontend/src/pages/ServiceRequests/service-request/all-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-amend-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-service-request-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/finalized-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/select-service-vendor-list.tsx
  frontend/src/pages/inflow-payments/InFlowPayments.tsx
Labels: UI

perf(procurement): migrate 9 more pages to self-fetching facets (ADR-0010 Option 2, batch 3)
  frontend/src/pages/projects/TDSRepository/components/TdsHistoryTable.tsx
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  frontend/src/pages/projects/components/ProjectPRSummaryTable.tsx
  frontend/src/pages/projects/components/ProjectSRSummaryTable.tsx
  frontend/src/pages/tds/TDSRepositoryMaster.tsx
  frontend/src/pages/vendors/components/VendorApprovedQuotesTable.tsx
  frontend/src/pages/vendors/components/VendorDeliveryNotesTable.tsx
  frontend/src/pages/vendors/components/VendorMaterialOrdersTable.tsx
  frontend/src/pages/vendors/components/VendorQuotesTable.tsx
Labels: UI

fix(procurement): keep all-sr-list is_finalized facet on the legacy path (label rename)
  frontend/src/pages/ServiceRequests/service-request/all-sr-list.tsx
Labels: UI

docs(adr-0010): record facet-migration progress, shared-columns + label-island sunset blockers
  docs/adr/0010-module-residence-rules.md
Labels: none

perf(procurement): migrate 7 more pages to self-fetching facets (ADR-0010 Option 2, batch 4)
  frontend/src/pages/Items/itemsPage.tsx
  frontend/src/pages/NonProjectExpenses/NonProjectExpensesPage.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/approve-pr.tsx
  frontend/src/pages/ProjectExpenses/ProjectExpensesList.tsx
  frontend/src/pages/ProjectInvoices/AllProjectInvoices.tsx
  frontend/src/pages/ProjectInvoices/config/projectInvoices.config.tsx
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/users/users.tsx
Labels: UI

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
