Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

docs(boq-pricing): record Cluster B formula-vs-document reconciliation
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): toolbar Part 1 - search, column-hide, row-type filters
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/PricingToolbar.test.ts
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
Labels: UI

docs(boq-pricing): record toolbar Part 1 (search / column-hide / row filters)
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): parent click-to-jump in the pricing grid
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
Labels: UI

docs(boq-pricing): record parent click-to-jump
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): full-row landing flash on parent-jump (3s blue)
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
Labels: UI

docs(boq-pricing): record the parent-jump landing flash
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): frozen-left anchors + column resize (table-fixed + colgroup)
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
Labels: UI

docs(boq-pricing): record frozen-left + column-resize bundle
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): drop frozen-left, keep column resize
  frontend/src/pages/boq-wizard/PricingGrid.tsx
Labels: UI

docs(boq-pricing): record dropping frozen-left (resize ships alone)
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(boq): preserve preamble quantities in parser (no source attribute lost)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
  nirmaan_stack/services/boq_parser/hierarchy.py
  nirmaan_stack/services/boq_parser/orchestrator.py
  nirmaan_stack/services/boq_parser/test_hierarchy.py
  nirmaan_stack/services/boq_parser/test_orchestrator.py
Labels: backend

feat(boq): add parent-chain + children-list read views to review row-detail panel
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
  frontend/src/pages/boq-wizard/ChildrenList.tsx
  frontend/src/pages/boq-wizard/ParentChain.tsx
  frontend/src/pages/boq-wizard/ReviewTree.tsx
Labels: UI

feat(boq): fuzzy description search in review tree + sheet finder
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/SheetSearchView.tsx
  frontend/src/pages/boq-wizard/boqDescriptionSearch.ts
Labels: UI

feat(customer-po): autofill PO date + non-blocking customer-match warning
  frontend/src/pages/projects/components/AddCustomerPODialog.tsx
  nirmaan_stack/api/customer_po_autofill.py
  nirmaan_stack/services/extraction/gemini.py
Labels: UI, backend

feat(boq-pricing): Slice 5a - Excel write-back backend (rates-only stamp, per-cell formula skip, color PatternFill, Nirmaan Remarks column, fidelity guard, last_exported_at)
  nirmaan_stack/api/boq/wizard/export_writeback.py
  nirmaan_stack/api/boq/wizard/test_pricing.py
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet/boq_sheet.json
Labels: backend

docs(boq-pricing): Slice 5a - record the Excel write-back backend contract
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-pricing): Slice 5a highlight - muted-teal verification fill on stamped rate cells (system-wins, skips formula cells)
  nirmaan_stack/api/boq/wizard/export_writeback.py
  nirmaan_stack/api/boq/wizard/test_pricing.py
Labels: backend

docs(boq-pricing): Slice 5a highlight - record the priced-cell verification fill + fix 5a date
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(po-revision): add per-item comments and surface comment changes
  frontend/src/pages/PORevision/components/Step1/Step1ReviseItems.tsx
  frontend/src/pages/PORevision/components/Step3/Step3Summary.tsx
  frontend/src/pages/PORevision/components/detail/PORevisionLineItems.tsx
  frontend/src/pages/PORevision/hooks/usePORevision.ts
  frontend/src/pages/ProcurementOrders/purchase-order/components/PORevisionsAndAdjustments.tsx
  nirmaan_stack/api/po_revisions/revision_history.py
  nirmaan_stack/api/po_revisions/revision_logic.py
  nirmaan_stack/nirmaan_stack/doctype/po_revisions_items/po_revisions_items.json
Labels: UI, backend

fix(design-tracker): sort task table by category then task name, consistently across phases
  frontend/src/pages/ProjectDesignTracker/config/taskTableColumns.tsx
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
Labels: UI

fix(po): constrain item comment width in Order Details table
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
Labels: UI

feat(boq-pricing): Slice 5b - Download priced tender hub UI (export picker, base64 download, skipped-formula message, per-sheet staleness)
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/PricedTenderDialog.tsx
  frontend/src/pages/boq-wizard/SheetCard.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  frontend/src/pages/boq-wizard/downloadBlob.test.ts
  frontend/src/pages/boq-wizard/downloadBlob.ts
  nirmaan_stack/api/boq/wizard/commit_gate.py
  nirmaan_stack/api/boq/wizard/test_commit_gate.py
Labels: UI, backend

feat(po-pdf): match PO PDF sheet preview to print format
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPdf.tsx
Labels: UI

docs(boq-pricing): Slice 5b - record the Download-priced-tender hub UI + staleness (Slice-5 arc complete)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): hub footer rework - export overflow menu, compact buttons, rename Export Finalized to Export Parsed BoQ
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/ExportWorkbookDialog.tsx
  frontend/src/pages/boq-wizard/PricedTenderDialog.tsx
Labels: UI

docs(boq-pricing): hub footer rework - record export overflow menu + compact + Export Parsed BoQ rename
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): editor toolbar two-ribbon reorg - document actions above tabs, grid controls below (move-only, no behavior change)
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
Labels: UI

docs(boq-pricing): editor toolbar two-ribbon reorg - record top/bottom ribbon layout (move-only)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): collapse/expand - single-row hierarchy collapse in pricing grid (whole-subtree, +N hidden, search-pierces, reveal-then-scroll, Option A memo-untouched)
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/collapse.test.ts
  frontend/src/pages/boq-wizard/collapse.ts
Labels: UI

docs(boq-pricing): collapse/expand - record grid collapse model (isVisible mirror, derived hidden-count, reveal-then-scroll, upstream-filter)
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): collapse/expand all - bottom-ribbon toggle folds/unfolds the whole hierarchy (Option A every-parent, size===0 rule, reuses slice-1 engine)
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/collapse.test.ts
  frontend/src/pages/boq-wizard/collapse.ts
Labels: UI

docs(boq-pricing): collapse/expand all - record the bulk toggle (every-parent, size===0, flat-sheet disable)
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): lock/unlock edits - per-sheet server-enforced read-only lock (BoQ Sheet is_locked, _guard_sheet_not_locked in six save endpoints, top-ribbon teal toggle, re-commit invalidates)
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/commit_gate.py
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/test_pricing.py
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet/boq_sheet.json
Labels: UI, backend

docs(boq-pricing): lock/unlock edits - record the deliberate per-sheet lock (mirrors Mark-Finalized freeze, server guard + frontend locked OR + teal banner)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): demote orphan to soft advisory + polish review warnings UX
  frontend/.claude/plans/boq-upload-plan.md
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
Labels: UI, backend

refactor(boq): rework review-stage warnings — drop redundant flags, surface classifier notes, remove validation_warnings
  frontend/.claude/plans/boq-upload-plan.md
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/parse_run.py
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_parse_run.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
  nirmaan_stack/nirmaan_stack/doctype/boq_review_row/boq_review_row.json
  nirmaan_stack/services/boq_parser/cycle_3_rerun.py
  nirmaan_stack/services/boq_parser/hierarchy.py
  nirmaan_stack/services/boq_parser/orchestrator.py
  nirmaan_stack/services/boq_parser/real_fixture_stress_test.py
  nirmaan_stack/services/boq_parser/test_hierarchy.py
  nirmaan_stack/services/boq_parser/test_orchestrator.py
  nirmaan_stack/services/boq_parser/tests/fixtures/snitch_electrical_expected.json
Labels: UI, backend

chore(repo): enforce docs-hygiene + commit conventions via hooks
  .claude/hooks/README.md
  .claude/hooks/guard_claude_md.py
  .claude/settings.json
  .githooks/commit-msg
  frontend/.claude/settings.json
Labels: none

docs(boq): re-split per-slice detail out of always-loaded CLAUDE.md into domain refs
  .claude/context/_index.md
  .claude/context/domain/boq-backend.md
  CLAUDE.md
  frontend/.claude/context/_index.md
  frontend/.claude/context/domain/boq-frontend.md
  frontend/CLAUDE.md
Labels: none

feat(boq): version-view -- read-only committed-version history browser (Phase 5)
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/VersionRibbon.test.ts
  frontend/src/pages/boq-wizard/VersionRibbon.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/commit_gate.py
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_commit_gate.py
  nirmaan_stack/api/boq/wizard/test_pricing.py
Labels: UI, backend
