Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

feat(rate-master): remove cable_tray.with_cover_list; Electrical v66; the mint gate learns to see a rate key
  frontend/src/pages/pricing/rate-master/rateMasterSpec.test.ts
  frontend/src/pages/pricing/rate-master/rateMasterSpec.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/csv_exporter.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v66.json
  scripts/mint_completeness_check.py
Labels: UI, backend

docs(rate-master): the v66 removal as built - the gate's blind spot, the pin blast radius, and the proof that actually exercises the change
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

chore(instruments): move the replay rigs and proofs to scripts/_instruments; delete 50 spent scripts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/spec_reader.py
  scripts/_instruments/README.md
  scripts/_instruments/capture_tools.py
  scripts/_instruments/foldproof.py
  scripts/_instruments/foldsearch.py
  scripts/_instruments/hvac_v1_attrs_for.py
  scripts/_instruments/replay_catalogue.ts
  scripts/_instruments/replay_check.py
  scripts/_instruments/replay_diff.py
  scripts/_instruments/replay_itemlist.ts
  scripts/_instruments/valsweep.py
Labels: backend

chore(residence): reconcile the F2 and F5 baselines to the measured truth at HEAD
  scripts/residence_baseline.json
Labels: none

feat(snags): master summary, summary-only and Include N/A downloads; names in "Last updated"
  frontend/src/pages/SnagList/SnagListTab.tsx
  frontend/src/pages/SnagList/components/SnagDownloadAllDialog.tsx
  frontend/src/pages/SnagList/components/SnagDownloadDialog.tsx
  frontend/src/pages/SnagList/config/snagColumns.tsx
  frontend/src/pages/SnagList/download/index.ts
  frontend/src/pages/SnagList/download/snagDownloadConstants.ts
  frontend/src/pages/SnagList/download/snagDownloadParams.ts
  frontend/src/pages/SnagList/download/useSnagDownload.ts
  frontend/src/pages/SnagList/snag-printformat.html
  nirmaan_stack/api/snags/bulk_download.py
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

feat(rate-master): derived rates follow their base on every write
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/config_validation.py
  nirmaan_stack/services/boq_rate_master/csv_importer.py
  nirmaan_stack/services/boq_rate_master/loader.py
Labels: backend

feat(rate-master): Insulation Type restored; HVAC v15
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v15.json
Labels: backend

feat(projects): "Copy Project Link" button; project-not-found page for bad links
  frontend/src/components/common/CopyProjectLink.tsx
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/projects/tendering/TenderingOverviewTab.tsx
  frontend/src/pages/projects/tendering/TenderingProjectsTable.tsx
Labels: UI

docs(rate-master): slice 12a-FIX as built
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(products): sort Products table by ID descending by default
  frontend/src/pages/Items/itemsPage.tsx
Labels: UI

feat(vendors): add N/A option to the Category facet filter
  frontend/src/components/data-table/SelfFetchingFacetFilter.tsx
  frontend/src/components/data-table/facetConfig.ts
  frontend/src/pages/vendors/VendorsPage.tsx
  nirmaan_stack/api/data_table/facets.py
  nirmaan_stack/api/data_table/utils.py
Labels: UI, backend

feat(expenses): delete rejected requests, edit from Raised By Me, request hover card
  frontend/src/pages/ExpenseRequests/ExpenseRequestsPage.tsx
  frontend/src/pages/ExpenseRequests/components/DeleteRequestDialog.tsx
  frontend/src/pages/ExpenseRequests/components/RequestHoverCard.tsx
  frontend/src/pages/ExpenseRequests/config/expenseRequestsColumns.tsx
  frontend/src/types/NirmaanStack/ExpenseRequest.ts
  nirmaan_stack/api/expense_requests/delete.py
  nirmaan_stack/api/expense_requests/read.py
Labels: UI, backend

feat(expenses): block duplicate Staff Accommodation requests for Project Managers
  frontend/src/pages/ExpenseRequests/components/NewExpenseRequestDialog.tsx
  nirmaan_stack/api/expense_requests/duplicates.py
  nirmaan_stack/nirmaan_stack/doctype/expense_request/expense_request.py
Labels: UI, backend

docs(expenses): Expense Request delete, edit, hover card and duplicate stay rule
  .claude/context/domain/expenses.md
  CONTEXT.md
Labels: none

docs(wo-gst): ADR-0030 and glossary for Work Order GST payments
  CONTEXT.md
  docs/adr/0030-wo-gst-paid-as-its-own-payment.md
Labels: none

feat(wo-gst): Vendor Invoices record Invoice Base Amount and Invoice GST Amount (#1336)
  CLAUDE.md
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceDialog.tsx
  frontend/src/types/NirmaanStack/VendorInvoice.ts
  frontend/src/utils/invoiceAmounts.test.ts
  frontend/src/utils/invoiceAmounts.ts
  nirmaan_stack/api/delivery_notes/test_update_invoice_data.py
  nirmaan_stack/api/delivery_notes/update_invoice_data.py
  nirmaan_stack/api/invoice_autofill.py
  nirmaan_stack/api/test_invoice_autofill.py
  nirmaan_stack/nirmaan_stack/doctype/vendor_invoices/vendor_invoices.json
  nirmaan_stack/services/invoice_amounts.py
  nirmaan_stack/services/test_invoice_amounts.py
Labels: UI, backend

feat(wo-gst): cap Work Order invoices at the Work Order total (#1337)
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceDialog.tsx
  frontend/src/pages/tasks/invoices/components/InvoiceApprovalComparison.tsx
  frontend/src/pages/tasks/invoices/components/columns.tsx
  frontend/src/pages/tasks/invoices/hooks/useTotalInvoicedByDocument.ts
  nirmaan_stack/api/delivery_notes/test_update_invoice_data.py
  nirmaan_stack/api/delivery_notes/update_invoice_data.py
  nirmaan_stack/api/invoice_autofill.py
  nirmaan_stack/api/invoices/_auto_approve.py
  nirmaan_stack/api/invoices/_validation.py
  nirmaan_stack/api/test_invoice_autofill.py
Labels: UI, backend

feat(wo-gst): GST payment on a Work Order, a payment kind that is never taxed (#1338)
  .claude/context/domain/payment-tds.md
  CLAUDE.md
  frontend/src/pages/ProjectPayments/approve-payments/components/PaymentActionDialog.tsx
  frontend/src/pages/ProjectPayments/components/GstPaymentTag.tsx
  frontend/src/pages/ProjectPayments/config/approvalColumns.tsx
  frontend/src/pages/ProjectPayments/config/approvalsTable.config.ts
  frontend/src/pages/ProjectPayments/paymentMode.test.ts
  frontend/src/pages/ProjectPayments/tdsForecast.test.ts
  frontend/src/pages/ProjectPayments/tdsForecast.ts
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/types/NirmaanStack/ProjectPayments.ts
  nirmaan_stack/api/approvals/get_approval_queue.py
  nirmaan_stack/api/approvals/test_approval_queue_payment_kind.py
  nirmaan_stack/api/outflow_import/test_settle_payment.py
  nirmaan_stack/api/payments/test_bulk_tds.py
  nirmaan_stack/api/payments/test_cheque_payments.py
  nirmaan_stack/api/payments/test_payment_split.py
  nirmaan_stack/nirmaan_stack/doctype/project_payments/project_payments.json
  nirmaan_stack/services/payment_split.py
  nirmaan_stack/services/payment_tds.py
  nirmaan_stack/services/test_payment_tds.py
Labels: UI, backend

feat(wo-gst): GST Invoiced on the Work Order (#1339)
  CLAUDE.md
  frontend/src/pages/ServiceRequests/service-request/components/SRDetailsCard.tsx
  frontend/src/pages/tasks/invoices/components/InvoiceApprovalComparison.tsx
  frontend/src/pages/tasks/invoices/config/InvoiceTaskTable.config.ts
  frontend/src/pages/tasks/invoices/utils/invoiceApprovalAmounts.test.ts
  frontend/src/pages/tasks/invoices/utils/invoiceApprovalAmounts.ts
  frontend/src/types/NirmaanStack/ServiceRequests.ts
  nirmaan_stack/api/invoices/_item_billing_sync.py
  nirmaan_stack/api/invoices/gst_release.py
  nirmaan_stack/api/invoices/test_document_amount_fields.py
  nirmaan_stack/api/invoices/test_gst_release.py
  nirmaan_stack/integrations/controllers/vendor_invoices.py
  nirmaan_stack/nirmaan_stack/doctype/service_requests/service_requests.json
  nirmaan_stack/services/test_work_order_gst.py
  nirmaan_stack/services/work_order_gst.py
Labels: UI, backend

feat(wo-gst): backfill invoice base and GST from saved extraction (#1340)
  nirmaan_stack/api/invoices/test_backfill_invoice_base_gst_patch.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/backfill_vendor_invoice_base_gst.py
Labels: backend

feat(wo-gst): Work Order payment limit with a Base / GST choice (#1341)
  frontend/src/pages/ProjectPayments/components/paymentSummaryView.test.ts
  frontend/src/pages/ProjectPayments/components/paymentSummaryView.ts
  frontend/src/pages/ProjectPayments/hooks/useRequestPayment.ts
  frontend/src/pages/ProjectPayments/request-payment/RequestPaymentDialog.tsx
  nirmaan_stack/api/payments/payment_summary.py
  nirmaan_stack/api/payments/project_payments.py
  nirmaan_stack/api/payments/taxed_work_order_fixture.py
  nirmaan_stack/api/payments/test_payment_summary.py
  nirmaan_stack/api/payments/test_work_order_payment_limit.py
  nirmaan_stack/services/payment_summary.py
  nirmaan_stack/services/test_work_order_payment_limit.py
  nirmaan_stack/services/work_order_payment_limit.py
Labels: UI, backend

feat(rate-master): item-list pipelines may read a pricing input and branch a component
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/config_validation.py
Labels: backend

feat(wo-gst): Accountant's paid entry follows the Work Order payment limit (#1342)
  frontend/src/pages/ProjectPayments/components/PayForChoice.tsx
  frontend/src/pages/ProjectPayments/components/paymentSummaryView.test.ts
  frontend/src/pages/ProjectPayments/components/paymentSummaryView.ts
  frontend/src/pages/ProjectPayments/request-payment/RequestPaymentDialog.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  nirmaan_stack/api/payments/payment_summary.py
  nirmaan_stack/api/payments/project_payments.py
  nirmaan_stack/api/payments/test_work_order_payment_limit.py
  nirmaan_stack/integrations/controllers/project_payments.py
Labels: UI, backend

feat(wo-gst): refuse switching a Work Order's GST off while it has GST payments (#1343)
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  nirmaan_stack/integrations/controllers/service_requests.py
  nirmaan_stack/nirmaan_stack/doctype/service_requests/test_service_requests.py
Labels: UI, backend

feat(rate-master): pipe-size resolution and thickness composition
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.ts
  frontend/src/pages/boq-wizard/rate-helper/ladderResolution.test.ts
  frontend/src/pages/boq-wizard/rate-helper/ladderResolution.ts
  scripts/_instruments/replay_adp_skus.ts
Labels: UI

fix(wo-gst): address code review findings (#1335)
  .claude/context/domain/payment-tds.md
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceDialog.tsx
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/PaymentsDataDialog.tsx
  frontend/src/pages/ProjectPayments/approve-payments/components/PaymentActionDialog.tsx
  frontend/src/pages/ProjectPayments/components/GstPaymentTag.tsx
  frontend/src/pages/ProjectPayments/components/PayForChoice.tsx
  frontend/src/pages/ProjectPayments/components/PaymentSummaryBlock.tsx
  frontend/src/pages/ProjectPayments/components/paymentSummaryView.test.ts
  frontend/src/pages/ProjectPayments/components/paymentSummaryView.ts
  frontend/src/pages/ProjectPayments/config/approvalsTable.config.ts
  frontend/src/pages/ProjectPayments/paymentKind.test.ts
  frontend/src/pages/ProjectPayments/paymentKind.ts
  frontend/src/pages/ProjectPayments/request-payment/RequestPaymentDialog.tsx
  frontend/src/pages/ProjectPayments/tdsForecast.test.ts
  frontend/src/pages/ProjectPayments/tdsForecast.ts
  frontend/src/pages/ProjectPayments/update-payment/AccountantTabs.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/pages/tasks/invoices/components/InvoiceApprovalComparison.tsx
  frontend/src/pages/tasks/invoices/utils/invoiceApprovalAmounts.ts
  frontend/src/utils/FormatPrice.ts
  frontend/src/utils/invoiceAmounts.test.ts
  frontend/src/utils/invoiceAmounts.ts
  frontend/src/utils/workOrderGst.test.ts
  frontend/src/utils/workOrderGst.ts
  nirmaan_stack/api/delivery_notes/test_update_invoice_data.py
  nirmaan_stack/api/delivery_notes/update_invoice_data.py
  nirmaan_stack/api/payments/payment_summary.py
  nirmaan_stack/api/payments/project_payments.py
  nirmaan_stack/api/payments/test_payment_summary.py
  nirmaan_stack/integrations/controllers/project_payments.py
  nirmaan_stack/services/invoice_amounts_cases.json
  nirmaan_stack/services/order_payments.py
  nirmaan_stack/services/test_invoice_amounts.py
  nirmaan_stack/services/test_work_order_gst.py
  nirmaan_stack/services/test_work_order_payment_limit.py
  nirmaan_stack/services/work_order_gst.py
  nirmaan_stack/services/work_order_payment_limit.py
Labels: UI, backend

docs(wo-gst): record the backfill confidence rule in ADR-0030 (#1340)
  docs/adr/0030-wo-gst-paid-as-its-own-payment.md
Labels: none

feat(wo-gst): read GST as IGST, CGST + SGST or Tax and derive it in code (#1336)
  .claude/context/domain/invoice-autofill.md
  CONTEXT.md
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceDialog.tsx
  frontend/src/pages/tasks/invoices/utils/autofillEntityDisplay.ts
  nirmaan_stack/api/invoice_autofill.py
  nirmaan_stack/api/test_invoice_autofill.py
  nirmaan_stack/services/extraction/gemini.py
  nirmaan_stack/services/extraction/test_validation.py
  nirmaan_stack/services/extraction/validation.py
Labels: UI, backend

feat(outflow-import): Cashfree/ICICI repeats are not saved, only counted (#1353) [MIGRATE]
  .claude/context/domain/outflow-import.md
  CLAUDE.md
  CONTEXT.md
  docs/adr/0031-already-imported-lines-are-not-saved.md
  frontend/src/pages/outflow-import/components/ImportHistoryDialog.tsx
  frontend/src/pages/outflow-import/components/ImportStatementDialog.tsx
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  frontend/src/types/NirmaanStack/OutflowImportBatch.ts
  nirmaan_stack/api/outflow_import/cashbook.py
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_cashbook_import.py
  nirmaan_stack/api/outflow_import/test_review.py
  nirmaan_stack/api/outflow_import/test_upload.py
  nirmaan_stack/api/outflow_import/upload.py
  nirmaan_stack/nirmaan_stack/doctype/outflow_import_batch/outflow_import_batch.json
  nirmaan_stack/services/outflow_import/candidates.py
  nirmaan_stack/services/outflow_import/duplicates.py
  nirmaan_stack/services/outflow_import/parser.py
  nirmaan_stack/services/outflow_import/status.py
  nirmaan_stack/services/outflow_import/test_duplicates.py
  nirmaan_stack/services/outflow_import/test_status.py
Labels: UI, backend

feat(outflow-import): Cashfree/ICICI money totals cover only saved lines (#1354)
  .claude/context/domain/outflow-import.md
  nirmaan_stack/api/outflow_import/test_review.py
  nirmaan_stack/api/outflow_import/test_upload.py
  nirmaan_stack/api/outflow_import/upload.py
  nirmaan_stack/nirmaan_stack/doctype/outflow_import_batch/outflow_import_batch.json
  nirmaan_stack/services/outflow_import/parser.py
Labels: backend

feat(outflow-import): Cashbook drops repeats and refuses an all-repeats file (#1355)
  .claude/context/domain/outflow-import.md
  frontend/src/pages/outflow-import/cashbookPreview.test.ts
  frontend/src/pages/outflow-import/cashbookPreview.ts
  frontend/src/pages/outflow-import/components/CashbookReviewTree.tsx
  frontend/src/pages/outflow-import/components/ImportStatementDialog.tsx
  frontend/src/pages/outflow-import/outflowTableModel.ts
  nirmaan_stack/api/outflow_import/cashbook.py
  nirmaan_stack/api/outflow_import/test_cashbook_import.py
  nirmaan_stack/api/outflow_import/upload.py
  nirmaan_stack/services/outflow_import/cashbook.py
  nirmaan_stack/services/outflow_import/repeats.py
  nirmaan_stack/services/outflow_import/test_cashbook.py
  nirmaan_stack/services/outflow_import/test_repeats.py
  nirmaan_stack/services/outflow_import/test_skip_kinds.py
Labels: UI, backend

feat(outflow-import): one-time cleanup of stored exact repeats (#1356)
  .claude/context/domain/outflow-import.md
  CLAUDE.md
  nirmaan_stack/api/outflow_import/skip_sources.py
  nirmaan_stack/api/outflow_import/test_delete_stored_repeats_patch.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/delete_stored_exact_repeats.py
Labels: backend

test(outflow-import): purge fixtures even when setUp or tearDown raises
  nirmaan_stack/api/outflow_import/test_match_line.py
  nirmaan_stack/api/outflow_import/test_review.py
  nirmaan_stack/api/outflow_import/test_settle_payment.py
Labels: backend

fix(outflow-import): review findings on the exact-repeat work (#1358)
  .claude/context/domain/outflow-import.md
  docs/adr/0031-already-imported-lines-are-not-saved.md
  nirmaan_stack/api/outflow_import/cashbook.py
  nirmaan_stack/api/outflow_import/skip_sources.py
  nirmaan_stack/api/outflow_import/test_cashbook_import.py
  nirmaan_stack/api/outflow_import/test_delete_stored_repeats_patch.py
  nirmaan_stack/api/outflow_import/test_upload.py
  nirmaan_stack/api/outflow_import/upload.py
  nirmaan_stack/patches/v3_0/delete_stored_exact_repeats.py
  nirmaan_stack/services/outflow_import/candidates.py
  nirmaan_stack/services/outflow_import/cashbook.py
  nirmaan_stack/services/outflow_import/duplicates.py
  nirmaan_stack/services/outflow_import/parser.py
  nirmaan_stack/services/outflow_import/repeats.py
  nirmaan_stack/services/outflow_import/test_cashbook.py
  nirmaan_stack/services/outflow_import/test_repeats.py
Labels: backend

feat(outflow-import): identical in-flight repeats and repeats of any kind are not kept (#1359)
  .claude/context/domain/outflow-import.md
  CONTEXT.md
  docs/adr/0031-already-imported-lines-are-not-saved.md
  nirmaan_stack/api/outflow_import/cashbook.py
  nirmaan_stack/api/outflow_import/test_cashbook_import.py
  nirmaan_stack/api/outflow_import/test_delete_stored_repeats_any_kind_patch.py
  nirmaan_stack/api/outflow_import/test_delete_stored_repeats_patch.py
  nirmaan_stack/api/outflow_import/test_upload.py
  nirmaan_stack/api/outflow_import/upload.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/delete_stored_exact_repeats.py
  nirmaan_stack/patches/v3_0/delete_stored_exact_repeats_of_any_kind.py
  nirmaan_stack/services/outflow_import/candidates.py
  nirmaan_stack/services/outflow_import/cashbook.py
  nirmaan_stack/services/outflow_import/duplicates.py
  nirmaan_stack/services/outflow_import/repeats.py
  nirmaan_stack/services/outflow_import/test_cashbook.py
  nirmaan_stack/services/outflow_import/test_duplicates.py
  nirmaan_stack/services/outflow_import/test_repeats.py
Labels: backend

feat(rate-master): Rate and Factor columns on every Pricing Inputs page
  frontend/src/pages/pricing/rate-master/rateMasterSpec.test.ts
  frontend/src/pages/pricing/rate-master/rateMasterSpec.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/csv_exporter.py
Labels: UI, backend

feat(rate-master): HVAC Pricing Inputs and Insulation's pricing rules; HVAC v16
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.ts
  frontend/src/pages/pricing/pricingCalculator.test.ts
  frontend/src/pages/pricing/rate-master/rateMasterRegistry.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/config_validation.py
  nirmaan_stack/services/boq_rate_master/csv_exporter.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v16.json
  scripts/_instruments/replay_insulation.ts
Labels: UI, backend

feat(rate-master): the impact panel sees an item-list category's pipelines
  frontend/src/pages/pricing/rate-master/pricingInputExact.ts
  frontend/src/pages/pricing/rate-master/pricingInputExactItemList.test.ts
  frontend/src/pages/pricing/rate-master/pricingInputImpact.ts
  frontend/src/pages/pricing/rate-master/pricingInputReach.ts
  scripts/_instruments/probe_hvac_reach.ts
Labels: UI

feat(rate-master): the data viewer's columns and rows follow the download
  frontend/src/pages/pricing/rate-master/RateMasterDataViewer.tsx
  frontend/src/pages/pricing/rate-master/rateMasterColumnOrder.test.ts
  frontend/src/pages/pricing/rate-master/rateMasterSpec.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/csv_exporter.py
Labels: UI, backend

feat(rate-master): the Derivation tab shows an item-list category's rules
  frontend/src/pages/pricing/rate-master/RateMasterDerivation.tsx
  frontend/src/pages/pricing/rate-master/itemListRuleOrder.test.ts
  frontend/src/pages/pricing/rate-master/itemListRuleOrder.ts
Labels: UI
