Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

feat(boq): committed general-specs faithful-grid doctype (Phase 5 Slice 1)
  nirmaan_stack/nirmaan_stack/doctype/boq_committed_general_specs/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_committed_general_specs/boq_committed_general_specs.json
  nirmaan_stack/nirmaan_stack/doctype/boq_committed_general_specs/boq_committed_general_specs.py
  nirmaan_stack/nirmaan_stack/doctype/boq_committed_general_specs/test_boq_committed_general_specs.py
  nirmaan_stack/nirmaan_stack/doctype/boq_committed_general_specs_row/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_committed_general_specs_row/boq_committed_general_specs_row.json
  nirmaan_stack/nirmaan_stack/doctype/boq_committed_general_specs_row/boq_committed_general_specs_row.py
Labels: backend

docs(boq): record Phase 5 Slice 1 (committed general-specs faithful-grid doctype)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(project-payments): keep Payment Summary live & show selected total in bulk bar
  frontend/src/pages/ProjectPayments/PaymentSummaryCards.tsx
  frontend/src/pages/ProjectPayments/approve-payments/components/BulkActionBar.tsx
Labels: UI

feat(boq): commit gate -- commit-eligibility rule (Phase 5 Slice 2)
  nirmaan_stack/api/boq/wizard/commit_gate.py
  nirmaan_stack/api/boq/wizard/test_commit_gate.py
Labels: backend

docs(boq): record Phase 5 Slice 2 (the commit gate / eligibility)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): committed tier is now capture-only (remove write-chain compute) (Phase 5 Slice 2.5)
  nirmaan_stack/integrations/controllers/boq_node_qty_by_area.py
  nirmaan_stack/integrations/controllers/boq_nodes.py
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/boq_nodes.json
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/test_boq_nodes.py
Labels: backend

fix(auth): add missing NewProjectRoute guard to fix blank screen
  frontend/src/utils/auth/ProtectedRoute.tsx
Labels: UI

fix(facets): drop Redis cache so facet counts reflect writes immediately
  nirmaan_stack/api/data_table/facets.py
Labels: backend

docs(boq): record Phase 5 Slice 2.5 (committed tier capture-only reshape)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat: add PDF preview functionality for pending TDS records and fix memory leak by revoking previous blob URLs
  frontend/src/pages/ProjectPayments/approve-payments/components/BulkActionBar.tsx
  frontend/src/pages/projects/TDSRepository/TDSRepositoryView.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsExportDialog.tsx
Labels: UI

feat: tabbed Tendering Project view + Won/Tendering tab rename with counts
  frontend/CLAUDE.md
  frontend/src/pages/projects/data/root/useProjectRootApi.ts
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/projects/tendering/TenderingOverviewTab.tsx
  frontend/src/pages/projects/tendering/TenderingProjectView.tsx
Labels: UI

feat(boq): grid foundation + doctype rename + commit shell + column-config snapshot (Phase 5 Slice 3a)
  nirmaan_stack/api/boq/wizard/commit_pipeline.py
  nirmaan_stack/api/boq/wizard/sheet_preview.py
  nirmaan_stack/api/boq/wizard/test_commit_pipeline.py
  nirmaan_stack/nirmaan_stack/doctype/boq_committed_general_specs/boq_committed_general_specs.py
  nirmaan_stack/nirmaan_stack/doctype/boq_committed_sheet_grid/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_committed_sheet_grid/boq_committed_sheet_grid.json
  nirmaan_stack/nirmaan_stack/doctype/boq_committed_sheet_grid/boq_committed_sheet_grid.py
  nirmaan_stack/nirmaan_stack/doctype/boq_committed_sheet_grid/test_boq_committed_sheet_grid.py
  nirmaan_stack/nirmaan_stack/doctype/boq_committed_sheet_grid_row/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_committed_sheet_grid_row/boq_committed_sheet_grid_row.json
  nirmaan_stack/nirmaan_stack/doctype/boq_committed_sheet_grid_row/boq_committed_sheet_grid_row.py
Labels: backend

docs(boq): record Phase 5 Slice 3a (grid foundation + rename + commit shell + snapshot)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): node tree + three-tier versioning + combined_rate warning (Phase 5 Slice 3b)
  nirmaan_stack/api/boq/wizard/commit_pipeline.py
  nirmaan_stack/api/boq/wizard/test_commit_pipeline.py
  nirmaan_stack/integrations/controllers/boq_node_qty_by_area.py
  nirmaan_stack/integrations/controllers/boq_nodes.py
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/boq_nodes.json
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/test_boq_nodes.py
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet/boq_sheet.json
Labels: backend

docs(boq): record Phase 5 Slice 3b (node tree + three-tier versioning + combined_rate warning)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(boq): level-less preamble guard -- compute level, do not flat-default to 1 (Phase 5)
  nirmaan_stack/api/boq/wizard/commit_pipeline.py
  nirmaan_stack/api/boq/wizard/test_commit_pipeline.py
  nirmaan_stack/integrations/controllers/boq_nodes.py
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/test_boq_nodes.py
Labels: backend

docs(boq): record Phase 5 level-less preamble guard fix (post-dogfood)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): X -- commit all classified rows except spacer as semantic nodes (Phase 5)
  nirmaan_stack/api/boq/wizard/commit_pipeline.py
  nirmaan_stack/api/boq/wizard/test_commit_pipeline.py
  nirmaan_stack/integrations/controllers/boq_nodes.py
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/boq_nodes.json
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/test_boq_nodes.py
Labels: backend

docs(boq): record Phase 5 X -- commit all classified rows except spacer as nodes
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(boq): record Phase 5 Slice 3a (grid foundation + rename + commit shell + snapshot)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(boq): record Phase 5 Slice 2 (the commit gate / eligibility)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): grid foundation + doctype rename + commit shell + column-config snapshot (Phase 5 Slice 3a)
  nirmaan_stack/api/boq/wizard/commit_pipeline.py
  nirmaan_stack/api/boq/wizard/sheet_preview.py
  nirmaan_stack/api/boq/wizard/test_commit_pipeline.py
  nirmaan_stack/nirmaan_stack/doctype/boq_committed_general_specs/boq_committed_general_specs.py
  nirmaan_stack/nirmaan_stack/doctype/boq_committed_sheet_grid/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_committed_sheet_grid/boq_committed_sheet_grid.json
  nirmaan_stack/nirmaan_stack/doctype/boq_committed_sheet_grid/boq_committed_sheet_grid.py
  nirmaan_stack/nirmaan_stack/doctype/boq_committed_sheet_grid/test_boq_committed_sheet_grid.py
  nirmaan_stack/nirmaan_stack/doctype/boq_committed_sheet_grid_row/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_committed_sheet_grid_row/boq_committed_sheet_grid_row.json
  nirmaan_stack/nirmaan_stack/doctype/boq_committed_sheet_grid_row/boq_committed_sheet_grid_row.py
Labels: backend

fix(boq): level-less preamble guard -- compute level, do not flat-default to 1 (Phase 5)
  nirmaan_stack/api/boq/wizard/commit_pipeline.py
  nirmaan_stack/api/boq/wizard/test_commit_pipeline.py
  nirmaan_stack/integrations/controllers/boq_nodes.py
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/test_boq_nodes.py
Labels: backend

feat(boq): committed general-specs faithful-grid doctype (Phase 5 Slice 1)
  nirmaan_stack/nirmaan_stack/doctype/boq_committed_general_specs/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_committed_general_specs/boq_committed_general_specs.json
  nirmaan_stack/nirmaan_stack/doctype/boq_committed_general_specs/boq_committed_general_specs.py
  nirmaan_stack/nirmaan_stack/doctype/boq_committed_general_specs/test_boq_committed_general_specs.py
  nirmaan_stack/nirmaan_stack/doctype/boq_committed_general_specs_row/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_committed_general_specs_row/boq_committed_general_specs_row.json
  nirmaan_stack/nirmaan_stack/doctype/boq_committed_general_specs_row/boq_committed_general_specs_row.py
Labels: backend

feat(boq): commit gate -- commit-eligibility rule (Phase 5 Slice 2)
  nirmaan_stack/api/boq/wizard/commit_gate.py
  nirmaan_stack/api/boq/wizard/test_commit_gate.py
Labels: backend

docs(boq): record Phase 5 Slice 2.5 (committed tier capture-only reshape)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

docs(boq): record Phase 5 Slice 1 (committed general-specs faithful-grid doctype)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

docs(boq): record Phase 5 Slice 3b (node tree + three-tier versioning + combined_rate warning)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): committed tier is now capture-only (remove write-chain compute) (Phase 5 Slice 2.5)
  nirmaan_stack/integrations/controllers/boq_node_qty_by_area.py
  nirmaan_stack/integrations/controllers/boq_nodes.py
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/boq_nodes.json
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/test_boq_nodes.py
Labels: backend

feat(boq): node tree + three-tier versioning + combined_rate warning (Phase 5 Slice 3b)
  nirmaan_stack/api/boq/wizard/commit_pipeline.py
  nirmaan_stack/api/boq/wizard/test_commit_pipeline.py
  nirmaan_stack/integrations/controllers/boq_node_qty_by_area.py
  nirmaan_stack/integrations/controllers/boq_nodes.py
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/boq_nodes.json
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/test_boq_nodes.py
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet/boq_sheet.json
Labels: backend

docs(boq): finalize Phase-5 input record (checkpoint flags + locked commit sequencing)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(boq): record Phase 5 level-less preamble guard fix (post-dogfood)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(boq): record Phase 5 X -- commit all classified rows except spacer as nodes
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): X -- commit all classified rows except spacer as semantic nodes (Phase 5)
  nirmaan_stack/api/boq/wizard/commit_pipeline.py
  nirmaan_stack/api/boq/wizard/test_commit_pipeline.py
  nirmaan_stack/integrations/controllers/boq_nodes.py
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/boq_nodes.json
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/test_boq_nodes.py
Labels: backend

feat(boq): committed-state read endpoint (Phase 5 Slice 4a)
  nirmaan_stack/api/boq/wizard/commit_gate.py
  nirmaan_stack/api/boq/wizard/test_commit_gate.py
Labels: backend

docs(boq): record committed-state read endpoint (Phase 5 Slice 4a)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): commit UI -- hub button, commit modal, committed badge + count (Phase 5 Slice 4b)
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/CommitDialog.tsx
  frontend/src/pages/boq-wizard/SheetCard.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
Labels: UI

docs(boq): record commit UI -- hub button, modal, committed badge + count (Phase 5 Slice 4b)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): commit_boq reports per-sheet committed + failed (Phase 5 Slice 5 backend)
  nirmaan_stack/api/boq/wizard/commit_pipeline.py
  nirmaan_stack/api/boq/wizard/test_commit_pipeline.py
Labels: backend

docs(boq): record commit_boq per-sheet committed + failed contract (Phase 5 Slice 5 backend)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none
