Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

feat: add BOQ and BOQ Item doctypes
  nirmaan_stack/nirmaan_stack/doctype/boq/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq/boq.json
  nirmaan_stack/nirmaan_stack/doctype/boq/boq.py
  nirmaan_stack/nirmaan_stack/doctype/boq_item/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_item/boq_item.json
  nirmaan_stack/nirmaan_stack/doctype/boq_item/boq_item.py
Labels: backend

feat: add backend API for BOQ Excel import
  nirmaan_stack/api/boq_import.py
Labels: backend

feat: add frontend BOQ import wizard with Excel parsing
  frontend/package.json
  frontend/src/pages/BOQImport/boq-detail.tsx
  frontend/src/pages/BOQImport/boq-import-dialog.tsx
  frontend/src/pages/BOQImport/boq-list.tsx
  frontend/src/pages/BOQImport/components/RawDataTable.tsx
  frontend/src/pages/BOQImport/constants.ts
  frontend/src/pages/BOQImport/hooks/useBOQImportData.ts
  frontend/src/pages/BOQImport/hooks/useBOQImportWizard.ts
  frontend/src/pages/BOQImport/hooks/useExcelParser.ts
  frontend/src/pages/BOQImport/index.tsx
  frontend/src/pages/BOQImport/project-boq-tab.tsx
  frontend/src/pages/BOQImport/schema.ts
  frontend/src/pages/BOQImport/steps/HeaderMappingStep.tsx
  frontend/src/pages/BOQImport/steps/PreviewStep.tsx
  frontend/src/pages/BOQImport/steps/UploadStep.tsx
  frontend/src/pages/BOQImport/steps/index.ts
  frontend/yarn.lock
Labels: UI

feat: wire BOQ into navigation, routing, and project page
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/projects/project.tsx
Labels: UI

fix: pass selected sheet index to backend for multi-sheet Excel import
  frontend/src/pages/BOQImport/boq-import-dialog.tsx
  frontend/src/pages/BOQImport/index.tsx
  frontend/src/pages/BOQImport/steps/PreviewStep.tsx
  nirmaan_stack/api/boq_import.py
Labels: UI, backend

feat:Revision PO Button In PO Page
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

feat: create PO Revisions and PO Revisions Items doctypes
  nirmaan_stack/nirmaan_stack/doctype/po_revisions/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/po_revisions/po_revisions.js
  nirmaan_stack/nirmaan_stack/doctype/po_revisions/po_revisions.json
  nirmaan_stack/nirmaan_stack/doctype/po_revisions/po_revisions.py
  nirmaan_stack/nirmaan_stack/doctype/po_revisions/test_po_revisions.py
  nirmaan_stack/nirmaan_stack/doctype/po_revisions_items/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/po_revisions_items/po_revisions_items.json
  nirmaan_stack/nirmaan_stack/doctype/po_revisions_items/po_revisions_items.py
Labels: backend

local .md foe development
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
Labels: none

feat: Implement item & Make selection dropdown with dynamic data fetching for PO revision items.
  frontend/src/pages/PORevision/PORevisionDialog.tsx
  frontend/src/pages/PORevision/components/Step1/Step1ReviseItems.tsx
  frontend/src/pages/PORevision/hooks/usePORevision.ts
Labels: UI

feat Sidebar for PO Revisions and route ingration for PO Revisions
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
Labels: UI

refactor: update URL path encoding for revised PO link
  frontend/src/pages/PORevision/PORevisionsApprovalDetail.tsx
Labels: UI

feat: Implement PO Revision approval list and detail pages with associated components and hooks.
  frontend/src/pages/PORevision/PORevisionsApprovalDetail.tsx
  frontend/src/pages/PORevision/PORevisionsApprovalList.tsx
  frontend/src/pages/PORevision/components/detail/PORevisionImpactAndJustification.tsx
  frontend/src/pages/PORevision/components/detail/PORevisionInfoCard.tsx
  frontend/src/pages/PORevision/components/detail/PORevisionInvoices.tsx
  frontend/src/pages/PORevision/components/detail/PORevisionLineItems.tsx
  frontend/src/pages/PORevision/components/detail/PORevisionPaymentRectification.tsx
  frontend/src/pages/PORevision/config/poRevisions.config.tsx
  frontend/src/pages/PORevision/hooks/usePORevisionsApprovalDetail.ts
Labels: UI

feat: Introduce multi-step PO revision functionality with dedicated UI components and backend logic for adjustments.....
  frontend/src/components/helpers/SelectUnit.tsx
  frontend/src/pages/PORevision/PORevisionDialog.tsx
  frontend/src/pages/PORevision/components/RevisionFooter.tsx
  frontend/src/pages/PORevision/components/RevisionHeader.tsx
  frontend/src/pages/PORevision/components/Step1/ImpactSummaryTable.tsx
  frontend/src/pages/PORevision/components/Step1/InvoicesSection.tsx
  frontend/src/pages/PORevision/components/Step1/Step1ReviseItems.tsx
  frontend/src/pages/PORevision/components/Step2/Step2NegativeFlow.tsx
  frontend/src/pages/PORevision/components/Step2/Step2PositiveFlow.tsx
  frontend/src/pages/PORevision/components/Step3/Step3Summary.tsx
  frontend/src/pages/PORevision/hooks/usePORevision.ts
  frontend/src/pages/PORevision/types.ts
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: UI, backend

feat: Refactor Sentry API error logging to include user context, add Project Payments tab configurations, and invalidate sidebar counts on payment actions.
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPaymentTermsCard.tsx
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
  frontend/src/pages/ProjectPayments/config/ppTabs.constants.ts
  frontend/src/pages/ProjectPayments/update-payment/UpdatePaymentDialog.tsx
  frontend/src/pages/vendors/data/useVendorMutations.ts
  frontend/src/pages/vendors/data/useVendorQueries.ts
  frontend/src/utils/sentry/captureApiError.ts
  frontend/src/utils/sentry/useApiErrorLogger.ts
Labels: UI

feat: Refine PO revision total calculations, implement approval/rejection loading states, and use backend API for approval logic.
  frontend/src/pages/PORevision/PORevisionsApprovalDetail.tsx
  frontend/src/pages/PORevision/components/detail/PORevisionInvoices.tsx
  frontend/src/pages/PORevision/hooks/usePORevisionsApprovalDetail.ts
  frontend/src/pages/PORevision/types.ts
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: UI, backend

feat(revise-po): Integrate PO revision blocking and negative flow adjustments
  frontend/src/pages/PORevision/PORevisionWarning.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  nirmaan_stack/api/po_revisions/revision_logic.py
  nirmaan_stack/api/po_revisions/revision_po_check.py
Labels: UI, backend

feat(po-revision): add visibility logic and backend docs
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: UI, backend

feat(po-revision): implement received_quantity locks
  frontend/src/pages/PORevision/components/Step1/Step1ReviseItems.tsx
  frontend/src/pages/PORevision/hooks/usePORevision.ts
Labels: UI

feat: Add payment term validation and refine PO Revision footer button logic.
  frontend/src/pages/PORevision/PORevisionDialog.tsx
  frontend/src/pages/PORevision/components/RevisionFooter.tsx
Labels: UI

Refactor : md file of Revision PO
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
Labels: none

fix: only flag DN > DC mismatches in quantity report
  frontend/src/pages/reports/components/DNDCQuantityReport.tsx
  frontend/src/pages/reports/hooks/useDNDCQuantityData.ts
Labels: UI

edgecase4: feat(po-revision): implement intelligent term merging and credit due dates
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: backend

docs: Document PO Revision backend logic for creation and approval, including detailed payload structures.
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
Labels: none

feat: show approval tabs to all roles as read-only for non-approvers
  frontend/.claude/CHANGELOG.md
  frontend/.claude/context/role-access.md
  frontend/CLAUDE.md
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/tds/TDSApprovalDetail.tsx
  frontend/src/pages/tds/TDSApprovalList.tsx
Labels: UI

fix: item type fix for remaining items
  nirmaan_stack/nirmaan_stack/doctype/remaining_item_entry/remaining_item_entry.json
Labels: backend

docs: Expand PO revision architecture documentation to detail negative flow handling for refunds, ad-hoc offsets, and against pos credit transfers.
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
Labels: none

Edgecase4: Ad-hoc payment added project expenses step 2 payment layout tab , expense type from project expensive type
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
  frontend/src/pages/PORevision/components/Step2/Step2NegativeFlow.tsx
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: UI, backend

fix:2,3 in prevision dialog summary inoivecs amount total , Pending and Approved ....
  frontend/src/pages/PORevision/components/Step1/InvoicesSection.tsx
  frontend/src/pages/PORevision/components/Step1/Step1ReviseItems.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

feat: Introduce item info hovercard with an eye icon and quantity validation toast in PO revision.
  frontend/src/pages/PORevision/components/Step1/Step1ReviseItems.tsx
Labels: UI

fix: Ensure two-decimal precision for payment allocation calculations, add input validation for payment terms, and enhance the remaining balance UI with detailed breakdown.
  frontend/src/pages/PORevision/components/Step2/Step2PositiveFlow.tsx
Labels: UI

fix: update inventory eligible items criteria
  frontend/src/pages/remaining-items/hooks/useEligibleItems.ts
  frontend/src/pages/remaining-items/index.tsx
Labels: UI

fix: align Inventory Report filters and column header alignment
  frontend/src/pages/reports/components/InventoryReport.tsx
Labels: UI

fix: update isHighValueItem criteria in Material Usage table
  frontend/src/pages/projects/components/ProjectMaterialUsageTab.tsx
Labels: UI

fix: make Declaration dialog scrollable on small viewports
  frontend/src/pages/remaining-items/components/DeclarationDialog.tsx
  frontend/src/pages/remaining-items/components/RemainingItemsForm.tsx
Labels: UI

feat: Refactor Sentry API error logging to include user context, add Project Payments tab configurations, and invalidate sidebar counts on payment actions.
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPaymentTermsCard.tsx
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
  frontend/src/pages/ProjectPayments/config/ppTabs.constants.ts
  frontend/src/pages/ProjectPayments/update-payment/UpdatePaymentDialog.tsx
  frontend/src/pages/vendors/data/useVendorMutations.ts
  frontend/src/pages/vendors/data/useVendorQueries.ts
  frontend/src/utils/sentry/captureApiError.ts
  frontend/src/utils/sentry/useApiErrorLogger.ts
Labels: UI

feat: restore read-only Approve Payments tab for non-admin roles
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
Labels: UI

feat: add enableVirtualization prop to DataTable, resolve submitted_by full name
  frontend/src/components/data-table/new-data-table.tsx
  frontend/src/pages/reports/components/InventoryReport.tsx
  nirmaan_stack/api/remaining_items_report.py
Labels: UI, backend

feat: Initialize App
  frontend/src/components/data-table/data-table.tsx
  frontend/src/hooks/useFacetValues.ts
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-select-vendor.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/Sent Back Requests/approve-select-sent-back.tsx
  frontend/src/pages/credits/hooks/useCredits.ts
  frontend/src/pages/reports/components/DCMIRReports.tsx
  frontend/src/pages/reports/components/POReports.tsx
  frontend/src/pages/reports/components/SRReports.tsx
  nirmaan_stack/api/credits/get_credits_list.py
  nirmaan_stack/api/data-table.py
  nirmaan_stack/api/data_table/facets.py
Labels: UI, backend

fix: only flag DN > DC mismatches in quantity report
  frontend/src/pages/reports/components/DNDCQuantityReport.tsx
  frontend/src/pages/reports/hooks/useDNDCQuantityData.ts
Labels: UI

feat: Refactor Sentry API error logging to include user context, add Project Payments tab configurations, and invalidate sidebar counts on payment actions.
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPaymentTermsCard.tsx
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
  frontend/src/pages/ProjectPayments/config/ppTabs.constants.ts
  frontend/src/pages/ProjectPayments/update-payment/UpdatePaymentDialog.tsx
  frontend/src/pages/vendors/data/useVendorMutations.ts
  frontend/src/pages/vendors/data/useVendorQueries.ts
  frontend/src/utils/sentry/captureApiError.ts
  frontend/src/utils/sentry/useApiErrorLogger.ts
Labels: UI
