Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

fix: removed user link from task doctype
  nirmaan_stack/nirmaan_stack/doctype/task/task.json
Labels: backend

feat(work-plan): add responsive layout for tablet and mobile views
  frontend/src/pages/projects/components/planning/SevendaysWorkPlan.tsx
Labels: UI

feat(work-plan): enhance PM edit dialog with validations and contextual toast
  frontend/src/pages/projects/components/planning/ProjectManagerEditWorkPlanDialog.tsx
Labels: UI

feat(projects): add PM access to projects and restrict summary cards visibility
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/layout/dashboards/dashboard-pm.tsx
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  frontend/src/pages/projects/components/ProjectSRSummaryTable.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/projects/projects.tsx
Labels: UI

feat(work-plan): redesign planned activities card with enterprise minimalist UI
  frontend/src/pages/projects/components/planning/SevendaysWorkPlan.tsx
Labels: UI

feat(work-plan-tracker): redesign project card with completion metrics and fix status mismatch
  frontend/src/pages/WorkPlanTracker/components/WorkPlanProjectCard.tsx
  frontend/src/pages/WorkPlanTracker/types/index.ts
  frontend/src/pages/WorkPlanTracker/utils.ts
  nirmaan_stack/api/seven_days_planning/get_projects_with_stats.py
Labels: UI, backend

feat(tracker-cards): unify card layout and color scheme for PO and Design trackers
  frontend/src/pages/CriticalPOTracker/components/CriticalPOProjectCard.tsx
  frontend/src/pages/CriticalPOTracker/utils.ts
  frontend/src/pages/ProjectDesignTracker/components/ProjectWiseCard.tsx
  frontend/src/pages/ProjectDesignTracker/utils.tsx
Labels: UI

docs: update CHANGELOG and role-access for PM access changes
  frontend/.claude/CHANGELOG.md
  frontend/.claude/context/role-access.md
Labels: none

fix(ui): enable resuming drafts and fix dialog close interaction
  frontend/src/pages/Manpower-and-WorkMilestones/components/CopyReportButton.tsx
Labels: UI

fix(logic): ensure draft data persistence for manpower and milestones
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
Labels: UI

feat: Creation of Project TDS Setting and Project TDS Item List doctypes in frappe
  nirmaan_stack/nirmaan_stack/doctype/project_tds_item_list/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/project_tds_item_list/project_tds_item_list.js
  nirmaan_stack/nirmaan_stack/doctype/project_tds_item_list/project_tds_item_list.json
  nirmaan_stack/nirmaan_stack/doctype/project_tds_item_list/project_tds_item_list.py
  nirmaan_stack/nirmaan_stack/doctype/project_tds_item_list/test_project_tds_item_list.py
  nirmaan_stack/nirmaan_stack/doctype/project_tds_setting/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/project_tds_setting/project_tds_setting.js
  nirmaan_stack/nirmaan_stack/doctype/project_tds_setting/project_tds_setting.json
  nirmaan_stack/nirmaan_stack/doctype/project_tds_setting/project_tds_setting.py
  nirmaan_stack/nirmaan_stack/doctype/project_tds_setting/test_project_tds_setting.py
Labels: backend

feat: Add TDS Repository setup logic and backend integration
  frontend/src/pages/projects/TDSRepository/NoTDSRepositoryView.tsx
  frontend/src/pages/projects/TDSRepository/TDSRepositoryTab.tsx
  frontend/src/pages/projects/TDSRepository/TDSRepositoryView.tsx
  frontend/src/pages/projects/TDSRepository/components/RoleCard.tsx
  frontend/src/pages/projects/TDSRepository/components/SetupTDSRepositoryDialog.tsx
  frontend/src/pages/projects/TDSRepository/components/index.ts
  frontend/src/pages/projects/project.tsx
  frontend/src/types/NirmaanStack/ProjectTDSSetting.ts
Labels: UI

feat: Deatils Entry and logo add and edit work
  frontend/src/pages/projects/TDSRepository/NoTDSRepositoryView.tsx
  frontend/src/pages/projects/TDSRepository/TDSRepositoryTab.tsx
  frontend/src/pages/projects/TDSRepository/TDSRepositoryView.tsx
  frontend/src/pages/projects/TDSRepository/components/RoleCard.tsx
  frontend/src/pages/projects/TDSRepository/components/SetupTDSRepositoryDialog.tsx
  frontend/src/pages/projects/TDSRepository/components/ViewCard.tsx
  frontend/src/pages/projects/TDSRepository/components/index.ts
  nirmaan_stack/nirmaan_stack/doctype/project_tds_item_list/project_tds_item_list.json
  nirmaan_stack/nirmaan_stack/doctype/project_tds_setting/project_tds_setting.json
Labels: UI, backend

feat: First Stage of Project TDS Repository completed
  frontend/src/pages/projects/TDSRepository/TDSRepositoryView.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsCreateForm.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsHistoryTable.tsx
  frontend/src/pages/projects/TDSRepository/components/index.ts
Labels: UI

WIP: TDS Approval Module
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsCreateForm.tsx
  frontend/src/pages/tds/TDSApprovalDetail.tsx
  frontend/src/pages/tds/TDSApprovalList.tsx
  frontend/src/pages/tds/components/RejectTDSModal.tsx
  nirmaan_stack/api/tds/__init__.py
  nirmaan_stack/api/tds/get_tds_requests.py
Labels: UI, backend

feat(design-tracker): enhance Edit Task modal header with context labels
  frontend/src/pages/ProjectDesignTracker/components/TaskEditModal.tsx
Labels: UI

feat(design-tracker): add DataTable column config and update utilities
  frontend/src/pages/ProjectDesignTracker/config/taskTableColumns.tsx
  frontend/src/pages/ProjectDesignTracker/types/index.ts
  frontend/src/pages/ProjectDesignTracker/utils.tsx
Labels: UI

refactor(projects): update design tracker import to use V2 component
  frontend/src/pages/projects/project.tsx
Labels: UI

feat(design-tracker): redesign UI with compact header and improved dialogs
  frontend/src/pages/ProjectDesignTracker/hooks/useDesignTrackerLogic.ts
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
Labels: UI

docs: add coding standards for date format in CLAUDE.md
  frontend/CLAUDE.md
Labels: none

docs: add CHANGELOG entry for Design Tracker V2 UI overhaul
  frontend/.claude/CHANGELOG.md
Labels: none

fix: label fixes for DPR (TODO: for madhubalan -- Add optional photos option in this newly added section)
  frontend/src/pages/Manpower-and-WorkMilestones/components/DailyReportView.tsx
Labels: UI

feat(dispatch-po): make Critical PO Task linking mandatory when PO not already linked
  frontend/src/pages/ProcurementOrders/purchase-order/components/CriticalPOTaskLinkingSection.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/hooks/useCriticalPOTaskLinking.ts
Labels: UI

docs: add CHANGELOG entry for Dispatch PO mandatory task linking
  frontend/.claude/CHANGELOG.md
Labels: none

fix(auth): add CSRF token refresh for stale token recovery in production
  frontend/src/App.tsx
  frontend/src/config/CsrfErrorHandler.tsx
  frontend/src/utils/csrfTokenRefresh.ts
  nirmaan_stack/api/auth.py
  nirmaan_stack/api/data_table/facets.py
Labels: UI, backend

docs: add CHANGELOG entry for CSRF token stale recovery system
  frontend/.claude/CHANGELOG.md
Labels: none

fix: track changes and data import enable for tds repo doctype
  nirmaan_stack/nirmaan_stack/doctype/tds_repository/tds_repository.json
Labels: backend

feat(tds): Enhanced TDS Approval module with filters, sections, and edit functionality
  frontend/src/pages/tds/TDSApprovalDetail.tsx
  frontend/src/pages/tds/TDSApprovalList.tsx
  frontend/src/pages/tds/components/EditTDSItemModal.tsx
  nirmaan_stack/api/tds/get_tds_requests.py
Labels: UI, backend

feat(tds): implement complex derived status logic, UI stability with Zustand, and layout refinements
  frontend/src/pages/tds/TDSApprovalDetail.tsx
  frontend/src/pages/tds/TDSApprovalList.tsx
  frontend/src/zustand/useTDSStore.ts
  nirmaan_stack/api/tds/get_tds_requests.py
Labels: UI, backend

feat(tds): implement rejected item resubmission and form reset logic in TdsCreateForm
  frontend/src/pages/projects/TDSRepository/components/TdsCreateForm.tsx
Labels: UI

feat(tds): integrate ProjectEditTDSItemModal and handle resubmission deletions in detail view
  frontend/src/pages/tds/TDSApprovalDetail.tsx
Labels: UI

feat(tds): replace generic EditTDSItemModal with specialized ProjectEditTDSItemModal for full hierarchical editing
  frontend/src/pages/tds/components/EditTDSItemModal.tsx
  frontend/src/pages/tds/components/ProjectEditTDSItemModal.tsx
Labels: UI

feat(tds): complete rejection workflow, UI refinements, and Tooltip integration for TDS module
  frontend/src/pages/projects/TDSRepository/components/TdsHistoryTable.tsx
  frontend/src/pages/tds/TDSApprovalDetail.tsx
  frontend/src/pages/tds/components/ProjectEditTDSItemModal.tsx
  frontend/src/pages/tds/components/RejectTDSModal.tsx
  nirmaan_stack/nirmaan_stack/doctype/project_tds_item_list/project_tds_item_list.json
Labels: UI, backend

feat(tds): add TdsExportDialog component for export item selection
  frontend/src/pages/projects/TDSRepository/components/TdsExportDialog.tsx
Labels: UI

feat(tds): export TdsExportDialog from components index
  frontend/src/pages/projects/TDSRepository/components/index.ts
Labels: UI

feat(tds): integrate TdsExportDialog with export button and item selection
  frontend/src/pages/projects/TDSRepository/TDSRepositoryView.tsx
Labels: UI

feat(tds): add Project TDS Report print format with approval forms
  nirmaan_stack/fixtures/print_format.json
Labels: backend

feat(tds): make item description optional and allow only PDF attachments
  frontend/src/pages/tds/components/AddTDSItemDialog.tsx
  frontend/src/pages/tds/components/EditTDSItemDialog.tsx
  frontend/src/pages/tds/components/types.ts
Labels: UI

refactor(tds): preserve files on attachment update/remove - only update document URL
  frontend/src/pages/tds/components/EditTDSItemDialog.tsx
Labels: UI

feat(tds): implement interleaved PDF export with attachments
  frontend/src/pages/projects/TDSRepository/TDSRepositoryView.tsx
  nirmaan_stack/api/pdf_helper/pdf_merger_api.py
  nirmaan_stack/api/tds/tds_report.py
Labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
