Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

fix(outflow-import): the #1242 review wave -- a direction-aware remedy, and a gate that predicts with the router's own reader
  .claude/context/domain/outflow-import.md
  frontend/src/pages/outflow-import/allocationView.test.ts
  frontend/src/pages/outflow-import/allocationView.ts
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/settleModeLabelParity.test.ts
  nirmaan_stack/services/outflow_import/settle.py
Labels: UI, backend

docs(outflow-import): AC1 + AC2 are owner-verified in the browser -- the dialog opens
  .claude/context/domain/outflow-import.md
Labels: none

feat(outflow-import): the picker measures the remaining balance, not the full transfer
  .claude/context/domain/outflow-import.md
  frontend/src/pages/outflow-import/allocationView.test.ts
  frontend/src/pages/outflow-import/allocationView.ts
  frontend/src/pages/outflow-import/comparisonAmountParity.test.ts
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_review.py
Labels: UI, backend

fix(critical-po): resolve PO packages via PR tags, refresh dialog, add task linking
  .claude/context/domain/procurement.md
  CLAUDE.md
  frontend/.claude/CHANGELOG.md
  frontend/.claude/context/_index.md
  frontend/CLAUDE.md
  frontend/src/pages/ProcurementOrders/purchase-order/components/LinkedCriticalPOTag.tsx
  frontend/src/pages/projects/CriticalPOTasks/CriticalPOTasksList.tsx
  frontend/src/pages/projects/CriticalPOTasks/components/EditTaskDialog.tsx
  frontend/src/pages/projects/CriticalPOTasks/components/LinkPODialog.tsx
  frontend/src/pages/projects/CriticalPOTasks/utils.tsx
  frontend/src/pages/projects/data/critical-po/useCriticalPOQueries.ts
Labels: UI

fix(action-items): make DC Pending a per-line test, not per-document
  nirmaan_stack/api/reports/metrics.py
  nirmaan_stack/nirmaan_stack/doctype/project_action_item/test_reconcile.py
  nirmaan_stack/services/action_items/predicates.py
  nirmaan_stack/services/action_items/reconcile.py
Labels: backend

feat(dn-dc): add Partially Delivered status to the DN > DC report
  frontend/src/pages/reports/components/DNDCQuantityReport.tsx
  frontend/src/pages/reports/hooks/useDNDCQuantityData.ts
Labels: UI

fix: exclude Pending Delivery items from high-value calculation in ProjectMaterialUsageTab
  frontend/src/pages/projects/components/ProjectMaterialUsageTab.tsx
Labels: UI

fix(outflow-import): the copy follows the logic -- Split gets named, and a first leg is not a fault
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/components/FanOutRecordTable.tsx
  frontend/src/pages/outflow-import/outflowTableModel.ts
  frontend/src/pages/outflow-import/settleBlockRemedy.test.ts
Labels: UI

docs(outflow-import): record the #1245 browser walk, and what only a running screen could find
  docs/browser-walk-1245.md
Labels: none

feat(critical-po-child-table): Critical PO column facet on PO Summary
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
Labels: UI

feat(critical-po-child-table): link endpoint and count/label sync hooks
  nirmaan_stack/api/critical_po_tasks/po_links.py
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/critical_po_tasks.py
  nirmaan_stack/nirmaan_stack/doctype/critical_po_items/critical_po_items.py
Labels: backend

feat(critical-po-child-table): PO page and dispatch write links to the child table
  frontend/src/pages/ProcurementOrders/purchase-order/components/LinkedCriticalPOTag.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/hooks/useCriticalPOTaskLinking.ts
Labels: UI

feat(critical-po-child-table): add Critical PO Task Child Table on Procurement Orders
  nirmaan_stack/nirmaan_stack/doctype/critical_po_task_child_table/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/critical_po_task_child_table/critical_po_task_child_table.json
  nirmaan_stack/nirmaan_stack/doctype/critical_po_task_child_table/critical_po_task_child_table.py
  nirmaan_stack/nirmaan_stack/doctype/critical_po_tasks/critical_po_tasks.json
  nirmaan_stack/nirmaan_stack/doctype/procurement_orders/procurement_orders.json
Labels: backend

feat(critical-po-child-table): planning, cashflow and bulk download read linked_pos
  frontend/src/pages/BulkDownload/steps/DNSteps.tsx
  frontend/src/pages/BulkDownload/steps/POSteps.tsx
  frontend/src/pages/BulkDownload/useBulkDownloadWizard.ts
  frontend/src/pages/projects/CashflowPlan/components/AddPOCashflowForm.tsx
  frontend/src/pages/projects/components/planning/AddMaterialPlanForm.tsx
  frontend/src/pages/projects/components/planning/CategoryTaskSelector.tsx
  frontend/src/pages/projects/project-form/index.tsx
Labels: UI

feat(critical-po-child-table): material plan API reads links from the child table
  nirmaan_stack/api/seven_days_planning/material_plan_api.py
Labels: backend

feat(critical-po-child-table): frontend data layer reads links from the child table
  frontend/src/pages/projects/CriticalPOTasks/utils.tsx
  frontend/src/pages/projects/data/critical-po/useCriticalPOMutations.ts
  frontend/src/pages/projects/data/critical-po/useCriticalPOQueries.ts
  frontend/src/pages/projects/data/tab/summary/useProjectPOSummaryApi.ts
  frontend/src/pages/reports/hooks/useDCMIRReportsData.ts
  frontend/src/types/NirmaanStack/CriticalPOTasks.ts
Labels: UI

feat(critical-po-child-table): tracker links and unlinks through the new endpoint
  frontend/src/pages/projects/CriticalPOTasks/CriticalPOTasksList.tsx
  frontend/src/pages/projects/CriticalPOTasks/components/EditTaskDialog.tsx
  frontend/src/pages/projects/CriticalPOTasks/components/LinkPODialog.tsx
  frontend/src/pages/projects/CriticalPOTasks/components/LinkedPOsColumn.tsx
  frontend/src/pages/projects/CriticalPOTasks/config/taskTableColumns.tsx
  frontend/src/pages/projects/CriticalPOTasks/hooks/useBulkCreateTasks.ts
Labels: UI

feat(critical-po-child-table): migrate associated_pos JSON into the PO child table
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/migrate_critical_po_links_to_po_child.py
Labels: backend

docs(critical-po-child-table): document PO child-table links, linked_po_count and the single writer
  .claude/CHANGELOG.md
  .claude/context/doctypes.md
  .claude/context/domain/procurement.md
  BACKEND_ARCHITECTURE.md
  CLAUDE.md
  PLATFORM_OVERVIEW.md
  frontend/.claude/CHANGELOG.md
  frontend/.claude/context/_index.md
  frontend/CLAUDE.md
Labels: none

chore(residence): tighten f5 baseline 116->115 after critical-po links moved to the endpoint
  scripts/residence_baseline.json
Labels: none

feat(snag-list): rename a snag batch from its tab or Import History
  frontend/src/pages/SnagList/SnagListTab.tsx
  frontend/src/pages/SnagList/components/RenameBatchDialog.tsx
  frontend/src/pages/SnagList/components/SnagBatchTabs.tsx
  frontend/src/pages/SnagList/components/SnagBatchesPanel.tsx
  frontend/src/pages/SnagList/config/snagBatchTabs.ts
  frontend/src/pages/SnagList/config/snagPermissions.ts
  frontend/src/pages/SnagList/config/snagTable.config.ts
  frontend/src/pages/SnagList/hooks/useSnagMutations.ts
  nirmaan_stack/api/snags/test_snag_api.py
  nirmaan_stack/api/snags/tracking.py
Labels: UI, backend

docs(claude-md): work in place on the current branch -- no worktree unless asked
  CLAUDE.md
Labels: none

feat(projects): let an Admin remove a user from a project's Assignees card
  frontend/src/constants/roles.ts
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  frontend/src/pages/projects/data/tab/overview/useProjectOverviewTabApi.ts
  nirmaan_stack/api/projects/assignees.py
  nirmaan_stack/api/projects/test_assignees.py
  nirmaan_stack/integrations/controllers/user_permission.py
Labels: UI, backend

fix(outflow-import): a failed record search says it failed, never "nothing to settle" (#1248)
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/recordPickerView.test.ts
  frontend/src/pages/outflow-import/recordPickerView.ts
Labels: UI

fix(payments): show UTR as plain text in PO and WO transaction tables
  frontend/src/pages/ProcurementOrders/purchase-order/components/TransactionDetailsCard.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
Labels: UI

feat(roles): PMO sees Customer PO and manages Material Plans; narrow Cashflow edit/delete
  frontend/src/constants/roles.ts
  frontend/src/pages/projects/CashflowPlan/InflowCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/MiscCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/POCashflow.tsx
  frontend/src/pages/projects/CashflowPlan/WOCashflow.tsx
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  frontend/src/pages/projects/components/planning/EditMaterialPlanForm.tsx
  frontend/src/pages/projects/components/planning/SevenDaysMaterialPlan.tsx
Labels: UI

docs(outflow-import): the feature shipped -- three records now say so
  .claude/context/domain/outflow-import.md
  docs/adr/0020-one-transfer-many-payments.md
  docs/browser-walk-1245.md
Labels: none

feat(notional-gst): show the GST not charged on GST-off work orders
  frontend/src/pages/projects/components/ProjectSRSummaryTable.tsx
  frontend/src/pages/projects/data/root/useProjectRootApi.ts
  frontend/src/pages/projects/data/tab/summary/useProjectSRSummaryApi.ts
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/reports/components/ProjectReports.tsx
  frontend/src/pages/reports/components/columns/projectColumns.tsx
  frontend/src/pages/reports/hooks/useProjectReportCalculations.ts
  nirmaan_stack/api/projects/project_aggregates.py
  nirmaan_stack/api/projects/test_project_aggregates.py
Labels: UI, backend

feat: add Notional GST calculation for GST-off Work Orders across projects list, WO summary, and cash sheet reports
  .claude/CHANGELOG.md
  .claude/context/domain/projects.md
  CONTEXT.md
  frontend/.claude/CHANGELOG.md
Labels: none

refactor: update get_invoice_totals_by_document call to reflect direct map return
  nirmaan_stack/api/projects/test_project_aggregates.py
Labels: backend

fix(outflow-import): a concurrent allocate loser reads a sentence, not a database error (#1246)
  .claude/context/domain/outflow-import.md
  docs/adr/0020-one-transfer-many-payments.md
  nirmaan_stack/api/outflow_import/expenses.py
  nirmaan_stack/api/outflow_import/test_allocate_row.py
  nirmaan_stack/services/outflow_import/concurrency.py
  nirmaan_stack/services/outflow_import/test_concurrency.py
Labels: backend

docs(outflow-import): point the settle_row out-of-scope note at #1250
  .claude/context/domain/outflow-import.md
  docs/adr/0020-one-transfer-many-payments.md
Labels: none

feat(tds-challan): pay TDS deductions against a challan
  nirmaan_stack/api/tds_challan/pay_tds.py
Labels: backend

feat(payment-tds): pay TDS and view challans from the ledger
  frontend/src/pages/PaymentTDSDeductions/PaymentTDSDeductions.tsx
  frontend/src/pages/PaymentTDSDeductions/components/ChallanListDialog.tsx
  frontend/src/pages/PaymentTDSDeductions/components/PayTdsDialog.tsx
  frontend/src/pages/PaymentTDSDeductions/components/PaymentTDSSummaryCard.tsx
  frontend/src/pages/PaymentTDSDeductions/config/paymentTdsDeductions.config.tsx
Labels: UI

refactor(reports): move the TDS deduction ledger into the Reports hub
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/constants/roles.ts
  frontend/src/pages/reports/ReportsContainer.tsx
  frontend/src/pages/reports/constants.ts
  frontend/src/pages/reports/store/useReportStore.ts
Labels: UI

feat(extraction): read ITNS 281 challan receipts with Gemini
  nirmaan_stack/api/tds_challan_autofill.py
  nirmaan_stack/services/extraction/base.py
  nirmaan_stack/services/extraction/gemini.py
Labels: backend

feat(payment-tds): add Paid status and challan link to the deduction
  frontend/src/types/NirmaanStack/PaymentTDSDeduction.ts
  nirmaan_stack/nirmaan_stack/doctype/payment_tds_deduction/payment_tds_deduction.js
  nirmaan_stack/nirmaan_stack/doctype/payment_tds_deduction/payment_tds_deduction.json
  nirmaan_stack/nirmaan_stack/doctype/payment_tds_deduction/test_payment_tds_deduction.py
Labels: UI, backend

feat(tds-challan): add TDS Challan Attachment doctype
  frontend/src/types/NirmaanStack/TDSChallanAttachment.ts
  nirmaan_stack/nirmaan_stack/doctype/tds_challan_attachment/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/tds_challan_attachment/tds_challan_attachment.js
  nirmaan_stack/nirmaan_stack/doctype/tds_challan_attachment/tds_challan_attachment.json
  nirmaan_stack/nirmaan_stack/doctype/tds_challan_attachment/tds_challan_attachment.py
  nirmaan_stack/nirmaan_stack/doctype/tds_challan_attachment/test_tds_challan_attachment.py
Labels: UI, backend

refactor(payment-tds): rename deducted_on to payment_approved_on, keep the old column
  frontend/src/pages/PaymentTDSDeductions/PaymentTDSDeductions.tsx
  frontend/src/pages/PaymentTDSDeductions/config/paymentTdsDeductions.config.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/types/NirmaanStack/PaymentTDSDeduction.ts
  nirmaan_stack/nirmaan_stack/doctype/payment_tds_deduction/payment_tds_deduction.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/rename_deducted_on_to_payment_approved_on.py
  nirmaan_stack/services/payment_tds.py
Labels: UI, backend

fix(outflow-import): a concurrent single-tick settle loser reads a sentence too (#1250)
  .claude/context/domain/outflow-import.md
  docs/adr/0020-one-transfer-many-payments.md
  nirmaan_stack/api/outflow_import/expenses.py
  nirmaan_stack/api/outflow_import/test_settle_payment.py
Labels: backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
