Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

fix(commission-report load-error fix): replace lazy-loaded commission report routes with direct imports
  frontend/src/components/helpers/routesConfig.tsx
Labels: UI

Phase 0: BoQ upload feature plan and context
  CLAUDE.md
  frontend/.claude/context/_index.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(audit): add reason field to Nirmaan Versions
  nirmaan_stack/nirmaan_stack/doctype/nirmaan_versions/nirmaan_versions.json
Labels: backend

feat(boq): add BOQs and BOQ Nodes doctype schemas
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/boq_nodes.json
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/boq_nodes.py
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/test_boq_nodes.py
  nirmaan_stack/nirmaan_stack/doctype/boqs/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boqs/boqs.json
  nirmaan_stack/nirmaan_stack/doctype/boqs/boqs.py
  nirmaan_stack/nirmaan_stack/doctype/boqs/test_boqs.py
Labels: backend

fix(boq): align doctype schemas with plan conventions
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/boq_nodes.json
  nirmaan_stack/nirmaan_stack/doctype/boqs/boqs.json
Labels: backend

feat(boq): add BOQs and BOQ Nodes controllers and hooks
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/boq_nodes.py
  nirmaan_stack/integrations/controllers/boqs.py
  nirmaan_stack/integrations/controllers/delete_doc_versions.py
Labels: backend

fix(boq): restore after_insert path computation and verify audit helper
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/boq_nodes.py
Labels: backend

test(boq): unit tests for BOQs and BOQ Nodes — phase 1
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/test_boq_nodes.py
  nirmaan_stack/nirmaan_stack/doctype/boqs/test_boqs.py
Labels: backend

test(boq): add missing coverage for status transition, reparent, audit-on-insert, and draft delete
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/test_boq_nodes.py
  nirmaan_stack/nirmaan_stack/doctype/boqs/test_boqs.py
Labels: backend

fix(test): handle Frappe auto-deserialized JSON in audit data assertion
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/test_boq_nodes.py
Labels: backend

refactor(boq): allow unlimited preamble levels, zero-qty line items, standalone items, and leaf-preamble values
  frontend/.claude/plans/boq-upload-plan.md
  nirmaan_stack/integrations/controllers/boq_nodes.py
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/boq_nodes.json
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/test_boq_nodes.py
Labels: backend

fix(boq): phase 1.6 cleanup — leaf preamble form, level visibility, defaults, rate validation, list view
  CLAUDE.md
  nirmaan_stack/integrations/controllers/boq_nodes.py
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/boq_nodes.json
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/test_boq_nodes.py
Labels: backend

fix: rest of the files
  .claude/projects/C--Users-nites-Documents-nirmaan-stack-frappe15-postgres-14/memory/MEMORY.md
  .claude/projects/C--Users-nites-Documents-nirmaan-stack-frappe15-postgres-14/memory/feedback_working_conventions.md
  .claude/projects/C--Users-nites-Documents-nirmaan-stack-frappe15-postgres-14/memory/project_boq_feature.md
  .claude/settings.local.json
  CODEBASE_ASSESSMENT.md
  PLATFORM_OVERVIEW.md
Labels: none

feat(boq): phase 1.7 schema — parent_boq, area_dimensions, source fields, make_model, qty_by_area
  nirmaan_stack/nirmaan_stack/doctype/boq_node_qty_by_area/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_node_qty_by_area/boq_node_qty_by_area.json
  nirmaan_stack/nirmaan_stack/doctype/boq_node_qty_by_area/boq_node_qty_by_area.py
  nirmaan_stack/nirmaan_stack/doctype/boq_node_qty_by_area/test_boq_node_qty_by_area.py
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/boq_nodes.json
  nirmaan_stack/nirmaan_stack/doctype/boqs/boqs.json
Labels: backend

feat(boq): phase 1.7 — controller + tests for master/sub schema
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/boq_nodes.py
  nirmaan_stack/integrations/controllers/boqs.py
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/test_boq_nodes.py
  nirmaan_stack/nirmaan_stack/doctype/boqs/test_boqs.py
Labels: backend

chore(boq): scaffold boq_parser package directory structure
  nirmaan_stack/services/boq_parser/__init__.py
  nirmaan_stack/services/boq_parser/tests/__init__.py
Labels: backend

feat(boq): Phase 2a — MappingConfig Pydantic schema + tests
  nirmaan_stack/services/boq_parser/config.py
  nirmaan_stack/services/boq_parser/test_config.py
Labels: backend

feat(boq): Phase 2a — synthetic fixture generator + generated fixtures
  nirmaan_stack/services/boq_parser/tests/fixtures/generate_synthetic.py
  nirmaan_stack/services/boq_parser/tests/fixtures/synthetic_blank_cols.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/synthetic_empty.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/synthetic_merged_header.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/synthetic_simple.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/synthetic_trailing_spaces.xlsx
Labels: backend

feat(boq): Phase 2a — BoqReader + CellInfo/RawRow + reader tests
  nirmaan_stack/services/boq_parser/reader.py
  nirmaan_stack/services/boq_parser/test_reader.py
  nirmaan_stack/services/boq_parser/tests/fixtures/generate_synthetic.py
  nirmaan_stack/services/boq_parser/tests/fixtures/synthetic_blank_cols.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/synthetic_empty.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/synthetic_merged_header.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/synthetic_simple.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/synthetic_trailing_spaces.xlsx
Labels: backend

docs(boq): update plan for Phase 2a completion + add working agreement #11
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Phase 2a — loosen detect_header_row heuristic for sparse and domain-vocab headers
  nirmaan_stack/services/boq_parser/reader.py
  nirmaan_stack/services/boq_parser/test_reader.py
  nirmaan_stack/services/boq_parser/tests/fixtures/generate_synthetic.py
  nirmaan_stack/services/boq_parser/tests/fixtures/synthetic_blank_cols.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/synthetic_empty.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/synthetic_makelist_header.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/synthetic_merged_header.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/synthetic_simple.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/synthetic_sparse_header.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/synthetic_trailing_spaces.xlsx
Labels: backend

feat(boq): Phase 2b.1a — row classifier + classifier tests
  nirmaan_stack/services/boq_parser/classifier.py
  nirmaan_stack/services/boq_parser/test_classifier.py
Labels: backend

docs(boq): update plan for Phase 2a + 2b.1a completion + working agreements 11/12/13
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(boq): Phase 2b.1a — suppress ghost-note rows from template formulas
  nirmaan_stack/services/boq_parser/classifier.py
  nirmaan_stack/services/boq_parser/test_classifier.py
Labels: backend

docs(boq): update plan for Phase 2b.1a ghost-note fix
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Phase 2b.1b — hierarchy resolver + tests
  nirmaan_stack/services/boq_parser/hierarchy.py
  nirmaan_stack/services/boq_parser/test_hierarchy.py
Labels: backend

docs(boq): update plan for Phase 2b.1b hierarchy resolver completion
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(boq): Phase 2b.1b — context-aware level determination via level_1_style
  nirmaan_stack/services/boq_parser/config.py
  nirmaan_stack/services/boq_parser/hierarchy.py
  nirmaan_stack/services/boq_parser/test_hierarchy.py
Labels: backend

docs(boq): update plan for Phase 2b.1b level_1_style fix
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(boq): Phase 2b.1b — lookahead-based level_1_style detection (handles JSW C/D and Paytm I/II)
  nirmaan_stack/services/boq_parser/hierarchy.py
  nirmaan_stack/services/boq_parser/test_hierarchy.py
Labels: backend

docs(boq): update plan for Phase 2b.1b lookahead-detection fix
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Phase 2b.1b — preamble candidate scoring + is_synthetic field for Phase 3 wizard
  nirmaan_stack/services/boq_parser/classifier.py
  nirmaan_stack/services/boq_parser/hierarchy.py
  nirmaan_stack/services/boq_parser/test_classifier.py
  nirmaan_stack/services/boq_parser/test_hierarchy.py
Labels: backend

docs(boq): update plan for Phase 2b.1b preamble candidate scoring
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Phase 2b.2 Part A1 — reader merged-cell propagation
  nirmaan_stack/services/boq_parser/reader.py
  nirmaan_stack/services/boq_parser/test_reader.py
Labels: backend

docs(boq): update plan for Phase 2b.2 Part A1 completion
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Phase 2b.2 Part A2 — ColumnRole multi-area extensions + validation
  nirmaan_stack/services/boq_parser/config.py
  nirmaan_stack/services/boq_parser/test_config.py
Labels: backend

docs(boq): update plan for Phase 2b.2 Part A2 completion
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

chore(boq): add amount_combined to _SINGLETON_ROLES set
  nirmaan_stack/services/boq_parser/config.py
Labels: backend

docs(boq): note amount_combined singleton follow-up in Part A2 record
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(repo): update CLAUDE.md Active Features row for BoQ Phase 2b.2 state
  CLAUDE.md
Labels: none

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
