Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

feat: resolve invoice attachments via Nirmaan Attachments and improve GST report table layout and responsiveness
  frontend/src/pages/reports/components/GSTReport/ProjectGSTReportDetails.tsx
  frontend/src/pages/reports/hooks/useProjectGSTDetailsData.ts
Labels: UI

feat: add document navigation and URL state synchronization to Project GST report
  frontend/src/pages/reports/components/GSTReport/ProjectGSTReportDetails.tsx
  frontend/src/pages/reports/components/ProjectGSTReport.tsx
  frontend/src/pages/reports/hooks/useProjectGSTDetailsData.ts
Labels: UI

feat: implement default 6-month date filtering and add export metadata to GST report columns
  frontend/src/pages/reports/components/GSTReport/ProjectGSTReportDetails.tsx
  frontend/src/pages/reports/components/ProjectGSTReport.tsx
Labels: UI

refactor: remove intermediate rounding in GST calculations and apply rounding only at the summary level
  frontend/src/pages/reports/components/GSTReport/ProjectGSTReportDetails.tsx
  frontend/src/pages/reports/hooks/useProjectGSTDetailsData.ts
Labels: UI

feat: add GST payable calculation and summary card to ProjectGSTReportDetails
  frontend/src/pages/reports/components/GSTReport/ProjectGSTReportDetails.tsx
Labels: UI

refactor: update PMO task statuses to WIP, Sent/Submision, and Approve by client with associated UI and validation logic
  frontend/src/pages/PMODashboard/components/EditTaskModal.tsx
  frontend/src/pages/PMODashboard/pmo-project-detail.tsx
  nirmaan_stack/api/pmo_dashboard.py
  nirmaan_stack/nirmaan_stack/doctype/pmo_project_task/pmo_project_task.json
Labels: UI, backend

feat: add mandatory file attachments to task status updates and update project dashboard filtering and UI and add navigation for Drawing, DPR and Inventory
  frontend/src/pages/PMODashboard/components/EditTaskModal.tsx
  frontend/src/pages/PMODashboard/pmo-dashboard-list.tsx
  frontend/src/pages/PMODashboard/pmo-project-detail.tsx
  nirmaan_stack/api/pmo_dashboard.py
  nirmaan_stack/nirmaan_stack/doctype/pmo_project_task/pmo_project_task.json
Labels: UI, backend

fix: removed unnecessary fixtures
  nirmaan_stack/fixtures/category.json
  nirmaan_stack/fixtures/items.json
  nirmaan_stack/fixtures/milestones.json
  nirmaan_stack/fixtures/procurement_packages.json
  nirmaan_stack/fixtures/scopes_of_work.json
  nirmaan_stack/fixtures/work_packages.json
  nirmaan_stack/hooks.py
Labels: backend

fix: recalculate tax_amount on merged PO item child table rows
  frontend/src/pages/ProcurementOrders/purchase-order/merge/useMergeResolution.ts
  frontend/src/types/NirmaanStack/ProcurementOrders.ts
  nirmaan_stack/api/po_merge_and_unmerge.py
Labels: UI, backend

fix: removed the dependency for category_list from Procurement Request doctype
  frontend/src/pages/ProcurementRequests/ApproveNewPR/approve-pr.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useApprovePRLogic.ts
  frontend/src/pages/ProcurementRequests/ApproveNewPR/types/index.ts
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-select-vendor.tsx
  frontend/src/pages/ProcurementRequests/procurement-requests.tsx
  frontend/src/pages/Retired Components/procurement/quotation-form.tsx
  frontend/src/pages/Retired Components/procurement/select-vendors.tsx
  frontend/src/pages/Retired Components/procurement/sent-back-quotation-form.tsx
  frontend/src/pages/projects/components/ProjectPRSummaryTable.tsx
  frontend/src/types/NirmaanStack/ProcurementRequests.ts
  frontend/src/zustand/useApproveNewPRDraftStore.ts
Labels: UI

refactor: remove category_list columns and rename Header Tags to Headers across procurement request tables
  frontend/src/pages/ProcurementRequests/ApproveNewPR/approve-pr.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-select-vendor.tsx
  frontend/src/pages/ProcurementRequests/procurement-requests.tsx
  frontend/src/pages/projects/components/ProjectPRSummaryTable.tsx
Labels: UI

feat: resolve invoice attachments via Nirmaan Attachments and improve GST report table layout and responsiveness
  frontend/src/pages/reports/components/GSTReport/ProjectGSTReportDetails.tsx
  frontend/src/pages/reports/hooks/useProjectGSTDetailsData.ts
Labels: UI

feat: add document navigation and URL state synchronization to Project GST report
  frontend/src/pages/reports/components/GSTReport/ProjectGSTReportDetails.tsx
  frontend/src/pages/reports/components/ProjectGSTReport.tsx
  frontend/src/pages/reports/hooks/useProjectGSTDetailsData.ts
Labels: UI

fix: Enable item deletion(Add Missing Products) and rejection using item_id as fallback and implement draft-first support for new item additions..
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useApprovePRLogic.ts
Labels: UI

feat: Optimized Project GST Detailed Report with human-readable data mapping, advanced tax analytics, and premium compact UI.
  frontend/src/pages/reports/components/GSTReport/ProjectGSTReportDetails.tsx
  frontend/src/pages/reports/components/ProjectGSTReport.tsx
  frontend/src/pages/reports/hooks/useProjectGSTData.ts
  frontend/src/pages/reports/hooks/useProjectGSTDetailsData.ts
Labels: UI

feat: add inline validation icons and dynamic border colors to item name inputs in add and edit dialogs :" Input Check validation"
  frontend/src/pages/Items/components/AddItemDialog.tsx
  frontend/src/pages/Items/components/EditItemDialog.tsx
Labels: UI

feat(gst-report): improve data visibility, scrolling, and labeling
  frontend/src/pages/reports/components/GSTReport/ProjectGSTReportDetails.tsx
  frontend/src/pages/reports/components/ProjectGSTReport.tsx
  frontend/src/pages/reports/hooks/useProjectGSTData.ts
  frontend/src/pages/reports/hooks/useProjectGSTDetailsData.ts
Labels: UI

feat: implement default 6-month date filtering and add export metadata to GST report columns
  frontend/src/pages/reports/components/GSTReport/ProjectGSTReportDetails.tsx
  frontend/src/pages/reports/components/ProjectGSTReport.tsx
Labels: UI

refactor: modernize ApprovePR header and relocate ProjectPackageBadge
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/ApprovePRHeader.tsx
  frontend/src/pages/Retired Components/ProjectPackageBadge.tsx
Labels: UI

feat: add GST payable calculation and summary card to ProjectGSTReportDetails
  frontend/src/pages/reports/components/GSTReport/ProjectGSTReportDetails.tsx
Labels: UI

feat: always include 'Tool & Equipments' in WorkPackageSelector headers
  frontend/src/pages/ProcurementRequests/NewPR/components/WorkPackageSelector.tsx
Labels: UI

refactor: remove intermediate rounding in GST calculations and apply rounding only at the summary level
  frontend/src/pages/reports/components/GSTReport/ProjectGSTReportDetails.tsx
  frontend/src/pages/reports/hooks/useProjectGSTDetailsData.ts
Labels: UI

feat: Product Pages Edit in Table column & Validation Item Name don't Entry exist Items in Products
  frontend/src/pages/Items/components/AddItemDialog.tsx
  frontend/src/pages/Items/components/EditItemDialog.tsx
  frontend/src/pages/Items/item.tsx
  frontend/src/pages/Items/itemsPage.tsx
Labels: UI

feat: implement modular project deactivation and optimized reporting
  frontend/src/components/custom-select/ProjectInventorySelect.tsx
  frontend/src/components/custom-select/project-milestone-select.tsx
  frontend/src/pages/projects/components/ProjectStatusDialog.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/remaining-items/index.tsx
  frontend/src/pages/reports/components/InventoryReport.tsx
  frontend/src/types/NirmaanStack/Projects.ts
  nirmaan_stack/api/projects/get_full_project_list.py
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.json
Labels: UI, backend

refactor: simplify database project filtering and move deactivation logic to Python for improved reliability
  nirmaan_stack/api/projects/get_full_project_list.py
Labels: backend

feat: implement persistent PMO dashboard deactivation and role-based navigation
  frontend/src/pages/PMODashboard/pmo-dashboard-list.tsx
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  frontend/src/pages/projects/components/ProjectModuleDeactivationStatus.tsx
  frontend/src/pages/projects/components/ProjectStatusDialog.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/types/NirmaanStack/Projects.ts
  nirmaan_stack/api/pmo_dashboard.py
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.json
Labels: UI, backend

feat: add patch to disable modules and trackers for completed projects
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/disabled_module_completed_project.py
Labels: backend

feat(gst-report): implement high-density dashboard and modular project controls
  frontend/src/pages/projects/components/ProjectModuleDeactivationStatus.tsx
  frontend/src/pages/reports/components/GSTReport/ProjectGSTReportDetails.tsx
  frontend/src/pages/reports/components/ProjectGSTReport.tsx
  nirmaan_stack/api/projects/module_controls.py
Labels: UI, backend

fix: update project deactivation warning message and increase z-index for GST report container
  frontend/src/pages/projects/components/ProjectModuleDeactivationStatus.tsx
  frontend/src/pages/reports/components/ProjectGSTReport.tsx
Labels: UI

refactor: restrict module navigation routes to authorized users and update badge clickability logic
  frontend/src/pages/projects/components/ProjectModuleDeactivationStatus.tsx
Labels: UI

docs: claude file changes
  frontend/.claude/context/domain/po-merge.md
Labels: none

feat: (dpr-header) overhaul milestone management with robust validation and bulk editing
  frontend/src/components/workHeaderMilestones.tsx
  nirmaan_stack/nirmaan_stack/doctype/work_milestones/work_milestones.json
Labels: UI, backend

"feat(milestones): make bulk edit header sticky and add user instructions & command they Reorder Add Milestone From view Page"
  frontend/src/components/workHeaderMilestones.tsx
Labels: UI

feat: Commission Report module deactivation Msg text
  frontend/src/pages/projects/components/ProjectModuleDeactivationStatus.tsx
Labels: UI

feat: auto-select non-completed project statuses on PMO dashboard load and remove backend filtering,if user want see completed also ...there need to select...
  frontend/src/pages/PMODashboard/pmo-dashboard-list.tsx
  nirmaan_stack/api/pmo_dashboard.py
Labels: UI, backend

feat: trigger data re-fetch on project status changes in ProjectModuleDeactivationStatus
  frontend/src/pages/projects/components/ProjectModuleDeactivationStatus.tsx
Labels: UI

fix: resolve Cancel PO failure for POs with linked revisions and adjustments
  nirmaan_stack/api/handle_cancel_po.py
  nirmaan_stack/integrations/controllers/procurement_orders.py
  nirmaan_stack/integrations/controllers/sent_back_category.py
Labels: backend

fix: resolve PR deletion failure after status revert from In Progress
  frontend/src/hooks/usePRorSBDelete.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useProcurementActions.ts
  nirmaan_stack/api/cleanup_pr_attachments.py
  nirmaan_stack/integrations/controllers/procurement_requests.py
Labels: UI, backend

refactor: simplify vendor credit workflow and standardize credit limits
  frontend/src/components/ui/vendor-hold-banner.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/ApproveRejectVendorQuotesView.tsx
  frontend/src/pages/vendors/components/VendorCreditManagementCard.tsx
  frontend/src/pages/vendors/new-vendor.tsx
  frontend/src/pages/vendors/vendor.tsx
  nirmaan_stack/api/create_vendor_and_address.py
  nirmaan_stack/api/vendor_credit.py
  nirmaan_stack/nirmaan_stack/doctype/vendors/vendors.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/update_vendor_credit_limits.py
  nirmaan_stack/tasks/vendor_credit_update.py
Labels: UI, backend

fix: resolve PO Wise material usage showing cross-PO totals instead of per-PO quantities
  frontend/src/pages/projects/components/POWiseMaterialTable.tsx
  frontend/src/pages/projects/components/ProjectMaterialUsageTab.tsx
  frontend/src/pages/projects/hooks/useMaterialUsageData.ts
Labels: UI
