Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

feat(outflow-import): Skipped popup shows Skip Type and All / Inflow / Outflow tabs
  .claude/context/domain/outflow-import.md
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  frontend/src/pages/outflow-import/components/OutflowRowsTable.tsx
  frontend/src/pages/outflow-import/components/SkippedRowsDialog.tsx
  frontend/src/pages/outflow-import/outflowExport.test.ts
  frontend/src/pages/outflow-import/outflowExport.ts
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  frontend/src/pages/outflow-import/useOutflowRows.ts
  frontend/src/types/NirmaanStack/OutflowImportBatch.ts
Labels: UI

feat(outflow-import): Skipped popup -- skip source hover, Unskip by kind, no Status/Ledger
  frontend/src/pages/outflow-import/components/OutflowRowsTable.tsx
  frontend/src/pages/outflow-import/components/SkippedRowsDialog.tsx
  frontend/src/pages/outflow-import/outflowExport.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  frontend/src/pages/outflow-import/skipKinds.test.ts
  frontend/src/pages/outflow-import/skipKinds.ts
  frontend/src/pages/outflow-import/skipSourceView.test.ts
  frontend/src/pages/outflow-import/skipSourceView.ts
  frontend/src/pages/outflow-import/unskipView.test.ts
  frontend/src/pages/outflow-import/unskipView.ts
  frontend/src/types/NirmaanStack/OutflowImportBatch.ts
Labels: UI

feat(outflow-import): unskip by skip kind, and send the document behind each skip
  .claude/context/domain/outflow-import.md
  docs/adr/0022-unreconcile-and-unskip.md
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/skip_sources.py
  nirmaan_stack/api/outflow_import/test_review.py
  nirmaan_stack/api/outflow_import/test_skipped_popup.py
  nirmaan_stack/api/outflow_import/test_unskip_row.py
  nirmaan_stack/nirmaan_stack/doctype/outflow_import_row/outflow_import_row.json
  nirmaan_stack/services/outflow_import/skip_kinds.py
  nirmaan_stack/services/outflow_import/skip_origin.py
  nirmaan_stack/services/outflow_import/test_skip_origin.py
Labels: backend

refactor(outflow-import): one settle path for expenses, and the linked-total calculator (#1296)
  .claude/context/domain/outflow-import.md
  nirmaan_stack/api/outflow_import/expenses.py
  nirmaan_stack/api/outflow_import/test_expenses.py
  nirmaan_stack/services/outflow_import/amounts.py
  nirmaan_stack/services/outflow_import/expense_links.py
  nirmaan_stack/services/outflow_import/settle.py
  nirmaan_stack/services/outflow_import/test_expense_links.py
Labels: backend

feat(outflow-import): link one late line to a part-linked expense from Decide (#1299)
  .claude/context/domain/outflow-import.md
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/components/SettleableRecordTable.tsx
  frontend/src/pages/outflow-import/linkLinesView.test.ts
  frontend/src/pages/outflow-import/linkLinesView.ts
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  nirmaan_stack/api/outflow_import/expenses.py
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_decide_late_line.py
  nirmaan_stack/api/outflow_import/test_expenses.py
  nirmaan_stack/services/outflow_import/amounts.py
  nirmaan_stack/services/outflow_import/candidates.py
  nirmaan_stack/services/outflow_import/expense_links.py
  nirmaan_stack/services/outflow_import/ledger_read.py
  nirmaan_stack/services/outflow_import/settle.py
  nirmaan_stack/services/outflow_import/test_expense_links.py
Labels: UI, backend

feat(outflow-import): link ticked bank lines to one expense (#1298)
  .claude/context/domain/outflow-import.md
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  frontend/src/pages/outflow-import/components/LinkLinesDialog.tsx
  frontend/src/pages/outflow-import/linkLinesParity.test.ts
  frontend/src/pages/outflow-import/linkLinesView.test.ts
  frontend/src/pages/outflow-import/linkLinesView.ts
  nirmaan_stack/api/outflow_import/expenses.py
  nirmaan_stack/api/outflow_import/link_lines.py
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_link_rows_to_expense.py
  nirmaan_stack/nirmaan_stack/doctype/outflow_row_match/outflow_row_match.json
  nirmaan_stack/services/outflow_import/allocation.py
  nirmaan_stack/services/outflow_import/amounts.py
  nirmaan_stack/services/outflow_import/expense_links.py
  nirmaan_stack/services/outflow_import/settle.py
  nirmaan_stack/services/outflow_import/test_expense_links.py
Labels: UI, backend

feat(outflow-import): selection controls move beside Export, floating bar removed (#1297)
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
Labels: UI

fix(outflow-import): Decide balance bar and Confirm label on a part-linked expense (#1299)
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/linkLinesView.test.ts
  frontend/src/pages/outflow-import/linkLinesView.ts
Labels: UI

feat(outflow-import): undo one line of a many-line expense (#1300)
  .claude/context/domain/outflow-import.md
  frontend/src/pages/outflow-import/components/UnreconcileDialog.tsx
  frontend/src/pages/outflow-import/unreconcileView.test.ts
  frontend/src/pages/outflow-import/unreconcileView.ts
  nirmaan_stack/api/outflow_import/test_unreconcile_expense_line.py
  nirmaan_stack/api/outflow_import/unreconcile.py
  nirmaan_stack/api/outflow_import/unreconcile_cleanup.py
  nirmaan_stack/services/outflow_import/amounts.py
  nirmaan_stack/services/outflow_import/test_unreconcile.py
  nirmaan_stack/services/outflow_import/unreconcile.py
Labels: UI, backend

feat(outflow-import): duplicate checks see a part-linked expense's own lines (#1301)
  .claude/context/domain/outflow-import.md
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_recorded_money_guard.py
  nirmaan_stack/services/outflow_import/candidates.py
  nirmaan_stack/services/outflow_import/contains_guard.py
  nirmaan_stack/services/outflow_import/matcher.py
  nirmaan_stack/services/outflow_import/status.py
  nirmaan_stack/services/outflow_import/test_contains_guard.py
  nirmaan_stack/services/outflow_import/test_status.py
Labels: backend

feat(outflow-import): server rules that protect linked expenses (#1302)
  .claude/context/domain/outflow-import.md
  nirmaan_stack/api/outflow_import/test_expense_document_rules.py
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/expense_bank_links.py
  nirmaan_stack/services/outflow_import/amounts.py
  nirmaan_stack/services/outflow_import/expense_links.py
  nirmaan_stack/services/outflow_import/settle.py
  nirmaan_stack/services/outflow_import/test_expense_links.py
Labels: backend

feat(outflow-import): an expense's bank lines, read-only on the Payments table (#1303)
  .claude/context/domain/outflow-import.md
  frontend/src/pages/ProjectPayments/components/ExpenseBankLinesPopover.tsx
  frontend/src/pages/ProjectPayments/components/expenseBankLinesView.test.ts
  frontend/src/pages/ProjectPayments/components/expenseBankLinesView.ts
  frontend/src/pages/ProjectPayments/config/approvalColumns.tsx
  frontend/src/pages/ProjectPayments/config/approvalsTable.config.ts
  nirmaan_stack/api/approvals/expense_bank_lines.py
  nirmaan_stack/api/approvals/get_approval_queue.py
  nirmaan_stack/api/approvals/test_expense_bank_lines.py
  nirmaan_stack/services/outflow_import/expense_links.py
Labels: UI, backend

test(outflow-import): invert the stale junk-amount fixture in test_approved
  nirmaan_stack/api/outflow_import/test_approved.py
Labels: backend

docs(adr): ADR-0027 many bank lines settle one expense, amending ADR-0020
  docs/adr/0020-one-transfer-many-payments.md
  docs/adr/0027-many-lines-one-expense.md
Labels: none

docs(outflow-import): glossary for many bank lines settling one expense (#1304)
  .claude/context/domain/expenses.md
  CONTEXT.md
Labels: none

fix(outflow-import): narrow the Import selector by source on the server
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_review.py
Labels: UI, backend

feat(outflow-import): put the settled ledger split beside the figure
  frontend/src/pages/outflow-import/components/ImportSummaryPanel.tsx
  frontend/src/pages/outflow-import/settledDirectionBlocks.test.ts
  frontend/src/pages/outflow-import/settledDirectionBlocks.ts
Labels: UI

feat(critical-po): show linked PO value incl. GST per task and in total
  .gitignore
  frontend/src/pages/projects/CriticalPOTasks/CriticalPOTasksList.tsx
  frontend/src/pages/projects/CriticalPOTasks/CriticalPOTasksTab.tsx
  frontend/src/pages/projects/CriticalPOTasks/config/taskTableColumns.tsx
  frontend/src/pages/projects/CriticalPOTasks/utils.tsx
  frontend/src/pages/projects/data/critical-po/useCriticalPOQueries.ts
  frontend/src/types/NirmaanStack/CriticalPOTasks.ts
Labels: UI

feat(vendor-refunds): show refunds in Transaction Details, add filters to refund form
  .claude/context/domain/outflow-import.md
  frontend/src/components/vendor-refunds/VendorRefundTableRow.tsx
  frontend/src/components/vendor-refunds/VendorRefundsButton.tsx
  frontend/src/components/vendor-refunds/VendorRefundsTable.tsx
  frontend/src/components/vendor-refunds/useVendorRefunds.ts
  frontend/src/pages/ProcurementOrders/purchase-order/components/TransactionDetailsCard.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/components/RecordColumnHeader.tsx
  frontend/src/pages/outflow-import/refundDocumentView.test.ts
  frontend/src/pages/outflow-import/refundDocumentView.ts
Labels: UI

feat(payments): delete Approved payments from the payments queue, PO and WO pages
  frontend/src/pages/ProcurementOrders/purchase-order/components/TransactionDetailsCard.tsx
  frontend/src/pages/ProjectPayments/config/approvalColumns.tsx
  frontend/src/pages/ProjectPayments/update-payment/AccountantTabs.tsx
  frontend/src/pages/ProjectPayments/update-payment/DeletePaymentDialog.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
Labels: UI

feat(reports): add Current FY Paid column and column info tooltips to Vendor report
  frontend/src/pages/reports/components/VendorReports.tsx
  frontend/src/pages/reports/components/columns/projectColumns.tsx
  frontend/src/pages/reports/components/columns/vendorColumns.tsx
  frontend/src/pages/reports/hooks/useVendorLedgerCalculations.ts
Labels: UI

feat(material-usage): show per-item Qty in the DC and MIR popovers
  frontend/src/pages/projects/components/DeliveryDocumentCountCell.tsx
  frontend/src/pages/projects/components/ProjectMaterialUsageTab.tsx
  frontend/src/pages/projects/hooks/useMaterialUsageData.ts
Labels: UI

feat(work-orders): pick approved or custom services inline on the WO items step
  frontend/src/pages/ServiceRequests/sr-form/components/ApprovedServicesPicker.tsx
  frontend/src/pages/ServiceRequests/sr-form/components/CustomServiceForm.tsx
  frontend/src/pages/ServiceRequests/sr-form/components/SelectedServiceItemsTable.tsx
  frontend/src/pages/ServiceRequests/sr-form/constants.ts
  frontend/src/pages/ServiceRequests/sr-form/hooks/useSRAmendData.ts
  frontend/src/pages/ServiceRequests/sr-form/hooks/useSRFormData.ts
  frontend/src/pages/ServiceRequests/sr-form/steps/ServiceItemsStep.tsx
  frontend/src/pages/ServiceRequests/sr-form/utils.test.ts
  frontend/src/pages/ServiceRequests/sr-form/utils.ts
Labels: UI

feat(bulk-download): pick documents from a filterable table in every wizard step
  frontend/CLAUDE.md
  frontend/src/pages/BulkDownload/BulkDownloadPage.tsx
  frontend/src/pages/BulkDownload/FilterBar.tsx
  frontend/src/pages/BulkDownload/steps/BaseItemList.tsx
  frontend/src/pages/BulkDownload/steps/BulkSelectTable.tsx
  frontend/src/pages/BulkDownload/steps/ClientInvoiceSteps.tsx
  frontend/src/pages/BulkDownload/steps/DCSteps.tsx
  frontend/src/pages/BulkDownload/steps/DNSteps.tsx
  frontend/src/pages/BulkDownload/steps/DeliveryDocSteps.tsx
  frontend/src/pages/BulkDownload/steps/InvoiceSteps.tsx
  frontend/src/pages/BulkDownload/steps/MIRSteps.tsx
  frontend/src/pages/BulkDownload/steps/POSteps.tsx
  frontend/src/pages/BulkDownload/steps/WOSteps.tsx
  frontend/src/pages/BulkDownload/steps/bulkTableColumns.tsx
  frontend/src/pages/BulkDownload/steps/index.ts
  frontend/src/pages/BulkDownload/useBulkDownloadWizard.ts
Labels: UI

fix(print-format): restore landscape PDFs via .print-format orientation style
  .claude/context/patterns.md
  nirmaan_stack/fixtures/print_format.json
Labels: backend

feat(payment-cheque): add Mode of Payment (Online / Cheque) to Project Payments
  .claude/CHANGELOG.md
  .claude/context/domain/outflow-import.md
  .claude/context/domain/payment-tds.md
  CLAUDE.md
  CONTEXT.md
  frontend/.claude/CHANGELOG.md
  frontend/src/components/dialogs/RequestPaymentDialog.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPaymentTermsCard.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/TransactionDetailsCard.tsx
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/ProjectPayments/approve-payments/components/BulkActionBar.tsx
  frontend/src/pages/ProjectPayments/approve-payments/components/BulkConfirmDialog.tsx
  frontend/src/pages/ProjectPayments/approve-payments/components/PaymentActionDialog.tsx
  frontend/src/pages/ProjectPayments/bulkSelectionSummary.test.ts
  frontend/src/pages/ProjectPayments/bulkSelectionSummary.ts
  frontend/src/pages/ProjectPayments/components/PaymentModeFields.tsx
  frontend/src/pages/ProjectPayments/components/ReconciliationPendingBadge.tsx
  frontend/src/pages/ProjectPayments/config/approvalColumns.tsx
  frontend/src/pages/ProjectPayments/config/approvalsTable.config.ts
  frontend/src/pages/ProjectPayments/hooks/useRequestPayment.ts
  frontend/src/pages/ProjectPayments/paymentMode.test.ts
  frontend/src/pages/ProjectPayments/paymentMode.ts
  frontend/src/pages/ProjectPayments/request-payment/RequestPaymentDialog.tsx
  frontend/src/pages/ProjectPayments/tdsForecast.test.ts
  frontend/src/pages/ProjectPayments/tdsForecast.ts
  frontend/src/pages/ProjectPayments/update-payment/UpdatePaymentDialog.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/pages/credits/hooks/useCredits.ts
  frontend/src/types/NirmaanStack/ProjectPayments.ts
  nirmaan_stack/api/approvals/get_approval_queue.py
  nirmaan_stack/api/payments/bulk_actions.py
  nirmaan_stack/api/payments/project_payments.py
  nirmaan_stack/api/payments/test_cheque_payments.py
  nirmaan_stack/integrations/controllers/project_payments.py
  nirmaan_stack/nirmaan_stack/doctype/project_payments/project_payments.json
  nirmaan_stack/nirmaan_stack/doctype/project_payments/project_payments.py
  nirmaan_stack/services/cheque_payments.py
  nirmaan_stack/services/finance.py
  nirmaan_stack/services/outflow_import/reference_guard.py
Labels: UI, backend

feat(vendor-GST-hold): replace the WO ₹15L creation block with a daily GST Hold
  CLAUDE.md
  CONTEXT.md
  docs/adr/0028-gst-hold.md
  frontend/.claude/context/domain/vendor-hold.md
  frontend/src/hooks/useVendorGstHold.ts
  frontend/src/pages/ServiceRequests/sr-form/hooks/useVendorFYLimit.ts
  frontend/src/pages/ServiceRequests/sr-form/index.tsx
  frontend/src/pages/ServiceRequests/sr-form/steps/VendorRatesStep.tsx
  frontend/src/pages/vendors/components/VendorGstHoldCard.tsx
  frontend/src/pages/vendors/vendor.tsx
  frontend/src/types/NirmaanStack/Vendors.ts
  nirmaan_stack/api/service_requests/vendor_fy_limit.py
  nirmaan_stack/api/vendor/gst_hold.py
  nirmaan_stack/api/vendor/test_gst_hold.py
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/service_requests.py
  nirmaan_stack/nirmaan_stack/doctype/vendors/vendors.json
  nirmaan_stack/services/test_wo_vendor_limit.py
  nirmaan_stack/services/wo_vendor_limit.py
  nirmaan_stack/tasks/vendor_gst_hold.py
Labels: UI, backend

feat(vendor-GST-hold): set a Work Order's GST from the vendor's GST number at approval
  CONTEXT.md
  frontend/src/pages/ServiceRequests/service-request/approve-service-request-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-service-request.tsx
  frontend/src/pages/ServiceRequests/sr-form/amend/SRAmendPage.tsx
  frontend/src/pages/ServiceRequests/sr-form/amend/SRAmendSheet.tsx
  frontend/src/pages/ServiceRequests/sr-form/components/ServiceItemsAccordion.tsx
  frontend/src/pages/ServiceRequests/sr-form/steps/ReviewStep.tsx
  nirmaan_stack/nirmaan_stack/doctype/service_requests/service_requests.py
  nirmaan_stack/nirmaan_stack/doctype/service_requests/test_service_requests.py
Labels: UI, backend

feat(expense-requests): let Accountant/HR review PM requests; drop per-type duplicate rules
  .claude/context/domain/expenses.md
  frontend/src/pages/ExpenseRequests/components/NewExpenseRequestDialog.tsx
  frontend/src/pages/ExpenseRequests/components/ReviewActionDialog.tsx
  frontend/src/pages/ExpenseRequests/config/expenseRequestsColumns.tsx
  nirmaan_stack/api/expense_requests/access.py
  nirmaan_stack/api/expense_requests/create.py
  nirmaan_stack/api/expense_requests/masters.py
  nirmaan_stack/api/expense_requests/read.py
  nirmaan_stack/api/expense_requests/similar.py
  nirmaan_stack/api/expense_requests/test_expense_requests.py
Labels: UI, backend

feat(payment-approvals): colour the CEO tab's Cashflow Gap red when positive, green otherwise
  frontend/src/pages/ProjectPayments/config/approvalColumns.tsx
Labels: UI

feat(payment-approvals): sort four queue tabs by date modified, newest first
  frontend/src/pages/ProjectPayments/config/approvalsTable.config.ts
  nirmaan_stack/api/approvals/get_approval_queue.py
Labels: UI, backend

feat(payments): show Total Unreconciled Inflow on the Payment Summary card
  .claude/context/domain/outflow-import.md
  frontend/src/pages/ProjectPayments/PaymentSummaryCards.tsx
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/payments/get_project_payment_summary.py
  nirmaan_stack/api/payments/test_payment_dashboard_stats.py
Labels: UI, backend

fix(po-revision): keep custom PO items Billable when a revision changes them
  nirmaan_stack/api/po_revisions/revision_logic.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/fix_revision_and_additional_charges_billing_status.py
Labels: backend

feat(inflow-payments): remove the Linked Invoice column from the inflow table
  frontend/src/pages/inflow-payments/InFlowPayments.tsx
Labels: UI

feat(dc-mir): let PMO delete DCs/MIRs; show who uploaded each one
  frontend/src/constants/roles.ts
  frontend/src/pages/DeliveryChallansAndMirs/components/ViewAttachmentsDialog.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/DeliveryChallanTable.tsx
  frontend/src/types/NirmaanStack/PODeliveryDocuments.ts
  nirmaan_stack/api/po_delivery_documentss.py
  nirmaan_stack/services/role_profiles.py
Labels: UI, backend

feat(hvac-rate-master): HVAC asset v1 with ADP items; HVAC in rate master
  frontend/src/pages/pricing/pricingCalculator.test.ts
  frontend/src/pages/pricing/rate-master/rateMasterRegistry.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v1.json
  scripts/mint_completeness_check.py
Labels: UI, backend

docs(hvac-rate-master): slice 1b as built
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(vendors): derive vendor categories from POs and WOs; add Category facet
  frontend/src/pages/vendors/VendorsPage.tsx
  frontend/src/pages/vendors/edit-vendor.tsx
  frontend/src/pages/vendors/new-vendor.tsx
  nirmaan_stack/api/create_vendor_and_address.py
  nirmaan_stack/api/data_table/search.py
  nirmaan_stack/api/data_table/utils.py
  nirmaan_stack/hooks.py
  nirmaan_stack/nirmaan_stack/doctype/vendor_category/vendor_category.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/rebuild_vendor_categories_from_orders.py
  nirmaan_stack/services/test_vendor_categories.py
  nirmaan_stack/services/vendor_categories.py
  nirmaan_stack/tasks/test_vendor_category_sync.py
  nirmaan_stack/tasks/vendor_category_sync.py
Labels: UI, backend

feat: filter available projects by operational(won) status in UserProjectsTab
  frontend/src/pages/users/components/UserProjectsTab.tsx
Labels: UI

docs(hvac-rate-master): slice 1c as built
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none
