Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

feat: Add character limits and counters to description, comment, and payment term fields, and simplify adhoc return payment term description.
  frontend/src/pages/PORevision/components/Step2/Step2NegativeFlow.tsx
  frontend/src/pages/PORevision/components/Step2/Step2PositiveFlow.tsx
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: UI, backend

feat: Implement Sentry error capturing for PO Revision mutations and refactor the API error logger import path.
  frontend/src/pages/PORevision/data/usePORevisionMutations.ts
  frontend/src/pages/PORevision/data/usePORevisionQueries.ts
Labels: UI

Fix: Update PO revision refund allocation validation logic using `userAllocationRequired` and pass new `createdTermsAbsorbable` and `userAllocationRequired` props.
  frontend/src/pages/PORevision/PORevisionDialog.tsx
Labels: UI

refactor: Improve PO revision concurrency with database locking, ensure data integrity during PO updates, and streamline transaction handling.
  nirmaan_stack/api/po_revisions/revision_logic.py
  nirmaan_stack/nirmaan_stack/doctype/project_payments/project_payments.py
Labels: backend

feat(po_revision): Auto-refresh sidebar counts on revision mutations
  frontend/src/pages/PORevision/data/usePORevisionMutations.ts
Labels: UI

feat: Add PO Revision counts to the sidebar API, Zod store, and display them in the PO Revisions approval list tabs.
  frontend/src/pages/PORevision/PORevisionsApprovalList.tsx
  frontend/src/zustand/useDocCountStore.ts
  nirmaan_stack/api/sidebar_counts.py
Labels: UI, backend

feat: Add permissions for Nirmaan Admin, Accountant, PMO, and Procurement roles to PO Revisions doctype.
  nirmaan_stack/nirmaan_stack/doctype/po_revisions/po_revisions.json
Labels: backend

UI & Doc: Enhance PO Revision with improved data invalidation, refined payment rectification UI, and comprehensive architecture documentation for candidate POs, item handling, and negative returns.
  frontend/src/pages/PORevision/PORevisionsApprovalDetail.tsx
  frontend/src/pages/PORevision/PORevisionsApprovalList.tsx
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
  frontend/src/pages/PORevision/components/detail/PORevisionImpactAndJustification.tsx
  frontend/src/pages/PORevision/components/detail/PORevisionInfoCard.tsx
  frontend/src/pages/PORevision/components/detail/PORevisionInvoices.tsx
  frontend/src/pages/PORevision/components/detail/PORevisionLineItems.tsx
  frontend/src/pages/PORevision/components/detail/PORevisionPaymentRectification.tsx
  frontend/src/pages/PORevision/data/usePORevisionMutations.ts
Labels: UI

fix: add ?mode=create to PM PO report link for DN page
  frontend/src/pages/reports/components/columns/poColumns.tsx
Labels: UI

refactor: migrate frontend from delivery_data JSON to DN records
  frontend/src/pages/DeliveryNotes/components/DeliveryHistory.tsx
  frontend/src/pages/DeliveryNotes/components/DeliveryNotePrintLayout.tsx
  frontend/src/pages/DeliveryNotes/deliverynote.tsx
  frontend/src/pages/DeliveryNotes/hooks/usePrintHistroy.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

feat: add Delivery Notes and Delivery Note Item doctypes
  nirmaan_stack/nirmaan_stack/doctype/delivery_note_item/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/delivery_note_item/delivery_note_item.json
  nirmaan_stack/nirmaan_stack/doctype/delivery_note_item/delivery_note_item.py
  nirmaan_stack/nirmaan_stack/doctype/delivery_notes/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/delivery_notes/delivery_notes.json
  nirmaan_stack/nirmaan_stack/doctype/delivery_notes/delivery_notes.py
Labels: backend

refactor: Shorten payment term labels, explicitly recalculate PO totals, set UTR for attached project payments, and refine expense comment formatting.
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: backend

feat: show approval tabs to all roles as read-only for non-approvers
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
Labels: UI

feat: Implement bulk PO lock check API and integrate it into PO merge candidate filtering and UI.
  frontend/src/pages/PORevision/data/poRevision.constants.ts
  frontend/src/pages/PORevision/data/usePORevisionQueries.ts
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  nirmaan_stack/api/po_revisions/revision_logic.py
  nirmaan_stack/api/po_revisions/revision_po_check.py
Labels: UI, backend

feat: Automatically create return terms for overpayments, filter out zero-amount payment terms, and always render the payment rectification UI.
  frontend/src/pages/PORevision/components/detail/PORevisionPaymentRectification.tsx
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: UI, backend

feat: add migration patch for delivery_data JSON to Delivery Notes
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/migrate_delivery_data_to_delivery_notes.py
Labels: backend

refactor: remove duplicate pivot table and legacy DN components
  frontend/src/pages/DeliveryNotes/components/DeliveryHistory.tsx
  frontend/src/pages/DeliveryNotes/components/DeliveryNotePrintLayout.tsx
  frontend/src/pages/DeliveryNotes/components/deliveryNoteItemsDisplay.tsx
  frontend/src/pages/DeliveryNotes/hooks/usePrintHistroy.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

feat: Refactor target PO credit application to consolidate payment terms and enhance candidate( PO selection with new filters, locking checks, and 'Created' term amount validation.
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
  frontend/src/pages/PORevision/components/Step2/Step2NegativeFlow.tsx
  frontend/src/pages/PORevision/data/poRevision.constants.ts
  frontend/src/pages/PORevision/data/usePORevisionQueries.ts
  frontend/src/pages/PORevision/hooks/usePORevision.ts
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: UI, backend

docs: add Delivery Notes domain context and update indexes
  .claude/context/_index.md
  frontend/.claude/context/_index.md
  frontend/.claude/context/domain/delivery-notes.md
Labels: none

fix: dn table changes
  frontend/src/pages/DeliveryNotes/components/pivot-table/DeliveryPivotTable.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/PivotTableHeader.tsx
Labels: UI

fix: Disable the dispatch PO button when the order is locked.
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

feat: add is_return field to DN doctype and remove Proc Exec edit access
  frontend/src/pages/DeliveryNotes/hooks/useDeliveryEdit.ts
  nirmaan_stack/api/delivery_notes/edit_delivery_note.py
  nirmaan_stack/nirmaan_stack/doctype/delivery_notes/delivery_notes.json
Labels: UI, backend

feat: display vendor, project, and financial summary details in the PO revision dialog.
  frontend/src/pages/PORevision/PORevisionDialog.tsx
  frontend/src/pages/PORevision/components/RevisionHeader.tsx
  frontend/src/pages/PORevision/components/Step1/ImpactSummaryTable.tsx
  frontend/src/pages/PORevision/components/Step1/Step1ReviseItems.tsx
Labels: UI

style: Apply orange color to pending invoice amount and Green color to approved invoice amount in PO details.
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

feat: Add category and procurement package fields to PO revision items, supporting custom items and tracking their original values.t chrages ...
  frontend/src/pages/PORevision/components/Step1/AddChargeDialog.tsx
  frontend/src/pages/PORevision/components/Step1/AddNewItemDialog.tsx
  frontend/src/pages/PORevision/components/Step1/Step1ReviseItems.tsx
  frontend/src/pages/PORevision/data/usePORevisionQueries.ts
  frontend/src/pages/PORevision/hooks/usePORevision.ts
  frontend/src/pages/PORevision/types.ts
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  nirmaan_stack/api/po_revisions/revision_logic.py
  nirmaan_stack/nirmaan_stack/doctype/po_revisions_items/po_revisions_items.json
Labels: UI, backend

feat: add get_project_pos backend API for DN hub
  nirmaan_stack/api/delivery_notes/get_project_pos.py
Labels: backend

feat: rewrite DN hub with dashboard, create, and view existing views
  frontend/src/pages/DeliveryNotes/components/DNDetailDialog.tsx
  frontend/src/pages/DeliveryNotes/deliverynotes.tsx
  frontend/src/pages/DeliveryNotes/hooks/useProjectDeliveryNotes.ts
Labels: UI

feat: add DN pivot table with bug fixes, edit feature, and PM visibility
  frontend/src/pages/DeliveryNotes/components/pivot-table/DeliveryPivotTable.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/PivotTableBody.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/PivotTableHeader.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/PivotTableMetadataBar.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/index.ts
  frontend/src/pages/DeliveryNotes/components/pivot-table/types.ts
  frontend/src/pages/DeliveryNotes/deliverynote.tsx
  frontend/src/pages/DeliveryNotes/hooks/useDeliveryEdit.ts
  frontend/src/pages/DeliveryNotes/hooks/useDeliveryPivotData.ts
  frontend/src/pages/DeliveryNotes/hooks/useDeliverySubmit.ts
  frontend/src/pages/DeliveryNotes/hooks/useDownloadDN.ts
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
Labels: UI

feat: add DeliveryNote TypeScript types and refactor data hook
  frontend/src/pages/DeliveryNotes/hooks/useDeliveryNoteData.ts
  frontend/src/types/NirmaanStack/DeliveryNotes.ts
Labels: UI

feat: Implement dialogs for adding new items and charges to PO revisions and refine related data fetching and backend logic.
  frontend/src/pages/PORevision/components/Step1/AddChargeDialog.tsx
  frontend/src/pages/PORevision/components/Step1/AddNewItemDialog.tsx
  frontend/src/pages/PORevision/components/Step1/Step1ReviseItems.tsx
  frontend/src/pages/PORevision/data/usePORevisionQueries.ts
  frontend/src/pages/PORevision/hooks/usePORevision.ts
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: UI, backend

feat: add return notes UI with red-tinted RN columns and PO integration
  frontend/src/pages/DeliveryNotes/components/DNDetailDialog.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/DeliveryPivotTable.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/PivotTableBody.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/PivotTableHeader.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/PivotTableMetadataBar.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/index.ts
  frontend/src/pages/DeliveryNotes/components/pivot-table/types.ts
  frontend/src/pages/DeliveryNotes/deliverynote.tsx
  frontend/src/pages/DeliveryNotes/deliverynotes.tsx
  frontend/src/pages/DeliveryNotes/hooks/useDeliveryPivotData.ts
  frontend/src/pages/DeliveryNotes/hooks/useReturnSubmit.ts
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/types/NirmaanStack/DeliveryNotes.ts
Labels: UI

refactor: Update "absorbed" terminology to "adjusted" for payment terms across PO Revision components and documentation.
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
  frontend/src/pages/PORevision/components/Step2/Step2NegativeFlow.tsx
  frontend/src/pages/PORevision/components/Step3/Step3Summary.tsx
  frontend/src/pages/PORevision/components/detail/PORevisionPaymentRectification.tsx
Labels: UI

docs: update DN context docs for hub rewrite and new components
  frontend/.claude/context/_index.md
  frontend/.claude/context/domain/delivery-notes.md
Labels: none

feat: show approval tabs to all roles as read-only for non-approvers
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
Labels: UI

feat: add viewMode support to DN pivot table components
  frontend/src/pages/DeliveryNotes/components/pivot-table/DeliveryPivotTable.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/PivotTableBody.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/PivotTableHeader.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/PivotTableMetadataBar.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/types.ts
Labels: UI

feat: Add client-side validation for item quantity and rate with visual feedback in PO revision.
  frontend/src/pages/PORevision/PORevisionDialog.tsx
  frontend/src/pages/PORevision/components/Step1/Step1ReviseItems.tsx
Labels: UI

feat: add viewMode query param support to DN detail page
  frontend/src/pages/DeliveryNotes/constants.ts
  frontend/src/pages/DeliveryNotes/deliverynote.tsx
Labels: UI

feat: currently in Hold for Custom PO ...Introduce `isCustom` prop to PO revision components to enable direct item and make input for custom purchase orders and remove the 0% tax option.
  frontend/src/pages/PORevision/PORevisionDialog.tsx
  frontend/src/pages/PORevision/PORevisionsApprovalDetail.tsx
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
  frontend/src/pages/PORevision/components/Step1/Step1ReviseItems.tsx
  frontend/src/pages/PORevision/components/Step2/Step2NegativeFlow.tsx
  frontend/src/pages/PORevision/components/detail/PORevisionLineItems.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

feat: extend backend API for return notes
  nirmaan_stack/api/delivery_notes/get_delivery_notes.py
  nirmaan_stack/api/delivery_notes/update_delivery_note.py
Labels: backend

feat: add edit_delivery_note backend API with role-based permissions
  nirmaan_stack/api/delivery_notes/edit_delivery_note.py
Labels: backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
