Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

docs(claude-md): pass 1 — remove no-ops and duplication
  CLAUDE.md
Labels: none

docs(claude-md): pass 2 — disclose domain invariants behind pointers
  .claude/context/_index.md
  .claude/context/domain/boq-backend.md
  .claude/context/domain/boq-classification.md
  .claude/context/domain/boq-pricing-editor.md
  .claude/context/domain/boq-rate-master.md
  .claude/context/domain/pricing-module.md
  .claude/context/domain/procurement.md
  CLAUDE.md
Labels: none

docs(claude-md): pass 3 — move coding rules to CODING_STANDARDS.md, slim CLAUDE.md to a router
  .claude/context/_index.md
  .claude/context/domain/invoice-autofill.md
  .claude/context/domain/procurement.md
  .claude/context/domain/projects.md
  .claude/context/patterns.md
  CLAUDE.md
  CODING_STANDARDS.md
  DEVELOPMENT_GUIDE.md
  docs/agents/domain.md
  docs/coding_standards.md
  nirmaan_stack/api/boq/test_rate_suggest.py
  nirmaan_stack/api/outflow_import/test_settle_payment.py
  nirmaan_stack/api/outflow_import/upload.py
  nirmaan_stack/api/snags/__init__.py
  nirmaan_stack/api/snags/file_io.py
  nirmaan_stack/api/snags/tracking.py
  nirmaan_stack/services/snag_parser/__init__.py
Labels: backend

docs: slice 12d-1b as built
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(frontend-claude-md): pass 1 — remove no-ops and duplication
  frontend/CLAUDE.md
Labels: none

docs(frontend-claude-md): pass 2 — disclose domain invariants behind pointers
  .claude/context/_index.md
  .claude/context/domain/internal-transfer-memos.md
  .claude/context/domain/procurement.md
  CLAUDE.md
  frontend/.claude/context/_index.md
  frontend/.claude/context/domain/boq-frontend.md
  frontend/.claude/context/domain/boq-pricing-editor-frontend.md
  frontend/.claude/context/domain/ceo-hold.md
  frontend/.claude/context/domain/delivery-notes.md
  frontend/.claude/context/domain/invoices.md
  frontend/.claude/context/domain/po-adjustments.md
  frontend/.claude/context/domain/po-revisions.md
  frontend/.claude/context/domain/vendor-hold.md
  frontend/.claude/plans/boq-revised-upload-plan.md
  frontend/.claude/plans/loss-justification-plan.md
  frontend/CLAUDE.md
  frontend/src/pages/SnagList/config/snagPermissions.ts
  frontend/src/pages/boq-wizard/MarginRangeFilter.tsx
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/SheetViewPage.tsx
  frontend/src/pages/outflow-import/components/ImportSummaryPanel.tsx
  nirmaan_stack/api/boq/wizard/revision.py
  nirmaan_stack/api/boq/wizard/test_create_from_template.py
  nirmaan_stack/api/boq/wizard/test_template_admin.py
  nirmaan_stack/api/boq/wizard/test_template_edit.py
  nirmaan_stack/api/boq/wizard/test_template_materialize.py
  nirmaan_stack/api/payments/bulk_actions.py
  nirmaan_stack/api/snags/import_wizard.py
Labels: UI, backend

docs(context): fix pointers and stale facts found by the discoverability test
  .claude/context/domain/boq-backend.md
  .claude/context/domain/boq-pricing-editor.md
  .claude/context/domain/projects.md
  CLAUDE.md
  CODING_STANDARDS.md
  frontend/.claude/context/domain/boq-frontend.md
  frontend/.claude/context/domain/ceo-hold.md
  frontend/CLAUDE.md
Labels: none

docs(context): correct copy-forward gate and CEO Hold threshold to match code
  .claude/context/domain/boq-pricing-editor.md
  .claude/context/domain/projects.md
  CLAUDE.md
  docs/adr/0004-multi-source-ceo-hold.md
  docs/ceo_hold_auto_management.md
  frontend/.claude/context/domain/ceo-hold.md
Labels: none

feat: Insulation switched on (calculator_only removed); the thickness priority note
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/pricing/PricingCalculator.tsx
  frontend/src/pages/pricing/calculatorPanelParity.harness.ts
  frontend/src/pages/pricing/calculatorPanelParity.test.ts
  frontend/src/pages/pricing/insulation12d1a.e2e.test.ts
  frontend/src/pages/pricing/insulation12d1b.e2e.test.ts
  frontend/src/pages/pricing/pricingCalculator.test.ts
  frontend/src/pages/pricing/rate-master/rateMasterTypes.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/config_validation.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v29.json
  nirmaan_stack/services/boq_rate_master/extraction.py
  nirmaan_stack/services/boq_rate_master/test_extraction_coercion.py
Labels: UI, backend

fix: "None" not offered where defaulted; "BoQ says" / "You typed"; the 12c-U wordings
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.test.ts
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/pricing/insulation12d1b.e2e.test.ts
Labels: UI

fix(hod): stop migrate resetting the library; HOD screens for four profiles only
  frontend/.claude/plans/handover-documents-execution.md
  frontend/.claude/plans/handover-documents-gaps.md
  frontend/.claude/plans/handover-documents-plan.md
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/constants/roles.ts
  frontend/src/pages/projects/project.tsx
  nirmaan_stack/api/hod/tracker.py
  nirmaan_stack/fixtures/hod_library_content.json
  nirmaan_stack/fixtures/hod_system.json
Labels: UI, backend

feat: HVAC v29 live; the parity test extended with the sample's rows
  frontend/src/pages/pricing/__fixtures__/insulation12d2Expected.json
  frontend/src/pages/pricing/__fixtures__/insulation12d2Sample.json
  frontend/src/pages/pricing/calculatorPanelParity.harness.ts
  frontend/src/pages/pricing/calculatorPanelParity.test.ts
  frontend/src/pages/pricing/insulation12d2Sample.e2e.test.ts
Labels: UI

docs: slice 12d-2 as built, with the sample's findings
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(mtc): add Material Test Certificate doctypes and server rules
  nirmaan_stack/api/material_test_certificates/__init__.py
  nirmaan_stack/api/material_test_certificates/mtc_api.py
  nirmaan_stack/api/po_merge_and_unmerge.py
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/material_test_certificate.py
  nirmaan_stack/integrations/controllers/procurement_orders.py
  nirmaan_stack/nirmaan_stack/doctype/material_test_certificate/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/material_test_certificate/material_test_certificate.js
  nirmaan_stack/nirmaan_stack/doctype/material_test_certificate/material_test_certificate.json
  nirmaan_stack/nirmaan_stack/doctype/material_test_certificate/material_test_certificate.py
  nirmaan_stack/nirmaan_stack/doctype/material_test_certificate/test_material_test_certificate.py
  nirmaan_stack/nirmaan_stack/doctype/material_test_certificate_item/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/material_test_certificate_item/material_test_certificate_item.json
  nirmaan_stack/nirmaan_stack/doctype/material_test_certificate_item/material_test_certificate_item.py
  nirmaan_stack/services/mtc_rules.py
  nirmaan_stack/services/role_profiles.py
Labels: backend

feat(mtc): add MTC card on the PO page and MTC list page for PM/PL
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/dashboards/dashboard-pl.tsx
  frontend/src/components/layout/dashboards/dashboard-pm.tsx
  frontend/src/constants/roles.ts
  frontend/src/pages/MaterialTestCertificates/MaterialTestCertificates.tsx
  frontend/src/pages/MaterialTestCertificates/components/MTCCard.tsx
  frontend/src/pages/MaterialTestCertificates/components/MTCItemChecklist.tsx
  frontend/src/pages/MaterialTestCertificates/components/MTCItemsCell.tsx
  frontend/src/pages/MaterialTestCertificates/components/MTCProjectTable.tsx
  frontend/src/pages/MaterialTestCertificates/components/MTCTable.tsx
  frontend/src/pages/MaterialTestCertificates/components/UploadMTCDialog.tsx
  frontend/src/pages/MaterialTestCertificates/hooks/useMTCMutations.ts
  frontend/src/pages/MaterialTestCertificates/hooks/useMTCs.ts
  frontend/src/pages/MaterialTestCertificates/index.ts
  frontend/src/pages/MaterialTestCertificates/mtcLinks.ts
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/types/NirmaanStack/MaterialTestCertificate.ts
  frontend/src/utils/mtc.test.ts
  frontend/src/utils/mtc.ts
Labels: UI

docs(mtc): add the Material Test Certificates domain doc and plan
  .claude/context/_index.md
  .claude/context/domain/material-test-certificates.md
  CLAUDE.md
  frontend/.claude/plans/material-test-certificate-plan.md
  frontend/CLAUDE.md
Labels: none

fix: pricing reads the stored catalogue, never the display projection; the served-vs-stored test
  frontend/src/pages/pricing/__fixtures__/parityMaster.json
  frontend/src/pages/pricing/rate-master/RateMasterDataViewer.dom.test.tsx
  frontend/src/pages/pricing/rate-master/RateMasterDataViewer.tsx
  frontend/src/pages/pricing/rate-master/RateMasterPage.tsx
  frontend/src/pages/pricing/rate-master/rateMasterDataViewer.test.ts
  frontend/src/pages/pricing/rate-master/rateMasterTypes.ts
  frontend/src/pages/pricing/servedVsStoredPricing.test.ts
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
Labels: UI, backend

feat(mtc): list the items to certify as one plain list
  .claude/context/domain/material-test-certificates.md
  frontend/.claude/plans/material-test-certificate-plan.md
  frontend/src/pages/MaterialTestCertificates/components/MTCItemChecklist.tsx
Labels: UI

feat(hod): read Factory Test Reports (14) from Material Test Certificates
  .claude/context/domain/material-test-certificates.md
  frontend/.claude/plans/handover-documents-execution.md
  frontend/.claude/plans/handover-documents-plan.md
  frontend/src/pages/HandoverDocuments/HodGuideDialog.tsx
  frontend/src/pages/HandoverDocuments/forms/SourcesView.tsx
  frontend/src/pages/HandoverDocuments/library/hodLibraryApi.ts
  frontend/src/pages/HandoverDocuments/print-formats/hod-document.html
  frontend/src/pages/HandoverDocuments/types.ts
  nirmaan_stack/api/hod/binder.py
  nirmaan_stack/api/hod/from_app.py
  nirmaan_stack/api/hod/test_hod_mtc_source.py
  nirmaan_stack/fixtures/print_format.json
  nirmaan_stack/services/hod/index.py
  nirmaan_stack/services/hod/sources.py
  nirmaan_stack/services/hod/test_hod_services.py
Labels: UI, backend

fix(hod): centre the seal over Nirmaan's name in the signature band
  frontend/src/pages/HandoverDocuments/print-formats/hod-checklist.html
  frontend/src/pages/HandoverDocuments/print-formats/hod-document.html
  nirmaan_stack/api/hod/print_context.py
  nirmaan_stack/fixtures/print_format.json
Labels: backend

feat(po): reorder PO page sections and stack attachment cards
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
Labels: UI

feat: GSS perforated sheet in the cladding note (HVAC v30); row 290 accepted; second-opinion usage recorded
  frontend/src/pages/pricing/insulation12d2Sample.e2e.test.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v30.json
  nirmaan_stack/services/boq_rate_master/test_extraction_coercion.py
  scripts/_instruments/run_cost.py
Labels: UI, backend

docs: slice 12d-2F as built
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(tds): Send For Approval runs on the server, all rows or none (#1374)
  .claude/context/apis.md
  GLOSSARY.md
  docs/adr/0025-tds-phase2-group-driven-consumption.md
  frontend/src/pages/projects/TDSRepository/components/TdsCreateForm.tsx
  frontend/src/pages/projects/data/tds/useTdsMutations.ts
  nirmaan_stack/api/tds/approve.py
  nirmaan_stack/api/tds/submit.py
  nirmaan_stack/api/tds/test_submit.py
Labels: UI, backend

feat(tds): Request Type column and clean Item / History statuses (#1375)
  frontend/src/pages/projects/TDSRepository/components/TdsHistoryTable.tsx
  frontend/src/pages/tds/TDSApprovalDetail.tsx
  frontend/src/utils/tdsRequestRules.test.ts
  frontend/src/utils/tdsRequestRules.ts
  nirmaan_stack/api/tds/allocate_pcus.py
  nirmaan_stack/api/tds/submit.py
Labels: UI, backend

chore: the Insulation audit instrument (scripts/_instruments/) and the 12d-3 record in boq-upload-plan.md
  frontend/.claude/plans/boq-upload-plan.md
  scripts/_instruments/README.md
  scripts/_instruments/audit12d3_analyse.py
  scripts/_instruments/audit12d3_build_rows.py
  scripts/_instruments/audit12d3_pricing.ts
Labels: none

docs(claude-md): per ticket run affected test modules, full suite only on request
  CLAUDE.md
Labels: none

fix(tds): call member-less TDS Items "No linked SKUs", not "Custom" (#1376)
  frontend/src/pages/projects/TDSRepository/components/RequestTdsItemDialog.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsCreateForm.tsx
  frontend/src/pages/tds/TDSItemDetail.tsx
  frontend/src/pages/tds/TDSRepositoryMaster.tsx
  frontend/src/pages/tds/components/AddTDSItemWizard.tsx
  frontend/src/pages/tds/components/TDSItemPeekDialogs.tsx
  frontend/src/pages/tds/components/cells.tsx
Labels: UI

feat(tds): Project Custom Item, from request to approval (#1377)
  .claude/context/apis.md
  frontend/src/pages/projects/TDSRepository/components/RequestTdsItemDialog.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsCreateForm.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsHistoryTable.tsx
  frontend/src/pages/projects/data/tds/useTdsMutations.ts
  frontend/src/pages/projects/data/tds/useTdsQueries.ts
  frontend/src/pages/tds/TDSApprovalDetail.tsx
  frontend/src/utils/tdsRequestRules.test.ts
  frontend/src/utils/tdsRequestRules.ts
  frontend/src/zustand/useTdsRequestDraftStore.ts
  nirmaan_stack/api/tds/allocate_pcus.py
  nirmaan_stack/api/tds/approve.py
  nirmaan_stack/api/tds/submit.py
  nirmaan_stack/api/tds/test_approve.py
  nirmaan_stack/api/tds/test_submit.py
  nirmaan_stack/api/tds/test_tds_report.py
  nirmaan_stack/integrations/controllers/project_tds_item_list.py
Labels: UI, backend

feat(tds): choose the correct datasheet when a New Make's entry already exists (#1378)
  .claude/context/apis.md
  frontend/src/pages/projects/TDSRepository/components/RequestTdsItemDialog.tsx
  frontend/src/pages/tds/TDSApprovalDetail.tsx
  frontend/src/pages/tds/components/ChooseDatasheetDialog.tsx
  frontend/src/utils/tdsRequestRules.test.ts
  frontend/src/utils/tdsRequestRules.ts
  nirmaan_stack/api/tds/approve.py
  nirmaan_stack/api/tds/test_approve.py
Labels: UI, backend

fix: named cladding never defaults; EPDM and listed materials refuse by name; sheet + glass cloth refuses; QRO; the refusal order; "N mm - 2 Layers"
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/boq-wizard/rate-helper/rateHelperTypes.ts
  frontend/src/pages/boq-wizard/rate-helper/rateSuggestionModel.test.ts
  frontend/src/pages/boq-wizard/rate-helper/rateSuggestionModel.ts
  frontend/src/pages/pricing/calculatorPanelParity.harness.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/config_validation.py
Labels: UI, backend

feat: HVAC v31 - Acoustic Nitrile x GI Framework SKUs, the four audit-fix keys, the four model-instruction clarifications
  frontend/src/pages/pricing/__fixtures__/insulation12d4aExpected.json
  frontend/src/pages/pricing/__fixtures__/insulation12d4aRows.json
  frontend/src/pages/pricing/__fixtures__/parityMaster.json
  frontend/src/pages/pricing/calculatorPanelParity.test.ts
  frontend/src/pages/pricing/insulation12d4a.e2e.test.ts
  frontend/src/pages/pricing/servedVsStoredPricing.test.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v31.json
  nirmaan_stack/services/boq_rate_master/test_extraction_coercion.py
Labels: UI, backend

docs: slice 12d-4a as built (plan doc) + the own-text / unstocked-material / refusal-order rule (root CLAUDE.md)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(tds): Admin edit can switch a request between New Make and Project Custom (#1379)
  .claude/context/apis.md
  frontend/src/components/common/TdsRequestTypeRadio.tsx
  frontend/src/hooks/useTdsProjectCustomOptions.ts
  frontend/src/pages/projects/TDSRepository/components/RequestTdsItemDialog.tsx
  frontend/src/pages/tds/TDSApprovalDetail.tsx
  frontend/src/pages/tds/components/EditRequestItemModal.tsx
  frontend/src/utils/tdsRequestRules.test.ts
  frontend/src/utils/tdsRequestRules.ts
  nirmaan_stack/api/tds/edit_request.py
  nirmaan_stack/api/tds/submit.py
  nirmaan_stack/api/tds/test_edit_request.py
Labels: UI, backend

feat(tds): resubmit a rejected New Make or Project Custom row (#1380)
  .claude/context/apis.md
  frontend/src/pages/projects/TDSRepository/components/TdsCreateForm.tsx
  frontend/src/pages/projects/data/tds/useTdsQueries.ts
  frontend/src/utils/tdsRequestRules.test.ts
  frontend/src/utils/tdsRequestRules.ts
  nirmaan_stack/api/tds/submit.py
  nirmaan_stack/api/tds/test_submit.py
Labels: UI, backend

fix(tds): code-review fixes for the Project TDS request work (#1373)
  frontend/src/pages/projects/TDSRepository/components/TdsCreateForm.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsExportDialog.tsx
  frontend/src/pages/tds/TDSApprovalDetail.tsx
  frontend/src/pages/tds/components/EditRequestItemModal.tsx
  frontend/src/utils/tdsRequestRules.test.ts
  frontend/src/utils/tdsRequestRules.ts
  nirmaan_stack/api/tds/approve.py
  nirmaan_stack/api/tds/edit_request.py
  nirmaan_stack/api/tds/submit.py
  nirmaan_stack/api/tds/test_approve.py
  nirmaan_stack/api/tds/test_edit_request.py
Labels: UI, backend

fix: D9b refuses glass cloth on the sheet families only; Cladding Only per sq.m prices again
  frontend/.claude/plans/boq-upload-plan.md
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.ts
  frontend/src/pages/pricing/__fixtures__/insulation12d4aExpected.json
  frontend/src/pages/pricing/insulation12d4a.e2e.test.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/config_validation.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v32.json
  nirmaan_stack/services/boq_rate_master/test_extraction_coercion.py
Labels: UI, backend

chore: the 12d-4b re-check instruments (scripts/_instruments/)
  scripts/_instruments/README.md
  scripts/_instruments/recheck12d4b_analyse.py
  scripts/_instruments/recheck12d4b_build_set.py
  scripts/_instruments/recheck12d4b_runner.py
Labels: none

fix(tds): keep the Make when the name-clash switch goes back to Project Custom (#1373)
  frontend/src/pages/projects/TDSRepository/components/RequestTdsItemDialog.tsx
Labels: UI

fix: "Double layer of N mm" read as a double layer
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.ts
Labels: UI
