Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

feat: Add loading indicator for TDS export and refine repository UI styling.
  frontend/src/pages/projects/TDSRepository/TDSRepositoryView.tsx
  frontend/src/pages/projects/TDSRepository/components/RoleCard.tsx
  frontend/src/pages/projects/TDSRepository/components/SetupTDSRepositoryDialog.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsExportDialog.tsx
Labels: UI

feat: Implement dynamic filtering for TDS item and make dropdowns in Add/Edit dialogs to prevent duplicate entries and refine form field resets.
  frontend/src/pages/tds/components/AddTDSItemDialog.tsx
  frontend/src/pages/tds/components/EditTDSItemDialog.tsx
Labels: UI

feat(backend): Implement server-side duplicate validation for TDS Repository
  nirmaan_stack/nirmaan_stack/doctype/tds_repository/tds_repository.py
Labels: backend

refactor(frontend): Centralize TDS item logic and fix form reset issues
  frontend/src/pages/tds/components/AddTDSItemDialog.tsx
  frontend/src/pages/tds/components/EditTDSItemDialog.tsx
  frontend/src/pages/tds/hooks/useTDSItemOptions.ts
Labels: UI

feat: Implement dynamic facet filtering in TDS Repository Master and update Project TDS Setting doctype permissions with new roles.
  frontend/src/pages/tds/TDSRepositoryMaster.tsx
  nirmaan_stack/nirmaan_stack/doctype/project_tds_item_list/project_tds_item_list.json
  nirmaan_stack/nirmaan_stack/doctype/project_tds_setting/project_tds_setting.json
Labels: UI, backend

feat: Update TDS request ID generation to include project suffix and remove arbitrary fetch limits from data fetches.
  frontend/src/pages/projects/TDSRepository/components/TdsCreateForm.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsHistoryTable.tsx
  frontend/src/pages/tds/TDSApprovalDetail.tsx
  frontend/src/pages/tds/components/ProjectEditTDSItemModal.tsx
Labels: UI

Remove stakeholder cards, TDS summary, and approval form sections from the Project TDS Report print format.
  nirmaan_stack/fixtures/print_format.json
Labels: backend

feat: patch to backfill attach_type in project progress reports
  nirmaan_stack/nirmaan_stack/doctype/project_progress_report_attachments/project_progress_report_attachments.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_8/update_attach_type_for_progress_reports.py
Labels: backend

feat: refactor copy report logic and improve validations
  frontend/src/pages/Manpower-and-WorkMilestones/components/CopyReportButton.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/hooks/usePermissionCheck.ts
Labels: UI

feat(MilestoneTab): add Site and Drawing photo types for Client/Clearance Issues tab
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
Labels: UI

feat(CopyReportButton): add Site and Drawing photo types to Copy Report dialog
  frontend/src/pages/Manpower-and-WorkMilestones/components/CopyReportButton.tsx
Labels: UI

feat(DailyReportView): display photos by type under respective sections
  frontend/src/pages/Manpower-and-WorkMilestones/components/DailyReportView.tsx
Labels: UI

feat: enhance remarks UI and photo filtering in reports
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/CopyReportButton.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/DailyReportView.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReport.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReportPDF.tsx
Labels: UI

feat: add Client/Clearance Issues section to Milestone Report print format with photos of site and drawing .
  nirmaan_stack/fixtures/print_format.json
Labels: backend

fix: After Merge conflict syntax error
  frontend/src/pages/Manpower-and-WorkMilestones/components/DailyReportView.tsx
Labels: UI

feat: Implement 'Overall Milestones Report' print format for projects, displaying progress comparisons, manpower, and issue details, and update the corresponding frontend component.
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReport.tsx
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

feat: Add new print formats for overall and individual milestone reports, featuring progress comparison, weighted work progress, and categorized images.
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReport.tsx
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

feat: Conditionally render photo sections in milestone tabs and copy reports, and reposition the overall report PDF download button with layout adjustments.
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/CopyReportButton.tsx
Labels: UI

refactor: moved SevenDayPlanningHeader to child components and refactored date state logic
  frontend/src/pages/WorkPlanTracker/work-plan-tracker-detail.tsx
  frontend/src/pages/projects/SevenDayPlanningTab.tsx
  frontend/src/pages/projects/components/planning/SevenDaysMaterialPlan.tsx
  frontend/src/pages/projects/components/planning/SevendaysWorkPlan.tsx
Labels: UI

feat: Implement manpower count validation, increase required work photos to four, and refine UI labels and layout in milestone reporting.
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/CopyReportButton.tsx
Labels: UI

fix: Adjust work photo validation messages to consistently state a minimum of 4 photos.
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/CopyReportButton.tsx
Labels: UI

feat(assets): add download button to pending actions list
  frontend/src/pages/Assets/components/PendingActionsList.tsx
Labels: UI

fix(credits): add validation to prevent duplicate payment requests
  nirmaan_stack/api/payments/project_payments.py
Labels: backend

refactor(assets): improve asset overview with cache sync
  frontend/src/pages/Assets/AssetOverview.tsx
Labels: UI

refactor(assets): standardize SWR cache keys for cross-component sync
  frontend/src/pages/Assets/AssetsPage.tsx
  frontend/src/pages/Assets/components/AddAssetDialog.tsx
  frontend/src/pages/Assets/components/AssetsSummaryCard.tsx
Labels: UI

fix(csrf): add user-friendly toast for session expiration errors
  frontend/src/hooks/useServerDataTable.ts
  frontend/src/utils/csrfUtils.ts
Labels: UI

fix(facets): remove hard limit to show all applicable facet values
  frontend/src/hooks/useFacetValues.ts
  nirmaan_stack/api/data_table/facets.py
Labels: UI, backend

docs: add WebSocket/Socket.IO integration documentation
  frontend/.claude/CHANGELOG.md
  frontend/.claude/context/_index.md
  frontend/.claude/context/websocket.md
Labels: none

fix(credits): use term_status field in scheduled payment worker
  nirmaan_stack/tasks/payment_term_worker.py
Labels: backend

feat(design-dashboard): harmonize theming with HR/Procurement dashboards
  frontend/src/components/layout/dashboards/design-dashboard.tsx
Labels: UI

fix(credits): improve error handling in payment deletion hook
  nirmaan_stack/integrations/controllers/project_payments.py
Labels: backend

refactor(assets): add cache refresh to unassign dialog
  frontend/src/pages/Assets/components/UnassignAssetDialog.tsx
Labels: UI

feat(assets): improve assign dialog UX with success confirmation
  frontend/src/pages/Assets/assets.constants.ts
  frontend/src/pages/Assets/components/AssignAssetDialog.tsx
  frontend/src/pages/Assets/hooks/useAssetDataRefresh.ts
Labels: UI

feat(design-tracker): add "My Tasks" filter for designers
  frontend/src/pages/ProjectDesignTracker/components/ProjectWiseCard.tsx
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
Labels: UI

docs: add CHANGELOG entry for Design Tracker UI harmonization
  .claude/CHANGELOG.md
Labels: none

feat(design-tracker): add UI harmonization with progress visualization
  frontend/src/pages/ProjectDesignTracker/components/ProjectWiseCard.tsx
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
  frontend/src/pages/ProjectDesignTracker/types/index.ts
  nirmaan_stack/api/design_tracker/get_task_wise_list.py
  nirmaan_stack/api/design_tracker/get_tracker_list.py
  nirmaan_stack/nirmaan_stack/doctype/project_design_tracker/project_design_tracker.json
Labels: UI, backend

fix(design-tracker): resolve ReactSelect crash on scroll in create dialog
  frontend/src/pages/ProjectDesignTracker/components/NewTrackerModal.tsx
Labels: UI

feat(api): add customer statistics endpoint
  nirmaan_stack/api/customers/customer_stats.py
Labels: backend

feat(invoices): update backend APIs for 3-state reconciliation model
  nirmaan_stack/api/invoices/po_wise_invoice_data.py
  nirmaan_stack/api/invoices/sr_wise_invoice_data.py
  nirmaan_stack/api/invoices/update_invoice_reconciliation.py
Labels: backend

refactor(ui): replace Ant Design Menu with shadcn Tabs in Customer page
  frontend/src/pages/customers/customer.tsx
Labels: UI
