Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

docs(boq): handoff for Amendment B W3-W6 + the create-from-template rebase
  docs/boq/HANDOFF-revised-boq-amendment-b-w3-w6.md
Labels: none

feat(boq-classification): boundary rulings encoded - rules v3 + prompt v1.2 (HV-5)
  nirmaan_stack/services/boq_category/prompts/hvac_ai_category_prompt.md
  nirmaan_stack/services/boq_category/rules_hvac.json
  nirmaan_stack/services/boq_category/runner.py
  nirmaan_stack/services/boq_category/tests/test_runner_hvac.py
Labels: backend

docs(boq): HV-5 slice record - boundary register as law
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(reports): Monthly WIP & Handover report — Active-days derived from status history
  .claude/plans/monthly-wip-plan.md
  frontend/src/pages/monthly-wip/MonthlyWIPPage.tsx
  frontend/src/pages/monthly-wip/useMonthlyWIPData.ts
  frontend/src/pages/reports/ReportsContainer.tsx
  frontend/src/pages/reports/components/ProjectReports.tsx
  frontend/src/pages/reports/store/useReportStore.ts
  nirmaan_stack/api/reports/test_wip_monthly_report.py
  nirmaan_stack/api/reports/wip_monthly_report.py
Labels: UI, backend

chore(test): make BoQ parser fixture generation idempotent
  nirmaan_stack/services/boq_parser/tests/fixtures/generate_synthetic.py
Labels: backend

feat(boq): Amendment B W3-W6 -- revised-BoQ entry, config gate, carry, reporting (backend)
  nirmaan_stack/api/boq/wizard/commit_pipeline.py
  nirmaan_stack/api/boq/wizard/cross_boq_carry.py
  nirmaan_stack/api/boq/wizard/parse_run.py
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/revision.py
  nirmaan_stack/api/boq/wizard/revision_carry.py
  nirmaan_stack/api/boq/wizard/test_column_carry.py
  nirmaan_stack/api/boq/wizard/test_commit_overlay.py
  nirmaan_stack/api/boq/wizard/test_commit_pipeline.py
  nirmaan_stack/api/boq/wizard/test_cross_boq_carry.py
  nirmaan_stack/api/boq/wizard/test_parse_run.py
  nirmaan_stack/api/boq/wizard/test_revision_entry.py
  nirmaan_stack/api/boq/wizard/test_revision_mapping.py
  nirmaan_stack/api/boq/wizard/upload_file.py
  nirmaan_stack/integrations/controllers/boqs.py
Labels: backend

feat(boq): Amendment B W3+W5 -- entry un-lock + carry reporting (frontend)
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/BoqMasterPanel.tsx
  frontend/src/pages/boq-wizard/BoqUploadScreen.tsx
  frontend/src/pages/boq-wizard/CommitResultsModal.tsx
  frontend/src/pages/boq-wizard/CrossBoqCarryDialog.test.ts
  frontend/src/pages/boq-wizard/CrossBoqCarryDialog.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  frontend/src/pages/boq-wizard/revisionCarryReport.test.ts
  frontend/src/pages/boq-wizard/revisionCarryReport.ts
  frontend/src/pages/boq-wizard/revisionEntry.test.ts
  frontend/src/pages/boq-wizard/revisionEntry.ts
Labels: UI

docs(boq): Amendment B W3-W6 as-built + the two owner decisions
  .claude/context/domain/boq-backend.md
  frontend/.claude/context/domain/boq-frontend.md
  frontend/.claude/plans/boq-revised-upload-plan.md
Labels: none

docs(boq): E2E browser-testing handoff for the revised-BoQ feature
  docs/boq/HANDOFF-revised-boq-e2e-browser-testing.md
Labels: none

feat: invoice line-item extraction, PO mapping, and item-level billing
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceDialog.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/LineItemMappingReview.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/MappingTableView.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/InvoiceDataDialog.tsx
  frontend/src/pages/tasks/invoices/components/InvoiceApprovalComparison.tsx
  frontend/src/pages/tasks/invoices/components/columns.tsx
  frontend/src/pages/tasks/invoices/utils/autofillEntityDisplay.ts
  frontend/src/types/NirmaanStack/VendorInvoice.ts
  nirmaan_stack/api/delivery_notes/test_update_invoice_data.py
  nirmaan_stack/api/delivery_notes/update_invoice_data.py
  nirmaan_stack/api/invoice_autofill.py
  nirmaan_stack/api/invoices/_line_match.py
  nirmaan_stack/api/invoices/get_po_item_billing.py
  nirmaan_stack/api/invoices/test_get_po_item_billing.py
  nirmaan_stack/api/invoices/test_line_match.py
  nirmaan_stack/api/payment_autofill.py
  nirmaan_stack/nirmaan_stack/doctype/vendor_invoice_line/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/vendor_invoice_line/vendor_invoice_line.json
  nirmaan_stack/nirmaan_stack/doctype/vendor_invoice_line/vendor_invoice_line.py
  nirmaan_stack/nirmaan_stack/doctype/vendor_invoices/vendor_invoices.json
  nirmaan_stack/services/extraction/base.py
  nirmaan_stack/services/extraction/gemini.py
  nirmaan_stack/services/extraction/mapping.py
  nirmaan_stack/services/extraction/test_validation.py
  nirmaan_stack/services/extraction/validation.py
Labels: UI, backend

feat(invoices): clickable invoice amount → items dialog on PO reconciliation
  frontend/src/pages/ProcurementOrders/purchase-order/components/InvoiceDataDialog.tsx
  frontend/src/pages/tasks/invoices/components/PoInvoices.tsx
Labels: UI

docs(invoices): correct backfill run instructions — not wired into patches.txt
  .claude/context/domain/invoice-qty.md
  nirmaan_stack/patches/v3_0/backfill_invoice_qty.py
Labels: backend

feat: add dimension-aware invoice line matching and update mapping flow to validate invoice metadata before review
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceDialog.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/LineItemMappingReview.tsx
Labels: UI

feat(invoices): Resolve Invoices admin tool + dry-run preview updates
  frontend/src/pages/temp/ResolveInvoices.tsx
  nirmaan_stack/TEMP_resolve_invoices_README.md
  nirmaan_stack/api/invoices/temp_resolve.py
  nirmaan_stack/dry_run_invoice_qty.py
  nirmaan_stack/extraction_cache.json
Labels: UI, backend

feat(invoices): trust-ladder invoice_qty, backfill+extraction cache, credit notes
  .claude/context/domain/invoice-qty.md
  CLAUDE.md
  frontend/CLAUDE.md
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceDialog.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/LineItemMappingReview.tsx
  frontend/src/zustand/useDialogStore.ts
  nirmaan_stack/api/delivery_notes/update_invoice_data.py
  nirmaan_stack/api/invoices/_item_billing_sync.py
  nirmaan_stack/patches/v3_0/backfill_invoice_qty.py
Labels: UI, backend

feat(invoices): clearer line-item mapping review UI
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/LineItemMappingReview.tsx
Labels: UI

feat(invoices): derive per-PO-item invoice_qty from verified line mappings
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceDialog.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceLineMappingView.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceTable.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/InvoiceDataDialog.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  frontend/src/pages/tasks/invoices/components/PendingTasksTable.tsx
  frontend/src/pages/tasks/invoices/components/TaskHistoryTable.tsx
  frontend/src/pages/tasks/invoices/components/columns.tsx
  frontend/src/pages/tasks/invoices/hooks/useTotalInvoicedByDocument.ts
  frontend/src/types/NirmaanStack/ProcurementOrders.ts
  nirmaan_stack/api/delivery_notes/update_invoice_data.py
  nirmaan_stack/api/invoices/_item_billing_sync.py
  nirmaan_stack/api/invoices/approve_vendor_invoice.py
  nirmaan_stack/nirmaan_stack/doctype/purchase_order_item/purchase_order_item.json
  nirmaan_stack/services/extraction/gemini.py
Labels: UI, backend

feat(invoices): invoice_qty derivation + credit-note handling
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceDialog.tsx
  frontend/src/types/NirmaanStack/VendorInvoice.ts
  nirmaan_stack/api/delivery_notes/update_invoice_data.py
  nirmaan_stack/api/invoice_autofill.py
  nirmaan_stack/api/invoices/_item_billing_sync.py
  nirmaan_stack/dry_run_invoice_qty.py
  nirmaan_stack/nirmaan_stack/doctype/vendor_invoice_line/vendor_invoice_line.json
  nirmaan_stack/nirmaan_stack/doctype/vendor_invoices/vendor_invoices.json
  nirmaan_stack/patches/v3_0/backfill_invoice_qty.py
  nirmaan_stack/services/extraction/gemini.py
Labels: UI, backend

fix: adjust PO amount overage logic for edit mode and enable GSTIN mismatch warnings for all invoice updates
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceDialog.tsx
Labels: UI

fix(boq): state the revision needs-review reason in the review panel
  frontend/src/pages/boq-wizard/ReviewTree.tsx
Labels: UI

feat(boq-classification): final owner rulings - rules v4 + prompt v1.3 (HV-6)
  nirmaan_stack/services/boq_category/prompts/hvac_ai_category_prompt.md
  nirmaan_stack/services/boq_category/rules_hvac.json
  nirmaan_stack/services/boq_category/tests/test_runner_hvac.py
Labels: backend

docs(boq): HV-6 slice record - CHW/DX + VRF controllers + PNL fix
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-classification): notes-as-fallback matching surface, HVAC-gated (HV-6b)
  nirmaan_stack/services/boq_category/rules_hvac.json
  nirmaan_stack/services/boq_category/runner.py
  nirmaan_stack/services/boq_category/tests/test_runner_hvac.py
Labels: backend

docs(boq): HV-6b slice record - owner gate waiver, fallback surface
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-classification): per-discipline routing policy + review_priority + certification mode (HV-7)
  nirmaan_stack/api/boq/wizard/classify.py
  nirmaan_stack/api/boq/wizard/test_row_category.py
  nirmaan_stack/nirmaan_stack/doctype/boq_row_category/boq_row_category.json
  nirmaan_stack/services/boq_category/harness/electrical_classification_harness.py
  nirmaan_stack/services/boq_category/orchestrator.py
  nirmaan_stack/services/boq_category/persist.py
  nirmaan_stack/services/boq_category/routing.py
  nirmaan_stack/services/boq_category/rules_hvac.json
  nirmaan_stack/services/boq_category/runner.py
  nirmaan_stack/services/boq_category/tests/test_routing_policy.py
  nirmaan_stack/services/boq_category/tests/test_runner_hvac.py
Labels: backend

docs(boq): HV-7 slice record - signed policy as config, migrate verified
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-classification): enable HVAC engine in registry (HV-9)
  nirmaan_stack/api/boq/wizard/test_classify.py
  nirmaan_stack/services/boq_category/engines.py
Labels: backend

docs(boq): HV-9 slice record - HVAC live, production era open
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(invoices): invoice_qty ordered-qty fallback + backfill/recon hardening
  .claude/context/domain/invoice-qty.md
  frontend/CLAUDE.md
  frontend/src/pages/ProcurementOrders/purchase-order/components/InvoiceDataDialog.tsx
  frontend/src/pages/tasks/invoices/hooks/useTotalInvoicedByDocument.ts
  nirmaan_stack/api/invoices/_item_billing_sync.py
  nirmaan_stack/patches/v3_0/backfill_invoice_qty.py
Labels: UI, backend

feat(boq-pricing): multi-engine per-row resolution + grouped picker (HV-10)
  frontend/src/pages/boq-wizard/CategoryVerdictPicker.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  frontend/src/pages/boq-wizard/sheetCategoryResolve.test.ts
  frontend/src/pages/boq-wizard/sheetCategoryResolve.ts
  nirmaan_stack/api/boq/wizard/classify.py
  nirmaan_stack/api/boq/wizard/test_classify.py
Labels: UI, backend

docs(boq): HV-10 slice record - resolution ladder, N-engine generic
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(projects): gate Commission Report tab on report existence + module status toggles
  frontend/src/pages/CommissionReport/project-commission-report-details.tsx
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
  frontend/src/pages/projects/components/ProjectStatusDialog.tsx
  frontend/src/pages/projects/project.tsx
  nirmaan_stack/api/payments/project_payments.py
Labels: UI, backend

feat(boq): show the origin Type badge in the BoQ-to-revise picker
  frontend/src/pages/boq-wizard/BoqMasterPanel.tsx
  frontend/src/pages/boq-wizard/BoqProjectTab.tsx
  frontend/src/pages/boq-wizard/boqOriginBadge.test.ts
  frontend/src/pages/boq-wizard/boqOriginBadge.ts
  nirmaan_stack/api/boq/wizard/revision.py
  nirmaan_stack/api/boq/wizard/test_revision_entry.py
Labels: UI, backend

feat(boq): label the New/Old columns on the revision mapping screen
  frontend/src/pages/boq-wizard/RevisionIdentityPanel.tsx
  frontend/src/pages/boq-wizard/RevisionMappingPage.tsx
  frontend/src/pages/boq-wizard/SheetPairingRow.tsx
Labels: UI

fix(boq): auto-guess config for a declared-New sheet in a revision
  nirmaan_stack/api/boq/wizard/revision.py
  nirmaan_stack/api/boq/wizard/test_column_carry.py
  nirmaan_stack/api/boq/wizard/upload_file.py
Labels: backend

test(boq): repair test_upload_file against the multi-container worker signature
  nirmaan_stack/api/boq/wizard/test_upload_file.py
Labels: backend

fix(boq-pricing): completion summary reports combined effective outcome (HV-10b)
  frontend/src/pages/boq-wizard/ClassifySheetDialog.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/sheetCategoryResolve.test.ts
  frontend/src/pages/boq-wizard/sheetCategoryResolve.ts
Labels: UI

docs(boq): HV-10b record - summary agrees with the grid
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(-admin-req): invoice delete for admin users
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceDialog.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceTable.tsx
Labels: UI

feat(-admin-req): edit/delete actions on invoice reconciliation tables
  frontend/src/pages/tasks/invoices/components/PoInvoices.tsx
  frontend/src/pages/tasks/invoices/components/SrInvoices.tsx
  frontend/src/pages/tasks/invoices/hooks/useInvoiceRowAdminActions.tsx
Labels: UI

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
