Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

fix:Assigners Designer Add Design Lead
  nirmaan_stack/api/design_tracker/tracker_options.py
Labels: backend

fix:On-boarding to Task List and After create project empty project name and cat reset
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

fix:removed status PO Invocie print format
  nirmaan_stack/fixtures/print_format.json
Labels: backend

feat :Crad view project backend Api call to counts and stats
  frontend/src/pages/ProjectDesignTracker/components/ProjectWiseCard.tsx
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
  nirmaan_stack/api/design_tracker/get_tracker_list.py
  nirmaan_stack/nirmaan_stack/doctype/project_design_tracker/project_design_tracker.json
Labels: UI, backend

Fix:Status Color and Field Added in backedn Zone and Phase in project and task
  frontend/src/pages/ProjectDesignTracker/components/ProjectWiseCard.tsx
  frontend/src/pages/ProjectDesignTracker/components/TaskWiseTable.tsx
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
  frontend/src/pages/ProjectDesignTracker/utils.tsx
  nirmaan_stack/nirmaan_stack/doctype/design_tracker_task_child_table/design_tracker_task_child_table.json
  nirmaan_stack/nirmaan_stack/doctype/project_design_tracker/project_design_tracker.json
Labels: UI, backend

fix:Removed Badgae of status
  frontend/src/pages/ProjectDesignTracker/components/ProjectWiseCard.tsx
Labels: UI

feat: Introduce Design Tracker Zone child table, add an API for flattened task lists, and enhance data table flexibility with custom endpoints.
  frontend/src/hooks/useServerDataTable.ts
  frontend/src/pages/ProjectDesignTracker/components/TaskWiseTable.tsx
  nirmaan_stack/api/design_tracker/get_task_wise_list.py
Labels: UI, backend

feat: First Review of Project Zone Done
  frontend/src/pages/ProjectDesignTracker/components/ProjectWiseCard.tsx
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
  nirmaan_stack/nirmaan_stack/doctype/design_tracker_zone/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/design_tracker_zone/design_tracker_zone.js
  nirmaan_stack/nirmaan_stack/doctype/design_tracker_zone/design_tracker_zone.json
  nirmaan_stack/nirmaan_stack/doctype/design_tracker_zone/design_tracker_zone.py
  nirmaan_stack/nirmaan_stack/doctype/design_tracker_zone/test_design_tracker_zone.py
  nirmaan_stack/nirmaan_stack/doctype/project_design_tracker/project_design_tracker.json
Labels: UI, backend

fix:task Zone added in Taskwise table
  frontend/src/pages/ProjectDesignTracker/components/TaskWiseTable.tsx
  nirmaan_stack/api/design_tracker/get_task_wise_list.py
Labels: UI, backend

fix:Patches file and Print Changes and Export wise and all export
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
  nirmaan_stack/fixtures/print_format.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_7/populate_design_tracker_zones.py
Labels: UI, backend

Fix: Rename They Project Design Tracker Zone Rename
  frontend/src/pages/ProjectDesignTracker/components/RenameZoneDialog.tsx
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
  nirmaan_stack/api/design_tracker/rename_zone.py
Labels: UI, backend

fix: WO fix redirection
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
  frontend/src/pages/ServiceRequests/service-request/select-service-vendor.tsx
Labels: UI

fix: "Default Zone" to "Default"
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
Labels: UI

fix:Po print And preview now get Po.attachment directly , remove Nirmaan Attachment fetching form PR
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPdf.tsx
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

fix:Patch File Start_date for Pervious PDT report
  nirmaan_stack/nirmaan_stack/doctype/project_design_tracker/project_design_tracker.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_7/populate_project_design_tracker_start_date.py
Labels: backend

feat :While creation PDT now Start Date will Added
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
  frontend/src/pages/ProjectDesignTracker/hooks/useDesignMasters.ts
  nirmaan_stack/api/design_tracker/tracker_options.py
Labels: UI, backend

fix:deadline new rule from start_date of Project , badge colors change
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
  frontend/src/pages/ProjectDesignTracker/utils.tsx
Labels: UI

fix: small UI Changes and Last_submitted date added in Ui and Backend Validation
  frontend/src/pages/ProjectDesignTracker/components/TaskWiseTable.tsx
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
  frontend/src/pages/ProjectDesignTracker/utils.tsx
  nirmaan_stack/nirmaan_stack/doctype/design_tracker_task_child_table/design_tracker_task_child_table.json
  nirmaan_stack/nirmaan_stack/doctype/project_design_tracker/project_design_tracker.py
Labels: UI, backend

feat: Status based tab for Task Wise and Print format export added
  frontend/src/pages/ProjectDesignTracker/components/TaskWiseTable.tsx
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

fix:project Fix Removed While Create Project Milestones Enable , And Add new Field in Carpet_area in Both Project add and edit
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  frontend/src/pages/projects/edit-project-form.tsx
  frontend/src/pages/projects/project-form.tsx
  nirmaan_stack/api/projects/new_project.py
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.json
Labels: UI, backend

feat: added weightage field within work milestone doctype
  nirmaan_stack/nirmaan_stack/doctype/work_milestones/work_milestones.json
Labels: backend

feat: added weightage fields within milestone packages view
  frontend/src/components/workHeaderMilestones.tsx
Labels: UI

feat: added update Overall Progress calculations (using weightages) for individual Work Headers within Progress Reports
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneDailySummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReport.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReportPDF.tsx
Labels: UI

fix: updated print format for DPR
  nirmaan_stack/fixtures/print_format.json
Labels: backend

Dix: Cmt console.log Its Throwing Error , Console array as object
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneDailySummary.tsx
Labels: UI

Fix: Make Target * 0.98 using same Format for Ruppes
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-vendor.tsx
Labels: UI

fix: added design tracker initialization within project overview
  frontend/src/pages/ProjectDesignTracker/components/DesignPackagesmaster.tsx
  frontend/src/pages/ProjectDesignTracker/components/NewTrackerModal.tsx
  frontend/src/pages/ProjectDesignTracker/components/NoDesignTrackerView.tsx
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  frontend/src/pages/projects/project.tsx
Labels: UI

fix: added vendor option within estimations dashboard
  frontend/src/components/layout/dashboards/estimates-executive-dashboard.tsx
Labels: UI

fix: removed NA tasks and status tab from design tracker task-wise
  frontend/src/pages/ProjectDesignTracker/components/TaskWiseTable.tsx
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
Labels: UI

fix: Not Applicable milestones are now visible to the summary components
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneDailySummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReport.tsx
Labels: UI

feat: Copy Report now has a check to check for new milestones
  frontend/src/pages/Manpower-and-WorkMilestones/components/CopyReportButton.tsx
Labels: UI

fix: layout changes for data table component
  frontend/src/components/data-table/new-data-table.tsx
Labels: UI

fix: projects table changes
  frontend/src/pages/projects/projects.tsx
  frontend/src/utils/FormatPrice.ts
Labels: UI

fix: reports table changes and rectifications
  frontend/src/config/queryKeys.ts
  frontend/src/pages/reports/components/InflowReportTable.tsx
  frontend/src/pages/reports/components/ProjectReports.tsx
  frontend/src/pages/reports/components/columns/projectColumns.tsx
  frontend/src/pages/reports/components/outflowReportTable.tsx
  frontend/src/pages/reports/hooks/useOutflowReportData.ts
  frontend/src/pages/reports/hooks/useProjectReportCalculations.ts
Labels: UI

Fix: taskWise Dealine default Sort Asc Fix
  nirmaan_stack/api/design_tracker/get_task_wise_list.py
Labels: backend

feat: Add new pip pdf2images
  pyproject.toml
Labels: none

fix: Po Invoice Print Format Added Noida GSt and Removed Addvance Paid in PDF
  nirmaan_stack/fixtures/print_format.json
Labels: backend

feat: Add direct PDF download for Service Requests Print Formet
  frontend/src/pages/ServiceRequests/service-request/SRPdf.tsx
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

feat: Milestone status update logic in for Keep start and end date ::MilestoneTab.tsx.
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
Labels: UI

WIP: Seven Days Work Plan
  frontend/src/pages/projects/SevenDayPlanningTab.tsx
  frontend/src/pages/projects/components/SevendaysWorkPlan.tsx
  frontend/src/pages/projects/project.tsx
  nirmaan_stack/api/seven_days_planning/work_plan_api.py
  nirmaan_stack/nirmaan_stack/doctype/work_plan/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/work_plan/test_work_plan.py
  nirmaan_stack/nirmaan_stack/doctype/work_plan/work_plan.js
  nirmaan_stack/nirmaan_stack/doctype/work_plan/work_plan.json
  nirmaan_stack/nirmaan_stack/doctype/work_plan/work_plan.py
Labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
