Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

docs: update commissioning report templates documentation with fixture mapping and missing task details
  frontend/.claude/context/domain/commissioning-report-templates.md
Labels: none

feat(boq): Phase 2c caveats #2 + #4 cleanup — deprecate qty_by_area + 2-row fixture for detection coverage
  nirmaan_stack/services/boq_parser/config.py
  nirmaan_stack/services/boq_parser/test_config.py
  nirmaan_stack/services/boq_parser/test_orchestrator.py
  nirmaan_stack/services/boq_parser/tests/fixtures/generate_synthetic.py
Labels: backend

docs(boq): Phase 2c caveats #2 + #4 cleanup completion record — §17.11 CLOSED
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

chore: apply §9 #53 Claude Code permission allowlist (auto-applied by Claude Code during caveats cleanup; out-of-scope edit logged as §9 #54)
  .claude/settings.local.json
Labels: none

chore(boq): Phase 2c §9 #45 audit script + initial output
  nirmaan_stack/services/boq_parser/preamble_with_children_audit.py
  nirmaan_stack/services/boq_parser/preamble_with_children_audit_output.json
Labels: backend

feat(boq): Phase 2c §9 #45 priced-PREAMBLE-with-children review flag
  nirmaan_stack/services/boq_parser/hierarchy.py
  nirmaan_stack/services/boq_parser/orchestrator.py
  nirmaan_stack/services/boq_parser/test_hierarchy.py
  nirmaan_stack/services/boq_parser/test_orchestrator.py
Labels: backend

docs(boq): Phase 2c §9 #45 implementation record + §17.11.C CLOSED
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Phase 2c §9 #49 reader sheet_state exposure
  nirmaan_stack/services/boq_parser/reader.py
  nirmaan_stack/services/boq_parser/test_reader.py
Labels: backend

docs(boq): Phase 2c §9 #49 reader sheet_state exposure + §17.11.D CLOSED
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(work-milestone-deps): partial dependence % + scope Critical PO Items to milestone's work package
  frontend/src/components/workHeaderMilestones.tsx
  nirmaan_stack/nirmaan_stack/doctype/work_milestone_dependency/work_milestone_dependency.js
  nirmaan_stack/nirmaan_stack/doctype/work_milestone_dependency/work_milestone_dependency.json
  nirmaan_stack/nirmaan_stack/doctype/work_milestone_dependency/work_milestone_dependency.py
Labels: UI, backend

chore(boq): Phase 2c §9 #48 classifier-dictionary audit script + initial output
  nirmaan_stack/services/boq_parser/classifier_audit.py
Labels: backend

docs(boq): Phase 2c §9 #48 classifier-dictionary audit record + §17.11.E added
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Phase 2c §9 #48 classifier-dict + multi-area keyword expansion
  nirmaan_stack/services/boq_parser/classifier.py
  nirmaan_stack/services/boq_parser/classifier_audit.py
  nirmaan_stack/services/boq_parser/config.py
  nirmaan_stack/services/boq_parser/test_classifier.py
  nirmaan_stack/services/boq_parser/test_config.py
  nirmaan_stack/services/boq_parser/test_multi_area_detection.py
Labels: backend

docs(boq): Phase 2c §9 #48 expansion record + §17.11.F + CLAUDE.md row update
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(boq): lock per-area rate+amount schema extension (Phase 1.8/1.9 sequenced before 2c)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(boq): supplement — make_model discovery + skip-then-ingest parked + audit-tracking gap flagged
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(boq): supplement — append_to_notes ColumnRole design (§7.34)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(projects): realtime CEO Hold auto-management with smart release flow
  docs/ceo_hold_auto_management.md
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/project_cashflow_hold_update.py
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.py
  nirmaan_stack/tasks/project_cashflow_hold_update.py
Labels: backend

refactor: rename Projects.cashflow_gap_limited → cashflow_gap_limit
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  frontend/src/pages/projects/edit-project-form.tsx
  frontend/src/pages/projects/project-form/schema.ts
  frontend/src/pages/projects/project-form/steps/ProjectDetailsStep.tsx
  frontend/src/types/NirmaanStack/Projects.ts
  nirmaan_stack/api/projects/new_project.py
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/backfill_cashflow_gap_limited.py
  nirmaan_stack/patches/v3_0/rename_cashflow_gap_limited.py
Labels: UI, backend

refactor: improve project expense validation to return and display input error error lists
  frontend/src/pages/ProjectExpenses/components/NewProjectExpenseDialog.tsx
Labels: UI

feat(boq): Phase 1.8 — per-area rate + amount schema extension
  nirmaan_stack/integrations/controllers/boq_node_qty_by_area.py
  nirmaan_stack/integrations/controllers/boq_nodes.py
  nirmaan_stack/nirmaan_stack/doctype/boq_node_qty_by_area/boq_node_qty_by_area.json
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/test_boq_nodes.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/back_populate_boq_node_qty_by_area_rates.py
Labels: backend

docs(boq): Phase 1.8 completion record + hash backfills per §9 #57
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

refactor: update CEO hold banner text to clarify authorization requirements and heldBy source
  frontend/src/components/ui/ceo-hold-banner.tsx
Labels: UI

feat(boq): Phase 1.9a — per-area rate parser support (Pattern 2-rate detection)
  nirmaan_stack/services/boq_parser/classifier.py
  nirmaan_stack/services/boq_parser/config.py
  nirmaan_stack/services/boq_parser/hierarchy.py
  nirmaan_stack/services/boq_parser/multi_area_detection.py
  nirmaan_stack/services/boq_parser/orchestrator.py
  nirmaan_stack/services/boq_parser/test_classifier.py
  nirmaan_stack/services/boq_parser/test_config.py
  nirmaan_stack/services/boq_parser/test_multi_area_detection.py
  nirmaan_stack/services/boq_parser/test_orchestrator.py
  nirmaan_stack/services/boq_parser/tests/fixtures/generate_synthetic.py
Labels: backend

docs(boq): Phase 1.9a completion record + hash backfill per §9 #57
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Phase 1.9b — append_to_notes parser support
  nirmaan_stack/services/boq_parser/classifier.py
  nirmaan_stack/services/boq_parser/config.py
  nirmaan_stack/services/boq_parser/test_classifier.py
  nirmaan_stack/services/boq_parser/test_config.py
Labels: backend

docs(boq): Phase 1.9b completion record + hash backfill per §9 #57
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Phase 1.9c — real-fixture integration tests for Raheja + D-Tech
  nirmaan_stack/services/boq_parser/test_orchestrator.py
Labels: backend

docs(boq): Phase 1.9c completion record + hash backfill per §9 #57
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(boq): Phase 1.8.1 — F1 per-child consistency guard + F2 Desk-save audit trigger
  nirmaan_stack/integrations/controllers/boq_nodes.py
  nirmaan_stack/nirmaan_stack/doctype/boq_nodes/test_boq_nodes.py
Labels: backend

docs(boq): Phase 1.8.1 completion record + hash backfill per §9 #57
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(boq): Phase 1.8.1 hash backfill — docs commit 241988d9
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(boq): Phase 1.9d design-lock — F3b + F5-b + F7 + §17.13 wizard-load parking
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Phase 1.9d — F3b RATES-plural regex widening + F5-b SheetConfig.top_header_rows_override field
  nirmaan_stack/services/boq_parser/config.py
  nirmaan_stack/services/boq_parser/multi_area_detection.py
  nirmaan_stack/services/boq_parser/orchestrator.py
  nirmaan_stack/services/boq_parser/test_config.py
  nirmaan_stack/services/boq_parser/test_multi_area_detection.py
  nirmaan_stack/services/boq_parser/test_orchestrator.py
  nirmaan_stack/services/boq_parser/tests/fixtures/generate_synthetic.py
Labels: backend

docs(boq): Phase 1.9d completion record (feat eacc8b38)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

chore(boq): Phase 1.9e — real-fixture stress test script + output JSON
  nirmaan_stack/services/boq_parser/real_fixture_stress_test.py
  nirmaan_stack/services/boq_parser/real_fixture_stress_test_output.json
Labels: backend

docs(boq): Phase 1.9e completion record (chore 5cd4f580)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

chore(boq-parser): Phase 1.9f Stage 1 multi-area triage diagnostic
  nirmaan_stack/services/boq_parser/multi_area_triage_1_9f.py
  nirmaan_stack/services/boq_parser/multi_area_triage_1_9f_output.json
  nirmaan_stack/services/boq_parser/multi_area_triage_1_9f_output.txt
Labels: backend

docs(boq): Phase 1.9f Stage 1 docs — multi-area triage diagnostic
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-parser): Phase 1.9g — skip pre-header rows in orchestrator + 3 new tests + calibration
  nirmaan_stack/services/boq_parser/orchestrator.py
  nirmaan_stack/services/boq_parser/test_orchestrator.py
  nirmaan_stack/services/boq_parser/tests/fixtures/snitch_electrical_expected.json
  nirmaan_stack/services/boq_parser/tests/fixtures/synthetic_blank_cols.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/synthetic_empty.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/synthetic_makelist_header.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/synthetic_merged_header.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/synthetic_multi_area.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/synthetic_multi_area_2row.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/synthetic_pattern_2_rate.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/synthetic_pattern_2_rate_plural.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/synthetic_simple.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/synthetic_sparse_header.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/synthetic_trailing_spaces.xlsx
Labels: backend
