Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

feat(design-tracker-task): admin-only task name edit, weighted progress, default status filter, drive link warning
  frontend/src/pages/ProjectDesignTracker/components/ProjectWiseCard.tsx
  frontend/src/pages/ProjectDesignTracker/components/TaskEditModal.tsx
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
  nirmaan_stack/api/design_tracker/get_tracker_list.py
Labels: UI, backend

feat(design-tracker): admin-only Bulk Status on Design Tracker
  frontend/src/pages/ProjectDesignTracker/components/BulkStatusDialog.tsx
  frontend/src/pages/ProjectDesignTracker/hooks/useDesignTrackerLogic.ts
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
  nirmaan_stack/api/design_tracker/bulk_update_task_status.py
  nirmaan_stack/nirmaan_stack/doctype/project_design_tracker/project_design_tracker.py
Labels: UI, backend

feat: uncomment Add Custom Service button in ServiceItemsStep and its flow
  frontend/src/pages/ServiceRequests/sr-form/steps/ServiceItemsStep.tsx
Labels: UI

fix(tds): key item selection by tds_item_id to handle name collisions across categories
  frontend/src/pages/projects/TDSRepository/components/RequestTdsItemDialog.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsCreateForm.tsx
  frontend/src/pages/tds/components/AddTDSItemDialog.tsx
  frontend/src/pages/tds/components/EditRequestItemModal.tsx
  frontend/src/pages/tds/components/ProjectEditTDSItemModal.tsx
Labels: UI

refactor(design-tracker): scope progress to active phase, collapse onboarding after handover
  frontend/src/pages/ProjectDesignTracker/components/ProjectWiseCard.tsx
Labels: UI

fix(project-payments): drop managers from payment update notification recipients
  nirmaan_stack/integrations/controllers/project_payments.py
Labels: backend

refactor: simplify service request amendment form logic in useSRAmendForm hook
  frontend/src/pages/ServiceRequests/sr-form/amend/useSRAmendForm.ts
Labels: UI

feat(itm): delivery notes redesign, material usage transferred-in, permission fixes
  frontend/src/pages/DeliveryNotes/ITMDeliveryNote.tsx
  frontend/src/pages/DeliveryNotes/deliverynotes.tsx
  frontend/src/pages/InternalTransferMemos/ITMDetail.tsx
  frontend/src/pages/InternalTransferMemos/ITRDetail.tsx
  frontend/src/pages/InternalTransferMemos/InternalTransferMemosList.tsx
  frontend/src/pages/InternalTransferMemos/components/ITMDeliverySection.tsx
  frontend/src/pages/InternalTransferMemos/config/itmList.config.tsx
  frontend/src/pages/InternalTransferMemos/hooks/useITMList.ts
  frontend/src/pages/projects/components/MaterialTableRow.tsx
  frontend/src/pages/projects/components/ProjectMaterialUsageTab.tsx
  frontend/src/pages/projects/hooks/useMaterialUsageData.ts
  nirmaan_stack/api/internal_transfers/get_itm.py
  nirmaan_stack/api/internal_transfers/get_itrs_list.py
  nirmaan_stack/api/internal_transfers/project_transfers.py
Labels: UI, backend

feat(itm): delivery notes redesign, material usage transferred-in, permission fixes
  frontend/src/pages/DeliveryNotes/ITMDeliveryNote.tsx
  frontend/src/pages/DeliveryNotes/deliverynotes.tsx
  frontend/src/pages/InternalTransferMemos/ITMDetail.tsx
  frontend/src/pages/InternalTransferMemos/ITRDetail.tsx
  frontend/src/pages/InternalTransferMemos/InternalTransferMemosList.tsx
  frontend/src/pages/InternalTransferMemos/components/ITMDeliverySection.tsx
  frontend/src/pages/InternalTransferMemos/config/itmList.config.tsx
  frontend/src/pages/InternalTransferMemos/hooks/useITMList.ts
  frontend/src/pages/projects/components/MaterialTableRow.tsx
  frontend/src/pages/projects/components/ProjectMaterialUsageTab.tsx
  frontend/src/pages/projects/hooks/useMaterialUsageData.ts
  nirmaan_stack/api/internal_transfers/get_itm.py
  nirmaan_stack/api/internal_transfers/get_itrs_list.py
  nirmaan_stack/api/internal_transfers/project_transfers.py
Labels: UI, backend

fix: removed itm patch
  nirmaan_stack/patches.txt
Labels: none

fix(bulk-download): harden socket cleanup and guard duplicate downloads
  frontend/src/components/common/BulkPdfDownloadButton.tsx
  frontend/src/pages/BulkDownload/useBulkDownloadWizard.ts
Labels: UI

fix(tds): auto-update Category and Work Package on item change in edit modal
  frontend/src/pages/tds/components/ProjectEditTDSItemModal.tsx
Labels: UI

fix: commented out redis usage in apis
  nirmaan_stack/api/customers/customer_financials.py
  nirmaan_stack/api/procurement_orders.py
  nirmaan_stack/api/projects/project_aggregates.py
  nirmaan_stack/api/projects/project_wise_invoice_data.py
Labels: backend

feat(pmo): add filters to task-wise table and update ITM tab columns
  frontend/src/pages/PMODashboard/components/TaskWiseTable.tsx
  frontend/src/pages/PMODashboard/pmo-dashboard-list.tsx
  frontend/src/pages/projects/components/ProjectTransferMemosTab.tsx
  frontend/src/pages/projects/data/root/useProjectRootApi.ts
  nirmaan_stack/api/internal_transfers/project_transfers.py
  nirmaan_stack/api/pmo_dashboard.py
Labels: UI, backend

refactor: adjust table column widths for improved layout in ProjectTransferMemosTab
  frontend/src/pages/projects/components/ProjectTransferMemosTab.tsx
Labels: UI

feat(itm): deduct dispatched ITM quantities from inventory and fix ITR detail card
  frontend/src/pages/InternalTransferMemos/ITRDetail.tsx
  nirmaan_stack/api/internal_transfers/get_inventory_picker_data.py
  nirmaan_stack/api/internal_transfers/get_itrs_list.py
  nirmaan_stack/api/inventory_item_wise.py
  nirmaan_stack/api/remaining_items_report.py
  nirmaan_stack/integrations/controllers/internal_transfer_request.py
Labels: UI, backend

feat(pmo): add task assignment system for PMO dashboard
  frontend/src/pages/PMODashboard/components/AssignPMODialog.tsx
  frontend/src/pages/PMODashboard/components/EditTaskModal.tsx
  frontend/src/pages/PMODashboard/components/TaskWiseTable.tsx
  frontend/src/pages/PMODashboard/pmo-project-detail.tsx
  frontend/src/pages/PMODashboard/utils.ts
  nirmaan_stack/api/pmo_dashboard.py
  nirmaan_stack/nirmaan_stack/doctype/pmo_project_task/pmo_project_task.json
Labels: UI, backend

feat(work-report): inline milestone config per header with multi-zone auto-seed
  frontend/src/pages/projects/ProjectWorkReportTab.tsx
  frontend/src/pages/projects/components/HeaderMilestonesCollapse.tsx
  frontend/src/pages/projects/components/SetupProgressTrackingDialog.tsx
  frontend/src/pages/projects/components/projectZoneEditSection.tsx
  nirmaan_stack/api/get_project_reports.py
  nirmaan_stack/api/milestone/get_header_milestones_preview.py
Labels: UI, backend

feat(milestones): add target progress tracking and header weightage
  frontend/src/components/workHeaderMilestones.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneDailySummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/DailyReportView.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReport.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/PDFDownloadButtons.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/hooks/useMilestoneReportData.ts
  frontend/src/pages/Manpower-and-WorkMilestones/hooks/useTargetProgress.ts
  frontend/src/pages/PackagesSettings/config/packageSettingsTabs.constants.ts
  nirmaan_stack/api/milestone/print_milestone_reports.py
  nirmaan_stack/fixtures/print_format.json
  nirmaan_stack/nirmaan_stack/doctype/work_headers/work_headers.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/backfill_work_headers_weightage.py
Labels: UI, backend

feat: Hsow the std Rate & implement responsive mobile layout for ServiceItemsAccordion components
  frontend/src/pages/ServiceRequests/sr-form/components/ServiceItemsAccordion.tsx
Labels: UI

feat: add PM site status badge to daily reports and improve manpower data persistence and seeding logic
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/DailyReportView.tsx
  nirmaan_stack/api/milestone/get_header_milestones_preview.py
Labels: UI, backend

fix: preserve existing milestone status when toggling instead of overwriting with default values
  nirmaan_stack/api/milestone/get_header_milestones_preview.py
Labels: backend

feat(milestones): restrict "Testing & Commissioning" milestones to Not Started / Completed
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/CopyReportButton.tsx
Labels: UI

feat(invoices): add facet filters to vendor invoice tables
  frontend/src/pages/tasks/invoices/components/PendingTasksTable.tsx
  frontend/src/pages/tasks/invoices/components/TaskHistoryTable.tsx
  frontend/src/pages/tasks/invoices/components/columns.tsx
  frontend/src/pages/tasks/invoices/constants.ts
Labels: UI

feat: grant accountants edit access to project invoices while restricting deletion to admins
  frontend/src/pages/ProjectInvoices/AllProjectInvoices.tsx
  frontend/src/pages/ProjectInvoices/config/projectInvoices.config.tsx
Labels: UI

fix(projects): grant EE access to Financials tab and remove duplicate WO Rate Card sidebar entry
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/projects/project.tsx
Labels: UI

feat(work-plan): redesign Activities view + add view tabs in Work Plan
  frontend/src/pages/projects/components/planning/CreateWorkplantask.tsx
  frontend/src/pages/projects/components/planning/EditMilestoneDialog.tsx
  frontend/src/pages/projects/components/planning/SevenDayPlanningTabs.tsx
  frontend/src/pages/projects/components/planning/SevendaysWorkPlan.tsx
  frontend/src/pages/projects/components/planning/WorkPlanOverview.tsx
  frontend/src/pages/tds/TDSApprovalList.tsx
Labels: UI

feat(planning-trackers): add project status filter & badge across Work/Material/Cashflow trackers
  frontend/src/components/common/ProjectStatusBadge.tsx
  frontend/src/components/common/ProjectStatusFilter.tsx
  frontend/src/components/common/projectStatus.ts
  frontend/src/pages/CashflowPlanTracker/cashflow-plan-tracker-list.tsx
  frontend/src/pages/CashflowPlanTracker/components/CashflowPlanProjectCard.tsx
  frontend/src/pages/CashflowPlanTracker/types/index.ts
  frontend/src/pages/MaterialPlanTracker/components/MaterialPlanProjectCard.tsx
  frontend/src/pages/MaterialPlanTracker/material-plan-tracker-list.tsx
  frontend/src/pages/MaterialPlanTracker/types/index.ts
  frontend/src/pages/WorkPlanTracker/components/WorkPlanProjectCard.tsx
  frontend/src/pages/WorkPlanTracker/types/index.ts
  frontend/src/pages/WorkPlanTracker/work-plan-tracker-list.tsx
  nirmaan_stack/api/seven_days_planning/get_projects_cashflow_plan_stats.py
  nirmaan_stack/api/seven_days_planning/get_projects_material_plan_stats.py
  nirmaan_stack/api/seven_days_planning/get_projects_with_stats.py
Labels: UI, backend

feat(material-plan): add delivery status field + redesign list/edit forms with role gating
  frontend/src/pages/projects/components/planning/AddMaterialPlanForm.tsx
  frontend/src/pages/projects/components/planning/EditMaterialPlanForm.tsx
  frontend/src/pages/projects/components/planning/SevenDaysMaterialPlan.tsx
  frontend/src/pages/projects/components/planning/WorkPlanReferencePanel.tsx
  frontend/src/pages/projects/data/material-plan/useMaterialPlanQueries.ts
  nirmaan_stack/nirmaan_stack/doctype/material_delivery_plan/material_delivery_plan.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/set_material_plan_delivery_status.py
Labels: UI, backend

feat( Inventory page): show make on Item-Wise page and key deductions by (item, make)
  frontend/src/pages/inventory/InventoryItemWisePage.tsx
  frontend/src/pages/inventory/hooks/useInventoryItemWise.ts
  frontend/src/pages/inventory/inventory.types.ts
  nirmaan_stack/api/inventory_item_wise.py
Labels: UI, backend

ITM creation flow (picker → ITR → ITM) : make picker, ITR creation, and ITR approval aware of (item, make)
  frontend/src/pages/InternalTransferMemos/Create/CreateITMPage.tsx
  frontend/src/pages/InternalTransferMemos/Create/TransferRequestPreviewDialog.tsx
  frontend/src/pages/InternalTransferMemos/Create/components/InventoryPickerTable.tsx
  frontend/src/pages/InternalTransferMemos/Create/types.ts
  nirmaan_stack/api/internal_transfers/approve_itr_items.py
  nirmaan_stack/api/internal_transfers/create_transfer_request.py
  nirmaan_stack/api/internal_transfers/get_inventory_picker_data.py
  nirmaan_stack/integrations/controllers/internal_transfer_request.py
Labels: UI, backend

ITM Delivery Note multi-make fix----
  frontend/src/pages/DeliveryNotes/ITMDeliveryNote.tsx
  frontend/src/pages/InternalTransferMemos/components/ITMDeliverySection.tsx
  nirmaan_stack/api/delivery_notes/create_itm_delivery_note.py
  nirmaan_stack/api/delivery_notes/get_delivery_notes.py
  nirmaan_stack/integrations/controllers/delivery_notes.py
Labels: UI, backend

feat: enable unassigned task editing for PMOs and update PMO Project Task doctype configuration
  frontend/src/pages/PMODashboard/pmo-project-detail.tsx
  nirmaan_stack/nirmaan_stack/doctype/pmo_project_task/pmo_project_task.json
Labels: UI, backend

central Warehouse with per-(item, make) stock tracking and ITR/ITM transfer
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/InternalTransferMemos/Create/hooks/useCreateITMs.ts
  frontend/src/pages/InternalTransferMemos/ITRDetail.tsx
  frontend/src/pages/InternalTransferMemos/config/itmList.config.tsx
  frontend/src/pages/Warehouse/RequestFromWarehouse.tsx
  frontend/src/pages/Warehouse/WarehouseStockPage.tsx
  frontend/src/pages/Warehouse/config/warehouseLedgerTable.config.tsx
  frontend/src/pages/Warehouse/config/warehouseStockTable.config.tsx
  frontend/src/pages/Warehouse/hooks/useWarehouseLedgerList.ts
  frontend/src/pages/Warehouse/hooks/useWarehouseStock.ts
  frontend/src/pages/Warehouse/hooks/useWarehouseStockList.ts
  nirmaan_stack/api/internal_transfers/get_itm.py
  nirmaan_stack/api/internal_transfers/get_itrs_list.py
  nirmaan_stack/api/remaining_items_report.py
  nirmaan_stack/api/warehouse/__init__.py
  nirmaan_stack/api/warehouse/get_warehouse_ledger.py
  nirmaan_stack/api/warehouse/get_warehouse_stock.py
  nirmaan_stack/api/warehouse/stock_helpers.py
  nirmaan_stack/integrations/controllers/internal_transfer_memo.py
  nirmaan_stack/integrations/controllers/warehouse_stock.py
  nirmaan_stack/nirmaan_stack/doctype/internal_transfer_memo/internal_transfer_memo.json
  nirmaan_stack/nirmaan_stack/doctype/internal_transfer_memo/internal_transfer_memo_list.js
  nirmaan_stack/nirmaan_stack/doctype/internal_transfer_request/internal_transfer_request.json
  nirmaan_stack/nirmaan_stack/doctype/internal_transfer_request/internal_transfer_request_list.js
  nirmaan_stack/nirmaan_stack/doctype/remaining_item_entry/remaining_item_entry.json
  nirmaan_stack/nirmaan_stack/doctype/remaining_items_report/remaining_items_report.py
  nirmaan_stack/nirmaan_stack/doctype/warehouse_stock_item/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/warehouse_stock_item/warehouse_stock_item.json
  nirmaan_stack/nirmaan_stack/doctype/warehouse_stock_item/warehouse_stock_item.py
  nirmaan_stack/nirmaan_stack/doctype/warehouse_stock_ledger/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/warehouse_stock_ledger/warehouse_stock_ledger.json
  nirmaan_stack/nirmaan_stack/doctype/warehouse_stock_ledger/warehouse_stock_ledger.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/warehouse_per_make_setup.py
Labels: UI, backend

fix: Chnages tab name Planned Activities VIEW AND Milestones View
  frontend/src/pages/projects/components/planning/SevendaysWorkPlan.tsx
Labels: UI

refactor: replace precomputed header targets with dynamic calculation in DailyReportView to improve accuracy and handle N/A status
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneDailySummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/MilestonesSummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/DailyReportView.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/hooks/useTargetProgress.ts
Labels: UI

refactor: replace direct project list fetching with centralized get_pmo_projects API call in TaskWiseTable
  frontend/src/pages/PMODashboard/components/TaskWiseTable.tsx
Labels: UI

fix: added version history for pmo task and design tracker; workplan project list chnages
  frontend/src/components/common/projectStatus.ts
  nirmaan_stack/api/seven_days_planning/get_projects_with_stats.py
  nirmaan_stack/nirmaan_stack/doctype/pmo_project_task/pmo_project_task.js
  nirmaan_stack/nirmaan_stack/doctype/pmo_project_task/pmo_project_task.json
  nirmaan_stack/nirmaan_stack/doctype/pmo_project_task/test_pmo_project_task.py
  nirmaan_stack/nirmaan_stack/doctype/project_design_tracker/project_design_tracker.json
Labels: UI, backend

fix: added info for project columns and renamed some financial fields
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/reports/components/columns/projectColumns.tsx
Labels: UI

feat: show preview-before-download dialog for Pending TDS exports
  frontend/src/pages/projects/TDSRepository/TDSRepositoryView.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsExportDialog.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsPdfReadyDialog.tsx
  frontend/src/pages/projects/TDSRepository/components/index.ts
Labels: UI

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
