Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

feat(vendors): Vendor Ledger and Material Orders PDF downloads
  frontend/src/pages/vendors/components/POVendorLedger.tsx
  frontend/src/pages/vendors/components/VendorMaterialOrdersTable.tsx
  frontend/src/pages/vendors/components/VirtualizedLedgerTable.tsx
  frontend/src/pages/vendors/print/vendor-ledger-printformat.html
  frontend/src/pages/vendors/print/vendor-material-orders-printformat.html
  frontend/src/pages/vendors/utils/vendorLedgerStatement.test.ts
  frontend/src/pages/vendors/utils/vendorLedgerStatement.ts
  frontend/src/utils/downloadPrintFormatPdf.ts
  nirmaan_stack/api/vendor/vendor_ledger_statement.py
  nirmaan_stack/fixtures/print_format.json
  nirmaan_stack/services/test_vendor_ledger.py
  nirmaan_stack/services/vendor_ledger.py
Labels: UI, backend

feat(payments): Upload / Edit invoice on Paid Non Project Expenses
  frontend/src/pages/NonProjectExpenses/components/UpdateInvoiceDetailsDialog.tsx
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/config/approvalColumns.tsx
  frontend/src/pages/ProjectPayments/config/approvalsTable.config.ts
  frontend/src/pages/ProjectPayments/config/queueRowActions.test.ts
  frontend/src/pages/ProjectPayments/config/queueRowActions.ts
  nirmaan_stack/api/approvals/get_approval_queue.py
Labels: UI, backend

fix(payments): refuse a future invoice date; document the invoice upload
  .claude/CHANGELOG.md
  .claude/context/domain/expenses.md
  frontend/.claude/CHANGELOG.md
  frontend/.claude/context/role-access.md
  frontend/src/pages/NonProjectExpenses/components/UpdateInvoiceDetailsDialog.tsx
Labels: UI

feat(rate-helper): a dropdown offers only what can still price, and a note says what the pricing reads; HVAC v26
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.test.ts
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/config_validation.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v26.json
Labels: UI, backend

docs(12c-S): the slice as built, and the five durable rules it leaves behind
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

test(parity): calculator = panel, driven over both real paths, every discipline
  frontend/src/pages/pricing/__fixtures__/parityCorpus.json
  frontend/src/pages/pricing/__fixtures__/parityMaster.json
  frontend/src/pages/pricing/calculatorPanelParity.awaiting.ts
  frontend/src/pages/pricing/calculatorPanelParity.harness.ts
  frontend/src/pages/pricing/calculatorPanelParity.test.ts
Labels: UI

docs(12c-P): the parity slice as built, the four divergence causes, and the rule it leaves behind
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(hod): upload your own file on any handover document
  frontend/src/pages/HandoverDocuments/DocumentDialog.tsx
  frontend/src/pages/HandoverDocuments/HodActionCell.tsx
  frontend/src/pages/HandoverDocuments/HodGuideDialog.tsx
  frontend/src/pages/HandoverDocuments/SystemChecklist.tsx
  frontend/src/pages/HandoverDocuments/UploadSection.tsx
  frontend/src/pages/HandoverDocuments/hodApi.ts
  frontend/src/pages/HandoverDocuments/hodRules.test.ts
  frontend/src/pages/HandoverDocuments/hodRules.ts
  frontend/src/pages/HandoverDocuments/types.ts
  nirmaan_stack/api/hod/binder.py
  nirmaan_stack/api/hod/document_pdf.py
  nirmaan_stack/integrations/controllers/project_hod_document.py
  nirmaan_stack/services/hod/checklist.py
  nirmaan_stack/services/hod/index.py
  nirmaan_stack/services/hod/test_hod_services.py
Labels: UI, backend

fix: model-read values match their dropdown option; the calculator offers convertible units
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.ts
  frontend/src/pages/boq-wizard/rate-helper/modelValueMatching.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/pricing/calculatorPanelParity.awaiting.ts
  frontend/src/pages/pricing/calculatorPanelParity.harness.ts
  frontend/src/pages/pricing/calculatorPanelParity.test.ts
Labels: UI

style: the note boxes match the approved option A
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.test.ts
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
  frontend/src/pages/boq-wizard/rate-helper/noteBoxStyle.test.ts
Labels: UI

docs: slice 12c-F as built, and the rule a model-read value now follows
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(hod): lay the O&M Manual out page by page, filled to the box
  frontend/src/pages/HandoverDocuments/print-formats/hod-document.html
  nirmaan_stack/api/hod/binder.py
  nirmaan_stack/api/hod/document_pdf.py
  nirmaan_stack/api/hod/om_fit.py
  nirmaan_stack/api/hod/page_frame.py
  nirmaan_stack/api/hod/print_context.py
  nirmaan_stack/fixtures/hod_library_content.json
  nirmaan_stack/fixtures/print_format.json
  nirmaan_stack/services/hod/pages.py
  nirmaan_stack/services/hod/test_hod_services.py
Labels: backend

test: the rate-file tests follow the owner's columns and explanation row
  nirmaan_stack/api/boq/test_spec_reader.py
Labels: backend

test: tests clean up after themselves; ai_settings and ceo_hold independent
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/api/boq/test_spec_reader.py
  nirmaan_stack/api/boq/wizard/test_ai_settings.py
  nirmaan_stack/nirmaan_stack/doctype/ceo_hold_reason/test_ceo_hold_reason.py
Labels: backend

feat(hod): Do's & Don'ts fill their sheet; HVAC O&M laid out page by page
  frontend/src/pages/HandoverDocuments/print-formats/hod-document.html
  nirmaan_stack/api/hod/om_fit.py
  nirmaan_stack/api/hod/print_context.py
  nirmaan_stack/fixtures/hod_library_content.json
  nirmaan_stack/fixtures/print_format.json
  nirmaan_stack/services/hod/pages.py
  nirmaan_stack/services/hod/test_hod_services.py
Labels: backend

test: a DOM test environment (jsdom, opt-in per file) and the first grid cell-by-cell test
  frontend/CLAUDE.md
  frontend/package.json
  frontend/src/pages/pricing/rate-master/RateMasterDataViewer.dom.test.tsx
  frontend/vitest.config.ts
  frontend/yarn.lock
Labels: UI

docs: slice 12c-T as built
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(hod): progress status, a stakeholder logo page, and a binder dialog
  frontend/src/pages/HandoverDocuments/AddSystemDialog.tsx
  frontend/src/pages/HandoverDocuments/BinderDialog.tsx
  frontend/src/pages/HandoverDocuments/DocumentDialog.tsx
  frontend/src/pages/HandoverDocuments/HandoverDocumentsTab.tsx
  frontend/src/pages/HandoverDocuments/HeaderLogosDialog.tsx
  frontend/src/pages/HandoverDocuments/HodActionCell.tsx
  frontend/src/pages/HandoverDocuments/HodGuideDialog.tsx
  frontend/src/pages/HandoverDocuments/MaterialTdsDialog.tsx
  frontend/src/pages/HandoverDocuments/NoHandoverDocumentsView.tsx
  frontend/src/pages/HandoverDocuments/SystemChecklist.tsx
  frontend/src/pages/HandoverDocuments/UploadSection.tsx
  frontend/src/pages/HandoverDocuments/forms/SourcesView.tsx
  frontend/src/pages/HandoverDocuments/forms/TemplateForms.tsx
  frontend/src/pages/HandoverDocuments/hod-tracker-list.tsx
  frontend/src/pages/HandoverDocuments/hodRules.test.ts
  frontend/src/pages/HandoverDocuments/hodRules.ts
  frontend/src/pages/HandoverDocuments/print-formats/hod-checklist.html
  frontend/src/pages/HandoverDocuments/print-formats/hod-document.html
  frontend/src/pages/HandoverDocuments/types.ts
  frontend/src/pages/HandoverDocuments/useHodBinder.ts
  frontend/src/pages/projects/TDSRepository/components/TdsExportDialog.tsx
  nirmaan_stack/api/hod/binder.py
  nirmaan_stack/api/hod/header_roles.py
  nirmaan_stack/api/hod/print_context.py
  nirmaan_stack/api/hod/project_hod.py
  nirmaan_stack/api/hod/tracker.py
  nirmaan_stack/fixtures/print_format.json
  nirmaan_stack/integrations/controllers/project_hod_document.py
  nirmaan_stack/nirmaan_stack/doctype/project_hod_document/project_hod_document.json
  nirmaan_stack/services/hod/checklist.py
  nirmaan_stack/services/hod/header_logos.py
  nirmaan_stack/services/hod/index.py
  nirmaan_stack/services/hod/test_hod_services.py
Labels: UI, backend

fix(reports): PO Attachment Reconciliation invoice figures; add Latest Payment
  frontend/src/pages/reports/components/POAttachmentReconcileReport.tsx
  frontend/src/pages/reports/components/columns/poAttachmentReconcileColumns.tsx
  frontend/src/pages/reports/config/poAttachmentReconcileTable.config.ts
  frontend/src/pages/reports/hooks/usePOAttachmentReconcileData.ts
Labels: UI

feat(reports): Cheque Payment report under a renamed Payment tab
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/constants/roles.ts
  frontend/src/pages/PaymentTDSDeductions/PaymentTDSDeductions.tsx
  frontend/src/pages/reports/ReportsContainer.tsx
  frontend/src/pages/reports/components/ChequePaymentReport.tsx
  frontend/src/pages/reports/components/columns/chequePaymentColumns.tsx
  frontend/src/pages/reports/config/chequePaymentTable.config.test.ts
  frontend/src/pages/reports/config/chequePaymentTable.config.ts
  frontend/src/pages/reports/store/useReportStore.ts
  frontend/src/pages/reports/utils/chequePaymentExtras.ts
Labels: UI

feat(hod): one signed copy per package; per-document upload removed
  frontend/src/pages/HandoverDocuments/BinderDialog.tsx
  frontend/src/pages/HandoverDocuments/DocumentDialog.tsx
  frontend/src/pages/HandoverDocuments/HandoverDocumentsTab.tsx
  frontend/src/pages/HandoverDocuments/HeaderLogosDialog.tsx
  frontend/src/pages/HandoverDocuments/HodActionCell.tsx
  frontend/src/pages/HandoverDocuments/HodGuideDialog.tsx
  frontend/src/pages/HandoverDocuments/NoHandoverDocumentsView.tsx
  frontend/src/pages/HandoverDocuments/SystemChecklist.tsx
  frontend/src/pages/HandoverDocuments/forms/TemplateForms.tsx
  frontend/src/pages/HandoverDocuments/hodApi.ts
  frontend/src/pages/HandoverDocuments/hodRules.test.ts
  frontend/src/pages/HandoverDocuments/hodRules.ts
  frontend/src/pages/HandoverDocuments/types.ts
  nirmaan_stack/api/hod/binder.py
  nirmaan_stack/api/hod/document_pdf.py
  nirmaan_stack/api/hod/library.py
  nirmaan_stack/api/hod/package_files.py
  nirmaan_stack/api/hod/print_context.py
  nirmaan_stack/api/hod/project_hod.py
  nirmaan_stack/integrations/controllers/project_hod_document.py
  nirmaan_stack/nirmaan_stack/doctype/project_hod_package_file/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/project_hod_package_file/project_hod_package_file.json
  nirmaan_stack/nirmaan_stack/doctype/project_hod_package_file/project_hod_package_file.py
  nirmaan_stack/nirmaan_stack/doctype/project_hod_setting/project_hod_setting.json
  nirmaan_stack/nirmaan_stack/doctype/project_hod_setting/project_hod_setting.py
  nirmaan_stack/services/hod/checklist.py
  nirmaan_stack/services/hod/index.py
  nirmaan_stack/services/hod/test_hod_services.py
Labels: UI, backend

docs: rename CONTEXT.md to GLOSSARY.md for mattpocock/skills v1.3
  .claude/context/_index.md
  .claude/context/domain/expenses.md
  .claude/context/domain/non-project-inflows.md
  .claude/context/domain/projects.md
  .claude/context/domain/tds/phase-1-plan.md
  .claude/context/domain/tds/phase-2-plan.md
  .claude/context/domain/tds/phase-3-plan.md
  CLAUDE.md
  GLOSSARY.md
  docs/GLOSSARY.md
  docs/adr/0002-loss-justification-scope.md
  docs/adr/0002-project-action-items-materialized-projection.md
  docs/adr/0007-vendor-scoped-credit-application.md
  docs/adr/0010-module-residence-rules.md
  docs/adr/0011-boq-concurrency-locking.md
  docs/adr/0014-invoice-mutation-permissions.md
  docs/adr/0027-many-lines-one-expense.md
  docs/agents/domain.md
  docs/ceo_hold_delivery_pending_plan.md
  frontend/.claude/context/domain/vendor-hold.md
  frontend/.claude/plans/boq-create-from-template-plan.md
  frontend/.claude/plans/loss-justification-plan.md
  frontend/.claude/plans/non-project-inflows-plan.md
  frontend/.claude/plans/snag-list-plan.md
  frontend/CLAUDE.md
  frontend/src/pages/ProjectPayments/paymentKind.ts
  frontend/src/pages/SnagList/types.ts
  frontend/src/pages/tasks/invoices/utils/invoiceApprovalAmounts.ts
  frontend/src/pages/tds/TDSItemDetail.tsx
  frontend/src/utils/invoiceAmounts.ts
  frontend/src/utils/workOrderGst.ts
  nirmaan_stack/services/invoice_amounts.py
  nirmaan_stack/services/test_work_order_payment_limit.py
  nirmaan_stack/services/work_order_gst.py
  nirmaan_stack/services/work_order_payment_limit.py
Labels: UI, backend

fix: no unit or rate-only prices in the item's single unit, or refuses naming its units; the parity list updated
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/pricing/calculatorPanelParity.awaiting.ts
  frontend/src/pages/pricing/calculatorPanelParity.test.ts
Labels: UI

fix: upload messages name the real Excel row
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/api/boq/test_spec_reader.py
  nirmaan_stack/services/boq_rate_master/csv_importer.py
  nirmaan_stack/services/boq_rate_master/xlsx_io.py
Labels: backend

docs: slice 12c-U as built
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat: the material default by row kind (family_when_none) + validator
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/boq-wizard/rate-helper/rateHelperTypes.ts
  frontend/src/pages/boq-wizard/rate-helper/rateSuggestionModel.test.ts
  frontend/src/pages/boq-wizard/rate-helper/rateSuggestionModel.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/config_validation.py
Labels: UI, backend

feat: foil on a pipe prices as 26G; acoustic foil refuses (value_map) + validator
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/config_validation.py
Labels: UI, backend

feat: "none of these" and a neutral "could not be told"; brand shown read-only
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/config_validation.py
Labels: UI, backend

feat: HVAC v27 - Insulation's model questions, cladding default, second opinion
  frontend/src/pages/pricing/__fixtures__/insulation12d1aRows.json
  frontend/src/pages/pricing/calculatorPanelParity.harness.ts
  frontend/src/pages/pricing/insulation12d1a.e2e.test.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v27.json
  nirmaan_stack/services/boq_rate_master/test_extraction_coercion.py
Labels: UI, backend

docs: slice 12d-1a as built
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(payments): Upload / Edit invoice on Paid Project Expenses too
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/config/approvalColumns.tsx
  frontend/src/pages/ProjectPayments/config/approvalsTable.config.ts
  frontend/src/pages/ProjectPayments/config/queueRowActions.test.ts
  frontend/src/pages/ProjectPayments/config/queueRowActions.ts
Labels: UI

chore(routes): remove the /payment-tds-deductions redirect
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/constants/roles.ts
  frontend/src/pages/PaymentTDSDeductions/PaymentTDSDeductions.tsx
Labels: UI

feat(payments): selection total on "Payment need to paid", rename its exports
  frontend/src/components/data-table/new-data-table.tsx
  frontend/src/pages/ProjectPayments/approve-payments/components/BulkActionBar.tsx
  frontend/src/pages/ProjectPayments/bulkSelectionSummary.test.ts
  frontend/src/pages/ProjectPayments/bulkSelectionSummary.ts
  frontend/src/pages/ProjectPayments/components/SelectionTotalPill.tsx
  frontend/src/pages/ProjectPayments/update-payment/AccountantTabs.tsx
Labels: UI

feat(po-list): add "Payable Amt against Delivered Items", rename PO Value
  frontend/src/pages/ProcurementOrders/purchase-order/config/purchaseOrdersTable.config.ts
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
Labels: UI

feat(project-po-summary): add Invoice Amount column after PO Value
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
Labels: UI

feat(payments): hide the "Payments Pending" tab
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
Labels: UI

fix: a stated thickness is read before any default; an unreadable one refuses
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.ts
Labels: UI

feat: several thicknesses read as the highest; the size schedule note
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/config_validation.py
Labels: UI, backend

feat: double layers expand through the composition path, cladding on the outer only
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
Labels: UI

feat: HVAC v28 - "none of these" names the material; model-call tests name their categories
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.ts
  frontend/src/pages/pricing/__fixtures__/insulation12d1bRows.json
  frontend/src/pages/pricing/insulation12d1b.e2e.test.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/config_validation.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v28.json
  nirmaan_stack/services/boq_rate_master/test_extraction_coercion.py
Labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
