Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

fix: added a +10 delta for validation and rounded amount to its nearest integer while saving the amount to database
  nirmaan_stack/api/payments/project_payments.py
Labels: backend

fix: modified delete_doc_versions function to be more robust while handling datetime objects serailiazation
  nirmaan_stack/integrations/controllers/delete_doc_versions.py
Labels: backend

fix: minor bug fix in update payment screenshot handler
  frontend/src/pages/vendors/hooks/usePaymentScreenshotHandler.ts
Labels: UI

fix: fixed vendor docs fetching
  frontend/src/config/queryKeys.ts
  frontend/src/pages/reports/hooks/usePOReportsData.ts
Labels: UI

fix: updated sr invoice print format and added a backend util api for generating invoice no, added two fields for invoice_no and invoice_date in service requests doctype
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/types/NirmaanStack/ServiceRequests.ts
  nirmaan_stack/api/invoice_utils.py
  nirmaan_stack/fixtures/print_format.json
  nirmaan_stack/nirmaan_stack/doctype/service_requests/service_requests.json
Labels: UI, backend

feat: refactored select vendors quotes flow for both sent back and procurement requests
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/config/queryKeys.ts
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/components/VendorApprovalTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgressContainer.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgressView.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/GenerateRFQDialog.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/ItemVendorMakeSelection.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/RevertPRDialog.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useProcurementActions.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useProcurementDocument.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useProcurementProgressLogic.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useProcurementRequestDoc.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useProcurementUpdates.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useRFQManager.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useTargetRatesForItems.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useUsersForLookup.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useVendorsList.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/render-procurement-requests.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/types/index.ts
  frontend/src/pages/ProcurementRequests/render-procurement-requests.tsx
  frontend/src/pages/Sent Back Requests/RenderSentBackComponent.tsx
  frontend/src/types/NirmaanStack/ProcurementRequests.ts
  frontend/src/types/NirmaanStack/SentBackCategory.ts
Labels: UI

fix: removed masking for account number in the bank account details card
  frontend/src/pages/vendors/components/VendorBankDetailsCard.tsx
Labels: UI

feat: added a new tab called Approved Quotes, vendor dependent
  frontend/src/pages/vendors/components/VendorApprovedQuotesTable.tsx
  frontend/src/pages/vendors/components/VendorBankDetailsCard.tsx
  frontend/src/pages/vendors/components/VendorMaterialOrdersTable.tsx
  frontend/src/pages/vendors/components/VendorOverviewCard.tsx
  frontend/src/pages/vendors/components/VendorPaymentsTable.tsx
  frontend/src/pages/vendors/vendor.tsx
Labels: UI

chores: minor fixes
  frontend/src/components/data-table/data-table-faceted-filter.tsx
  frontend/src/components/helpers/SelectUnit.tsx
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/pages/ApprovedQuotationsFlow/ApprovedQuotationsTable.tsx
  frontend/src/pages/DeliveryNotes/components/deliveryNoteItemsDisplay.tsx
  frontend/src/pages/Items/itemsPage.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/ProjectPayments/update-payment/AccountantTabs.tsx
  frontend/src/pages/ProjectPayments/update-payment/UpdatePaymentDialog.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/types/NirmaanStack/ServiceRequests.ts
Labels: UI

feat: Approved SR flow refactor is in progress
  frontend/src/pages/ServiceRequests/approved-sr/ApprovedSRPage.tsx
  frontend/src/pages/ServiceRequests/approved-sr/ApprovedSRView.tsx
  frontend/src/pages/ServiceRequests/approved-sr/components/SRActionButtons.tsx
  frontend/src/pages/ServiceRequests/approved-sr/components/SREditTermsDialog.tsx
  frontend/src/pages/ServiceRequests/approved-sr/components/SRFinancialSummary.tsx
  frontend/src/pages/ServiceRequests/approved-sr/components/SRHeaderInfo.tsx
  frontend/src/pages/ServiceRequests/approved-sr/components/SRInvoicePreviewSheet.tsx
  frontend/src/pages/ServiceRequests/approved-sr/components/SRItemsTable.tsx
  frontend/src/pages/ServiceRequests/approved-sr/components/SRNewPaymentDialog.tsx
  frontend/src/pages/ServiceRequests/approved-sr/components/SRNotesSection.tsx
  frontend/src/pages/ServiceRequests/approved-sr/components/SRPaymentsSection.tsx
  frontend/src/pages/ServiceRequests/approved-sr/components/SRRequestPaymentDialog.tsx
  frontend/src/pages/ServiceRequests/approved-sr/hooks/useApprovedSRData.ts
  frontend/src/pages/ServiceRequests/approved-sr/hooks/useSREditTerms.ts
  frontend/src/pages/ServiceRequests/approved-sr/hooks/useSRPaymentManager.ts
  frontend/src/pages/ServiceRequests/approved-sr/hooks/useSRWorkflowActions.ts
  frontend/src/pages/ServiceRequests/approved-sr/types/index.ts
Labels: UI

fix: moved sr invoice button to the invoice card, added a universal delete payment dialog component
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/TransactionDetailsCard.tsx
  frontend/src/pages/ProcurementRequests/NewPR/hooks/useProcurementRequestData.ts
  frontend/src/pages/ProcurementRequests/procurement-requests.tsx
  frontend/src/pages/ProjectPayments/update-payment/DeletePaymentDialog.tsx
  frontend/src/pages/ServiceRequests/RenderSRComponent.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
Labels: UI

fix: updated project material usage tab to include faceted filters and search filter, updated useServerDataTable to remove the old search params from the url when key changes
  frontend/src/hooks/useServerDataTable.ts
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  frontend/src/pages/projects/components/CategoryAccordionItem.tsx
  frontend/src/pages/projects/components/ProjectMaterialUsageTab.tsx
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  frontend/src/pages/projects/components/ProjectPRSummaryTable.tsx
  frontend/src/pages/projects/components/ProjectSRSummaryTable.tsx
  frontend/src/pages/projects/components/SimpleFacetedFilter.tsx
  frontend/src/pages/projects/components/VirtualizedMaterialTable.tsx
  frontend/src/pages/projects/config/materialUsageHelpers.ts
  frontend/src/pages/projects/hooks/useMaterialUsageData.ts
Labels: UI

fix: configured separate useServerDataTable hook instance for shared tables to avoid filters persistence from table to table
  frontend/src/hooks/useServerDataTable.ts
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  frontend/src/pages/ProcurementRequests/procurement-requests.tsx
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/Sent Back Requests/sent-back-request.tsx
Labels: UI

feat: created a new reusable select component with custom fuse.js search config on top of react select and made changes for item selections to adapt this in new pr and approve pr pages
  frontend/src/components/ui/fuzzy-search-select.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRView.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/AddItemForm.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useApprovePRLogic.ts
  frontend/src/pages/ProcurementRequests/NewPR/NewProcurementRequestPage.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/ItemSelectorControls.tsx
  frontend/src/pages/ProcurementRequests/NewPR/hooks/useProcurementRequestForm.ts
  frontend/src/pages/ProcurementRequests/NewPR/hooks/useSubmitProcurementRequest.ts
Labels: UI

chores: data addition via new columns and minor fixes
  frontend/src/pages/ProjectPayments/update-payment/AccountantTabs.tsx
  frontend/src/pages/ProjectPayments/update-payment/UpdatePaymentDialog.tsx
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  frontend/src/pages/projects/components/ProjectPRSummaryTable.tsx
  frontend/src/pages/projects/components/ProjectSRSummaryTable.tsx
Labels: UI

fix: minor fix for print format
  nirmaan_stack/fixtures/print_format.json
Labels: backend

feat: docs folder and auto approve POs till value 20000
  .gitignore
  DEVELOPMENT_GUIDE.md
  docs/architecture_diagram.md
  docs/coding_standards.md
  docs/feature_development_examples.md
  nirmaan_stack/integrations/controllers/procurement_requests.py
  nirmaan_stack/nirmaan_stack/doctype/auto_approval_counter_settings/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/auto_approval_counter_settings/auto_approval_counter_settings.js
  nirmaan_stack/nirmaan_stack/doctype/auto_approval_counter_settings/auto_approval_counter_settings.json
  nirmaan_stack/nirmaan_stack/doctype/auto_approval_counter_settings/auto_approval_counter_settings.py
  nirmaan_stack/nirmaan_stack/doctype/auto_approval_counter_settings/test_auto_approval_counter_settings.py
Labels: backend

fix: select vendor quotes table ui fix and routing fix, minor ui fixes
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgressView.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useProcurementProgressLogic.ts
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
Labels: UI

fix: request and delete sr payment bug fix
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  nirmaan_stack/services/finance.py
Labels: UI, backend

feat: added cypress tests
  frontend/cypress/e2e/add-new_vendor.cy.ts
  frontend/cypress/e2e/add_new_pr.cy.ts
  frontend/cypress/e2e/add_new_product.cy.ts
  frontend/cypress/e2e/add_new_project.cy.ts
  frontend/cypress/e2e/add_new_sr.cy.ts
  frontend/cypress/e2e/add_new_user.cy.ts
  frontend/cypress/e2e/approve_custom_pr.cy.ts
  frontend/cypress/e2e/approve_normal_pr.cy.ts
  frontend/cypress/e2e/approve_service_order.cy.ts
  frontend/cypress/e2e/in_progress_service_order.cy.ts
  frontend/cypress/e2e/login.cy.ts
  frontend/cypress/e2e/pr_end_to_end.cy.ts
  frontend/cypress/e2e/vendor_quotes.cy.ts
Labels: none

fix: necessary changes for enabling cypress tests
  frontend/cypress.config.ts
  frontend/src/components/data-table/data-table.tsx
  frontend/src/components/data-table/new-data-table.tsx
  frontend/src/components/helpers/QtyandQuoteInput.tsx
  frontend/src/components/helpers/renderRightActionButton.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/layout/dashboards/dashboard-default.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/ActionButtons.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/ApproveRejectVendorQuotesView.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/components/VendorApprovalTable.tsx
  frontend/src/pages/ProcurementRequests/NewPR/NewCustomPR.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgress.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgressView.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/AddVendorsDialog.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/ItemVendorMakeSelection.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/ModeSwitcher.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/RevertPRDialog.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-vendor.tsx
  frontend/src/pages/ProcurementRequests/procurement-requests.tsx
  frontend/src/pages/ServiceRequests/ServiceRequestsTabs.tsx
  frontend/src/pages/auth/old-login.tsx
  frontend/src/pages/projects/project-form.tsx
Labels: UI

fix: patch to populate dispatch_date for POs
  frontend/src/types/NirmaanStack/ProcurementOrders.ts
  nirmaan_stack/nirmaan_stack/doctype/procurement_orders/procurement_orders.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_4/po_dispatch_date.py
Labels: UI, backend

feat: added dispatch_date actions for po
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

fix: patch fic for dispatch date for POs
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_4/po_dispatch_date.py
Labels: backend

feat: modified reports to support server tables, segregated PO and SR, and added new PO report showing dispatched for more than 3 days
  frontend/src/config/queryKeys.ts
  frontend/src/hooks/useServerDataTable.ts
  frontend/src/pages/reports/ReportsContainer.tsx
  frontend/src/pages/reports/components/ProjectReports.tsx
  frontend/src/pages/reports/components/SRReports.tsx
  frontend/src/pages/reports/components/columns/poColumns.tsx
  frontend/src/pages/reports/components/columns/projectColumns.tsx
  frontend/src/pages/reports/components/columns/srColumns.tsx
  frontend/src/pages/reports/config/poReportsTable.config.ts
  frontend/src/pages/reports/config/projectReportsTable.config.ts
  frontend/src/pages/reports/config/srReportsTable.config.ts
  frontend/src/pages/reports/constants.ts
  frontend/src/pages/reports/hooks/usePOReportsData.ts
  frontend/src/pages/reports/hooks/useProjectReportCalculations.ts
  frontend/src/pages/reports/hooks/useProjectReportsData.ts
  frontend/src/pages/reports/hooks/useSRReportsData.ts
  frontend/src/pages/reports/store/useReportStore.ts
  frontend/src/utils/tableFilters.ts
Labels: UI

feat: working on migrating json fields to child tables
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-vendor.tsx
  nirmaan_stack/nirmaan_stack/doctype/procurement_request_item_detail/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/procurement_request_item_detail/procurement_request_item_detail.json
  nirmaan_stack/nirmaan_stack/doctype/procurement_request_item_detail/procurement_request_item_detail.py
  nirmaan_stack/nirmaan_stack/doctype/procurement_requests/procurement_requests.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_7/migrate_pr_procurement_list_to_child_table.py
Labels: UI, backend

feat: child table configurations
  frontend/src/hooks/useProcurementRequest.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-vendor.tsx
  frontend/src/types/NirmaanStack/ProcurementRequests.ts
Labels: UI

feat: projects "project_work_packages" json field migration to child table in progress
  frontend/src/pages/projects/edit-project-form.tsx
  frontend/src/pages/projects/project-form.tsx
  frontend/src/types/NirmaanStack/Projects.ts
  nirmaan_stack/api/projects/new_project.py
  nirmaan_stack/nirmaan_stack/doctype/project_work_package_category_make/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/project_work_package_category_make/project_work_package_category_make.json
  nirmaan_stack/nirmaan_stack/doctype/project_work_package_category_make/project_work_package_category_make.py
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_7/migrate_project_wp_to_child_tables.py
Labels: UI, backend

feat: adapted the new procurement request flow to use new order_list child table field and also get the initial work packages from the projects new child table field
  frontend/src/pages/ProcurementRequests/NewPR/NewProcurementRequestPage.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/NewItemDialog.tsx
  frontend/src/pages/ProcurementRequests/NewPR/hooks/useSubmitProcurementRequest.ts
  frontend/src/pages/ProcurementRequests/NewPR/types/index.ts
  frontend/src/types/NirmaanStack/ProcurementRequests.ts
  nirmaan_stack/integrations/controllers/procurement_requests.py
Labels: UI, backend

feat: updated approve new pr flow to adapt to the order_list child tables
  frontend/src/components/pr-summary.tsx
  frontend/src/components/procurement-request/list-pr.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRContainer.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRView.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/ApprovePRHeader.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/EditItemDialog.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/ItemListSection.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/ItemListTable.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/NewItemDialog.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/RequestedItemTable.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/RequestedItemsSection.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useApprovePRLogic.ts
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useRelatedPRData.ts
  frontend/src/pages/ProcurementRequests/ApproveNewPR/types/index.ts
  frontend/src/pages/ProcurementRequests/NewPR/NewProcurementRequestPage.tsx
Labels: UI

feat: updated projects components to adapt to the project_wp_category_makes child table configurations
  frontend/src/pages/projects/CategoryAccordion.tsx
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/ProjectMakesTab.tsx
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  frontend/src/pages/projects/ProjectSpendsTab.tsx
  frontend/src/pages/projects/edit-project-form.tsx
  frontend/src/pages/projects/hooks/useMaterialUsageData.ts
  frontend/src/pages/projects/project-form.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/types/NirmaanStack/Projects.ts
Labels: UI

feat: updated Sent Back Category schema to accommodate new child table type field order_list and updated flows to adapt this change
  frontend/src/hooks/useSentBackCategory.ts
  frontend/src/pages/Sent Back Requests/ApproveSBSQuotesContainer.tsx
  frontend/src/pages/Sent Back Requests/SBQuotesSelectionReview.tsx
  frontend/src/pages/Sent Back Requests/hooks/useSentBackCategoryDoc.ts
  frontend/src/pages/Sent Back Requests/sent-back-summary.tsx
  frontend/src/types/NirmaanStack/SentBackCategory.ts
  nirmaan_stack/nirmaan_stack/doctype/procurement_request_item_detail/procurement_request_item_detail.json
  nirmaan_stack/nirmaan_stack/doctype/sent_back_category/sent_back_category.json
  nirmaan_stack/patches/v2_7/migrate_sbc_item_list_to_child_table.py
Labels: UI, backend

feat: updated procurment requests flows to adapt to the child table changes
  frontend/src/components/helpers/ApproveVendorQuotesPRorSBAntDTable.tsx
  frontend/src/hooks/useProcurementRequest.ts
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRContainer.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/ApproveRejectVendorQuotesContainer.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/ApproveRejectVendorQuotesView.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/components/DelayedItemsTable.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/components/VendorApprovalTable.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/hooks/useApproveRejectLogic.ts
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/hooks/useApproveRejectPRDoc.ts
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/hooks/useApprovedQuotationsList.ts
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/hooks/useQuoteApprovalApi.ts
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/types/index.ts
  frontend/src/pages/ProcurementRequests/NewPR/NewProcurementRequestPage.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgressContainer.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgressView.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/ItemVendorMakeSelection.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useProcurementActions.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useProcurementProgressLogic.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useRFQManager.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-vendor.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/types/index.ts
  frontend/src/pages/Retired Components/ProcurementProgress.tsx
  nirmaan_stack/api/send_vendor_quotes.py
  nirmaan_stack/patches.txt
Labels: UI, backend

feat: updated sent back flows to adapt to the updated schema and added new items table field in procurment orders to migrate order_list field data
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-select-vendor.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/components/VendorApprovalTable.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/hooks/useApproveRejectLogic.ts
  frontend/src/pages/ProcurementRequests/config/prTable.config.ts
  frontend/src/pages/Retired Components/SentBackVendorQuotes.tsx
  frontend/src/pages/Sent Back Requests/ApproveSBSQuotesContainer.tsx
  frontend/src/pages/Sent Back Requests/ApproveSBSQuotesView.tsx
  frontend/src/pages/Sent Back Requests/approve-select-sent-back.tsx
  frontend/src/pages/Sent Back Requests/config/sentBackCategoryTables.config.ts
  frontend/src/pages/Sent Back Requests/hooks/useApproveSBSLogic.ts
  frontend/src/pages/Sent Back Requests/hooks/useSBQuoteApprovalApi.ts
  frontend/src/pages/Sent Back Requests/sent-back-request.tsx
  frontend/src/types/NirmaanStack/ProcurementOrders.ts
  nirmaan_stack/api/approve_reject_sb_vendor_quotes.py
  nirmaan_stack/api/data-table.py
  nirmaan_stack/api/reject_vendor_quotes.py
  nirmaan_stack/api/send_vendor_quotes.py
  nirmaan_stack/integrations/controllers/procurement_requests.py
  nirmaan_stack/nirmaan_stack/doctype/procurement_orders/procurement_orders.json
  nirmaan_stack/nirmaan_stack/doctype/procurement_orders/procurement_orders.py
  nirmaan_stack/nirmaan_stack/doctype/purchase_order_item/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/purchase_order_item/purchase_order_item.json
  nirmaan_stack/nirmaan_stack/doctype/purchase_order_item/purchase_order_item.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_7/migrate_po_order_list_to_child_table.py
Labels: UI, backend

fix:Login Ui,frgt Ui,Scrollbar
  frontend/src/App.tsx
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/index.css
  frontend/src/pages/auth/Login.tsx
  frontend/src/pages/auth/components/banner.tsx
  frontend/src/pages/auth/forgot-password.tsx
  frontend/src/pages/auth/old-login.tsx
  frontend/src/pages/dashboard.tsx
Labels: UI

feat:Project Invoice ( Nav & Tab)
  frontend/src/components/custom-select/category-select.tsx
  frontend/src/components/custom-select/work-package-select.tsx
  frontend/src/components/helpers/renderRightActionButton.tsx
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/ProjectInvoices/AllProjectInvoices.tsx
  frontend/src/pages/ProjectInvoices/ProjectInvoices.tsx
  frontend/src/pages/ProjectInvoices/components/ProjectInvoiceDialog.tsx
  frontend/src/pages/ProjectInvoices/components/ProjectInvoiceTable.tsx
  frontend/src/pages/ProjectInvoices/config/projectInvoices.config.tsx
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  nirmaan_stack/hooks.py
  nirmaan_stack/nirmaan_stack/doctype/project_invoices/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/project_invoices/project_invoices.js
  nirmaan_stack/nirmaan_stack/doctype/project_invoices/project_invoices.json
  nirmaan_stack/nirmaan_stack/doctype/project_invoices/project_invoices.py
  nirmaan_stack/nirmaan_stack/doctype/project_invoices/test_project_invoices.py
Labels: UI, backend

fix: AQ + new Tan AQ2(based on Package & cat)
  frontend/src/pages/ApprovedQuotationsFlow/ApprovedQuotationsTable.tsx
  frontend/src/pages/ApprovedQuotationsFlow/approvedQuotations.constants.ts
  frontend/src/pages/Items/item.tsx
  frontend/src/pages/tasks/invoices/InvoiceReconciliationContainer.tsx
  frontend/src/pages/vendors-wp-categories/vendors-aq2.constants.ts
  frontend/src/pages/vendors-wp-categories/vendors-aq2.tsx
  frontend/src/types/NirmaanStack/ProjectInvoice.ts
  frontend/src/zustand/useDialogStore.ts
Labels: UI

fix:(tab res),PoReports filters,Project material total amount
  frontend/src/pages/ProcurementRequests/procurement-requests.tsx
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
  frontend/src/pages/projects/components/MaterialTableRow.tsx
  frontend/src/pages/projects/components/ProjectMaterialUsageTab.tsx
  frontend/src/pages/projects/components/VirtualizedMaterialTable.tsx
  frontend/src/pages/projects/hooks/useMaterialUsageData.ts
  frontend/src/pages/reports/components/POReports.tsx
  frontend/src/pages/reports/components/columns/poColumns.tsx
Labels: UI

fix:deliverynotes header & dynamic print
  frontend/src/pages/DeliveryNotes/components/DeliveryHistory.tsx
  frontend/src/pages/DeliveryNotes/components/DeliveryNotePrintLayout.tsx
  frontend/src/pages/DeliveryNotes/deliverynote.tsx
Labels: UI

fix:Admin print option by every updated in Delivery Notes
  frontend/src/pages/DeliveryNotes/components/DeliveryHistory.tsx
  frontend/src/pages/DeliveryNotes/components/DeliveryNotePrintLayout.tsx
  frontend/src/pages/DeliveryNotes/deliverynote.tsx
  frontend/src/pages/DeliveryNotes/hooks/usePrintHistroy.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementRequests/NewPR/store/useProcurementRequestStore.ts
Labels: UI
