Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

feat(boq): commit-results modal -- committed + failed enumeration (Phase 5 Slice 5 frontend)
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/CommitDialog.tsx
  frontend/src/pages/boq-wizard/CommitResultsModal.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
Labels: UI

docs(boq): record commit-results modal -- committed + failed enumeration (Phase 5 Slice 5 frontend)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(procurement): surface billing status across PO & DC/MIR screens; block DC/MIR for Non-Billable POs
  frontend/src/components/helpers/CriticalPOCell.tsx
  frontend/src/pages/DeliveryChallansAndMirs/components/UploadDCMIRDialog.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  frontend/src/pages/reports/components/DNDCQuantityReport.tsx
  frontend/src/pages/reports/hooks/useDNDCQuantityData.ts
Labels: UI

feat(boq): persist per-sheet parse-failure reason (stale/parser/insert) - reactive #166
  nirmaan_stack/api/boq/wizard/parse_run.py
  nirmaan_stack/api/boq/wizard/test_parse_run.py
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet_draft/boq_sheet_draft.json
Labels: backend

docs(boq): record Slice 1a parse reason-bundle (backend reason persistence)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): proactive stale-config detection via validate-on-read - get_stale_sheets (#166)
  nirmaan_stack/api/boq/wizard/parse_run.py
  nirmaan_stack/api/boq/wizard/test_parse_run.py
Labels: backend

docs(boq): record Slice 1b config staleness detection (validate-on-read endpoint)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat: wire Nirmaan Sales role (Exec + Lead) into the frontend, view-only
  frontend/src/components/helpers/renderRightActionButton.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/layout/dashboards/dashboard-sales.tsx
  frontend/src/pages/ProjectInvoices/ProjectInvoices.tsx
  frontend/src/pages/dashboard.tsx
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  frontend/src/pages/projects/components/AddCustomerPODialog.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/utils/auth/ProtectedRoute.tsx
  nirmaan_stack/api/projects/add_customer_po.py
Labels: UI, backend

feat(boq): commit round-trip reconciliation - faithful-capture verify per sheet
  nirmaan_stack/api/boq/wizard/commit_pipeline.py
  nirmaan_stack/api/boq/wizard/test_commit_pipeline.py
Labels: backend

docs(boq): record Slice 2 commit round-trip reconciliation (output-fidelity check)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(design-tracker): category add created hidden, zone-less tasks from Project page
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
Labels: UI

feat(sales): Customer PO access for Sales roles + optional PO number
  frontend/src/pages/projects/components/CustomerPODeatilsCard.tsx
  frontend/src/pages/projects/components/EditCustomerPODialog.tsx
  nirmaan_stack/api/projects/add_customer_po.py
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.json
Labels: UI, backend

feat(boq): persist per-sheet commit-failure reason + timestamp on the draft
  nirmaan_stack/api/boq/wizard/commit_pipeline.py
  nirmaan_stack/api/boq/wizard/test_commit_pipeline.py
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet_draft/boq_sheet_draft.json
Labels: backend

docs(boq): record Slice F1 durable commit-failure persistence (hub-readable)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): hub-card needs-attention indicator - stale/parse/commit signals (F2)
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/SheetCard.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
Labels: UI

docs(boq): record Slice F2 hub-card needs-attention indicator (frontend)
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): parse-completion modal shows per-sheet failure reasons (F3); F4 already done
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
Labels: UI

docs(boq): record Slice F3/F4 completion-modal failure reasons (frontend)
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

Rename commission report task statuses: Approved→Submitted, Completed→Client Accepted
  frontend/src/pages/CommissionReport/commission-report-list.tsx
  frontend/src/pages/CommissionReport/components/ApprovalActionDialog.tsx
  frontend/src/pages/CommissionReport/components/FilesCell.tsx
  frontend/src/pages/CommissionReport/components/FillReportButton.tsx
  frontend/src/pages/CommissionReport/components/GlobalApprovalsTable.tsx
  frontend/src/pages/CommissionReport/components/ProjectWiseCard.tsx
  frontend/src/pages/CommissionReport/components/ReportActionCell.tsx
  frontend/src/pages/CommissionReport/components/TaskWiseTable.tsx
  frontend/src/pages/CommissionReport/hooks/useCommissionMasters.ts
  frontend/src/pages/CommissionReport/project-commission-report-details.tsx
  frontend/src/pages/CommissionReport/types/index.ts
  frontend/src/pages/CommissionReport/utils.tsx
  nirmaan_stack/api/commission_report/get_team_summary.py
  nirmaan_stack/api/commission_report/get_tracker_list.py
  nirmaan_stack/nirmaan_stack/doctype/project_commission_report/project_commission_report.py
Labels: UI, backend

Commission reports: count-wise grouping + per-group conditional IR
  frontend/src/pages/CommissionReport/commission-printformat.html
  frontend/src/pages/CommissionReport/commission-template.json
  frontend/src/pages/CommissionReport/report-wizard/index.tsx
  frontend/src/pages/CommissionReport/report-wizard/prefill/resolve.ts
  frontend/src/pages/CommissionReport/report-wizard/renderer/ImageAttachmentSection.tsx
  frontend/src/pages/CommissionReport/report-wizard/renderer/MeasurementMatrixSection.tsx
  frontend/src/pages/CommissionReport/report-wizard/renderer/RepeatingGroupsSection.tsx
  frontend/src/pages/CommissionReport/report-wizard/renderer/SectionRenderer.tsx
  frontend/src/pages/CommissionReport/report-wizard/template-parser.ts
  frontend/src/pages/CommissionReport/report-wizard/types.ts
  nirmaan_stack/fixtures/commission_report_tasks.json
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

Commission reports: revert CCTV to generic + equipment-wise relabel
  frontend/src/pages/CommissionReport/commission-printformat.html
  frontend/src/pages/CommissionReport/commission-template.json
  nirmaan_stack/fixtures/commission_report_tasks.json
  nirmaan_stack/fixtures/print_format.json
Labels: backend

feat(boq): P4-1 ai suggestion fields + resolve_effective three-layer chain
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
  nirmaan_stack/nirmaan_stack/doctype/boq_review_row/boq_review_row.json
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet_draft/boq_sheet_draft.json
Labels: backend

docs(boq): record P4-1 ai suggestion fields + resolve_effective extension
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(boq): rename AI-pass slices P4-1 to AI-1 (collision with committed-model P4 arc)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): AI-2a BOQ Upload and Review AI Settings doctype + reader helpers
  nirmaan_stack/api/boq/wizard/ai_settings.py
  nirmaan_stack/api/boq/wizard/test_ai_settings.py
  nirmaan_stack/nirmaan_stack/doctype/boq_upload_review_ai_settings/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_upload_review_ai_settings/boq_upload_review_ai_settings.json
  nirmaan_stack/nirmaan_stack/doctype/boq_upload_review_ai_settings/boq_upload_review_ai_settings.py
Labels: backend

docs(boq): record AI-2a settings doctype + reader helpers
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): AI-2b anthropic ai-assist service (structure suggestions)
  nirmaan_stack/services/boq_ai_assist.py
  nirmaan_stack/services/test_boq_ai_assist.py
  pyproject.toml
Labels: backend

docs(boq): record AI-2b ai-assist service
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): AI-2c ai-pass endpoint + worker + socket + write-back + cache
  nirmaan_stack/api/boq/wizard/ai_assist.py
  nirmaan_stack/api/boq/wizard/test_ai_assist.py
Labels: backend

docs(boq): record AI-2c ai-pass endpoint + worker + socket
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): AI-2d ai_suggested_is_root - root suggestions representable + applied
  nirmaan_stack/api/boq/wizard/ai_assist.py
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_ai_assist.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
  nirmaan_stack/nirmaan_stack/doctype/boq_review_row/boq_review_row.json
  nirmaan_stack/services/boq_ai_assist.py
  nirmaan_stack/services/test_boq_ai_assist.py
Labels: backend

docs(boq): record AI-2d root-suggestion fix (contract gap closed)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(commission): zone-wise commissioning reports — Access Control + Duct Pressure
  frontend/.claude/plans/commission-zone-wise-plan.md
  frontend/src/pages/CommissionReport/report-wizard/AddZoneDialog.tsx
  frontend/src/pages/CommissionReport/report-wizard/ZoneTabBar.tsx
  frontend/src/pages/CommissionReport/report-wizard/index.tsx
  frontend/src/pages/CommissionReport/report-wizard/renderer/FieldsSection.tsx
  frontend/src/pages/CommissionReport/report-wizard/renderer/HeaderSection.tsx
  frontend/src/pages/CommissionReport/report-wizard/renderer/ImageAttachmentSection.tsx
  frontend/src/pages/CommissionReport/report-wizard/renderer/RepeatingGroupsSection.tsx
  frontend/src/pages/CommissionReport/report-wizard/renderer/SectionRenderer.tsx
  frontend/src/pages/CommissionReport/report-wizard/renderer/SignaturesSection.tsx
  frontend/src/pages/CommissionReport/report-wizard/types.ts
  nirmaan_stack/api/commission_report/update_task_response.py
  nirmaan_stack/fixtures/commission_report_tasks.json
Labels: UI, backend

feat(boq): AI-2e harden parse_ai_response to extract array from prose
  nirmaan_stack/services/boq_ai_assist.py
  nirmaan_stack/services/test_boq_ai_assist.py
Labels: backend

docs(boq): record AI-2e parse-response hardening (live cert finding)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): AI-3a AI-pass display + trigger (badges, status, poll-safe completion)
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/SheetReviewPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/review_screen.py
Labels: UI, backend

docs(boq): record AI-3a AI-pass display + trigger layer
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(boq): AI-3a fetch the 4 status/suggestion ai_* fields in get_review_rows
  nirmaan_stack/api/boq/wizard/review_screen.py
Labels: backend

docs(boq): record AI-3a all_fields fetch fix
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): AI-3b-1 accept/reject AI suggestions (non-modal: class + childless parent)
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  nirmaan_stack/api/boq/wizard/ai_assist.py
  nirmaan_stack/api/boq/wizard/test_ai_assist.py
Labels: UI, backend
