Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

docs(boq): ADR-0013 Amendment A2 + rectification-round plan + CONTEXT terms
  CONTEXT.md
  docs/adr/0013-boq-create-from-template.md
  frontend/.claude/plans/boq-create-from-template-plan.md
Labels: none

feat(boq): A2 create-from-template — mode chooser + user-entered single/multi-area quantities
  frontend/.claude/plans/boq-create-from-template-plan.md
  frontend/src/pages/boq-wizard/BoqPickerPage.tsx
  frontend/src/pages/boq-wizard/BoqUploadScreen.tsx
  frontend/src/pages/boq-wizard/DefineAreasDialog.tsx
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/SheetReviewPage.tsx
  frontend/src/pages/boq-wizard/TemplateCreateFlow.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/create_from_template.py
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_create_from_template.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
Labels: UI, backend

feat(boq): A2 rectify wave 1 -- one-screen mode selector, live-sum Total, insert-before-Total columns
  frontend/src/pages/boq-wizard/AreaQtyCells.tsx
  frontend/src/pages/boq-wizard/BoqPickerPage.tsx
  frontend/src/pages/boq-wizard/BoqUploadScreen.tsx
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/TemplateCreateFlow.tsx
  nirmaan_stack/api/boq/wizard/create_from_template.py
  nirmaan_stack/api/boq/wizard/test_create_from_template.py
Labels: UI, backend

fix(boq): template rows -- fill + maintain source_row_number ("Excel Row") on insert/delete
  nirmaan_stack/api/boq/wizard/commit_pipeline.py
  nirmaan_stack/api/boq/wizard/row_renumber.py
  nirmaan_stack/api/boq/wizard/template_edit.py
  nirmaan_stack/api/boq/wizard/template_rows.py
  nirmaan_stack/api/boq/wizard/test_row_renumber.py
  nirmaan_stack/api/boq/wizard/test_template_commit_grid.py
  nirmaan_stack/api/boq/wizard/test_template_edit.py
  nirmaan_stack/api/boq/wizard/test_template_rows.py
Labels: backend

fix(boq): template export -- blank rate/amount on unpriced rows (mirror pricing view)
  nirmaan_stack/api/boq/wizard/export_template_workbook.py
Labels: backend

feat(boq): template review -- block negative quantities + at-least-one-area finalize backstop
  frontend/src/pages/boq-wizard/AreaQtyCells.tsx
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/SheetReviewPage.tsx
  frontend/src/pages/boq-wizard/templateSelection.test.ts
  frontend/src/pages/boq-wizard/templateSelection.ts
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
Labels: UI, backend

docs(boq): A2 rectification round -- mark AS-BUILT + live-E2E-verified in plan
  frontend/.claude/plans/boq-create-from-template-plan.md
Labels: none

feat(boq): A2 rectify wave 2 -- from-scratch template priced export + editable area badges
  frontend/src/pages/boq-wizard/TemplateCreateFlow.tsx
  nirmaan_stack/api/boq/wizard/export_template_workbook.py
  nirmaan_stack/api/boq/wizard/export_writeback.py
  nirmaan_stack/api/boq/wizard/test_export_writeback.py
Labels: UI, backend

feat(boq): create-from-template Slice 3 -- templates-admin polish + parent-field wrap
  frontend/.claude/plans/boq-create-from-template-plan.md
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/boq-wizard/TemplateEditorPage.tsx
  frontend/src/pages/boq-wizard/TemplateRowsEditor.tsx
Labels: UI

chore(residence): reconcile b3 baseline 39->40 after rebase onto develop
  scripts/residence_baseline.json
Labels: none

fix(pr-list): stop tag-fetch URL from overrunning nginx's 8KB limit
  frontend/src/components/custom-select/project-select.tsx
  frontend/src/components/procurement-request/list-pr.tsx
  nirmaan_stack/api/projects/pr_summary.py
Labels: UI, backend

chore(dev): cap dev server request-header size to 8KB (match prod nginx)
  frontend/package.json
Labels: none

refactor: read attachments through frappe_gcp_attachment
  nirmaan_stack/api/boq/wizard/parse_run.py
  nirmaan_stack/api/boq/wizard/sheet_preview.py
  nirmaan_stack/api/frappe_s3_attachment.py
  nirmaan_stack/services/extraction/files.py
Labels: backend

feat(attachment): Change attachment repository and branch in workflow
  .github/workflows/build_push.yml
Labels: none

feat(boq-classification): HVAC ruleset v1 + proximity decay + raceway (HV-3)
  nirmaan_stack/services/boq_category/categories_hvac.json
  nirmaan_stack/services/boq_category/prompts/hvac_ai_category_prompt.md
  nirmaan_stack/services/boq_category/rules_hvac.json
  nirmaan_stack/services/boq_category/tests/test_decay.py
  nirmaan_stack/services/boq_category/tests/test_runner_hvac.py
Labels: backend

docs(boq): HV-3 slice record - ruleset v1, decay provisional-fit
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(commission): bulk approved-reports export + vendor approval workflow
  frontend/.claude/context/domain/commissioning-report-templates.md
  frontend/src/pages/CommissionReport/components/ApprovalActionDialog.tsx
  frontend/src/pages/CommissionReport/components/ApprovedReportsDialog.tsx
  frontend/src/pages/CommissionReport/components/GlobalApprovalsTable.tsx
  frontend/src/pages/CommissionReport/components/ReportActionCell.tsx
  frontend/src/pages/CommissionReport/project-commission-report-details.tsx
  nirmaan_stack/api/commission_report/bulk_download_reports.py
Labels: UI, backend

feat(boq-classification): nearest-hit ancestor resolution + mined ruleset v2 (HV-4)
  nirmaan_stack/services/boq_category/rules_hvac.json
  nirmaan_stack/services/boq_category/runner.py
  nirmaan_stack/services/boq_category/tests/test_runner_hvac.py
Labels: backend

docs(boq): HV-4 slice record - nearest-hit gated, v2 provisional
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): template review polish -- hide row-detail expander, inline delete, BoQ type column
  frontend/src/pages/boq-wizard/BoqProjectTab.tsx
  frontend/src/pages/boq-wizard/ReviewTree.tsx
Labels: UI

fix: add scheduled janitors for local disk leaks (temp downloads + orphan workbooks)
  nirmaan_stack/hooks.py
  nirmaan_stack/tasks/cleanup_orphan_private_files.py
  nirmaan_stack/tasks/cleanup_temp_downloads.py
  nirmaan_stack/tasks/janitor_log.py
Labels: backend

ui: update category filter layout to use flex-wrap and top-alignment in ApprovedReportsDialog
  frontend/src/pages/CommissionReport/components/ApprovedReportsDialog.tsx
Labels: UI

test(boq): S1 revised-BoQ schema + origin-gate regression tests (#1098)
  nirmaan_stack/api/boq/wizard/test_revision_schema.py
Labels: backend

feat(boq): S1 revised-BoQ schema + origin-gate audit (#1098)
  frontend/.claude/plans/boq-revised-upload-plan.md
  nirmaan_stack/nirmaan_stack/doctype/boq_review_row/boq_review_row.json
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet/boq_sheet.json
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet_draft/boq_sheet_draft.json
  nirmaan_stack/nirmaan_stack/doctype/boqs/boqs.json
Labels: backend

feat(boq): S4 revised-BoQ config column-diff carry (#1101)
  .claude/context/domain/boq-backend.md
  frontend/.claude/plans/boq-revised-upload-plan.md
  nirmaan_stack/api/boq/wizard/revision.py
  nirmaan_stack/api/boq/wizard/revision_carry.py
  nirmaan_stack/api/boq/wizard/test_column_carry.py
  nirmaan_stack/services/boq_revision/column_diff.py
  nirmaan_stack/services/boq_revision/test_column_diff.py
Labels: backend

feat(boq): S3 revised-BoQ sheet-mapping screen + seeding (#1100)
  .claude/context/domain/boq-backend.md
  frontend/.claude/context/domain/boq-frontend.md
  frontend/.claude/plans/boq-revised-upload-plan.md
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/RevisionIdentityPanel.tsx
  frontend/src/pages/boq-wizard/RevisionMappingPage.tsx
  frontend/src/pages/boq-wizard/SheetPairingRow.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  frontend/src/pages/boq-wizard/revisionMapping.test.ts
  frontend/src/pages/boq-wizard/revisionMapping.ts
  nirmaan_stack/api/boq/wizard/revision.py
  nirmaan_stack/api/boq/wizard/test_revision_mapping.py
  nirmaan_stack/services/boq_revision/__init__.py
  nirmaan_stack/services/boq_revision/normalize.py
  nirmaan_stack/services/boq_revision/sheet_match.py
  nirmaan_stack/services/boq_revision/test_normalize.py
  nirmaan_stack/services/boq_revision/test_sheet_match.py
Labels: UI, backend

feat(boq): S2 revised-BoQ entry -- Revise radio + picker + revision create (#1099)
  .claude/context/domain/boq-backend.md
  frontend/.claude/context/domain/boq-frontend.md
  frontend/.claude/plans/boq-revised-upload-plan.md
  frontend/src/pages/boq-wizard/BoqDropZone.tsx
  frontend/src/pages/boq-wizard/BoqMasterPanel.tsx
  frontend/src/pages/boq-wizard/BoqUploadScreen.tsx
  frontend/src/zustand/useBoqWizardStore.ts
  nirmaan_stack/api/boq/wizard/revision.py
  nirmaan_stack/api/boq/wizard/test_revision_entry.py
  nirmaan_stack/api/boq/wizard/upload_file.py
Labels: UI, backend

docs(boq): ADR-0014 + slice plan for Revised BoQ (wayfinder T9 close-out)
  docs/adr/0014-boq-revised-upload-and-carry.md
  frontend/.claude/plans/boq-revised-upload-plan.md
Labels: none

feat(boq): S4 revised-BoQ dangling-role flag on the config screen (#1101)
  .claude/context/domain/boq-backend.md
  frontend/.claude/context/domain/boq-frontend.md
  frontend/.claude/plans/boq-revised-upload-plan.md
  frontend/src/pages/boq-wizard/SheetConfigPanel.tsx
  frontend/src/pages/boq-wizard/SheetSpokePage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  frontend/src/pages/boq-wizard/revisionConfigFlags.test.ts
  frontend/src/pages/boq-wizard/revisionConfigFlags.ts
Labels: UI

feat(boq): S5a revised-BoQ row-match + review carry (#1102)
  .claude/context/domain/boq-backend.md
  frontend/.claude/plans/boq-revised-upload-plan.md
  nirmaan_stack/api/boq/wizard/parse_run.py
  nirmaan_stack/api/boq/wizard/review_carry.py
  nirmaan_stack/api/boq/wizard/test_review_carry.py
  nirmaan_stack/services/boq_revision/carry.py
  nirmaan_stack/services/boq_revision/row_match.py
  nirmaan_stack/services/boq_revision/test_carry.py
  nirmaan_stack/services/boq_revision/test_row_match.py
Labels: backend

feat(boq): S5b revised-BoQ review delta surfacing (#1103)
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/SheetReviewPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  frontend/src/pages/boq-wizard/revisionReviewDelta.test.ts
  frontend/src/pages/boq-wizard/revisionReviewDelta.ts
  nirmaan_stack/api/boq/wizard/review_carry.py
  nirmaan_stack/api/boq/wizard/review_screen.py
Labels: UI, backend

feat(boq): S7b revised-BoQ cross-BOQ rate carry frontend (#1106)
  frontend/.claude/plans/boq-revised-upload-plan.md
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/CrossBoqCarryDialog.test.ts
  frontend/src/pages/boq-wizard/CrossBoqCarryDialog.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
Labels: UI

feat(boq): S8 revised-BoQ commit overlay -- formula/remark/color/category carry (#1104)
  .claude/context/domain/boq-backend.md
  frontend/.claude/plans/boq-revised-upload-plan.md
  nirmaan_stack/api/boq/wizard/commit_overlay.py
  nirmaan_stack/api/boq/wizard/commit_pipeline.py
  nirmaan_stack/api/boq/wizard/test_commit_overlay.py
  nirmaan_stack/services/boq_category/persist.py
Labels: backend

fix(boq): S11 revised-BoQ hub removed-sheet advisory + confirm->hub bounce
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/RevisionMappingPage.tsx
  nirmaan_stack/api/boq/wizard/revision.py
  nirmaan_stack/api/boq/wizard/test_revision_mapping.py
Labels: UI, backend

feat(boq): S7a revised-BoQ cross-BOQ rate carry backend (#1105)
  .claude/context/domain/boq-backend.md
  nirmaan_stack/api/boq/wizard/commit_overlay.py
  nirmaan_stack/api/boq/wizard/cross_boq_carry.py
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/test_cross_boq_carry.py
Labels: backend

feat(boq): W1 Amendment B -- position-key row match, both-or-neither carry
  nirmaan_stack/api/boq/wizard/commit_overlay.py
  nirmaan_stack/api/boq/wizard/cross_boq_carry.py
  nirmaan_stack/api/boq/wizard/review_carry.py
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_commit_overlay.py
  nirmaan_stack/api/boq/wizard/test_cross_boq_carry.py
  nirmaan_stack/api/boq/wizard/test_review_carry.py
  nirmaan_stack/api/boq/wizard/test_revision_schema.py
  nirmaan_stack/nirmaan_stack/doctype/boq_review_row/boq_review_row.json
  nirmaan_stack/services/boq_revision/carry.py
  nirmaan_stack/services/boq_revision/row_match.py
  nirmaan_stack/services/boq_revision/test_carry.py
  nirmaan_stack/services/boq_revision/test_row_match.py
Labels: backend

docs(boq): ADR-0014 Amendment B -- position-key carry, entry un-lock, rate pin resolved
  docs/adr/0014-boq-revised-upload-and-carry.md
  docs/boq/HANDOFF-revised-boq-carry-amendment.md
  docs/boq/revised-boq-carry-amendment.html
  frontend/.claude/plans/boq-revised-upload-plan.md
Labels: none

fix(boq): revised-BoQ carry copies EFFECTIVE classification + parenting
  .claude/context/domain/boq-backend.md
  docs/adr/0014-boq-revised-upload-and-carry.md
  frontend/.claude/plans/boq-revised-upload-plan.md
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  frontend/src/pages/boq-wizard/revisionReviewDelta.test.ts
  frontend/src/pages/boq-wizard/revisionReviewDelta.ts
  nirmaan_stack/api/boq/wizard/review_carry.py
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_review_carry.py
  nirmaan_stack/services/boq_revision/carry.py
  nirmaan_stack/services/boq_revision/test_carry.py
Labels: UI, backend

feat(boq): W2 Amendment B -- review screen collapses to Copied / needs review
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  frontend/src/pages/boq-wizard/revisionReviewDelta.test.ts
  frontend/src/pages/boq-wizard/revisionReviewDelta.ts
  nirmaan_stack/api/boq/wizard/review_screen.py
Labels: UI, backend

chore(residence): reconcile f2 baseline 200->201 after rebase onto create-from-template
  scripts/residence_baseline.json
Labels: none
