Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

fix: amount Related & itemsHoverCard
  frontend/src/components/helpers/ItemsHoverCard.tsx
  frontend/src/pages/DeliveryNotes/components/DeliveryNotePrintLayout.tsx
  frontend/src/pages/DeliveryNotes/hooks/useDeliveryNoteData.ts
  frontend/src/pages/ProcurementOrders/amend-po/approve-select-amend-po.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPaymentTermsCard.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-select-vendor.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/components/VendorApprovalTable.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/hooks/useApproveRejectLogic.ts
  frontend/src/pages/ProcurementRequests/NewPR/components/EditItemDialog.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/ItemSelectorControls.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/ProcurementRequests/procurement-requests.tsx
  frontend/src/pages/Sent Back Requests/approve-select-sent-back.tsx
  frontend/src/pages/Sent Back Requests/sent-back-request.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-amend-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-service-request-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/select-service-vendor-list.tsx
  frontend/src/pages/customers/customers.tsx
  frontend/src/pages/projects/add-project-estimates.tsx
  frontend/src/types/NirmaanStack/ProcurementRequests.ts
  nirmaan_stack/api/send_vendor_quotes.py
Labels: UI, backend

fix: added doctype & patch changes
  nirmaan_stack/nirmaan_stack/doctype/procurement_orders/procurement_orders.json
  nirmaan_stack/nirmaan_stack/doctype/procurement_request_item_detail/procurement_request_item_detail.json
  nirmaan_stack/nirmaan_stack/doctype/purchase_order_item/purchase_order_item.json
  nirmaan_stack/nirmaan_stack/doctype/service_requests/service_requests.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_7/migrate_po_order_list_to_child_table.py
  nirmaan_stack/patches/v2_7/migrate_pr_procurement_list_to_child_table.py
  nirmaan_stack/patches/v2_7/migrate_project_wp_to_child_tables.py
  nirmaan_stack/patches/v2_7/migrate_sbc_item_list_to_child_table.py
Labels: backend

fix: item search fix for pr, po & sb tables
  frontend/src/pages/ProcurementOrders/purchase-order/config/purchaseOrdersTable.config.ts
  frontend/src/pages/ProcurementRequests/config/prTable.config.ts
  frontend/src/pages/ProcurementRequests/procurement-requests.tsx
  frontend/src/pages/Sent Back Requests/config/sentBackCategoryTables.config.ts
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  frontend/src/pages/vendors/components/VendorMaterialOrdersTable.tsx
  nirmaan_stack/api/data-table.py
Labels: UI, backend

feat: added latest payment date addition for POs
  nirmaan_stack/api/payments/project_payments.py
Labels: backend

feat/fix:Fin-Invoice-history-reports
  frontend/src/components/data-table/data-table-column-header.tsx
  frontend/src/config/queryKeys.ts
  frontend/src/pages/DeliveryNotes/components/DeliveryHistory.tsx
  frontend/src/pages/DeliveryNotes/components/DeliveryNotePrintLayout.tsx
  frontend/src/pages/DeliveryNotes/components/deliveryNoteItemsDisplay.tsx
  frontend/src/pages/DeliveryNotes/hooks/usePrintHistroy.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceTable.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/InvoiceDataDialog.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POAttachments.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/config/purchaseOrdersTable.config.ts
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  frontend/src/pages/credits/CreditsPage.tsx
  frontend/src/pages/credits/credits.constant.ts
  frontend/src/pages/credits/hooks/useCredits.ts
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/reports/components/POReports.tsx
  frontend/src/pages/reports/components/columns/poColumns.tsx
  frontend/src/pages/reports/components/columns/projectColumns.tsx
  frontend/src/pages/reports/config/poReportsTable.config.ts
  frontend/src/pages/reports/hooks/usePOReportsData.ts
  frontend/src/pages/reports/hooks/useProjectReportCalculations.ts
  frontend/src/types/NirmaanStack/POPaymentTerms.ts
  frontend/src/types/NirmaanStack/ProcurementOrders.ts
  nirmaan_stack/api/delivery_notes/update_delivery_note.py
Labels: UI, backend

fix: patch to rectify delivery data
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_7/delivery_data_update.py
Labels: backend

fix: negative amounts for project invoice & po invoice
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceDialog.tsx
  frontend/src/pages/ProjectInvoices/components/EditProjectInvoiceDialog.tsx
  frontend/src/pages/ProjectInvoices/components/NewProjectInvoiceDialog.tsx
  frontend/src/pages/ProjectInvoices/components/ProjectInvoiceDialog.tsx
Labels: UI

fix: compulsary payment date for non project expenses
  frontend/src/pages/NonProjectExpenses/NonProjectExpensesPage.tsx
  frontend/src/pages/NonProjectExpenses/components/NewNonProjectExpense.tsx
Labels: UI

fix: project expenses changes for sidebar and project selection
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/ProjectExpenses/AllProjectExpenses.tsx
  frontend/src/pages/ProjectExpenses/ProjectExpensesList.tsx
  frontend/src/pages/ProjectExpenses/components/EditProjectExpenseDialog.tsx
  frontend/src/pages/ProjectExpenses/components/NewProjectExpenseDialog.tsx
  frontend/src/pages/projects/components/ProjectExpenseTab.tsx
Labels: UI

fix:data-workflow & bug fix
  frontend/src/hooks/useOrderTotals.ts
  frontend/src/pages/DeliveryNotes/components/DeliveryHistory.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/TransactionDetailsCard.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRContainer.tsx
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/ProjectPayments/approve-payments/constants.ts
  frontend/src/pages/ProjectPayments/update-payment/AccountantTabs.tsx
  frontend/src/pages/credits/CreditsPage.tsx
  frontend/src/pages/credits/components/CreditsTableColumns.tsx.tsx
  frontend/src/pages/credits/credits.constant.ts
  frontend/src/pages/credits/hooks/useCredits.ts
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/reports/components/columns/projectColumns.tsx
  frontend/src/pages/reports/hooks/useProjectReportCalculations.ts
  nirmaan_stack/api/po_merge_and_unmerge.py
Labels: UI, backend

fix:console.log
  frontend/src/pages/DeliveryNotes/components/DeliveryNotePrintLayout.tsx
  frontend/src/pages/DeliveryNotes/components/deliveryNoteItemsDisplay.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPaymentTermsCard.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/components/VendorApprovalTable.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/hooks/useApproveRejectLogic.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/PaymentTermsDialog.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useProcurementActions.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useRFQManager.ts
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/ProjectPayments/update-payment/UpdatePaymentDialog.tsx
  nirmaan_stack/api/payments/project_payments.py
Labels: UI, backend

fix :error in PurchaseOrder
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
Labels: UI

feat: added card for non-project and project expenses table
  frontend/src/components/data-table/new-data-table.tsx
  frontend/src/hooks/useServerDataTable.ts
  frontend/src/pages/NonProjectExpenses/NonProjectExpensesPage.tsx
  frontend/src/pages/ProjectExpenses/AllProjectExpenses.tsx
  frontend/src/pages/ProjectExpenses/ProjectExpensesList.tsx
  frontend/src/pages/ProjectPayments/hooks/useRequestPayment.ts
  nirmaan_stack/api/data-table.py
  nirmaan_stack/api/payments/project_payments.py
Labels: UI, backend

fix: credits -Amend Delete-PR-statusUpdate-versionchanges.py
  frontend/src/pages/ProcurementOrders/amend-po/approve-amend-po.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/hooks/useApproveRejectLogic.ts
  frontend/src/pages/Sent Back Requests/hooks/useApproveSBSLogic.ts
  frontend/src/pages/credits/CreditsPage.tsx
  frontend/src/pages/credits/hooks/useCredits.ts
  nirmaan_stack/api/approve_amend_po.py
  nirmaan_stack/api/approve_reject_sb_vendor_quotes.py
  nirmaan_stack/api/approve_vendor_quotes.py
  nirmaan_stack/api/sidebar_counts.py
  nirmaan_stack/integrations/controllers/nirmaan_versions.py
  nirmaan_stack/integrations/controllers/sent_back_category.py
Labels: UI, backend

fix: target amount fix
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/components/VendorApprovalTable.tsx
Labels: UI

fix: totals hooks fix
  frontend/src/hooks/useOrderTotals.ts
  frontend/src/utils/getAmounts.ts
Labels: UI

fix: added missing filters
  frontend/src/pages/NonProjectExpenses/NonProjectExpensesPage.tsx
  frontend/src/pages/ProjectExpenses/ProjectExpensesList.tsx
  frontend/src/pages/ProjectInvoices/AllProjectInvoices.tsx
  frontend/src/pages/ProjectInvoices/config/projectInvoices.config.tsx
  frontend/src/pages/reports/components/POReports.tsx
  frontend/src/pages/reports/components/columns/poColumns.tsx
Labels: UI

fix: label fix for projects values card
  frontend/src/pages/projects/CustomHoverCard.tsx
Labels: UI

fix: link fix for products-> approved quotations & procurement-packages item filter
  frontend/src/components/procurement-packages.tsx
  frontend/src/pages/ApprovedQuotationsFlow/ApprovedQuotationsTable.tsx
Labels: UI

feat: added project value incl gst field within projects
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  frontend/src/pages/projects/edit-project-form.tsx
  frontend/src/pages/projects/project-form.tsx
  frontend/src/pages/projects/projects.tsx
  frontend/src/types/NirmaanStack/Projects.ts
  nirmaan_stack/api/projects/new_project.py
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.json
Labels: UI, backend

fix: total invoice value for po view fix
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
Labels: UI

fix: user filters & project financial corrections
  frontend/src/pages/ProjectInvoices/components/ProjectInvoiceTable.tsx
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  frontend/src/pages/projects/components/ProjectPRSummaryTable.tsx
Labels: UI

fix: for sen for approval pr api fix
  nirmaan_stack/api/send_vendor_quotes.py
Labels: backend

fix: bug fixes for approve pr, item status filter, and minor changes
  frontend/src/pages/DeliveryNotes/components/deliveryNoteItemsDisplay.tsx
  frontend/src/pages/Items/itemsPage.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useApprovePRLogic.ts
  frontend/src/pages/ServiceRequests/approved-sr/components/SRPaymentsSection.tsx
Labels: UI

fix:Project PR Summary fixes
  frontend/src/components/pr-summary.tsx
  frontend/src/pages/projects/components/ProjectPRSummaryTable.tsx
  nirmaan_stack/api/projects/project_aggregates.py
Labels: UI, backend

fix: added estimates calculations for PR during send for approval
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-select-vendor.tsx
  frontend/src/types/NirmaanStack/ProcurementRequests.ts
  nirmaan_stack/api/send_vendor_quotes.py
  nirmaan_stack/nirmaan_stack/doctype/sent_back_category/sent_back_category.json
Labels: UI, backend

fix: Approve RP item remove undo,Console removed
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/RequestItemDialog.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/ItemSelectorControls.tsx
  frontend/src/pages/ProcurementRequests/NewPR/hooks/useProcurementRequestForm.ts
  frontend/src/pages/projects/projects.tsx
Labels: UI

fix: options for credit payments enabled for procurements, accountants & project leads
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/layout/dashboards/dashboard-accountant.tsx
Labels: UI

fix: project & vendor filter in credit payments
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/credits/components/CreditsTableColumns.tsx.tsx
  frontend/src/pages/credits/credits.constant.ts
  frontend/src/pages/credits/hooks/useCredits.ts
Labels: UI

fix: added order by creation asc for patches
  nirmaan_stack/patches/v2_7/migrate_pr_procurement_list_to_child_table.py
  nirmaan_stack/patches/v2_7/migrate_project_wp_to_child_tables.py
  nirmaan_stack/patches/v2_7/migrate_sbc_item_list_to_child_table.py
Labels: backend

fix: added new expense types in fixtures
  nirmaan_stack/fixtures/expense_type.json
  nirmaan_stack/fixtures/items.json
  nirmaan_stack/fixtures/workflow.json
Labels: backend

fix:resolve PR
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useApprovePRLogic.ts
  frontend/src/pages/projects/AllTab.tsx
Labels: UI

fix :console.remove
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useApprovePRLogic.ts
Labels: UI

fix: updated delete_doc
  nirmaan_stack/integrations/controllers/delete_doc_versions.py
Labels: backend

feat: po amt (delivered) column in invoice recon
  frontend/src/hooks/useOrderTotals.ts
  frontend/src/pages/tasks/invoices/components/columns.tsx
  frontend/src/types/NirmaanStack/ProcurementOrders.ts
  nirmaan_stack/api/delivery_notes/update_delivery_note.py
  nirmaan_stack/nirmaan_stack/doctype/procurement_orders/procurement_orders.json
Labels: UI, backend

fix: for po amount delivered rendering in invoice recon
  frontend/src/hooks/useOrderTotals.ts
  frontend/src/pages/tasks/invoices/components/PendingTasksTable.tsx
  frontend/src/pages/tasks/invoices/components/TaskHistoryTable.tsx
  frontend/src/pages/tasks/invoices/components/columns.tsx
  frontend/src/utils/getAmounts.ts
Labels: UI

fix: permission refresh
  nirmaan_stack/nirmaan_stack/doctype/nirmaan_attachments/nirmaan_attachments.json
  nirmaan_stack/nirmaan_stack/doctype/procurement_orders/procurement_orders.json
  nirmaan_stack/nirmaan_stack/doctype/sent_back_category/sent_back_category.json
  nirmaan_stack/nirmaan_stack/doctype/task/task.json
Labels: backend

fix: popdf for comments inclusion
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPdf.tsx
Labels: UI

fix: popdf changes
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPdf.tsx
Labels: UI

fiix: patch for po_amount_delivered
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_7/update_po_amount_delivered.py
Labels: backend
