Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

feat(boq-reparse): Force Re-parse frontend -- two entry points + shared modal + rewritten warning
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/ParseRunDialog.tsx
  frontend/src/pages/boq-wizard/SheetCard.tsx
Labels: UI

docs(boq-reparse): record Force Re-parse frontend slice (two entry points + shared modal)
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-reparse): standalone Change-parent door -- detail-panel button opens existing modal via no-op reclassify
  frontend/src/pages/boq-wizard/ReviewTree.tsx
Labels: UI

docs(boq-reparse): record §9 #162 standalone Change-parent door (frontend-only)
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-restructure): RestructureModal polish -- disable outside-click dismiss + pick buttons above picker (#158)
  frontend/src/pages/boq-wizard/RestructureModal.tsx
Labels: UI

docs(boq-restructure): record §9 #158 RestructureModal polish pair
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-review): ReviewTree detail-panel layout pass -- nested-card separation + Classification/Parent vertical stack + per-block responsive grid
  frontend/src/pages/boq-wizard/ReviewTree.tsx
Labels: UI

docs(boq-review): record ReviewTree detail-panel layout pass (FINDING B card + Obs 1 stack + Obs 2 per-block responsive grid)
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-review): detail-panel brand tint -- indigo body + brand-red left-accent stripe
  frontend/src/pages/boq-wizard/ReviewTree.tsx
Labels: UI

docs(boq-review): record detail-panel brand tint (indigo body + brand-red border-l-primary accent)
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-review): ReviewTree find & filter (#159) -- strict-hide Status+Class header filters + ring-highlighted description search
  frontend/src/pages/boq-wizard/ReviewTree.tsx
Labels: UI

docs(boq-review): record #159 ReviewTree find-&-filter slice (strict-hide Status+Class filters; ring-not-background search; shown-predicate compose interlock)
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-review): per-row Looks-OK flag dismissal (backend + frontend)
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/SheetReviewPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
  nirmaan_stack/nirmaan_stack/doctype/boq_review_row/boq_review_row.json
Labels: UI, backend

docs(boq-review): record C-flag-dismissal slice (per-row Looks-OK)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(boq-review): place Looks-OK button beside the Flags label (left)
  frontend/src/pages/boq-wizard/ReviewTree.tsx
Labels: UI

docs(boq-review): record Looks-OK button placement fix (beside Flags label)
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-review): Parsed Check Done marking + read-only freeze + un-mark
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/SheetReviewPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
Labels: UI, backend

docs(boq-review): record D1 Parsed-Check-Done freeze slice
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-review): per-sheet review CSV export (wizard-local writer)
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/SheetReviewPage.tsx
  frontend/src/pages/boq-wizard/exportReviewCsv.ts
Labels: UI

docs(boq-review): record D2 CSV export slice
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-review): hub xlsx workbook export + per-card CSV export
  frontend/package.json
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/ExportWorkbookDialog.tsx
  frontend/src/pages/boq-wizard/SheetCard.tsx
  frontend/src/pages/boq-wizard/exportReviewCsv.ts
  frontend/src/pages/boq-wizard/exportReviewXlsx.ts
  frontend/yarn.lock
Labels: UI

docs(boq-review): record D2b hub export slice
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-parse): per-sheet parse-lifecycle state, double-fire guard, self-heal, write guards (#164 backend)
  nirmaan_stack/api/boq/wizard/parse_run.py
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_parse_run.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
  nirmaan_stack/api/boq/wizard/test_update_sheet_draft.py
  nirmaan_stack/api/boq/wizard/update_sheet_draft.py
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet_draft/boq_sheet_draft.json
  nirmaan_stack/nirmaan_stack/doctype/boqs/boqs.json
Labels: backend

docs(boq-parse): record A3-backend slice
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-wizard): parse-lock UI + check_parse_status wiring + SheetConfigPanel getFrappeError migration (#164 frontend)
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/SheetCard.tsx
  frontend/src/pages/boq-wizard/SheetConfigPanel.tsx
  frontend/src/pages/boq-wizard/SheetReviewPage.tsx
  frontend/src/pages/boq-wizard/SheetSpokePage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
Labels: UI

docs(boq-wizard): record A3-frontend slice
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-wizard): rename statuses Config Done + Finalized, add Finalized config freeze with un-mark-and-edit, migrate data (A1)
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/ExportWorkbookDialog.tsx
  frontend/src/pages/boq-wizard/ParseRunDialog.tsx
  frontend/src/pages/boq-wizard/SheetCard.tsx
  frontend/src/pages/boq-wizard/SheetConfigPanel.tsx
  frontend/src/pages/boq-wizard/SheetReviewPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/parse_run.py
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_parse_run.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
  nirmaan_stack/api/boq/wizard/test_update_sheet_draft.py
  nirmaan_stack/api/boq/wizard/update_sheet_draft.py
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet_draft/boq_sheet_draft.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/migrate_boq_sheet_draft_status_rename.py
Labels: UI, backend

docs(boq-wizard): record A1 status-rename slice
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-wizard): edit-log clarity -- Excel-row parents, honest verb, date+HH:MM timestamp (A2, render-only)
  frontend/src/pages/boq-wizard/ReviewTree.tsx
Labels: UI

docs(boq-wizard): record A2 edit-log clarity slice
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(boq-patches): guard work_package/general_specs migrations for fresh-install DBs
  nirmaan_stack/patches/v3_0/migrate_boq_sheet_draft_work_package_to_multi.py
  nirmaan_stack/patches/v3_0/migrate_general_specs_to_child_table.py
Labels: backend

feat(boq-wizard): Finding 1 -- scalar amount roles not area-compatible
  frontend/src/pages/boq-wizard/SheetConfigPanel.tsx
  nirmaan_stack/services/boq_parser/config.py
  nirmaan_stack/services/boq_parser/test_config.py
Labels: UI, backend

docs(boq-wizard): record Finding 1 -- scalar amount roles not area-compatible
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

docs(boq-wizard): fix Slice 1 date stamp 2026-03-12 -> 2026-06-13
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-wizard): field-set Slice 2a -- amount per-area symmetric with rate (READ path)
  frontend/src/pages/boq-wizard/SheetConfigPanel.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_parse_run.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
  nirmaan_stack/services/boq_parser/_auto_guess.py
  nirmaan_stack/services/boq_parser/classifier.py
  nirmaan_stack/services/boq_parser/classifier_audit.py
  nirmaan_stack/services/boq_parser/config.py
  nirmaan_stack/services/boq_parser/cycle_3_configs/raheja_commerzone_hvac_sheetconfig.py
  nirmaan_stack/services/boq_parser/hierarchy.py
  nirmaan_stack/services/boq_parser/orchestrator.py
  nirmaan_stack/services/boq_parser/test_auto_guess.py
  nirmaan_stack/services/boq_parser/test_classifier.py
  nirmaan_stack/services/boq_parser/test_config.py
  nirmaan_stack/services/boq_parser/test_hierarchy.py
  nirmaan_stack/services/boq_parser/test_orchestrator.py
Labels: UI, backend

docs(boq-wizard): record field-set Slice 2a -- amount per-area symmetric with rate (READ path)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-wizard): field-set Slice 2b -- per-area amount EDIT path made nested (two-hop write)
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
Labels: UI, backend

docs(boq-wizard): record field-set Slice 2b -- per-area amount EDIT path nested
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-wizard): pin review detail-panel value inputs to fixed w-24
  frontend/src/pages/boq-wizard/ReviewTree.tsx
Labels: UI

docs(boq-wizard): record detail-panel value-input fixed w-24 width
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
