Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

feat(access): remove PMO from PO/WO approvals, payment settling and invoice approval
  frontend/.claude/context/role-access.md
  frontend/CLAUDE.md
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/constants/roles.ts
  frontend/src/pages/ProcurementOrders/RenderPurchaseOrdersTab.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPaymentTermsCard.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/config/poTabs.constants.ts
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
  frontend/src/pages/ProjectPayments/config/ppTabs.constants.ts
  frontend/src/pages/ServiceRequests/RenderSRComponent.tsx
  frontend/src/pages/ServiceRequests/ServiceRequestsTabs.tsx
  frontend/src/pages/ServiceRequests/approved-sr/components/SRPaymentsSection.tsx
  frontend/src/pages/ServiceRequests/config/srTabs.constants.ts
  frontend/src/pages/tasks/invoices/InvoiceReconciliationContainer.tsx
  nirmaan_stack/services/role_profiles.py
Labels: UI, backend

refactor(payments): stop reading and writing the legacy Project Payments.tds field
  .claude/context/domain/outflow-import.md
  .claude/plans/project-payments-tds-drop-plan.md
  docs/adr/0021-the-statement-import-records-no-tax.md
  docs/adr/0022-unreconcile-and-unskip.md
  frontend/src/hooks/useOrderPayments.ts
  frontend/src/pages/ProcurementOrders/purchase-order/components/TransactionDetailsCard.tsx
  frontend/src/pages/ProjectPayments/AmountPaidHoverCard.tsx
  frontend/src/pages/ProjectPayments/PaymentsDataDialog.tsx
  frontend/src/pages/ProjectPayments/approve-payments/components/BulkActionBar.tsx
  frontend/src/pages/ProjectPayments/config/approvalExportColumns.ts
  frontend/src/pages/ProjectPayments/config/approvalsTable.config.ts
  frontend/src/pages/ProjectPayments/hooks/useUpdatePaymentRequests.ts
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/ProjectPayments/update-payment/EditFulfilledPaymentDialog.tsx
  frontend/src/pages/ProjectPayments/update-payment/UpdatePaymentDialog.tsx
  frontend/src/pages/ServiceRequests/approved-sr/components/SRNewPaymentDialog.tsx
  frontend/src/pages/ServiceRequests/approved-sr/components/SRPaymentsSection.tsx
  frontend/src/pages/ServiceRequests/approved-sr/hooks/useSRPaymentManager.ts
  frontend/src/pages/ServiceRequests/approved-sr/types/index.ts
  frontend/src/pages/reports/hooks/useOutflowReportData.ts
  frontend/src/pages/vendors/components/VendorMaterialOrdersTable.tsx
  frontend/src/types/NirmaanStack/ProjectPayments.ts
  nirmaan_stack/api/approvals/get_approval_queue.py
  nirmaan_stack/api/outflow_import/test_reverse_allocation.py
  nirmaan_stack/api/outflow_import/test_review.py
  nirmaan_stack/api/outflow_import/test_settle_payment.py
  nirmaan_stack/api/outflow_import/test_unreconcile_part_payment.py
  nirmaan_stack/api/outflow_import/test_unreconcile_row.py
  nirmaan_stack/api/outflow_import/unreconcile_split.py
  nirmaan_stack/api/payments/project_payments.py
  nirmaan_stack/services/outflow_import/test_unreconcile.py
  nirmaan_stack/services/outflow_import/unreconcile.py
  nirmaan_stack/services/outflow_import/unsplit.py
Labels: UI, backend

feat(vendors): store PAN in its own field and require it for every vendor
  frontend/src/pages/vendors/VendorsPage.tsx
  frontend/src/pages/vendors/components/VendorOverviewCard.tsx
  frontend/src/pages/vendors/data/useVendorQueries.ts
  frontend/src/pages/vendors/edit-vendor.tsx
  frontend/src/pages/vendors/new-vendor.tsx
  frontend/src/pages/vendors/utils/vendorDuplicates.test.ts
  frontend/src/pages/vendors/utils/vendorDuplicates.ts
  frontend/src/pages/vendors/utils/vendorTaxIds.test.ts
  frontend/src/pages/vendors/utils/vendorTaxIds.ts
  frontend/src/pages/vendors/vendors.constants.ts
  frontend/src/types/NirmaanStack/Vendors.ts
  nirmaan_stack/api/create_vendor_and_address.py
  nirmaan_stack/nirmaan_stack/doctype/vendors/vendors.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/split_vendor_gst_pan.py
Labels: UI, backend

feat(payments): add a "Payment Raised By Me" tab, HR access and counted queue filters
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/constants/roles.ts
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/ProjectPayments/config/approvalColumns.tsx
  frontend/src/pages/ProjectPayments/config/approvalsTable.config.ts
  frontend/src/pages/ProjectPayments/config/ppTabs.constants.ts
  frontend/src/pages/ProjectPayments/config/projectPaymentsTable.config.ts
  frontend/src/pages/ProjectPayments/config/useApprovalFacets.ts
  frontend/src/pages/ProjectPayments/update-payment/AccountantTabs.tsx
  nirmaan_stack/api/approvals/get_approval_queue.py
Labels: UI, backend

fix(tds-printformat): description limit to 378 char and after etc..
  nirmaan_stack/fixtures/print_format.json
Labels: backend

feat(vendor-refunds): add the Vendor Refunds doctype and its rules service
  nirmaan_stack/nirmaan_stack/doctype/vendor_refunds/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/vendor_refunds/vendor_refunds.json
  nirmaan_stack/nirmaan_stack/doctype/vendor_refunds/vendor_refunds.py
  nirmaan_stack/services/vendor_refunds.py
Labels: backend

feat(vendor-refunds): record a bank credit as vendor refunds in the bulk import
  frontend/src/pages/outflow-import/OutflowMasterPage.tsx
  frontend/src/pages/outflow-import/components/DecisionDialog.tsx
  frontend/src/pages/outflow-import/components/UnreconcileDialog.tsx
  frontend/src/pages/outflow-import/outflowTableModel.test.ts
  frontend/src/pages/outflow-import/outflowTableModel.ts
  frontend/src/pages/outflow-import/unreconcileView.ts
  nirmaan_stack/api/outflow_import/inflows.py
  nirmaan_stack/api/outflow_import/test_inflows.py
  nirmaan_stack/api/outflow_import/test_review.py
  nirmaan_stack/api/outflow_import/unreconcile.py
  nirmaan_stack/services/outflow_import/candidates.py
  nirmaan_stack/services/outflow_import/ledgers.py
  nirmaan_stack/services/outflow_import/settle.py
  nirmaan_stack/services/outflow_import/test_status.py
  nirmaan_stack/services/outflow_import/test_unreconcile.py
  nirmaan_stack/services/outflow_import/unreconcile.py
Labels: UI, backend

feat(vendor-refunds): show refunds on PO / WO pages and the vendor page
  frontend/src/components/vendor-refunds/RefundAttachmentLink.tsx
  frontend/src/components/vendor-refunds/VendorRefundsButton.tsx
  frontend/src/components/vendor-refunds/VendorRefundsTable.tsx
  frontend/src/components/vendor-refunds/useVendorRefunds.ts
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/TransactionDetailsCard.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/pages/vendors/components/VendorRefundsTab.tsx
  frontend/src/pages/vendors/vendor.tsx
  nirmaan_stack/api/vendor_refunds/__init__.py
  nirmaan_stack/api/vendor_refunds/attachment_preview.py
  nirmaan_stack/api/vendor_refunds/list_refunds.py
  nirmaan_stack/api/vendor_refunds/test_list_refunds.py
Labels: UI, backend

docs(vendor-refunds): document the vendor refund flow in the outflow-import context
  .claude/context/domain/outflow-import.md
Labels: none

feat(payment-tds): keep Misc/Transportation-only WO payments unreduced
  .claude/context/domain/payment-tds.md
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/ProjectPayments/approve-payments/components/BulkConfirmDialog.tsx
  frontend/src/pages/ProjectPayments/approve-payments/components/PaymentActionDialog.tsx
  frontend/src/pages/ProjectPayments/hooks/useVendorTdsRates.ts
  frontend/src/pages/ProjectPayments/tdsForecast.test.ts
  frontend/src/pages/ProjectPayments/tdsForecast.ts
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/pages/ServiceRequests/service-request/components/SRDetailsCard.tsx
  nirmaan_stack/api/invoices/_item_billing_sync.py
  nirmaan_stack/api/payments/test_bulk_tds.py
  nirmaan_stack/services/payment_tds.py
  nirmaan_stack/services/test_payment_tds.py
Labels: UI, backend

feat(expenses): raise, review and convert an expense request
  nirmaan_stack/api/expense_requests/__init__.py
  nirmaan_stack/api/expense_requests/access.py
  nirmaan_stack/api/expense_requests/convert.py
  nirmaan_stack/api/expense_requests/create.py
  nirmaan_stack/api/expense_requests/flatten.py
  nirmaan_stack/api/expense_requests/masters.py
  nirmaan_stack/api/expense_requests/read.py
  nirmaan_stack/api/expense_requests/review.py
  nirmaan_stack/services/expense_request_routing.py
Labels: backend

feat(expenses): Expense Request, Category and format-snapshot doctypes
  nirmaan_stack/fixtures/expense_category.json
  nirmaan_stack/fixtures/expense_type.json
  nirmaan_stack/nirmaan_stack/doctype/expense_category/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/expense_category/expense_category.json
  nirmaan_stack/nirmaan_stack/doctype/expense_category/expense_category.py
  nirmaan_stack/nirmaan_stack/doctype/expense_category/test_expense_category.py
  nirmaan_stack/nirmaan_stack/doctype/expense_request/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/expense_request/expense_request.json
  nirmaan_stack/nirmaan_stack/doctype/expense_request/expense_request.py
  nirmaan_stack/nirmaan_stack/doctype/expense_request/test_expense_request.py
  nirmaan_stack/nirmaan_stack/doctype/expense_request_template_snapshot/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/expense_request_template_snapshot/expense_request_template_snapshot.json
  nirmaan_stack/nirmaan_stack/doctype/expense_request_template_snapshot/expense_request_template_snapshot.py
  nirmaan_stack/nirmaan_stack/doctype/expense_request_template_snapshot/test_expense_request_template_snapshot.py
  nirmaan_stack/nirmaan_stack/doctype/expense_type/expense_type.json
  nirmaan_stack/nirmaan_stack/doctype/non_project_expenses/non_project_expenses.json
  nirmaan_stack/nirmaan_stack/doctype/project_expenses/project_expenses.json
Labels: backend

test(expenses): 47 tests over the review gate and the ledger-driven lifecycle
  nirmaan_stack/api/expense_requests/test_expense_requests.py
  nirmaan_stack/api/expense_requests/test_fixture_completeness.py
  nirmaan_stack/api/expense_requests/test_flatten.py
Labels: backend

feat(expenses): the ledger drives Paid, deletion and the bell
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/expense_request_notify.py
  nirmaan_stack/integrations/controllers/expense_request_status.py
Labels: backend

fix(notifications): expense cards show expense facts, not blank lines
  frontend/src/components/nav/expenseNotificationDetails.test.ts
  frontend/src/components/nav/expenseNotificationDetails.ts
  frontend/src/components/nav/notifications.tsx
Labels: UI

feat(expenses): a request can name the vendor it will be paid to
  frontend/src/components/custom-select/vendor-select.tsx
  frontend/src/pages/ExpenseRequests/components/ExpensePackagesMaster.tsx
  frontend/src/pages/ExpenseRequests/components/NewExpenseRequestDialog.tsx
  nirmaan_stack/api/expense_requests/convert.py
  nirmaan_stack/api/expense_requests/create.py
  nirmaan_stack/api/expense_requests/flatten.py
  nirmaan_stack/api/expense_requests/masters.py
  nirmaan_stack/api/expense_requests/test_expense_requests.py
  nirmaan_stack/fixtures/expense_category.json
  nirmaan_stack/fixtures/expense_type.json
  nirmaan_stack/nirmaan_stack/doctype/expense_request/expense_request.json
Labels: UI, backend

feat(expenses): payee bank details, searchable type picker, admin edit
  frontend/src/components/helpers/renderRightActionButton.tsx
  frontend/src/pages/ExpenseRequests/ExpenseRequestsPage.tsx
  frontend/src/pages/ExpenseRequests/components/FormatFieldsRenderer.tsx
  frontend/src/pages/ExpenseRequests/components/NewExpenseRequestDialog.tsx
  frontend/src/utils/expenseFormat.ts
  nirmaan_stack/api/expense_requests/read.py
  nirmaan_stack/api/expense_requests/similar.py
  nirmaan_stack/api/expense_requests/test_expense_requests.py
  nirmaan_stack/api/expense_requests/update.py
  nirmaan_stack/fixtures/expense_type.json
Labels: UI, backend

feat(expenses): the ledger's own threshold decides the expense status
  .claude/context/domain/expenses.md
  frontend/src/types/NirmaanStack/ExpenseRequest.ts
  nirmaan_stack/api/expense_requests/convert.py
  nirmaan_stack/api/expense_requests/read.py
Labels: UI, backend

feat(expenses): edit action on a pending expense request
  frontend/src/pages/ExpenseRequests/ExpenseRequestsPage.tsx
  frontend/src/pages/ExpenseRequests/components/NewExpenseRequestDialog.tsx
  frontend/src/pages/ExpenseRequests/config/expenseRequestsColumns.tsx
  frontend/src/types/NirmaanStack/ExpenseRequest.ts
Labels: UI

feat(expenses): warn when the same expense has already been asked for
  frontend/src/pages/ExpenseRequests/components/NewExpenseRequestDialog.tsx
  frontend/src/pages/ExpenseRequests/components/ReviewActionDialog.tsx
  nirmaan_stack/api/expense_requests/create.py
  nirmaan_stack/api/expense_requests/duplicates.py
  nirmaan_stack/api/expense_requests/similar.py
  nirmaan_stack/api/expense_requests/test_expense_requests.py
Labels: UI, backend

docs(expenses): domain doc, ADR-0016 and the as-built plan
  .claude/context/domain/expenses.md
  .claude/plans/expense-request-plan.md
  CONTEXT.md
  docs/adr/0016-expense-request-vs-expense.md
Labels: none

test(expenses): cover editing, and stop the suite leaking rows into the live site
  nirmaan_stack/api/expense_requests/test_expense_requests.py
Labels: backend

feat(expenses): a requester may edit their own pending request
  nirmaan_stack/api/expense_requests/create.py
  nirmaan_stack/api/expense_requests/read.py
  nirmaan_stack/api/expense_requests/update.py
Labels: backend

chore(expenses): carry the expense-type source formats in the fixture
  nirmaan_stack/fixtures/expense_type.json
Labels: backend

feat(expenses-ui): Expense Request tab, request and review dialogs
  frontend/src/components/expense-packages.tsx
  frontend/src/components/helpers/renderRightActionButton.tsx
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/ExpenseRequests/ExpenseRequestsPage.tsx
  frontend/src/pages/ExpenseRequests/components/ExpenseFormatDialog.tsx
  frontend/src/pages/ExpenseRequests/components/ExpensePackagesMaster.tsx
  frontend/src/pages/ExpenseRequests/components/FormatFieldsRenderer.tsx
  frontend/src/pages/ExpenseRequests/components/NewExpenseRequestDialog.tsx
  frontend/src/pages/ExpenseRequests/components/ReviewActionDialog.tsx
  frontend/src/pages/ExpenseRequests/config/expenseRequestsColumns.tsx
  frontend/src/pages/ExpenseRequests/config/expenseRequestsTable.config.ts
  frontend/src/pages/Expenses/ExpenseIndexRedirect.tsx
  frontend/src/pages/Expenses/ExpenseLayout.tsx
  frontend/src/pages/PackagesSettings/config/packageSettingsTabs.constants.ts
  frontend/src/types/NirmaanStack/ExpenseRequest.ts
  frontend/src/types/NirmaanStack/ExpenseType.ts
  frontend/src/utils/expenseFormat.test.ts
  frontend/src/utils/expenseFormat.ts
  frontend/src/zustand/useDialogStore.ts
Labels: UI

fix(expenses): resolve rebase fallout
  frontend/src/components/helpers/renderRightActionButton.tsx
  frontend/src/components/layout/NewSidebar.tsx
  nirmaan_stack/api/expense_requests/convert.py
  nirmaan_stack/fixtures/expense_type.json
Labels: UI, backend

feat(expenses): read a request's stored format answers back for editing
  frontend/src/utils/expenseFormat.test.ts
  frontend/src/utils/expenseFormat.ts
Labels: UI

refactor(expenses): drop the unused reviewer role from Expense Category
  .claude/context/domain/expenses.md
  docs/adr/0016-expense-request-vs-expense.md
  frontend/src/pages/ExpenseRequests/components/ExpensePackagesMaster.tsx
  nirmaan_stack/api/expense_requests/test_expense_requests.py
  nirmaan_stack/fixtures/expense_category.json
  nirmaan_stack/nirmaan_stack/doctype/expense_category/expense_category.json
  nirmaan_stack/services/expense_request_routing.py
Labels: UI, backend

test(expenses): stop a ledger test leaking a Paid expense per run
  nirmaan_stack/api/expense_requests/test_expense_requests.py
Labels: backend

feat(expenses): Enable Source switch for an expense type's request form
  .claude/context/domain/expenses.md
  frontend/src/pages/ExpenseRequests/components/ExpenseFormatDialog.tsx
  frontend/src/pages/ExpenseRequests/components/ExpensePackagesMaster.tsx
  frontend/src/pages/ExpenseRequests/components/NewExpenseRequestDialog.tsx
  frontend/src/types/NirmaanStack/ExpenseRequest.ts
  frontend/src/types/NirmaanStack/ExpenseType.ts
  frontend/src/utils/expenseFormat.test.ts
  frontend/src/utils/expenseFormat.ts
  nirmaan_stack/api/expense_requests/convert.py
  nirmaan_stack/api/expense_requests/create.py
  nirmaan_stack/api/expense_requests/flatten.py
  nirmaan_stack/api/expense_requests/masters.py
  nirmaan_stack/api/expense_requests/read.py
  nirmaan_stack/api/expense_requests/test_expense_requests.py
  nirmaan_stack/api/expense_requests/update.py
  nirmaan_stack/fixtures/expense_type.json
  nirmaan_stack/nirmaan_stack/doctype/expense_type/expense_type.json
  nirmaan_stack/nirmaan_stack/doctype/expense_type/expense_type.py
Labels: UI, backend

feat(expenses): drop Building Name from the Staff Accommodation form
  nirmaan_stack/api/expense_requests/duplicates.py
  nirmaan_stack/fixtures/expense_type.json
Labels: backend

feat(expenses): hide the expense category in the app
  .claude/context/domain/expenses.md
  frontend/src/pages/ExpenseRequests/components/ExpensePackagesMaster.tsx
  frontend/src/pages/ExpenseRequests/components/NewExpenseRequestDialog.tsx
  frontend/src/types/NirmaanStack/ExpenseType.ts
Labels: UI

feat(expenses): per-type Role Access for raising expense requests
  .claude/context/domain/expenses.md
  frontend/src/pages/ExpenseRequests/components/ExpensePackagesMaster.tsx
  frontend/src/pages/ExpenseRequests/components/NewExpenseRequestDialog.tsx
  nirmaan_stack/api/expense_requests/access.py
  nirmaan_stack/api/expense_requests/masters.py
  nirmaan_stack/api/expense_requests/read.py
  nirmaan_stack/api/expense_requests/test_expense_requests.py
  nirmaan_stack/api/expense_requests/update.py
  nirmaan_stack/fixtures/expense_type.json
  nirmaan_stack/nirmaan_stack/doctype/expense_request/expense_request.json
  nirmaan_stack/nirmaan_stack/doctype/expense_type/expense_type.json
  nirmaan_stack/nirmaan_stack/doctype/expense_type/expense_type.py
  nirmaan_stack/nirmaan_stack/doctype/expense_type_role/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/expense_type_role/expense_type_role.json
  nirmaan_stack/nirmaan_stack/doctype/expense_type_role/expense_type_role.py
  nirmaan_stack/services/expense_request_routing.py
Labels: UI, backend

feat(expenses): admin-only Expense Type rename
  .claude/context/domain/expenses.md
  frontend/src/pages/ExpenseRequests/components/ExpensePackagesMaster.tsx
  nirmaan_stack/api/expense_requests/masters.py
  nirmaan_stack/api/expense_requests/test_expense_requests.py
Labels: UI, backend

feat(expenses): make the Expense module request-only
  frontend/src/components/helpers/renderRightActionButton.tsx
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/ExpenseRequests/ExpenseRequestsPage.tsx
  frontend/src/pages/ExpenseRequests/components/NewExpenseRequestDialog.tsx
  frontend/src/pages/ExpenseRequests/config/expenseRequestsTable.config.ts
  frontend/src/pages/Expenses/ExpenseIndexRedirect.tsx
  frontend/src/pages/Expenses/ExpenseLayout.tsx
Labels: UI

feat(vendor-refunds): lower the PO / WO paid amount by its refunds
  .claude/context/domain/outflow-import.md
  nirmaan_stack/api/outflow_import/test_inflows.py
  nirmaan_stack/api/po_adjustments/_payment_utils.py
  nirmaan_stack/api/vendor_refunds/test_list_refunds.py
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/vendor_refunds.py
  nirmaan_stack/nirmaan_stack/doctype/project_payments/project_payments.py
  nirmaan_stack/nirmaan_stack/doctype/vendor_refunds/test_vendor_refunds.py
  nirmaan_stack/nirmaan_stack/doctype/vendor_refunds/vendor_refunds.py
  nirmaan_stack/services/outflow_import/settle.py
  nirmaan_stack/services/vendor_refunds.py
Labels: backend

docs(boq): remove retired BoQ design explainers and handoffs
  docs/adr/0003-dual-provider-boq-ai-assist.md
  docs/adr/0011-boq-concurrency-locking.md
  docs/adr/0013-boq-create-from-template.md
  docs/adr/0014-boq-revised-upload-and-carry.md
  docs/boq/HANDOFF-revised-boq-amendment-b-w3-w6.md
  docs/boq/HANDOFF-revised-boq-carry-amendment.md
  docs/boq/HANDOFF-revised-boq-e2e-browser-testing.md
  docs/boq/ai-comparison-view.html
  docs/boq/concurrency-locking-as-built.html
  docs/boq/concurrency-locking.html
  docs/boq/create-from-template-locked-design.html
  docs/boq/create-from-template-understanding.html
  docs/boq/header-band-implementation-plan.md
  docs/boq/revised-boq-carry-amendment.html
  frontend/.claude/plans/boq-concurrency-locking-plan.md
  frontend/.claude/plans/boq-create-from-template-plan.md
  frontend/.claude/plans/boq-revised-upload-plan.md
  nirmaan_stack/api/boq/wizard/test_committed_carry.py
Labels: backend

docs(prd): remove the project action-items and tendering-won PRDs
  docs/prd/project-action-items-decision-tree.html
  docs/prd/project-action-items.md
  docs/prd/project-tendering-won-issues.md
  docs/prd/project-tendering-won.md
  nirmaan_stack/services/action_items/doc_hooks.py
  nirmaan_stack/services/action_items/predicates.py
  nirmaan_stack/services/action_items/reconcile.py
Labels: backend

feat(outflow-import): store what kind of skip every skipped line is [MIGRATE]
  CLAUDE.md
  nirmaan_stack/api/outflow_import/cashbook.py
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_cashbook_import.py
  nirmaan_stack/api/outflow_import/test_review.py
  nirmaan_stack/api/outflow_import/test_skip_kind_backfill.py
  nirmaan_stack/api/outflow_import/test_skip_row.py
  nirmaan_stack/api/outflow_import/test_unskip_row.py
  nirmaan_stack/api/outflow_import/test_upload.py
  nirmaan_stack/api/outflow_import/upload.py
  nirmaan_stack/nirmaan_stack/doctype/outflow_import_row/outflow_import_row.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/backfill_outflow_skip_kind.py
  nirmaan_stack/services/outflow_import/cashbook.py
  nirmaan_stack/services/outflow_import/skip_kind_backfill.py
  nirmaan_stack/services/outflow_import/skip_kinds.py
  nirmaan_stack/services/outflow_import/status.py
  nirmaan_stack/services/outflow_import/test_skip_kinds.py
  nirmaan_stack/services/outflow_import/test_status.py
Labels: backend

feat(outflow-import): Skipped popup reads -- direction scopes and a Skip Type facet
  nirmaan_stack/api/outflow_import/review.py
  nirmaan_stack/api/outflow_import/test_skipped_popup.py
Labels: backend
