Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

docs(rate-master): slice 12c as built
  .claude/context/domain/boq-rate-master.md
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(billing): client billing doctypes, rules and permissions
  nirmaan_stack/fixtures/project_billing_packages.json
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/project_billing.py
  nirmaan_stack/nirmaan_stack/doctype/project_billing/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/project_billing/project_billing.json
  nirmaan_stack/nirmaan_stack/doctype/project_billing/project_billing.py
  nirmaan_stack/nirmaan_stack/doctype/project_billing_dc_log/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/project_billing_dc_log/project_billing_dc_log.json
  nirmaan_stack/nirmaan_stack/doctype/project_billing_dc_log/project_billing_dc_log.py
  nirmaan_stack/nirmaan_stack/doctype/project_billing_manager/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/project_billing_manager/project_billing_manager.json
  nirmaan_stack/nirmaan_stack/doctype/project_billing_manager/project_billing_manager.py
  nirmaan_stack/nirmaan_stack/doctype/project_billing_packages/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/project_billing_packages/project_billing_packages.json
  nirmaan_stack/nirmaan_stack/doctype/project_billing_packages/project_billing_packages.py
  nirmaan_stack/nirmaan_stack/doctype/project_billing_tracker/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/project_billing_tracker/project_billing_tracker.json
  nirmaan_stack/nirmaan_stack/doctype/project_billing_tracker/project_billing_tracker.py
  nirmaan_stack/services/project_billing/__init__.py
  nirmaan_stack/services/project_billing/rules.py
  nirmaan_stack/services/project_billing/test_rules.py
  nirmaan_stack/services/role_profiles.py
Labels: backend

feat(billing): billing API for the project tab and the Billing Tracker
  nirmaan_stack/api/project_billing/__init__.py
  nirmaan_stack/api/project_billing/_queries.py
  nirmaan_stack/api/project_billing/bills.py
  nirmaan_stack/api/project_billing/project_view.py
  nirmaan_stack/api/project_billing/setup.py
  nirmaan_stack/api/project_billing/supply_dc.py
  nirmaan_stack/api/project_billing/tracker.py
Labels: backend

feat(billing): Billing Tracker pages and the project Billing tab
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/constants/roles.ts
  frontend/src/pages/ProjectBilling/BillingProjectPage.tsx
  frontend/src/pages/ProjectBilling/BillingTrackerPage.tsx
  frontend/src/pages/ProjectBilling/ProjectBillingTab.tsx
  frontend/src/pages/ProjectBilling/billing.constants.ts
  frontend/src/pages/ProjectBilling/components/AssignedFilter.tsx
  frontend/src/pages/ProjectBilling/components/BillDrawer.tsx
  frontend/src/pages/ProjectBilling/components/BillingBits.tsx
  frontend/src/pages/ProjectBilling/components/BillsDataTable.tsx
  frontend/src/pages/ProjectBilling/components/EditPackageDialog.tsx
  frontend/src/pages/ProjectBilling/components/SetupBillingDialog.tsx
  frontend/src/pages/ProjectBilling/components/SupplyDcSheet.tsx
  frontend/src/pages/ProjectBilling/config/bills.config.tsx
  frontend/src/pages/ProjectBilling/data/useBillingQueries.ts
  frontend/src/pages/ProjectBilling/types.ts
  frontend/src/pages/ProjectBilling/utils/billingFormat.test.ts
  frontend/src/pages/ProjectBilling/utils/billingFormat.ts
  frontend/src/pages/projects/project.tsx
  frontend/src/utils/projectBillingStatusParity.test.ts
Labels: UI

docs(billing): billing tracker plan and as-built notes
  .claude/plans/billing-tracker-plan.md
Labels: none

fix(rate-master): the panel lists only the SKUs an input really reaches
  frontend/src/pages/pricing/rate-master/RateMasterDataViewer.tsx
  frontend/src/pages/pricing/rate-master/RateMasterPage.tsx
  frontend/src/pages/pricing/rate-master/itemListRuleOrder.test.ts
  frontend/src/pages/pricing/rate-master/pricingInputExactItemList.test.ts
  frontend/src/pages/pricing/rate-master/pricingInputImpact.ts
  frontend/src/pages/pricing/rate-master/pricingInputReach.ts
  frontend/src/pages/pricing/rate-master/rateMasterDataViewer.test.ts
  frontend/src/pages/pricing/rate-master/rateMasterSpec.ts
Labels: UI

feat(rate-master): cladding-only SKUs and their pricing; HVAC v17
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.ts
  frontend/src/pages/pricing/rate-master/pricingInputReach.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/config_validation.py
  nirmaan_stack/services/boq_rate_master/csv_exporter.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v17.json
  scripts/_instruments/probe_cladding_only.ts
Labels: UI, backend

feat(rate-master): the cladding cost column shows its live figure, greyed
  frontend/src/pages/pricing/rate-master/RateMasterDataViewer.tsx
  frontend/src/pages/pricing/rate-master/RateMasterPage.tsx
  frontend/src/pages/pricing/rate-master/pricingInputImpact.test.ts
  frontend/src/pages/pricing/rate-master/pricingInputImpact.ts
  frontend/src/pages/pricing/rate-master/rateMasterSpec.test.ts
  frontend/src/pages/pricing/rate-master/rateMasterSpec.ts
  frontend/src/pages/pricing/rate-master/rateMasterTypes.ts
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/cladding_cost.py
  nirmaan_stack/services/boq_rate_master/config_validation.py
  nirmaan_stack/services/boq_rate_master/csv_exporter.py
  nirmaan_stack/services/boq_rate_master/csv_importer.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v17.json
Labels: UI, backend

feat(rate-master): a category declares its own presentation order
  frontend/src/pages/pricing/rate-master/rateMasterColumnOrder.test.ts
  frontend/src/pages/pricing/rate-master/rateMasterSpec.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/config_validation.py
  nirmaan_stack/services/boq_rate_master/csv_exporter.py
Labels: UI, backend

feat(rate-master): Insulation is priceable in the HVAC calculator tab; HVAC v18
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/pricing/PricingCalculator.tsx
  frontend/src/pages/pricing/pricingCalculator.test.ts
  frontend/src/pages/pricing/rate-master/rateMasterTypes.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/config_validation.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v18.json
Labels: UI, backend

feat(rate-master): a geometry-less SKU is quoted at sample sizes, never guessed
  frontend/src/pages/pricing/rate-master/PricingInputImpactPanel.tsx
  frontend/src/pages/pricing/rate-master/pricingInputExact.ts
  frontend/src/pages/pricing/rate-master/pricingInputExactItemList.test.ts
  frontend/src/pages/pricing/rate-master/pricingInputImpact.test.ts
  frontend/src/pages/pricing/rate-master/pricingInputImpact.ts
  scripts/_instruments/probe_f3.ts
Labels: UI

fix(rate-master): a changed item writes its family where the pricer reads it
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
Labels: UI

feat(rate-master): catalogue attributes are live dropdowns; a typed field says what to type
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/pricing/rate-master/pricingInputExactItemList.test.ts
  frontend/src/pages/pricing/rate-master/pricingInputImpact.test.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/config_validation.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v19.json
  scripts/_instruments/probe_compose.ts
  scripts/_instruments/probe_compose2.ts
Labels: UI, backend

fix(rate-master): the FA8 test deep-clones with structuredClone, not JSON.parse
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
Labels: UI

feat(rate-master): ADP's four typed fields carry their notes; HVAC v20
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/pricing/rate-master/pricingInputExactItemList.test.ts
  frontend/src/pages/pricing/rate-master/pricingInputImpact.test.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/config_validation.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v20.json
  scripts/_instruments/probe_adp_notes.ts
Labels: UI, backend

fix(rate-master): a composition stays within one pipe size, closest first, then cheapest
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.ts
  frontend/src/pages/boq-wizard/rate-helper/ladderResolution.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/pricing/rate-master/pricingInputExactItemList.test.ts
  frontend/src/pages/pricing/rate-master/pricingInputImpact.test.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/config_validation.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v21.json
  scripts/_instruments/probe_compose3.ts
  scripts/_instruments/probe_compose4.ts
  scripts/_instruments/probe_crfix.ts
Labels: UI, backend

feat(rate-master): a size field says what to type, how it matched, and takes inches
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/pricing/rate-master/pricingInputExactItemList.test.ts
  frontend/src/pages/pricing/rate-master/pricingInputImpact.test.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/config_validation.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v22.json
  scripts/_instruments/probe_adp_audit.ts
  scripts/_instruments/probe_adp_fields.ts
  scripts/_instruments/probe_help.ts
  scripts/_instruments/probe_inch.ts
Labels: UI, backend

feat(rate-master): a note is required on a typed, rendered, mandatory field; HVAC v24
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
  frontend/src/pages/boq-wizard/rate-helper/panelFieldAudit.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/pricing/rate-master/pricingInputExactItemList.test.ts
  frontend/src/pages/pricing/rate-master/pricingInputImpact.test.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/config_validation.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v23.json
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v24.json
  scripts/_instruments/cert_9b.ts
  scripts/_instruments/cert_9b_find.ts
  scripts/_instruments/elec_audit.ts
  scripts/_instruments/panel_audit.ts
  scripts/_instruments/probe_adp_notes.ts
Labels: UI, backend

fix(rate-master): the thickness note no longer promises what the reader refuses; HVAC v25
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/pricing/rate-master/pricingInputExactItemList.test.ts
  frontend/src/pages/pricing/rate-master/pricingInputImpact.test.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_hvac_all_v25.json
  scripts/_instruments/cert_9b.ts
  scripts/_instruments/panel_audit.ts
Labels: UI, backend

fix(rate-master): a size can be typed into "Other...", and a composed row shows its own total
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.test.ts
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.test.ts
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
Labels: UI

fix(rate-master): a composed block shows all its layers and sums them; the panel names the BoQ rate
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.test.ts
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
  frontend/src/pages/boq-wizard/rate-helper/itemListPricing.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
Labels: UI

docs(boq): record slice 12c FINISH -- the calculator admission, the composition rules, typed sizes, the three-condition note rule, and the six defects the cert found
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

test(rate-master): il_02 asserts ADP is the only ELIGIBLE item-list category
  nirmaan_stack/services/boq_rate_master/test_extraction_coercion.py
Labels: backend

test(ai-settings): a test that reads a secret asserts on a DERIVED FACT, never on the secret
  nirmaan_stack/api/boq/wizard/test_ai_settings.py
Labels: backend

fix(rate-master): the data viewer has ONE column ordering, and every row maps it
  frontend/src/pages/pricing/rate-master/PricingInputImpactPanel.test.ts
  frontend/src/pages/pricing/rate-master/RateMasterDataViewer.tsx
  frontend/src/pages/pricing/rate-master/rateMasterDataViewer.test.ts
  frontend/src/pages/pricing/rate-master/rateMasterGridColumns.test.ts
  frontend/src/pages/pricing/rate-master/rateMasterGridColumns.ts
Labels: UI

test(rate-master): the column sweep finds every category, not just those declaring item_kinds
  frontend/src/pages/pricing/rate-master/rateMasterGridColumns.test.ts
  scripts/_instruments/cat_kinds.json
  scripts/_instruments/grid_alignment_table.ts
Labels: UI

fix(rate-master): the cladding-only SKUs reach the impact panel, and `now` means one quantity
  frontend/src/pages/pricing/rate-master/PricingInputImpactPanel.tsx
  frontend/src/pages/pricing/rate-master/RateMasterPage.tsx
  frontend/src/pages/pricing/rate-master/pricingInputExact.ts
  frontend/src/pages/pricing/rate-master/pricingInputExactItemList.test.ts
  frontend/src/pages/pricing/rate-master/pricingInputImpact.ts
  frontend/src/pages/pricing/rate-master/pricingInputReach.ts
  scripts/_instruments/diag_u9_samples.ts
Labels: UI

fix(rate-master): the download endpoint returns the exporter's own file, formula row and all
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
Labels: backend

chore(rate-master): drop three unused imports left by the grid-columns refactor
  frontend/src/pages/pricing/rate-master/RateMasterDataViewer.tsx
  frontend/src/pages/pricing/rate-master/rateMasterGridColumns.test.ts
Labels: UI

fix(rate-master): a sampled row shows no figure of its own, and its samples sit under it
  frontend/src/pages/pricing/rate-master/PricingInputImpactPanel.tsx
Labels: UI

feat(billing): Financials totals, two-step Packages dialog, bill attachments
  .claude/plans/billing-tracker-plan.md
  frontend/src/pages/ProjectBilling/ProjectBillingTab.tsx
  frontend/src/pages/ProjectBilling/components/BillDrawer.tsx
  frontend/src/pages/ProjectBilling/components/SetupBillingDialog.tsx
  frontend/src/pages/ProjectBilling/components/SupplyDcSheet.tsx
  frontend/src/pages/ProjectBilling/config/bills.config.tsx
  frontend/src/pages/ProjectBilling/types.ts
  frontend/src/pages/ProjectBilling/utils/billingFormat.test.ts
  frontend/src/pages/ProjectBilling/utils/billingFormat.ts
  nirmaan_stack/api/project_billing/_queries.py
  nirmaan_stack/api/project_billing/bills.py
  nirmaan_stack/nirmaan_stack/doctype/project_billing/project_billing.json
  nirmaan_stack/nirmaan_stack/doctype/project_billing/project_billing.py
Labels: UI, backend

feat(billing): Billing Packages tab in Packages Settings (add, rename, delete)
  .claude/plans/billing-tracker-plan.md
  frontend/src/components/billing-packages.tsx
  frontend/src/pages/PackagesSettings/config/packageSettingsTabs.constants.ts
  frontend/src/pages/ProjectBilling/billing.constants.ts
  frontend/src/pages/ProjectBilling/components/BillingPackagesMaster.tsx
  frontend/src/pages/ProjectBilling/data/useBillingQueries.ts
  frontend/src/pages/ProjectBilling/types.ts
  frontend/src/pages/ProjectBilling/utils/billingFormat.test.ts
  frontend/src/pages/ProjectBilling/utils/billingFormat.ts
  nirmaan_stack/api/project_billing/packages.py
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/project_billing.py
  nirmaan_stack/services/project_billing/rules.py
  nirmaan_stack/services/project_billing/test_rules.py
Labels: UI, backend

test(rate-master): invert the one pin 12c invalidated; restore LF on the files Python rewrote
  frontend/src/pages/pricing/rate-master/PricingInputImpactPanel.test.ts
Labels: UI

docs(boq): record the 12c cert fixes -- U9/F3 reachability, the download endpoint, and what the cert caught inside the fix
  frontend/.claude/plans/boq-upload-plan.md
  scripts/_instruments/cert_step4.ts
Labels: none

feat(billing): document API for single-doc calls, billing-status filter, docs sync
  .claude/plans/billing-tracker-plan.md
  frontend/.claude/context/role-access.md
  frontend/src/constants/roles.ts
  frontend/src/pages/ProjectBilling/BillingProjectPage.tsx
  frontend/src/pages/ProjectBilling/BillingTrackerPage.tsx
  frontend/src/pages/ProjectBilling/ProjectBillingTab.tsx
  frontend/src/pages/ProjectBilling/billing.constants.ts
  frontend/src/pages/ProjectBilling/components/BillingPackagesMaster.tsx
  frontend/src/pages/ProjectBilling/data/useBillingQueries.ts
  frontend/src/pages/ProjectBilling/types.ts
  frontend/src/pages/ProjectBilling/utils/billingFormat.test.ts
  frontend/src/pages/ProjectBilling/utils/billingFormat.ts
  nirmaan_stack/api/project_billing/_queries.py
  nirmaan_stack/api/project_billing/bills.py
  nirmaan_stack/api/project_billing/packages.py
  nirmaan_stack/api/project_billing/tracker.py
Labels: UI, backend

feat(billing): PO value cap, required bill fields, Submitted-only first submission date
  .claude/plans/billing-tracker-plan.md
  frontend/src/pages/ProjectBilling/BillingProjectPage.tsx
  frontend/src/pages/ProjectBilling/ProjectBillingTab.tsx
  frontend/src/pages/ProjectBilling/billing.constants.ts
  frontend/src/pages/ProjectBilling/components/BillDrawer.tsx
  frontend/src/pages/ProjectBilling/components/EditPackageDialog.tsx
  frontend/src/pages/ProjectBilling/components/SetupBillingDialog.tsx
  frontend/src/pages/ProjectBilling/components/SupplyDcSheet.tsx
  frontend/src/pages/ProjectBilling/config/bills.config.tsx
  frontend/src/pages/ProjectBilling/utils/billingFormat.test.ts
  frontend/src/pages/ProjectBilling/utils/billingFormat.ts
  nirmaan_stack/api/project_billing/setup.py
  nirmaan_stack/integrations/controllers/project_billing.py
  nirmaan_stack/nirmaan_stack/doctype/project_billing/project_billing.py
  nirmaan_stack/nirmaan_stack/doctype/project_billing_tracker/project_billing_tracker.py
  nirmaan_stack/services/project_billing/rules.py
  nirmaan_stack/services/project_billing/test_rules.py
Labels: UI, backend

fix(expenses): the Paid bell no longer commits inside an outflow-import settle
  nirmaan_stack/api/outflow_import/test_link_rows_to_expense.py
  nirmaan_stack/integrations/controllers/expense_request_notify.py
Labels: backend

feat(billing): Project Wise package rows on what is shown; Desk dates; bill fixes
  .claude/plans/billing-tracker-plan.md
  frontend/src/pages/ProjectBilling/BillingTrackerPage.tsx
  frontend/src/pages/ProjectBilling/components/BillDrawer.tsx
  frontend/src/pages/ProjectBilling/components/BillingBits.tsx
  frontend/src/pages/ProjectBilling/config/bills.config.tsx
  frontend/src/pages/ProjectBilling/types.ts
  frontend/src/pages/ProjectBilling/utils/billingFormat.test.ts
  frontend/src/pages/ProjectBilling/utils/billingFormat.ts
  nirmaan_stack/api/project_billing/_queries.py
  nirmaan_stack/api/project_billing/bills.py
  nirmaan_stack/api/project_billing/tracker.py
  nirmaan_stack/nirmaan_stack/doctype/project_billing/project_billing.py
  nirmaan_stack/services/project_billing/rules.py
  nirmaan_stack/services/project_billing/test_rules.py
Labels: UI, backend

feat(billing): Admin removes a package from a project, with a clear warning
  .claude/plans/billing-tracker-plan.md
  frontend/src/pages/ProjectBilling/BillingProjectPage.tsx
  frontend/src/pages/ProjectBilling/ProjectBillingTab.tsx
  frontend/src/pages/ProjectBilling/billing.constants.ts
  frontend/src/pages/ProjectBilling/components/BillingBits.tsx
  frontend/src/pages/ProjectBilling/components/RemovePackageDialog.tsx
  frontend/src/pages/ProjectBilling/data/useBillingQueries.ts
  frontend/src/pages/ProjectBilling/types.ts
  frontend/src/pages/ProjectBilling/utils/billingFormat.test.ts
  frontend/src/pages/ProjectBilling/utils/billingFormat.ts
  nirmaan_stack/api/project_billing/setup.py
  nirmaan_stack/integrations/controllers/project_billing.py
  nirmaan_stack/services/project_billing/rules.py
  nirmaan_stack/services/project_billing/test_rules.py
Labels: UI, backend

docs(billing): who can do what in billing, per role
  .claude/plans/billing-tracker-plan.md
  frontend/.claude/context/role-access.md
Labels: none

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
