Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

docs(boq): note CLAUDE.md update + working agreement #13 extension proposal
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Session 1 — add Pattern-4 mapping integration test
  nirmaan_stack/services/boq_parser/test_config.py
Labels: backend

docs(boq): update plan for Session 1 + add stale-clone known issue
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(boq): backfill Session 1 docs commit hash in plan header
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Phase 2b.2 Part A3a — multi-area detection module + smoke tests
  nirmaan_stack/services/boq_parser/multi_area_detection.py
  nirmaan_stack/services/boq_parser/test_multi_area_detection.py
Labels: backend

docs(boq): update plan for Phase 2b.2 Part A3a completion
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Phase 2b.2 Part A3b — comprehensive multi-area detection tests
  nirmaan_stack/services/boq_parser/test_multi_area_detection.py
Labels: backend

docs(boq): update plan for Phase 2b.2 Part A3b completion
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(boq): Phase 2b.2 Part A3c — Pattern 1 skips merge-covered cells
  nirmaan_stack/services/boq_parser/multi_area_detection.py
  nirmaan_stack/services/boq_parser/test_multi_area_detection.py
Labels: backend

docs(boq): update plan for Phase 2b.2 Part A3c completion
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(payments): polish CEO Pending flow — PO term mirror, facets, badges, cleanup
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPaymentTermsCard.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/TransactionDetailsCard.tsx
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/ProjectPayments/config/ppTabs.constants.ts
  frontend/src/pages/credits/credits.constant.ts
  frontend/src/pages/credits/hooks/useCredits.ts
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  frontend/src/pages/projects/hooks/useProjectAllCredits.ts
  frontend/src/pages/projects/projects.tsx
  frontend/src/zustand/useDocCountStore.ts
  nirmaan_stack/api/credits/get_credits_list.py
  nirmaan_stack/api/po_adjustments/_payment_utils.py
  nirmaan_stack/api/sidebar_counts.py
  nirmaan_stack/integrations/controllers/project_payments.py
Labels: UI, backend

refactor(Payments): update payment summary labels, styling, and grid layout responsiveness in PaymentSummaryCards
  frontend/src/pages/ProjectPayments/PaymentSummaryCards.tsx
Labels: UI

docs(boq): Session 5 — Session 4 verification + §17.5/§17.6/§17.7 known issues
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Phase 2b.2 Part B1 — classifier amount_by_area_raw + parse_boq() orchestrator
  nirmaan_stack/services/boq_parser/classifier.py
  nirmaan_stack/services/boq_parser/hierarchy.py
  nirmaan_stack/services/boq_parser/orchestrator.py
  nirmaan_stack/services/boq_parser/test_classifier.py
  nirmaan_stack/services/boq_parser/test_hierarchy.py
  nirmaan_stack/services/boq_parser/test_orchestrator.py
Labels: backend

docs(boq): update plan for Phase 2b.2 Part B1 completion + CLAUDE.md catch-up
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Phase 2b.2 Part B2a — Policy X, per-area totals, post-pass
  nirmaan_stack/services/boq_parser/classifier.py
  nirmaan_stack/services/boq_parser/hierarchy.py
  nirmaan_stack/services/boq_parser/orchestrator.py
  nirmaan_stack/services/boq_parser/test_classifier.py
  nirmaan_stack/services/boq_parser/test_hierarchy.py
  nirmaan_stack/services/boq_parser/test_orchestrator.py
  nirmaan_stack/services/boq_parser/tests/fixtures/generate_synthetic.py
Labels: backend

docs(boq): Session 6 — Part B2a completion record and decisions
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(assets): Project asset attachments + Asset Name/Assignee facets with counts
  frontend/src/pages/Assets/AssetOverview.tsx
  frontend/src/pages/Assets/components/AddAssetDialog.tsx
  frontend/src/pages/Assets/components/AssetMasterList.tsx
  frontend/src/pages/Assets/components/AssetsSummaryCard.tsx
  frontend/src/pages/Assets/components/AssignedAssetsList.tsx
  frontend/src/pages/Assets/components/PendingActionsList.tsx
  frontend/src/pages/Assets/components/UnassignedAssetsList.tsx
  nirmaan_stack/nirmaan_stack/doctype/asset_master/asset_master.json
Labels: UI, backend

feat(user-profile): Project/IT sub-tabs in Assets, type-aware Assign dialog, fix permission-loop
  frontend/src/pages/users/components/AssignAssetToUserDialog.tsx
  frontend/src/pages/users/components/UserAssetsTab.tsx
  frontend/src/pages/users/user-profile.tsx
Labels: UI

feat(boq): Phase 2b.2 Part B2b-keywords — expand multi-area reserved keyword list
  nirmaan_stack/services/boq_parser/config.py
  nirmaan_stack/services/boq_parser/test_config.py
  nirmaan_stack/services/boq_parser/test_multi_area_detection.py
Labels: backend

docs(boq): update plan for Phase 2b.2 Part B2b-keywords completion + Known Issue #42
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Phase 2b.2 Part B2c — Snitch real fixture + integration test
  nirmaan_stack/services/boq_parser/test_orchestrator.py
  nirmaan_stack/services/boq_parser/tests/fixtures/snitch_electrical.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/snitch_electrical_expected.json
Labels: backend

docs(boq): update plan for Phase 2b.2 Part B2c completion + §7.25 wording correction + CLAUDE.md catch-up
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Phase 2b.2 Part B2d — unit-based PREAMBLE demotion post-pass
  nirmaan_stack/services/boq_parser/classifier.py
  nirmaan_stack/services/boq_parser/orchestrator.py
  nirmaan_stack/services/boq_parser/test_classifier.py
Labels: backend

docs(boq): Session 7 — Part B2d completion record and decisions
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Phase 2b.2 Part B2e — regenerate Snitch expected JSON after B2d classifier change
  nirmaan_stack/services/boq_parser/tests/fixtures/snitch_electrical_expected.json
Labels: backend

docs(boq): update plan for Phase 2b.2 Part B2e completion + Phase 2c next
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Phase 2b.2 Part B2f — zero-children PREAMBLE demotion post-pass
  nirmaan_stack/services/boq_parser/hierarchy.py
  nirmaan_stack/services/boq_parser/orchestrator.py
  nirmaan_stack/services/boq_parser/test_hierarchy.py
  nirmaan_stack/services/boq_parser/test_orchestrator.py
  nirmaan_stack/services/boq_parser/tests/fixtures/snitch_electrical_expected.json
Labels: backend

docs(boq): Session 7 — Part B2f completion record and decisions
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

chore(boq): Phase 2c kickoff — commit 24 real BoQ fixtures (§9 #40)
  nirmaan_stack/services/boq_parser/tests/fixtures/(Unpriced_R1)ES-CW-MS -6A-L1  L2-HVAC MODIFICATION 09.03.2026.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/(Unpriced_R1)ES-CW-MS-6A-L1  L2-FLS MODIFICATION PRICED BOQ-10.03.26.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/(Unpriced_R1)ES-EL-CW-MS-6A-L1  L2-ELECTRICAL MODIFICATION PRICED BOQ-10.03.2026-R1.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/BOQ MEP_PAYTM BANGALORE.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/Bill of Quantities.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/Electrical BOQ.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/Electrical Unpriced BOQ-03.02.2026 R1.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/Inovalon HVAC Unpriced BOQ-21.01.2026.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/K-Mall Jodhpur BOQ Combined.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/KSM 66_Internal Electrical BOQ R1 Final.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/Kohler-BOQ- 06-04-26.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/R0 WORKING-JSW  -MEP Priced BOQ- 29.04.2026.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/R0_CIVIL INTERIOR & MEP_TABLESPACE_PUNETH WORKING FILE_06.05.2026 (2).xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/R0_MEP_HYBE_MUMBAI_FINAL_v4.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/RAHEJA Commerzone  Chennai BOQ.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/RFQ_Societe Generale_Bangalore_Electrical works_BOQ-26022026 (1).xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/RFQ_Societe Generale_Bangalore_HVAC_BOQ-26-02-2026 (1).xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/TS T2 WEX BANGLORE- HVAC UNPRICED BOQ-30.04.2026 R0.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/TS-UNPRICED ELECTRICAL BOQ-01.05.2026.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/Unpriced BOQ (1).xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/Unpriced BOQ.xlsx
  nirmaan_stack/services/boq_parser/tests/fixtures/Unpriced_DHL Chennai_MEP_15 April_V2..xlsx
Labels: none

docs(boq): Phase 2c kickoff — fixture commits record + agreement #23 timestamp adoption
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

chore(boq): Phase 2c -- reserved keyword survey audit script (s9 #44)
  nirmaan_stack/services/boq_parser/keyword_audit.py
Labels: backend

docs(boq): Phase 2c -- reserved keyword survey audit complete (s9 #44 audit half)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Phase 2c keyword expansion — 49→120 reserved keywords + _is_reserved normalization
  nirmaan_stack/services/boq_parser/config.py
  nirmaan_stack/services/boq_parser/multi_area_detection.py
  nirmaan_stack/services/boq_parser/test_config.py
  nirmaan_stack/services/boq_parser/test_multi_area_detection.py
Labels: backend

docs(boq): Phase 2c keyword expansion completion record — §9 #44 CLOSED
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

chore(boq): Phase 2c targeted keyword additions — 120→191 (§9 #44 follow-on, §17.10 CLOSED)
  nirmaan_stack/services/boq_parser/config.py
  nirmaan_stack/services/boq_parser/test_config.py
Labels: backend

docs(boq): Phase 2c keyword targeted additions record + §17.10 CLOSED
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat: Fix FA -commissioning voltage looping.
  frontend/.claude/context/domain/commissioning-report-templates.md
  frontend/src/pages/CommissionReport/report-wizard/renderer/TraineesDataTableSection.tsx
  frontend/src/pages/CommissionReport/report-wizard/types.ts
  nirmaan_stack/fixtures/commission_report_tasks.json
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

refactor: header & Footer TExt and Logo FIx
  nirmaan_stack/fixtures/print_format.json
Labels: backend

feat(commission-report): add measurement_matrix section type
  frontend/src/pages/CommissionReport/report-wizard/constants.ts
  frontend/src/pages/CommissionReport/report-wizard/index.tsx
  frontend/src/pages/CommissionReport/report-wizard/prefill/resolve.ts
  frontend/src/pages/CommissionReport/report-wizard/renderer/ChecklistSection.tsx
  frontend/src/pages/CommissionReport/report-wizard/renderer/MeasurementMatrixSection.tsx
  frontend/src/pages/CommissionReport/report-wizard/renderer/SectionRenderer.tsx
  frontend/src/pages/CommissionReport/report-wizard/schema.ts
  frontend/src/pages/CommissionReport/report-wizard/template-parser.ts
  frontend/src/pages/CommissionReport/report-wizard/types.ts
  nirmaan_stack/fixtures/commission_report_tasks.json
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend
