Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

feat(boq): route the within-BoQ copy-forward through the shared N2 row match
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/test_pricing.py
Labels: backend

docs(boq): split frontend context doc by surface, add repo-resident facts doc
  .claude/facts/archive/handover-v5.73-raw.md
  .claude/facts/handover.md
  frontend/.claude/context/_index.md
  frontend/.claude/context/domain/boq-frontend-as-built-log.md
  frontend/.claude/context/domain/boq-frontend-hub.md
  frontend/.claude/context/domain/boq-frontend-pricing-controls.md
  frontend/.claude/context/domain/boq-frontend-pricing-grid.md
  frontend/.claude/context/domain/boq-frontend-pricing-layout.md
  frontend/.claude/context/domain/boq-frontend-pricing-rollup.md
  frontend/.claude/context/domain/boq-frontend-review-screen.md
  frontend/.claude/context/domain/boq-frontend-revised-boq.md
  frontend/.claude/context/domain/boq-frontend-sheet-config.md
  frontend/.claude/context/domain/boq-frontend-wizard-upload.md
  frontend/.claude/context/domain/boq-frontend.md
Labels: none

docs(boq): drop two PENDING OWNER CONFIRMATION markers that R12 falsified
  frontend/src/pages/boq-wizard/CarryLayers.tsx
  frontend/src/pages/boq-wizard/CopyForwardDialog.tsx
Labels: UI

fix(boq): gate the carry buttons on writes, not on the selection
  frontend/src/pages/boq-wizard/CarryLayers.tsx
  frontend/src/pages/boq-wizard/CopyForwardDialog.test.ts
  frontend/src/pages/boq-wizard/CopyForwardDialog.tsx
  frontend/src/pages/boq-wizard/CrossBoqCarryDialog.test.ts
  frontend/src/pages/boq-wizard/CrossBoqCarryDialog.tsx
Labels: UI

feat(boq): plumb carried_from_version through the category types and mapper
  frontend/src/pages/boq-wizard/boqTypes.ts
  frontend/src/pages/boq-wizard/sheetCategoryResolve.test.ts
  frontend/src/pages/boq-wizard/sheetCategoryResolve.ts
Labels: UI

feat(boq): decide cross-BoQ-ness of a carry server-side (R16)
  nirmaan_stack/api/boq/wizard/classify.py
  nirmaan_stack/api/boq/wizard/test_classify.py
Labels: backend

feat(boq): offer the carry layers on the within-BoQ copy-forward
  frontend/src/pages/boq-wizard/CopyForwardDialog.test.ts
  frontend/src/pages/boq-wizard/CopyForwardDialog.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
Labels: UI

fix(boq): bound the copy-forward dialog to the viewport, and report writes
  frontend/src/pages/boq-wizard/CopyForwardDialog.test.ts
  frontend/src/pages/boq-wizard/CopyForwardDialog.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
Labels: UI

docs(boq): correct the carry-gate docs and prune rot under R17
  .claude/context/domain/boq-backend.md
  .claude/plans/boq/slices/2026-07-29-within-boq-carry-parity.md
  CLAUDE.md
  frontend/CLAUDE.md
Labels: none

docs(boq): write ADR-0014 Amendment F so the code's citations resolve
  docs/adr/0014-boq-revised-upload-and-carry.md
Labels: none

feat(boq): a within-BoQ carry says which VERSION it came from (R3)
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  frontend/src/pages/boq-wizard/sheetCategoryResolve.test.ts
  frontend/src/pages/boq-wizard/sheetCategoryResolve.ts
Labels: UI

docs(boq): retire two stale isNeedsReviewCategory refs; record R18
  .claude/plans/boq/slices/2026-07-29-within-boq-carry-parity.md
  frontend/CLAUDE.md
Labels: none

feat(boq): surface carried_from_version on the resolved category read
  nirmaan_stack/api/boq/wizard/classify.py
  nirmaan_stack/api/boq/wizard/test_classify.py
Labels: backend

refactor(boq): one carry write-count, and a per-surface destination noun
  frontend/src/pages/boq-wizard/CarryLayers.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
Labels: UI

fix(boq): the carry buttons count changes, not items
  frontend/src/pages/boq-wizard/CarryLayers.tsx
  frontend/src/pages/boq-wizard/CopyForwardDialog.test.ts
  frontend/src/pages/boq-wizard/CopyForwardDialog.tsx
  frontend/src/pages/boq-wizard/CrossBoqCarryDialog.test.ts
  frontend/src/pages/boq-wizard/CrossBoqCarryDialog.tsx
Labels: UI

fix(boq): escape the raw NUL bytes, and count writes on the whole-BoQ button
  frontend/src/pages/boq-wizard/CrossBoqCarryDialog.test.ts
  frontend/src/pages/boq-wizard/CrossBoqCarryDialog.tsx
Labels: UI

feat(boq-rate-master): EA-DIFF 29-Jul truth-file (synonyms, point_wiring, GI-conduit, DB three-way split)
  frontend/src/pages/pricing/rate-master/RateMasterDataViewer.tsx
  frontend/src/pages/pricing/rate-master/rateMasterRegistry.ts
  frontend/src/pages/pricing/rate-master/rateMasterStructure.test.ts
  frontend/src/pages/pricing/rate-master/rateMasterStructure.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.ts
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/api/boq/test_rate_suggest.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v12.json
  nirmaan_stack/services/boq_rate_master/extraction.py
  nirmaan_stack/services/boq_rate_master/loader.py
Labels: UI, backend

docs(boq-rate-master): record EA-DIFF (synonyms, point_wiring, DB three-way split, Option C, empty-scope)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(action-center): add live zone-aware DPR pending tile
  .claude/context/domain/action-center.md
  frontend/src/components/action-center/ActionCenter.tsx
  frontend/src/types/NirmaanStack/ProjectActionItem.ts
  nirmaan_stack/api/action_items/read.py
Labels: UI, backend

docs(context): carve the always-loaded docs into routers, recover stranded RM slices
  .claude/context/_index.md
  .claude/context/conventions/backend-active-features.md
  .claude/context/conventions/backend-domain-gotchas.md
  .claude/context/conventions/backend-pricing-module.md
  .claude/context/conventions/backend-rate-master.md
  .claude/context/conventions/backend-rate-suggestion.md
  .claude/context/domain/boq-backend-doctypes-and-rules.md
  .claude/context/domain/boq-backend-operations.md
  .claude/context/domain/boq-backend-revised-boq.md
  .claude/context/domain/boq-backend-slice-changelog.md
  .claude/context/domain/boq-backend-wizard-endpoints.md
  .claude/context/domain/boq-backend.md
  .claude/facts/handover.md
  CLAUDE.md
  frontend/.claude/context/_index.md
  frontend/.claude/context/conventions/frontend-gotchas.md
  frontend/.claude/context/conventions/frontend-pricing-editor.md
  frontend/.claude/context/conventions/frontend-pricing-module.md
  frontend/.claude/context/conventions/frontend-rate-master.md
  frontend/.claude/context/conventions/frontend-review-invariants.md
  frontend/.claude/context/conventions/frontend-wizard.md
  frontend/.claude/plans/boq/_slices.md
  frontend/.claude/plans/boq/slices/2026-07-28-build-slice-rm-1-rate-master-schema-initial-load-complete.md
  frontend/.claude/plans/boq/slices/2026-07-28-build-slice-rm-2-rate-master-read-surface-viewer-derivatio.md
  frontend/.claude/plans/boq/slices/2026-07-28-build-slice-rm-2b-re-import-the-28-jul-benchmark-data-comp.md
  frontend/.claude/plans/boq/slices/2026-07-28-build-slice-rm-3-extraction-engine-the-helper-goes-real-ru.md
  frontend/.claude/plans/boq/slices/2026-07-28-build-slice-rm-3a-panel-overlaysticky-mount-hover-only-col.md
  frontend/.claude/plans/boq/slices/2026-07-28-build-slice-rm-3b-embedded-panel-as-default-sticky-full-sc.md
  frontend/.claude/plans/boq/slices/2026-07-29-build-slice-rm-3c-single-embedded-h-scrollbar-full-screen.md
  frontend/.claude/plans/boq/slices/2026-07-29-build-slice-rm-4a-admin-only-parameter-editing-the-data-ed.md
  frontend/.claude/plans/boq/slices/2026-07-29-build-slice-rm-4a-filter-data-viewer-per-column-header-fac.md
  frontend/.claude/plans/boq/slices/2026-07-29-build-slice-rm-4b-the-structure-editor-pipelines-attribute.md
  frontend/.claude/plans/boq/slices/2026-07-29-within-boq-carry-parity.md
  frontend/.claude/plans/boq/slices/2026-07-30-structural-carve-claude-md.md
  frontend/CLAUDE.md
Labels: none

docs(facts): fold the handover from git at e7f4602f, and correct three false lines
  .claude/facts/handover.md
Labels: none

docs(boq): make the within-BoQ carry findings register true again
  frontend/.claude/plans/boq/slices/2026-07-29-within-boq-carry-parity.md
  nirmaan_stack/api/boq/wizard/cross_boq_carry.py
Labels: backend

fix(boq): read categories at the version being viewed, not always the current one
  nirmaan_stack/api/boq/wizard/classify.py
  nirmaan_stack/api/boq/wizard/test_classify.py
Labels: backend

fix(boq): show the viewed version's categories, while the gate stays on the current one
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
Labels: UI

docs(boq): record slice S8 and rulings R20-R23, chaining the fragment to part 2
  docs/adr/0014-boq-revised-upload-and-carry.md
  frontend/.claude/plans/boq/slices/2026-07-29-within-boq-carry-parity-part2.md
  frontend/.claude/plans/boq/slices/2026-07-29-within-boq-carry-parity.md
Labels: none

docs(facts): record the first bench-verified test counts, measured at f215d6a9
  .claude/facts/handover.md
Labels: none

chore(boq-rate-master): EA-3 harness runner + banked composite oracles record
  frontend/scripts/ea3_banked_composites.json
  frontend/scripts/ea3_harness_runner.ts
Labels: none

feat(boq): a copy-forward may land rates on uncategorised rows
  frontend/.claude/plans/boq/_slices.md
  frontend/.claude/plans/boq/slices/2026-07-30-wbc-s10-ungate-the-copy-forward.md
  frontend/src/pages/boq-wizard/CopyForwardDialog.tsx
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/test_pricing.py
Labels: UI, backend

docs(boq): correct five claims that WBC-S10 made false
  frontend/.claude/plans/boq/slices/2026-07-30-wbc-s10-ungate-the-copy-forward.md
  nirmaan_stack/api/boq/wizard/cross_boq_carry.py
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/test_cross_boq_carry.py
Labels: backend

feat(boq): opt-in serial+description second pass in the pure row matcher
  nirmaan_stack/services/boq_revision/row_match.py
  nirmaan_stack/services/boq_revision/test_row_match.py
Labels: backend

docs(boq-rate-master): EA-3 live-BoQ certification record
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): enable the serial second pass on the cross-BoQ carry only
  nirmaan_stack/api/boq/wizard/committed_carry.py
  nirmaan_stack/api/boq/wizard/test_committed_carry.py
  nirmaan_stack/services/boq_revision/row_match.py
Labels: backend

feat(boq): report which pass matched each cross-BoQ carry plan row
  nirmaan_stack/api/boq/wizard/cross_boq_carry.py
  nirmaan_stack/api/boq/wizard/test_cross_boq_carry.py
Labels: backend

docs(boq): record slice WBC-S11 and ADR-0014 Amendment G
  frontend/.claude/plans/boq/_slices.md
  frontend/.claude/plans/boq/slices/2026-07-30-wbc-s11-serial-second-pass-match.md
Labels: none

feat(boq-rate-master): EA-4a assembly engine + point_wiring live + values_from-in-editor + nine defaults
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/pricing/rate-master/RateMasterDerivation.tsx
  frontend/src/pages/pricing/rate-master/rateMasterStructure.ts
  frontend/src/pages/pricing/rate-master/rateMasterTypes.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.ts
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v13.json
  nirmaan_stack/services/boq_rate_master/extraction.py
Labels: UI, backend

docs(boq-rate-master): record EA-4a assembly engine + point_wiring live + values_from-in-editor + defaults
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-rate-master): EA-4a-r the None mechanism -- composite optional components (positive absence)
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/boq-wizard/rate-helper/rateHelperTypes.ts
  frontend/src/pages/pricing/rate-master/RateMasterDerivation.tsx
  frontend/src/pages/pricing/rate-master/rateMasterTypes.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.ts
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v14.json
  nirmaan_stack/services/boq_rate_master/extraction.py
Labels: UI, backend

docs(boq-rate-master): record EA-4a-r the None mechanism (positive absence) + wiring-sha correction
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-rate-master): EA-4b switches_point + industrial-socket paired-MCB (data-only; no interpreter change)
  frontend/scripts/ea3_banked_composites.json
  frontend/src/pages/pricing/rate-master/rateMasterRegistry.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v15c.json
Labels: UI, backend

docs(boq-rate-master): record EA-4b switches_point + industrial paired-MCB (data-only) + the golden-defect lesson
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none
