Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

fix(boq): reject the single-editor lock race loser instead of leaking a duplicate-key error
  nirmaan_stack/api/boq/wizard/pricing_lock.py
  nirmaan_stack/api/boq/wizard/test_pricing.py
Labels: backend

feat(boq): template review -- quantity review block, keyboard nav, eligibility gating
  frontend/src/pages/boq-wizard/AreaQtyCells.tsx
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/qtyNav.test.ts
  frontend/src/pages/boq-wizard/qtyNav.ts
  frontend/src/pages/boq-wizard/templateSelection.test.ts
  frontend/src/pages/boq-wizard/templateSelection.ts
Labels: UI

feat(boq): clear a template row's quantities when it is deselected
  nirmaan_stack/api/boq/wizard/template_select.py
  nirmaan_stack/api/boq/wizard/test_template_select.py
Labels: backend

docs(boq): as-built for the template review, priced export and lock changes
  .claude/context/domain/boq-backend.md
  frontend/.claude/context/domain/boq-frontend.md
Labels: none

feat(pricing): import xlsx data validations as engine dropdowns with extent clamping
  frontend/src/pages/pricing/PricingWorkbookPage.tsx
  frontend/src/pages/pricing/pricingValidations.ts
Labels: UI

docs(pricing): plan doc DV arc fold
  frontend/.claude/plans/pricing-module-plan.md
  frontend/CLAUDE.md
Labels: none

feat(pricing): admin write gate, estimates sandbox mode, replace from excel, save-time formula advisory
  frontend/src/pages/pricing/PricingWorkbookPage.tsx
  frontend/src/pages/pricing/pricingFormulaScan.test.ts
  frontend/src/pages/pricing/pricingFormulaScan.ts
  nirmaan_stack/api/pricing/test_pricing_workbook.py
  nirmaan_stack/api/pricing/workbook.py
Labels: UI, backend

docs(pricing): plan doc PW-2a fold
  CLAUDE.md
  frontend/.claude/plans/pricing-module-plan.md
  frontend/CLAUDE.md
Labels: none

feat(invoices): per-invoice extraction logging + seed extraction cache
  nirmaan_stack/extraction_cache.json
  nirmaan_stack/patches/v3_0/backfill_invoice_qty.py
Labels: backend

feat(pricing): formula parser, transform suite, row clamp in import pipeline
  frontend/src/pages/pricing/PricingWorkbookPage.tsx
  frontend/src/pages/pricing/__fixtures__/convertedCorpus.json
  frontend/src/pages/pricing/__fixtures__/corpusFormulas.ts
  frontend/src/pages/pricing/pricingClamp.ts
  frontend/src/pages/pricing/pricingFormulaAst.test.ts
  frontend/src/pages/pricing/pricingFormulaAst.ts
  frontend/src/pages/pricing/pricingHelpers.ts
  frontend/src/pages/pricing/pricingPipeline.test.ts
  frontend/src/pages/pricing/pricingTransforms.test.ts
  frontend/src/pages/pricing/pricingTransforms.ts
Labels: UI

docs(pricing): plan doc PW-2b-i fold
  frontend/.claude/plans/pricing-module-plan.md
  frontend/CLAUDE.md
Labels: none

fix(pricing): prune versions via raw delete to survive list-shaped version payloads
  nirmaan_stack/api/pricing/test_pricing_workbook.py
  nirmaan_stack/api/pricing/workbook.py
Labels: backend

feat(pricing): import report dialog and consent-based live formula fixes
  frontend/src/pages/pricing/ImportReportDialog.tsx
  frontend/src/pages/pricing/PricingWorkbookPage.tsx
  frontend/src/pages/pricing/pricingLiveFix.test.ts
  frontend/src/pages/pricing/pricingLiveFix.ts
Labels: UI

docs(pricing): plan doc PW-2b-ii fold and arc close
  CLAUDE.md
  frontend/.claude/plans/pricing-module-plan.md
  frontend/CLAUDE.md
Labels: none

feat(pricing): save-time helper-class formula fixes with forced materialization
  frontend/src/pages/pricing/ImportReportDialog.tsx
  frontend/src/pages/pricing/PricingWorkbookPage.tsx
  frontend/src/pages/pricing/pricingHelpers.ts
  frontend/src/pages/pricing/pricingHitEval.test.ts
  frontend/src/pages/pricing/pricingHitEval.ts
  frontend/src/pages/pricing/pricingLiveFix.test.ts
  frontend/src/pages/pricing/pricingLiveFix.ts
  frontend/src/pages/pricing/pricingTransforms.ts
Labels: UI

docs(pricing): plan doc PW-2d fold
  frontend/.claude/plans/pricing-module-plan.md
  frontend/CLAUDE.md
Labels: none

docs(pricing): univer spike verdict and park decision
  frontend/.claude/plans/pricing-module-plan.md
Labels: none

feat(reports): rework Monthly WIP into a grouped compliance report
  .claude/plans/monthly-wip-plan.md
  CLAUDE.md
  frontend/src/pages/monthly-wip/MonthlyWIPPage.tsx
  frontend/src/pages/monthly-wip/useMonthlyWIPData.ts
  frontend/src/utils/exportToCsv.ts
  nirmaan_stack/api/reports/test_wip_monthly_report.py
  nirmaan_stack/api/reports/wip_monthly_report.py
Labels: UI, backend

feat(boq): freeze summary reads multi-engine resolved category (Slice 1a)
  nirmaan_stack/api/boq/wizard/classify.py
  nirmaan_stack/api/boq/wizard/test_classify.py
  nirmaan_stack/services/boq_category/persist.py
Labels: backend

docs(boq): record Slice 1a freeze-summary resolved-read rewire
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): relocate qty-bearing test to the service layer (Slice G1)
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/test_pricing.py
  nirmaan_stack/services/boq_category/persist.py
Labels: backend

docs(boq): record Slice G1 qty-bearing test relocation
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): rate-editable blank-category count, surfaced (Slice G2a)
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/test_pricing.py
  nirmaan_stack/services/boq_category/persist.py
Labels: backend

docs(boq): record Slice G2a rate-editable blank-category count
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): category gate + admin override (Slice G2b, MIGRATE)
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/test_pricing.py
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet/boq_sheet.json
Labels: backend

docs(boq): record Slice G2b category gate + admin override
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): gate both rate carry-forward paths on the destination categories (Slice G2c)
  nirmaan_stack/api/boq/wizard/cross_boq_carry.py
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/test_cross_boq_carry.py
  nirmaan_stack/api/boq/wizard/test_pricing.py
Labels: backend

docs(boq): record Slice G2c carry-forward category gates (both flavours)
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

chore(boq): re-baseline residence check after develop-merge frontend drift
  scripts/residence_baseline.json
Labels: none

feat(boq): widen the category gate to "empty is empty" + one shared amber/filter predicate (Slice G2e)
  frontend/src/pages/boq-wizard/ClassifySheetDialog.test.ts
  frontend/src/pages/boq-wizard/ClassifySheetDialog.tsx
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/test_cross_boq_carry.py
  nirmaan_stack/api/boq/wizard/test_pricing.py
Labels: UI, backend

docs(boq): record Slice G2e widened "empty is empty" gate + shared amber/filter predicate
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): make the category gate visible + correct the message family (Slice G3a)
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
  nirmaan_stack/api/boq/wizard/cross_boq_carry.py
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/test_cross_boq_carry.py
  nirmaan_stack/api/boq/wizard/test_pricing.py
Labels: UI, backend

docs(boq): record Slice G3a visible category gate + corrected message family
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): add admin category-gate override set/clear control
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/categoryOverrideControl.test.ts
Labels: UI

docs(boq-pricing): record G3b admin override control as-built
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): clear the category-gate override on re-classify + close 3 test gaps
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  nirmaan_stack/api/boq/wizard/classify.py
  nirmaan_stack/api/boq/wizard/pricing.py
  nirmaan_stack/api/boq/wizard/test_classify.py
  nirmaan_stack/api/boq/wizard/test_cross_boq_carry.py
  nirmaan_stack/api/boq/wizard/test_pricing.py
Labels: UI, backend

docs(boq-pricing): record G2d reclassify-clears-override + arc close
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(sidebar): grant Estimates Executive full project access
  frontend/src/components/layout/NewSidebar.tsx
  nirmaan_stack/api/sidebar_counts.py
Labels: UI, backend

feat(vendors): show item details on Delivery Note rows
  frontend/src/components/helpers/ItemsHoverCard.tsx
  frontend/src/pages/vendors/components/VendorDeliveryNotesTable.tsx
Labels: UI

fix(vendors): fetch quantity for Approved Quotes table
  frontend/src/pages/vendors/components/VendorApprovedQuotesTable.tsx
Labels: UI

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
