Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

feat : Changes made for approved to delivered po end to end testing purpose
  frontend/cypress/e2e/approve_to_delivered_end_to_end.cy.ts
  frontend/src/pages/DeliveryNotes/components/deliveryNoteItemsDisplay.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

Test: Complete End-To-End test flows for Payments Flow, Invoice Recon, Refactor: pr full process and required data-cy attribute values.
  frontend/cypress.config.ts
  frontend/cypress/e2e/creation_to_delivered_po.cy.ts
  frontend/cypress/e2e/in_flow_payments.cy.ts
  frontend/cypress/e2e/invoice_recon.cy.ts
  frontend/cypress/e2e/payments_flow.cy.ts
  frontend/src/components/layout/main-layout.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/TransactionDetailsCard.tsx
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/ProjectPayments/approve-payments/components/PaymentActionDialog.tsx
  frontend/src/pages/ProjectPayments/update-payment/DeletePaymentDialog.tsx
  frontend/src/pages/inflow-payments/components/NewInflowPayment.tsx
  frontend/src/pages/tasks/invoices/components/PendingTasksTable.tsx
  frontend/src/pages/tasks/invoices/components/columns.tsx
Labels: UI

Test: Complete Ent-to-End test flows for Merging a PO and Add new In-Flow Payments. Refactor: Changes in add_new_sr and Placement of required Data-Cy Attributes.
  frontend/cypress/e2e/add_new_sr.cy.ts
  frontend/cypress/e2e/in_flow_payments.cy.ts
  frontend/cypress/e2e/merge_po.cy.ts
  frontend/src/components/helpers/renderRightActionButton.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/inflow-payments/components/NewInflowPayment.tsx
Labels: UI

test: project invoice and service e2e testing
  frontend/cypress/e2e/project_invoice.cy.ts
  frontend/cypress/e2e/service_request_end_to_end.cy.ts
  frontend/src/components/helpers/renderRightActionButton.tsx
  frontend/src/pages/ProjectInvoices/components/ProjectInvoiceDialog.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-service-request.tsx
  frontend/src/pages/auth/Login.tsx
Labels: UI

fix: updated permissions to enable access for nirmaan roles
  nirmaan_stack/nirmaan_stack/doctype/approved_quotations/approved_quotations.json
  nirmaan_stack/nirmaan_stack/doctype/project_invoices/project_invoices.json
Labels: backend

fix: updated Reports access
  frontend/src/pages/reports/ReportsContainer.tsx
  frontend/src/pages/reports/components/POReports.tsx
  frontend/src/pages/reports/components/columns/poColumns.tsx
  frontend/src/pages/reports/store/useReportStore.ts
Labels: UI

fix: Restrictions added for Project Manager profile
  frontend/src/pages/DeliveryNotes/deliverynote.tsx
  frontend/src/pages/DeliveryNotes/deliverynotes.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/TransactionDetailsCard.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/sr-summary.tsx
  frontend/src/pages/vendors/components/VendorBankDetailsCard.tsx
  frontend/src/pages/vendors/vendor.tsx
Labels: UI

fix: dashboard and sidebar changes
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/layout/dashboards/dashboard-accountant.tsx
  frontend/src/components/layout/dashboards/dashboard-pm.tsx
Labels: UI

fix: item status filter additions
  frontend/src/pages/Items/items.constants.ts
  frontend/src/pages/Items/itemsPage.tsx
  frontend/src/pages/reports/components/ProjectReports.tsx
  frontend/src/types/NirmaanStack/Items.ts
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_4/item_status_populate.py
Labels: UI, backend

chore: removed unused components
  frontend/src/pages/Retired Components/ApproveSBVendorQuotes.tsx
  frontend/src/pages/Retired Components/approve-r-reject-vendor-quotes.tsx
  frontend/src/pages/Retired Components/data-table/debounced-input.tsx
  frontend/src/pages/Retired Components/forms/addvendorcategories.tsx
  frontend/src/pages/Retired Components/helpers/ActionSummary.tsx
  frontend/src/pages/Retired Components/helpers/ApproveVendorQuotesPRorSBAntDTable.tsx
  frontend/src/pages/Retired Components/image/canvas-utils.tsx
  frontend/src/pages/Retired Components/layout/alert-banner/error-banner.tsx
  frontend/src/pages/Retired Components/layout/alert-banner/index.ts
  frontend/src/pages/Retired Components/layout/loaders/full-page-loader.tsx
  frontend/src/pages/Retired Components/layout/loaders/index.ts
  frontend/src/pages/Retired Components/procurement-request/wp_selection.tsx
  frontend/src/pages/Retired Components/procurement/EstimatedPriceHoverCard.tsx
  frontend/src/pages/Retired Components/procurement/quotation-form.tsx
  frontend/src/pages/Retired Components/procurement/rfq-pdf.tsx
  frontend/src/pages/Retired Components/procurement/select-vendors.tsx
  frontend/src/pages/Retired Components/procurement/sent-back-quotation-form.tsx
  frontend/src/pages/Retired Components/procurement/sent-back-select-vendor.tsx
  frontend/src/pages/Retired Components/procurement/sent-back-update-quote.tsx
  frontend/src/pages/Retired Components/procurement/update-quote.tsx
  frontend/src/pages/Retired Components/ui/accessible-dialog.tsx
  frontend/src/pages/Retired Components/ui/dropdown2.tsx
  frontend/src/pages/Retired Components/ui/image-dialog.tsx
  frontend/src/pages/Retired Components/ui/resizable.tsx
  frontend/src/pages/Retired Components/ui/slider.tsx
  frontend/src/pages/Retired Components/updates/RoleDashboard.tsx
  frontend/src/pages/Retired Components/updates/RoleSelector.tsx
  frontend/src/pages/Retired Components/updates/SidebarLink.tsx
  frontend/src/pages/debug.tsx
Labels: UI

feat: added non project expenses & extense type doctypes
  nirmaan_stack/nirmaan_stack/doctype/expense_type/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/expense_type/expense_type.js
  nirmaan_stack/nirmaan_stack/doctype/expense_type/expense_type.json
  nirmaan_stack/nirmaan_stack/doctype/expense_type/expense_type.py
  nirmaan_stack/nirmaan_stack/doctype/expense_type/test_expense_type.py
  nirmaan_stack/nirmaan_stack/doctype/non_project_expenses/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/non_project_expenses/non_project_expenses.js
  nirmaan_stack/nirmaan_stack/doctype/non_project_expenses/non_project_expenses.json
  nirmaan_stack/nirmaan_stack/doctype/non_project_expenses/non_project_expenses.py
Labels: backend

feat: export type fixtures
  nirmaan_stack/fixtures/expense_type.json
  nirmaan_stack/hooks.py
Labels: backend

fix: added missing doctype file
  nirmaan_stack/nirmaan_stack/doctype/non_project_expenses/test_non_project_expenses.py
Labels: backend

feat: ui changes for non-project-expenses
  frontend/src/components/helpers/renderRightActionButton.tsx
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/config/queryKeys.ts
  frontend/src/pages/NonProjectExpenses/NonProjectExpensesPage.tsx
  frontend/src/pages/NonProjectExpenses/components/NewNonProjectExpense.tsx
  frontend/src/pages/NonProjectExpenses/components/UpdateInvoiceDetailsDialog.tsx
  frontend/src/pages/NonProjectExpenses/components/UpdatePaymentDetailsDialog.tsx
  frontend/src/pages/NonProjectExpenses/config/nonProjectExpensesTable.config.ts
  frontend/src/pages/ProjectInvoices/AllProjectInvoices.tsx
  frontend/src/pages/ProjectInvoices/ProjectInvoices.tsx
  frontend/src/pages/ProjectInvoices/components/ProjectInvoiceDialog.tsx
  frontend/src/pages/ProjectInvoices/components/ProjectInvoiceTable.tsx
  frontend/src/pages/ProjectInvoices/config/projectInvoices.config.tsx
  frontend/src/types/NirmaanStack/ExpenseType.ts
  frontend/src/types/NirmaanStack/NonProjectExpenses.ts
  frontend/src/zustand/useDialogStore.ts
Labels: UI

chore: installed package version bump
  frontend/package.json
  frontend/src/components/layout/NewSidebar.tsx
  frontend/yarn.lock
Labels: UI

fix: updated package upgrades
  frontend/package.json
  frontend/vite.config.ts
  frontend/yarn.lock
Labels: none

fix added permissions to new doctypes
  nirmaan_stack/nirmaan_stack/doctype/expense_type/expense_type.json
  nirmaan_stack/nirmaan_stack/doctype/non_project_expenses/non_project_expenses.json
Labels: backend

fix: reverted back react to print version
  frontend/package.json
  frontend/yarn.lock
Labels: none

fix: reverted back package versions
  frontend/package.json
  frontend/yarn.lock
Labels: none

feat: added edit and delete buttons for project invoices, inflow payments & non-project-expenses
  frontend/src/pages/NonProjectExpenses/NonProjectExpensesPage.tsx
  frontend/src/pages/NonProjectExpenses/components/EditNonProjectExpense.tsx
  frontend/src/pages/ProjectInvoices/AllProjectInvoices.tsx
  frontend/src/pages/ProjectInvoices/ProjectInvoices.tsx
  frontend/src/pages/ProjectInvoices/components/EditProjectInvoiceDialog.tsx
  frontend/src/pages/ProjectInvoices/components/NewProjectInvoiceDialog.tsx
  frontend/src/pages/ProjectInvoices/components/ProjectInvoiceDialog.tsx
  frontend/src/pages/ProjectInvoices/components/ProjectInvoiceTable.tsx
  frontend/src/pages/ProjectInvoices/config/projectInvoices.config.tsx
  frontend/src/pages/inflow-payments/InFlowPayments.tsx
  frontend/src/pages/inflow-payments/components/EditInflowPayment.tsx
  frontend/src/zustand/useDialogStore.ts
Labels: UI

fix: new expense types added
  nirmaan_stack/fixtures/expense_type.json
Labels: backend

fix: deleted entry saving for inflow, project invoice & non project expenses
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/delete_doc_versions.py
Labels: backend

fix: customer listing and attachment link fix for project invoices
  frontend/src/pages/ProjectInvoices/AllProjectInvoices.tsx
  frontend/src/pages/ProjectInvoices/config/projectInvoices.config.tsx
Labels: UI

feat: added comment field and updated ui for non project expenses
  frontend/src/pages/NonProjectExpenses/NonProjectExpensesPage.tsx
  frontend/src/pages/NonProjectExpenses/components/EditNonProjectExpense.tsx
  frontend/src/pages/NonProjectExpenses/components/NewNonProjectExpense.tsx
  frontend/src/pages/NonProjectExpenses/config/nonProjectExpensesTable.config.ts
  frontend/src/types/NirmaanStack/NonProjectExpenses.ts
  nirmaan_stack/nirmaan_stack/doctype/non_project_expenses/non_project_expenses.json
Labels: UI, backend

fix: removal of rupee symbol from reports part 1
  frontend/src/pages/ProcurementOrders/purchase-order/release-po-select.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-select-vendor.tsx
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-amend-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-service-request-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr-list.tsx
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  frontend/src/pages/projects/components/ProjectPRSummaryTable.tsx
  frontend/src/pages/projects/components/ProjectSRSummaryTable.tsx
Labels: UI

fix: removal of rupee symbol form reports part 2
  frontend/src/pages/NonProjectExpenses/NonProjectExpensesPage.tsx
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/inflow-payments/InFlowPayments.tsx
Labels: UI

fix: for newly delivered quantities for DNs
  frontend/src/pages/DeliveryNotes/components/DeliveryHistory.tsx
  frontend/src/pages/DeliveryNotes/components/deliveryNoteItemsDisplay.tsx
Labels: UI

fix: fixture for other financial expenses type
  nirmaan_stack/fixtures/expense_type.json
Labels: backend

fix: delivery note changes
  frontend/src/pages/DeliveryNotes/components/DeliveryHistory.tsx
  frontend/src/pages/DeliveryNotes/components/DeliveryNotePrintLayout.tsx
  frontend/src/pages/DeliveryNotes/components/deliveryNoteItemsDisplay.tsx
  frontend/src/pages/DeliveryNotes/deliverynote.tsx
  nirmaan_stack/api/delivery_notes/update_delivery_note.py
Labels: UI, backend

feat: po_sr invoiced column for project cash sheet
  frontend/src/config/queryKeys.ts
  frontend/src/pages/reports/components/ProjectReports.tsx
  frontend/src/pages/reports/components/columns/projectColumns.tsx
  frontend/src/pages/reports/hooks/useProjectReportCalculations.ts
Labels: UI

fix: added project and non_project checks for expense types
  frontend/src/types/NirmaanStack/ExpenseType.ts
  nirmaan_stack/fixtures/expense_type.json
  nirmaan_stack/nirmaan_stack/doctype/expense_type/expense_type.json
Labels: UI, backend

fix: to select non-project expense type for non project expenses
  frontend/src/config/queryKeys.ts
  frontend/src/pages/NonProjectExpenses/components/EditNonProjectExpense.tsx
  frontend/src/pages/NonProjectExpenses/components/NewNonProjectExpense.tsx
Labels: UI

fix: formatDate to dd-mmm-yyyy
  frontend/src/utils/FormatDate.ts
Labels: UI

feat: added project expenses within project overview
  frontend/src/config/queryKeys.ts
  frontend/src/pages/ProjectExpenses/components/EditProjectExpenseDialog.tsx
  frontend/src/pages/ProjectExpenses/components/NewProjectExpenseDialog.tsx
  frontend/src/pages/ProjectExpenses/config/projectExpensesTable.config.ts
  frontend/src/pages/projects/components/ProjectExpenseTab.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/types/NirmaanStack/ProjectExpenses.ts
  frontend/src/zustand/useDialogStore.ts
  nirmaan_stack/nirmaan_stack/doctype/project_expenses/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/project_expenses/project_expenses.js
  nirmaan_stack/nirmaan_stack/doctype/project_expenses/project_expenses.json
  nirmaan_stack/nirmaan_stack/doctype/project_expenses/project_expenses.py
  nirmaan_stack/nirmaan_stack/doctype/project_expenses/test_project_expenses.py
Labels: UI, backend

fix: added project expense type fixtures
  nirmaan_stack/fixtures/expense_type.json
Labels: backend

feat: added project expenses to outflow for projects listing, project overview & project cash sheet report
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/components/AmountBreakdownHoverCard.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/reports/hooks/useProjectReportCalculations.ts
  frontend/src/utils/getAmounts.ts
Labels: UI

fix: po updates for total invoice amount & delivered quantity
  frontend/src/pages/DeliveryNotes/deliverynote.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  nirmaan_stack/nirmaan_stack/doctype/procurement_orders/procurement_orders.json
Labels: UI, backend

fix: items fields update
  nirmaan_stack/nirmaan_stack/doctype/items/items.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_4/item_update.py
Labels: backend

fix: po reports column naming
  frontend/src/pages/reports/components/columns/poColumns.tsx
Labels: UI

fix: added edit options for Project Payments Done for admins
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/update-payment/EditFulfilledPaymentDialog.tsx
  frontend/src/zustand/useDialogStore.ts
Labels: UI

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
