Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

fix: Print Format Material Plan custom items badges in there ...
  nirmaan_stack/fixtures/print_format.json
Labels: backend

refactor: update planning header description, remove Financial Plan tab, and enhance work plan note display.("removed turncate).
  frontend/src/pages/projects/components/planning/SevenDayPlanningHeader.tsx
  frontend/src/pages/projects/components/planning/SevenDayPlanningTabs.tsx
  frontend/src/pages/projects/components/planning/SevendaysWorkPlan.tsx
Labels: UI

fix: Standardize work plan API response with data and reason fields,Now sers can find what was reason no work plan available
  frontend/src/pages/projects/components/planning/SevendaysWorkPlan.tsx
  nirmaan_stack/api/seven_days_planning/work_plan_api.py
Labels: UI, backend

feat: update print format to use new API and remove hardcoded GST logic and Correct response work plan is not there
  nirmaan_stack/fixtures/print_format.json
Labels: backend

refactor: remove quantity and unit fields from material plan item creation and display
  frontend/src/pages/projects/components/planning/EditMaterialPlanForm.tsx
Labels: UI

fix: Credit Payments ,Due Amount field type changed "Data" to "Curreny" field..In Frontend change this to col id with build of child Table name
  frontend/src/pages/credits/components/CreditsTableColumns.tsx.tsx
  nirmaan_stack/nirmaan_stack/doctype/po_payment_terms/po_payment_terms.json
Labels: UI, backend

feat: Added new Doctypes for Critical PO Flow
  nirmaan_stack/nirmaan_stack/doctype/critical_po_category/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/critical_po_category/critical_po_category.js
  nirmaan_stack/nirmaan_stack/doctype/critical_po_category/critical_po_category.json
  nirmaan_stack/nirmaan_stack/doctype/critical_po_category/critical_po_category.py
  nirmaan_stack/nirmaan_stack/doctype/critical_po_category/test_critical_po_category.py
  nirmaan_stack/nirmaan_stack/doctype/critical_po_items/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/critical_po_items/critical_po_items.js
  nirmaan_stack/nirmaan_stack/doctype/critical_po_items/critical_po_items.json
  nirmaan_stack/nirmaan_stack/doctype/critical_po_items/critical_po_items.py
  nirmaan_stack/nirmaan_stack/doctype/critical_po_items/test_critical_po_items.py
  nirmaan_stack/nirmaan_stack/doctype/critical_po_tasks/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/critical_po_tasks/critical_po_tasks.js
  nirmaan_stack/nirmaan_stack/doctype/critical_po_tasks/critical_po_tasks.json
  nirmaan_stack/nirmaan_stack/doctype/critical_po_tasks/critical_po_tasks.py
  nirmaan_stack/nirmaan_stack/doctype/critical_po_tasks/test_critical_po_tasks.py
Labels: backend

feat: Frontend view for criitical PO Category setup
  frontend/src/pages/CriticalPOCategories/components/CriticalPOCategoriesMaster.tsx
Labels: UI

feaf: Critical POs tab within projects, setup, listing, update and path resolutions
  frontend/src/components/helpers/ItemsHoverCard.tsx
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/layout/critical-po-categories.tsx
  frontend/src/pages/projects/CriticalPOTasks/CriticalPOTasksList.tsx
  frontend/src/pages/projects/CriticalPOTasks/CriticalPOTasksTab.tsx
  frontend/src/pages/projects/CriticalPOTasks/NoCriticalPOTasksView.tsx
  frontend/src/pages/projects/CriticalPOTasks/components/EditTaskDialog.tsx
  frontend/src/pages/projects/CriticalPOTasks/components/LinkPODialog.tsx
  frontend/src/pages/projects/CriticalPOTasks/components/LinkedPOsColumn.tsx
  frontend/src/pages/projects/CriticalPOTasks/components/ManageSetupDialog.tsx
  frontend/src/pages/projects/CriticalPOTasks/components/TaskStatusBadge.tsx
  frontend/src/pages/projects/CriticalPOTasks/hooks/useBulkCreateTasks.ts
  frontend/src/pages/projects/CriticalPOTasks/utils/calculatePODate.ts
  frontend/src/pages/projects/project.tsx
  frontend/src/types/NirmaanStack/CriticalPOTasks.ts
  frontend/src/types/NirmaanStack/ProcurementOrders.ts
Labels: UI

fix:PO print minor fix attachments layout :: but still marigin print format getting space ..
  nirmaan_stack/fixtures/print_format.json
Labels: backend

feat: Attach DC and MIR buttons within PO View
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceDialog.tsx
Labels: UI

fix: removed header ,pdf as render
  nirmaan_stack/fixtures/print_format.json
Labels: backend

feat: New Features is Without Rate PO Orders download and New Backend Merge Pdf functions added ...
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPdf.tsx
  nirmaan_stack/api/pdf_helper/pdf_merger_api.py
  nirmaan_stack/api/pdf_helper/print_integration.py
Labels: UI, backend

fix-feat:fix new removed pdf2image and added pypdf than new Print For PO Orders without Rate
  nirmaan_stack/fixtures/print_format.json
Labels: backend

fix: between filter fix for Invoice Recon
  nirmaan_stack/api/data-table.py
Labels: backend

fix:Invoice Recon Layout fix Tab and table of Tasks
  frontend/src/pages/tasks/invoices/InvoiceReconciliationContainer.tsx
  frontend/src/pages/tasks/invoices/components/PendingTasksTable.tsx
  frontend/src/pages/tasks/invoices/components/TaskHistoryTable.tsx
Labels: UI

fix: sidebar changes for project manager view
  frontend/src/components/layout/NewSidebar.tsx
Labels: UI

fix: dashboard changes for project manager view
  frontend/src/components/layout/dashboards/dashboard-pm.tsx
Labels: UI

fix: tabs disabled for PMs and minor ui enhancements within Design Tracker Project List
  frontend/src/pages/ProjectDesignTracker/components/ProjectWiseCard.tsx
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
Labels: UI

fix:pdf_to_image.py Moved to retired Folder
  nirmaan_stack/api/RETIRED FILES/pdf_to_image.py
Labels: backend

fix:removed file
  nirmaan_stack/api/pdf_to_image.py
Labels: backend

fix: disabled all the options for design tracker details for PMs
  frontend/src/pages/ProjectDesignTracker/project-design-tracker-details.tsx
Labels: UI

fix:Improve Loading Time using Concurrent they ThreadpPool use
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPdf.tsx
  nirmaan_stack/api/pdf_helper/pdf_merger_api.py
Labels: UI, backend

Remove: Removed Pdf to image(pdf2image) python dependency
  pyproject.toml
Labels: none

chore: claude changes
  frontend/.claude/settings.local.json
Labels: none

feat: backup-scripts version 1
  backup-policy/backup_and_upload.sh
  backup-policy/manage_gcs_retention.sh
  backup-policy/sync_to_drive.sh
Labels: none

fix: updated backup-policy
  backup-policy/README.md
  backup-policy/backup_and_upload.sh
  backup-policy/manage_gcs_retention.sh
  backup-policy/sync_to_drive.sh
Labels: none

fix:Arrange table orders and summary order move project value near project
  frontend/src/pages/reports/components/ProjectReports.tsx
  frontend/src/pages/reports/components/columns/projectColumns.tsx
Labels: UI

chore: removed pdfjs dependency and moved retired components
  frontend/package.json
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPdf.tsx
  frontend/src/pages/Retired Components/procurement/rfq-pdf.tsx
  frontend/src/pages/Retired Components/procurement/sent-back-select-vendor.tsx
  frontend/src/pages/Retired Components/procurement/sent-back-update-quote.tsx
  frontend/src/pages/Retired Components/procurement/update-quote.tsx
  frontend/src/pages/Retired Components/sidebar-nav.tsx
  frontend/yarn.lock
Labels: UI

fix: login screen overhaul and old components cleanup
  frontend/src/index.css
  frontend/src/pages/Retired Components/auth/banner.tsx
  frontend/src/pages/Retired Components/auth/old-login.tsx
  frontend/src/pages/auth/Login.tsx
  frontend/src/pages/auth/components/AuthLayout.tsx
  frontend/src/pages/auth/components/FormField.tsx
  frontend/src/pages/auth/components/PasswordInput.tsx
  frontend/src/pages/auth/components/index.ts
  frontend/src/pages/auth/forgot-password.tsx
Labels: UI

fix: added new admin options within admin dashboard
  frontend/src/components/layout/dashboards/dashboard-default.tsx
Labels: UI

fix: rectified db backup script
  backup-policy/manage_gcs_retention.sh
Labels: none

feat: refactor project reports to use client-side data table and Enable asc/desc Sorting for Allo column.
  frontend/src/pages/reports/components/ProjectReports.tsx
  frontend/src/pages/reports/components/columns/projectColumns.tsx
Labels: UI

fix: Planning --> Work Plan , Now we are allow to adding Work Plan for "Not Applicable" status Milestones also.
  nirmaan_stack/api/seven_days_planning/work_plan_api.py
Labels: backend

fix:creation of frappe doc Project Drive Link flied with childTable
  nirmaan_stack/nirmaan_stack/doctype/project_drive_link_child_table/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/project_drive_link_child_table/project_drive_link_child_table.json
  nirmaan_stack/nirmaan_stack/doctype/project_drive_link_child_table/project_drive_link_child_table.py
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.json
Labels: backend

fix:Patches for creating new Customer PO for already project value there but customer po missing
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_7/create_customer_po_from_project_value.py
Labels: backend

fix: Total Purchase OverCredit , across they Projects Table ,Project Financials Tab, ProjectPOSummary Tab, Project Report CaseSheets...
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/components/ProjectPOSummaryTable.tsx
  frontend/src/pages/projects/hooks/useProjectAllCredits.ts
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/reports/hooks/useProjectReportCalculations.ts
Labels: UI

Fix:Customer PO Pagination and date asc/desc filters and added value asc/desc filters
  frontend/src/pages/projects/components/CustomerPODeatilsCard.tsx
  frontend/src/pages/projects/components/ProjectDriveLink.tsx
Labels: UI

feat: Project carpet Area Error , because string chnage this number validation .
  frontend/src/pages/projects/edit-project-form.tsx
Labels: UI

wip:Project Drive Link in Overview Tab
  frontend/src/pages/projects/ProjectOverviewTab.tsx
Labels: UI

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
