Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

feat(tds): item-owned TDS membership -- frontend (ADR-0004)
  frontend/src/components/data-table/SelfFetchingFacetFilter.tsx
  frontend/src/components/data-table/facetConfig.ts
  frontend/src/hooks/useFacetValues.ts
  frontend/src/pages/Items/components/EditItemDialog.tsx
  frontend/src/pages/Items/items.constants.ts
  frontend/src/pages/Items/itemsPage.tsx
  frontend/src/pages/projects/TDSRepository/components/RequestTdsItemDialog.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsCreateForm.tsx
  frontend/src/pages/tds/TDSItemDetail.tsx
  frontend/src/pages/tds/TDSRepositoryMaster.tsx
  frontend/src/pages/tds/components/ItemsSKUTab.tsx
  frontend/src/pages/tds/components/MultiAddMembersDialog.tsx
  frontend/src/types/NirmaanStack/Items.ts
Labels: UI

feat(boq-parser): EA-6a slice 1 - a note attaches to the nearest preamble-or-line-item
  nirmaan_stack/services/boq_category/prompts/boq_composite_decomposition_prompt.md
  nirmaan_stack/services/boq_parser/hierarchy.py
  nirmaan_stack/services/boq_parser/test_bug_23_24_parent_fix.py
  nirmaan_stack/services/boq_parser/test_hierarchy.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v18.json
Labels: backend

docs(boq-parser): record EA-6a slice 1 - the rule, the invariant, the cert and the R3 finding
  .claude/context/domain/boq-backend.md
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(tds): facet Repository Entries by TDS Item name, label the ID search honestly
  frontend/src/pages/tds/TDSRepositoryMaster.tsx
  nirmaan_stack/api/data_table/constants.py
Labels: UI, backend

fix(tds): wizard members land on the real store; case-insensitive TDS Item names
  frontend/src/pages/tds/components/AddTDSItemWizard.tsx
  frontend/src/pages/tds/components/MultiAddMembersDialog.tsx
  nirmaan_stack/nirmaan_stack/doctype/tds_items/tds_items.py
Labels: UI, backend

feat(boq-review): EA-6a slice 2 - note attachment follows re-parents and re-labels, commit derives attached_notes
  nirmaan_stack/api/boq/wizard/commit_pipeline.py
  nirmaan_stack/api/boq/wizard/review_screen.py
  nirmaan_stack/api/boq/wizard/row_renumber.py
  nirmaan_stack/api/boq/wizard/template_edit.py
  nirmaan_stack/api/boq/wizard/template_rows.py
  nirmaan_stack/api/boq/wizard/test_commit_pipeline.py
  nirmaan_stack/api/boq/wizard/test_review_screen.py
  nirmaan_stack/api/boq/wizard/test_row_renumber.py
  nirmaan_stack/services/boq_parser/hierarchy.py
  nirmaan_stack/services/boq_parser/test_bug_23_24_parent_fix.py
Labels: backend

docs(boq-review): record EA-6a slice 2 - A+B shape, derived-authority invariant, route inventory and cert
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(tds): confirm before members are taken from another TDS Item
  frontend/src/pages/tds/TDSItemDetail.tsx
  frontend/src/pages/tds/components/AddTDSItemWizard.tsx
  frontend/src/pages/tds/components/MultiAddMembersDialog.tsx
Labels: UI

fix(tds): show the real failure reason, and name the request modes fully
  frontend/src/pages/projects/TDSRepository/components/RequestTdsItemDialog.tsx
  frontend/src/pages/tds/components/AddTDSItemWizard.tsx
  frontend/src/pages/tds/components/EditTDSItemDialog.tsx
Labels: UI

fix(tds): make Delete TDS Item work, and say why when it cannot
  frontend/src/pages/tds/TDSItemDetail.tsx
Labels: UI

feat(boq-gemini-assist): cut chunks on classification not candidate score
  nirmaan_stack/api/boq/wizard/gemini_assist.py
  nirmaan_stack/services/boq_gemini_assist.py
  nirmaan_stack/services/test_boq_gemini_assist.py
Labels: backend

docs(boq-gemini-assist): record the cut-rule fix and the 774-to-zero measurement
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(tds): repopulate the members grid as a one-way mirror, with read indexes
  nirmaan_stack/api/tds/linking.py
  nirmaan_stack/api/tds/members.py
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/items.py
  nirmaan_stack/nirmaan_stack/doctype/items/items.py
  nirmaan_stack/nirmaan_stack/doctype/tds_items/tds_items.json
  nirmaan_stack/nirmaan_stack/doctype/tds_items/tds_items.py
  nirmaan_stack/nirmaan_stack/doctype/tds_items_child_table/tds_items_child_table.py
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/add_tds_membership_indexes.py
  nirmaan_stack/patches/v3_0/backfill_tds_member_mirror.py
Labels: backend

docs(tds): record the members display mirror as ADR-0004 Amendment B
  nirmaan_stack/.claude/context/domain/tds/CONTEXT.md
  nirmaan_stack/.claude/context/domain/tds/docs/adr/0004-membership-n1-owned-by-item.md
  nirmaan_stack/.claude/context/domain/tds/phase-3-plan.md
Labels: none

feat(boq-ai-assist): slice-1-true parenting wording for both engines with prompt pins
  nirmaan_stack/services/boq_ai_assist.py
  nirmaan_stack/services/boq_gemini_assist.py
  nirmaan_stack/services/test_boq_ai_assist.py
  nirmaan_stack/services/test_boq_gemini_assist.py
Labels: backend

docs(boq-ai-assist): record the wording slice - W1-W6, pins and the two-point measurement
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-rate-extraction): tiered labelled ancestor payload with shape pins
  nirmaan_stack/api/boq/test_rate_suggest.py
  nirmaan_stack/services/boq_category/context_builder.py
  nirmaan_stack/services/boq_rate_master/extraction.py
Labels: backend

docs(boq-rate-extraction): record EA-7 - tier ruling, labelling, cert
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-rate-master): ext-b - per-phase, runs/cores and cable runs rules
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  nirmaan_stack/api/boq/test_rate_suggest.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v19.json
  nirmaan_stack/services/boq_rate_master/data/rate_master_wiring_cabling_v3.json
Labels: UI, backend

docs(boq-rate-master): record ext-b - rules, runs multiplier, AI pass, cert
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(vendors): include Inactive POs in Material Orders and Vendor Ledger
  frontend/src/pages/vendors/components/LedgerTableRow.tsx
  frontend/src/pages/vendors/components/POVendorLedger.tsx
  frontend/src/pages/vendors/components/VendorMaterialOrdersTable.tsx
  frontend/src/pages/vendors/data/useVendorQueries.ts
  frontend/src/utils/inactivePoRowStyles.ts
  nirmaan_stack/api/vendor/get_vendor_po_invoices.py
Labels: UI, backend

fix(invoices): stop Last Modified By overflowing into Invoice Amount
  frontend/src/pages/tasks/invoices/components/PoInvoices.tsx
Labels: UI

feat(itm): limit transfer destination to Won projects
  frontend/src/pages/InternalTransferMemos/Create/CreateITMPage.tsx
Labels: UI

feat(reminders): rename + delete schedules, Admin-only, and dialog UX fixes
  frontend/src/components/helpers/renderRightActionButton.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/Reminders/NewReminderDialog.tsx
  frontend/src/pages/Reminders/RemindersPage.tsx
  nirmaan_stack/api/reminders/delete.py
  nirmaan_stack/api/reminders/write.py
Labels: UI, backend

fix(data-table): searching a numeric column no longer crashes the table
  nirmaan_stack/api/data_table/facets.py
  nirmaan_stack/api/data_table/search.py
  nirmaan_stack/api/data_table/utils.py
Labels: backend

docs(boq-rate-master): record the point_wiring runs slice
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-rate-master): separate point_wiring runs from cores
  frontend/src/pages/pricing/rate-master/rateMasterTypes.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.ts
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/api/boq/test_rate_suggest.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v20.json
Labels: UI, backend

feat(boq-pricing): header filters, blank/defaulted highlights, Row Type
  frontend/src/pages/boq-wizard/GridColumnFilter.test.ts
  frontend/src/pages/boq-wizard/GridColumnFilter.tsx
  frontend/src/pages/boq-wizard/PricingGrid.test.ts
  frontend/src/pages/boq-wizard/PricingGrid.tsx
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/SheetPricingPage.tsx
  frontend/src/pages/boq-wizard/rate-helper/RateHelperPanel.tsx
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.test.ts
  frontend/src/pages/boq-wizard/rate-helper/pricingSheetHelper.ts
  frontend/src/pages/boq-wizard/rate-helper/rateHelperTypes.ts
  frontend/src/pages/boq-wizard/reviewRender.test.ts
  frontend/src/pages/boq-wizard/reviewRender.tsx
  frontend/src/pages/pricing/rate-master/rateMasterTypes.ts
Labels: UI

docs(boq-pricing): record the UI slice
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-pricing): rename the remaining row-type strings to Row Type
  frontend/.claude/plans/boq-upload-plan.md
  frontend/src/pages/boq-wizard/GeminiAcceptBlock.tsx
  frontend/src/pages/boq-wizard/GeminiSuggestionColumn.tsx
  frontend/src/pages/boq-wizard/ReviewTree.tsx
  frontend/src/pages/boq-wizard/TemplateRowsEditor.tsx
  frontend/src/pages/boq-wizard/priceability.ts
Labels: UI

feat(boq-rate-master): rebuild switches_sockets as a per-component composite
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v21.json
Labels: UI, backend

docs(boq-rate-master): record the switches_sockets rebuild
  .claude/context/domain/boq-backend.md
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-rate-master): point_wiring blanker and the back_box dependency fix
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v22.json
Labels: UI, backend

docs(boq-rate-master): record slice 1b
  .claude/context/domain/boq-backend.md
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq-rate-master): a module-count step with catalog ladder resolution
  frontend/src/pages/pricing/rate-master/rateMasterStructure.ts
  frontend/src/pages/pricing/rate-master/rateMasterTypes.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.ts
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
Labels: UI, backend

docs(boq-rate-master): record slice 2 part 1
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq-rate-master): wire module_fit and add the switch and colour rules
  frontend/src/pages/pricing/rate-master/rateMasterStructure.ts
  frontend/src/pages/pricing/rate-master/rateMasterTypes.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.test.ts
  frontend/src/pages/pricing/rate-master/ratePipelineInterpreter.ts
  nirmaan_stack/api/boq/rate_master.py
  nirmaan_stack/api/boq/test_rate_master.py
  nirmaan_stack/services/boq_rate_master/data/rate_master_electrical_all_v23.json
Labels: UI, backend

docs(boq-rate-master): record slice 2 part 2
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(05-08-task 6): let PMO delete un-finalised rows in TDS History
  frontend/src/pages/projects/TDSRepository/components/TdsHistoryTable.tsx
Labels: UI

feat(tds): scope both TDS Item pickers by work package, lift the 50-row cap
  frontend/src/pages/projects/TDSRepository/components/RequestTdsItemDialog.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsCreateForm.tsx
  nirmaan_stack/api/tds/picker.py
Labels: UI, backend
