Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"

feat: roll up zone progress by header_weightage and let admin choose target on merged PDFs
  frontend/src/hooks/useWorkHeaderOrder.ts
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneDailySummary.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/DailyReportView.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReport.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/PDFDownloadButtons.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/hooks/useMilestoneReportData.ts
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

feat:(Material Plan and Work plan changes ) add Partially Delivered status with remarks to material plan; refine WorkPlan reference panel
  frontend/src/pages/projects/components/planning/AddMaterialPlanForm.tsx
  frontend/src/pages/projects/components/planning/EditMaterialPlanForm.tsx
  frontend/src/pages/projects/components/planning/SevenDaysMaterialPlan.tsx
  frontend/src/pages/projects/components/planning/WorkPlanOverview.tsx
  frontend/src/pages/projects/components/planning/WorkPlanReferencePanel.tsx
  frontend/src/pages/projects/data/material-plan/useMaterialPlanQueries.ts
  nirmaan_stack/nirmaan_stack/doctype/material_delivery_plan/material_delivery_plan.json
Labels: UI, backend

feat: extend ITM dispatch permissions to procurement executives and unify role-based gating across frontend and backend
  frontend/src/constants/itm.ts
  frontend/src/pages/InternalTransferMemos/ITMDetail.tsx
  nirmaan_stack/api/internal_transfers/lifecycle.py
  nirmaan_stack/integrations/controllers/internal_transfer_memo.py
Labels: UI, backend

feat: add project status filter to PO Tracker and PR Tracker lists
  frontend/src/pages/CriticalPOTracker/critical-po-tracker-list.tsx
  frontend/src/pages/CriticalPOTracker/types/index.ts
  frontend/src/pages/PRTracker/pr-tracker-list.tsx
  frontend/src/pages/PRTracker/types/index.ts
  nirmaan_stack/api/critical_po_tasks/get_projects_with_stats.py
  nirmaan_stack/api/critical_pr_tasks/get_projects_with_pr_stats.py
Labels: UI, backend

feat: prevent duplicate PO cashflow entries by filtering added plans and updating UI states
  frontend/src/pages/projects/CashflowPlan/components/FromMaterialPlanDialog.tsx
  frontend/src/pages/projects/data/cashflow-plan/useCashflowPlanQueries.ts
Labels: UI

feat(milestones): introduce "Disabled" status for deselected work-header rows
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/CopyReportButton.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/DailyReportView.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/OverallMilestonesReport.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/hooks/useMilestoneReportData.ts
  frontend/src/pages/Manpower-and-WorkMilestones/utils/milestoneHelpers.ts
  frontend/src/pages/projects/components/HeaderMilestonesCollapse.tsx
  frontend/src/pages/projects/components/planning/WorkPlanOverview.tsx
  nirmaan_stack/api/get_project_reports.py
  nirmaan_stack/api/milestone/get_header_milestones_preview.py
  nirmaan_stack/api/seven_days_planning/work_plan_api.py
Labels: UI, backend

feat(project-scheduler): Add project target schedule in separate Tab with DPR Target PDF export..
  frontend/src/pages/Manpower-and-WorkMilestones/components/ProjectScheduler.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/hooks/useProjectScheduler.ts
  frontend/src/pages/projects/project.tsx
  nirmaan_stack/api/milestone/print_dpr_target.py
Labels: UI, backend

feat: improve mobile responsiveness and layout for planning tabs and download buttons
  frontend/src/pages/projects/components/planning/SevenDayPlanningTabs.tsx
  frontend/src/pages/projects/components/planning/SevendaysWorkPlan.tsx
Labels: UI

feat: unify trackers under shared project status filter and add status badge on cards
  frontend/src/pages/CommissionReport/commission-report-list.tsx
  frontend/src/pages/CommissionReport/components/ProjectWiseCard.tsx
  frontend/src/pages/CriticalPOTracker/components/CriticalPOProjectCard.tsx
  frontend/src/pages/PMODashboard/pmo-dashboard-list.tsx
  frontend/src/pages/PRTracker/components/PRProjectCard.tsx
  frontend/src/pages/ProjectDesignTracker/components/ProjectWiseCard.tsx
  frontend/src/pages/ProjectDesignTracker/design-tracker-list.tsx
  nirmaan_stack/api/commission_report/get_tracker_list.py
  nirmaan_stack/api/design_tracker/get_tracker_list.py
Labels: UI, backend

feat(service-request): stamp project_gst onto SR at approval time
  frontend/src/pages/ServiceRequests/service-request/approve-service-request-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-service-request.tsx
Labels: UI

feat(pmo-dashboard): surface PM-at-site flag and add DPR schedule row with PDF export
  frontend/src/pages/Manpower-and-WorkMilestones/components/ProjectScheduler.tsx
  frontend/src/pages/PMODashboard/pmo-project-detail.tsx
  nirmaan_stack/api/pmo_dashboard.py
Labels: UI, backend

Fix:(changes) Print format DPR & Overall DPR & New added Schedule Print format
  nirmaan_stack/fixtures/print_format.json
Labels: backend

refactor: replace Ant Design Menu with custom button-based tab navigation in project page
  frontend/src/pages/projects/project.tsx
Labels: UI

clean up delivery note interface components
  frontend/src/pages/DeliveryNotes/ITMDeliveryNote.tsx
  frontend/src/pages/DeliveryNotes/deliverynotes.tsx
Labels: UI

New added-
  nirmaan_stack/api/delivery_challans_data.py
  nirmaan_stack/api/internal_transfers/project_transfers.py
  nirmaan_stack/api/po_delivery_documentss.py
  nirmaan_stack/nirmaan_stack/doctype/po_delivery_documents/po_delivery_documents.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/backfill_pdd_parent_doctype.py
Labels: backend

🆕 New
  frontend/src/pages/DeliveryChallansAndMirs/DeliveryChallansAndMirs.tsx
  frontend/src/pages/DeliveryChallansAndMirs/components/ITMListCards.tsx
  frontend/src/pages/DeliveryChallansAndMirs/components/ITMListTable.tsx
  frontend/src/pages/DeliveryChallansAndMirs/components/UploadDCMIRDialog.tsx
  frontend/src/pages/DeliveryChallansAndMirs/hooks/usePODeliveryDocuments.ts
Labels: UI

Project page → DC & MIR tab
  frontend/src/pages/projects/components/ProjectDCMIRTab.tsx
  frontend/src/pages/projects/hooks/useMaterialUsageData.ts
  frontend/src/pages/reports/components/DCMIRReports.tsx
  frontend/src/pages/reports/components/ITMDNDCQuantityReport.tsx
  frontend/src/pages/reports/components/columns/dcmirColumns.tsx
  frontend/src/pages/reports/config/dcmirReportsTable.config.ts
  frontend/src/pages/reports/hooks/useDCMIRReportsData.ts
Labels: UI

Reports page-
  frontend/src/pages/reports/ReportsContainer.tsx
  frontend/src/pages/reports/hooks/useDNDCQuantityData.ts
Labels: UI

ITM detail page 🆕 New
  frontend/src/pages/BulkDownload/steps/DCSteps.tsx
  frontend/src/pages/BulkDownload/steps/MIRSteps.tsx
  frontend/src/pages/BulkDownload/useBulkDownloadWizard.ts
  frontend/src/pages/InternalTransferMemos/ITMDetail.tsx
  frontend/src/pages/InternalTransferMemos/components/ITMAttachmentSection.tsx
  frontend/src/types/NirmaanStack/PODeliveryDocuments.ts
Labels: UI

Documentation
  .claude/context/domain/internal-transfer-memos.md
  CLAUDE.md
  frontend/CLAUDE.md
Labels: none

feat: update document search file link to trigger download with original filename
  frontend/src/pages/DocumentSearch/DocumentSearch.tsx
Labels: UI

feat: Implement document text search functionality with file content extraction .
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/DocumentSearch/DocumentSearch.tsx
  nirmaan_stack/hooks.py
  nirmaan_stack/nirmaan_stack/doctype/file_text_search_index/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/file_text_search_index/file_text_search_index.js
  nirmaan_stack/nirmaan_stack/doctype/file_text_search_index/file_text_search_index.json
  nirmaan_stack/nirmaan_stack/doctype/file_text_search_index/file_text_search_index.py
  nirmaan_stack/nirmaan_stack/doctype/file_text_search_index/test_file_text_search_index.py
  nirmaan_stack/services/file_extractor.py
  pyproject.toml
Labels: UI, backend

add document AI api for meta data search
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/pages/DocumentSearch/DocumentSearchTest.tsx
  nirmaan_stack/nirmaan_stack/doctype/document_ai_settings/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/document_ai_settings/document_ai_settings.js
  nirmaan_stack/nirmaan_stack/doctype/document_ai_settings/document_ai_settings.json
  nirmaan_stack/nirmaan_stack/doctype/document_ai_settings/document_ai_settings.py
  nirmaan_stack/nirmaan_stack/doctype/document_ai_settings/test_document_ai_settings.py
  nirmaan_stack/nirmaan_stack/doctype/file_text_search_index/file_text_search_index.json
  nirmaan_stack/services/file_extractor.py
  pyproject.toml
Labels: UI, backend

feat: integrate document AI for automated invoice field extraction and remove obsolete file search index functionality
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/DocumentSearch/DocumentSearch.tsx
  frontend/src/pages/DocumentSearch/DocumentSearchTest.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceDialog.tsx
  nirmaan_stack/api/invoice_autofill.py
  nirmaan_stack/hooks.py
  nirmaan_stack/nirmaan_stack/doctype/file_text_search_index/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/file_text_search_index/file_text_search_index.js
  nirmaan_stack/nirmaan_stack/doctype/file_text_search_index/file_text_search_index.json
  nirmaan_stack/nirmaan_stack/doctype/file_text_search_index/file_text_search_index.py
  nirmaan_stack/nirmaan_stack/doctype/file_text_search_index/test_file_text_search_index.py
  nirmaan_stack/services/document_ai.py
  nirmaan_stack/services/file_extractor.py
Labels: UI, backend

feat: add document AI invoice autofill service and remove legacy auto-indexing search pipeline
  .claude/CHANGELOG.md
  .claude/context/domain/invoice-autofill.md
  CLAUDE.md
Labels: none

feat: invoice autofill UX polish + persist autofill metadata on Vendor Invoices
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceDialog.tsx
  nirmaan_stack/api/delivery_notes/update_invoice_data.py
  nirmaan_stack/api/invoice_autofill.py
  nirmaan_stack/nirmaan_stack/doctype/vendor_invoices/vendor_invoices.json
  nirmaan_stack/services/document_ai.py
Labels: UI, backend

feat(autofill): persist full Document AI entities + show on Pending recon hover card
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceDialog.tsx
  frontend/src/pages/tasks/invoices/components/columns.tsx
  frontend/src/pages/tasks/invoices/config/InvoiceTaskTable.config.ts
  frontend/src/types/NirmaanStack/VendorInvoice.ts
  nirmaan_stack/api/delivery_notes/update_invoice_data.py
  nirmaan_stack/api/invoice_autofill.py
  nirmaan_stack/nirmaan_stack/doctype/vendor_invoices/vendor_invoices.json
Labels: UI, backend

refactor: rename Project Scheduler to Project Schedule and change source_project fieldtype to Data
  frontend/src/pages/Manpower-and-WorkMilestones/components/ProjectScheduler.tsx
  nirmaan_stack/nirmaan_stack/doctype/internal_transfer_memo/internal_transfer_memo.json
Labels: UI, backend

feat(commission-report): add template-driven report-wizard subsystem
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/pages/CommissionReport/commission.constants.ts
  frontend/src/pages/CommissionReport/report-wizard/constants.ts
  frontend/src/pages/CommissionReport/report-wizard/data/useMasterTaskMap.ts
  frontend/src/pages/CommissionReport/report-wizard/data/useReportPrefill.ts
  frontend/src/pages/CommissionReport/report-wizard/data/useReportResponse.ts
  frontend/src/pages/CommissionReport/report-wizard/data/useReportTemplate.ts
  frontend/src/pages/CommissionReport/report-wizard/data/useReportTemplateForTask.ts
  frontend/src/pages/CommissionReport/report-wizard/hooks/useReportAttachments.ts
  frontend/src/pages/CommissionReport/report-wizard/hooks/useReportDraft.ts
  frontend/src/pages/CommissionReport/report-wizard/hooks/useReportSubmit.ts
  frontend/src/pages/CommissionReport/report-wizard/index.tsx
  frontend/src/pages/CommissionReport/report-wizard/prefill/bindings.ts
  frontend/src/pages/CommissionReport/report-wizard/prefill/resolve.ts
  frontend/src/pages/CommissionReport/report-wizard/renderer/ChecklistSection.tsx
  frontend/src/pages/CommissionReport/report-wizard/renderer/FieldControl.tsx
  frontend/src/pages/CommissionReport/report-wizard/renderer/FieldsSection.tsx
  frontend/src/pages/CommissionReport/report-wizard/renderer/HeaderSection.tsx
  frontend/src/pages/CommissionReport/report-wizard/renderer/ImageAttachmentSection.tsx
  frontend/src/pages/CommissionReport/report-wizard/renderer/ProcessSection.tsx
  frontend/src/pages/CommissionReport/report-wizard/renderer/SectionRenderer.tsx
  frontend/src/pages/CommissionReport/report-wizard/renderer/SignaturesSection.tsx
  frontend/src/pages/CommissionReport/report-wizard/schema.ts
  frontend/src/pages/CommissionReport/report-wizard/template-parser.ts
  frontend/src/pages/CommissionReport/report-wizard/types.ts
  frontend/src/pages/CommissionReport/types/index.ts
  frontend/src/types/NirmaanStack/CommissionReportTemplateSnapshot.ts
Labels: UI

feat(commission-report): add admin source-format editor for task masters
  frontend/src/pages/CommissionReport/components/CommissionPackagesMaster.tsx
  frontend/src/pages/CommissionReport/components/SourceFormatDialog.tsx
  frontend/src/pages/CommissionReport/data/useCommissionQueries.ts
Labels: UI

feat(commission-report): wire Fill/Edit/View action and PDF preview into tracker
  frontend/src/pages/CommissionReport/components/FillReportButton.tsx
  frontend/src/pages/CommissionReport/config/commissionTableColumns.tsx
  frontend/src/pages/CommissionReport/project-commission-report-details.tsx
Labels: UI

feat(commission-report): add template wizard doctype fields and snapshot doctype
  nirmaan_stack/nirmaan_stack/doctype/commission_report_task_child_table/commission_report_task_child_table.json
  nirmaan_stack/nirmaan_stack/doctype/commission_report_tasks/commission_report_tasks.json
  nirmaan_stack/nirmaan_stack/doctype/commission_report_template_snapshot/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/commission_report_template_snapshot/commission_report_template_snapshot.json
  nirmaan_stack/nirmaan_stack/doctype/commission_report_template_snapshot/commission_report_template_snapshot.py
  nirmaan_stack/nirmaan_stack/doctype/project_commission_report/project_commission_report.py
Labels: backend

feat(commission-report): add filled-task print format
  nirmaan_stack/fixtures/print_format.json
Labels: backend

docs: add commissioning report template grammar reference
  frontend/.claude/context/domain/commissioning-report-templates.md
Labels: none

feat(commission-report): add wizard APIs and orphan-attachment janitor
  nirmaan_stack/api/commission_report/clear_task_response.py
  nirmaan_stack/api/commission_report/delete_orphan_attachments.py
  nirmaan_stack/api/commission_report/get_report_prefill.py
  nirmaan_stack/api/commission_report/update_task_response.py
  nirmaan_stack/hooks.py
  nirmaan_stack/tasks/cleanup_orphan_commission_attachments.py
Labels: backend

chore(frontend): add @rollup/rollup-darwin-arm64 binary for local builds
  frontend/package.json
  frontend/yarn.lock
Labels: none

feat: add human-readable labeling and date formatting for Document AI entities in invoice columns
  frontend/src/pages/tasks/invoices/components/columns.tsx
Labels: UI

feat: add Delivery Notes summary table with user name mapping to ITMDeliveryNote view
  frontend/src/pages/DeliveryNotes/ITMDeliveryNote.tsx
Labels: UI

refactor: improve amount normalization by stripping non-numeric characters via regex to prevent invalid OCR outputs
  nirmaan_stack/api/invoice_autofill.py
Labels: backend

feat(commission-report):Add trainees table section to commission reports + update Filled Task PDF
  frontend/.claude/context/domain/commissioning-report-templates.md
  frontend/src/pages/CommissionReport/report-wizard/constants.ts
  frontend/src/pages/CommissionReport/report-wizard/index.tsx
  frontend/src/pages/CommissionReport/report-wizard/prefill/resolve.ts
  frontend/src/pages/CommissionReport/report-wizard/renderer/ImageAttachmentSection.tsx
  frontend/src/pages/CommissionReport/report-wizard/renderer/SectionRenderer.tsx
  frontend/src/pages/CommissionReport/report-wizard/renderer/TraineesDataTableSection.tsx
  frontend/src/pages/CommissionReport/report-wizard/schema.ts
  frontend/src/pages/CommissionReport/report-wizard/template-parser.ts
  frontend/src/pages/CommissionReport/report-wizard/types.ts
  nirmaan_stack/fixtures/commission_report_tasks.json
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend
