Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

fix: align Inventory Report filters and column header alignment
  frontend/src/pages/reports/components/InventoryReport.tsx
Labels: UI

fix: item type fix for remaining items
  nirmaan_stack/nirmaan_stack/doctype/remaining_item_entry/remaining_item_entry.json
Labels: backend

feat: show approval tabs to all roles as read-only for non-approvers
  frontend/.claude/CHANGELOG.md
  frontend/.claude/context/role-access.md
  frontend/CLAUDE.md
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/tds/TDSApprovalDetail.tsx
  frontend/src/pages/tds/TDSApprovalList.tsx
Labels: UI

fix: update isHighValueItem criteria in Material Usage table
  frontend/src/pages/projects/components/ProjectMaterialUsageTab.tsx
Labels: UI

fix: update inventory eligible items criteria
  frontend/src/pages/remaining-items/hooks/useEligibleItems.ts
  frontend/src/pages/remaining-items/index.tsx
Labels: UI

feat: Automatically re-evaluate PO delivery status after revisions using external logic, document related external functions, and remove the `get_adjustment_candidate_pos` utility.
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
  nirmaan_stack/api/po_revisions/revision_logic.py
  nirmaan_stack/api/po_revisions/revision_po_check.py
Labels: backend

fix: Add `!PoPaymentTermsValidationSafe` is control anything in in Payment approved or request mean , we block they Revision PO
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

fix: make Declaration dialog scrollable on small viewports
  frontend/src/pages/remaining-items/components/DeclarationDialog.tsx
  frontend/src/pages/remaining-items/components/RemainingItemsForm.tsx
Labels: UI

refactor: Use `usePOLockCheck` hook in `PODetails` for PO lock status and update architecture documentation.
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

fix: Correct ad-hoc payment detail typos, improve PO revision UI data consistency, and refactor backend transaction management for approvals rollbacks with savepoints...
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
  frontend/src/pages/PORevision/components/detail/PORevisionPaymentRectification.tsx
  frontend/src/pages/PORevision/data/usePORevisionMutations.ts
  frontend/src/pages/PORevision/hooks/usePORevision.ts
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: UI, backend

feat: Update PO revision UI with GST impact and project-specific links.
  frontend/src/pages/PORevision/components/PORevisionHistory.tsx
  frontend/src/pages/PORevision/config/poRevisions.config.tsx
Labels: UI

feat: add enableVirtualization prop to DataTable, resolve submitted_by full name
  frontend/src/components/data-table/new-data-table.tsx
  frontend/src/pages/reports/components/InventoryReport.tsx
  nirmaan_stack/api/remaining_items_report.py
Labels: UI, backend

fix(po-revision): set approval_date when creating project payments programmatically
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: backend

refactor: Improve PO revision concurrency with database locking, ensure data integrity during PO updates, and streamline transaction handling.
  nirmaan_stack/api/po_revisions/revision_logic.py
  nirmaan_stack/nirmaan_stack/doctype/project_payments/project_payments.py
Labels: backend

feat: Implement structured naming for PO Revisions with `PRT` prefix and ensure correct URL encoding/decoding and breadcrumb display for these IDs.
  frontend/src/components/layout/main-layout.tsx
  frontend/src/pages/PORevision/PORevisionWarning.tsx
  frontend/src/pages/PORevision/config/poRevisions.config.tsx
  frontend/src/pages/PORevision/hooks/usePORevisionsApprovalDetail.ts
  nirmaan_stack/nirmaan_stack/doctype/po_revisions/po_revisions.py
Labels: UI, backend

feat: Implement role-based access control for the PORevisionHistory component.
  frontend/src/pages/PORevision/components/PORevisionHistory.tsx
Labels: UI

feat: Implement Sentry error capturing for PO Revision mutations and refactor the API error logger import path.
  frontend/src/pages/PORevision/data/usePORevisionMutations.ts
  frontend/src/pages/PORevision/data/usePORevisionQueries.ts
Labels: UI

feat: Implement PO revision access control for Nirmaan Accountant ProfilePMO,admin, integrate PO lock status into Delivery Notes, and refine PO revision UI.than mager view setup..
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/DeliveryNotes/components/deliveryNoteItemsDisplay.tsx
  frontend/src/pages/PORevision/PORevisionWarning.tsx
Labels: UI

feat: Add character limits and counters to description, comment, and payment term fields, and simplify adhoc return payment term description.
  frontend/src/pages/PORevision/components/Step2/Step2NegativeFlow.tsx
  frontend/src/pages/PORevision/components/Step2/Step2PositiveFlow.tsx
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: UI, backend

tem:cmt code for future update...
  frontend/src/pages/PORevision/PORevisionsApprovalDetail.tsx
  frontend/src/pages/PORevision/components/detail/PORevisionLineItems.tsx
Labels: UI

fix(po-revision): Ensure full transaction rollback on approval failure
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
  nirmaan_stack/api/po_revisions/revision_logic.py
  nirmaan_stack/integrations/controllers/project_payments.py
  nirmaan_stack/nirmaan_stack/doctype/project_payments/project_payments.py
Labels: backend

feat: Implement PO revision history with a new frontend component, backend API, and updated documentation.
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
  frontend/src/pages/PORevision/components/PORevisionHistory.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  nirmaan_stack/api/po_revisions/revision_history.py
Labels: UI, backend

feat: Disable various PO UI actions, such as updating delivery, marking inactive, editing payment terms, and requesting payments, when a Purchase Order is locked due to a pending revision.
  frontend/src/components/dialogs/RequestPaymentDialog.tsx
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPaymentTermsCard.tsx
Labels: UI

feat: restore read-only Approve Payments tab for non-admin roles
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
Labels: UI

feat: Add Alert and Info icon imports for UI components.
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
Labels: UI

feat/fix(po_revision): Auto-absorb negative differences from 'Created' payment terms
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
  frontend/src/pages/PORevision/components/Step2/Step2NegativeFlow.tsx
  frontend/src/pages/PORevision/components/Step3/Step3Summary.tsx
  frontend/src/pages/PORevision/components/detail/PORevisionPaymentRectification.tsx
  frontend/src/pages/PORevision/hooks/usePORevision.ts
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: UI, backend

Fix: Update PO revision refund allocation validation logic using `userAllocationRequired` and pass new `createdTermsAbsorbable` and `userAllocationRequired` props.
  frontend/src/pages/PORevision/PORevisionDialog.tsx
Labels: UI

feat(po_revision): Sync PO Revision Approval List tabs with URL params
  frontend/src/pages/PORevision/PORevisionsApprovalList.tsx
Labels: UI

feat: Add permissions for Nirmaan Admin, Accountant, PMO, and Procurement roles to PO Revisions doctype.
  nirmaan_stack/nirmaan_stack/doctype/po_revisions/po_revisions.json
Labels: backend

feat(po_revision): Auto-refresh sidebar counts on revision mutations
  frontend/src/pages/PORevision/data/usePORevisionMutations.ts
Labels: UI

feat: Add PO Revision counts to the sidebar API, Zod store, and display them in the PO Revisions approval list tabs.
  frontend/src/pages/PORevision/PORevisionsApprovalList.tsx
  frontend/src/zustand/useDocCountStore.ts
  nirmaan_stack/api/sidebar_counts.py
Labels: UI, backend

feat: show approval tabs to all roles as read-only for non-approvers
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
Labels: UI

feat: Initialize App
  frontend/src/components/data-table/data-table.tsx
  frontend/src/hooks/useFacetValues.ts
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-select-vendor.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/Sent Back Requests/approve-select-sent-back.tsx
  frontend/src/pages/credits/hooks/useCredits.ts
  frontend/src/pages/reports/components/DCMIRReports.tsx
  frontend/src/pages/reports/components/POReports.tsx
  frontend/src/pages/reports/components/SRReports.tsx
  nirmaan_stack/api/credits/get_credits_list.py
  nirmaan_stack/api/data-table.py
  nirmaan_stack/api/data_table/facets.py
Labels: UI, backend

feat: currently in Hold for Custom PO ...Introduce `isCustom` prop to PO revision components to enable direct item and make input for custom purchase orders and remove the 0% tax option.
  frontend/src/pages/PORevision/PORevisionDialog.tsx
  frontend/src/pages/PORevision/PORevisionsApprovalDetail.tsx
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
  frontend/src/pages/PORevision/components/Step1/Step1ReviseItems.tsx
  frontend/src/pages/PORevision/components/Step2/Step2NegativeFlow.tsx
  frontend/src/pages/PORevision/components/detail/PORevisionLineItems.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

style: Apply orange color to pending invoice amount and Green color to approved invoice amount in PO details.
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
Labels: UI

feat: display vendor, project, and financial summary details in the PO revision dialog.
  frontend/src/pages/PORevision/PORevisionDialog.tsx
  frontend/src/pages/PORevision/components/RevisionHeader.tsx
  frontend/src/pages/PORevision/components/Step1/ImpactSummaryTable.tsx
  frontend/src/pages/PORevision/components/Step1/Step1ReviseItems.tsx
Labels: UI

refactor: Update "absorbed" terminology to "adjusted" for payment terms across PO Revision components and documentation.
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
  frontend/src/pages/PORevision/components/Step2/Step2NegativeFlow.tsx
  frontend/src/pages/PORevision/components/Step3/Step3Summary.tsx
  frontend/src/pages/PORevision/components/detail/PORevisionPaymentRectification.tsx
Labels: UI

feat: Implement dialogs for adding new items and charges to PO revisions and refine related data fetching and backend logic.
  frontend/src/pages/PORevision/components/Step1/AddChargeDialog.tsx
  frontend/src/pages/PORevision/components/Step1/AddNewItemDialog.tsx
  frontend/src/pages/PORevision/components/Step1/Step1ReviseItems.tsx
  frontend/src/pages/PORevision/data/usePORevisionQueries.ts
  frontend/src/pages/PORevision/hooks/usePORevision.ts
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: UI, backend

feat: Refactor target PO credit application to consolidate payment terms and enhance candidate( PO selection with new filters, locking checks, and 'Created' term amount validation.
  frontend/src/pages/PORevision/PO_REVISION_ARCHITECTURE.md
  frontend/src/pages/PORevision/components/Step2/Step2NegativeFlow.tsx
  frontend/src/pages/PORevision/data/poRevision.constants.ts
  frontend/src/pages/PORevision/data/usePORevisionQueries.ts
  frontend/src/pages/PORevision/hooks/usePORevision.ts
  nirmaan_stack/api/po_revisions/revision_logic.py
Labels: UI, backend

feat: Add category and procurement package fields to PO revision items, supporting custom items and tracking their original values.t chrages ...
  frontend/src/pages/PORevision/components/Step1/AddChargeDialog.tsx
  frontend/src/pages/PORevision/components/Step1/AddNewItemDialog.tsx
  frontend/src/pages/PORevision/components/Step1/Step1ReviseItems.tsx
  frontend/src/pages/PORevision/data/usePORevisionQueries.ts
  frontend/src/pages/PORevision/hooks/usePORevision.ts
  frontend/src/pages/PORevision/types.ts
  frontend/src/pages/ProcurementOrders/purchase-order/components/PODetails.tsx
  nirmaan_stack/api/po_revisions/revision_logic.py
  nirmaan_stack/nirmaan_stack/doctype/po_revisions_items/po_revisions_items.json
Labels: UI, backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
