Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

feat: block on-hold vendors from being added to RFQ in vendor selection phase
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgressContainer.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgressView.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/AddVendorsDialog.tsx
Labels: UI

docs: update vendor credit documentation for recent workflow changes
  CLAUDE.md
  frontend/.claude/context/domain/vendor-hold.md
  frontend/CLAUDE.md
Labels: none

feat: add same-day delivery note warning dialog before DN creation
  frontend/src/pages/DeliveryNotes/components/SameDayDNWarningDialog.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/DeliveryPivotTable.tsx
  frontend/src/pages/DeliveryNotes/hooks/useDeliveryEdit.ts
  frontend/src/utils/FormatDate.ts
Labels: UI

feat: add Payable > PO Amount report to PO Reports tab
  frontend/src/pages/reports/ReportsContainer.tsx
  frontend/src/pages/reports/components/POReports.tsx
  frontend/src/pages/reports/components/columns/poColumns.tsx
  frontend/src/pages/reports/hooks/usePOReportsData.ts
  frontend/src/pages/reports/store/useReportStore.ts
Labels: UI

feat: comment out PMO dashboard header navigation section Back Button
  frontend/src/pages/PMODashboard/pmo-dashboard-list.tsx
Labels: UI

refactor: comment out cancel button in ApprovePR Header component
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/ApprovePRHeader.tsx
Labels: UI

refactor: update GST report calculations, improve table UI, and allow completed projects in selects
  frontend/src/pages/reports/components/GSTReport/ProjectGSTReportDetails.tsx
  frontend/src/pages/reports/components/ProjectGSTReport.tsx
  frontend/src/pages/reports/hooks/useProjectGSTData.ts
Labels: UI

fix: filter out Merged and Inactive statuses from VendorMaterialOrdersTable facets and fix indentation
  frontend/src/pages/vendors/components/VendorMaterialOrdersTable.tsx
Labels: UI

refactor: restrict project module management and deactivation status access to Nirmaan Admin only
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  frontend/src/pages/projects/components/ProjectModuleDeactivationStatus.tsx
  frontend/src/pages/projects/project.tsx
Labels: UI

fix: standardize billing category fallback for Material Usage views
  frontend/src/pages/projects/hooks/useMaterialUsageData.ts
Labels: UI

refactor: remove unused fixtures..
  nirmaan_stack/fixtures/pmo_task_category.json
  nirmaan_stack/fixtures/pmo_task_master.json
  nirmaan_stack/fixtures/pr_tag_headers.json
  nirmaan_stack/fixtures/project_gst.json
  nirmaan_stack/hooks.py
Labels: backend

feat(bulk-download): standardize wizard UI and refactor selection logic
  frontend/src/components/common/BulkPdfDownloadButton.tsx
  frontend/src/components/ui/standalone-date-filter.tsx
  frontend/src/pages/BulkDownload/BulkDownloadPage.tsx
  frontend/src/pages/BulkDownload/BulkDownloadStep1.tsx
  frontend/src/pages/BulkDownload/FilterBar.tsx
  frontend/src/pages/BulkDownload/steps/BaseItemList.tsx
  frontend/src/pages/BulkDownload/steps/DCSteps.tsx
  frontend/src/pages/BulkDownload/steps/DNSteps.tsx
  frontend/src/pages/BulkDownload/steps/InvoiceSteps.tsx
  frontend/src/pages/BulkDownload/steps/MIRSteps.tsx
  frontend/src/pages/BulkDownload/steps/POSteps.tsx
  frontend/src/pages/BulkDownload/steps/WOSteps.tsx
  frontend/src/pages/BulkDownload/useBulkDownloadWizard.ts
Labels: UI

feat: add BOQ and BOQ Item doctypes
  nirmaan_stack/nirmaan_stack/doctype/boq/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq/boq.json
  nirmaan_stack/nirmaan_stack/doctype/boq/boq.py
  nirmaan_stack/nirmaan_stack/doctype/boq_item/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_item/boq_item.json
  nirmaan_stack/nirmaan_stack/doctype/boq_item/boq_item.py
Labels: backend

feat: add backend API for BOQ Excel import
  nirmaan_stack/api/boq_import.py
Labels: backend

feat: add frontend BOQ import wizard with Excel parsing
  frontend/package.json
  frontend/src/pages/BOQImport/boq-detail.tsx
  frontend/src/pages/BOQImport/boq-import-dialog.tsx
  frontend/src/pages/BOQImport/boq-list.tsx
  frontend/src/pages/BOQImport/components/RawDataTable.tsx
  frontend/src/pages/BOQImport/constants.ts
  frontend/src/pages/BOQImport/hooks/useBOQImportData.ts
  frontend/src/pages/BOQImport/hooks/useBOQImportWizard.ts
  frontend/src/pages/BOQImport/hooks/useExcelParser.ts
  frontend/src/pages/BOQImport/index.tsx
  frontend/src/pages/BOQImport/project-boq-tab.tsx
  frontend/src/pages/BOQImport/schema.ts
  frontend/src/pages/BOQImport/steps/HeaderMappingStep.tsx
  frontend/src/pages/BOQImport/steps/PreviewStep.tsx
  frontend/src/pages/BOQImport/steps/UploadStep.tsx
  frontend/src/pages/BOQImport/steps/index.ts
  frontend/yarn.lock
Labels: UI

feat: wire BOQ into navigation, routing, and project page
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/projects/project.tsx
Labels: UI

feat: Implement BOQ item classification and preamble association during import
  frontend/src/pages/BOQImport/boq-detail.tsx
  frontend/src/pages/BOQImport/schema.ts
  frontend/src/pages/BOQImport/steps/PreviewStep.tsx
  nirmaan_stack/api/boq_import.py
  nirmaan_stack/fix_preambles.py
  nirmaan_stack/nirmaan_stack/doctype/boq/boq.json
  nirmaan_stack/nirmaan_stack/doctype/boq_item/boq_item.json
Labels: UI, backend

fix: pass selected sheet index to backend for multi-sheet Excel import
  frontend/src/pages/BOQImport/boq-import-dialog.tsx
  frontend/src/pages/BOQImport/index.tsx
  frontend/src/pages/BOQImport/steps/PreviewStep.tsx
  nirmaan_stack/api/boq_import.py
Labels: UI, backend

feat: Add role-based 'Work Order Rate Card' navigation, implement view-only mode for WO Service Packages, and refine commission report user filtering by project assignees.
  frontend/src/components/layout/NewSidebar.tsx
Labels: UI

feat(sr): upgrade service request workflow with advanced validation and high-density UI
  frontend/src/pages/ServiceRequests/service-request/components/SRDetailsCard.tsx
  frontend/src/pages/ServiceRequests/sr-form/amend/SRAmendPage.tsx
  frontend/src/pages/ServiceRequests/sr-form/amend/SRAmendSheet.tsx
  frontend/src/pages/ServiceRequests/sr-form/amend/transformers.ts
  frontend/src/pages/ServiceRequests/sr-form/amend/useSRAmendForm.ts
  frontend/src/pages/ServiceRequests/sr-form/hooks/useSRAmendData.ts
  frontend/src/pages/ServiceRequests/sr-form/hooks/useSRFormData.ts
  frontend/src/pages/ServiceRequests/sr-form/index.tsx
  frontend/src/pages/ServiceRequests/sr-form/schema.ts
  frontend/src/pages/ServiceRequests/sr-form/steps/ServiceItemsStep.tsx
  frontend/src/pages/ServiceRequests/sr-form/steps/VendorRatesStep.tsx
Labels: UI

feat(service-requests): implement category-wise item grouping and refine UI
  frontend/src/pages/ServiceRequests/sr-form/amend/transformers.ts
  frontend/src/pages/ServiceRequests/sr-form/index.tsx
  frontend/src/pages/ServiceRequests/sr-form/steps/ServiceItemsStep.tsx
  frontend/src/pages/ServiceRequests/sr-form/utils.ts
Labels: UI

fix: Remove Deadline col from print format. Submitted status in PDF- If the remarks are empty, show in Remarks "Approval Pending by client"
  nirmaan_stack/fixtures/print_format.json
Labels: backend

fix: Product Items Edit ReactSelect Dropdown out of dialog fix..
  frontend/src/pages/Items/components/EditItemDialog.tsx
Labels: UI

feat(projects): update status colors, fix CEO Hold facet caching, and center status badge
  frontend/src/pages/projects/projects.tsx
Labels: UI

Patch: update child procurement_package from child category (Category.work_package) for PR/SB/PO/DN via direct SQL, without touching parent/Items/modified dates.
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/fix_child_item_category_package_mismatch.py
Labels: backend

feat: implement mandatory site presence declaration
  frontend/src/pages/Manpower-and-WorkMilestones/MilestoneTab.tsx
  frontend/src/pages/Manpower-and-WorkMilestones/components/CopyReportButton.tsx
  nirmaan_stack/nirmaan_stack/doctype/project_progress_reports/project_progress_reports.json
Labels: UI, backend

feat: add Client Invoices (Incl.GST) column to projects list
  frontend/src/pages/projects/data/root/useProjectRootApi.ts
  frontend/src/pages/projects/projects.tsx
Labels: UI

FIx: update vendor name link styling to support text wrapping and improved line height
  frontend/src/pages/vendors/VendorsPage.tsx
Labels: UI

feat: improve POPaymentTermsCard responsiveness with dynamic column sizing and scrollable layout for mobile devices
  frontend/src/pages/ProcurementOrders/purchase-order/components/POPaymentTermsCard.tsx
Labels: UI

feat: replace item name inputs with textareas and update add item button styling in WOServicePackagesMaster..
  frontend/src/pages/WOServicePackage/WOServicePackagesMaster.tsx
Labels: UI

Add offset in package Handover changes STATUS Overview rearrange task table Weekly update download
  frontend/src/pages/PMODashboard/components/EditTaskModal.tsx
  frontend/src/pages/PMODashboard/components/PMOPackagesMaster.tsx
  frontend/src/pages/PMODashboard/components/TaskWiseTable.tsx
  frontend/src/pages/PMODashboard/pmo-dashboard-list.tsx
  frontend/src/pages/PMODashboard/pmo-project-detail.tsx
  nirmaan_stack/api/pmo_dashboard.py
  nirmaan_stack/nirmaan_stack/doctype/pmo_task_category/pmo_task_category.json
  nirmaan_stack/nirmaan_stack/doctype/pmo_task_master/pmo_task_master.json
Labels: UI, backend

feat: refactor delivery note deletion and enhance procurement permissions
  frontend/src/pages/DeliveryNotes/components/pivot-table/DeliveryPivotTable.tsx
  frontend/src/pages/DeliveryNotes/components/pivot-table/PivotTableHeader.tsx
  frontend/src/pages/DeliveryNotes/hooks/useDeliveryDelete.ts
  frontend/src/pages/DeliveryNotes/hooks/useDeliveryEdit.ts
  frontend/src/pages/vendors/components/VendorCreditLedgerTable.tsx
  nirmaan_stack/api/delivery_notes/edit_delivery_note.py
  nirmaan_stack/hooks.py
  nirmaan_stack/integrations/controllers/delivery_notes.py
Labels: UI, backend

refactor: remove Weekly Updates row from PMO project detail table
  frontend/src/pages/PMODashboard/pmo-project-detail.tsx
Labels: UI

feat: add active/inactive status badges for drawing, DPR, and inventory modules in PMO dashboard
  frontend/src/pages/PMODashboard/pmo-project-detail.tsx
  nirmaan_stack/api/pmo_dashboard.py
Labels: UI, backend

feat(tds): revamp TDS approval detail, split edit modals, dedupe on approve
  frontend/src/pages/projects/TDSRepository/components/RequestTdsItemDialog.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsCreateForm.tsx
  frontend/src/pages/tds/TDSApprovalDetail.tsx
  frontend/src/pages/tds/components/AddTDSItemDialog.tsx
  frontend/src/pages/tds/components/EditRequestItemModal.tsx
  frontend/src/pages/tds/components/ProjectEditTDSItemModal.tsx
  frontend/src/pages/tds/explain.md
  nirmaan_stack/api/tds/get_tds_requests.py
Labels: UI, backend

feat: refactor TDS report export to use asynchronous Socket.IO event-driven workflow for improved reliability and progress tracking
  frontend/src/pages/projects/TDSRepository/TDSRepositoryView.tsx
  nirmaan_stack/api/tds/tds_report.py
Labels: UI, backend

feat(tds): add status filter to export dialog, default repo view to history
  frontend/src/pages/projects/TDSRepository/TDSRepositoryView.tsx
  frontend/src/pages/projects/TDSRepository/components/TdsExportDialog.tsx
  nirmaan_stack/fixtures/print_format.json
Labels: UI, backend

feat(sr): drop auto-select on package change, hide Add Custom Service button
  frontend/src/pages/ServiceRequests/sr-form/steps/ServiceItemsStep.tsx
Labels: UI

feat(sr): rate-card comparison + list-row approve/reject, relax amend gating
  frontend/src/hooks/useOrderTotals.ts
  frontend/src/pages/ServiceRequests/service-request/approve-service-request-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-service-request.tsx
  frontend/src/pages/ServiceRequests/sr-form/amend/SRAmendSheet.tsx
  frontend/src/pages/ServiceRequests/sr-form/amend/useSRAmendForm.ts
  frontend/src/pages/ServiceRequests/sr-form/components/ServiceItemsAccordion.tsx
  frontend/src/utils/getAmounts.ts
Labels: UI

refactor: PMO download pdf edge case added
  nirmaan_stack/fixtures/print_format.json
Labels: backend

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
