Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, backend

docs(boq): Bug 23 + Bug 24 LANDED -- cycle 4 / Findings #1+#2
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

chore(boq): cycle_3_rerun.py -- model_dump to asdict (Pydantic-compat)
  nirmaan_stack/services/boq_parser/cycle_3_rerun.py
Labels: backend

feat: update ProjectSelect to disable ineligible options and display associated PO/ITM counts
  frontend/src/components/custom-select/project-select.tsx
  frontend/src/config/selectTheme.ts
  frontend/src/pages/DeliveryNotes/deliverynotes.tsx
Labels: UI

feat(boq): Module 1a -- wizard backend and schema (Phase 3 kickoff)
  nirmaan_stack/api/boq/__init__.py
  nirmaan_stack/api/boq/wizard/__init__.py
  nirmaan_stack/api/boq/wizard/test_update_boq_draft.py
  nirmaan_stack/api/boq/wizard/test_upload_file.py
  nirmaan_stack/api/boq/wizard/update_boq_draft.py
  nirmaan_stack/api/boq/wizard/upload_file.py
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet_draft/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet_draft/boq_sheet_draft.json
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet_draft/boq_sheet_draft.py
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet_draft/test_boq_sheet_draft.py
  nirmaan_stack/nirmaan_stack/doctype/boqs/boqs.json
Labels: backend

docs(boq): Module 1a landed -- plan-doc update + Phase 3 reframe
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(claude): Module 1a convention codification
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs: add ADR-0001 and PRD for v3 dual-field tendering model
  CONTEXT.md
  docs/adr/0001-project-tendering-status.md
  docs/prd/project-tendering-won-issues.md
  docs/prd/project-tendering-won.md
Labels: none

chore(projects): add tendering_status field and one-shot backfill patch
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v3_0/backfill_tendering_status_for_old_projects.py
Labels: backend

feat(api): add tendering create/update/convert/delete/mark-lost endpoints
  nirmaan_stack/api/projects/_project_population.py
  nirmaan_stack/api/projects/_tendering_guard.py
  nirmaan_stack/api/projects/new_project.py
  nirmaan_stack/api/projects/tendering.py
  nirmaan_stack/hooks.py
  nirmaan_stack/nirmaan_stack/doctype/project_work_milestones/project_work_milestones.py
Labels: backend

feat(api): wire validate_won guard into 7 operational controllers
  nirmaan_stack/integrations/controllers/po_delivery_documents.py
  nirmaan_stack/integrations/controllers/procurement_orders.py
  nirmaan_stack/integrations/controllers/procurement_requests.py
  nirmaan_stack/integrations/controllers/project_inflows.py
  nirmaan_stack/integrations/controllers/project_invoices.py
  nirmaan_stack/integrations/controllers/project_payments.py
  nirmaan_stack/integrations/controllers/service_requests.py
Labels: backend

test(api): add unit tests for tendering APIs, guard, and convert flow
  nirmaan_stack/api/projects/test_convert_tendering.py
  nirmaan_stack/api/projects/test_tendering_api.py
  nirmaan_stack/api/projects/test_tendering_guard.py
  nirmaan_stack/nirmaan_stack/doctype/projects/test_projects.py
Labels: backend

feat(frontend): add Tendering stub form, view, table, and hooks
  frontend/src/pages/projects/new-project/NewProjectChoice.tsx
  frontend/src/pages/projects/tendering/TenderingProjectForm.tsx
  frontend/src/pages/projects/tendering/TenderingProjectView.tsx
  frontend/src/pages/projects/tendering/TenderingProjectsTable.tsx
  frontend/src/pages/projects/tendering/hooks/usePincodeLocations.ts
  frontend/src/pages/projects/tendering/hooks/useTenderingMutations.ts
  frontend/src/pages/projects/tendering/tenderingAuth.ts
Labels: UI

feat(frontend): integrate v3 dual-field model across pickers, status vocab, and project pages
  frontend/src/components/common/projectStatus.ts
  frontend/src/components/custom-select/ProjectInventorySelect.tsx
  frontend/src/components/custom-select/project-milestone-select.tsx
  frontend/src/components/custom-select/project-select.tsx
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/config/queryKeys.ts
  frontend/src/hooks/useProjectDraftManager.ts
  frontend/src/pages/projects/config/projectTable.config.ts
  frontend/src/pages/projects/data/project-form/useProjectFormMutations.ts
  frontend/src/pages/projects/data/root/useProjectRootApi.ts
  frontend/src/pages/projects/project-form/index.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/projects/projects.tsx
  frontend/src/types/NirmaanStack/Projects.ts
Labels: UI

fix(reports): hide pre-Won projects from Cash Sheet
  frontend/src/pages/reports/components/ProjectReports.tsx
Labels: UI

feat(auth): hide "Add New Project" button for non-Admin/PMO users
  frontend/src/components/helpers/renderRightActionButton.tsx
Labels: UI

feat(boq): Module 1b-i -- sidebar nav + in-project BoQ tab + project picker + routing
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/boq-wizard/BoqPickerPage.tsx
  frontend/src/pages/boq-wizard/BoqProjectTab.tsx
  frontend/src/pages/projects/project.tsx
Labels: UI

docs(boq): Module 1b-i landed -- plan-doc update + frontend CLAUDE.md wizard conventions
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(boq): Module 1b-i -- re-enable Procurement Executive access to BoQ
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/pages/projects/project.tsx
Labels: UI

docs(boq): Module 1b-i PE gating correction -- plan-doc + CLAUDE.md update
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): Module 1b-modal -- Tendering create-modal in BoQ picker
  frontend/src/pages/boq-wizard/BoqPickerPage.tsx
  frontend/src/pages/projects/tendering/TenderingProjectForm.tsx
Labels: UI

docs(boq): Module 1b-modal landed -- plan-doc + frontend CLAUDE.md update
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(boq): 1b-modal -- inline react-select menus when embedded in Dialog
  frontend/src/pages/projects/tendering/TenderingProjectForm.tsx
Labels: UI

docs(boq): 1b-modal dropdown fix -- plan-doc + frontend CLAUDE.md update
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): Module 1b-ii-a -- static upload screen, store, drop zone, panel
  frontend/src/pages/boq-wizard/BoqDropZone.tsx
  frontend/src/pages/boq-wizard/BoqMasterPanel.tsx
  frontend/src/pages/boq-wizard/BoqPickerPage.tsx
  frontend/src/pages/boq-wizard/BoqUploadScreen.tsx
  frontend/src/zustand/useBoqWizardStore.ts
Labels: UI

docs(boq): Module 1b-ii-a landed -- plan-doc + frontend CLAUDE.md update
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): Module 1b-ii-b -- live upload, socket listener, Continue gate
  frontend/src/pages/boq-wizard/BoqDropZone.tsx
  frontend/src/pages/boq-wizard/BoqMasterPanel.tsx
  frontend/src/pages/boq-wizard/BoqUploadScreen.tsx
  frontend/src/zustand/useBoqWizardStore.ts
Labels: UI

docs(boq): Module 1b-ii-b landed -- plan-doc + frontend CLAUDE.md update
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(boq): correct upload_file endpoint path -- append .upload_file function name
  frontend/src/pages/boq-wizard/BoqDropZone.tsx
Labels: UI

docs(boq): 1b-ii-b endpoint-path fix -- plan-doc + frontend CLAUDE.md update
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

fix(boq): S3-compat upload -- tempfile from in-hand bytes, not file_url path
  nirmaan_stack/api/boq/wizard/test_upload_file.py
  nirmaan_stack/api/boq/wizard/upload_file.py
Labels: backend

docs(boq): Module 1a S3-compat fix -- plan-doc + root CLAUDE.md update
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

fix(boq): widen source_file_url Data -> Small Text for long S3 URLs
  nirmaan_stack/nirmaan_stack/doctype/boqs/boqs.json
Labels: backend

docs(boq): source_file_url fix + Module 1b scope cut + doctype-JSON exception note
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(boq): Module 1b manual test complete -- §9 #122 RESOLVED, C5 PASS, status updates across doc set
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

docs(claude): add Environment/Testing Runbook pointer to root + frontend CLAUDE.md
  CLAUDE.md
  frontend/CLAUDE.md
Labels: none

feat(boq): Module 2a -- hub backend: sheet-draft endpoints + schema (six-value wizard_status, sheet_label, general_specs_sheet)
  nirmaan_stack/api/boq/wizard/test_update_sheet_draft.py
  nirmaan_stack/api/boq/wizard/update_sheet_draft.py
  nirmaan_stack/nirmaan_stack/doctype/boq_sheet_draft/boq_sheet_draft.json
  nirmaan_stack/nirmaan_stack/doctype/boqs/boqs.json
Labels: backend

docs(boq): Module 2a landed -- plan-doc + root CLAUDE.md update
  CLAUDE.md
  frontend/.claude/plans/boq-upload-plan.md
Labels: none

feat(boq): Module 2b-i -- hub static shell + read-only sheet-card list + route
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/BoqUploadScreen.tsx
  frontend/src/pages/boq-wizard/SheetCard.tsx
  frontend/src/pages/boq-wizard/boqTypes.ts
Labels: UI

docs(boq): Module 2b-i landed -- plan-doc + frontend CLAUDE.md update
  frontend/.claude/plans/boq-upload-plan.md
  frontend/CLAUDE.md
Labels: none

feat(boq): Module 2b-ii -- wire hub interactions + fix status pill colors
  frontend/src/pages/boq-wizard/BoqHubPage.tsx
  frontend/src/pages/boq-wizard/SheetCard.tsx
Labels: UI

.github/labeler.yml:

#  Add 'UI' label to all PRs that touch ts / tsx files in the 'src' directory.
"UI":
  - "frontend/src/**/*.{ts,tsx,css}"

# Add 'backend' label to all PRs that touch json / py files in the 'raven' directory.
"backend":
  - "nirmaan_stack/**/*.{json,py}"
