Repository Nirmaan-app/nirmaan_stack_frappe15_postgres_14, pull requests merged in 2025-04, with the labels that each got.

#387 fix: minor ui fix in POAttachments and mutate fix for Procurement Ord…
  frontend/src/pages/DeliveryNotes/deliveryNoteItemsDisplay.tsx
  frontend/src/pages/ProcurementOrders/POAttachments.tsx
Labels: UI

#389 Commit 1 -> fix: separated router configuration from actual implementation, Commit 2 -> fix: changed invoice number input field type to text from number, fix: changed Project and Customer, All Payments tab to render Payments Done table, fix: fixed Approve Payments payment action dialog, fix: fixed sr table in Vendor page and approved sr list to include gst amount as well (if applicable), Commit 3 -> fix: fixed date column of every data table to represent exact meaning like Date Created, Commit 4 -> feat: added invoice data updation functionality for service requests and, fix: removed administrator from the options of assign user dialog, fix: added payments which are Approved as well in Payments Pending tab, Commit 5 -> fix: minor ui fix
  frontend/src/App.tsx
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/procurement/sent-back-request.tsx
  frontend/src/components/ui/PODetails.tsx
  frontend/src/hooks/useOrderTotals.ts
  frontend/src/pages/ApprovedQuotationsFlow/ApprovedQuotationsTable.tsx
  frontend/src/pages/Items/items.tsx
  frontend/src/pages/ProcurementOrders/InvoiceDialog.tsx
  frontend/src/pages/ProcurementOrders/POAttachments.tsx
  frontend/src/pages/ProcurementOrders/POPaymentTermsCard.tsx
  frontend/src/pages/ProcurementOrders/approve-select-amend-po.tsx
  frontend/src/pages/ProcurementOrders/release-po-select.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/approve-pr.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-select-vendor.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-requests.tsx
  frontend/src/pages/ProjectPayments/AccountantTabs.tsx
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
  frontend/src/pages/ProjectPayments/approve-payments.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/ProjectPayments/request-payment-dialog.tsx
  frontend/src/pages/Sent Back Requests/approve-select-sent-back.tsx
  frontend/src/pages/ServiceRequests/ServiceRequestsTabs.tsx
  frontend/src/pages/ServiceRequests/service-request/SRAttachments.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-amend-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-service-request-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr-list.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/pages/ServiceRequests/service-request/select-service-vendor-list.tsx
  frontend/src/pages/customers/CustomerFinancials.tsx
  frontend/src/pages/projects/InFlowPayments.tsx
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/ProjectOverviewTab.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/projects/projects.tsx
  frontend/src/pages/vendors/vendor.tsx
  frontend/src/types/NirmaanStack/ServiceRequests.ts
  nirmaan_stack/api/delivery_notes/update_invoice_data.py
  nirmaan_stack/nirmaan_stack/doctype/service_requests/service_requests.json
Labels: UI, backend

#390 fix: minor bug
  frontend/src/pages/ProjectPayments/request-payment-dialog.tsx
Labels: UI

#392 #patch v2.3.6
  frontend/src/pages/ProjectPayments/AllPayments.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-amend-sr-list.tsx
Labels: UI

#393 Commit 1 -> fix: all orders tab project filter fix and request payment dialog bug fix, Commit 2 -> feat: added hook to maintain centralized search params, added total invoice amt column and dialog to view the invoice data in release-po table, added paid payments dialog in release-po table as well, Commit 3 -> fix: fixed empty loading and freight charges in po pdf, minor fix in sidebar ui component, added customer column in inflow payments table and navigations, Commit 4 -> feat: refactored user-profile component functionality and fixed user deletion, Commit 5 -> fix: modified search params syncing
  frontend/src/components/data-table/data-table.tsx
  frontend/src/components/ui/POPdf.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/hooks/useSearchParamsManager.ts
  frontend/src/hooks/useUserSubmitHandlers.ts
  frontend/src/pages/ProcurementOrders/InvoiceDataDialog.tsx
  frontend/src/pages/ProcurementOrders/RenderPurchaseOrdersTab.tsx
  frontend/src/pages/ProcurementOrders/release-po-select.tsx
  frontend/src/pages/ProjectPayments/PaymentsDataDialog.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/ProjectPayments/request-payment-dialog.tsx
  frontend/src/pages/projects/InFlowPayments.tsx
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/ProjectMakesTab.tsx
  frontend/src/pages/projects/ProjectSpendsTab.tsx
  frontend/src/pages/projects/ProjectWiseInvoices.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/users/user-profile.tsx
  frontend/src/types/NirmaanStack/ProcurementOrders.ts
  frontend/src/utils/getAmounts.ts
  nirmaan_stack/integrations/controllers/nirmaan_users.py
Labels: UI, backend

#394 Commit 1 -> feat: added All Invoices tab in Project financials tab, minor fix in unmerge api call, Commit 2 -> fix: disabled po functionality buttons if vendor contact details are not present and modularized the flow, Commit 3 -> fix: made vendor contact details mandatory fields
  frontend/src/components/ui/PODetails.tsx
  frontend/src/components/ui/vendor-hover-card.tsx
  frontend/src/components/validations/ValidationIndicator.tsx
  frontend/src/components/validations/ValidationMessages.tsx
  frontend/src/components/validations/ValidationTypes.ts
  frontend/src/constants/vendorFormRegex.ts
  frontend/src/hooks/usePOValidation.ts
  frontend/src/pages/ProcurementOrders/InvoiceDialog.tsx
  frontend/src/pages/ProcurementOrders/POPaymentTermsCard.tsx
  frontend/src/pages/ProcurementOrders/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/TransactionDetailsCard.tsx
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/ProjectWiseInvoices.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/vendors/edit-vendor.tsx
  frontend/src/pages/vendors/new-vendor.tsx
  nirmaan_stack/api/po_merge_and_unmerge.py
  nirmaan_stack/api/projects/project_wise_invoice_data.py
Labels: UI, backend

#395 fix: minor bug fixes
  frontend/src/components/ui/PODetails.tsx
  frontend/src/components/ui/vendor-hover-card.tsx
  frontend/src/components/validations/ValidationIndicator.tsx
  frontend/src/components/validations/ValidationMessages.tsx
  frontend/src/pages/ProcurementOrders/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/TransactionDetailsCard.tsx
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
  frontend/src/pages/projects/ProjectWiseInvoices.tsx
Labels: UI

#397 fix: bug fix in project financials and added vendor column for all_in…
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/ProjectWiseInvoices.tsx
  frontend/src/pages/projects/project.tsx
  nirmaan_stack/api/projects/project_wise_invoice_data.py
Labels: UI, backend

#398 #patch v2.3.8
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/ProjectWiseInvoices.tsx
  frontend/src/pages/projects/project.tsx
  nirmaan_stack/api/projects/project_wise_invoice_data.py
Labels: UI, backend

#399 Commit 1 -> feat: added types for lodash, Commit 2 -> fix: grouped role based dashboard components under a separate folder named dashboards, Commit 3 -> feat: created a dedicated loading fallback component, minor fixes in project, Commit 4 -> fix: label changes in rfq pdf, added total invoice amount column in PO wise table and removed total po amount excl gst column, updated RenderProjectPaymentsComponent to use centralized state for search params syncing
  frontend/package.json
  frontend/src/components/common/callouts/error-callouts.tsx
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/dashboards/dashboard-accountant.tsx
  frontend/src/components/layout/dashboards/dashboard-default.tsx
  frontend/src/components/layout/dashboards/dashboard-pl.tsx
  frontend/src/components/layout/dashboards/dashboard-pm.tsx
  frontend/src/components/layout/dashboards/estimates-executive-dashboard.tsx
  frontend/src/components/layout/dashboards/procurement-dashboard.tsx
  frontend/src/components/layout/loaders/LoadingFallback.tsx
  frontend/src/pages/ProcurementOrders/release-po-select.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/GenerateRFQDialog.tsx
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/auth/old-login.tsx
  frontend/src/pages/dashboard.tsx
  frontend/src/pages/projects/ProjectFinancialsTab.tsx
  frontend/src/pages/projects/add-project-estimates.tsx
  frontend/src/pages/projects/project.tsx
  frontend/yarn.lock
Labels: UI

#400 Commit 1 -> fix: fixed Merge PO button bug, Commit 2 -> fix: removed pr column and renamed Date Created to PO Date Created, added tax column in order details table
  frontend/src/components/helpers/ActionSummary.tsx
  frontend/src/components/helpers/ApproveVendorQuotesPRorSBAntDTable.tsx
  frontend/src/components/helpers/ProcurementActionsHeaderCard.tsx
  frontend/src/components/helpers/ProcurementHeaderCard.tsx
  frontend/src/components/helpers/RenderPRorSBComments.tsx
  frontend/src/components/helpers/vendor-hover-card.tsx
  frontend/src/components/procurement/select-vendors.tsx
  frontend/src/components/procurement/sent-back-select-vendor.tsx
  frontend/src/components/procurement/sent-back-update-quote.tsx
  frontend/src/components/procurement/update-quote.tsx
  frontend/src/components/ui/accessible-dialog.tsx
  frontend/src/index.css
  frontend/src/pages/ProcurementOrders/PODetails.tsx
  frontend/src/pages/ProcurementOrders/POPdf.tsx
  frontend/src/pages/ProcurementOrders/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/approve-amend-po.tsx
  frontend/src/pages/ProcurementOrders/release-po-select.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/approve-order.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-r-reject-vendor-quotes.tsx
  frontend/src/pages/ProcurementRequests/NewPR/NewCustomPR.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgress.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-vendor.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/Retired Components/approve-sent-back.tsx
  frontend/src/pages/Retired Components/approve-vendor.tsx
  frontend/src/pages/Sent Back Requests/ApproveSBVendorQuotes.tsx
  frontend/src/pages/Sent Back Requests/SBQuotesSelectionReview.tsx
  frontend/src/pages/Sent Back Requests/SentBackVendorQuotes.tsx
  frontend/src/pages/Sent Back Requests/sent-back-summary.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-amended-sr.tsx
  frontend/src/pages/ServiceRequests/service-request/approve-service-request.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/pages/ServiceRequests/service-request/select-service-vendor.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/users/user-profile.tsx
Labels: UI

#403 feat: added service request delete functionality in in progress srs t…
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/ApproveRejectVendorQuotesContainer.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ItemVendorMakeSelection.tsx
  frontend/src/pages/ServiceRequests/components/SRDeleteConfirmationDialog.tsx
  frontend/src/pages/ServiceRequests/hooks/useServiceRequestLogic.ts
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/pages/ServiceRequests/service-request/select-service-vendor-list.tsx
Labels: UI

#405 #patch v2.3.12
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/ApproveRejectVendorQuotesContainer.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ItemVendorMakeSelection.tsx
  frontend/src/pages/ServiceRequests/components/SRDeleteConfirmationDialog.tsx
  frontend/src/pages/ServiceRequests/hooks/useServiceRequestLogic.ts
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/pages/ServiceRequests/service-request/select-service-vendor-list.tsx
Labels: UI

#406 Bug Fixes and lowest quote logic and styling changes
  frontend/src/hooks/useItemEstimate.ts
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/components/VendorApprovalTable.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/hooks/useApproveRejectLogic.ts
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/types/index.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/Sent Back Requests/SBQuotesSelectionReview.tsx
  frontend/src/pages/Sent Back Requests/hooks/useApproveSBSLogic.ts
  frontend/src/pages/users/user-profile.tsx
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.py
Labels: UI, backend

#407 #patch v2.3.13
  frontend/src/hooks/useItemEstimate.ts
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/components/VendorApprovalTable.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/hooks/useApproveRejectLogic.ts
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/types/index.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/Sent Back Requests/SBQuotesSelectionReview.tsx
  frontend/src/pages/Sent Back Requests/hooks/useApproveSBSLogic.ts
  frontend/src/pages/users/user-profile.tsx
  nirmaan_stack/nirmaan_stack/doctype/projects/projects.py
Labels: UI, backend

#408 Commit 1 -> fix: Altered Approved Quotations item_name field type to Text to accommodate larger texts in regarding custom po's item names, Commit 2 -> feat: added new doctype called Task and added a new sidebar option Invoice Reconciliation for Admins and Accountants to update a Task status on invoice data, added backend api calls for these functionalities, Commit 3 -> feat: modified purchase order view to include accordions and removed scrolling for order list, implemented modular structure for PO and SR Attachments view components, updated backend logic to create new Task upon new invoice entry, deletion of Task upon invoice deletion
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/pages/ProcurementOrders/InvoiceDialog.tsx
  frontend/src/pages/ProcurementOrders/POAttachments.tsx
  frontend/src/pages/ProcurementOrders/PurchaseOrder.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/DocumentAttachments.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/DeliveryChallanTable.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceDialog.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceTable.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/components/ConfirmationDialog.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/ServiceRequests/service-request/approved-sr.tsx
  frontend/src/pages/tasks/InvoiceReconciliation.tsx
  frontend/src/types/NirmaanStack/ProcurementOrders.ts
  frontend/src/types/NirmaanStack/Task.ts
  nirmaan_stack/api/delivery_notes/update_invoice_data.py
  nirmaan_stack/api/tasks/update_task_status.py
  nirmaan_stack/nirmaan_stack/doctype/approved_quotations/approved_quotations.json
  nirmaan_stack/nirmaan_stack/doctype/task/__init__.py
  nirmaan_stack/nirmaan_stack/doctype/task/task.js
  nirmaan_stack/nirmaan_stack/doctype/task/task.json
  nirmaan_stack/nirmaan_stack/doctype/task/task.py
  nirmaan_stack/nirmaan_stack/doctype/task/test_task.py
Labels: UI, backend

#409 feat: added invoice reconciliation tabs, updated three months lowest …
  frontend/index.html
  frontend/src/components/helpers/SelectUnit.tsx
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/layout/main-layout.tsx
  frontend/src/config/queryKeys.ts
  frontend/src/hooks/useItemEstimate.ts
  frontend/src/main.tsx
  frontend/src/pages/ProcurementOrders/InvoiceDataDialog.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRContainer.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRView.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/NewItemDialog.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/RequestItemDialog.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useApprovePRLogic.ts
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/ApproveRejectVendorQuotesContainer.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/approve-r-reject-vendor-quotes.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/components/VendorApprovalTable.tsx
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/hooks/useApproveRejectLogic.ts
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/types/index.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgressContainer.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/VendorsSelectionSummary.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/HistoricalQuotesHoverCard.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useUsersList.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-vendor.tsx
  frontend/src/pages/ProjectPayments/project-payments-list.tsx
  frontend/src/pages/Retired Components/ApproveSBVendorQuotes.tsx
  frontend/src/pages/Sent Back Requests/ApproveSBSQuotesContainer.tsx
  frontend/src/pages/Sent Back Requests/SBQuotesSelectionReview.tsx
  frontend/src/pages/Sent Back Requests/hooks/useApproveSBSLogic.ts
  frontend/src/pages/ServiceRequests/service-request/sr-summary.tsx
  frontend/src/pages/customers/CustomerFinancials.tsx
  frontend/src/pages/customers/customer.tsx
  frontend/src/pages/projects/InFlowPayments.tsx
  frontend/src/pages/projects/ProjectWiseInvoices.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/tasks/invoices/InvoiceReconciliationContainer.tsx
  frontend/src/pages/tasks/invoices/components/PendingTasksTable.tsx
  frontend/src/pages/tasks/invoices/components/TaskHistoryTable.tsx
  frontend/src/pages/tasks/invoices/components/columns.tsx
  frontend/src/pages/tasks/invoices/constants.ts
  frontend/src/pages/tasks/invoices/hooks/useInvoiceTaskActions.ts
  frontend/src/pages/tasks/invoices/hooks/useInvoiceTasks.ts
  frontend/src/types/NirmaanStack/Task.ts
  frontend/src/utils/getAmounts.ts
  frontend/src/utils/getThreeMonthsLowest.ts
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_4/po_and_sr_invoices_reconciliation.py
Labels: UI, backend

#411 fix: reverted the frappe boot configuration back to its previous impl…
  frontend/index.html
  frontend/src/main.tsx
Labels: UI

#412 #patch v2.3.15
  frontend/index.html
  frontend/src/main.tsx
Labels: UI

#413 #patch v2.3.16
  nirmaan_stack/patches/v2_4/po_and_sr_invoices_reconciliation.py
Labels: backend

#414 Commit 1 -> fix: updated page number to set to 1 after page size updation, fixed main-layout, made invoice attachment a required field, fixed PO value column in Approve Payments table, updated sidebar options to make Invoice Recon option available for Proc Execs, and added filters to show only tasks which they own, Commit 2 -> feat: added two new fields in Task doctype to track invoice attachment id, added patch to update the reference_value_4 field with respective Invoice Nirmaan Attachments document id, fixed generate_po_summary to include Procurement Package key for Custom PO's as well,
  frontend/src/components/data-table/data-table.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/layout/main-layout.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceDialog.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgress.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgressView.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/GenerateRFQDialog.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/ItemVendorMakeSelection.tsx
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
  frontend/src/pages/ProjectPayments/approve-payments.tsx
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/ProjectPayments/approve-payments/components/PaymentActionDialog.tsx
  frontend/src/pages/ProjectPayments/approve-payments/constants.ts
  frontend/src/pages/Sent Back Requests/SentBackVendorQuotes.tsx
  frontend/src/pages/projects/InFlowPayments.tsx
  frontend/src/pages/tasks/InvoiceReconciliation.tsx
  frontend/src/pages/tasks/invoices/InvoiceReconciliationContainer.tsx
  frontend/src/pages/tasks/invoices/components/PendingTasksTable.tsx
  frontend/src/pages/tasks/invoices/components/TaskHistoryTable.tsx
  frontend/src/pages/tasks/invoices/components/columns.tsx
  frontend/src/pages/tasks/invoices/hooks/useInvoiceTasks.ts
  frontend/src/types/NirmaanStack/Category.ts
  frontend/src/types/NirmaanStack/Task.ts
  nirmaan_stack/api/delivery_notes/update_invoice_data.py
  nirmaan_stack/api/procurement_orders.py
  nirmaan_stack/nirmaan_stack/doctype/task/task.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_5/task_attachment_id_patch.py
Labels: UI, backend

#415 #patch v2.3.17
  frontend/src/components/data-table/data-table.tsx
  frontend/src/components/layout/NewSidebar.tsx
  frontend/src/components/layout/main-layout.tsx
  frontend/src/pages/ProcurementOrders/invoices-and-dcs/components/InvoiceDialog.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgress.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgressView.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/GenerateRFQDialog.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/ItemVendorMakeSelection.tsx
  frontend/src/pages/ProjectPayments/RenderProjectPaymentsComponent.tsx
  frontend/src/pages/ProjectPayments/approve-payments.tsx
  frontend/src/pages/ProjectPayments/approve-payments/ApprovePayments.tsx
  frontend/src/pages/ProjectPayments/approve-payments/components/PaymentActionDialog.tsx
  frontend/src/pages/ProjectPayments/approve-payments/constants.ts
  frontend/src/pages/Sent Back Requests/SentBackVendorQuotes.tsx
  frontend/src/pages/projects/InFlowPayments.tsx
  frontend/src/pages/tasks/InvoiceReconciliation.tsx
  frontend/src/pages/tasks/invoices/InvoiceReconciliationContainer.tsx
  frontend/src/pages/tasks/invoices/components/PendingTasksTable.tsx
  frontend/src/pages/tasks/invoices/components/TaskHistoryTable.tsx
  frontend/src/pages/tasks/invoices/components/columns.tsx
  frontend/src/pages/tasks/invoices/hooks/useInvoiceTasks.ts
  frontend/src/types/NirmaanStack/Category.ts
  frontend/src/types/NirmaanStack/Task.ts
  frontend/yarn.lock
  nirmaan_stack/api/delivery_notes/update_invoice_data.py
  nirmaan_stack/api/procurement_orders.py
  nirmaan_stack/nirmaan_stack/doctype/task/task.json
  nirmaan_stack/patches.txt
  nirmaan_stack/patches/v2_5/task_attachment_id_patch.py
  package-lock.json
Labels: UI, backend

#416 Commit 1 -> feat: revamped new procurement request page, modified approve pr page to edit item make for a specific item, updated procurement progress, sent back vendor quotes components to display initial make that was selected during approving pr
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRContainer.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRView.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/EditItemDialog.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/ItemListTable.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/RequestedItemTable.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useApprovePRLogic.ts
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useRelatedPRData.ts
  frontend/src/pages/ProcurementRequests/NewPR/NewCustomPR.tsx
  frontend/src/pages/ProcurementRequests/NewPR/NewProcurementRequestPage.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/ActionButtons.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/EditItemDialog.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/ItemSelectorControls.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/ManageCategoryMakesDialog.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/NewItemDialog.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/OrderListDisplay.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/PreviousComments.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/WorkPackageSelector.tsx
  frontend/src/pages/ProcurementRequests/NewPR/constants.ts
  frontend/src/pages/ProcurementRequests/NewPR/hooks/useProcurementRequestData.ts
  frontend/src/pages/ProcurementRequests/NewPR/hooks/useProcurementRequestForm.ts
  frontend/src/pages/ProcurementRequests/NewPR/hooks/useSubmitProcurementRequest.ts
  frontend/src/pages/ProcurementRequests/NewPR/store/useProcurementRequestStore.ts
  frontend/src/pages/ProcurementRequests/NewPR/types/index.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgress.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/ItemVendorMakeSelection.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-vendor.tsx
  frontend/src/pages/Sent Back Requests/SentBackVendorQuotes.tsx
  frontend/src/types/NirmaanStack/ProcurementRequests.ts
  frontend/src/types/NirmaanStack/Projects.ts
Labels: UI

#417 #patch v2.3.18
  frontend/src/components/custom-select/project-select.tsx
  frontend/src/components/helpers/ProcurementHeaderCard.tsx
  frontend/src/components/helpers/routesConfig.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRContainer.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/ApprovePRView.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/AddItemForm.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/EditItemDialog.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/ItemListTable.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/components/RequestedItemTable.tsx
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useApprovePRLogic.ts
  frontend/src/pages/ProcurementRequests/ApproveNewPR/hooks/useRelatedPRData.ts
  frontend/src/pages/ProcurementRequests/ApproveVendorQuotes/components/VendorApprovalTable.tsx
  frontend/src/pages/ProcurementRequests/NewPR/NewCustomPR.tsx
  frontend/src/pages/ProcurementRequests/NewPR/NewProcurementRequestPage.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/ActionButtons.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/EditItemDialog.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/ItemSelectorControls.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/ManageCategoryMakesDialog.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/NewItemDialog.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/OrderListDisplay.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/PreviousComments.tsx
  frontend/src/pages/ProcurementRequests/NewPR/components/WorkPackageSelector.tsx
  frontend/src/pages/ProcurementRequests/NewPR/constants.ts
  frontend/src/pages/ProcurementRequests/NewPR/hooks/useProcurementRequestData.ts
  frontend/src/pages/ProcurementRequests/NewPR/hooks/useProcurementRequestForm.ts
  frontend/src/pages/ProcurementRequests/NewPR/hooks/useSubmitProcurementRequest.ts
  frontend/src/pages/ProcurementRequests/NewPR/store/useProcurementRequestStore.ts
  frontend/src/pages/ProcurementRequests/NewPR/types/index.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/ProcurementProgress.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/SelectVendorQuotesTable.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/components/ItemVendorMakeSelection.tsx
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/hooks/useProcurementProgressLogic.ts
  frontend/src/pages/ProcurementRequests/VendorQuotesSelection/procurement-vendor.tsx
  frontend/src/pages/Sent Back Requests/SentBackVendorQuotes.tsx
  frontend/src/pages/projects/AllTab.tsx
  frontend/src/pages/projects/CategoryAccordion.tsx
  frontend/src/pages/projects/NewInflowPayment.tsx
  frontend/src/pages/projects/ProjectSpendsTab.tsx
  frontend/src/pages/projects/project.tsx
  frontend/src/pages/projects/projects.tsx
  frontend/src/types/NirmaanStack/ProcurementRequests.ts
  frontend/src/types/NirmaanStack/Projects.ts
  nirmaan_stack/api/procurement_orders.py
  nirmaan_stack/integrations/controllers/procurement_requests.py
Labels: UI, backend
